<!-- start footer -->
<footer>
    <div class="info-footer">
        <span>اتصل بنا</span>
        <ul>
            <li class="li-info"><i class="fa-solid fa-location-dot"></i>الحي السياسي</li>
            <li class="li-info"><i class="fa-solid fa-location-dot"></i>صنعاء، اليمن</li>
            <li><i class="fa-solid fa-phone"></i>777717533 967+ </li>
            <li><i class="fa-solid fa-envelope"></i>
                <a href="mailto:contact@csr-yemen.com">contact@csr-yemen.com</a>
            </li>
            <li><i class="fa-brands fa-whatsapp"></i>

                <a href="https://api.whatsapp.com/send?phone=777497081">تواصل معنا عبر الوتس</a>

            </li>
            <li>
                <i class="fa-brands fa-facebook"></i>

                <a href="https://www.facebook.com/profile.php?id=61556721602912" target="_blank">تابعنا على
                    الفايس بوك</a>

            </li>
        </ul>
    </div>
    <hr>
    <p>© 2024 جميع الحقوق محفوظة للمركز التأسيسي للدراسات والبحوث

    </p>
</footer>
<!-- end footer -->