<!-- start footer -->
{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
<footer>
    <div class="container index-articles">
        <div class="footer-information">
            <div class="first-text">
                <p class="first-p"><span>المركز التأسيسي للدراسات والبحوث</span></p>
                <p>مؤسسة بحثية فكرية تطويرية مستقلة غير ربحية، تختص بالعلوم
                    الإنسانية
                    (الإدارية والسياسية والقانونية والاقتصادية والاجتماعية والتنموية والاتصالية والرقمية). يقدم دراسات
                    وأبحاث علمية أكاديمية واستشارية وبرامج تدريبية نوعية في المجالات المشار إليها للدولة والمجتمع بكافة
                    مكوناته.</p>
            </div>
            <div class="contact-and-links">
                <div class="links">
                    <div class="first-col">
                        <ul>
                            <li><a href="{% url 'index' %}">الرئيسية</a></li>
                            <li><a href="{% url 'about' %}">معلومات المركز</a></li>
                            <li><a href="{% url 'studies' %}">دراسات وبحوث</a></li>
                            <li><a href="{% url 'publications' %}">إصدارات المركز</a></li>
                            <li><a href="{% url 'infographs' %}">إنفوجراف</a></li>
                            <li><a href="{% url 'signup' %}">تسجيل عضوية</a></li>
                            <li><a href="{% url 'contact' %}">تواصل معنا</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-social">
                <img src="{% static 'imgs/footer logo.png' %}" alt="">
                <div class="footer-social2">
                    <div class="email">
                        <a href="mailto:info@csr-yemen.com" class="email"><i
                                class="fa-solid fa-envelope my-env foot-i"></i></a>
                    </div>
                    <div class="twitter">
                        <a href="https://x.com/csrYemen" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
                    </div>
                    <div class="whats">
                        <a href="https://api.whatsapp.com/send?phone=783222270"><i
                                class="fa-brands fa-whatsapp foot-i"></i></a>
                    </div>
                    <div class="telegram">
                        <a href="https://t.me/constituenttele" target="_blank"><i class="fab fa-telegram"></i></a>
                    </div>
                    <div class="youtube">
                        <a href="https://www.youtube.com/channel/UCnDXXEWOVbtYgwASbii_Frg" target="_blank"><i class="fab fa-youtube"></i></a>
                    </div>
                    <div class="instgram">
                        <a href="https://www.instagram.com/csryemen/" target="_blank"><i class="fab fa-instagram"></i></a>
                    </div>
                    <div class="face-book">
                        <a href="https://www.facebook.com/profile.php?id=61556721602912" target="_blank"><i
                                class="fa-brands fa-facebook foot-i"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="final-p">
        <p> جميع الحقوق محفوظة للمركز التأسيسي للدراسات والبحوث 2025 ©  </p>
    </div>
</footer>