<!-- start footer -->
<footer>
    <div class="info-footer">
        <div class="address">
            <span>العنوان</span>
            <ul>
                <li class="li-info"><i class="fa-solid fa-location-dot"></i>الحي السياسي</li>
                <li class="li-info"><i class="fa-solid fa-location-dot"></i>صنعاء، اليمن</li>
            </ul>
        </div>
        <div class="con">
            <ul>
                <li><i class="fa-solid fa-phone foot-i"></i>777497081 967+ </li>
                <li><i class="fa-solid fa-envelope my-env foot-i"></i>
                    <a href="mailto:contact@csr-yemen.com" class="email">contact@csr-yemen.com</a>
                </li>
                <li><i class="fa-brands fa-whatsapp foot-i"></i>

                    <a href="https://api.whatsapp.com/send?phone=782742438">تواصل معنا عبر الوتس</a>

                </li>
                <li>
                    <i class="fa-brands fa-facebook foot-i"></i>

                    <a href="https://www.facebook.com/profile.php?id=61556721602912" target="_blank">تابعنا على
                        الفايس بوك</a>

                </li>
            </ul>
        </div>
    </div>
    <hr>
    <p>© 2024 جميع الحقوق محفوظة للمركز التأسيسي للدراسات والبحوث

    </p>
</footer>
<!-- end footer -->