{% load static %}

<!-- start header -->
<header>
    
    {% if not request.user.is_authenticated %}
    <a href="{% url 'signin' %}">
        <i class="fa-solid fa-right-to-bracket login"></i>
    </a>
    {% else %}
    <a href="{% url 'signin' %}" style="display: none;">
        <i class="fa-solid fa-right-to-bracket login"></i>
    </a>
    {% endif %}
    <div class="togg">
        <i class="fas fa-bars toggle-menu"></i>
    <ul class="js">
        <li><a href="{% url 'index' %}" 
            {% if '/' == request.path %}
            class="active"
            {% else %}
            class=""
            {% endif %}
            >الصفحة الرئيسية</a></li>
        <li class="base-li"><a href="{% url 'about' %}"
            {% if 'about' in request.path or '/criteria' in request.path or 'contact' in request.path %}
            class="active"
            {% else %}
            class=""
            {% endif %}
            >معلومات المركز <i class="fa-solid fa-angle-down arrow"></i><i class="fa-solid fa-angle-left arrow left-arrow"></i></a>
            <ul class="ul">
                <li><a href="{% url 'about' %}">عن المركز</a></li>
                <li><a href="{% url 'criteria' %}">معايير النشر</a></li>
                <li><a href="{% url 'contact' %}">تواصل معنا</a></li>
            </ul>
        </li>
        <li class="base-li"><a href="{% url 'studies' %}"
            {% if 'comment' in request.path or 'studies' in request.path or 'showDetailStudies' in request.path or 'showDetailPatrols' in request.path or 'patrols' in request.path or 'pushStudyPost' in request.path %}
            class="active"
            {% else %}
            class=""
            {% endif %}
            >اصدارات المركز<i class="fa-solid fa-angle-down arrow spe-arrow"></i><i class="fa-solid fa-angle-left arrow left-arrow2"></i></a>
            <ul class="ul">
                <li><a href="{% url 'studies' %}">الكتب والدراسات</a></li>
                <li><a href="{% url 'patrols' %}">الدورية</a></li>
            </ul>
        </li>   
        <li><a href="{% url 'patrols' %}"
            {% if 'patrols' in request.path or 'showDetailPatrols' in request.path or 'pushPatrolPost' in request.path %}
            class="active"
            {% else %}
            class=""
            {% endif %}
            >الدوريات</a>
        </li>
        <li><a href="{% url 'all_posts' %}" 
            {% if not request.user.is_authenticated or not request.user.is_superuser %}
            style="display: none;"
            {% else %}
            {% if 'all_posts' in request.path %}
            class="active"
            {% else %}
            class=""
            {% endif %}
            {% endif %}
            >المنشورات</a></li>
        <li><a href="{% url 'news' %}"
            {% if 'news' in request.path or 'showDetailNews' in request.path or 'pushNewsPost' in request.path %}
            class="active"
            {% else %}
            class=""
            {% endif %}
            >الأخبار والفعاليات</a></li>
        <li><a href="{% url 'signup' %}" 
            {% if request.user.is_authenticated %}
            style="display: none;"
            {% else %}
            {% if 'signup' in request.path %}
            class="active"
            {% else %}
            class=""
            {% endif %}
            {% endif %}
            >تسجيل عضوية</a></li>
    </ul>
    </div>
    <img src="{% static 'imgs/logo.png' %}" alt="">
    {% if not request.user.is_authenticated %}
        <a href="{% url 'logout' %}" style="display: none;">
            <i class="fa-solid fa-arrow-right-from-bracket logout"></i>
        </a>
    {% else %}
        <a href="{% url 'logout' %}">
            <i class="fa-solid fa-arrow-right-from-bracket logout"></i>
        </a>
    {% endif %}
</header>

<!-- end header -->