{% extends 'base.html' %}
{% load static %}
{% block title %}من نحن{% endblock %}

{% block content %}
<div class="container">
    <div class="points">
        <img src="{% static 'imgs/LOGO ICON-02.png' %}" alt="">
        <div class="left">
            <div class="txt1">
                <h2>الرؤية</h2>
                <p>الريادة والفاعلية في إنتاج الدراسات والبحوث التطويرية التي تستهدف التنمية المستدامة والحكم الرشيد.
                </p>
            </div>
            <div class="txt1">
                <h2>الرسالة</h2>
                <P>التزام المسؤولية التشاركية والعمل الجماعي في تحقيق رؤية المركز.</P>
            </div>
            <div class="txt1">
                <h2>خدمات المركز</h2>
                <ol>
                    <li>الدراسات والبحوث.</li>
                    <li>الخدمات التدريبية.</li>
                    <li>الخدمات الفنية والاستشارية.</li>
                    <li>خدمات النشر والترجمة.</li>
                </ol>
                </P>
            </div>
        </div>
    
        <div class="right">
            <div class="txt1">
                <h2>أهداف المركز</h2>
                <p>في ضوء رؤية المركز ورسالته، يعمل المركز على تحقيق أهداف علمية وعملية بواسطة أنشطته الأكاديمية
                    والبحثية
                    والتدريبية والاستشارية، وتتمثل هذه الأهداف في الآتي:
                </p>
                <ul>
                    <li>إنتاج ونشر دراسات وبحوث وتقارير وكتب في العلوم الاجتماعية والإنسانية تسهم في خدمة التنمية
                        الوطنية
                        الشاملة والمستدامة، وتعزيز العمل المؤسسي.
                    </li>
                    <li>إصدار دورية علمية محكمة خاصة بالمركز، لتحكيم ونشر الدراسات والبحوث والمقالات التي يعدها أو يشارك
                        فيها المركز، والأخرى التي تقدم من خارج المركز في مجال اختصاصه.
                    </li>
                    <li>ترجمة ونشر الكتب والدراسات والأبحاث الأجنبية في مجال اختصاص المركز لا سيما التي تعنى بالتجارب
                        الناجحة في تحقيق الرفاه المجتمعي للاستفادة منها.
                    </li>
                    <li>المشاركة في تقديم أوراق العمل والمبادرات ذات الصلة بالمشكلات والقضايا الوطنية والإقليمية
                        والعالمية.
                    </li>
                    <li>إعداد وتنفيذ برامج تدريبية تخصصية ونوعية في مجالات (الحوكمة بناء السياسات، والتنظيم المؤسسي،
                        التحول الرقمي والشمول المالي والمجتمعي، وبناء القيادات التحويلية وتنمية القدرات، وتبسيط
                        الإجراءات)
                        وتقديم الاستشارات الفنية في هذا المجال.
                    </li>
                    <li> تقديم الاستشارات القانونية في مشاريع ومقترحات القوانين واللوائح والتنظيمية.
                    </li>
                    <li> إعداد رؤى وخطط استراتيجية استشرافية وسياسات، للمؤسسات العامة والخاصة، وتزويد دوائر صنع القرار
                        فيها بالمعلومات والأفكار والاستشارات التي تمكنها من اتخاذ القرارات المناسبة.
                    </li>
                </ul>
            </div>
    
        </div>
    
    </div>
    
    <div class="work">
        <img src="{% static 'imgs/LOGO ICON-02.png' %}" alt="">
        <h2>وسائل عمل المركز</h2>
        <p class="p-work">يسعى المركز لتحقيق الأهداف المشار إليها من خلال الآليات والوسائل التالية:</p>
        <ul>
            <li> إقامة مؤتمرات وندوات وورش عمل وحلقات نقاش علمية، وصياغة مخرجاتها ونشرها.</li>
            <li> إقامة دورات تدريبية داخل المركز وخارجة في المجالات المحددة. </li>
            <li> إطلاق منصة تفاعلية وموقع إلكتروني خاص بالمركز وإنشاء صفحات رسمية على مواقع التواصل الاجتماعي لتوثيق
                ونشر كافة فعاليات المركز والتفاعل حولها مع المجتمع من خلالها. </li>
            <li> قياس وتحليل واستطلاعات الرأي العام حول خدمات المركز ومعرفة التطلعات والاحتياجات المجتمعية في إطار
                الاختصاص. </li>
            <li> إقامة شراكات فاعلة مع أصحاب المصلحة والتشبيك معهم في مجال نشاط المركز.</li>
            <li> إقامة شراكات مع المراكز البحثية والمؤسسات الأكاديمية والتدريبية من القطاعين العام والخاص محليا دوليا،
                والتعاون معها في أعمال مشتركة، في إطار التكامل والتعاون البحثي والتطويري، والاستفادة من خبراتها في مجال
                اختصاص المركز.</li>
        </ul>
    </div>
</div>
{% endblock %}