{% extends 'base.html' %}
{% load static %}
{% block title %}الإصلاح الإداري المفهوم والأهداف{% endblock %}
{% block content %}
<div class="container articles">
    <div class="top-of-study">
        <a href="{% url 'index' %}">المركز التأسيسي</a>/<a href="{% url 'studies' %}">الدراسات</a>/<span>الإصلاح الإداري
            المفهوم والأهداف</span>
    </div>
    
    <div class="studies-flex">
        <div class="first-page">
            <div class="controls">
                <button id="increaseFont"><i class="fas fa-search-plus"></i></button>
                <button id="decreaseFont"><i class="fas fa-search-minus"></i></button>
            </div>
            <a href="#img-id" class="hidden-row"><i class="fa-solid fa-arrow-up-long"></i></a>
            <!-- <h1>الحياة في اليمن</h1> -->
            <p class="p-img">الإصلاح الإداري المفهوم والأهداف</p>

            <div class="date-info">
                <span>16 مارس 2024
                </span>
            </div>
            <span class="pub">أ.د/ محمد سعيد محمد الكامل</span>

            <img src="{% static 'imgs/repair.jpg' %}" alt="" id="img-id">
            <div class="full-text">
                <!-- <h2>الملخص</h2> -->
                <p>إنَّ الإصلاح الإداري ظاهرة من ظواهر علم الإدارة، والظاهرة ليست منفصلة عن الإدارة العامة، وإنما ترتبط
                    بتطور
                    الدولة ومهامها، فكلما تطورت الدولة نمت الإدارة العامة ووظائفها، وبرز الإصلاح الإداري كأحد عوامل تطور
                    الدولة
                    وتقدمها.
                </p>
                <h2>‌أ- مفهوم الإصلاح الإداري:</h2>
                <p>في البداية يجب إيضاح الفرق بين مفهوم الإصلاح الإداري وبعض المفاهيم الأخرى مثل التنمية الإدارية
                    والتطوير
                    الإداري والتحديث الإداري.</p>
                <p>التنمية الإدارية: هي عملية تسعى إلى تطوير الجهاز الإداري، وتمكينه من القيام بدوره في إدارة التنمية
                    الشاملة،
                    من خلال زيادة حجم جهاز الإدارة العامة، وعدد القوى البشـرية وتنمية قدراتهم ومهاراتهم؛ بهدف تحسين
                    الخدمات
                    المقدمة»<a href="#one"><span><sup
                                title="عبد القادر، كاس: الإصلاح الإداري- إشكالية المفهوم والنماذج والاستراتيجيات، مجلة أنسنه للدراسات والبحوث، العدد6، 2012، ص 140.">[1]</sup></span></a>.
                    ، وهو يركز على تنمية الجهاز الإداري والعنصـر البشري لرفع قدراته، وتمثل التنمية الإدارية جزءًا من
                    مهام الإصلاح الإداري.</p>
                <p>

                    التطوير الإداري: هي عملية تؤدي إلى التحسين المستمر في أداء الإدارة، بمعالجة مشكلات في الجهاز
                    الإداري؛ نتيجة
                    أمور
                    ومستجدات يجب مواكبتها، وعدم التركيز أو الاهتمام بتنمية علاقات عمل سلوكية وبمعزل عن الإطار البيئي
                    الذي يحكم
                    العملية الإدارية<a href="#two"><span><sup
                                title="كافي، مصطفى يوسف: الإصلاح والتطـوير الإداري بين النظرية والتطبيق، دار مؤسسة رسلان للطباعة والنشر، دمشق، 2018، ص36.">[2]</sup></span></a>.
                    ، ومن ثَمَّ يعد التطوير الإداري تغييرًا جزئيًا وتحسينًا في الجهاز الإداري، وبهذا يكون ضمن
                    عملية أكثر اتساعًا وشمولًا هي عملية الإصلاح الإداري.
                </p>
                <p>التحديث الإداري: هو عملية تهدف إلى تطوير أو تغيير الأدوات التقنية والنظم؛ بحيث يكون الانتقال من وضع
                    إداري إلى
                    وضع إداري أفضل من حيث تلاؤمه مع التقنيات والأساليب التقنية الحديثة؛ بما يحقق كفاءته وفاعليته في
                    ممارسة
                    العمليات وتسهيلها<a href="#three"><span><sup title="المرجع نفسه، ص36.">[3]</sup></span></a>،
                    والتحديث بمعني
                    التحسين التقني
                    الإداري والتطوير الفني، ويشير إلى الوسائل والأساليب ونمط
                    الثقافة التنظيمية التي تتبناها الدول النامية، التي تماثل تلك الأساليب والوسائل الموجودة في الأنظمة
                    الإدارية
                    للدول المتقدمة، يرتكز على المحاكاة والاقتباس، وتطبيقاته تكون - غالبًا - جزئية؛ ما يجعل هذا التحديث
                    غير شامل
                    ولا هادف، بل يقتصـر على تعديلات هيكلية، ويستخدم أدوات ونظمًا في دول أخرى مع تجاهل للخصائص الاجتماعية
                    والسياسية المتعلقة بالنظام الإداري السائد<a href="#four"><span><sup
                                title="عبد القادر، كاس، مرجع سابق.">[4]</sup></span></a>،
                    ويركز على تطوير وتغيير الأدوات والنظم دون مراعاة لاختلاف
                    البيئة الاجتماعية.</p>
                <p>الإصلاح الإداري: يعرف الإصلاح الإداري بتعريفات عديدة، فمفهوم الإصلاح الإداري في الفكر الغربي هو إحداث
                    تغيير
                    مستمر في هيكل تنظيم الدولة، وهذا المفهوم يعكس الثقافة الإدارية الغربية التي تتصف بصفة أساسية هي
                    التجريبية
                    والبراغماتية <a href="#five"><span><sup
                                title="D. H. Clork: Administrainive therapy – Lon – 1964.- A. Downs: Jmside Bureaucracy – Bos – 1967    - G. T. Goodsell: Adminisiration of a Revolution – Com. 1967.">[5]</sup></span></a>،
                    فلا توجد حقائق مطلقة في التنظيم الإداري، بل مجرد افتراضات نظرية قابلة للاختبار؛ لتقرير مدى
                    فاعليتها وصحتها في التطبيق العملي، والفكر الإداري الغربي يؤمن بمبدأ التجربة والخطأ وتغيير النظرة إلى
                    الصواب
                    والخطأ وإلى التنظيم الإداري من مدة إلى أخرى، والتنظيم الإداري يرتكز على دعامتين: أولًا: إقامة الهيكل
                    التنظيمي، وثانيًا: إعادة بناء الهيكل التنظيمي.</p>
                <p>ويعرّف مؤتمر الإصلاح الإداري في الدول النامية أنه «حصيلة الجهود ذات الإعداد الخاص، التي تهدف إلى
                    إدخال
                    تغييـرات أساسية في المنظومة الإدارية العامة، بواسطتها تكون إصلاحات على مستوى النظـام ككل» <a
                        href="#six"><span><sup
                                title="شلبي صبري أحمد: دور الحوكمة في الإصلاح الإداري - دراسة مقارنة بين الدنمارك ولبنان، رسالة ماجستير مقدمة إلى قسم القانون، كليـة القانون والسياسة، الأكاديمية العربية فـي الـدنمارك، 2013، ص 60.">[6]</sup></span></a>.
                </p>
                <p>هناك من يعـرف الإصلاح الإداري أنـه «جهـد سياسـي وإداري واقتصادي وثقافي هادف لإحداث تغييرات أساسية
                    إيجابية في
                    السلوك والـنظم والعلاقات والأساليب والأدوات؛ تحقيقـاً لتنميـة قـدرات وإمكانـات الجهاز الإداري، بما
                    يؤمن له
                    درجة عالية من الكفاءة والفاعلية في إنجاز أهدافه» <a href="#sev"><span><sup
                                title="كافي، مصطفى يوسف، مرجع سابق، ص32.">[7]</sup></span></a>.</p>
                <p class="2">كما يعرف الإصلاح الإداري أنه «إدخال تعديلات في تنظيمـات إدارية قائمة، أو استحداث تنظيمات
                    إدارية
                    جديدة، وإصدار
                    الأنظمة والقـوانين واللوائح اللازمة لذلك» <a href="#egh"><span><sup
                                title="الرماني، زيد بن محمد: منهج ابـن تيمية في الإصـلاح الإداري، دار الصميعي للنشر، الرياض، 2004، ص39.">[8]</sup></span></a>،
                    والإصلاح الإداري هو «عملية تغيير مقصود في عمل الأجهزة
                    الإدارية، سواء عن طريق التفسير في التنظيم أم في أساليب العمل أم في سلوكيات العاملين أم في كل هذه
                    معًا»<a href="#nine"><span><sup
                                title="gerald E. Coiden: Adminisirative Reform – Chicago 1970.">[9]</sup></span></a>.
                </p>
                <p>ونخرج من التعريفات السابقة بأن الإصلاح الإداري عبارة عـن جهـد جمـاعي مـنظم، يهدف إلى إحداث تغييرات
                    هيكلية في
                    الجهـاز الإداري القـائم؛ بهـدف زيـادة فاعليته، بما يتناسب مع الأوضاع السياسية والاجتماعية
                    والاقتصادية
                    والظروف السائدة، عن طريق تحسين أساليب العمل، وتأهيل وتدريب الأفراد الذين يقودون العملية الإداريـة،
                    وتهيئـة
                    البيئـة القانونيـة والتشـريعية المناسبة، التي ترفع من إمكانـات الجهاز الإداري، وتُحسن من مستوى
                    أدائه،
                    فالإصلاح الإداري لا يقتصـر - فقط - على العمليـة الإداريـة الفنيـة، وإنما يشمل التأثيرات المتبادلة مع
                    البيئة
                    الكلية وعلاقاتها السياسية والاقتصادية والاجتماعية، وبهذا يتجاوز الفهم الجزئي للإدارة المتمثل في
                    إصلاحات
                    هيكلية أو تحديث أجهزة وأنظمة<a href="#ten"><span><sup
                                title="عبد القادر، كاس، مرجع سابق، ص142.">[10]</sup></span></a>.</p>
                <h2>‌ب- أنواع الإصلاح الإداري:</h2>
                <p>تظهر تعريفات الإصلاح الإداري في الإدارة المعاصرة أن الإصلاح الإداري تعبير عن الإحساس بالحاجة إلى
                    إحداث
                    تغييرات جذرية تعجز الأجهزة الإدارية ذاتها عن رؤيتها وإحداثها، ويختلف أسلوب تحقيق التغيير باختلاف
                    النظام
                    الإداري، ويوجد مفهومان أو شكلان لماهية الإصلاح الإداري<a href="#ele"><span><sup
                                title="كافي، مصطفى يوسف، مرجع سابق، ص59-60.">[11]</sup></span></a>.</p>
                <h2 class="special-title">الإصلاح الذاتي:</h2>
                <p>يرتكز الإصلاح وفق هذا المفهوم على أن الإدارة الحكومية تعمل الإصلاح الإداري من ذاتها، فهي مطالبة
                    بتصحيح
                    أخطائها أول بأول عن طريق التقييم والمتابعة والرقابة، وباتباع الوسائل العملية لتحسين أساليب العمل،
                    وتنظيم
                    خطوات العملية الإدارية، باعتبار أن النشاط الإداري هو نشاط إصلاح لأي من مصادر الخلل التي قد تظهر في
                    مختلف
                    جزئيات العمل.</p>
                <p>ويرتكز هذا المفهوم للإصلاح الإداري على ضرورة قيام الإدارة العامة على مبدأ التصحيح الذاتي للأخطاء
                    والتطور مع
                    الزمن، والاستجابة الفاعلة لحاجات المجتمع وأهداف السياسة
                    العامة، وكلما كان هذا هو وضع الإدارة العامة خفت الحاجة إلى فرض أية إصلاحات من خارج الأجهزة
                    الإدارية<a href="#12"><span><sup
                                title="للمزيد أنظر: عاشور، أحمد: إصلاح الإدارة الحكومية- آفاق استراتيجية للإصلاح الإداري والتنمية الإدارية في الوطن العربي في مواجهة التحديات العالمية، المنظمة العربية للتنمية الإدارية، القاهرة، 1967.">[12]</sup></span></a>.
                </p>
                <p>ويرى بعضهم ضرورة توافر جملة من الشروط في هذا النموذج من الإصلاح الإداري، أهمها:</p>
                <ul>
                    <li>
                        قدرة النظام الإداري على الإحساس بمتطلبات التغيير والتطور، وهذا النظام الإداري يختلف اختلافًا
                        جوهريًا عن نظام إداري جامد يتلقى حاجات التغيير ويمتصها دون أن يتأثر بها فعليًا، بل إن مثل هذا
                        النظام
                        العاجز قد يتعدى عناصر الإصلاح ذاتها؛ فتفشل في تقديراتها التصحيحية<a href="#13"><span><sup
                                    title="B. Crick: Essays on Reforms – Oxford, 1967.">[13]</sup></span></a>.
                    </li>
                    <li>
                        نجاح أو فشل نظم الاتصالات فيما بين وحدات الجهاز الإداري وبينه وبين المجتمع.
                    </li>
                    <li>
                        مدى ظهور ولاءات غير رسمية وعلاقة اجتماعية داخل الجهاز أو ما يعرف بـ «الزبونية»<a
                            href="#14"><span><sup
                                    title="تعد «الزبونية» شكلًا من أشكال الفساد السياسي والاجتماعي، ويعرّفها أوليفيية روا أنّها: علاقة عمودية بين مشغل، وزبون يخضع فيها الأخير للأول بمقابل ماديّ أو معنوي. أنظر: روا، أوليفيية: الزّبائنية والمجموعات المتضامنة- هل هم من بقايا الماضي أو يشهدون نشأة جديدة؟ في مؤلف جماعي بعنوان: ديمقراطيّات من دون ديمقراطيين، مركز دراسات الوَحدَة العربيّة، ط 2، بيروت، 2000، ص 366.">[14]</sup></span>؛</a>
                        تؤدي إلى عرقلة تحقيق التغيير؛ لأنه يتعارض مع مصالحها الخاصة.
                    </li>
                    <li>
                        مدى توافر عناصر المشورة والقدرة على الابتكار ومعرفة حاجات الإصلاح الإداري.
                    </li>
                    <li>
                        درجة تمدن النظام الاجتماعي وقدرته على استيعاب التغيرات فيه والتطور تبعًا لها تلقائيًا وطبيعيًا
                        في
                        صور من النمو الطبيعي لجميع مكوناته، بما فيها النظام الإداري.
                    </li>
                    <li>
                        نجاح نظم المعلومات التبادلية، أي قيام نظم اتصالات مرتفعة الكفاءة في التغذية العكسية بالبيانات
                        المرتدة، مما يؤدي إلى الإحساس السـريع بالخطأ، ويخلق القدرة على التصحيح.
                    </li>
                    <li>
                        عدم التمسك بالمركزية الوظيفية، أي: المرونة في الجهاز الإداري وإمكانية التنقل من عناصر التنفيذ
                        إلى
                        عناصر المشورة أو القيادة، وبالعكس في التجارب والأبعاد الإدارية التطبيقية.
                    </li>
                    <li>
                        مدى سيطرة الحلول الوسطى على النظام الإداري، التي تؤدي إلى نوع من المحافظة الإدارية، وتجمد عملية
                        إصدار القرارات، وتحافظ على الوضع القائم، وتجعله عرفًا من أعراف الإدارة.
                    </li>

                </ul>
                <h2 class="special-title">الإصلاح الالزامي:</h2>
                <p>قد يحتاج الأمر إلى فرض الإصلاح من خارج الأجهزة الإدارية، والبداية فيه هو الإحساس العام بأن هناك شيئًا
                    في
                    الجهاز الكلي، فيتدخل الإصلاح الخارجي الفوقي إلى ذلك النظام، فالصفـة الأولى المميزة له المفهوم الذاتي
                    هو أنه
                    يأتي من أعلى ومن خارج الأجهزة الإدارية، والإحساس بالحاجة إلى الإصلاح الإلزامي يكون بناء على ملاحظة
                    المجتمع
                    بفئاته المختلفة، وتظهر له عدة دوافع، أهمها: </p>
                <ul>
                    <li c>
                        عجز الإدارة العامة عن تحقيق الأهداف الموضوعة لها، إلى درجة يلاحظها المجتمع ومختلف المستويات
                        الإدارية المختلفة، أي: شيوع الخطأ وعدم الرضا عن العملية الإدارية من قبل فئات واسعة من المجتمع،
                        هذا
                        الإحساس يبدأ من جانب جمهور المتعاملين مع النظام الإداري، ثم ينتقل إلى داخل الجهاز الإداري،
                        لاسيما
                        لدى عناصر القيادة؛ نظرًا لأنها هي ذاتها تضع تلك الأهداف التي لم يحققها النظام الإداري ككل، ومن
                        ثم
                        يكون أقدر للجميع التعرف إلى مدى إخفاق ذلك النظام.
                    </li>
                    <li c>
                        عجز الإدارة العامة عن القيام بواجباتها العادية في الظروف الاستثنائية أو الطارئة.
                    </li>
                    <li>
                        عجز الجهاز الإداري عن استشراف المستقبل ومشاكله واحتياجاته المتفرقة.
                    </li>
                    <li>
                        عجز الجهاز الإداري عن الاستخدام الأمثل للموارد المتاحة، مما يؤدي إلى تبديد تلك الموارد لعدم وجود
                        رؤية علمية.
                    </li>
                </ul>
                <h2 class="special-title">والواقع أن هنالك عوامل عديدة تؤدى إلى انخفاض كفاءة الإدارة العامة، أهمها:</h2>
                <ol type="A">
                    <li>
                        عوامل سياسية: فتؤدي الحروب إلى إثارة الحديث عن الإصلاح الإداري، وتغيير النظام السياسي أو إجراء
                        تعديلات دستورية قد تؤدي إلى تعديلات جذرية في النظام السياسي، فيبدأ الضمير الجمعي في التساؤل
                        والبحث
                        عن مبررات وتفسيرات لتلك الأوضاع الجديدة، وتظهر الحاجة إلى إصلاح إداري جذري.
                    </li>
                    <li>
                        عوامل اقتصادية: ومنها الأزمات الاقتصادية الحادة مثل انخفاض سعر النقد والتضخم وسوء توزيع الثروة.
                    </li>
                    <li>
                        عوامل اجتماعية: كالتغيير في الهيكل الطبقي، وانتشار الجرائم وانعدام الأمن، والتغير الثقافي في
                        المجتمع،
                        ويدخل أذهان الناس ويشعرهم بالفوضى القائمة، أو الهجرة من الريف للحضـر، أو الانتقال إلى العاصمة،
                        التي
                        يظهر معها عجز الإدارة العامـة عن أداء الخـدمات العامـة الأساسية.
                    </li>
                </ol>
                <p>هنا يكون الإحساس أسهل ودرجة الاقتناع أكبر بوجود المشكلات التي تحتم الإصلاح الإداري، وهكذا فإن فكرة
                    الإصلاح
                    الفوقي لا تأتي إلا من حدث جلل في حياة المجتمع، أما الحاجة إلى الإصلاح الذاتي فهي طبيعية وتلقائية ولا
                    تتطلب
                    تدخلًا خارجيًا فوقيًا في حالة النظام الإداري الناجح والمجتمع المتمدنهنا يكون الإحساس أسهل ودرجة
                    الاقتناع
                    أكبر بوجود المشكلات التي تحتم الإصلاح الإداري، وهكذا فإن فكرة الإصلاح الفوقي لا تأتي إلا من حدث جلل
                    في حياة
                    المجتمع، أما الحاجة إلى الإصلاح الذاتي فهي طبيعية وتلقائية ولا تتطلب تدخلًا خارجيًا فوقيًا في حالة
                    النظام
                    الإداري الناجح والمجتمع المتمدن<a href="#15"><span><sup
                                title="رشيد، أحمد: الإصلاح الإداري: إعادة تفكير، دار النهضة العربية، القاهرة، 1994، ص119.">[15]</sup></span></a>.
                </p>
                <p>ويلاحظ أن قصور النظام الإداري في الدولة النامية وعجزه من الممكن أن يستمر مدة تطول دون ما تظهر الحاجة
                    إلى
                    الإصلاح الإداري في شكل عملي؛ لذا فإنه لا بد من وجود عوامل تدفع الناس إلى الإحساس بالعوارض السلبية
                    القائمة في
                    النظام الإداري وتؤدي إلى تنفيذ الحاجة إلى الإصلاح الإداري<a href="#16"><span><sup
                                title="مزوري، عبلة: حوكمة الإدارة لتفعيل سياسات الإصلاح الإداري، مجلة أبحاث، العدد 2، 2018، ص66.">[16]</sup></span></a>.
                </p>
                <p>وتظهر هذه العوامل بدرجات مختلفة تتوقف على مدى قوة متطلبات التنمية والتغيير الاجتماعي، هذه المتطلبات
                    تضع أعباء
                    مختلفة ومتسعة على عاتق الأجهزة الإدارية تجعلها عاجزة عن الوفاء بأعبائها دون إحداث إصلاح إداري جذري،
                    ولا بد
                    أن تكون المبادرة للإصلاح من خارج الجهاز الإداري، ثم تسير العملية - بعد ذلك - لتصل إلى الأجهزة
                    الإدارية.</p>
                <h2>‌ج- أهداف الإصلاح الإداري:</h2>
                <p>تتفاوت الأهداف المعلنة للإصلاح الإداري، إلا أن الهدف الأبرز لمختلف السياسات هو تعزيز قدرة الأجهزة
                    الإدارية
                    العامة في ميدان وضع السياسات العامة وتنفيذها، بما يضمن تحقيق الكفاية والفاعلية والعدالة والشفافية
                    والخضوع
                    للمساءلة عن الأداء، وتوفير ما يكفي من الحوافز للموظفين الأكفاء لبذل أقصـى طاقاتهم؛ من أجل تحقيق
                    الأهداف
                    المطروحة مسبقًا <a href="#17"><span><sup
                                title="عبد القادر، كاس، مرجع سابق، ص 156.">[17]</sup></span></a>،
                    ويهدف - إجمالًا -
                    إلى تحقيق غايات سياسية واجتماعية واقتصادية، تتلخص فيما يلي: </p>
                <ol>
                    <li>
                        تحسين مستوى أداء الجهاز الإداري ورفع إنتاجيته.
                    </li>
                    <li>
                        زيادة كفاءة الأجهزة الحكومية، وتحـسين نوعيـة خـدماتها للمـواطن، وتعزيز القدرة التي تتمتع بها مـن
                        خـلال إحـداث تغييـرات مقصودة في الهياكل التنظيمية وأساليب الإدارة وسـلوكيات العـاملين فيها.
                    </li>
                    <li>
                        ترشيد الإنفاق الحكومي والتركيز على اقتصاديات التشغيل.
                    </li>
                    <li>
                        تعزيز عملية المشاركة ودعم التوجهات نحـو اللامركزيـة الإدارية؛ بهدف تشجيع المشاركة الشعبية في
                        إدارة
                        الشؤون العامة وفـي صنع القرارات.
                    </li>
                    <li>
                        تبسيط الإجراءات الإدارية وإصلاح الأنظمة المالية والضـريبية؛ بقـصد توفير الموارد وعدالة توزيع
                        الأعباء.

                    </li>
                    <li>
                        تحسين أساليب التعامل مـع المـواطنين، وتعزيـز مفهـوم الاستجابة للمطالب، باعتبار أن تقديم الخدمة
                        للمواطنين هو مبرر وجود الأجهزة الإدارية، ويكون ذلك عن طريق إظهار مزيد من الشفافية، وتعزيز مفهـوم
                        المـساءلة والمـسؤولية الاجتماعية.

                    </li>
                    <li>
                        وضع السياسات العامة وتنفيذها بشكل يضمن الكفاءة والفاعلية والعدالة، والخضوع للمساءلة.
                    </li>
                    <li>
                        مواءمة الإدارة العامة مع مهام الدولة، وإشباع حاجات المواطنين.
                    </li>
                    <li>
                        تحديث وتجديد الإدارة العامة على جميع مستوياتها وفي جميع أبعادهـا البنيوية والوظيفية، بما يسهم في
                        القضاء على المشكلات التي تواجههـا؛ للتغلـب على المشكلات السياسية والاقتصادية والتنموية
                        والتنظيمية
                        التـي تعاني منها الإدارة العامة، واقتراح الحلول الملائمة.
                    </li>
                    <li>
                        مواكبة الإدارة العامة لمستجدات التحديث؛ من أجل تحقيق غايات الكفاية الإدارية، ومعالجة الانحراف،
                        ومحاربة الفساد، والقضاء على التعقيدات.
                    </li>
                    <li>
                        بناء هيكل الدولة على أسس علمية ووطنية، بما يجعلها أكثر قدرة علـى النهوض بأعباء التغير الحضاري
                        المنشود.
                    </li>
                    <li>
                        قيام البناء الإداري على مفهوم الفاعلية والكفاءة والمبادرة والمواكبة بما يستـشـرف أهداف المجتمع
                        وتحقيق
                        إشباع حاجاته<a href="#18"><span><sup
                                    title="الحملي، سحر عبد الله الحملي: الإصلاح الإداري- مفهومه وآليات تطبيقه (دراسة مقارنة)، المجلة العلمية، قطاع كلية التجارة جامعة الأزهر، العدد 10، 2013، ص338-339.">[18]</sup></span></a>.

                    </li>

                </ol>
                <h2>‌د- عوامل نجاح الإصلاح الإداري:</h2>
                <p>يتوقف نجاح جهود الإصلاح الإداري على توافر العديـد مـن العوامـل، نذكر منها ما يلي:</p>
                <ul>
                    <li>
                        واقعية خطط الإصلاح الإداري وبرامجه.
                    </li>
                    <li>
                        تهيئة الأجواء للمشاركة والتعاون.
                    </li>
                    <li>
                        تعبئة جهاز الإصلاح الإداري لقمة الهرم التنظيمي.
                    </li>
                    <li>
                        كفاءة عناصر جهاز الإصلاح الإداري.
                    </li>
                    <li>
                        تخصيص الموارد المالية الكافية.
                    </li>
                    <li>
                        إرساء مقومات ودعائم الديمقراطية.
                    </li>
                    <li>
                        تكامل الإصلاح الإداري مع الإصلاحات المجتمعية الأخرى<a href="#19"><span><sup
                                    title="كافي، مصطفى يوسف، ص 62.">[19]</sup></span></a>.
                    </li>

                </ul>
                <h2>‌ه- معوقات الإصلاح الإداري:</h2>
                <p>تواجه عمليات الإصلاح الإداري عددًا من العوائق والتحديات، من عوامل إدارية واجتماعية وتشـريعية وموارد
                    بشـرية
                    ومالية، وكذلك عوامل خارجية تعيق تنفيذ البرامج والخطط الموضوعة على أسس علمية سليمة، وتـضمن تحقيق
                    الأهداف التي
                    وضعت من أجلها، ومن العوائق ما يلي:</p>
                <ul>
                    <li>
                        عدم استقرار الوضع السياسي والاجتماعي والاقتصادي، مـا يـنعكس سلبًا على التنمية.
                    </li>
                    <li>
                        تدني جدية الأجهزة الحكومية في تطبيق التوجيهـات المركزيـة بـشـأن الخطط الموضوعة، وانغماسها في
                        أمور
                        ثانوية تبعـدها عـن الهـدف المركزي، رغم توافر الإمكانات ورغبة الكثيرين في عملية الإصلاح الإداري
                        في
                        المستويات الإدارية.
                    </li>
                    <li>
                        ضبابية وعدم وضوح الأهداف المطلوبة في عملية الإصلاح الإداري؛ ما يؤدي إلى حدوث إرباك يعيق توجيه
                        المسار
                        الصحيح، ويُحدث انحرافـاً فـي تطبيق الخطط الموضوعة.
                    </li>
                    <li>
                        وجود جماعـة ارتبطـت مصالحها بالفساد والانحـراف الإداري، ومنها من يحتـل مواقع متقدمة؛ لتعمل على
                        إفشال
                        أية محاولـة للإصـلاح الإداري، مما يخلق أجواء من انعدام الثقة، وتـسود حالـة مـن اليأس؛ بحيث يُعد
                        انتشار الخلل والقـضاء عليـه حلمًا غير قابل للتحقيق، وعدم مساعدة الحكومات في تطبيق عمليات وبـرامج
                        الإصلاح الإداري<a href="#20"><span><sup
                                    title="للمزيد أنظر: الخضر، على: نموذج مقترح للإصلاح الإداري في سوريا، مجلة كلية التجارة، جامعة القاهرة، 2002، مصر. وانظر أيضاً: سالم، عادل. ومها عزت: أهمية العوامل المؤثرة في الإصلاح الإداري لمواجهة الفساد، المعهد الطبي التقني، المنصورة - مصر، ص11-13.">[20]</sup></span></a>.

                    </li>
                </ul>
            </div>
        </div>
        <div class="nested-ref">
            <h2 class="show-references">إخفاء المراجع</h2>
            <div class="refrences">
                <div class="first-ref-info">
                    <h2>المراجع</h2>
                </div>
                <ul>
                    <li id="one">عبد القادر، كاس: الإصلاح الإداري- إشكالية المفهوم والنماذج والاستراتيجيات، مجلة أنسنه للدراسات
                        والبحوث، العدد6، 2012، ص 140.</li>
                    <li id="two">كافي، مصطفى يوسف: الإصلاح والتطـوير الإداري بين النظرية والتطبيق، دار مؤسسة رسلان للطباعة
                        والنشر،
                        دمشق، 2018، ص36.</li>
                    <li id="three">المرجع نفسه، ص36.</li>
                    <li id="four">عبد القادر، كاس، مرجع سابق.</li>
                    <li id="five" class="eng">D. H. Clork: Administrainive therapy – Lon – 1964.- A. Downs: Jmside Bureaucracy –
                        Bos
                        – 1967 - G. T. Goodsell: Adminisiration of a Revolution – Com. 1967.</li>
                    <li id="six">شلبي صبري أحمد: دور الحوكمة في الإصلاح الإداري - دراسة مقارنة بين الدنمارك ولبنان، رسالة
                        ماجستير
                        مقدمة إلى قسم القانون، كليـة القانون والسياسة، الأكاديمية العربية فـي الـدنمارك، 2013، ص 60.
                    </li>
                    <li id="sev">كافي، مصطفى يوسف، مرجع سابق، ص32.</li>
                    <li id="egh">الرماني، زيد بن محمد: منهج ابـن تيمية في الإصـلاح الإداري، دار الصميعي للنشر، الرياض، 2004،
                        ص39.
                    </li>
                    <li id="nine" class="eng">gerald E. Coiden: Adminisirative Reform – Chicago 1970.</li>
                    <li id="ten">عبد القادر، كاس، مرجع سابق، ص142.
                    </li>
                    <li id="ele">كافي، مصطفى يوسف، مرجع سابق، ص59-60.</li>
                    <li id="12">للمزيد أنظر: عاشور، أحمد: إصلاح الإدارة الحكومية- آفاق استراتيجية للإصلاح الإداري والتنمية
                        الإدارية
                        في الوطن العربي في مواجهة التحديات العالمية، المنظمة العربية للتنمية الإدارية، القاهرة، 1967.</li>
                    <li id="13" class="eng">B. Crick: Essays on Reforms – Oxford, 1967.</li>
                    <li id="14">تعد «الزبونية» شكلًا من أشكال الفساد السياسي والاجتماعي، ويعرّفها أوليفيية روا أنّها: علاقة
                        عمودية
                        بين مشغل، وزبون يخضع فيها الأخير للأول بمقابل ماديّ أو معنوي. أنظر: روا، أوليفيية: الزّبائنية والمجموعات
                        المتضامنة- هل هم من بقايا الماضي أو يشهدون نشأة جديدة؟ في مؤلف جماعي بعنوان: ديمقراطيّات من دون
                        ديمقراطيين،
                        مركز دراسات الوَحدَة العربيّة، ط 2، بيروت، 2000، ص 366.</li>
                    <li id="15">رشيد، أحمد: الإصلاح الإداري: إعادة تفكير، دار النهضة العربية، القاهرة، 1994، ص119.</li>
                    <li id="16">مزوري، عبلة: حوكمة الإدارة لتفعيل سياسات الإصلاح الإداري، مجلة أبحاث، العدد 2، 2018، ص66.</li>
                    <li id="17">عبد القادر، كاس، مرجع سابق، ص 156.</li>
                    <li id="18">الحملي، سحر عبد الله الحملي: الإصلاح الإداري- مفهومه وآليات تطبيقه (دراسة مقارنة)، المجلة
                        العلمية،
                        قطاع كلية التجارة جامعة الأزهر، العدد 10، 2013، ص338-339.</li>
                    <li id="19">كافي، مصطفى يوسف، ص 62.</li>
                    <li id="20">للمزيد أنظر: الخضر، على: نموذج مقترح للإصلاح الإداري في سوريا، مجلة كلية التجارة، جامعة القاهرة،
                        2002، مصر. وانظر أيضاً: سالم، عادل. ومها عزت: أهمية العوامل المؤثرة في الإصلاح الإداري لمواجهة الفساد،
                        المعهد الطبي التقني، المنصورة - مصر، ص11-13.</li>
                </ul>
            </div>    
        </div>
        <div class="show-some-studies">
            <h3 class="show-studies-h3">مواضيع مشابهة</h3>
            <a href="{% url 'reformmethodology' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/method1.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>منهجية الإصلاح الإداري</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'comprehensive_reform' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/fanicial.webp' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>تقييم برنامج الإصلاح الاقتصادي والمالي والإداري الشامل في اليمن</h3>

                    </div>
                </div>
            </a>
            <a href="{% url 'evolution_of_public_administration' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/admini.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>تطور الإدارة العامة في إطار حقل القانون الإداري</h3>

                    </div>
                </div>
            </a>
            <a href="{% url 'financial_reform_in_countries' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/gold.webp' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>تجارب بعض الدول في مجال الإصلاح المال</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'malaysia_study' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/maly2.webp' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>تجربة ماليزيا في الإصلاح الإداري</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'future_fo_reforming_administrative_law_in_yemen' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/fix2.webp' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>الرؤية المستقبلية لإصلاح القانون الإداري في اليمن</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'future_of_financial_reform_in_yemen' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/tagarb9.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>رؤية مستقبلية للإصلاح المالي في اليمن</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'role_of_the_private_sector_in_world' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/test.png' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>تجارب عالمية وإقليمية لدور القطاع الخاص</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'legislative_reform_in_the_world' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/repair4.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>تجارب عربية وغربية للإصلاح التشريعي</h3>
                    </div>
                </div>
            </a>

            <a href="{% url 'implementing_e-government' %}" class="study-item">
                <div class="study-info-show last-one">
                    <div class="image-card">
                        <img src="{% static 'imgs/egoven.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>عوامل نجاح أو فشل تنفيذ الحكومة الإلكترونية</h3>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <h2 class="show-references">إخفاء المراجع</h2>
    <div class="refrences">
        <div class="first-ref-info">
            <h2>المراجع</h2>
        </div>
        <ul>
            <li id="one">عبد القادر، كاس: الإصلاح الإداري- إشكالية المفهوم والنماذج والاستراتيجيات، مجلة أنسنه للدراسات
                والبحوث، العدد6، 2012، ص 140.</li>
            <li id="two">كافي، مصطفى يوسف: الإصلاح والتطـوير الإداري بين النظرية والتطبيق، دار مؤسسة رسلان للطباعة
                والنشر،
                دمشق، 2018، ص36.</li>
            <li id="three">المرجع نفسه، ص36.</li>
            <li id="four">عبد القادر، كاس، مرجع سابق.</li>
            <li id="five" class="eng">D. H. Clork: Administrainive therapy – Lon – 1964.- A. Downs: Jmside Bureaucracy –
                Bos
                – 1967 - G. T. Goodsell: Adminisiration of a Revolution – Com. 1967.</li>
            <li id="six">شلبي صبري أحمد: دور الحوكمة في الإصلاح الإداري - دراسة مقارنة بين الدنمارك ولبنان، رسالة
                ماجستير
                مقدمة إلى قسم القانون، كليـة القانون والسياسة، الأكاديمية العربية فـي الـدنمارك، 2013، ص 60.
            </li>
            <li id="sev">كافي، مصطفى يوسف، مرجع سابق، ص32.</li>
            <li id="egh">الرماني، زيد بن محمد: منهج ابـن تيمية في الإصـلاح الإداري، دار الصميعي للنشر، الرياض، 2004،
                ص39.
            </li>
            <li id="nine" class="eng">gerald E. Coiden: Adminisirative Reform – Chicago 1970.</li>
            <li id="ten">عبد القادر، كاس، مرجع سابق، ص142.
            </li>
            <li id="ele">كافي، مصطفى يوسف، مرجع سابق، ص59-60.</li>
            <li id="12">للمزيد أنظر: عاشور، أحمد: إصلاح الإدارة الحكومية- آفاق استراتيجية للإصلاح الإداري والتنمية
                الإدارية
                في الوطن العربي في مواجهة التحديات العالمية، المنظمة العربية للتنمية الإدارية، القاهرة، 1967.</li>
            <li id="13" class="eng">B. Crick: Essays on Reforms – Oxford, 1967.</li>
            <li id="14">تعد «الزبونية» شكلًا من أشكال الفساد السياسي والاجتماعي، ويعرّفها أوليفيية روا أنّها: علاقة
                عمودية
                بين مشغل، وزبون يخضع فيها الأخير للأول بمقابل ماديّ أو معنوي. أنظر: روا، أوليفيية: الزّبائنية والمجموعات
                المتضامنة- هل هم من بقايا الماضي أو يشهدون نشأة جديدة؟ في مؤلف جماعي بعنوان: ديمقراطيّات من دون
                ديمقراطيين،
                مركز دراسات الوَحدَة العربيّة، ط 2، بيروت، 2000، ص 366.</li>
            <li id="15">رشيد، أحمد: الإصلاح الإداري: إعادة تفكير، دار النهضة العربية، القاهرة، 1994، ص119.</li>
            <li id="16">مزوري، عبلة: حوكمة الإدارة لتفعيل سياسات الإصلاح الإداري، مجلة أبحاث، العدد 2، 2018، ص66.</li>
            <li id="17">عبد القادر، كاس، مرجع سابق، ص 156.</li>
            <li id="18">الحملي، سحر عبد الله الحملي: الإصلاح الإداري- مفهومه وآليات تطبيقه (دراسة مقارنة)، المجلة
                العلمية،
                قطاع كلية التجارة جامعة الأزهر، العدد 10، 2013، ص338-339.</li>
            <li id="19">كافي، مصطفى يوسف، ص 62.</li>
            <li id="20">للمزيد أنظر: الخضر، على: نموذج مقترح للإصلاح الإداري في سوريا، مجلة كلية التجارة، جامعة القاهرة،
                2002، مصر. وانظر أيضاً: سالم، عادل. ومها عزت: أهمية العوامل المؤثرة في الإصلاح الإداري لمواجهة الفساد،
                المعهد الطبي التقني، المنصورة - مصر، ص11-13.</li>
        </ul>
    </div>
</div>
{% endblock %}