{% extends 'base.html' %}
{% load static %}
{% block title %}ماهية القانون الإداري{% endblock %}
{% block content %}
<div class="container">
    <div class="top-of-study">
        <a href="{% url 'index' %}">المركز التأسيسي</a>/<a href="{% url 'studies' %}">الدراسات</a>/<span>ماهية القانون الإداري</span>
    </div>
    
    <div class="studies-flex">
        <div class="first-page">
            <div class="controls">
                <button id="increaseFont"><i class="fas fa-search-plus"></i></button>
                <button id="decreaseFont"><i class="fas fa-search-minus"></i></button>
            </div>
            <a href="#img-id" class="hidden-row"><i class="fa-solid fa-arrow-up-long"></i></a>
            <p class="p-img">ماهية القانون الإداري</p>
                <div class="date-info">
                    <span>3 أكتوبر 2023</span>
                </div>
                <span class="pub">أ.د/ فارس محمد عبد القادر القادر</span>
            <img src="{% static 'imgs/jy.jpg' %}" alt="" id="img-id">
            <div class="full-text">
                <h2>‌أ- تعريف القانون الإداري:</h2>
                <p>(القانون الإداري) مصطلح يتكون من كلمتين هما (القانون) و(الإدارة) <a href="#1"><span><sup title="أبو راس، محمد الشافعي: القانون الإداري، منشور على الإنترنت على الرابط، WWW.pdffactory.com، ص6.  
                    'الإدارة' هنا، محل القانون الإداري، ولكونها كذلك فإن المقصود بها هنا 'الإدارة العامة'، وهي بحسب بعضهم ليست قابلة للتعريف، وإنما قابلة للتوصيف فقط.. أنظر: نحيلي، سعيد: القانون الإداري – المبادئ العامة – الجزء الأول، منشورات جامعة البعث، سوريا، 2013، ص11 وما بعدها.
                   .">[1]</sup></span></a>، فالقانون له معنيان: عام وخاص، حيث يُعرف
                    القانون في المعنى العام أنه: مجموعة قواعد سلوك عامة مجردة تنظم العلاقات بين الأشخاص، وتقترن بالجزاء على من
                    يخالفها توقعه السلطة العامة، ويُعرف بمعناه الخاص أنه: مجموعة معينة من القواعد التي تضعها السلطة التشـريعية
                    في المجتمع لتنظيم أمر معين، أما كلمة (الإدارة) <a href="#2"><span><sup
                        title="الفتلاوي، سُهيل: نظرية القانون، دار الفكر المعاصر، ط1، صنعاء، 1993م، ص121.">[2]</sup></span></a>
                    فإنها: مجموعة من المنظمات تنفذ سياسة الدولة المتعلقة
                    بتنظيم الحياة الاجتماعية <a href="#3"><span><sup
                        title="ثروت، بدوي: القانون الإداري، دار النهضة العربية، القاهرة، 1980، ص32.">[3]</sup></span></a>، وهو
                    معناها العضوي، ونتيجة لاختلاف الفقهاء في تعريف القانون والإدارة فقد اختلفوا
                    - أيضًا - في تعريف القانون الإداري، حيث أصبح له أكثر من مفهوم يختلف كل منها بحسب التصنيف (موسع أو مضيق) أو
                    (عضوي أو وظيفي).</p>
                <p>فالقانون الإداري بمعناه الموسع يشمل كل ما يتصل بتنظيم السلطات الإدارية في الدولة ويبين أنواعها واختصاصاتها،
                    والأحكام التي تنظم نشاطها، التي تخضع لها في أموالها وفي علاقتها بالأفراد <a href="#4"><span><sup
                        title="ثروت، بدوي: القانون الإداري، دار النهضة العربية، القاهرة، 1980، ص32.">[4]</sup></span></a>، وقد
                    نشأ هذا التعريف في ظل
                    القضاء الموحد <a href="#5"><span><sup
                        title="سهل، يحيى قاسم علي: السهل في القانون الإداري اليمني، مكتبة الصادق للنشر والتوزيع، صنعاء، ط1، 2020م، ص20.">[5]</sup></span></a>،
                    فيما يقصد
                    بالقانون الإداري بمعناه المضيق: القواعد القانونية التي تحكم النشاط الإداري فحسب،
                    وهي تختلف عن القواعد المنظمة لنشاط الأفراد <a href="#6"><span><sup
                        title="المصري، علي علي صالح: الوجيز في القانون الإداري اليمني، الجزء الأول- تنظيم الإدارة العامة ووظائفها، مكتبة ومركز الصادق للطباعة والنشر والتوزيع، ط 3، صنعاء، 2010م، ص18.">[6]</sup></span></a>،
                    وهذا المفهوم نشأ في ظل نظام
                    القضاء المزدوج، الذي يعني وجود
                    قضائيين مستقلين، الأول: يختص بالفصل في منازعات الإدارة، والثاني: يختص بالفصل في منازعات الأفراد <a href="#7"><span><sup
                        title="الجرادي، أحمد عبده. وفارس محمد القادري: القضاء الإداري اليمني دراسة مقارنة، مكتبة ومركز الصادق للطباعة والنشر والتوزيع، صنعاء، ط1، 2022م، ص89 وما بعدها.">[7]</sup></span></a>.
                </p>
                <p>ويُعرف القانون الإداري بمعناه العضوي/الشكلي أنه: مجموعة القواعد التي تحكم هيكل الجهاز الإداري للدولة، وهذا
                    التعريف يتسع ليشمل كافة القواعد المنظمة للأجهزة الإدارية، سواء كانت تقوم بوظيفة إدارية أو لا، أما من حيث
                    معناه الوظيفي أو الموضوعي فيُعرف القانون الإداري إنه: مجموعة القواعد التي تحكم نشاط الجهاز الإداري للدولة أي
                    الوظيفة الإدارية للدولة، وهذا التعريف يتسع ليشمل القواعد المنظمة للوظيفة الإدارية كافة، سواء كان القائم بها
                    جهاز إداري أم أحد أشخاص القانون الخاص <a href="#8"><span><sup
                        title="شرف الدين، أحمد عبدالرحمن: الوجيز في أحكام القانون الإداري اليمني، مكتبة ومركز الصادق للطباعة والنشر والتوزيع، صنعاء، 2020م، ص7 وما بعدها.  ">[8]</sup></span></a>.
                </p>
                <p>ومن وجهة نظرنا أن القانون الإداري بمفهومه المضيق هو التعريف الأولى بالتأييد، وهو ما يأخذ به القـانون الإداري
                    في اليمـن، حيث توجد أحكام تشـريعية خاصة بعلاقـات الإدارة، وفي الوقت ذاته توجد قوانين أخرى خاصة بعلاقات
                    الأفراد في المجالات ذاتها، من ذلك أحكام العمل في الدولة ويقابلها أحكام العمل في القطاع الخاص.</p>
                <h2>‌ب- مصادر القانون الإداري <a href="#9"><span><sup title="المصري، مرجع سابق، ص37 وما بعدها.">[9]</sup></span></a>:</h2>
                <h2 class="special-title">تتحدد في أربعة مصادر هي: التشريع، العرف، القضاء، الفقه.</h2>
                <p>التـشـريع: هو القواعد القانونية التي تضعها سلطة مختصة وفق إجراءات معينة، ويشمل الدستور والقوانين واللوائح
                    والقرارات الإدارية.</p>
                <p>العرف الإداري: هو ما جرت عليه السلطات الإدارية بصدد حالة معينة بالذات دون أن يكون لها سند أو أساس في النصوص
                    التشريعية<a href="#10"><span><sup
                        title="حافظ، محمود محمد: القضاء الإداري دراسة مقارنة، مطبعة لجنة الآتيف والترجمة، ط 3، القاهرة، 1966م، ص26.">[10]</sup></span></a>.
                </p>
                <p>القضاء الإداري: هو مجموعة الأحكام القضائية الصادرة من المحاكم الإدارية، حيث قد يصل دور القاضي في الوقت الراهن
                    إلى ابتداع وخلق القواعد القانونية عند عدم وجود النص وعدم القدرة على القياس، فيكون قضاء إنشائي <a href="#11"><span><sup
                        title="نحيلي، سعيد، مرجع سابق، ص45.">[11]</sup></span></a>، إلا أنه في
                    اليمن يُعد القضاء مصدر تبعي.</p>
                <p>الفقه الإداري: هو الجهود العلمية التي يبذلها الفقهاء في دراسة وتحليل نصوص وأحكام القانون الإداري، إلا أن آراء
                    الفقه لا تُعد مصدرًا رسميًا ولا يُنـشئ قواعـد قانونية، ولا تلزم المشـرع أو القاضي.</p>
                <h2>‌ج- خصائص القانون الإداري <a href="#12"><span><sup title="شرف الدين، أحمد، مرجع سابق، ص36 وما بعدها.">[12]</sup></span></a>:
                </h2>
                <h2 class="special-title">يتمتع القانون الإداري بخاصيتين تميزه عن غيره، هما:</h2>
                <ul>
                    <li>القانون الإداري دائم التطور: القانون الإداري من أهم خصائصـه عدم الثبـات وقابليتـه السـريعة للتطور، ويرجع
                        ذلك إلى ممارسة الدولة الحديثة للعديد من الوظائف في المجالات الاقتصادية والاجتماعية، والتقدم العلمي
                        والتكنولوجي، وتزايد عدد السكان، كما أن العديد من قواعد القانون الإداري تنظمها لوائح يمكن تعديلها أو
                        إلغائها بسهولة.</li>
                    <li>القانون الإداري قانون غير مقنن <a href="#13"><span><sup
                        title="فتح الباب، عليوة مصطفى: المدخل إلى القانون الإداري - دراسة في ضوء آراء الفقه والأحكام والفتاوى، دائرة القضاء، أبو ظبي، ط 2، 2013، ص49. وانظر : جبير، مطيع علي حمود: مبادئ القانون الإداري اليمني والمقارن، مكتبة ومركز الصادق للنشر والتوزيع، صنعاء، ط4، 2023، ص66.">[13]</sup></span></a>:
                        قواعد القانون الإداري متناثرة هنا وهناك، فالقواعد الكلية والتفصيلية
                        التي تنظم نشاط الإدارة ليست مجموعة في قانون واحد، وهذه القواعد - أيًا كانت أدواتها ومراتبها ومسمياتها -
                        هي التي يضمها اصطلاح القانون الإداري.</li>
                </ul>
                <p>ومن وجهة نظرنا فإن هذه الصفة تُعد ميزة للقانون الإداري؛ لكونها تسمح بمرونة هذه القواعد وتطورها، ومن الصعوبة
                    بمكان تقنين قواعد القانون الإداري؛ لأنها متناثرة في أكثر من قانون، ومواضيعها متعددة ومتنوعة وتنظم أكثر من
                    جهة إدارية.</p>
            </div>
        </div>
        <div class="nested-ref">
            <h2 class="show-references">إخفاء المراجع</h2>
    <div class="refrences">
        <div class="first-ref-info">
            <h2>المراجع</h2>
        </div>
        <ul>
            <li id="1">أبو راس، محمد الشافعي: القانون الإداري، منشور على الإنترنت على الرابط، <a href="https://fineprint.com/">WWW.pdffactory.com</a>، ص6.</li>
            <li id="2">"الإدارة" هنا، محل القانون الإداري، ولكونها كذلك فإن المقصود بها هنا "الإدارة العامة"، وهي بحسب بعضهم ليست قابلة للتعريف، وإنما قابلة للتوصيف فقط.. أنظر: نحيلي، سعيد: القانون الإداري – المبادئ العامة – الجزء الأول، منشورات جامعة البعث، سوريا، 2013، ص11 وما بعدها.</li>
            <li id="3">الفتلاوي، سُهيل: نظرية القانون، دار الفكر المعاصر، ط1، صنعاء، 1993م، ص121.</li>
            <li id="4">ثروت، بدوي: القانون الإداري، دار النهضة العربية، القاهرة، 1980، ص32.</li>
            <li id="5">سهل، يحيى قاسم علي: السهل في القانون الإداري اليمني، مكتبة الصادق للنشر والتوزيع، صنعاء، ط1، 2020م، ص20.</li>
            <li id="6">المصري، علي علي صالح: الوجيز في القانون الإداري اليمني، الجزء الأول- تنظيم الإدارة العامة ووظائفها، مكتبة ومركز الصادق للطباعة والنشر والتوزيع، ط 3، صنعاء، 2010م، ص18.</li>
            <li id="7">الجرادي، أحمد عبده. وفارس محمد القادري: القضاء الإداري اليمني دراسة مقارنة، مكتبة ومركز الصادق للطباعة والنشر والتوزيع، صنعاء، ط1، 2022م، ص89 وما بعدها.</li>
            <li id="8">شرف الدين، أحمد عبدالرحمن: الوجيز في أحكام القانون الإداري اليمني، مكتبة ومركز الصادق للطباعة والنشر والتوزيع، صنعاء، 2020م، ص7 وما بعدها.</li>
            <li id="9">المصري، مرجع سابق، ص37 وما بعدها.</li>
            <li id="10">حافظ، محمود محمد: القضاء الإداري دراسة مقارنة، مطبعة لجنة الآتيف والترجمة، ط 3، القاهرة، 1966م، ص26.</li>
            <li id="11">نحيلي، سعيد، مرجع سابق، ص45.</li>
            <li id="12">شرف الدين، أحمد، مرجع سابق، ص36 وما بعدها.</li>
            <li id="13">فتح الباب، عليوة مصطفى: المدخل إلى القانون الإداري - دراسة في ضوء آراء الفقه والأحكام والفتاوى، دائرة القضاء، أبو ظبي، ط 2، 2013، ص49. وانظر : جبير، مطيع علي حمود: مبادئ القانون الإداري اليمني والمقارن، مكتبة ومركز الصادق للنشر والتوزيع، صنعاء، ط4، 2023، ص66.</li>
        </ul>
    </div>
        </div>
        <div class="show-some-studies">
            <h3 class="show-studies-h3">مواضيع مشابهة</h3>
            <a href="{% url 'reformmethodology' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/method1.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>منهجية الإصلاح الإداري</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'comprehensive_reform' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/fanicial.webp' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>تقييم برنامج الإصلاح الاقتصادي والمالي والإداري الشامل في اليمن</h3>

                    </div>
                </div>
            </a>
            <a href="{% url 'evolution_of_public_administration' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/admini.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>تطور الإدارة العامة في إطار حقل القانون الإداري</h3>

                    </div>
                </div>
            </a>
            <a href="{% url 'financial_reform_in_countries' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/gold.webp' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>تجارب بعض الدول في مجال الإصلاح المال</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'malaysia_study' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/maly2.webp' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>تجربة ماليزيا في الإصلاح الإداري</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'future_fo_reforming_administrative_law_in_yemen' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/fix2.webp' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>الرؤية المستقبلية لإصلاح القانون الإداري في اليمن</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'future_of_financial_reform_in_yemen' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/tagarb9.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>رؤية مستقبلية للإصلاح المالي في اليمن</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'role_of_the_private_sector_in_world' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/test.png' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>تجارب عالمية وإقليمية لدور القطاع الخاص</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'legislative_reform_in_the_world' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/repair4.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>تجارب عربية وغربية للإصلاح التشريعي</h3>
                    </div>
                </div>
            </a>

            <a href="{% url 'implementing_e-government' %}" class="study-item">
                <div class="study-info-show last-one">
                    <div class="image-card">
                        <img src="{% static 'imgs/egoven.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>عوامل نجاح أو فشل تنفيذ الحكومة الإلكترونية</h3>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <h2 class="show-references">إخفاء المراجع</h2>
    <div class="refrences">
        <div class="first-ref-info">
            <h2>المراجع</h2>
        </div>
        <ul>
            <li id="1">أبو راس، محمد الشافعي: القانون الإداري، منشور على الإنترنت على الرابط، <a href="https://fineprint.com/">WWW.pdffactory.com</a>، ص6.</li>
            <li id="2">"الإدارة" هنا، محل القانون الإداري، ولكونها كذلك فإن المقصود بها هنا "الإدارة العامة"، وهي بحسب بعضهم ليست قابلة للتعريف، وإنما قابلة للتوصيف فقط.. أنظر: نحيلي، سعيد: القانون الإداري – المبادئ العامة – الجزء الأول، منشورات جامعة البعث، سوريا، 2013، ص11 وما بعدها.</li>
            <li id="3">الفتلاوي، سُهيل: نظرية القانون، دار الفكر المعاصر، ط1، صنعاء، 1993م، ص121.</li>
            <li id="4">ثروت، بدوي: القانون الإداري، دار النهضة العربية، القاهرة، 1980، ص32.</li>
            <li id="5">سهل، يحيى قاسم علي: السهل في القانون الإداري اليمني، مكتبة الصادق للنشر والتوزيع، صنعاء، ط1، 2020م، ص20.</li>
            <li id="6">المصري، علي علي صالح: الوجيز في القانون الإداري اليمني، الجزء الأول- تنظيم الإدارة العامة ووظائفها، مكتبة ومركز الصادق للطباعة والنشر والتوزيع، ط 3، صنعاء، 2010م، ص18.</li>
            <li id="7">الجرادي، أحمد عبده. وفارس محمد القادري: القضاء الإداري اليمني دراسة مقارنة، مكتبة ومركز الصادق للطباعة والنشر والتوزيع، صنعاء، ط1، 2022م، ص89 وما بعدها.</li>
            <li id="8">شرف الدين، أحمد عبدالرحمن: الوجيز في أحكام القانون الإداري اليمني، مكتبة ومركز الصادق للطباعة والنشر والتوزيع، صنعاء، 2020م، ص7 وما بعدها.</li>
            <li id="9">المصري، مرجع سابق، ص37 وما بعدها.</li>
            <li id="10">حافظ، محمود محمد: القضاء الإداري دراسة مقارنة، مطبعة لجنة الآتيف والترجمة، ط 3، القاهرة، 1966م، ص26.</li>
            <li id="11">نحيلي، سعيد، مرجع سابق، ص45.</li>
            <li id="12">شرف الدين، أحمد، مرجع سابق، ص36 وما بعدها.</li>
            <li id="13">فتح الباب، عليوة مصطفى: المدخل إلى القانون الإداري - دراسة في ضوء آراء الفقه والأحكام والفتاوى، دائرة القضاء، أبو ظبي، ط 2، 2013، ص49. وانظر : جبير، مطيع علي حمود: مبادئ القانون الإداري اليمني والمقارن، مكتبة ومركز الصادق للنشر والتوزيع، صنعاء، ط4، 2023، ص66.</li>
        </ul>
    </div>
</div>
{% endblock %}