{% extends 'base.html' %}
{% load static %}
{% block title %}القانون الإداري في الجمهورية اليمنية{% endblock %}
{% block content %}
<div class="container articles">
    <div class="top-of-study">
        <a href="{% url 'index' %}">الرئيسية</a><span class="first-pipe">  |  </span> <a href="{% url 'studies' %}">دراسات وبحوث</a> <span class="first-pipe"> | </span><span>القانون الإداري في الجمهورية اليمنية</span>
    </div>
    
    <div class="studies-flex">
        <div class="first-page">
            <a href="#img-id" class="hidden-row"><i class="fa-solid fa-arrow-up-long"></i></a>
            <p class="p-img">القانون الإداري في الجمهورية اليمنية</p>
                <div class="date-info">
                    <span>3 أغسطس 2024
                    </span>
                </div>
                <span class="pub">أ.د/ فارس محمد القادري & أ.د/ أحمد عبده الجرادي</span>
                <div class="controls">
                    <div class="studies-social">
                        <div class="studies-social2">
                            <div class="email">
                                <a href="mailto:info@csr-yemen.com" class="email"><i
                                        class="fa-solid fa-envelope my-env foot-i"></i></a>
                            </div>
                            <div class="twitter">
                                <a href="https://x.com/csrYemen" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
                            </div>
                            <div class="whats">
                                <a href="https://api.whatsapp.com/send?phone=783222270"><i
                                        class="fa-brands fa-whatsapp foot-i"></i></a>
                            </div>
                            <div class="telegram">
                                <a href="https://t.me/constituenttele" target="_blank"><i class="fab fa-telegram"></i></a>
                            </div>
                            <div class="youtube">
                                <a href="https://www.youtube.com/channel/UCnDXXEWOVbtYgwASbii_Frg" target="_blank"><i
                                        class="fab fa-youtube"></i></a>
                            </div>
                            <div class="instgram">
                                <a href="https://www.instagram.com/csryemen/" target="_blank"><i
                                        class="fab fa-instagram"></i></a>
                            </div>
                            <div class="face-book">
                                <a href="https://www.facebook.com/profile.php?id=61556721602912" target="_blank"><i
                                        class="fa-brands fa-facebook foot-i"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="studies-controls">
                        <!-- <i class="fa-solid fa-print"></i> -->
                        <button id="increaseFont"><img src="{% static 'imgs/Zoom_IN.svg' %}" alt=""></button>
                        <button id="decreaseFont"><img src="{% static 'imgs/Zoom_OUT.svg' %}" alt=""></button>
                    </div>
    
                </div>
            <img src="{% static 'imgs/jud.jpg' %}" alt="" id="img-id">
            
            <div class="full-text">
                <p>يتناول القانون الإداري موضوعات عدة، أهمها: الوظيفة العامة التي تنظمها تشـريعات الخدمة المدنية في اليمن، كما
                    يتناول المرفق العام والمركزية واللامركزية الإدارية، وهذا ينظمه قانون السلطة المحلية واللوائح التنظيمية
                    للجهات الحكومية، بالإضافة إلى مواضيع أخرى يتناولها القانون الإداري، وستبين أهم تشريعات القانون الإداري في
                    اليمن، وذلك على النحو الآتي:</p>
                <h2>أ‌- تشريعات القانون الإداري في الخدمة المدنية:</h2>
                <p>تُعد تشـريعات الخدمة المدنية من أهم التـشريعات التي نظمها القانون الإداري؛ لكونها تتعلق بأهم موضوعات القانون
                    الإداري وهي الوظيفة العامة، فهذه التشـريعات تهدف إلى ضبط الوظيفة العامة وهيكلتها وتحديد اختصاصاتها، كما تبين
                    الشـروط الواجب توافرها عند التعيين في الوظيفة العامة وعند الترقية أو الترفيع، كما تنظم حقوق وواجبات الموظف
                    العام وإجراءات التحقيق والتأديب الإداري وضماناتهما. </p>
                <p>على رأس هذه التـشريعات قانون الخدمة المدنية رقم (19) لسنة 1991م، ولائحته التنفيذية رقم (122) لسنة 1992م،
                    وقانون نظام الوظائف والأجور والمرتبات رقم (43) لسنة 2005م، ولائحته التنفيذية رقم (99) لسنة 2006م<a
                        href="#1"><span><sup
                                title="أول قانون للخدمة المدنية في الشمال صدر سنة 1963م، وفي الجنوب صدر سنة 1972م. أنظر: شذان، محمد محسن: النظام التأديبي للموظف العام في اليمن دراسة مقارنة، أطروحة دكتوراه، جامعة القاهرة، 2014، هامش ص12.">[1]</sup></span></a>.
                </p>
                <p>وقد حدد قانون الخدمة المدنية مجال سريان أحكامه على موظفي وحدات الجهاز الإداري للدولة والقطاعين العام
                    والمختلـط، ولا يسـري على العسكريين وشـاغلي الوظائف القضائية ووظائف السلك الدبلوماسي والقنصلي، أي: أن هذا
                    القانون يُعد قانونًا عامًا يكون الرجوع إليه في الحالات التي لا يوجد لها تنظيم في الوظائف المستثناة من قانون
                    الخدمة، وذلك ما تضمنته الفقرة (ب) من المادة (3) من قانون الخدمة المدنية، وهو ما جرى تطبيقه في عملية البصمة
                    الوظيفية التي طبقتها ها وزارة الخدمة المدنية وشملت كافة الموظفين المدنيين والعسكريين والأمنيين والقضاة
                    والدبلوماسيين.</p>
                <p>كما عرف هذا القانون الوظيفة أنها: «مجموعة من الواجبات والمسؤوليات أو الأعمال ذات الطبيعة الذهنية أو المهنية
                    أو الحرفية أو غيرها، التي تناط بشاغلها لأغراض المساهمة في تحقيق أهداف الوحدة الإدارية التي ينتمي إليها، خدمة
                    للصالح العام، وللوظيفة مستوى محدد، وتتطلب فيمن يشغلها متطلبات ومؤهلات معينة<a href="#2"><span><sup
                                title="المادة 2 من قانون الخدمة المدنية.">[2]</sup></span></a>.</p>
                <p>وهو ما يعني أن الوظيفة العامة تهدف إلى تحقيق المصلحة العامة عن طريق الوحدة الإدارية التي يعمل بها الموظف، وكل
                    وظيفة تتطلب فيمن يشغلها توافر شروط ومؤهلات معينة بحسب مقتضى كل وظيفة.</p>
                <p>كما أن القانون وضع أُسسًا لتقسيم الوظائف، حيث قسم الوظائف في الخدمة المدنية إلى مجموعات رئيسة حسب طبيعة
                    الأعمال المؤداة فيها، ثم تقسم كل مجموعة رئيسة إلى مجموعات نوعية وفئات وظيفية بحسب طبيعة الاختصاص وصعوبة
                    وتعقيد الواجبات ومستوى المسؤوليات الإشرافية وغير الإشرافية، وتتضمن هذه المجموعات والفئات مسميات موحدة
                    وتعاريف نمطية طبقًا لنظام توصيف وترتيب الوظائف<a href="#3"><span><sup
                                title="المادة 15 من قانون الخدمة المدنية.">[3]</sup></span></a>.</p>
                <p>كما قسم الوظائف إلى خمس مجموعات، أعلاها مجموعة وظائف الإدارة العليا، التي تتولى اتخاذ الإجراءات والقرارات
                    التي تحقق الأهداف العامة للوحدة الإدارية والمشاركة في وضع الأهداف والسياسة العامة الخاصة بها، وتليها مجموعة
                    الوظائف الإشرافية (إدارية تخصصية) تتولى مساعدة وظائف الإدارة العليا والقيام بأعمال تخصصية، ولا يُعين في
                    وظائف هذه المجموعة إلا من كان يحمل الشهادة الجامعية الأولى أو ما يعادلها بالمؤهل أو الخبرة، يلي هذه المجموعة
                    مجموعة الوظائف التنفيذية التي تقوم بأعمال فنية وكتابية، ويليها مجموعة الوظائف الحرفية والمساعدة التي تقوم
                    بأعمال محددة في المهن المختلفة والإشراف على تنفيذها أو القيام بتأدية أعمال أو خدمات حرفية، وآخر هذه
                    المجموعات مجموعة الوظائف الخدمية المعاونة، حيث تتولى الخدمات المعاونة التي يقوم شاغلوها تحت الإشراف المباشر
                    بأعمال عادية معاونة في ميادين عمل مختلفة لا تتطلب خبرة سابقة أو إعدادًا تعليميًا أو مهنيًا خاصًا <a
                        href="#4"><span><sup title="المادة 16 من قانون الخدمة المدنية.">[4]</sup></span></a>.</p>
                <p>ووفقًا لهذا القانون يجب توزيع الوظائف بين هذه المجموعات والفئات وترتيبها وفق نظام توصيف دقيق <a
                        href="#5"><span><sup title="المادة 18 من قانون الخدمة المدنية.">[5]</sup></span></a>، ويُلاحظ من
                    الواقع العملي أنه لا يوجد أي توصيف وظيفي للجهات الإدارية حتى الآن، مما نرى معه ضرورة وضع خطط علمية مزمنة
                    لإعداد التوصيفات الوظيفية لكل وحدة إدارية، مع العلم أن هذا التقسيم قد تم تعديله في قانون نظام الوظائف
                    والأجور والمرتبات، وهذا التعديل جاء في ظل عملية الإصلاح الإداري في اليمن، حيث أعاد قانون الوظائف تقسيم هذه
                    المجموعات إلى مجموعات رئيسة حسب طبيعة الأعمال المؤداة فيها، ثم قسم كل مجموعة رئيسة إلى مجموعات نوعية ودرجات
                    وفئات وظيفية بحسب طبيعة الاختصاص وصعوبة وتعقيد الواجبات ومستوى المسؤوليات الإشرافية وغير الإشرافية<a
                        href="#6"><span><sup title="المادة 8 من قانون نظام الوظائف والأجور والمرتبات.">[6]</sup></span></a>.</p>
                <p>حيث حدد المجموعات الوظيفية الرئيسة بسبع مجموعات، أعلاها مجموعة وظائف السلطة العليا التي تتكون من رئيس
                    الجمهورية ونائبه، ورئيس وزراء وما في مستواه، ونائبه وما في مستواه، ووزير وما في مستواه ونائب وزير وما في
                    مستواه، ويلي ذلك مجموعة وظائف الإدارة العليا التي تتكون من الفئات الآتية: وكيل وزارة وما في مستواه، ووكيل
                    وزارة مساعد وما في مستواه، ومدير إدارة عامة وما في مستواه، ويلي هذه المجموعة مجموعة الوظائف التخصصية التي
                    تتكون من الفئات الآتية: كبير اختصاصيين، اختصاصي، اختصاصي مساعد، بينما المجموعة الرابعة هي مجموعة الوظائف
                    الإشرافية وتصنف وظائف هذه المجموعة إلى فئات مدير إدارة وما في مستواه، ورئيس قسم وما في مستواه، بينما
                    المجموعة التي تليها هي مجموعة الوظائف التنفيذية (فنية وكتابية)، وتصنف وظائف هذه المجموعة إلى الوظائف الفنية،
                    وتشمل: رئيس فنيين وما في مستواه، وفني، وفني مساعد، أما الوظائف الكتابية فتشمل: رئيس كتبة وما في مستواه،
                    وكاتب، وكاتب مساعد، بينما المجموعة قبل الأخيرة هي مجموعة الوظائف الحرفية وتصنف وظائفها إلى وظائف الفئات
                    الآتية: رئيس حرفيين وما في مستواه، وحرفي، ومساعد حرفي، والمجموعة الأخيرة هي مجموعة الوظائف الخدمية والمعاونة
                    وفئاتها هي ملاحظ، معاون خدمة - عامل - سائق<a href="#7"><span><sup
                                title="المادة 9 من قانون نظام الوظائف والأجور والمرتبات.">[7]</sup></span></a>.</p>
                <p>كما قسم هذا القانون وظائف الخدمة العامة إلى ستة مستويات باستثناء المستوى الأعلى الذي يضم وظائف السلطة العليا.
                </p>
                <img src="{% static 'imgs/mk10.png' %}" alt="" class="spe-img5">
                <p>فالمستوى الأول يضم وظائف الإدارة العليا والإدارة التخصصية، والمستوى الثاني يضم الوظائف الإدارية الإشرافية،
                    أما المستوى الثالث فيضم الوظائف التخصصية الأدنى التي يؤدي شاغلوها الأعمال التخصصية العادية أو يساعدون في
                    القيام ببعض الأعمال المعقدة تحت الإشراف المباشر للوظائف التخصصية من المستويات العليا، كما يتضمن الوظائف
                    الفنية والكتابية غير الإشرافية التي تتميز بالدقة والتنوع، أما المستوى الرابع فيضم الوظائف الفنية والكتابية
                    الأدنى التي يؤدي شاغلوها بعض الأعمال الروتينية البسيطة، كما يدخل في هذا المستوى الوظائف الحرفية الأعلى التي
                    تتضمن أعمال تتميز بالدقة والتنوع، بينما المستوى الخامس يضم الوظائف الحرفية التي تتضمن إنجاز بعض الأعمال
                    الحرفية تحت الإشراف والتوجيه العام، كما يضم الحد الأعلى لوظائف الخدمات المعاونة، بينما المستوى الأدنى وهو
                    المستوى السادس يضم المستوى الأدنى في الوظائف الحرفية، وكذا وظائف الخدمات المعاونة التي لا تتطلب مهارات
                    وخبرات خاصة، كما قسم القانون هذه المجموعات والمستويات إلى عشرين درجة.</p>
                <p>كما أن هذا القانون قد سكن الشهادات الجامعية والخبرات في أماكن معينة من الهيكل العام للوظائف، حيث سكن حامل
                    شهادة الدكتوراه في المستوى الثاني في الدرجة السادسة، والماجستير في المستوى الثالث في الدرجة الثامنة،
                    والبكالوريوس في المستوى الثالث الدرجة العاشرة وهكذا...</p>
                <p>ويبدو لنا من هذا العرض أن قانون نظام الوظائف والأجور قد جاء بهيكل للوظائف أوسع مما كان عليه قانون الخدمة
                    المدنية، وبدلًا من أن يعمل على معالجة الاختلالات الهيكلية في قانون الخدمة المدنية وقع في ذات المشكلة
                    والاختلالات، وهو ما نرى معه تعديل هذا القانون عن طريق وضع هيكل مبسط للوظيفة العامة يحد من التضخم، ويعمل على
                    حفظ موارد الدولة، وذلك بناءً على دراسات وأبحاث إدارية تؤدي إلى وضع رؤية لتحديث الهيكلة وتبسيطها.</p>
                <h2 class="special-title"> ومن المعلوم أن إصدار هذا القانون يهدف إلى تحقيق ما يلي: </h2>
                <ul>
                    <li>بناء هيكل موحد للأجور والمرتبات يقوم على ربط الراتب بالوظيفة ونوع العمل المؤدى وإعادة تقييم التوازن بين
                        الراتب والبدلات.</li>
                    <li>‌تمكين الدولة من أن تكون رب عمل قادر على جذب الكفاءات الجيدة. </li>
                    <li>‌بناء جهاز حكومي كفء وفعال قادر على تقديم الخدمات النوعية ذات المستوى العالي للمواطنين وبما يهيئ المناخ
                        الملائم للاستثمار.</li>
                    <li>‌معالجة الخلل في التوازن بين المناطق الحضرية والريفية.</li>
                    <li>‌تخفيف الانكماش في سلم الرواتب بين الحد الأدنى والحد الأعلى إلى ثمانية أمثال الحد الأدنى. </li>
                    <li>‌تحديث وتبسيط الهيكلة الحالية وإزالة الجوانب السلبية التي تشوبها والحفاظ على سهولة وبساطة إدارتها.</li>
                    <li>‌تحقيق الاستغلال الأمثل لما يجري إنفاقه من الموازنة العامة للدولة على الأجور وما في حكمها.</li>
                    <li>‌رفع الحد الأدنى للأجور والمرتبات بما يتناسب وخط الفقر.</li>
        
                </ul>
                <p>ويظهر لنا أن هذه الأهداف التي سعى هذا القانون إلى تحقيقها لم تتحقق حتى الآن باستثناء رفع الحد الأدنى للأجور،
                    الذي لم يعد مجديًا حاليًا نتيجة الأوضاع المعيشية والحرب والعدوان الذي مر به اليمن، وهو ما نرى معه ضرورة
                    تعديل هذا القانون من حيث ملاءمة الأجور مع الأوضاع الحالية ورفع الحد الأدنى للأجور، ووضع هيكل مبسط للوظيفة
                    العامة.</p>
                <p>وبالنظر إلى جملة الواجبات والحقوق الخاصة بالموظف العام التي نص عليها القانون يمكن القول: إن الكثير من
                    الموظفين لا يدركون كثيرًا من حقوقهم ولا يلتزمون بالكثير من واجباتهم؛ نظرًا لانعدام ثقافتهم القانونية
                    والإدارية بهذه الواجبات والحقوق، مما نرى معه ضرورة إضافة نص إلى تشـريعات الخدمة المدنية بوجوب عمل دورات
                    قانونية للموظف عند التحاقه بالوظيفة العامة، مع تسليمه نسخة من التـشريعات الإدارية ومدونة السلوك. </p>
                <p>وعلى سبيل الذكر يتضح من الواقع العملي أن العلاوة السنوية متوقفة منذُ العام 2012م ولا تمنح للموظفين، بالإضافة
                    إلى أن مبلغ العلاوة السنوية المحدد في القانون يُعد مبلغًا ضئيلًا جدًا ولا يفي بمتطلبات ارتفاع الأسعار وأعباء
                    المعيشة؛ لذلك نرى ضرورة تعديل النص المتعلق بمقدار العلاوة السنوية؛ بحيث ينص القانون على الحد الأدنى لمقدار
                    العلاوة السنوية، مع منح مجلس الوزراء صلاحية تقدير العلاوة السنوية بصورة تتناسب مع غلاء المعيشة سنويًا، كما
                    نوصي بضـرورة صرف العلاوة للموظفين سنويًا بصورة منتظمة حتى لا تتراكم كمديونية على الدولة ويصعب سدادها. </p>
                <p>كما يلاحظ أن هذه العلاوة لم يعد لها مكان في الوحدات الإدارية، الأمر الذي يؤدي إلى إحجام الموظف عن التدريب
                    وتطوير قدراته العلمية والمهنية؛ ما قد يؤثر سلبًا في أدائه الوظيفي، وهو ما نرى معه تنبيه الحكومة إلى إعادة
                    تفعيل هذه العلاوات وتشجيع الموظفين على التدريب والتأهيل، وكذلك نجد أن الحافز غير مفعل في معظم الجهات
                    الإدارية، مما يؤثر سلبًا في الموظف والوظيفة العامة، وهو ما يتطلب معه ضرورة إعادة تفعيل هذه الميزة مع وضع
                    معايير واضحة لقياس الأداء ومنح الحافز. </p>
                <p>إضافة إلى القوانين سالفة الذكر والمتعلقة بالخدمة المدنية هناك العديد من القرارات التي أصدرها رئيس مجلس
                    الوزراء والمتعلقة بالقانون الإداري المرتبط بالوظيفة العامة، أبرزها:</p>
                <ul style="list-style: square;">
                    <li>قرار رئيس مجلس الوزراء رقم (149) لسنة 2007م بشأن نظام التعيين في الوظيفة العامة، الذي وضع شروط لشغل
                        وظائف الإدارة العليا ووظائف الإدارة الإشرافية والتعيين الجديد، مشددًا على أن تكون الأفضلية للترشيح وفقًا
                        للجدارة والكفاءة الوظيفية.</li>
                    <li>ومن خلال تحليل ما تضمنه هذا القرار من شروط وما يلاحظ في الواقع العملي نجد عدم مراعاة الشـروط المنصوص
                        عليها في هذا القرار، وأن التعيين في حالات كثيرة - لاسيما في وظائف الإدارة العليا - يكون بناء على القرابة
                        والمحسوبية والوساطة وهذا يعيق عملية الإصلاح الإداري.</li>
                    <li>قرار رئيس مجلس الوزراء رقم (130) لسنة 2006م بشأن نظام الدوام الرسمي الذي يهدف إلى توحيد آليات مراقبة
                        ومتابعة وتقييم وضبط الدوام الرسمي وتعزيز المواظبة في العمل. <br>
                        هذا القـرار يُعد من التـشريعات الإداريـة المواكبة لعملية الإصلاح الإداري، إلا أنه بسبب العـدوان وتوقـف
                        صـرف المرتبـات نجـد أن كثيرًا من موظفـــــــي الدولـة لا يلتزمـون بالدوام الرسمــــي مما يحتاج إلى
                        استخدام وسائل التقنية الحديثة في ضبط عملية الدوام الرسمي.
        
                    </li>
                    <li>وأيضًا من قرارات مجلس الوزراء قرار رئيس مجلس الوزراء رقم (27) لسنة 1998م بشأن لائحة الجزاءات والمخالفات
                        المالية والإدارية التي هدفت إلى وضع الواجبات والمحظورات على الموظفين وتحديد الجزاءات والمخالفات المالية.
                    </li>
                    <li>وأيضًا من قرارات مجلس الوزراء قرار رئيس مجلس الوزراء رقم (27) لسنة 1998م بشأن لائحة الجزاءات والمخالفات
                        المالية والإدارية التي هدفت إلى وضع الواجبات والمحظورات على الموظفين وتحديد الجزاءات والمخالفات المالية.
                    </li>
                </ul>
                <p>ولهذا يُعد هذان القراران من المرتكزات الأساسية لعملية الإصلاح الإداري؛ فبواسطتهما تبين وجود الكثير من الوظائف
                    الوهمية وحالات الازدواج الوظيفة، وقد أدى تطبيق هذين القرارين إلى إصلاح العديد من الاختلالات في هذا الجانب.
                </p>
                <h2>ب‌- التـشريعات الإدارية للسلطة المحلية:</h2>
                <p>صدرت العديد من التـشريعات الإدارية المتعلقة بالإدارة المحلية وتخفيف المركزية الإدارية، ابتداءً من القرار
                    الجمهوري رقم (8) لسنة 1964م بشأن إنشاء وزارة الإدارة المحلية وتحديد اختصاصاتها، والقانون رقم (7) لسنة 1965م
                    الذي خفف من حدة المركزية الإدارية بتقسيمه الوحدات الإدارية إلى ألوية وقضوات ونواحي، أما دستور 1970م فقد تضمن
                    فصلًا خاصًا بالإدارة المحلية، نص على أن يكون للوحدات الإدارية مجالس محلية تمارس فيها شؤون المنطقة. </p>
                <p>ثم جاء القانون رقم (35) لسنة 1975م بشأن هيئات التعاون الأهلي للتطوير، الذي سعى إلى إنشاء هيئات تعاونية محلية
                    منتخبة مباشرة من المواطنين، وتُعد هذه الهيئات جزءًا من نظام الإدارة المحلية بموجب القانون رقم (12) لسنة
                    1985م. </p>
                <p>وفي العام 1990م وبقيام الوحدة اليمنية ألغيت القوانين الشطرية السابقة كافة، واستبدلت بقوانين وحدوية، من ذلك
                    القرار الجمهوري رقم (52) لسنة 1991م بشأن الإدارة المحلية، الذي عزز دور المجالس المحلية المنتخبة ومنحها
                    مزيدًا من الصلاحيات والاستقلالية، ثم أُلغي هذا القانون بالقانون رقم (4) لسنة 2000م بشأن السلطة المحلية، وذلك
                    في إطار عملية الإصلاح الإداري.</p>
                <p>حيث توجهت الدولة عن طريق هذا القانون نحو اللامركزية المالية والإدارية، ومنحه اختصاصات وصلاحيات واسعة للمجالس
                    المحلية، حيث ذهب هذا القانون إلى أن نظام السلطة المحلية يقوم على مبدأ اللامركزية المالية والإدارية، وعلى
                    أساس توسيع المشاركة الشعبية في اتخاذ القرار وإدارة الشأن المحلي، وكذا الرقابة الشعبية والإشراف على الأجهزة
                    التنفيذية للسلطة المحلية ومحاسبتها<a href="#8"><span><sup
                                title="المادة (4) من قانون السلطة المحلية.">[8]</sup></span></a>.
                </p>
                <h2 class="special-title">وتُعرف اللامركزية الإدارية أنها: </h2>
                <p>توزيع الوظيفة الإدارية بين السلطة المركزية في العاصمة وبين هيئات إدارية أخرى تخضع للسلطة المركزية في مباشرتها
                    لاختصاصاتها، وقد يجري توزيع الاختصاصات على أساس إقليمي أو مركزي.</p>
                <p>بينما تعني المركزية الإدارية حصـر الوظيفة الإدارية وتجميعها في يد سلطة واحدة رئيسة تنفرد في البت النهائي في
                    جميع الاختصاصات<a href="#9"><span><sup title="قلامة، مرجع سابق، ص17 وما بعدها.">[9]</sup></span></a>.</p>
                <p>فالسلطة المحلية في اليمن تتمتع في ظل القانون رقم (4) لسنة 2000م النافذ باللامركزية الإدارية من خلال الاعتراف
                    بالشخصية المعنوية للوحدة الإدارية، فيكون لها الشخصية القانونية والذمة المالية المستقلة، ونائب قانوني يعبر عن
                    إرادتها، كما أن لهذه الوحدات الاستقلال في إدارة الشؤون المحلية، فلها الصلاحية باتخاذ القرارات المتعلقة
                    بالشؤون المحلية دون العودة إلى الهيئات المركزية، كما أن ممثلي هذه الوحدات يتم انتخابهم من المواطنين، مما
                    يعزز النظام الديمقراطي.</p>
                <h2 class="special-title">وتتكون السلطة المحلية في المحافظة من<a href="#10"><span><sup
                                title="المواد (16، 38، 49، 52، 59) من قانون السلطة المحلية.">[10]</sup></span></a>:</h2>
                <p>المجلس المحلي للمحافظة الذي يتكون من مجموع الأعضاء المنتخبين من المديريات للمجلس بحيث لا يقل عن خمسة عشـر
                    عضوًا، بواقع عضو واحد لكل مديرية، يتم انتخابهم من المواطنين.</p>
                <h2 class="special-title2">الأجهزة التنفيذية في المحافظة التي تتكون من:</h2>
                <ol>
                    <li>المحافظ: يكون انتخابه من قبل هيئة انتخابية تتكون من المجلس المحلي للمحافظة والمجالس المحلية لمديريات
                        المحافظة، وتكون مدة ولاية المحافظ أربع سنوات.</li>
                    <li>وكيل المحافظة: يصدر بتعينه قرار جمهوري.</li>
                    <li>المكتب التنفيذي للمحافظة: يتكون من المحافظ رئيسًا، وأمين عام المجلس المحلي نائبًا، ووكيل المحافظة ومديري
                        الأجهزة التنفيذية بالمحافظة أعضاء.</li>
                </ol>
                <p>والظاهر أنه لم يجر انتخاب محافظ أي محافظة وفقًا لهذا القانون منذُ صدوره، بل كان يجري تعينهم بقرارات جمهورية
                    مباشرة، وإن كنا نرى تعديل النص المتعلق بانتخاب المحافظ من قبل المجلس المحلي للمحافظة والمجالس المحلية
                    للمديريات، بحيث يكون بالانتخاب المباشر من المواطنين في المحافظة بما يضمن توسعة المشاركة الشعبية في الإدارة
                    المحلية.</p>
                <p>كما أننا ندعو الباحثين إلى القيام بإعداد دراسات حول السلطة المحلية تسهم في وضع التصورات لإعادة التقسيم
                    الإداري وفقًا لمعايير موضوعية بما يؤدي إلى تكامل الأداء التنموي للمحليات وتعزيز الميزات التنافسية لها ودعم
                    التنمية المستدامة. </p>
                <h2>تجربة الإصلاح الإداري في اليمن:</h2>
                <p>عرفت الجمهورية اليمنية تطورًا كبيرًا في أدوار الدولة في المجالات الاقتصادية والسياسية، وأصبحت الدولة مطالبة
                    بالمزيد من المشاريع التنموية، رغم الأعباء والمتغيرات العالمية التي واجهتها.</p>
                <p>ولمواجهة الأحداث والمتغيرات فقد تبنت الجمهورية اليمنية الإصلاح الإداري في العام 1995م، حيـث اهتمـت الحكـومات
                    المتعاقبة بإعادة البناء المؤسسي، والعمل على تحديث وتطوير أجهزة الإدارة العامة، عن طريق تطوير الهياكل
                    التنظيمية، والسعي لتوصيف الوظائف، وإلغاء الازدواج، وإعطاء صلاحيات أكبر للسلطات المحلية، وتعزيز الديمقراطية
                    في تكوينها، وفي هذا الصدد أصدرت العديد من التـشريعات التي تضمن تحقيق عملية الإصلاح الإداري.</p>
                
                <p>وابتداءً من مارس عام 1995م بدأت الدولة في تنفيذ برنامج الإصلاح الإداري على مراحل عدة، اتخذت خلالها العديد من
                    الخطوات <a href="#11"><span><sup
                                title="شمسان، نبيل: تجربة إصلاح وتحديث نظام الإدارة العامة الجمهورية اليمنية، ورقة عمل مقدمة للملتقى العربي الثاني لتحديث القطاعات العامة في الوطن العربي، 24-25 مايو 2004 المنامة البحرين.">[11]</sup></span></a>،
                    أبرزها:</p>
                <ul>
                    <li>إيقاف عملية التوظيف الجديد، وإيقاف الابتعاث للدراسة في الخارج، والترشيد في الإنفاق من الموازنة العامة،
                        وتخفيض عدد العاملين في السفارات اليمنية في الخارج، ووقف التعاقدات الجديدة، وتخفيض عدد المدرسين غير
                        اليمنيين، وإحالة الكثير من الموظفين إلى التقاعد، وتخفيض عدد الوفود والحد من السفر إلى الخارج، والقيام
                        بعملية المسح الوظيفي، ومنح الرقم الوطني لموظفي الدولة.</li>
                    <li>كذلك جرى إعداد استراتيجية تحديث الخدمة المدنية عن طريق توفير البيانات والمعلومات عن التركيبة التنظيمية
                        والوظيفية للدولة، حيث جرى تنفيذ إحصاء مكتبي لموظفي الدولة، وعقد العديد من ورش العمل للاطلاع على تجارب
                        بعض الدول في مجال الإصلاح الإداري، والاستعانة بالعديد من الخبراء الدوليين، والمنظمة العربية للتنمية
                        الإدارية، وقد هذه الاستراتيجية على الوضع في العام 1997م للوقوف على نقاط الضعف والقوة والفرص والتهديدات؛
                        بهدف الوصول إلى العديد من النتائج التي تسهم في معالجة الاختلالات.</li>
                    <li>ومن أهم أهداف هذه الاستراتيجية إعادة بناء وهيكلة المرافق الحكومية، وتحسين نظام الأجور والمرتبات، ومهمة
                        إعداد الميزانية، وتطوير وتحديث نظام إدارة المـوارد البشـرية، وإعادة هيكلة نظام التوظيف العام، وتعزيز
                        الشفافية في الإجراءات.</li>
                    <li>ولتنفيذ برنامج تحديث الخدمة المدنية والإصلاح الإداري فقد بُنيت الأنظمة الآلية وقواعد البيانات الوظيفية،
                        عن طريق بناء ملف ثابت وملف متحرك لكل موظف، وتحديد الوثائق التي تحفظ في الملف ومكان حفظه، وكذا النزول
                        الميداني إلى الوحدات الإدارية كافة لمطابقة كشوفات الرواتب مع الملفات الوظيفية، مما أدى إلى حصـر شامل
                        للوحـدات الإداريـة والموظفين العاملين فيها، كما أنه أجري مسح ميداني لوحدات الجهاز الإداري للدولة
                        والتعداد الوظيفي والسجل العام. <br>
                        ولتنفيذ برنامج تحديث الخدمة المدنية والإصلاح الإداري فقد بُنيت الأنظمة الآلية وقواعد البيانات الوظيفية،
                        عن طريق بناء ملف ثابت وملف متحرك لكل موظف، وتحديد الوثائق التي تحفظ في الملف ومكان حفظه، وكذا النزول
                        الميداني إلى الوحدات الإدارية كافة لمطابقة كشوفات الرواتب مع الملفات الوظيفية، مما أدى إلى حصـر شامل
                        للوحـدات الإداريـة والموظفين العاملين فيها، كما أنه أجري مسح ميداني لوحدات الجهاز الإداري للدولة
                        والتعداد الوظيفي والسجل العام.
                    </li>
                    <li>ومن مسالك الإصلاح الإداري في اليمن، إعداد الاستراتيجية الوطنية للأجور والمرتبات في العام 2004م، التي
                        نفذت مع بداية العام 2005م حتى العام 2011م، ولم تستكمل عملية التنفيذ؛ نظرًا لما مرت به البلد من أحداث،
                        وتنفيذًا لذلك صدر القانون المنظم للوظائف والأجور والمرتبات رقم (43) لسنة 2005م، ولائحته التنفيذية في
                        العام 2006م.</li>
        
                </ul>
                <p>وبموجب هذه الاستراتيجية حُدد الحد الأدنى للأجور بمبلغ عشـرين ألف ريال، كما أنه جرى دمج البدلات العامة في إطار
                    الراتب الأساسي بعد حصـرها، كما أنـشئ صندوق الخدمة المدنية بموجب القانون رقم (1) لسنة 1999م وتعديله بالقانون
                    رقم (1) لسنة 2004م لمعالجة أوضاع العمالة الفائضة.</p>
                <p>هذه الإصلاحات الإدارية السابقة رافقها صدور العديد من التشـريعات الإدارية، سواء كانت قوانين أم قرارات، ومن ذلك
                    قانون الوظائف والأجور والمرتبات ولائحته التنفيذية، وقانون صندوق الخدمة المدنية ولائحته التنفيذية رقم (184)
                    لسنة 2004م، وقرار رئيس مجلس الوزراء رقم (4) لسنة 1998م بشأن إنشاء مكتب المنسق الوطني للإصلاحات الاقتصادية
                    والإدارية، والقرار الجمهوري رقم (1) لسنة 2004م بشأن نظام البطاقة الوظيفية، وقرار مجلس الوزراء رقم (164) لسنة
                    2002م بشأن الإجراءات الخاصة لتنظيف كشف الراتب من الموظفين المزدوجين، والتعميم رقم (1) بالإجراءات التنفيذية
                    لقرار مجلس الوزراء رقم (400) لسنة 2005م بشأن النقل إلى الهيكل العام للمرتبات والأجور.</p>
                <p>كما أنه خلال العام 2012م أصدر رئيس مجلس الوزراء القرار رقم (302) بشأن إصدار المدونة الخاصة بإعمال مبادئ الحكم
                    الرشيد في الخدمة العامة، الذي بموجبه ألزم الوزراء ورؤساء الجهات تطبيق مدونة الحكم الرشيد، وإجراء مراجعة
                    شـاملة للقوانـين والتشـريعات السارية لتطويرها بما يتوافق مع ما ورد في المدونة. </p>
                <p>إلا أن الظروف التي مرت بها اليمن منذُ ذلك التاريخ وما تعرضت له من عدوان خارجي قد أدى إلى عدم استكمال الإصلاح
                    الإداري، بل على العكس من ذلك أدى هذا العدوان والحصار وانقطاع المرتبات إلى وجود العديد من الاختلالات في
                    العديد من الأجهزة الإدارية ووحدات السلطة المحلية.</p>
                <p>مع ذلك تسعى حكومة الوفاق ورئاسة الجمهورية إلى إصلاح الأوضاع بشتى الطرق، حيث دشنت رئاسة الجمهورية في 26 مارس
                    2019م الرؤية الوطنية لبناء الدولة اليمنية الحديثة، وقد شكلت العديد من الفرق في مختلف الجهات للعمل على
                    تنفيذها.</p>
                <p>شملت الرؤية الوطنية المحاور كافة، التي يتطلبها الحكم الرشيد، بما في ذلك محور الإصلاح الإداري والبنـاء
                    المؤسـسي، حيث هدف محور الإصلاح الإداري إلى إعادة بناء وهيكلة الأجهزة الحكومية، واستكمال البناء التشـريعي
                    والتنظيمي في أجهزة الدولة، واعتماد مبدأ الجدارة والنزاهة في الاختيار والتعيين لشاغلي الوظائف العليا، وقد
                    وضعت لهذه الأهداف مبادرات عدة أهمها: بناء وتطوير الهياكل والأنظمة والآليات وإجراءات العمل. </p>
                <p>وفي إطار الإصلاح الإداري نشأت جهات رقابية على الإدارة، ففي العام 2007م أنشئت الهيئة الوطنية العليا لمكافحة
                    الفساد، بموجب قانون مكافحة الفساد رقم (39) لسنة 2006م، حيث هدف هذا القانون إلى إرساء مبدأ النزاهة والشفافية
                    في المعاملات الاقتصادية والمالية والإدارية بما يكفل تحقيق الإدارة الرشيدة، وكذا تفعيل مبدأ المساءلة وتعزيز
                    الدور الرقابي للأجهزة المختصة<a href="#12"><span><sup
                                title="المادة (3) من قانون مكافحة الفساد.">[12]</sup></span></a>.</p>
                <p>كما منح القانون هيئة الفساد صلاحية دراسة وتقييم واقتراح تطوير نظم التوظيف وتقديمها للجهات المختصة للأخذ بها؛
                    بهدف تحقيق مبدأ الكفاءة والجدارة والإبداع في تولي مناصب الوظيفة العامة، وتعزيز نظم الاختيار والتأهيل
                    والتدريب لشغل المناصب العامة، وتعزيز مبدأ الشفافية في الوظيفة العامة ومنع تضارب المصالح بين الوظيفة العامة
                    والقائمين بها<a href="#13"><span><sup title="المادة (21) من قانون مكافحة الفساد.">[13]</sup></span></a>.</p>
                <p>وللرقابة القضائية - أيضًا - دور في عملية الإصلاح الإداري في اليمن، حيث أنشـئت في العام 2010م محكمتان إداريتان
                    ابتدائيتان في أمانة العاصمة صنعاء ومحافظة عدن، بموجب قرار رئيس مجلس القضاء الأعلى رقم (177) لسنة 2010م، حيث
                    تختص المحكمة الإدارية بإعمال رقابتها على قرارات السلطة الإدارية، عن طريق دعوى الإلغاء، وهذه الرقابة تؤدي إلى
                    التزام الإدارة بالتشـريع؛ فتكون القرارات الصادرة عنها مشروعة.</p>
                <p>فتجربة الإصلاح الإداري في اليمن رافقها إصلاحات تشـريعية بدئًا بقرارات مجلس الوزراء المتعلقة بالإصلاحات
                    الإدارية التي كان لها دور بارز في تنظيم الإصـلاح الإداري، ثم التشـريعات القانونية الصادرة عن السلطة
                    التشـريعية والمتعلقـة بإنشاء صندوق دعم العمالة الفائضة في الخدمة المدنية، وكذلك منح سلطات واسعة للامركزية
                    الإدارية بموجب قانون السلطة المحلية، ووضع نظام خاص للوظائف والأجور التي نظمها قانون الوظائف والأجور، ثم وضع
                    تشـريعات وأجهزة رقابية تراقب مدى التزام الجهات الإدارية وموظفيها بالقوانين النافذة، وكل ذلك يصب في مصلحة
                    الإصلاح الإداري، ويبين أن كل ما جرى في عملية الإصلاح الإداري رافقها عملية إصلاح في التـشريعات الإدارية تُعد
                    مدخلًا حقيقيًا لتلك الإصلاحات.</p>
                <p>وعن طريق دراستنا لهذا المطلب نجد أن تجربة الإصلاح الإداري في اليمن لم تكتمل ولم تحقق أهدافها، حيث يظهر الواقع
                    استمرار الازدواج الوظيفي وعدم تنظيف كشوفات المرتبات من هذا الازدواج، كما أن التعيين في الوظيفة العامة لم يعد
                    مرتبطًا بشـروط شغل الوظائف، إضافة إلى ذلك لم تؤدي الاستراتيجية العامة للأجـور إلى رفع مسـتوى الموظف
                    المعيـشي، ولم تؤدِّ إلى تخفيف العبء عن الميزانية العامة، فذلك كله يؤكد بوضوح عدم فاعلية الإجراءات التي تمت
                    تحت مفهوم الإصلاح الإداري، وربما يعود ذلك إلى الصـراع السياسي والعسكري الذي مرت به اليمن، وهو ما نرى معه
                    قيام الحكومة بالتخطيط طويل الأمد لعملية إصلاح إداري مستقبلي، وفقًا للرؤية الوطنية لبناء الدولة اليمنية
                    الحديثة، على أن تتوقف عملية التوظيف العشوائية والتعيين في وظائف الإدارة العليا بالمخالفة للمعايير القانونية
                    كأساس لبدء عملية إصلاح إداري جديدة.</p>
            </div>
        </div>
        <div class="nested-ref">
            <h2 class="show-references">إخفاء المراجع</h2>
    <div class="refrences">
        <div class="first-ref-info">
            <h2>المراجع</h2>
        </div>
        <ul>
            <li id="1">أول قانون للخدمة المدنية في الشمال صدر سنة 1963م، وفي الجنوب صدر سنة 1972م. أنظر: شذان، محمد محسن:
                النظام التأديبي للموظف العام في اليمن دراسة مقارنة، أطروحة دكتوراه، جامعة القاهرة، 2014، هامش ص12.</li>
            <li id="2">المادة 2 من قانون الخدمة المدنية.</li>
            <li id="3">المادة 15 من قانون الخدمة المدنية.</li>
            <li id="4">المادة 16 من قانون الخدمة المدنية.</li>
            <li id="5">المادة 18 من قانون الخدمة المدنية.</li>
            <li id="6">المادة 8 من قانون نظام الوظائف والأجور والمرتبات.</li>
            <li id="7">المادة 9 من قانون نظام الوظائف والأجور والمرتبات.</li>
            <li id="8">المادة (4) من قانون السلطة المحلية.</li>
            <li id="9">قلامة، مرجع سابق، ص17 وما بعدها.</li>
            <li id="10">المواد (16، 38، 49، 52، 59) من قانون السلطة المحلية.</li>
            <li id="11">شمسان، نبيل: تجربة إصلاح وتحديث نظام الإدارة العامة الجمهورية اليمنية، ورقة عمل مقدمة للملتقى العربي
                الثاني لتحديث القطاعات العامة في الوطن العربي، 24-25 مايو 2004 المنامة البحرين.</li>
            <li id="12">المادة (3) من قانون مكافحة الفساد.</li>
            <li id="13">المادة (21) من قانون مكافحة الفساد.</li>
        </ul>
    </div>
        </div>
        <div class="show-some-studies">
            <h3 class="show-studies-h3">اقرأ أيضًا</h3>
            <a href="{% url 'reformmethodology' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/method1.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <span>3 مارس 2024</span>
                        <h3>منهجية الإصلاح الإداري</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'comprehensive_reform' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/fanicial.webp' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <span>23 سبتمبر 2023</span>
                        <h3>تقييم برنامج الإصلاح الاقتصادي والمالي والإداري الشامل في اليمن</h3>

                    </div>
                </div>
            </a>
            <a href="{% url 'evolution_of_public_administration' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/admini.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <span>5 أكتوبر 2024</span>
                        <h3>تطور الإدارة العامة في إطار حقل القانون الإداري</h3>

                    </div>
                </div>
            </a>
            <a href="{% url 'financial_reform_in_countries' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/gold.webp' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <span>20 يناير 2024</span>
                        <h3>تجارب بعض الدول في مجال الإصلاح المال</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'malaysia_study' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/maly2.webp' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <span>1 يونيو 2024</span>
                        <h3>تجربة ماليزيا في الإصلاح الإداري</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'future_fo_reforming_administrative_law_in_yemen' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/fix2.webp' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <span>14 سبتمبر 2024</span>
                        <h3>الرؤية المستقبلية لإصلاح القانون الإداري في اليمن</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'future_of_financial_reform_in_yemen' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/tagarb9.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <span>6 يناير 2024</span>
                        <h3>رؤية مستقبلية للإصلاح المالي في اليمن</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'role_of_the_private_sector_in_world' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/test.png' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <span>23 ديسمبر 2023</span>
                        <h3>تجارب عالمية وإقليمية لدور القطاع الخاص</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'legislative_reform_in_the_world' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/repair4.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <span>2 نوفمبر 2024</span>
                        <h3>تجارب عربية وغربية للإصلاح التشريعي</h3>
                    </div>
                </div>
            </a>

            <a href="{% url 'implementing_e-government' %}" class="study-item">
                <div class="study-info-show last-one">
                    <div class="image-card">
                        <img src="{% static 'imgs/egoven.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <span>11 نوفمبر 2023</span>
                        <h3>عوامل نجاح أو فشل تنفيذ الحكومة الإلكترونية</h3>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <h2 class="show-references">إخفاء المراجع</h2>
    <div class="refrences">
        <div class="first-ref-info">
            <h2>المراجع</h2>
        </div>
        <ul>
            <li id="1">أول قانون للخدمة المدنية في الشمال صدر سنة 1963م، وفي الجنوب صدر سنة 1972م. أنظر: شذان، محمد محسن:
                النظام التأديبي للموظف العام في اليمن دراسة مقارنة، أطروحة دكتوراه، جامعة القاهرة، 2014، هامش ص12.</li>
            <li id="2">المادة 2 من قانون الخدمة المدنية.</li>
            <li id="3">المادة 15 من قانون الخدمة المدنية.</li>
            <li id="4">المادة 16 من قانون الخدمة المدنية.</li>
            <li id="5">المادة 18 من قانون الخدمة المدنية.</li>
            <li id="6">المادة 8 من قانون نظام الوظائف والأجور والمرتبات.</li>
            <li id="7">المادة 9 من قانون نظام الوظائف والأجور والمرتبات.</li>
            <li id="8">المادة (4) من قانون السلطة المحلية.</li>
            <li id="9">قلامة، مرجع سابق، ص17 وما بعدها.</li>
            <li id="10">المواد (16، 38، 49، 52، 59) من قانون السلطة المحلية.</li>
            <li id="11">شمسان، نبيل: تجربة إصلاح وتحديث نظام الإدارة العامة الجمهورية اليمنية، ورقة عمل مقدمة للملتقى العربي
                الثاني لتحديث القطاعات العامة في الوطن العربي، 24-25 مايو 2004 المنامة البحرين.</li>
            <li id="12">المادة (3) من قانون مكافحة الفساد.</li>
            <li id="13">المادة (21) من قانون مكافحة الفساد.</li>
        </ul>
    </div>
</div>
{% endblock %}