{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="first-page">
    <a href="#img-id" class="hidden-row"><i class="fa-solid fa-arrow-up-long"></i></a>
    <!-- <h1>الحياة في اليمن</h1> -->
    <img src="{% static 'imgs/fix3.png' %}" alt="" id="img-id">
    <p class="p-img">ماهية الإصلاح الإداري</p>
    <div class="info">
        <span>تم النشر في</span><i class="fa-solid fa-calendar"></i><span>25 نوفمبر 2023</span><span class="pub">أ.د فارس محمد عبد القادر القادر</span>
    </div>
    <div class="full-text">
        <h2>‌أ- تعريف الإصلاح الإداري:</h2>
        <p>يُعرف الإصلاح بشكل عام أنه: «تغيير قواعد عمل النظام المجتمعي ومعالجة القصور والاختلال الذي يعيق التنمية
            والنهوض بالمجتمع في جميع النواحي»<span><sup
                    title="بن مرسلي، رفيق: الأساليب الحديثة للتنمية الإدارية بين حتمية التغيير ومعوقات التطبيق، رسالة ماجستير، جامعة الجزائر، 2011، ص 24.">[1]</sup></span>.
        </p>
        <p>أما الإصلاح الإداري فهو: «تكييف البنية الإدارية وأنشطتها مع مهام الدولة»<span><sup
                    title="حيدر، عفيف. وصباح هاشم: الإدارة العامة، منشورات جامعة دمشق، 2007، ص295.">[2]</sup></span>،
            وقيل هو: الأسلوب التدريجي
            المرحلي والمنظم لتنظيم جهاز الدولة"<span><sup
                    title="رشيد، أحمد: الإدارة العامة في الدول النامية، دار النهضة العربية، القاهرة، 1979، ص100.">[3]</sup></span>،
            كما عرف مؤتمر الإصلاح الإداري في الدول النامية الذي عقدته الأمم
            المتحدة في جامعة ساسكي البريطانية عام 1971م الإصلاح الإداري أنه: «حصيلة المجهودات ذات الإعداد الخاص التي
            تستهدف إدخال تغييرات أساسية في المنظمة الإدارية العامة من خلال إصلاحات على مستوى النظام جميعه أو على الأقل
            من خلال معايير لتحسين واحدة أو أكثر من عناصرها الرئيسة مثل الهياكل الإدارية والموارد البشـرية والعمليات
            الإدارية».</p>
        <p>ويتبين عن طريق هذه التعريفات أن الإصلاح الإداري يقصد به التغيير المخطط له في الأجهزة الإدارية للدولة بهدف
            تحسين مستوى الأداء الحكومي.</p>
        <h2>‌ب- أسباب وعوامل الإصلاح الإداري<span><sup
                    title="لعرابي، كريمة: الإصلاح الإداري من منظور الإدارة العامة الحديثة - نظرة تحليلية ونقدية، مجلة البحوث السياسية والإدارية، العدد 3، الجزائر، 2013، ص61.">[4]</sup></span>:
        </h2>
        <p>هناك العديد من العوامل التي تُعد أسبابًا للإصلاح الإداري، منها:</p>
        <ol>
            <li>العامل الاقتصادي: يتمثل ببطء النمو الاقتصادي ونقص الموارد المالية المخصصة للإدارة العامة، الأمر الذي جعل
                الإدارة تتخلى عن بعض الأنشطة الاقتصادية التقليدية؛ لكي تتكيف مع العالم الجديد والمنافسة الدولية.</li>
            <li>العامل التكنولوجي: أدى إلى إدخال وسائل حديثة في مجال الخدمة العامة؛ لذا لم تعد الوسائل الإدارية القديمة
                قادرة أو مناسبة للتعامل مع المستجدات، فاقتضت الضـرورة تطوير أساليب العمل للاستفادة من الابتكارات العلمية
                في مجال التكنولوجيا.</li>
            <li>العامل الاجتماعي: حصول تغيرات كبيرة في تطلعات المواطنين والموظفين في الإدارة.</li>
            <li>العامـل المؤسـسي: نتيجـة لدخـول الدولة في المحيـط الدولي المفتوح وانتهاجها للامركزية الإدارية أدى إلى
                ضرورة تغيير الهياكل التنظيمية للإدارة وطرق عملها.</li>
            <li>الفساد الإداري: يُعد الفساد الإداري من أهم دواعي الإصلاح الإداري، وللفساد مظاهر عدة، منها: الرشوة،
                استغلال النفوذ، الاختلاس، التسيب الوظيفي للعاملين، الوساطة والمحسوبية.</li>
        </ol>
        <h2>ج- أهداف الإصلاح الإداري<span><sup
                    title="البحيري، سامي محمود أحمد: مداخل الإصلاح الإداري - التطوير التنظيمي والتدريب وتقييم الأداء، رسالة ماجستير، الأكاديمية العربية البريطانية، لندن، 2011، ص41.">[5]</sup></span>:
        </h2>
        <p> يسعى الإصلاح الإداري إلى تحقيق أهداف عدة، منها:</p>
        <ul style="list-style: square;">
            <li>ترشيد الإنفاق الحكومي والتركيز على اقتصاديات التشغيل عن طريق تخطيط حجم الأجهزة الحكومية والأعداد الزائدة
                من الموظفين.</li>
            <li>تنمية وتطوير أجهزة الدولة مما يجعلها مستعدة لتقبل التغييرات والتحديات الدولية.</li>
            <li>رفع كفاءة العاملين في القطاع العام والحصول على إدارة كفاءة وفاعلية تحقق رفع الإنتاجية وتحسين الجودة.
            </li>
            <li>تحسين أساليب التعامل مع المواطنين وتعزيز مفهوم الاستجابة لمطالبهم.</li>
            <li class="ws2">محاربة الفساد، والعمل على توفير الموارد المالية للإدارة وإصلاح الأنظمة المالية وتبسيط
                الإجراءات.</li>
            <li class="ws4">التغلب على المشكلات السياسية والاقتصادية والتنموية والتنظيمية التي تعاني منها الإدارة
                واقتراح الحلول.
            </li>
        </ul>
    </div>
    <!-- <hr>
    <div class="publisher-name">
        <h1>الباحث:</h1>
        <h2>أ.د فارس محمد عبدالقادر القادر</h2>
    </div> -->
</div>
{% endblock %}