{% extends 'base.html' %}
{% load static %}
{% block title %}الكتب{% endblock %}

{% block content %}
<div class="container">
    <h1 class="spe-h1 book">الكتب</h1>
    <div class="tow-books">
        <div class="daw">
            <a href="#">
                <div class="card download">
                    <img src="{% static 'imgs/Book A.jpg' %}" alt="">
                    <div class="daw-info">
                        <p>رقم الإيداع بالهيئة العامة للكتاب (2023/449)</p>
                        
                    </div>
                    <a href="{% url 'download_file' %}" class="download">
                        <i class="fas fa-download"></i> تحميل الكتاب
                    </a>
                    
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock %}