{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <h1 class="spe-h1 book">الكتب</h1>
    <!-- <div class="books">
        <div class="book-card">
            <img src="{% static 'imgs/stu.png' %}" alt="">
            <div class="book-info">
                <h2>رقم الإيداع بالهيئة العامة للكتاب</h2>
                <span>(2023/449)</span>
            </div>
        </div>
    </div> -->
    <div class="tow-books">
        <div class="daw">
            <a href="{% url 'patrols' %}">
                <div class="card">
                    <img src="{% static 'imgs/Book 2.jpg' %}" alt="">
                    <div class="daw-info">
                        <p>رقم الإيداع بالهيئة العامة للكتاب (2023/449)</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock %}