{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="top-of-study">
        <a href="{% url 'index' %}">المركز التأسيسي</a>/<a href="{% url 'studies' %}">الدراسات</a>/<span>سياسة الإصلاح والانفتاح في الصين</span>
    </div>
   
    <div class="studies-flex">
        <div class="first-page">
            <div class="controls">
                <button id="increaseFont">تكبير الخط</button>
                <button id="decreaseFont">تصغير الخط</button>
            </div>
            <a href="#img-id" class="hidden-row"><i class="fa-solid fa-arrow-up-long"></i></a>
            <!-- <h1>الحياة في اليمن</h1> -->
            <p class="p-img">سياسة الإصلاح والانفتاح في الصين</p>
                <div class="date-info">
                    <span></span><span>15 نوفمبر 2023 </span>
                </div>
                <span class="pub">د/ نبيل أحمد الدرويش</span>
            <img src="{% static 'imgs/china.jpeg' %}" alt="" id="img-id">
            <div class="full-text">
        
                <p>بالرغم من أن الصين كانت تعد أحد أركان المنظومة الاشتراكية العالمية التي قادها الإتحاد السوفيتي - قبل انهياره
                    -
                    لعقود عديدة من القرن الماضي، إلا أن "الحزب الشيوعي" الحاكم في الصين تنبأ منذ وقت مبكر بالخطر المستقبلي الذي
                    قد
                    يلم بدولته العظمى في حال استمرت حالة الانغلاق السياسي والاقتصادي التي تعيشها والتي فرضتها عليها الاشتراكية
                    التقليدية، لا سيما في ظل وجود عالم منفتح ومتغير تقوده رأسمالية غربية قائمة على اقتصاد السوق.</p>
                <p>لذلك سعت الصين إلى إيجاد طريق التحديث الاشتراكي الذي يتناسب مع ظروفها الوطنية ومتطلبات العصـر في آن واحد.
                    وبالرغم من الصعوبات الجمة التي واجهتها، إلا أن الصين عملت على مواكبة العصـر واستخلاص الدروس والاستفادة من
                    تجارب الأمم الأخرى في تحقيق التنمية، ومواصلة تعميق الفهم لقوانين التطور الاجتماعي البشـري، بما يدفع التحسن
                    الذاتي والتنمية باستمرار. ووجدت الصين الطريق التنموي الذي يتمشـى مع ظروفها وخصائصها الوطنية، وتبنت ما يعرف
                    بسياسة "الإصلاح والانفتـاح" للمـضي قدمـًا في هذا الطريق. وقد أدرك الحزب الحاكم بعمق أنه من الضـروري قيادة
                    تطوير أعماله بالابتكار النظري ليتمكن من خلق وضع جديد لتنفيذ سياسة "الإصلاح والانفتاح" وبناء ما وصفه بـ
                    "التحديث الاشتراكي"<a href="#1"><span><sup
                                title="قرار اللجنة المركزية للحزب الشيوعي الصيني حول المنجزات المهمة والتجارب التاريخية في كفاح الحزب الممتد لمائة عام، موقع الصين النظرية، 23/11/2023، متاح على الرابط: https://2u.pw/ThMycN1">[1]</sup></span></a>.
                </p>
                <p>بدأ الحزب الحاكم بتطبيق سياسة "الإصلاح والانفتاح" في عام 1978م، وقد أُعتبرت هذه السياسة بمثابة ثورة ثانية في
                    هذا البلد، مكنته من إحداث تطور كبيرًا في شتى المجالات، وبفعلها تعاظمت القوة الشاملة للصين وأوصلتها إلى
                    المرتبة السابعة في العالم من حيث قوة الاقتصاد، الأمر الذي أثار اهتمام الباحثين والخبراء المختصين للاطلاع على
                    هذه السياسة الإصلاحية وتحليلها بالدراسة والبحث. </p>
                <p>تمثلت المهمة الرئيسية التي واجهها الحزب في المرحلة الجديدة من الإصلاح والانفتاح وبناء التحديث الاشتراكي في:
                    (مواصلة استكشاف أفضل الطرق لبناء الاشتراكية الحديثة في الصين، وتحرير وتطوير القوى المنتجة الاجتماعية وتخليص
                    أبناء الشعب من الفقر وتمكينهم من الثراء في أسرع الآجال) وذلك لتوفير الضمان المؤسسي الفاعـل والمتجـدد وتهيئـة
                    الظروف المادية للنهضة والتنمية السريعة للأمة الصينية.</p>
                <p>لم يكن التحول إلى سياسة "الإصلاح والانفتاح" بالأمر اليسير، فقد تطلب ذلك القيام بـما عرف بـ "الثورة الثقافية
                    الكبرى"<a href="#2"><span><sup
                                title="هي الثورة التي أعلنها الرئيس 'ماو تسي تونغ' خلال الفترة (1966- 1976م) ودعا الشباب بالانضمام إليها والقيام بالانقلاب على الزعامة الشيوعية في البلاد والتي اخترقها ممثلي 'البرجوازية'، وقد استجاب لدعوته آلاف من الشباب الذين عُرفوا فيما بعد باسم الحرس الأحمر.. أنظر: احياء ذكرى الثورة الثقافية في الصين بي بي سي، موقع واي باك مشين، 03 سبتمبر 2012، متاح على الرابط:  https://2u.pw/sauqZyg">[2]</sup></span></a>،
                    وعقب هذه الثورة وفي اللحظة التاريخية الحاسمة؛ أدرك الحزب أن تنفيذ "الإصلاح والانفتاح" وحده هو
                    السبيل الوحيد، وإلا فإن مصير التحديث المستهدف سيكون مصيره الفشل.</p>
                <p>وبناء على ما تقدم، يتطلب الإلمام بأبرز تفاصيل سياسة "الإصلاح والانفتاح" التي تبنتها جمهورية الصين الشعبية
                    معرفة أهدافها الاستراتيجية(أولًا)، ومرتكزاتها (ثانيًا)، ثم أبرز انجازاتها(ثالثًا)، وتحدياتها (رابعًا)، ومن
                    الأهمية التطرق إلى بعض انعكاسات سياسة الإصلاح والانفتاح الصيني على العالم (خامسًا)، واخيرًا، نختم ببعض
                    الدروس المستفادة من النموذج الإصلاحي الصيني ومدى ملاءمتها للتطبيق في الحالة اليمنية(سادسًا). </p>
                <h2>أولًا: الأهداف الاستراتيجية لسياسة الإصلاح والانفتاح</h2>
                <p>قامت سياسة "الإصلاح والانفتاح" على نظريات الحزب الحاكم الأساسية و"برنامجه الإصلاحي الشامل الأساسي"، الذي يدعو
                    إلى الأهداف الاستراتيجية التالية: <a href="#3"><span><sup
                                title="قرار اللجنة المركزية للحزب الشيوعي الصيني...، مرجع سابق.  ">[3]</sup></span></a></p>
                <ul>
                    <li>التمسك بالفكر المنهجي.</li>
                    <li>التخطيطات الإستراتيجية. </li>
                    <li>التحول نحو نمط تنموي عالي الجودة، من خلال فكر تنموي جديد.</li>
                    <li>تعميق الإصلاح على نحو شامل.</li>
                    <li>تعزيز الرخاء المشترك للجميع، ومتابعة تحسين معيشة الشعب في عملية التنمية.</li>
                    <li>الاعتماد على الذات وتقويتها في مجال العلوم والتكنولوجيا. </li>
                    <li>تطوير الديمقراطية الشعبية بعملياتها الكاملة.</li>
                    <li>ضمان سيادة الشعب للدولة.</li>
                    <li>حكم الدولة وفقا للقانون على نحو شامل. </li>
                    <li>التعايش المنسجم بين الإنسان والطبيعة.</li>
                    <li>التخطيط الشامل لقضيتي التنمية والأمن.</li>
                    <li>تسريع عصرنة الدفاع الوطني والجيش.</li>
                    <li>تحقيق رخاء أبناء الشعب وتقوية الدولة وازدهارها وجعل الصين جميلة.</li>
        
                </ul>
                <h2>ثانيًا: مرتكزات سياسة الإصلاح والانفتاح</h2>
                <p>فرض النموذج الاشتر اكي في الصين وغيرها من الدول المنضوية في إطار المنظومة الاشتراكية عموما، تخطيط وإدارة
                    الاقتصاد القـومي مـن قبـل الدولـة فقط، الأمر الذي جعل الحكومـة تتـدخل بصـورة مفرطـة فـي أدق تفاصـيل الأنشـطة
                    الاقتصـادية والاجتماعيـة، وترتب على ذلك إنشـاء إدارات حكوميـة مـن أجـل إدارة الإنتاجيـة وتقـديم جميع
                    الخدمات، وهو ما أدى إلـى تضـخم حجم الهيكل الإداري للدولة ومن ثم تضخم حجم الكادر البشري الحكـومي<a
                        href="#4"><span><sup
                                title="عثمان، فتحي أحمد. وآخرون: تجارب عالمية مختارة في الإصلاح الإداري- دراسة حالات خمس دول آسيوية، المنظمة العربية للتنمية الإدارية، تراجم مختارة، القاهرة، 1998.">[4]</sup></span></a>.
                    وفي ضوء
                    ذلك، سعت السلطة في الصين إلى تبنى سياسة الإصلاح والانفتاح مستندة إلى المرتكزات التالية:</p>
                <h2 class="special-title">1- تطبيق فلسفة اللامركزية:</h2>
                <p>إلى حد كبير، اعتمدت الحكومة الصينية علــى فلســفة اللامركزيــة وتقلــيص صــلاحيات الحكومــة المركزيــة،
                    واكتفاء الحكومــة المركزيــة بالتخطيط التأشيري على أن تترك لإدارات المشروعات العامـة والأجهـزة المحليـة
                    مسـئولية التخطـيط والتنفيـذ والمتابعـة، بحيـث تركـز الإدارات الحكومية المركزية على نتائج الأداء العام
                    والرقابة عن بعد والمساءلة الإدارية<a href="#5"><span><sup title="الخضر، على إبراهيم: الإصلاح الإداري: الواقع والمتطلبات- نموذج مقترح للإصلاح الإداري في سورية، متاح على الرابط:  https://2u.pw/WTNNZpS     
                         ليساوي، طارق، اللامركزية المالية في الانفاق على السلع العامة.. الصين نموذجًا، موقع صحيفة الراي العام، 13/ أوت- أغسطس/ 2017، متاح على الرابط: https://2u.pw/iMPraXy</a>
                        ">[5]</sup></span></a>.</p>
                <p>وفي هذا السياق، يشير البعض إلى أن الصين تعد واحدة من أكثر بلدان العالم لامركزية، لا سيما من حيث اللامركزية
                    المالية، وعلى وجه التحديد في مجالات (التعليم، والصحة، والضمان الاجتماعي)، مع التأكيد على أن اللامركزية
                    المالية في الصين قادت إلى زيادة الكفاءة الاقتصادية في توزيع الموارد العامة<a href="#6"><span><sup
                                title="ليساوي، طارق، اللامركزية المالية في الانفاق على السلع العامة.. الصين نموذجًا، موقع صحيفة الراي العام، 13/ أوت- أغسطس/ 2017، متاح على الرابط: https://2u.pw/iMPraXy">[6]</sup></span></a>.
                    هذا الأمر يكشف أن السياسات
                    التي تحكم تقديم الخدمات العامة تتأثر أكثر بالظروف المحلية والإقليمية، بل ويمكن أن تكون القرارات والسياسات
                    المتخذة محليًا أكثر فعالية في تشجيع النمو، خلافا للسياسات المعتمدة مركزيا والتي تتجاهل الاختلافات الجغرافية.
                </p>
                <h2 class="special-title">2- الفصل بين مهام الحكومة ومهام القطاع الخاص:</h2>
                <p>ارتكز مفهــوم الإصــلاح والانفتاح الصــيني بشكل أساسي علــى فصــل مهــام الحكومــة عــن تلــك المهــام
                    الخاصــة بتشــغيل المؤسســات الصـناعية والتجاريـة، وتحويـل الإدارة الحكوميـة مـن الشـئون الصـغيرة إلـى
                    السياســات العامـة، وبـذلك فـإن الحكومـة المركزيـة والحكومــات المحليــة لا تمــارس أيــة إدارة مباشــرة
                    علــى المؤسســات، حيــث تتمتــع فقــط بحقــوق المالــك فــي رأس المــال الــذي يستثمره في المؤسسات<a
                        href="#7"><span><sup
                                title="هيجان، عبد الرحمن أحمد: إصلاح الإدارة العامة في آسيا، مكتبة الملك فهد الوطنية، الرياض، 2001.">[7]</sup></span></a>.
                </p>
                <p>ويلاحظ أن الصين اتجهت بشــكل جــاد منـذ العــام 1990، نحــو تنفيــذ برنــامج كبيــر للإصــلاح الاقتصــادي في
                    إطار سياسة "الإصلاح والانفتاح"، ســمح للشركات الصناعية الكبرى بعقد صفقات التصدير والاحتفاظ بالجانب الأعظم من
                    عوائد صادراتها، وكـذلك تكـوين 14منطقـة حـرة<a href="#8"><span><sup
                                title="رشيد، احمد: إعادة اختراع وظائف وإدارة الحكومة، دار النهضة العربية، القاهرة، 1996.">[8]</sup></span></a>.
                    ومـن ثـم أخـذت الصـين منـذ عـام 1992 فـي العمـل علـى تحويـل
                    مهـام الحكومـة نحـو مواجهـة عقبـات الاقتصاد الموجه، مع فصل إدارة المؤسسات العامة عن الحكومة<a
                        href="#9"><span><sup title="هيجان، مرجع سابق.">[9]</sup></span></a>. لذا بدأت
                    الصين في العـام نفسه بتنفيـذ إصلاحات إدارية تعمل على إرساء نظام إداري حكومي يتوافق على ما يطلق الصينيون عليه
                    "اقتصاد السـوق الاشـتراكي المفتوح"، ويساعد في ذات الوقت على تنفيذ السياسات الاقتصادية الجدي <a
                        href="#10"><span><sup title="عثمان، مرجع سابق.">[10]</sup></span></a>، وهي سياسات
                    أكثر انفتاحا على السوق المحلي والأجنبي.</p>
                <h2 class="special-title">3- انتهاج "الطريق الثالث"</h2>
                <p>في مجال السياسات الاقتصادية والتنموية المختلفة للدول، ظهر ما يعرف بـ "الطريق الثالث" بقـوة فـي أواخـر
                    التسـعينيات مـن القـرن العشـرين، ويقصد به التعبير عن تـدخل الحكومـة فـي الاقتصـاد عبـر طريـق وسـط بـين
                    الرأسمالية الليبراليـة والاشـتراكية التقليدية، وهو ما قامت به الصين من أجل تجاوز حالة الانغلاق الاقتصادي
                    الذي كانت تعاني منه، وقد نجحت الصين في إثبات نجاعة هذا الطريق، والهمت بعض الدول الغربية في اتباعه، إلى درجة
                    أنه أخـذ بـه كل من (الرئيس الأمريكي بيـل كلينتـون، ورئـيس وزراء بريطانيـا تـوني بليـر) فـي أواخـر تسـعينيات
                    القـرن العشـرين بعـد أزمـات اقتصـادات السوق الحـر<a href="#11"><span><sup
                                title="Wikipedia, 2012">[11]</sup></span></a>.</p>
                <h2 class="special-title">4- الاعتماد على التنمية المنفتحة: </h2>
                <p>تعلمت الصين من تجربتها السابقة أنها لا تستطيع تطوير نفسها وراء باب مغلق. لذلك هي تقوم بالإصلاح الداخلي
                    والانفتاح على الخارج في آن واحد، وتحرص على الالتزام بكل من الاستقلال والمشاركة في العولمة الاقتصادية
                    والاستفادة من التقاليد الصينية الأصيلة وجميع الإنجازات للحضارات الأخرى. كما تسعى إلى دمج السوق المحلي مع
                    الأسواق الدولية واستخدام كل الموارد المحلية والخارجية واتخاذ موقف منفتح لدمج الصين مع بقية العالم، إضافة إلى
                    توسيع وتعميق إستراتيجية الانفتاح، وتعزيز التواصل والتعاون مع بلدان العالم لبناء نظام اقتصادي منفتح يضمن
                    تفاعلا أفضل مع الاقتصاد العالمي ويتميز بأمنه وكفاءته على أساس المنفعة المتبادلة والفوز المشترك<a
                        href="#12"><span><sup
                                title="الكتاب الأبيض حول التنمية السلمية في الصين (النص الكامل): مكتب الإعلام التابع لمجلس الدولة، الصين، موقع وزارة الخارجية الصينية، 2011، متاح على الرابط: https://2u.pw/QKaImq">[12]</sup></span></a>.
                    وبحسب
                    مؤشرات النجاح التي تحققها الصين من انفتاحها على الاقتصاد العالمي فإن ذلك سيدفعها إلى مزيد من الانفتاح على
                    الخارج.</p>
                <h2 class="special-title">5- دعم الاقتصاد للوظيفة الرقابية. </h2>
                <p>تؤكد سياسة الإصلاح والانفتاح علـى تحويـل جزء من موارد الوظـائف الاقتصـادية للحكومـة لدعم وضـع القواعـد
                    الرقابيـة وإقامـة البنيـة الأساسـية وإيجاد البيئـة المناسـبة للتنميـة الاقتصـادية، وإنشاء إدارات حكوميـة
                    تعزز قـدرات الدولـة فـي الرقابة والضبط الكلي والمحكم لمختلف الأنشطة، مع التركيز بشكل خاص على إصلاح وتحسـين
                    نظـام المؤسسـات المسـئولة عن إدارة القضايا والمسائل الاجتماعية، مثل التعليم والثقافة والرفاهة الاجتماعية،
                    وتعزيز عملية المساءلة في هذا الشأن<a href="#13"><span><sup
                                title="Xiangren, Kong. China’s Perspective in Administrative Reform, 2009.">[13]</sup></span></a>.
                </p>
                <h2 class="special-title">6- تبسيط إجراءات التراخيص الحكومية.</h2>
                <p>تضمنت سياسة الإصلاح والانفتاح في الصين حزم وبرامج إصلاحية ناجعة استهدفت النظم والاجراءات التي كانت قائمة،
                    وسهلت إصدار التـراخيص الحكوميـة للأفـراد والمنشـآت للبـدء فـي ممارسة أنشـطتهم الاستثمارية والخدمية، ويعد
                    قـانون "التـراخيص الإداريــة الصادر عـام 2003 نموذجا فاعلا في تبسيط إجراءات الحصول على هذه التراخيص، والحد
                    من سـوء اسـتخدام السـلطة الإداريـة<a href="#14"><span><sup title="Ibid.">[14]</sup></span></a>. وبالتالي،
                    فإن ذلك يعد اتجاها
                    نحو خصخصة الإدارة مع الاحتفاظ بالملكية،
                    دون التحول إلى اقتصاد السوق بالمعنى الشائع من سيادة الملكية الخاصة وأمور أخرى مماثلة، لذا أطلق عليه الصينيون
                    وصف اقتصاد السوق الاشتراكي المنفتح. </p>
                <p>في هذا السياق، يشير بيان اجتماع مجلس الدولة الصيني، إلى أن الصين شهدت تأسيس أكثر من 20 مليون كيان سوق جديد
                    حتى نهاية العام 2020م، رغم الظروف شديدة الصعوبة، ما حدَّ بدرجة كبيرة من هبوط مستوى أداء السوق وحافظ على
                    مستوى عال من الحيوية، الأمر الذي لم يكن ليتحقق لولا التحسين المتواصل في عملية تبسيط الإجراءات الإدارية ودعم
                    العملية التنظيمية في الحصول على التراخيص الحكومية<a href="#15"><span><sup
                                title="الصين تمضي قدما في تحسين بيئة الأعمال عبر تبسيط الإجراءات: موقع (ARAB.NEWS.CN)، 2016-01-22، متاح على الرابط:   http://arabic.news.cn/2021-01/05/c_139641528.htm">[15]</sup></span></a>.
                    هذا الأمر ينطبق على كثير من الأنشطة الأخرى بما فيها
                    الخدمات العامة للمواطنين.</p>
                <h2 class="special-title">7- تطبيق فلسفة الخدمة العامة الجديدة.</h2>
                <p>تقوم فلسفة حركة الخدمة العامة الجديدة، على المبادئ الموضحة فيما يلي: <a href="#16"><span><sup title="Denhardt, Janet V. and Robert B. Denhardt. (2009). Public Administration: An Action
                    Orientation. 6th Ed. Belmont, USA: Thomson Wadsworth.
                    ">[16]</sup></span></a></p>
                <ul>
                    <li>خدمــة المــواطنين ولــيس الزبــائن، كمــا فــي مدرســة الإدارة العامــة الجديــدة، حيــث تعمــل الإدارة
                        الحكوميــة علــى مســاعدة المواطنين على الإعلان عن مصالحهم وتحقيقها.</li>
                    <li>السعي إلى إيجاد القيم المشتركة والمصلحة العامة.</li>
                    <li>توجيه السياسات العامة نحو تحقيق الحاجات العامة من خلال التعاون مع مختلف الأطراف في المجتمع.</li>
                    <li>الوصول إلى المصلحة العامة من خلال حوار عام حول القيم المشتركة بدلا من المصالح الخاصة.</li>
                    <li>يتعين على الموظفين العموميين التوجه نحو العناية بالتشـريعات والقانون الدستوري والقيم المجتمعيـة
                        والمعـايير السياسـية والمعايير المهنية ومصالح المواطنين.</li>
                    <li>يـرتبط نجـاح المنظمـات العامـة والشـبكات التـي تشـارك فيهـا بدرجـة كبيـرة بممارسـة عملياتهـا مـن خـلال
                        التعـاون والقيـادة لمشتركة، بشكل يحترم جميع الأفراد.</li>
                    <li>تتحقـق المصـلحة العامـة بدرجـة كبيـرة مـن خـلال التـزام المـوظفين العمـوميين والمـواطنين بالعمـل علـى
                        تقـديم مســاهمات مهمة للمجتمع.</li>
                </ul>
                <h2>ثالثًا: إنجازات الإصلاح والانفتاح في الصين</h2>
                <p>بالرغم من أن الإصلاحات في الصين حققت منذ مراحلها الأولى ارتفاعاً ملحوظاً في مؤشرات التنمية وفي مستوى الممارسة
                    الديمقراطية والحوكمة، إلا أن مرحلة "التحديث الخامس" التي قادها الرئيس الحالي "شي جين بينغ" شهدت قفزات نوعية
                    في كافة مؤشرات التنمية الصينية. لقد ركز على أهم ما يشغل تفكير الشعب وأهم ما يتطلع إليه، ومنح الشعب شعورا
                    أقوى بالرضا، وعمل على إيجاد أرضية مشتركة مع العالم. </p>
                <p>لقد رأى "شي" أن الإصلاح يجب أن يوازن بين عدة أزواج من العلاقات (تحرير العقل، والسعي نحو الحقيقة) و (التقدم
                    الشامل، والاختراقات في المجالات الرئيسية). واعتبر مبدأ "القيادة عبر العمل" مبدًأ أساسيًا في عملية الإصلاح
                    والانفتاح، حيث ترأس المجموعة القيادية لتعميق الإصلاح الشامل، كما ترأس مجموعة من اللجان رفيعة المستوى في
                    مجالات مثل (الحوكمة القائمة على القانون، والشؤون الخارجية، والأمن الالكتروني والمعلوماتية)، وقد مكنه ذلك من
                    إجراء مناقشات مباشرة مع العاملين في مختلف المجالات والاطلاع على الأوضاع الفعلية القائمة بشكل أفضل. بذلك قاد
                    "شي" عملية الإصلاح على جبهات عدة من أجل تحقيق إنجازات في: تضييق الفجوات بين السكان في الحضر والريف، وتقليص
                    الإنفاق الحكومي، والقضاء على طغيان المصالح الخاصة. </p>
                <h2 class="special-title">1- على المستوى السياسي. </h2>
                <p>فور تطبيق سياسة "الإصلاح والانفتاح" اتجهت الصين لبناء الدولة والسلطة على قدر من الأسس الديمقراطية، حيث اتسع
                    دور المجلس الوطني لنواب الشعب الصيني والمجلس السياسي الاستشاري للشعب الصيني أكثر فأكثر، ومارس المجلس الوطني
                    لنواب الشعب الصيني وظيفة الهيئة العليا لسلطة الدولة بصورة تامة، وسرّع في الوقت نفسه مسيرته الديمقراطية. ولأن
                    تحديث البلاد غير ممكن من دون ديمقراطية، فقد لوحظ أن قطار الديمقراطية أخذ طريقه السليم وبدأ يتقدم شيئًا فشيئا
                    في الصين التي تجري فيها عمليات التحديث.</p>
                <p>كان المجلس الوطني لنواب الشعب الصيني يجيز القرار "بالإجماع" في كل مرة تقريبا، دون أي خلاف في الرأي. لكن في
                    السنوات الأخيرة حدث ما لم يتوقعه الناس، إذ لم يجدوا طيلة فترة المؤتمر أي قرار من قرارات المؤتمر قد أجيز
                    بالإجماع، كما لم يجدوا أي شخص من قادة الدولة الجدد استطاع الحصول على جميع الأصوات في الانتخاب، والأكثر من
                    ذلك أن بعض نواب الشعب قد صوت ضد التقرير الخاص بأعمال الحكومة أو امتنع عن التصويت عندما قدم التقرير إلى
                    المجلس لإجازته، لقد حدث هذا لأول مرة في تاريخ الصين الشعبية.</p>
                <p>من جانب آخر، شهد المجتمع الصيني حراكًا ومساحات متاحة لانقاد الحكومة، ووجدت الحكومة في ذلك فرصة لتحسين أدائها.
                    وفي هذا الصدد، يقول "يه شيوان بينغ" رئيس أحد المقاطعات الصينية: "يجب على الذين يتولون أمثال منصبي ألا يخافوا
                    التجريح والانتقاد من قبل الآخرين، إذ أن قيادة الحكومة تستطيع أن تعرف فيما يفكر أبناء الشعب من خلال
                    انتقاداتهم واقتراحاتهم. إن عيوب القيادة في العمل لا تشوه صورتها ما دامت تكشفها وتقول الحق، بل إن موقفها
                    الصحيح من عيوبها سوف يساعدها على تحقيق التفاهم مع الجماهير وكسب ثقتها. وعلينا أن نعرف أن الناس سوف يتفقون في
                    الآراء بشأن سياسات الدولة بعد النقاش"<a href="#17"><span><sup
                                title="من مقالة 'مسيرة الديمقراطية' العدد 6 عام 1988مكافحة الفساد.. ذكره: من الثمانينيات إلى الآن.. سياسة الإصلاح والانفتاح، موقع مجلة الصين اليوم، 2018، متاح على الرابط: https://2u.pw/BtLQ24c">[17]</sup></span></a>.
        
                </p>
                <h2 class="special-title">2- على المستوى الاقتصادي. </h2>
                <p>تحول الاقتصاد الصيني بفعل سياسة الإصلاح والانفتاح من النمو السـريع إلى النمو عالي الجودة، حيث ارتفع في عام
                    2017م لأول مرة ليصل إلى 6.9 بالمئة، متجاوزًا بكثير النمو الاقتصادي العالمي الذي يبلغ 3.7 بالمئة. وخلال
                    الفترة 2012-2017م، توفرت أكثر من 70 مليون فرصة عمل جديدة لأبناء الشعب، وارتفع عدد أصحاب الدخول المتوسطة في
                    الصين إلى 400 مليون، ما شكل سوقا استهلاكية كبيرة في العالم. وقد أصدر "شي" قرارًا بتبني الوضع الطبيعي الجديد
                    وأطلق الإصلاح الهيكلي لجانب العرض ووضع خطا واضحا بين الحكومة والسوق، وفضلًا عن ذلك، كان "شي" قد تبنى القرار
                    الذي اتخذه الحزب الحاكم في العام 2013م بإتاحة المجال للسوق لأن يلعب دورًا "حاسمًا" في تخصيص
                    الموارد<a href="#18"><span><sup
                                title="من مقالة 'مسيرة الديمقراطية' العدد 6 عام 1988مكافحة الفساد.. ذكره: من الثمانينيات إلى الآن.. سياسة الإصلاح والانفتاح، موقع مجلة الصين اليوم، 2018، متاح على الرابط: https://2u.pw/BtLQ24c">[18]</sup></span></a>.
                </p>
                <p>وبحسب "تقرير أعمال الصين 2018م" الصادر عن الغرفة الأمريكية للتجارة في شانغهاي، حققت 83 بالمئة من الشـركات
                    المشمولة في التقرير في قطاع التصنيع و81 بالمئة من قطاع التجزئة أرباحا جيدة. كما يتوقع أن تزيد 61.6 بالمئة من
                    الشركات استثماراتها في الصين في 2018م. ومن جانب آخر، دخلت القطاعات الخاصة في الصين مرحلة جديدة من التنمية.
                    حيث شهد عام 2018م إدراج حوالي 28 شركة صينية خاصة في قائمة فورتشن 500، مقارنة بشـركة واحدة عام 2010. كما تشير
                    مجموعة البنك الدولي في "تقرير ممارسة الأعمال" السنوي إلى أن الصين تقدمت من المرتبة العالمية (78) في العام
                    2017م إلى المرتبـــــــة (46) في العام 2018م، حيث نفذت الصين أكبر عدد من الإصلاحات في منطقة شرق آسيا
                    والباسيفيك.<a href="#19"><span><sup
                                title="من مقالة 'مسيرة الديمقراطية' العدد 6 عام 1988مكافحة الفساد.. ذكره: من الثمانينيات إلى الآن.. سياسة الإصلاح والانفتاح، موقع مجلة الصين اليوم، 2018، متاح على الرابط: https://2u.pw/BtLQ24c.">[19]</sup></span></a>
        
                </p>
                <p><h2 class="special-title">وعلى مستوى القطاع الصناعي:</h2>لم تكن الصين القديمة قادرة على إنتاج الحديد والصلب وما يتفرع عنهما، فحتى رأس قلم
                    الحبر والدبوس كانا يستوردان من ألمانيا وبريطانيا؛ وكان البترول ومنتجاته تستورد من خارج البلاد بصفة رئيسية.
                    أما اليوم، فإن الصين هي أكبر دولة في العالم في إنتاج الحديد والصلب والفحم والحبوب الغذائية والمنسوجات، وتحتل
                    المرتبة العاشرة من حيث المنتجات النفطية والكيماوية. وفي مجال العلوم، وضع "شي" هدف تحويل الصين إلى أحد
                    المراكز العلمية العالمية وقمة ابتكارية.</p>
                <p>وطرأ على الصين تغير هائل فيما يتعلق بإنتاج الأجهزة الكهربائية المنزلية كالتلفزيون والثلاجة والغسالة والهاتف
                    والمكيف... الخ. فقبل تطبيق سياسة "الإصلاح والانفتاح" لم تكن هذه الأجهزة الكهربائية المنزلية متوفرة إلا لعدد
                    ضئيل جدا من الأسر الصينية. أما اليوم فقد غزت بيوت الآلاف المؤلفة من الأسر في المدن والمراكز. لقد أصبح
                    التلفزيون الأبيض والأسود من ذكريات الماضي، وحل محله التلفزيون الملون بشاشته الكبيرة. إن 90% من أسر المدن
                    والمراكز الصينية تمتلك الغسالة، و76% منها لديها الثلاجة، و64% منها لديها الهاتف الذي يرمز إلى ارتفاع المركز
                    الاجتماعي. معظم هذه السلع من صنع الصين، وبعض السلع المعمرة ذات الماركة المشهورة قد دخلت الأسواق
                    الأجنبية<a href="#20"><span><sup
                                title="من مقالة' أنا والصين الجديدة ' العدد10 عام 1999.. ذكره: من الثمانينيات إلى الآن.. سياسة الإصلاح، مرجع سابق.">[20]</sup></span></a>.
                </p>
                <p>فرضت عملية الفصل بين وظيفة الدولة ووظيفة قطاع الأعمال المشار سابقًا في إطار مرتكزات سياسة "الإصلاح
                    والانفتاح"، تخفيف العبء على الهيكل الإداري لدولة الصين، ومكنة الحكومة من إزالة التضخم والترهل الذي كان قد
                    أصاب ذلك الهيكل. </p>
                <p>وفي مجال حوكمة الإدارة العامة، أطلق شي عملية إصـلاح مؤسسي كبيرة لإعادة تشكيل أجهزة الحزب والدولة، وتضمنت
                    العملية إقامة لجنة الرقابة الوطنية ولجنة الحوكمة القائمة على القانون التابعة للجنة المركزية للحزب الشيوعي
                    الصيني. </p>
                <p>وفور توليه الحكم، تعهد "شي" باتخاذ إجراءات صارمة ضد من عرفوا بـ «النمور والذباب»، أي الفاسدين من المسؤولين
                    رفيعي المستوى وموظفي الخدمة المدنية المحليين على حد سواء. عُزل معظم المسؤولين الذين حُقق معهم من مناصبهم
                    وواجهوا اتهامات بالرشوة وإساءة استخدام السلطة، على الرغم من تفاوت نطاق الانتهاكات المزعومة بشكل كبير. قبضت
                    الحملة على أكثر من 120 شخص من كبار المسؤولين، بما في ذلك حوالي 12 فردًا من كبار الضباط العسكريين وعدد من
                    كبار المدراء التنفيذيين في الشـركات التابعة للدولة، وخمسة قادة وطنيين. اتهم أكثر من 100 ألف شخص بالفساد.
                    كانت الحملة جزء من حملة أخرى أوسع بكثير لإزالة المخالفات داخل صفوف الحزب ودعم وحدة الحزب. ومنذ أواخر 2012م
                    وحتى نهاية العام 2017م، صدر أكثر من 1500 إجراء عملت على تسارع خطى الإصلاح<a href="#21"><span><sup
                                title="من مقالة' أنا والصين الجديدة ' العدد10 عام 1999.. ذكره: من الثمانينيات إلى الآن.. سياسة الإصلاح، مرجع سابق..">[21]</sup></span></a>.
                </p>
                <p>وقامت الحكومة بحملة واسعة النطاق لمكافحة الفساد في الصين عقب انتهاء المؤتمر الوطني الثامن عشـر للحزب الشيوعي
                    الصيني (سي سي بّي) في عام 2012م. نفذت الحملة تحت رعاية "شي بينغ" بصفته رئيسا للصين وأميناً عاماً للحزب
                    الشيوعي الحاكم، وتحت إشراف اللجنة المركزية لفحص الانضباط خلال الفترة 2012 – 2017م جنبًا إلى جنب مع الهيئات
                    العسكرية والقضائية المقابلة، تورط في الحملة كل من القادة الحاليين والسابقين على المستوى الوطني، بما في ذلك
                    أعضاء في اللجنة الدائمة للمكتب السياسي للحزب الشيوعي الصيني (بّي إس سي) ونائب رئيس مجلس الإدارة العسكرية
                    المركزية السابق (سي إم سي)، وقد كسـرت مثل هذه التحقيقات القاعدة غير المعلنة فيما يتعلق في «الحصانة الجنائية»
                    للمجلس التي كانت هي القاعدة منذ نهاية الثورة الثقافية.</p>
                <h2 class="special-title">4- على المستوى الاجتماعي والثقافي.</h2>
                <p>ظهرت نتائج الإصلاح على عدة جبهات: الشعب يتحلى بثقة ثقافية أقوى وشعور بالرضا أقوى، تحسنت أنظمة الحماية
                    البيئية، كما أعيد تشكيل القوات المسلحة. كما بدت النتائج ملموسة بصورة مباشرة على نحو أكثر من خلال ارتفاع
                    العوائد. فقد ارتفع متوسط دخل المواطن الصيني بنسبة 7.4 على أساس سنوي على مدى السنوات الست الماضية، وهي نسبة
                    فاقت نسبة نمو الناتج الإجمالي المحلي. وقد بلغ متوسط الدخل للفرد أكثر من 8,000 دولار أمريكي، ما وضع الصين عند
                    الحد الأعلى بين مجموعة الدول ذات الدخل المتوسط للفرد وفق تصنيف البنك الدولي. وفي أكتوبر، أشاد العاملون
                    بالإصلاح الذي جرى تطبيقه على ضريبة الدخل، وهو إصلاح يعفي من يحصلون على أقل من 5,000 يوان شهريا (725 دولار
                    أمريكي) من الضرائب. وفضلا عن ذلك فإن الكثير من العمال المهاجرين انتقلوا إلى فئة متوسطي الدخل التي تزداد نموا
                    في البلاد<a href="#22"><span><sup
                                title="أكد على ذلك 'جيوف رابي' في عموده بمجلة (المراجعة المالية الأسترالية) مضيفًا.. ونحو 40 بالمئة من هذا الإنجاز أُضيف خلال عهد شي.'، بهذا الترتيب الجديد في آسيا، لم تعد الصين دولة 'صاعدة' فقد وصلت بالفعل.. ذكره: شي جين بينغ: الرجل الذي يقود إصلاح الصين...، مرجع سابق. ">[22]</sup></span></a>.
                </p>
                <p>وخلال الفترة (2011-2017م) انخفضت معدلات الفقر وارتفع نحو 70 مليون من سكان الريف فوق خط الفقر<a
                        href="#23"><span><sup
                                title="يقول 'وليام جونز' مدير مكتب مجلة 'المراجعة الاستخباراتية التنفيذية' الإخبارية في واشنطن: إن القضاء على الفقر اعتبر دائما مهمة أساسية للبشرية، لكنه يظل حتى وقت قريب حلما مثاليا.. وتابع 'في الصين، هذا الحلم يتحول حاليا إلى حقيقة'.. أنظر: إصلاح مؤسسات الحزب والدولة يساعد الصين في تحديث الحوكمة، الموقع الإلكتروني ل 'منتدى التعاون الصيني العربي، 8/7/ 2019م، متاح على الرابط: https://2u.pw/qmJ3bMr">[23]</sup></span></a>.
                    وتوسعت شبكة
                    الضمان الاجتماعي الصينية، وأصبح التأمين الطبي الأساسي يغطي 1.3 مليار شخص، فيما يغطي الضمان الاجتماعي لكبار
                    السن أكثر من 900 مليون شخص<a href="#24"><span><sup
                                title="أنظر: إصلاح مؤسسات الحزب والدولة يساعد الصين في تحديث الحوكمة، الموقع الإلكتروني ل 'منتدى التعاون الصيني العربي، 8/7/ 2019م، متاح على الرابط: https://2u.pw/qmJ3bMr">[24]</sup></span></a>.
                    كما طبقت الحكومة سياسات لإعفاء الكثير من أدوية السـرطان المستوردة من الرسوم
                    الجمركية، وتستمر الجهود من أجل إدراج المزيد من الأدوية الهامة في إنقاذ الحياة على قائمة برنامج التأمين
                    الطبي. وأخيرا، حدث ترسيخ كبير للإصلاحات التشـريعية الخاصة بالعمل في مجال البناء.</p>
                <h2>رابعاً: تأثير سياسة الإصلاح والانفتاح في الصين على العالم</h2>
                <p>لسياسات الإصلاح والانفتاح الصينية انعكاسات ايجابية على العالم بأسره، تتجلى في الآتي: <a href="#25"><span><sup
                                title="عثمان، مرجع سابق.">[25]</sup></span></a></p>
                <p>الإسهام في النمو العالمي بمعدل سنوي بلغ 18.4 بالمئة خلال السنوات الأربعين الماضية، لتأتي في المرتبة الثانية
                    من حيث تأثيرها الإيجابي في الاقتصاد العالمي بعد الولايات المتحدة- بحسب المكتب الوطني للإحصاءات في الصين.</p>
                <p>في عام 2017، مثلت مساهمة الصين في النمو الاقتصادي العالمي 27.8 بالمئة، وهو أكثر من المعدل الذي حققته الولايات
                    المتحدة واليابان مجتمعتين.</p>
                <p>منذ إنشائها قبل 3 أعوام، ساهمت شركة (سي آر آر سي) الصينية المحدودة، وهي شركة رائدة في العالم لمعدات النقل
                    الخاصة بالسكك الحديد، في تعزيز البنية الأساسية وخلق الوظائف في أكثر من 100 دولة ومنطقة. وقال أحد المسؤولين
                    التنفيذيين بالشـركة "زار الرئيس شي ورشتنا عام 2015، وطلب منا تسـريع وتيرة الابتكار وخلق ماركة تجارية
                    للمنتجات المصنوعة في الصين، ما عزز إصلاح النظام الحديث لشركتنا ودعم اندماج الشركة مع الاقتصاد العالمي".</p>
                <p>في مواجهة تصاعد الحمائية واقتصاد عالمي راكد، اقترح شي إقامة نمط جديد من العلاقات الدولية يتمتع بالتعاون
                    المربح للجميع ويتبع مبدأ تحقيق النمو المشترك عبر التشاور والتعاون في التشارك في الحوكمة العالمية. وقد عزز من
                    ذلك سياسة الرئيس الصيني في دمج تدعيم الإصلاح المحلي مع مشاركة إصلاح الحوكمة العالمية، فضلا عن تبنيه سياسة
                    بناء مجتمع مصير مشترك للبشرية تعمل على اتباع قيم عالمية مشتركة.</p>
                <p>ألهمت سياسة الإصلاح الانفتاح في الصين العالم كله، وأثبتت أن معظم الدول النامية يمكنها الآن أن تشق طريقا
                    مختلفا عن الغرب نحو الحداثة. كما أنها محت فكرتي "نهاية التاريخ" و"المركزية حول الغرب".</p>
                <p>خلال السنوات الست الماضية، حافظت الصين على وعدها بحماية كوكب الأرض عبر تعميق الإصلاحات الداخلية، منها تطبيق
                    10 إجراءات لمنع تلوث الهواء والسيطرة عليه، وتدعيم نظام "مدير النهـر" ونشـره وتطبيق آلية وطنية للحدائق
                    العامة. لقد أطلق شي الكثير من الإصلاحات.</p>
                <p>تعمل تكنولوجيا (الجونكاو) <a href="#26"><span><sup
                                title="هي تقنية زراعية يتم من خلالها استخدام العشب بدلا من الخشب في زراعة الفطر وبعض المحاصيل. وكان 'شي بينغ' قد أنشأ هذه التقنية عندما كان حاكما لمقاطعة فوجيان شرق الصين من خلال مشروع نموذجي لمساعدة مقاطعة هايلاند الشرقية في بابوا نيو غينيا في تكنولوجيا الجونكاو وزراعة الأرز في الأراضي الجافة... أنظر: إصلاح مؤسسات الحزب والدولة يساعد الصين في تحديث الحوكمة، مرجع سابق.">[26]</sup></span></a>
                    على استنبات أنواع من الماشروم - نوع من الفطر - صالحة للأكل وللاستخدامات الطبية،
                    من أعشاب برية خاصة، حتى لا يتم قطع الأشجار من أجل زراعة الماشروم. وقد بعثت هذه التكنولوجيا الأمل في القضاء
                    على الفقر في كل أنحاء العالم. من جهة أخرى، يعد نجاح تكنولوجيا الجونكاو مثالًا لتطور مبادرة الحزام والطريق
                    التي اقترحها شي من أجل دعم الرخاء المشترك للبشـرية عبر التعاون في مجالي التجارة والبنية الأساسية. وحتى الآن،
                    وقعت أكثر من 140 دولة ومنظمة دولية اتفاقيات مع الصين للمشاركة في بناء الحزام والطريق.</p>
                <p>كانت الصين من أوائل الدول في التوقيع على اتفاقية باريس للتغير المناخي. وقام شي بنفسه بتسليم وثائق انضمام
                    الصين لاتفاقية باريس في سبتمبر 2016 إلى "بان كي مون" الأمين العام للأمم المتحدة في ذلك الوقت.</p>
                <p>ارتقت الصين بسياسة الانفتاح إلى مستوى جديد، حيث خططت لإقامة أول معرض للواردات في العالم على المستوى الوطني
                    وبذل الجهود لدعم هذا المعرض. وفي معرض الصين الدولي للواردات، أكد الرئيس "شي" مجددا على معارضته للحمائية
                    التجارية والتزامه باقتصاد عالمي مفتوح<a href="#27"><span><sup
                                title="على سبيل المثال، ضم المعرض الذي أقيم في شانغهاي في نوفمبر هذا العام أكثر من 3600 شركة، من بينها نحو 180 شركة أمريكية.">[27]</sup></span></a>.
                </p>
                <p>أعلنت الصين عن مجموعة من الإجراءات لتعزيز الانفتاح في اقتصادها، من بينها توسيع الوصول إلى السوق وتخفيف القيود
                    على رأس المال الأجنبي وخفض الرسوم الجمركية على واردات السيارات فضلا عن زيادة الواردات. وارتفع عدد مناطق
                    التجارة الحرة إلى 12 خلال 5 سنوات.</p>
                <p>أدت سياسة "الإصلاح والانفتاح" إلى انخراط الصين على نحو أكبر في التعاون الاقتصادي العالمي، لتتحول البلاد إلى
                    اقتصاد سوق أكثر نضجا وحداثة. وفي هذا السياق، يقول الرئيس الصيني "شي ينغ": "الانفتاح يحقق التقدم بينما يؤدي
                    الانعزال إلى التخلف".</p>
                <h2>خامسا: تحديات الإصلاح والانفتاح في الصين</h2>
                <p>لا تزال قيادة الصين تسعى إلى تطوير نموذج يمكنها كدولة صاعدة من تفادي المواجهة مع أخرى متطورة. وهذا النموذج
                    سيُظهر كيف تستطيع الحضارات المختلفة أن تثري التبادلات وأن تتعايش مع بعضها البعض في سلام.</p>
                <p>إن إجراء تغيير في أكبر بلد نام في العالم ليس مهمة سهلة. فعلى الرغم من أن نصيب الفرد الصيني من الناتج الإجمالي
                    المحلي بلغ كما أشرنا 8,000 دولار أمريكي، إلا أنه لا يزال بعيدًا عن 57,000 دولار في الولايات المتحدة.</p>
                <p>لا تزال الصين تواجه مشكلات مثل هيكل صناعي غير متوازن وابتكار ضعيف ومخاطر مالية.</p>
                <h2>سادسًا: الدروس المستفادة من تجربة الإصلاح الصينية في الحالة اليمنية</h2>
                <p>صحيح أن الصين تخلصت من مشاكلها الاقتصادية والتنموية بشكل تدريجي، لكنها انتهجت سياسة إصلاح شامل وجذري شملت
                    كافة البنى السياسية والاقتصادية والاجتماعية والثقافية، حيث صمم "التحديث" ليكون متعدد الأوجه، ومتوازن في شتى
                    الجوانب. وهو ما يمكن الاستفادة منه في الحالة اليمنية لاسيما وانه لا يوجد في البنى القديمة ما يخشـى زواله،
                    وأن عملية البناء من الأساس لا زالت تمثل حاجة ماسة.</p>
                <p>تبدو عملية الفصل بين مهام الحكومة ومهام القطاع الخاص التي اتبعتها الصين ملاءمة للتطبيق في الحالة اليمنية، في
                    ظل تشابه ظروف وخصائص الهيكل الإداري المتضخم في اليمن مع نظيره في الصين قبل تبني هذه الأخيرة سياسة الإصلاح
                    والانفتاح.</p>
                <p>تفرض فلسفة اللامركزية التي اتبعتها الصين خاصة في المجال المالي، الوقوف عليها بالدراسة والبحث للاستفادة منها
                    في ترسيخ اللامركزية المحلية في اليمن لاسيما في مجال الخدمات الأساسية للمجتمع في قطاعات التعليم والصحة والبنى
                    التحتية بما يتلاءم من الخصائص الجغرافية للوحدات المحلية في البلاد. </p>
                <p>أولت الصين اهتمامًا أكبر لاستخلاص واستغلال تجاربها الناجحة والاستفادة من التجارب الصالحة للبلدان الأخرى
                    ودراسة المشاكل والتحديات الجديدة التي تعترض طريقها. والأولى أن القيام به من أجل تصحيح مسار الإصلاح باتجاه
                    عملية التغيير الجذري التي بدأت القيادة اليمنية في إطلاقها.</p>
                <p>بقدر ما تقدمه تجربة الإصلاح في الصين من دروس في التعايش مع عالم يشهد تغيرات هائلة، إلا أنها تؤكد على أن جميع
                    المذاهب والنظم والأنماط والطرق الإصلاحية تظل على محك التطبيق، وتحكمها الظروف الوطنية في مختلف البلدان، ومن
                    ثم تؤكد على عدم وجود نمط أمثل أو أنفع يمكن تطبيقه على جميع الدول، وإنما يوجد فقط نمط في بلد ما أكثر مواءمة
                    للظروف الوطنية لبلد آخر. في هذا السياق، يقول الزعيم الصيني "شي بينغ" مخاطبًا القادة العرب: إن مفتاح خيار
                    الإصلاح والتنمية في البلاد العربية يكمن في تطابق الطريق مع الخصوصيات الوطنية، وأن عملية التحديث ليست سؤالًا
                    بجواب واحد فقط، بل إن الطابع التنوعي للتاريخ يتحدد من الطابع التعددي للطرق التي تختارها مختلف البلدان لتحقيق
                    التنمية، مشيرًا إلى أن الاستنساخ يعد طريقًا مسدودًا وأن المحاكاة أسلوب مضلل، وأن الطريق الذي تتبعه الدولة في
                    الإصلاح يتحدد فقط بوراثتها التاريخية وتقاليدها الثقافية ومستواها في التنمية الاقتصادية والاجتماعية<a
                        href="#28"><span><sup
                                title="النص الكامل لكلمة الرئيس الصيني شي جين بينغ في جامعة الدول العربية، موقع (ARAB.NEWS.CN)، 2016-01-22، متاح على الرابط: https://2u.pw/KxEoOFv">[28]</sup></span></a>.
                </p>
            </div>
        </div>
        <div class="show-some-studies">
            <h3 class="show-studies-h3">مواضيع مشابهة</h3>
            <a href="{% url 'reformmethodology' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/method1.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>منهجية الإصلاح الإداري</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'comprehensive_reform' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/fanicial.webp' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>تقييم برنامج الإصلاح الاقتصادي والمالي والإداري الشامل في اليمن</h3>

                    </div>
                </div>
            </a>
            <a href="{% url 'evolution_of_public_administration' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/admini.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>تطور الإدارة العامة في إطار حقل القانون الإداري</h3>

                    </div>
                </div>
            </a>
            <a href="{% url 'financial_reform_in_countries' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/gold.webp' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>تجارب بعض الدول في مجال الإصلاح المال</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'malaysia_study' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/maly2.webp' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>تجربة ماليزيا في الإصلاح الإداري</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'future_fo_reforming_administrative_law_in_yemen' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/fix2.webp' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>الرؤية المستقبلية لإصلاح القانون الإداري في اليمن</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'future_of_financial_reform_in_yemen' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/tagarb9.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>رؤية مستقبلية للإصلاح المالي في اليمن</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'role_of_the_private_sector_in_world' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/test.png' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>تجارب عالمية وإقليمية لدور القطاع الخاص</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'legislative_reform_in_the_world' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/repair4.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>تجارب عربية وغربية للإصلاح التشريعي</h3>
                    </div>
                </div>
            </a>

            <a href="{% url 'implementing_e-government' %}" class="study-item">
                <div class="study-info-show last-one">
                    <div class="image-card">
                        <img src="{% static 'imgs/egoven.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>عوامل نجاح أو فشل تنفيذ الحكومة الإلكترونية</h3>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <h2 class="show-references">إظهار المراجع</h2>
    <div class="refrences">
        <div class="first-ref-info">
            <h2>المراجع</h2>
        </div>
        <ul>
            <li id="1">قرار اللجنة المركزية للحزب الشيوعي الصيني حول المنجزات المهمة والتجارب التاريخية في كفاح الحزب الممتد
                لمائة عام، موقع الصين النظرية، 23/11/2023، متاح على الرابط: <a
                    href="https://2u.pw/ThMycN1">https://2u.pw/ThMycN1</a></li>
            <li id="2">هي الثورة التي أعلنها الرئيس "ماو تسي تونغ" خلال الفترة (1966- 1976م) ودعا الشباب بالانضمام إليها
                والقيام بالانقلاب على الزعامة الشيوعية في البلاد والتي اخترقها ممثلي "البرجوازية"، وقد استجاب لدعوته آلاف من
                الشباب الذين عُرفوا فيما بعد باسم الحرس الأحمر.. أنظر: احياء ذكرى الثورة الثقافية في الصين بي بي سي، موقع
                واي باك مشين، 03 سبتمبر 2012، متاح على الرابط: <a
                    href="https://2u.pw/sauqZyg">https://2u.pw/sauqZyg</a>وبالرغم من أن الثورة الثقافية كانت عنيفة، إلا أنها
                أيضاً كانت مصدرا للإلهام والتجربة الاجتماعية في الصين.. وقد هزت الثورة الثقافية الاقتصاد، ولكنها بالتأكيد لم
                تدمره تمامًا؛ لأنه كان ينمو بمعدل مناسب. وعلى الرغم من عزلة الصين، فقد وضعت الثورة الثقافية حجر الأساس لتحول
                الصين إلى منبر تصنيعي لاقتصاد عالمي ليبرالي جديد... أنظر: كراوس، ريشارد كيرت: الثورة الثقافية الصينية،
                ترجمة: شيماء طه الريدي، مؤسسة هنداوي، المملكة المتحدة، 2017، ص9، 10.</li>
            <li id="3">قرار اللجنة المركزية للحزب الشيوعي الصيني...، مرجع سابق.</li>
            <li id="4">عثمان، فتحي أحمد. وآخرون: تجارب عالمية مختارة في الإصلاح الإداري- دراسة حالات خمس دول آسيوية، المنظمة
                العربية للتنمية الإدارية، تراجم مختارة، القاهرة، 1998.</li>
            <li id="5">الخضر، على إبراهيم: الإصلاح الإداري: الواقع والمتطلبات- نموذج مقترح للإصلاح الإداري في سورية، متاح
                على الرابط: <a href="https://2u.pw/WTNNZpS">https://2u.pw/WTNNZpS</a></li>
            <li id="6">ليساوي، طارق، اللامركزية المالية في الانفاق على السلع العامة.. الصين نموذجًا، موقع صحيفة الراي العام،
                13/ أوت- أغسطس/ 2017، متاح على الرابط: <a href="https://2u.pw/iMPraXy">https://2u.pw/iMPraXy</a></li>
            <li id="7">هيجان، عبد الرحمن أحمد: إصلاح الإدارة العامة في آسيا، مكتبة الملك فهد الوطنية، الرياض، 2001.</li>
            <li id="8">رشيد، احمد: إعادة اختراع وظائف وإدارة الحكومة، دار النهضة العربية، القاهرة، 1996.</li>
            <li id="9">هيجان، مرجع سابق.</li>
            <li id="10">عثمان، مرجع سابق.</li>
            <li id="11" class="eng">Wikipedia, 2012</li>
            <li id="12">الكتاب الأبيض حول التنمية السلمية في الصين (النص الكامل): مكتب الإعلام التابع لمجلس الدولة، الصين،
                موقع وزارة الخارجية الصينية، 2011، متاح على الرابط: <a href="https://2u.pw/QKaImq">https://2u.pw/QKaImq</a>
            </li>
            <li id="13" class="eng">Xiangren, Kong. China’s Perspective in Administrative Reform, 2009.</li>
            <li id="14" class="eng">Ibid.</li>
            <li id="15">الصين تمضي قدما في تحسين بيئة الأعمال عبر تبسيط الإجراءات: موقع (ARAB.NEWS.CN)، 2016-01-22، متاح على
                الرابط: <a
                    href="http://arabic.news.cn/2021-01/05/c_139641528.htm">http://arabic.news.cn/2021-01/05/c_139641528.htm</a>
            </li>
            <li id="16" class="eng">Denhardt, Janet V. and Robert B. Denhardt. (2009). Public Administration: An Action
                Orientation. 6th Ed. Belmont, USA: Thomson Wadsworth.
            </li>
            <li id="17">من مقالة "مسيرة الديمقراطية" العدد 6 عام 1988مكافحة الفساد.. ذكره: من الثمانينيات إلى الآن.. سياسة
                الإصلاح والانفتاح، موقع مجلة الصين اليوم، 2018، متاح على الرابط: <a
                    href="https://2u.pw/BtLQ24c">https://2u.pw/BtLQ24c</a></li>
            <li id="18">المرجع السابق نفسه.</li>
            <li id="19">من مقالة "مسيرة الديمقراطية" العدد 6 عام 1988مكافحة الفساد.. ذكره: من الثمانينيات إلى الآن.. سياسة
                الإصلاح والانفتاح، موقع مجلة الصين اليوم، 2018، متاح على الرابط: <a
                    href="https://2u.pw/BtLQ24c">https://2u.pw/BtLQ24c</a>.</li>
            <li id="20">من مقالة" أنا والصين الجديدة " العدد10 عام 1999.. ذكره: من الثمانينيات إلى الآن.. سياسة الإصلاح،
                مرجع سابق.</li>
            <li id="21">من مقالة" أنا والصين الجديدة " العدد10 عام 1999.. ذكره: من الثمانينيات إلى الآن.. سياسة الإصلاح،
                مرجع سابق.</li>
            <li id="22">أكد على ذلك "جيوف رابي" في عموده بمجلة (المراجعة المالية الأسترالية) مضيفًا.. ونحو 40 بالمئة من هذا
                الإنجاز أُضيف خلال عهد شي."، بهذا الترتيب الجديد في آسيا، لم تعد الصين دولة "صاعدة" فقد وصلت بالفعل.. ذكره:
                شي جين بينغ: الرجل الذي يقود إصلاح الصين...، مرجع سابق.</li>
            <li id="23">يقول "وليام جونز" مدير مكتب مجلة "المراجعة الاستخباراتية التنفيذية" الإخبارية في واشنطن: إن القضاء
                على الفقر اعتبر دائما مهمة أساسية للبشرية، لكنه يظل حتى وقت قريب حلما مثاليا.. وتابع "في الصين، هذا الحلم
                يتحول حاليا إلى حقيقة".. أنظر: إصلاح مؤسسات الحزب والدولة يساعد الصين في تحديث الحوكمة، الموقع الإلكتروني ل
                "منتدى التعاون الصيني العربي، 8/7/ 2019م، متاح على الرابط: <a
                    href="https://2u.pw/qmJ3bMr">https://2u.pw/qmJ3bMr</a></li>
            <li id="24">أنظر: إصلاح مؤسسات الحزب والدولة يساعد الصين في تحديث الحوكمة، الموقع الإلكتروني ل "منتدى التعاون
                الصيني العربي، 8/7/ 2019م، متاح على الرابط: <a href="https://2u.pw/qmJ3bMr">https://2u.pw/qmJ3bMr</a>.</li>
            <li id="25">عثمان، مرجع سابق.</li>
            <li id="26">هي تقنية زراعية يتم من خلالها استخدام العشب بدلا من الخشب في زراعة الفطر وبعض المحاصيل. وكان "شي
                بينغ" قد أنشأ هذه التقنية عندما كان حاكما لمقاطعة فوجيان شرق الصين من خلال مشروع نموذجي لمساعدة مقاطعة
                هايلاند الشرقية في بابوا نيو غينيا في تكنولوجيا الجونكاو وزراعة الأرز في الأراضي الجافة... أنظر: إصلاح
                مؤسسات الحزب والدولة يساعد الصين في تحديث الحوكمة، مرجع سابق.</li>
            <li id="27">على سبيل المثال، ضم المعرض الذي أقيم في شانغهاي في نوفمبر هذا العام أكثر من 3600 شركة، من بينها نحو
                180 شركة أمريكية. وبلغت قيمة الاتفاقات الخاصة بمشتريات البضائع والخدمات المستهدفة خلال عام واحد 57.83 مليار
                دولار أمريكي.. ذكره: شي جين بينغ: الرجل الذي يقود إصلاح الصين...، مرجع سابق.</li>
            <li id="28">النص الكامل لكلمة الرئيس الصيني شي جين بينغ في جامعة الدول العربية، موقع (ARAB.NEWS.CN)، 2016-01-22،
                متاح على الرابط: <a href="https://2u.pw/KxEoOFv">https://2u.pw/KxEoOFv</a></li>
        </ul>
    </div>
</div>
{% endblock %}