{% extends 'base.html' %}
{% load static %}
{% block title %}تقييم برنامج الإصلاح الاقتصادي والمالي والإداري الشامل  في اليمن{% endblock %}
{% block content %}
<div class="container articles">
    <div class="top-of-study">
        <a href="{% url 'index' %}">الرئيسية</a><span class="first-pipe">  |  </span> <a href="{% url 'studies' %}">دراسات وبحوث</a> <span class="first-pipe"> | </span><span>تقييم برنامج الإصلاح الاقتصادي والمالي والإداري الشامل  في اليمن</span>
    </div>
    
    <div class="studies-flex">
        <div class="first-page">
            <div class="controls">
                <button id="increaseFont"><i class="fas fa-search-plus"></i></button>
                <button id="decreaseFont"><i class="fas fa-search-minus"></i></button>
            </div>
            <a href="#img-id" class="hidden-row"><i class="fa-solid fa-arrow-up-long"></i></a>
            <!-- <h1>الحياة في اليمن</h1> -->
            <p class="p-img">تقييم برنامج الإصلاح الإقتصادي والمالي والإداري في اليمن</p>
            <div class="date-info">
                <span>23 سبتمبر 2023
                </span>
            </div>
                <span class="pub">أ.د/ عادل الشرجبي</span>
            <img src="{% static 'imgs/fanicial.webp' %}" alt="" id="img-id">
            <div class="full-text">
                <p>بعد مرور حوالي 28 عامًا على البدء بتنفيذ برنامج الإصلاح الاقتصادي والمالي والإداري الشامل، يمكن القول: إنه لم
                    يحقق أهدافه المرجوة، بل ربما أدى إلى آثار عكسية ونتائج سلبية كثيرة، ويمكن إرجاع ذلك إلى الأسباب الآتية:</p>
                <h2>غياب التوافق حول الإصلاحات:</h2>
                <p>اتفقت الحكومة اليمنية عام 1995م مع صندوق النقد الدولي والبنك الدولي على برنامج الإصلاح، دون وجود توافق داخلي
                    حول طبيعة واتجاهات الإصلاح <a href="#1"><span><sup title="حول قراءة الأزمة السياسية اليمنية التي شهدتها اليمن في المدة 1991 – 1994، بعدها تجسيداً للخلاف حول طبيعة واتجاهات التحول الاجتماعي، وغياب التوافق حولها.. أنظر: علي، محمد أحمد: قضية دولة القانون في الأزمة اليمنية: الجزء الأول
                        بعض وقائع الخلاف قبل حرب صيف عام 1994، دار الكنوز الأدبية، بيروت، ط1، 1999، ص36 –
                        95.">[1]</sup></span></a>، وعلى الأهداف العامة للتنمية البشـرية الوطنية، وهو أمر لم يتحقق حتى الآن
                    بالشكل المطلوب، فقد برزت خلال حلقات النقاش التي نفذت أثناء إعداد الاستراتيجية الوطنية للتخفيف من الفقر،
                    اتجاهات وآراء اتفقت مع توجهات الدولة وسياساتها فيما يتعلق بإعطاء أولوية للخدمات الاجتماعية الأساسية والبنى
                    التحتية، واختلفت معها فيما يتعلق بأداء برامج الإصلاح وتحرير التجارة ومسائل الحماية ومسؤولية الدولة، واعتبروا
                    توجهات الدولة نحو برامج الإصلاح وأساليب تنفيذها أنه يمثل تخليًا للدولة عن مهامها ومسؤولياتها تجاه
                    مواطنيها <a href="#2"><span><sup
                                title="استراتيجية التخفيف من الفقر (2003 – 2005)، وزارة التخطيط والتنمية، ص 9. ">[2]</sup></span></a>،
                    وعبر المواطنون عن
                    رفضهم لسياسات الدولة بأساليب احتجاجية أحيانًا، كما حدث عند رفع أسعار المشتقات النفطية
                    في مايو 1999م ويوليو 2005م. </p>
                <h2>عدم تكامل الإصلاحات:</h2>
                <p>تضمنت وثيقة السياسات والاستراتيجيات المستقبلية للتنمية الصحية في الجمهورية اليمنية التي جرى إعدادها عام 1994م
                    تصورات حول مشاركة المجتمع في تمويل الخدمات الصحية التي يقدمها القطاع العام، وذلك عن طريق المشاركة في
                    تكلفتها <a href="#3"><span><sup
                                title="السياسات والاستراتيجيات المستقبلية للتنمية الصحية في الجمهورية اليمنية- وثيقة مقرة في المؤتمر الوطني الأول للتنمية الصحية (6-9 فبراير 1994م)، وزارة الصحة العامة، صنعاء، 1994، ص34.">[3]</sup></span></a>،
                    وقد فوضت وزارة الصحة المؤسسات الصحية بتحصيل كلفة الخدمات الصحية من المستفيدين، على أن يعاد توظيف
                    العائدات في تطوير خدمات المؤسسة التي تحصلها، وتحسين أدائها وتحفيز العاملين فيها <a href="#4"><span><sup
                                title="الخطة الخمسية الثانية للتنمية الصحية (2001-2005)، وزارة الصحة العامة، صنعاء، 2001، ص76.">[4]</sup></span></a>،
                    وقد بدأت المؤسسات الصحية
                    في تنفيذ نظام المشاركة في الكلفة في نفس العام، إلا أن الحكومة لم تطور نظم الرقابة والمحاسبة في قطاع الصحة،
                    بل إن مجلس الوزراء لم يصدر قرارًا ينظم مشاركة المجتمع في تمويل الخدمات الصحية، إلا عام 1999م <a
                        href="#5"><span><sup
                                title="الخطة الخمسية الثانية للتنمية الصحية (2001-2005)، وزارة الصحة العامة، صنعاء، 2001، ص76.">[5]</sup></span></a>،
                    الأمر الذي
                    ترتب عليه تبديد معظم هذه العوائد على الفساد، فقد أشارت وثيقة إصلاح القطاع الصحي (عام 1998م) إلى أن «50% من
                    التمويل المتاح للقطاع الصحي يبدد عن طريق الفساد ونقص الكفاءة وسوء الإدارة، الذي يرجع إلى أسلوب الإدارة
                    المركزية المتبع في القطاع الصحي <a href="#6"><span><sup
                                title="إصلاح القطاع الصحي في الجمهورية اليمنية (الجزء الأول: استراتيجية الإصلاح): وزارة الصحة العامة والسكان، صنعاء، ديسمبر 1998، ص41.">[6]</sup></span>؛</a>
                    لذلك فإن نظام المشاركة في كلفة الخدمات الصحية الحكومية لم يحقق أهدافه في
                    تحسين الخدمات الصحية <a href="#7"><span><sup
                                title="السروري، عبده. وآخرون: الاشتراك بتكاليف الرعاية الصحية الأساسية- دروس من اليمن، ورقة عمل، أوكسفام، بريطانيا، 2002. ">[7]</sup></span></a>.
                </p>
                <h2>البطء في تنفيذ الإصلاحات والأنشطة المرتبطة بها:</h2>
                <p>في منتصف عام 1998م كان الانتهاء من إعداد استراتيجية تحديث الخدمة المدنية، التي تهدف إلى إدارة الموارد
                    البشـرية والمالية بشكل كفؤ، تبسيط الإجراءات، إخضاع الوظيفة العامة لمبدأ الجدارة والاحتياج، شفافية الإجراءات
                    والاستخدام الأمثل للمال العام، توفير البيئة الملائمة لنمو القطاع الخاص، وقد أقر فيها تأسيس صندوق للخدمة
                    المدنية؛ لمعالجة أوضاع العمالة الفائضة ماليًا، وقد صدر القرار الجمهوري بالقانون رقم (1) لسنة 1999م، بشــــأن
                    إنشاء صندوق الخدمة المدنية، الذي نصت المادة (30) منه على أن يعمل به من تاريخ صدوره وينشـر في الجريدة
                    الرسمية، وقد اعتمدت مخصصاته في الموازنة العامة منذ عام 2000م، مع ذلك لم يُؤسس الصندوق. </p>
                <p>وفي يناير 2004م صدر قانون رقم (1) لسنة 2004م، بشأن إنشاء صندوق الخدمة المدنية، نصت المادة (34) منه على أن
                    «يلغى القانون رقم (1) لسنة 1999م بشأن إنشاء صندوق الخدمة المدنية وأي نص يتعارض مع أحكام هذا القانون». لقد
                    ألغي قانون عام 1999م قبل أن تُنفذ أحكامه، وذلك على الرغم من مرور أكثر من أربع سنوات على صدوره، فضلًا عن ذلك
                    فإن قانون عام 2004م، الذي ألغى العمل بقانون عام 1999م ضيق التزامات صندوق الخدمة المدنية تجاه العمالة
                    الفائضة، وسلبها بعض الحقوق والامتيازات التي قررها لها قانون عام 1999م. ترتب على تأخر تأسيس صندوق الخدمة
                    المدنية تأخر تحرير أجهزة الدولة من العمالة الفائضة من ناحية، وبقاء العديد من العاملين في المنشآت الصناعية
                    العامة المتعثرة عاطلين عن العمل ويتقاضون أجورًا من الدولة. </p>
                <p>منذ بدء برنامج الخصخصة حتى نهاية عام 2004م جرى خصخصة 37 منشأة فقط، فخلال عام 2004م استهدف برنامج الخصخصة
                    تخصيص خمس وحدات اقتصادية، ولم تُخصخص سوى وحدتين اقتصاديتين فقط، عن طريق بيعهما للقطاع الخاص اليمني، وخلال
                    عامي 2002 - 2004م خصخصة 8 وحدات اقتصادية، سبع منها جرى خصخصتها عن طريق البيع، والثامنة جرى تحويل إدارة أسهم
                    الدولة فيها إلى المؤسسة الاقتصادية اليمنية.</p>
                <h2 class="special-title">يرى البنك الدولي أن مسيرة الإصلاح الاقتصادي في اليمن مرت بثلاث مراحل: </h2>
                <ul>
                    <li>مرحلة الانطلاقة القوية (1995 – 1999). </li>
                    <li>مرحلة الجمود (2000 – 2004/2005). </li>
                    <li>مرحلة إعادة تدشين برنامج الإصلاح الاقتصادي (2005). </li>
        
                </ul>
                <p>فخلال المدة (2000 – 2005) تعثرت العديد من مبادرات الإصلاح، فقد توقفت عملية الخصخصة، وتأجل مرارًا تنفيذ قانون
                    الضـريبة العامة على المبيعات، وتوقف برنامج رفع الدعم عن المشتقات النفطية، وتراجع مستوى الالتزام السياسي
                    بتنفيذ إصلاحات قانونية وقضائية، وتباطأ تنفيذ استراتيجية إصلاح الخدمة المدنية واستراتيجية إصلاح قطاع
                    الصحة <a href="#8"><span><sup
                                title="World Bank – International Development Association, Country Assistance Strategy for The Republic of Yemen for the Period FY 2006 – FY 2009, Report No. 36014-YEM, May 17, 2006, p: 2. ">[8]</sup></span></a>.
                </p>
                <p>جرى إعداد نظام متكامل للتنمية الصحية، يرتكز على المشاركة، يتضمن مكونين، يتمثل الأول فيما سمي بمشاركة
                    المستفيدين في كلفة الخدمات الصحية، الذي جرى بناء عليه تحويل الخدمات الصحية الحكومية إلى خدمات مدفوعة الأجر،
                    أما المكون الثاني فسمي بمشاركة المجتمع في إدارة الخدمات الصحية، وقد كان تنفيذ المكون الأول؛ بهدف تحسين
                    الخدمات الصحية، كما تدعي الحكومة، ولكنها لم تنفذ المكون الثاني، فمازالت الحكومة تحتكر إدارة المرافق الصحية،
                    الأمر الذي أدى إلى عدم تحقق الهدف الذي من أجله تبنت الحكومة نظام المشاركة في كلفة الخدمات الصحية، بل على
                    العكس أسهمت الإدارة الحكومية للمرافق الصحية في تنامي ظاهرة الفساد؛ بسبب: التفريط بالمعايير المهنية في اختيار
                    القيادات الصحية، وخضوع تعيين المسؤولين في المؤسسات الصحية للمحسوبية والمحاباة والاعتبارات السياسية، عوضًا عن
                    معايير التأهيل، الكفاءة، والأقدمية، و تدني مستوى فاعلية أنظمة الرقابة والتقييم، وتطبيق مبدأ الثواب والعقاب.
                </p>
                <h2>غياب رؤية شاملة للإصلاح:</h2>
                <p>لعل أوضح مثال على غياب الرؤية الشاملة للإصلاح هو تنفيذ التعديلات السعرية للمشتقات النفطية في 28 مارس 1995م،
                    15 يناير 1996م، 16 مارس 1996م، 1 يوليو 1997م، أكتوبر 1997م، يونيو 1998م، و 19 مايو 1999م، وعام 2014م، حيث لم
                    تكن هذه التعديلات السعرية وفقًا لرؤية استراتيجية شاملة؛ لذلك اختلفت التعديلات السعرية للبنزين عن التعديلات
                    السعرية للديزل والكيروسين والمازوت، الأمر الذي ترتب عليه تجاوز أسعار البنزين المحلية الأسعار العالمية، فيما
                    اقتربت أسعار الكيروسين والمازوت المحلية من أسعارها العالمية، وظلت أسعار الديزل في السوق المحلية أدنى بكثير
                    من الأسعار العالمية <a href="#9"><span><sup
                                title="عبده، عبد الخالق عبد المجيد: تأثير التعديلات السعرية للمشتقات النفطية على مستوى الاستهلاك المحلي الإجمالي، مجلة الثوابت، العدد 18، صنعاء، أكتوبر – ديسمبر، 1999، ص169.  ">[9]</sup></span></a>.
                </p>
        
                <h2>عدم تزامن الإصلاح الاقتصادي مع إصلاح سياسي:</h2>
                <p>بعد إعادة توحيد شطري اليمن وتأسيس الجمهورية اليمنية حصل التحول من النظامين الشموليين الذين كانا يحكما شطري
                    اليمن إلى نظام قائم على التعددية الحزبية، إلا أن هذا التحول لم يفض إلى تحول ديمقراطي حقيقي، بل ظل عند مستوى
                    التعددية الحزبية دون تعددية سياسية تقبل بالاختلاف وتعدد مشاريع ورؤى بناء الدولة، وانتخابات شكلية لا تؤدي إلى
                    تداول سلمي للسلطة؛ بسبب رغبة النظام باستمرار سيطرته على السلطة، الأمر الذي حدى بكثيرين إلى وصف النظام
                    السياسي في اليمن بأنه ديمقراطية زائفة، أو ديمقراطية غير لبرالية، لذلك لم تشهد اليمن استقرارًا سياسيًا
                    وأمنيًا منذ مطلع تسعينيات القرن العشـرين حتى الآن، واستمر النظام في التعامل مع المجتمع بالإجراءات الأمنية
                    والحملات العسكرية.</p>
                <img class="spe-img2" src="{% static 'imgs/mk9.png' %}" alt="">
                <p>الإصلاحات الاقتصادية وإصلاح السياسات المالية، لم تؤد إلى تحسين أوضاع ومعيشة المواطنين، فالنتائج الإيجابية
                    المحدودة وظفت للإنفاق على شؤون الدفاع والأمن العام، لاسيما أن المدة التي تلت حرب صيف 1994م شهدت توترات أمنية
                    في المحافظات الجنوبية، لاسيما بعد تشكل الحراك الجنوبي السلمي عام 1997م، واعتماد النظام على الإجراءات الأمنية
                    في التعامل مع الحراك الجنوبي، وشهدت السنوات 2004- 2010م نشوب ما عرف بحروب صعدة الست بين النظام وحركة (أنصار
                    الله).</p>
                <p>ارتفعت نفقات شؤون الدفاع وشؤون النظام والأمن العام من 36 مليار ريال و10.9 مليارات ريال على التوالي في عام
                    1995م إلى 81 مليار ريال و35.2 مليار ريال على التوالي في عام 2001م، وتعد الحكومة اليمنية أن الوفاء بالتزامات
                    الدين الخارجي يُعد ضمانًا لاستمرارية الثقة المكتسبة من الدول والمؤسسات المانحة للقروض والمساعدات الأجنبية،
                    لذلك ارتفعت نفقات الفوائد الخارجية من 574 مليون ريال في عام 1995م إلى 7 مليار و597 مليون ريال في عام 2001م،
                    وبمتوسط سنوي يزيد عن 4.7 مليارات ريال. في الوقت نفسه ارتفعت نفقات تسديد أصل القروض من حوالي 1.7 مليار ريال
                    عام 1995م إلى 8.6 مليار ريال عام 2000م، ليرتفع في العامين الآتيين إلى حوالي 22 مليار ريال في المتوسط وفقًا
                    لتقديرات مشـروعي الموازنة العامة للعامين الماليين 2001م و2002م.</p>
                <h2>عدم مراعاة العدالة الاجتماعية:</h2>
                <p>فسـرت الحكومة استمرار دعم الديزل بأنه يرجع إلى الرغبة في عدم الإضرار بقطاع الزراعة والفئات الاجتماعية الفقيرة
                    في الريف، غير أن هذا المبرر ليس صحيحًا، بل وصفه أحد الباحثين بأنه مجرد وهم <a href="#10"><span><sup
                                title="عبده، عبد الخالق عبد المجيد: تأثير التعديلات السعرية للمشتقات النفطية على مستوى الاستهلاك المحلي الإجمالي، مجلة الثوابت، العدد 18، صنعاء، أكتوبر – ديسمبر، 1999، ص140">[10]</sup></span></a>،
                    فالإبقاء على الدعم الحكومي
                    للديزل يمثل انحيازًا للفئات الاجتماعية الأغنى في المجتمع، حيث إن استهلاك الديزل يتركز في القطاع الصناعي وفي
                    المزارع الرأسمالية الكبيرة، التي يملكها أغنياء الريف، أما القطاع الأوسع من السكان الريفيين، فيعتمدون على
                    الزراعة المطرية، فضلًا عن ما ترتب على هذه الانتقائية من أضرار بيئية، فقد أدى ارتفاع أسعار البنزين في السوق
                    المحلية عن سعره العالمي، واستمرار الدعم الحكومي للديزل إلى توسع استخدام المؤسسة العامة للكهرباء وفروعها
                    لمحطات توليد الكهرباء التي تستخدم وقود الديزل، سواء من خلال تأسيس محطات جديدة في (حضـرموت وصنعاء) أم عن طريق
                    تشغيل المحطات القديمة التي تستخدم الديزل بكامل طاقتها، بل واستخدام الديزل في بعض الأحيان وقودًا للمحطات
                    الكهروحرارية، وتوسع استخدام كثير من وحدات القطاع الخاص الاقتصادية لمولدات الطاقة الكهربائية التي تعمل
                    بالديزل، عوضًا عن استهلاك الطاقة الكهربائية من الشبكة الرئيسة، والتوسع في استيراد السيارات التي تعمل
                    بالديزل <a href="#11"><span><sup
                                title="عبده، عبد الخالق عبد المجيد: تأثير التعديلات السعرية للمشتقات النفطية على مستوى الاستهلاك المحلي الإجمالي، مجلة الثوابت، العدد 18، صنعاء، أكتوبر – ديسمبر، 1999، ص174 - 175">[11]</sup></span></a>.
                </p>
        
                <h2>ضعف الإرادة السياسية:</h2>
                <p>وفقًا لبرنامج إدخال ضريبة عامة على المبيعات المرفق بمذكرة السياسات الاقتصادية والمالية ووثائق برنامج الإصلاح
                    الهيكلي المعزز <a href="#12"><span><sup
                                title="برنامج للإصلاحات الاقتصادية يهدف إلى تحسين أو تحرير الاقتصاد، يدعو إليه ويفرضه البنك الدولي وصندوق النقد الدولي على البلدان الفقيرة والنامية في مقابل حصولها على قروض جديدة.">[12]</sup></span></a>
                    (ESAF) لعام 1997م، فإنه كان من المفترض أن يجري العمل بضـريبة المبيعات في نهاية عام 1999م،
                    إلا أن مشـروع قانون هذه الضـريبة لم يقر من قبل مجلس النواب إلا عام 2000م، وبعد إقراره من مجلس النواب أعاده
                    رئيس الجمهورية إليه مرة أخرى لإجراء بعض التعديلات عليه، ليصدر في 31 ديسمبر 2001م بالقانون رقم (19) لسنة
                    2001م، متضمنًا المادة (70) التي تنص على ما يلي: «يعمل بهذا القانون بعد ثمانية أشهر من تاريخ صدوره وينشـر في
                    الجريدة الرسمية»، أي: أن العمل به يبدأ في 1 سبتمبر2002م، إلا أن القطاع الخاص واجهه بالرفض، وجرى تنظيم
                    مظاهرات معارضة له <a href="#13"><span><sup
                                title="خصصت مجلة الاقتصادية عددها رقم (69)، الصادر في أغسطس 2002 ملفاً خاصاً لمناقشة وعرض وجهات النظر المختلفة حول ضريبة المبيعات.">[13]</sup></span></a>،
                    الأمر الذي دفع الحكومة إلى تأجيل تنفيذه، فصدر في 31 أغسطس 2002م (قبل بدء سريانه بيوم
                    واحد) القانون رقم ( 36) لسنة 2002م، لتعديل نص المادة (70) ليصبح نصها كالآتي: «يعمل بالقانون رقم (19) لسنة
                    2001م بشأن الضـريبة العامة على المبيعات اعتبارًا من تاريـخ 1/1/2004م»، وفي 27 ديسمبر 2003م (قبل الموعد
                    الجديد لسـريان القانون بثلاثة أيام) صدر القانون رقم (42) لسنة 2003م، ليعدل المادة ذاتها بحيث يصبح نصها
                    كالآتي: «يعمل بالقانون رقم (19) لسنة 2001م بشأن الضـريبة العامة على المبيعات اعتباراً من تاريخ 1/7/2004م».
                </p>
                <h2>خضوع الحكومة لإملاءات المنظمات الدولية:</h2>
                <p>
                    pفي عام 1996م دمُجت المؤسسة العامة للتأمينات الاجتماعية مع الهيئة العامة للتأمينات والمعاشات، بناءً على
                    توصية من
                    صندوق النقد الدولي، وبناءً على توصية من البنك الدولي جرى عام 1999م فصلهما، وأعيد استقلال كلٍ منها عن
                    الأخرى <a href="#14"><span><sup title="قاسم، منصور أمين، مرجع سابق، ص14.">[14]</sup></span></a>،
                    يبدو هنا أن الحكومة اليمنية كانت خاضعة خضوعًا كليًا للمنظمات الدولية، ولا تمتلك أي رؤية أو إرادة مستقلة.</p>
                <h2>تنفيذ إصلاحات دون إطار تشريعي:</h2>
                <p>كانت حكومتا شطري اليمن قبل الوحدة تحتكران حق تأسيس مؤسسات التعليم العالي، واستمر الأمر بعد الوحدة من الناحية
                    النظرية، حيث كانت المادة (37) من دستور الجمهورية اليمنيـة المستفتى عليه شعبيًا يومي 15 و 16 مايو 1991م تنص
                    على ما يلي: «التعليم حق للمواطنين جميعاً تكفله الدولة بإنشاء مختلف المدارس والمؤسسات الثقافية والتربوية،
                    وتهتم الدولة بصورة خاصة برعاية النشء وتحميه من الانحراف، وتوفر له التربية الدينية والعقلية والبدنية وتهيئ له
                    الظروف المناسبة لتنمية ملكاته في جميع المجالات»، وعلى الرغم من ذلك أسس الشيخ عبد المجيد الزنداني جامعة
                    الإيمان عام 1993م في مخالفة صريحة لدستور الجمهورية اليمنية، وبعد ذلك أسس القطاع الخاص عددًا من الجامعات في
                    مختلف محافظات الجمهورية، ولم يجر تعديل النص الدستوري الخاص بالتعليم إلا عام 2001م حيث نصت المادة (32) من
                    الدستور المعدل عام 2001م على ما يلي: «التعليم والصحة والخدمات الاجتماعية أركان أساسية لبناء المجتمع وتقدمه،
                    يسهم المجتمع مع الدولة في توفيرها»، ولم يصدر القانون المنظم لمؤسسات التعليم العالي سوى عام 2005م، حيث صدر
                    القانون رقم (13) لسنة 2005م بشأن الجامعات والمعاهد العليا والكليات الأهلية. </p>
                <p>بالتزامن مع تأسيس مؤسسات التعليم العالي غير الحكومية أسس القطاع الخاص مؤسسات صحية وطبية أهلية، لاسيما منذ عام
                    1995م، رغم أن التشـريع الخاص بتنظيم الخدمات الصحية التي يقدمها القطاع الخاص لم يصدر إلا في 30 ديسمبر 1999م،
                    عندما صدر القانون رقم (60) لسنة 1999م، بشأن المنشآت الطبية والصحية الخاصة.</p>
                <p>ومثال ثالث على تنفيذ إصلاحات دون وجود تشـريع ينظم عملية الإصلاح، وأن الحكومة خصخصت عددًا من المشاريع قبل صدور
                    قانون الخصخصة، فضلًا عن ذلك لم تلتزم بنصوص القانون بعد صدوره، فعلى الرغم من أن المادة (5) من قانون الخصخصة
                    تنص على أن «لا يتم البدء بإجراء الخصخصة في إطار أي قطاع من قطاعات الاقتصاد الوطني إلا بعد تحريره»، مع ذلك
                    فإن اللجنة العليا للخصخصة رشحت عددًا من المشـروعات في قطـاع الإعـلام والثقافة للخصخصة، رغم احتكار الدولة
                    ملكية وإدارة وتشغيل وسائل الإعلام المرئية والمسموعة. </p>
                <h2>برامج الإصلاح جاءت استجابة لأزمات سياسية ومالية:</h2>
                <p>تهدف السياسات الاقتصادية والتنموية اليمنية إلى تحقيق النمو الاقتصادي بقيادة القطاع الخاص، وقد نفذت الحكومة
                    اليمنية برنامج الإصلاح الاقتصادي لتحقيق هذا الهدف، غير أن النتائج التي أسفر عنها البرنامج منذ بداية تنفيذه
                    عام 1995م حتى الآن بينت أن الإصلاحات الاقتصادية غير كافية لتوفير الشـروط والبيئة اللازمة لنشاط القطاع الخاص،
                    وأن فاعلية القطاع الخاص تتطلب إصلاحات شاملة، سياسية، ثقافية، اجتماعية، إدارية وإصلاحات في قطاعي الأمن
                    والقضاء، ومن ثَمَّ فإن ضعف مستوى تنفيذ برامج الإصلاح الإداري والقضائي، والإصلاحات المؤسسية الأخرى قللت من
                    أهمية إنجازات الإصلاحات الاقتصادية، كذلك الحال فيما يتعلق بالإصلاح السياسي، فإن التحول السياسي قد يُختزل إلى
                    مجرد عمليات انتخابية وتعددية تنظيمية، دون أن تؤدي إلى تداول سلمي للسلطة، بل قد تؤدي إلى تجميد النخب السياسية
                    الحاكمة، وإلى تكريس التسلطية.</p>
                <p>يرجع ذلك إلى أن عمليات الإصلاح وإجراءاته جاءت في كثير من الأحيان استجابة لأزمات آنية، ولم تسعى إلى حل
                    المشكلات البنيوية، وهو أمر مرتبط بطبيعة بناء الدولة وطبيعة التركيب الاجتماعي السائد، فالدولة في اليمن ضعيفة،
                    ومتمفصلة مع البنية القبلية، ويتمتع شيوخ القبائل والنخب التقليدية بقوة سياسية كبيرة؛ لذلك فإن الدولة لا
                    تستطيع تنفيذ إجراءات وتحولات اجتماعية جذرية وبنيوية، من شأنها تحقيق العدالة الاجتماعية، في مقابل ذلك فإن
                    الطبقة الوسطى التي تمثل الحامل الاجتماعي للتحديث والإصلاح الديمقراطي ضعيفة وتفتقر للتنظيم، وعلاقاتها بالفئات
                    الشعبية ضعيفة، وفي الحالات التي تتبنى مواقف معارضة لبعض الإجراءات الحكومية فإنها تجابه بقمع عنيف؛ لذلك نفذت
                    الحكومة الإجراءات الإصلاحية التي يقع عبئها على الفئات الاجتماعية الشعبية ومحدودي الدخل، كإلغاء الدعم على
                    السلع الغذائية، وتحرير أسعار المشتقات النفطية، وأسعار الخدمات الاجتماعية، كالنقل، المواصلات، الكهرباء،
                    الهاتف، المياه والصـرف الصحي، والإصلاحات الضـريبية، والحد من البعثات الدراسية إلى الخارج، وتقليص التوظيف
                    الجديد والتسويات الوظيفية إلى الحدود الدنيا <a href="#15"><span><sup
                                title="محسن، يحيى صالح: سياسات الإصلاح الاقتصادي في الجمهورية اليمنية- النتائج الاقتصادية والآثار الاجتماعية، مجلة بحوث اقتصادية، العدد25، خريف 2001، ص88 – 89.">[15]</sup></span></a>،
                    وفي المقابل تلكأت وأجلَّت تنفيذ بعض الإجراءات التي من شأنها
                    تحقيق العدالة الاجتماعية. </p>
                <h2>الواقع الراهن للخدمة المدنية ومتطلبات إصلاحها:</h2>
                <p>يمكن وصف جهاز الخدمة المدنية في الوقت الراهن بأنه - وكما كان دائمًا - جهاز متضخم وعاجز، فقد ارتفع عدد
                    الموظفين في الجهاز الإداري للدولة والقطاعين العام والمختلط من 191 ألفًا عام 1990م إلى 348 ألف موظف عام
                    1995م، ثم إلى 404,522 موظفًا عام 1998م، وإلى 428 ألف موظف في ديسمبر 2000م <a href="#16"><span><sup
                        title="استراتيجية التخفيف من الفقر (2003 – 2005)، مرجع سابق، ص27. ">[16]</sup></span></a>، وفي ديسمبر
                    2009م بلغ إجمالي
                    عدد الموظفين 559,092 موظفًا وموظفة، منهم 463,303 موظفًا يشكلون (83%) من إجمالي الموظفين والموظفات، و 95,778
                    موظفة يشكلن حوالي (17%) من إجمالي الموظفين والموظفات، منهم 10 رؤساء وزراء، 32 نائب رئيس وزراء، 247 وزيرًا،
                    76 نائب وزير، 329 وكيل وزارة، 336 وكيل وزارة مساعد و 1,926 مدير عام <a href="#17"><span><sup
                        title="بيانات حصل عليها الباحث خلال ترأسه لفريق إدماج النوع الاجتماعي في الخطة الخمسية الرابعة.">[17]</sup></span></a>.
                </p>
                <img class="spe-img10" src="{% static 'imgs/mk8.png' %}" alt="">
                <p>هذا العدد الكبير من الموظفين رفع فاتورة مرتبات الموظفين المدنيين ومنتسبي الأجهزة الأمنية إلى ما يقرب من 13.5%
                    من الناتج القومي الإجمالي. </p>
                <p>وبشكل عام فإن موظفي الجهاز الإداري للدولة الخاضعين لإشراف وزارة الخدمة المدنية يشكلون حوالي ثلث من يحصلون على
                    مرتبات من الدولة، ففي عام 2003م بلغ «العدد الإجمالي للقوى العاملة حوالي مليون موظف (عامل ومتقاعد) في قطاعات
                    الدولة المختلفة» <a href="#18"><span><sup
                        title="وزارة الخدمة المدنية والتأمينات، المذكرة التفسيرية لمشروع الاستراتيجية الوطنية للأجور والمرتبات، ص2. ">[18]</sup></span></a>،
                    وفي حديث رئيس الجمهورية الأسبق مع عسكريين في محافظة عدن في يناير 2011م قال: إن الدولة
                    تدفع مرتبات مليون ونصف موظف.</p>
                <h2 class="special-title2">جدول رقم (1) مؤشرات الإدارة في اليمن خلال العقد الثاني من القرن الحادي والعشرين: <a href="#19"><span><sup
                    title="Source: the table was established by using data from، World Bank، Worledwide Governance Indecators، 2021 update، Aggregate Governance Indicators 1996-2020، available at: http://info.worldbank.org/governance/wgi/">[in]</sup></span></a>
                </h2>
                <table class="us-table ctable">
                    <tbody>
                        <tr>
                            <td>المؤشرات </td>
                            <td>0 <br>
                                1 <br>
                                1
                            </td>
                            <td>0 <br>
                                1 <br>
                                2
                            </td>
                            <td>0 <br>
                                1 <br>
                                3
                            </td>
                            <td>0 <br>
                                1 <br>
                                4
                            </td>
                            <td>0 <br>
                                1 <br>
                                5
                            </td>
                            <td>0 <br>
                                1 <br>
                                6
                            </td>
                            <td>0 <br>
                                1 <br>
                                7
                            </td>
                            <td>0 <br>
                                1 <br>
                                8
                            </td>
                            <td>0 <br>
                                1 <br>
                                9
                            </td>
                            <td>0 <br>
                                2 <br>
                                0
                            </td>
                        </tr>
                        <tr>
                            <td>السيطرة على الفساد </td>
                            <td>.1 <br>
                                2 <br>
                                3
                            </td>
                            <td>1. <br>
                                2 <br>
                                5
                            </td>
                            <td>1. <br>
                                2 <br>
                                4
                            </td>
                            <td>.1 <br>
                                5 <br>
                                6
                            </td>
                            <td>.1 <br>
                                4 <br>
                                7
                            </td>
                            <td>.1 <br>
                                6 <br>
                                6
                            </td>
                            <td>.1 <br>
                                5 <br>
                                9
                            </td>
                            <td>.1 <br>
                                6 <br>
                                3
                            </td>
                            <td>.1 <br>
                                6 <br>
                                8
                            </td>
                            <td>.1 <br>
                                6 <br>
                                8
                            </td>
                        </tr>
                        <tr>
                            <td>حكم القانون </td>
                            <td>.1 <br>
                                2 <br>
                                9
                            </td>
                            <td>.1 <br>
                                2 <br>
                                7
                            </td>
                            <td>.1 <br>
                                1 <br>
                                8
                            </td>
                            <td>.1 <br>
                                2 <br>
                                0
                            </td>
                            <td>.1 <br>
                                2 <br>
                                7
                            </td>
                            <td>.4 <br>
                                4 <br>
                                2
                            </td>
                            <td>.1 <br>
                                6 <br>
                                5
                            </td>
                            <td>.1 <br>
                                7 <br>
                                4
                            </td>
                            <td>.1 <br>
                                7 <br>
                                9
                            </td>
                            <td>.1 <br>
                                7 <br>
                                7
                            </td>
                        </tr>
                        <tr>
                            <td>جودة التـشريعات </td>
                            <td>.0 <br>
                                8 <br>
                                4
                            </td>
                            <td>.0 <br>
                                6 <br>
                                9
                            </td>
                            <td>.0 <br>
                                7 <br>
                                3
                            </td>
                            <td>.0 <br>
                                8 <br>
                                9
                            </td>
                            <td>.1 <br>
                                1 <br>
                                3
                            </td>
                            <td>.1 <br>
                                4 <br>
                                8
                            </td>
                            <td>.1 <br>
                                4 <br>
                                5
                            </td>
                            <td>.1 <br>
                                5 <br>
                                9
                            </td>
                            <td>.1 <br>
                                6 <br>
                                6
                            </td>
                            <td>.1 <br>
                                8 <br>
                                0
                            </td>
                        </tr>
                        <tr>
                            <td>فاعلية الحكومة</td>
                            <td>.1 <br>
                                5 <br>
                                5
                            </td>
                            <td>.1 <br>
                                2 <br>
                                7
                            </td>
                            <td>.1 <br>
                                2 <br>
                                2
                            </td>
                            <td>.1 <br>
                                4 <br>
                                1
                            </td>
                            <td>.1 <br>
                                6 <br>
                                3
                            </td>
                            <td>.1 <br>
                                8 <br>
                                3
                            </td>
                            <td>.1 <br>
                                9 <br>
                                1
                            </td>
                            <td>.2 <br>
                                2 <br>
                                3
                            </td>
                            <td>.2 <br>
                                2 <br>
                                8
                            </td>
                            <td>.2 <br>
                                3 <br>
                                1
                            </td>
                        </tr>
                        <tr>
                            <td>الاستقرار السياسي</td>
                            <td>.2 <br>
                                4 <br>
                                3
                            </td>
                            <td>.2 <br>
                                4 <br>
                                3
                            </td>
                            <td>.2 <br>
                                3 <br>
                                7
                            </td>
                            <td>.2 <br>
                                6 <br>
                                7
                            </td>
                            <td>.3 <br>
                                8 <br>
        
                            </td>
                            <td>.2 <br>
                                7 <br>
                                9
                            </td>
                            <td>.2 <br>
                                9 <br>
                                4
                            </td>
                            <td>.3 <br>
                                0 <br>
                                1
                            </td>
                            <td>.2 <br>
                                7 <br>
                                7
                            </td>
                            <td>.2 <br>
                                6 <br>
                                7
                            </td>
                        </tr>
                        <tr>
                            <td>الصوت والمحاسبية</td>
                            <td>.1 <br>
                                3 <br>
                                9
                            </td>
                            <td>.1 <br>
                                3 <br>
                                5
                            </td>
                            <td>.1 <br>
                                3 <br>
                                3
                            </td>
                            <td>.1 <br>
                                3 <br>
                                0
                            </td>
                            <td>.9 <br>
                                7 <br>
                                0
                            </td>
                            <td>.1 <br>
                                5 <br>
                                2
                            </td>
                            <td>.1 <br>
                                6 <br>
                                9
                            </td>
                            <td>.1 <br>
                                6 <br>
                                9
                            </td>
                            <td>.1 <br>
                                7 <br>
                                6
                            </td>
                            <td>.1 <br>
                                7 <br>
                                8
                            </td>
                        </tr>
                    </tbody>
                </table>
                <h2>أهم سمات جهاز الإدارة العامة:</h2>
                <p>موظفون وهميون: قدرت وكالة التنمية الأمريكية عدد الموظفين الوهمين عام 2008م بحوالي 30,000 موظف، من إجمالي
                    الموظفين في الجهاز الإداري للدولة البالغ عددهم آنذاك حوالي 473,000 موظفًا، وقدرت الجنود الوهميين بما يقرب من
                    ثلث جنود القوات المسلحة <a href="#19"><span><sup
                        title="See, USAID Yemen, Yemen Corruption Assessment, September 2006, p: 4. , in US embassy website, viewed on 4 February 2010, http://yemen.usembassy.gov/root/pdfs/reports/yemen-corruption-assessment.pdf">[19]</sup></span></a>،
                    ويتركز معظم الموظفين المدنيين الوهميين في قطاع التعليم، حيث يقدر نسبة الموظفين
                    الوهميين في قطاع التربية والتعليم بحوالي 40% من إجمالي الموظفين في هذا القطاع <a href="#20"><span><sup
                        title="Ibid, p: 42-43.">[20]</sup></span></a>، ويتوزع الباقون على مختلف
                    الوزارات والمؤسسات الحكومية على المستويين المركزي والمحلي. يستنزف الموظفون الوهميون في قطاع التعليم ما يزيد
                    على 6% من إجمالي الميزانية العامة للدولة سنويًا <a href="#21"><span><sup
                        title="Daniel Egel, Tribal Diversity, Political Patronage and the Yemeni Decentralization Experiment, January 12, 2010, p: 2. ">[21]</sup></span></a>،
                    ناهيك عما يستنزف من ميزانية الدولة السنوية لتعزيز شبكات
                    وعلاقات الموالاة في القطاعات الأخرى، وما يصـرف لشيوخ القبائل من مرتبات من مصلحة شؤون القبائل، البالغ عددهم
                    عام 2007م حوالي 6,000 شيخ <a href="#22"><span><sup
                        title="Phillips, S. (2008). Yemen's Democracy Experiment in Regional Perspective. Palgrave Macmillan. ">[22]</sup></span></a>،
                    فضلًا عن الموارد غير المالية التي توظف في تعزيز علاقات الموالاة، مثل العقارات
                    وتسهيل صفقات الأعمال <a href="#23"><span><sup
                        title="Khaled Fattah, A Political History of Civil-Military Relations in Yemen, Alternative Politics, Special Issue 1, 25-47, November 2010, P: 41.">[23]</sup></span></a>.
                </p>
        
                <h2>تضخم الجهاز الإداري للدولة: </h2>
                <p>يرجع التضخم في الجهاز الإداري للدولة وعدد موظفي الدولة بشكل عام إلى البنية القبلية، وطبيعة بناء الدولة
                    وجهازها البيروقراطي الذي يتسم بطابع رعوي، فيجري شراء ولاء بعض أفراد القبائل ومراضاة القبائل المحتجين عن طريق
                    التوظيف في الجهاز الإداري للدولة، ويجري شراء ولاء بعض مشايخ القبائل عن طريق منحهم مرتبات تحت اسم مرافقين
                    شخصيين، وهؤلاء الموظفون الوهميون إما أن يضموا إلى كشوفات مرتبات الجهاز الإداري للدولة، لاسيما في قطاع
                    التربية والتعليم <a href="#24"><span><sup title="مؤسسة الجزيرة العربية للتنمية الفكرية والثقافية، ص 150">[24]</sup></span></a>،
                    أو إلى كشوف مرتبات أجهزة ومؤسسات الدولة الأخرى. ترتب على تضخم الجهاز الإداري للدولة أن
                    معظم مخصصات الموازنة العامة للدولة تخصص للمرتبات والأجور، إلى درجة أن إيرادات اليمـن من الضـرائب والجمـارك
                    عام 2003م لم تكن تغطي سوى أقل قليـلًا من 67% من مرتبات القوى العاملة (العاملين والمتقاعدين)، حيث بلغت كلفة
                    الأجور والمرتبات حوالي 266 مليار ريال، بزيادة 88 مليار ريال عن إجمالي الإيرادات من الضـرائب
                    والجمارك<a href="#25"><span><sup
                        title="المذكرة التفسيرية لمشروع الاستراتيجية الوطنية للأجور والمرتبات: وزارة الخدمة المدنية والتأمينات، ص2. ">[25]</sup></span></a>.
                </p>
                <h2>البطء في الإجراءات وانتشار الفساد: </h2>
                <p>يتعمد كثير من موظفي الجهاز الإداري للدولة تأخير المعاملات، ووضع عراقيل عديدة أمام أصحابها؛ بهدف الحصول على
                    منافع شخصية، الأمر الذي أثر سلبًا في مناخ الاستثمار، وباتت اليمن تمثل ثاني أغلى دولة في العالم من حيث المبلغ
                    المطلوب لإنشاء مشـروع تجـاري، ويعد المناخ الاقتصادي في اليمن أحد أضعف المناخات التنافسية في العالم
                    العربي<a href="#26"><span><sup title="B. Crick: Essays on Reforms – Oxford, 1967.">[26]</sup></span></a>.</p>
                <h2>كثرة عدد الهيئات والمؤسسات: </h2>
                <p>فمن أجل كسب الولاءات عمد النظام السابق إلى إنشاء مؤسسات وهيئات كثيرة لإنجاز أعمال ووظائف كان يمكن لهيئة واحدة
                    إنجازها، فعلى سبيل المثال، في مجال النفط هناك وزارة النفط، شركة النفط، هيئة استكشاف وإنتاج النفط، شركة
                    الاستثمارات النفطية، شركة الغاز، على الرغم من أن اليمن تنتج أقل من 400 ألف برميل من النفط يوميًا، وفي مجال
                    التعليم هناك ثلاث وزارات هي: وزارة التربية والتعليم، وزارة التعليم العالي والبحث العلمي، وزارة التعليم الفني
                    والتدريب المهني، فضلًا عن عدد من الأجهزة والهيئات.</p>
                <h2>تضارب الصلاحيات: </h2>
                <p>ترتب على كثرة عدد الوزارات والهيئات والمؤسسات والأجهزة التي تعمل في مجال واحد، تضارب في الصلاحيات والسلطات.
                </p>
                <h2>تدني مستوى الأجور وكثرة عدد البدلات المالية: </h2>
                <p>مرتبات موظفي الخدمة المدنية في اليمن متدنية جدًا، ولا تتناسب مع خط الفقر الوطني، وفي إطار سياسات شراء
                    الولاءات التي كان يستخدمها النظام السابق خفض المرتبات الأساسية لموظفي الدولة، ومنح الموالين والمحاسيب عددًا
                    كبيرًا من البدلات، وقد أشارت وزارة الخدمة المدنية إلى جود أكثر من 65 نوعًا من البدلات <a href="#27"><span><sup
                        title="المذكرة التفسيرية لمشروع الاستراتيجية ...، مرجع سابق، ص3. ">[27]</sup></span></a>.</p>
                <h2>مركزية رأسية وأفقية شديدة: </h2>
                <p>على الرغم من صدور القانون رقم (4) لسنة 2000م بشأن السلطة المحلية، إلا أن هذا القانون لم يمنح المجالس المحلية
                    درجة عالية من الاستقلالية، لاسيما في مجال صناعة القرارات والتخطيط للتنمية المحلية، بقدر ما منحه من أدوار في
                    مجال التنفيذ، وظل الطابع المركزي للإدارة قائمًا، وعلى مستوى المركزية الأفقية، فإن مؤسسات وأجهزة الدولة
                    ووزاراتها لا تتمتع باستقلالية، حيث تقوم وزارة المالية بتعيين كل المدراء الماليين في كل مؤسسات الدولة
                    وأجهزتها، وتعين وزارة الخدمة المدنية كل مديري شؤون الموظفين، وتعين وزارة الشؤون القانونية كل مديري الشؤون
                    القانونية في كل مؤسسات الدولة وأجهزتها.</p>
                <h2>عدم خضوع كثير من موظفي الدولة لإشراف وزارة الخدمة المدنية: </h2>
                <p>حيث تقول وزارة الخدمة المدنية أن أكثر من ثلثي جهاز الإدارة العامة خارج نطاق إشراف وزارة الخدمة المدنية
                    والتأمينات<a href="#28"><span><sup title="المذكرة التفسيرية لمشروع الاستراتيجية ...، مرجع سابق، ص4">[28]</sup></span></a>.</p>
                <h2 class="special-title">الإجراءات المطلوب تنفيذها: </h2>
                <ul style="list-style: square;">
                    <li>تطبيق سياسات توظيف في الخدمة المدنية تستند لمبادئ المساواة وتكافؤ الفرص، وينظم التنافس على الوظيفة
                        العامة على الجدارة أو الكفاءة. </li>
                    <li>رفع الأجور والمرتبات إلى مستوى واقعي، يتناسب مع خط الفقر الوطني وغلاء الأسعار وأسعار صرف العملة الوطنية.
                    </li>
                    <li>توصيف واضح لكل الوظائف، فالتوصيف الحالي لا يشمل كل الوظائف، فضلًا عن أنه يعاني من الضعف الشديد والإطناب
                        الكثير. </li>
                    <li>تعزيز استقلالية المؤسسات والأجهزة، وتعزيز اللامركزية الرأسية والأفقية، وذلك عن طريق الإجراءات الآتية:
                    </li>
                    <li>منح مديري الوحدات التفويض والسلطة لوضع أهداف ورؤى للوحدات التي يديرونها. </li>
                    <li>منح مكاتب الوزارات في المحافظات والمديريات الاستقلال وصلاحية اتخاذ القرارات الاستراتيجية والإجرائية.
                    </li>
                    <li>منح المجالس المحلية والمكاتب التنفيذية في المحافظات التفويض والسلطة من أجل تخطيط ووضع الميزانيات
                        لمحافظاتها.</li>
                    <li>تقليص الوظائف الزائدة وغير الضرورية.</li>
                    <li>وضع مقاييس أداء لكل الإدارات والمؤسسات الحكومية؛ بهدف تطوير أدائها ومحاسبتها.</li>
                    <li>معالجة أوضاع العمالة الزائدة.</li>
                    <li>استكمال فرض الرقم الوطني لكل موظفي الدولة.</li>
                    <li>استكمال بيانات البصمة والصورة لكل موظفي الدولة.</li>
                    <li>بناء قاعدة معلومات حديثة وشاملة لكل موظفي الدولة. </li>
                    <li>بناء سياسات واستراتيجيات فعالة وكفؤة لمكافحة الفساد في الجهاز الإداري للدولة.</li>
                    <li>ربط الجهاز المركزي للرقابة والمحاسبة بمجلس النواب.</li>
                    <li>تفعيل المجلس الأعلى للخدمة المدنية، وربطه بمجلس النواب، ومنحه سلطة تنظيم إعلان الوظائف والمسابقات
                        القائمة على أساس الجدارة على مستوى الجمهورية اليمنية. </li>
                    <li>تعزيز العلاقة بين الهيئة الوطنية العليا لمكافحة الفساد والسلطة القضائية.</li>
                </ul>
        
        
            </div>
        </div>
        <div class="nested-ref">
            <h2 class="show-references">إخفاء المراجع</h2>
    <div class="refrences">
        <div class="first-ref-info">
            <h2>المراجع</h2>
        </div>
        <ul>
            <li id="1">حول قراءة الأزمة السياسية اليمنية التي شهدتها اليمن في المدة 1991 – 1994، بعدها تجسيداً للخلاف حول
                طبيعة واتجاهات التحول الاجتماعي، وغياب التوافق حولها.. أنظر: علي، محمد أحمد: قضية دولة القانون في الأزمة
                اليمنية: الجزء الأول " بعض وقائع الخلاف قبل حرب صيف عام 1994، دار الكنوز الأدبية، بيروت، ط1، 1999، ص36 – 95.
            </li>
            <li id="2">استراتيجية التخفيف من الفقر (2003 – 2005)، وزارة التخطيط والتنمية، ص 9.</li>
            <li id="3">السياسات والاستراتيجيات المستقبلية للتنمية الصحية في الجمهورية اليمنية- وثيقة مقرة في المؤتمر الوطني
                الأول للتنمية الصحية (6-9 فبراير 1994م)، وزارة الصحة العامة، صنعاء، 1994، ص34.</li>
            <li id="4">الخطة الخمسية الثانية للتنمية الصحية (2001-2005)، وزارة الصحة العامة، صنعاء، 2001، ص76.</li>
            <li id="5">المرجع السابق نفسه.</li>
            <li id="6">إصلاح القطاع الصحي في الجمهورية اليمنية (الجزء الأول: استراتيجية الإصلاح): وزارة الصحة العامة
                والسكان، صنعاء، ديسمبر 1998، ص41.</li>
            <li id="7">السروري، عبده. وآخرون: الاشتراك بتكاليف الرعاية الصحية الأساسية- دروس من اليمن، ورقة عمل، أوكسفام،
                بريطانيا، 2002.</li>
            <li id="8" class="eng">World Bank – International Development Association, Country Assistance Strategy for The
                Republic of Yemen for the Period FY 2006 – FY 2009, Report No. 36014-YEM, May 17, 2006, p: 2. </li>
            <li id="9">عبده، عبد الخالق عبد المجيد: تأثير التعديلات السعرية للمشتقات النفطية على مستوى الاستهلاك المحلي
                الإجمالي، مجلة الثوابت، العدد 18، صنعاء، أكتوبر – ديسمبر، 1999، ص169.</li>
            <li id="10">المرجع السابق نفسه، ص 140.</li>
            <li id="11">المرجع السابق نفسه، ص174 – 175.</li>
            <li id="12">برنامج للإصلاحات الاقتصادية يهدف إلى تحسين أو تحرير الاقتصاد، يدعو إليه ويفرضه البنك الدولي وصندوق
                النقد الدولي على البلدان الفقيرة والنامية في مقابل حصولها على قروض جديدة.</li>
            <li id="13">خصصت مجلة الاقتصادية عددها رقم (69)، الصادر في أغسطس 2002 ملفاً خاصاً لمناقشة وعرض وجهات النظر
                المختلفة حول ضريبة المبيعات.</li>
            <li id="14">قاسم، منصور أمين، مرجع سابق، ص14.</li>
            <li id="15">محسن، يحيى صالح: سياسات الإصلاح الاقتصادي في الجمهورية اليمنية- النتائج الاقتصادية والآثار
                الاجتماعية، مجلة بحوث اقتصادية، العدد25، خريف 2001، ص88 – 89.</li>
            <li id="16">استراتيجية التخفيف من الفقر (2003 – 2005)، مرجع سابق، ص27.</li>
            <li id="17">بيانات حصل عليها الباحث خلال ترأسه لفريق إدماج النوع الاجتماعي في الخطة الخمسية الرابعة.</li>
            <li id="18">وزارة الخدمة المدنية والتأمينات، المذكرة التفسيرية لمشروع الاستراتيجية الوطنية للأجور والمرتبات، ص2.
            </li>
            <li id="19" class="eng">See, USAID Yemen, Yemen Corruption Assessment, September 2006, p: 4. , in US embassy
                website, viewed on 4 February 2010, <a
                    href="http://yemen.usembassy.gov/root/pdfs/reports/yemen-corruption-assessment.pdf">http://yemen.usembassy.gov/root/pdfs/reports/yemen-corruption-assessment.pdf</a>
            </li>
            <li id="20" class="eng">Ibid, p: 42-43.</li>
            <li id="21" class="eng">Daniel Egel, Tribal Diversity, Political Patronage and the Yemeni Decentralization
                Experiment, January 12, 2010, p: 2.</li>
            <li id="22" class="eng">Phillips, S. (2008). Yemen's Democracy Experiment in Regional Perspective. Palgrave
                Macmillan.</li>
            <li id="23" class="eng">Khaled Fattah, A Political History of Civil-Military Relations in Yemen, Alternative
                Politics, Special Issue 1, 25-47, November 2010, P: 41.</li>
            <li id="24">مؤسسة الجزيرة العربية للتنمية الفكرية والثقافية، ص 150</li>
            <li id="25">المذكرة التفسيرية لمشروع الاستراتيجية الوطنية للأجور والمرتبات: وزارة الخدمة المدنية والتأمينات، ص2.
            </li>
            <li id="26">فليبس، سارة: اليمن- مركزية العملية، في ماريا أوتاوي وخوليا شقير (محرران)، ما يتعدى الواجهة: الإصلاح
                السياسي في العالم العربي، النسخة العربية، مؤسسة كارنجي ودار النهار، بيروت، ط1، 2008، ص310.</li>
            <li id="27">المذكرة التفسيرية لمشروع الاستراتيجية ...، مرجع سابق، ص3.</li>
            <li>المرجع السابق نفسه، ص4.</li>
        </ul>
    </div>
        </div>
        <div class="show-some-studies">
            <h3 class="show-studies-h3">إقرأ أيضاً</h3>
            <a href="{% url 'reformmethodology' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/method1.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <span>3 مارس 2024</span>
                        <h3>منهجية الإصلاح الإداري</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'comprehensive_reform' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/fanicial.webp' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <span>23 سبتمبر 2023</span>
                        <h3>تقييم برنامج الإصلاح الاقتصادي والمالي والإداري الشامل في اليمن</h3>

                    </div>
                </div>
            </a>
            <a href="{% url 'evolution_of_public_administration' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/admini.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <span>5 أكتوبر 2024</span>
                        <h3>تطور الإدارة العامة في إطار حقل القانون الإداري</h3>

                    </div>
                </div>
            </a>
            <a href="{% url 'financial_reform_in_countries' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/gold.webp' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <span>20 يناير 2024</span>
                        <h3>تجارب بعض الدول في مجال الإصلاح المال</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'malaysia_study' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/maly2.webp' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <span>1 يونيو 2024</span>
                        <h3>تجربة ماليزيا في الإصلاح الإداري</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'future_fo_reforming_administrative_law_in_yemen' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/fix2.webp' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <span>14 سبتمبر 2024</span>
                        <h3>الرؤية المستقبلية لإصلاح القانون الإداري في اليمن</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'future_of_financial_reform_in_yemen' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/tagarb9.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <span>6 يناير 2024</span>
                        <h3>رؤية مستقبلية للإصلاح المالي في اليمن</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'role_of_the_private_sector_in_world' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/test.png' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <span>23 ديسمبر 2023</span>
                        <h3>تجارب عالمية وإقليمية لدور القطاع الخاص</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'legislative_reform_in_the_world' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/repair4.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <span>2 نوفمبر 2024</span>
                        <h3>تجارب عربية وغربية للإصلاح التشريعي</h3>
                    </div>
                </div>
            </a>

            <a href="{% url 'implementing_e-government' %}" class="study-item">
                <div class="study-info-show last-one">
                    <div class="image-card">
                        <img src="{% static 'imgs/egoven.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <span>11 نوفمبر 2023</span>
                        <h3>عوامل نجاح أو فشل تنفيذ الحكومة الإلكترونية</h3>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <h2 class="show-references">إخفاء المراجع</h2>
    <div class="refrences">
        <div class="first-ref-info">
            <h2>المراجع</h2>
        </div>
        <ul>
            <li id="1">حول قراءة الأزمة السياسية اليمنية التي شهدتها اليمن في المدة 1991 – 1994، بعدها تجسيداً للخلاف حول
                طبيعة واتجاهات التحول الاجتماعي، وغياب التوافق حولها.. أنظر: علي، محمد أحمد: قضية دولة القانون في الأزمة
                اليمنية: الجزء الأول " بعض وقائع الخلاف قبل حرب صيف عام 1994، دار الكنوز الأدبية، بيروت، ط1، 1999، ص36 – 95.
            </li>
            <li id="2">استراتيجية التخفيف من الفقر (2003 – 2005)، وزارة التخطيط والتنمية، ص 9.</li>
            <li id="3">السياسات والاستراتيجيات المستقبلية للتنمية الصحية في الجمهورية اليمنية- وثيقة مقرة في المؤتمر الوطني
                الأول للتنمية الصحية (6-9 فبراير 1994م)، وزارة الصحة العامة، صنعاء، 1994، ص34.</li>
            <li id="4">الخطة الخمسية الثانية للتنمية الصحية (2001-2005)، وزارة الصحة العامة، صنعاء، 2001، ص76.</li>
            <li id="5">المرجع السابق نفسه.</li>
            <li id="6">إصلاح القطاع الصحي في الجمهورية اليمنية (الجزء الأول: استراتيجية الإصلاح): وزارة الصحة العامة
                والسكان، صنعاء، ديسمبر 1998، ص41.</li>
            <li id="7">السروري، عبده. وآخرون: الاشتراك بتكاليف الرعاية الصحية الأساسية- دروس من اليمن، ورقة عمل، أوكسفام،
                بريطانيا، 2002.</li>
            <li id="8" class="eng">World Bank – International Development Association, Country Assistance Strategy for The
                Republic of Yemen for the Period FY 2006 – FY 2009, Report No. 36014-YEM, May 17, 2006, p: 2. </li>
            <li id="9">عبده، عبد الخالق عبد المجيد: تأثير التعديلات السعرية للمشتقات النفطية على مستوى الاستهلاك المحلي
                الإجمالي، مجلة الثوابت، العدد 18، صنعاء، أكتوبر – ديسمبر، 1999، ص169.</li>
            <li id="10">المرجع السابق نفسه، ص 140.</li>
            <li id="11">المرجع السابق نفسه، ص174 – 175.</li>
            <li id="12">برنامج للإصلاحات الاقتصادية يهدف إلى تحسين أو تحرير الاقتصاد، يدعو إليه ويفرضه البنك الدولي وصندوق
                النقد الدولي على البلدان الفقيرة والنامية في مقابل حصولها على قروض جديدة.</li>
            <li id="13">خصصت مجلة الاقتصادية عددها رقم (69)، الصادر في أغسطس 2002 ملفاً خاصاً لمناقشة وعرض وجهات النظر
                المختلفة حول ضريبة المبيعات.</li>
            <li id="14">قاسم، منصور أمين، مرجع سابق، ص14.</li>
            <li id="15">محسن، يحيى صالح: سياسات الإصلاح الاقتصادي في الجمهورية اليمنية- النتائج الاقتصادية والآثار
                الاجتماعية، مجلة بحوث اقتصادية، العدد25، خريف 2001، ص88 – 89.</li>
            <li id="16">استراتيجية التخفيف من الفقر (2003 – 2005)، مرجع سابق، ص27.</li>
            <li id="17">بيانات حصل عليها الباحث خلال ترأسه لفريق إدماج النوع الاجتماعي في الخطة الخمسية الرابعة.</li>
            <li id="18">وزارة الخدمة المدنية والتأمينات، المذكرة التفسيرية لمشروع الاستراتيجية الوطنية للأجور والمرتبات، ص2.
            </li>
            <li id="19" class="eng">See, USAID Yemen, Yemen Corruption Assessment, September 2006, p: 4. , in US embassy
                website, viewed on 4 February 2010, <a
                    href="http://yemen.usembassy.gov/root/pdfs/reports/yemen-corruption-assessment.pdf">http://yemen.usembassy.gov/root/pdfs/reports/yemen-corruption-assessment.pdf</a>
            </li>
            <li id="20" class="eng">Ibid, p: 42-43.</li>
            <li id="21" class="eng">Daniel Egel, Tribal Diversity, Political Patronage and the Yemeni Decentralization
                Experiment, January 12, 2010, p: 2.</li>
            <li id="22" class="eng">Phillips, S. (2008). Yemen's Democracy Experiment in Regional Perspective. Palgrave
                Macmillan.</li>
            <li id="23" class="eng">Khaled Fattah, A Political History of Civil-Military Relations in Yemen, Alternative
                Politics, Special Issue 1, 25-47, November 2010, P: 41.</li>
            <li id="24">مؤسسة الجزيرة العربية للتنمية الفكرية والثقافية، ص 150</li>
            <li id="25">المذكرة التفسيرية لمشروع الاستراتيجية الوطنية للأجور والمرتبات: وزارة الخدمة المدنية والتأمينات، ص2.
            </li>
            <li id="26">فليبس، سارة: اليمن- مركزية العملية، في ماريا أوتاوي وخوليا شقير (محرران)، ما يتعدى الواجهة: الإصلاح
                السياسي في العالم العربي، النسخة العربية، مؤسسة كارنجي ودار النهار، بيروت، ط1، 2008، ص310.</li>
            <li id="27">المذكرة التفسيرية لمشروع الاستراتيجية ...، مرجع سابق، ص3.</li>
            <li>المرجع السابق نفسه، ص4.</li>
        </ul>
    </div>
</div>
{% endblock %}