{% extends 'base.html' %}
{% load static %}
{% block title %}أهم سمات الوضع الاقتصادي القائم في اليمن{% endblock %}
{% block content %}
<div class="container articles">
    <div class="top-of-study">
        <a href="{% url 'index' %}">المركز التأسيسي</a>/<a href="{% url 'studies' %}">الدراسات</a>/<span>أهم سمات الوضع
            الاقتصادي القائم في اليمن</span>
    </div>
    
    <div class="studies-flex">
        <div class="first-page">
            <div class="controls">
                <button id="increaseFont"><i class="fas fa-search-plus"></i></button>
                <button id="decreaseFont"><i class="fas fa-search-minus"></i></button>
            </div>
            <a href="#img-id" class="hidden-row"><i class="fa-solid fa-arrow-up-long"></i></a>
            <!-- <h1>الحياة في اليمن</h1> -->
            <p class="p-img">أهم سمات الوضع الاقتصادي القائم في اليمن</p>
            <div class="date-info">
                <span>18 ديسمبر 2024
                </span>
            </div>
            <span class="pub">أ.د/ مشعل الريفي</span>
            <img src="{% static 'imgs/bank2.jpg' %}" alt="" id="img-id">


            <div class="full-text">
                <p>لا شك أن هناك تناغمًا وارتباطًا وثيقًا بين وضع الإدارة العامة للدولة والوضع الاقتصادي والاجتماعي،
                    فغالبًا لا
                    يتشكل اقتصاد قوي واستقرار اجتماعي إلا في ظل دولة منظمة وحكومة كفؤة تؤدي دورًا إيجابيًا في تسيير
                    وتنظيم
                    الأنشطة الاقتصادية والحياة الاجتماعية للمواطنين، وتؤدي ذلك الدور عن طريق جهاز إداري متطور وفعال لا
                    يعاني من
                    مظاهر الاختلالات التي تعيقه عن القيام بمسؤولياته في إدارة الشأن العام بمختلف جوانبه بالشكل المطلوب.
                </p>
                <p>وعلى النقيض يترافق التراجع الاقتصادي وتدهور الأوضاع الاجتماعية مع وجود حكومات ضعيفة تعاني من مظاهر
                    الاختلال
                    الإداري المختلفة، كالفساد والمركزية والافتقار للكفاءات الإدارية وغياب التخطيط والتنظيم وعدم فاعلية
                    أجهزة
                    الرقابة وعلى نحو يصيب وظائفها بالشلل، ويجعل من دور الدولة في الاقتصاد سلبيًا ومعيقًا لفرص التقدم
                    والنمو بدل
                    من أن يكون معززًا وميسـرًا لتحقيقها.</p>
                <p>وقد استعرض المبحث الأول ما يعانيه الجهاز الإداري للدولة من مشاكل واختلالات أدت إلى تعطيل الدور
                    الحكومي في
                    مختلف شؤون المجتمع إلى حد كبير، بل وجعلت منه في كثير من الأحوال إلى عامل ضعف وإعاقة وهدم لتصل البلاد
                    اقتصاديًا وسياسيًا إلى ماهي عليه حاليًا من الفوضى والتقسيم والصراعات وعدم الاستقرار.</p>
                <p>وفي هذا المبحث نقدم صورة موجزة عن الاقتصاد اليمني عن طريق استعراض أهم المؤشرات التي تعكس الوضع
                    الاقتصادي
                    القائم وكيف وصلنا إليه، حيث سنستعرض مؤشرات الأداء الاقتصادي الكلي؛ وذلك على النحو الآتي: </p>
                <ul style="list-style: square;">
                    <li>معدل النمو الاقتصادي. </li>
                    <li>التركيبة القطاعية للناتج المحلي الإجمالي.</li>
                    <li>الموازين الاقتصادية الكلية. </li>
                    <li>التضخم. </li>
                    <li>البطالة. </li>
                </ul>
                <p>كما سنستعرض أهم الطرق والتحديات، وكذلك تلخيص دور الدولة في الاقتصاد وسنترك بعض المؤشرات الاقتصادية
                    ذات الطابع
                    الاجتماعي لاستعراضها في المبحث الثالث الذي سيتناول الوضع الاجتماعي القائم.</p>
                <h2>‌أ- معدل النمو الاقتصادي: </h2>
                <p>وفقًا لمعدلات النمو الاقتصادي المحتسبة في موقع البنك الدولي وفي التقرير الاقتصادي والاجتماعي الصادر
                    عن وزارة
                    التخطيط والتنمية والمعروضة في الجدول (1) نلاحظ أن الاقتصاد اليمني حقق معدلات نمو سالبة في الناتج
                    المحلي
                    الإجمالي الحقيقي خلال المدة (2013 – 2019م) باستثناء عامي 2013م و 2019م، وتعكس حالة التراجع الاقتصادي
                    الحاد
                    والخطير خلال مدة الحرب والحصار.</p>
                <img src="{% static 'imgs/m1.png' %}" alt="" class="spe-img4">
                <p>ويوضح التقرير الاقتصادي (2014 – 2020م) لوزارة التخطيط والتنمية ما أهدرته الحرب والحصار من فرص نمو
                    ضائعة كان
                    يمكن للاقتصاد اليمني تحقيقها لو لم يتعرض لهذه الحرب وما رافقها من حصار، وبحسب التقرير تقدر الخسارة
                    من الناتج
                    المحلي الإجمالي أو في فرص نمو الناتج المحلي الإجمالي المُضاعة ما يعادل (1.136) مليار دولار، هذا
                    الرقم بالطبع
                    لا يتضمن خسائر الحرب المباشرة جراء القصف والدمار، وإنما يمثل الخسارة في فرص الإنتاج جراء الحرب
                    والحصار، هذا
                    التقدير يتقارب كثيرًا مع تقديرات أحد التقارير الصادرة عن الأمم المتحدة الذي قدر إجمالي الخسائر في
                    الإنتاج
                    جراء الحرب حتى نهاية العام 2021م بـــــ 21 مليار دولار أمريكي<a href="#1"><span><sup
                                title="Hanna Taylors and Others (2021), ‘Assessing the Impact of War in Yemen: Pathway for Recovery’, United Nations Development Programme (UNDP) Publications.">[1]</sup></span></a>.
                </p>
                <p>وبالفعل أدت الحرب الضروس منذ 2015م وما رافقها من حصار اقتصادي، بل حرب اقتصادية موازية للحرب العسكرية
                    إلى توقف
                    العديد من المشـروعات وتراجع أداء ما بقى منها صامدًا، كما أدى ذلك إلى تراجع معدلات الاستثمار وإلى
                    هروب رؤوس
                    الأموال إلى الخارج، وكان السبب في ذلك ما أفرزته الحرب من حالة عدم الاستقرار والأمان وارتفاع درجة
                    المخاطرة
                    وانخفاض مستوى الطلب على السلع والخدمات وارتفاع تكاليف الإنتاج بشكل كبير وتوقف وتدهور خدمات البنية
                    التحتية
                    والخدمات العامة اللازمة لسير العملية الإنتاجية وانقطاع الكهرباء والطاقة والوقود كما وتعرضت شبكات
                    الطرق
                    للانهيار وكذلك للخراب والتعطيل بين المناطق المختلفة. </p>
                <p>كل ذلك قاد إلى تحقيق الخسائر وتراجع معدلات العائد وخروج كثير من المشـروعات عن العمل وارتفاع معدلات
                    البطالة
                    وتفشـي موجة الركود الاقتصادي في مختلف القطاعات الاقتصادية، وكان لعدم استقرار قيمة العملة وانقسام
                    النظام
                    النقدي والمالي دور في عدم الاستقرار وارتفاع تكاليف النشاط الاقتصادي وارتفاع درجة المخاطرة، وهي عوامل
                    وظروف
                    تعكس تردي المناخ الاستثماري وبيئة الأعمال، الذي يظهر جليًا في تقارير ممارسة أنشطة الأعمال أو ما يسمى
                    تقرير
                    بيئة الأعمال، حيث تتذيل اليمن قائمة دول العالم في هذا التقرير. </p>
                <p>فوفقًا لآخر تقرير للعام 2020م أخذت اليمن المرتبة 190 من 187 في ترتيب الدول من حيث سهولة ممارسة
                    الأعمال، وبحسب
                    التقرير فإن سهولة ممارسة النشاط ترتبط بعدة عوامل يأخذها التقرير في الاعتبار عند احتساب الترتيب
                    كإجراءات
                    التراخيص لإقامة المـشروعات، ومدى سهولة الحصول على تمويل وائتمان من المصارف والأسواق المالية، ومدى
                    سهولة
                    الإجراءات الجمركية والضـريبية، ومدى كفاءة التدخل والتنظيم الحكومي ومستويات الفساد في الدور الحكومي
                    ومستوى
                    أتمتة المعاملات الحكومية وكذا الاستقرار السياسي. </p>
                <p>ومن ثم فإن أي تحسين مستوى الأداء الاقتصادي واستعادة التعافي والنمو بدلًا عن الانكماش والتراجع يتطلب
                    إزالة
                    أسباب هذا التراجع، ومنها استعادة الاستقرار السياسي والعمل على فرض السلام العادل، ثم إجراء إصلاحات
                    تؤدي إلى
                    تحسن الدور التنظيمي والإشراف الحكومي وتجفيف منابع وبؤر الفساد وفرض النظام والقانون وإعادة بناء الحد
                    الأدنى
                    اللازم من مـشروعات وخدمات البنية التحتية ورأس المال المادي الاجتماعي، كما أن الأمر يتطلب انتشال
                    الجهاز
                    المصـرفي من حالة الشلل التي تهيمن على أدائه وتحويله إلى جهاز ائتماني متاح بفرص متكافئة لأصحاب الرؤى
                    الاستثمارية والمبادرين والمبدعين، الذي يتوقع قدرتهم على النجاح في المشـروعات الإنتاجية الإسهام في
                    ارتفاع
                    معدلات النشاط الاقتصادي وزيادة الإنتاج ورفع معدلات التشغيل وتوليد الدخل. </p>
                <h2>‌ب- التركيبة القطاعية للناتج المحلي الإجمالي:</h2>
                <p>في كل اقتصاد متطور توجد قطاعات رائدة، وفي ذات الوقت قدر كاف من التنوع في القاعدة الإنتاجية يضمن تعدد
                    بدائل
                    النمو والقوة الاقتصادية من جهة، ويكفل من جهة أخرى قدرًا مناسبًا من مقومات الاستقرار الاقتصادي الكلي
                    ومن
                    القدرة على مواجهة الصدمات الاقتصادية الناتجة عن تغيرات اقتصادية خارجية وعالمية من مدة لأخرى. </p>
                <p>في كل اقتصاد متطور توجد قطاعات رائدة، وفي ذات الوقت قدر كاف من التنوع في القاعدة الإنتاجية يضمن تعدد
                    بدائل
                    النمو والقوة الاقتصادية من جهة، ويكفل من جهة أخرى قدرًا مناسبًا من مقومات الاستقرار الاقتصادي الكلي
                    ومن
                    القدرة على مواجهة الصدمات الاقتصادية الناتجة عن تغيرات اقتصادية خارجية وعالمية من مدة لأخرى. </p>
                <p>وبالنظر إلى التركيبة القطاعية للناتج المحلي الإجمالي للجمهورية اليمنية، فقد كان الناتج النفطي قبل مدة
                    الحرب
                    يستحوذ على أكبر من ثلث الناتج المحلي الإجمالي وقرابة 80% من صادرات البلد إلى الخارج هذه النسبة
                    تراجعت منذ
                    العام 2015م؛ لكون استخراج النفط قد توقف جراء الحرب ولهذا تراجعت مساهمته إلى أقل من 5% خلال الحرب<a
                        href="#2"><span><sup
                                title="التقرير الاقتصادي والاجتماعي لليمن 2020، وزارة التخطيط والتنمية، صنعاء، 2022.">[2]</sup></span></a>.
                </p>
                <p>ومع ضعف الصناعة التحويلية، وغير الاستخراجية فإن الإسهامات النسبية للقطاع الصناعي في الناتج المحلي
                    الإجمالي
                    تعد ضئيلة، وبحسب تقديرات العام 2017م تبلغ 11.8% فقط، وفي ذات الوقت يتعثر القطاع الزراعي الذي يضم
                    النسبة
                    الأكبر من السكان ولا تتجاوز مساهمته في الناتج المحلي الإجمالي 20.3% وفق إحصاءات العام 2017م،
                    وبالمقابل يتصدر
                    قطاع الخدمات الإسهامات النسبية والمستمرة في التصاعد - في الناتج المحلي الإجمالي لتبلغ 67.9% وفق
                    إحصاءات
                    2017م<a href="#3"><span><sup
                                title="IndexMundi (2020), ‘Yemen GDP – Composition by sector’, Accessed on September 7, 2023, http://www.indexmundi.com/yemen/gdp_composition_by_sector.html">[3]</sup></span></a>.
                </p>
                <p>وبمقارنة التركيبة القطاعية تلك في إحدى سنوات الحرب مع التركيبة القطاعية في 2014م، وهو العام الذي سبق
                    بداية
                    الحرب <a href="#4"><span><sup
                                title="Sufian Towfick, Ogutcu Can and Barra Matteo (2017), ‘Energy Investment and Business Climate: Report for Observer Countries, the Republic of Yemen’ Energy Charter Secretariat, Belgium.">[4]</sup></span></a>،
                    فيمكن استنتاج أن تراجع إنتاج النفط هو الذي أظهر ارتفاعًا في الإسهامات النسبية لقطاعي الزراعة
                    والخدمات، وليس تحسن الإنتاجية والنشاط فيه؛ إذ تراجعت إسهامات قطاع الصناعة بسبب توقف إنتاج النفط من
                    26.8% عام
                    2014م إلى 11.8% عام 2017م وهو ما أظهر ارتفاعًا في إسهامات القطاع الزراعي من 9.2% إلى 20.3%، وفي
                    إسهامات قطاع
                    الخدمات من 64% إلى 67.9% مع ملاحظة أن الـــ15 نقطة مئوية التي خسـرها قطاع الصناعة في الإسهامات
                    النسبية في
                    الناتج المحلي الإجمالي قد ذهب الجزء الأكبر منها 11.1 نقطة مئوية كارتفاع في الإسهامات النسبية للقطاع
                    الزراعي،
                    بينما الجزء الأقل (3.9 نقطة مئوية) كارتفاع في الإسهامات النسبية لقطاع الخدمات، ما يعني أن جزءًا
                    كبيرًا من
                    التحسن في إسهامات القطاع الزراعي يعود إلى نمو موجب في هذا القطاع خلال مدة الحرب وهذا الاستنتاج تؤكده
                    تقديرات
                    التقرير الاقتصادي والاجتماعي لوزارة التخطيط والتنمية حيث ظهرت معدلات نمو موجبة وعالية في عامي 2015م
                    و 2016م
                    في الناتج الزراعي قبل أن تتراجع تلك المعدلات إلى قيم سالبة في العامين الآتيين جراء اشتداد الحصار
                    وتداعياته.
                </p>
                <p>إن تراجع نصيب القطاع الصناعي، لاسيما الصناعة غير الاستخراجية يعقد من فرص وإمكانات النمو؛ لكون القطاع
                    الصناعي
                    يعد ركنًا مهما من أركان النمو في أي اقتصاد، وكذلك الأمر بالنسبة للقطاع الزراعي فإن تراجع إسهاماته
                    النسبية
                    لها دلالتها وانعكاساتها الاقتصادية السلبية من ناحية أن ذلك يعد مؤشرًا على تحديات الأمن الغذائي التي
                    يواجهها
                    اليمن، وعلى عدم قدرة القطاع على تلبية الطلب المحلي على الغذاء وبقاء نسبة كبيرة من فاتورة الواردات
                    تذهب لسد
                    هذه الاحتياجات الضـرورية، حيث لا يغطي الإنتاج المحلي سوى ما بين 15-20% من الطلب المحلي على الغذاء،
                    ومن ناحية
                    ثانية يعد هذا الدور النسبي المتواضع للقطاع الزراعي في الناتج الكلي للبلد بمقام إهدار للمزايا النسبية
                    المتوفرة لهذا القطاع في اليمن، كما يمثل ذلك من جانب آخر دلالة على محدودية وضآلة متوسط دخل الفرد في
                    هذا
                    القطاع الذي يضم النسبة الأغلب من السكان. فبحسب التقديرات أن نشاط هذا القطاع يولد دخلًا لما نسبته
                    73.5% من
                    السكان <a href="#5"><span><sup title="ثامر محمد وآخرون 2023.">[5]</sup></span></a>، وهو ما يعني
                    مزيدًا من
                    أسباب تفـشي الفقر
                    وسوء توزيع الثروة. كما سيعرض لاحقًا.</p>
                <h2>‌ج- الموازين الاقتصادية الكلية: </h2>
                <p>يقصد بالموازين الاقتصادية الكلية ثلاثة حسابات للاقتصاد الكلي هي: الموازنة العامة للدولة، وميزان
                    التجارة
                    الخارجية، وحساب الادخار – الاستثمار، وتعطي أوضاع هذه الموازين الثلاثة صورة عن الوضع الاقتصادي ودرجة
                    استقراره
                    وطبيعته السياسية الاقتصادية الحكومية المنبثقة عنه، ويمكن كذلك التعرف إلى الفجوة بين الادخار
                    والاستثمار عن
                    طريق معرفة وضع كل من الموازنة العامة للدولة وميزان التجارة الخارجية وتحديدًا (الحساب الجاري) ويوضح
                    الجدول
                    رقم (2) مقدار العجوزات التي سادت في الموازين الاقتصادية الكلية كنسبة من الناتج المحلي الإجمالي.</p>
                <img src="{% static 'imgs/m2.png' %}" alt="" class="spe-img4">
                <p>يتضح من الجدول (2) استمرار العجز في كل من الموازنة العامة للدولة والحساب الجاري خلال المدة، حيث إنَّ
                    عجز
                    الموازنة العامة كان باستمرار أكبر من عجز الحساب الجاري، فهذا يعني استمرار وجود فائض في حساب الادخار
                    –
                    الاستثمار، بمقدار الفرق بين العجزين لكن هذا الفائض الناتج عن عجز الموازنة العامة للدولة لا يعد
                    مؤشرًا
                    إيجابيًا، وإنما يمثل انعكاسًا للأثر السلبي الخطير للعجز المزمن في الموازنة العامة للدولة. هذا الأثر
                    المزمن
                    هو أثر المزاحمة؛ إذ يذهب فائض الادخار هذا لتغطية عجز الموازنة العامة للدولة بدلًا عن تمويل
                    الاستثمارات
                    الإنتاجية للقطاع الخاص، وهذا الأثر السلبي يسمى في علم الاقتصاد أثر المزاحمة؛ إذ يغطي عجز الموازنة
                    العامة
                    بالاقتراض وسحب مدخرات الأفراد والمؤسسات والائتمان المصـرفي عن طريق بيع أذون الخزانة وبأسعار فائدة
                    مرتفعة
                    ترفع من تكلفة تمويل الاستثمارات الخاصة مما يؤدي إلى تثبيط وتراجع الاستثمار الخاص، وهو ما يظهر في
                    صورة هذا
                    الفائض الرقمي في حساب الادخار – الاستثمار، الذي يمثل ذلك الجزء من الأموال المدخرة التي حرم منها
                    القطاع الخاص
                    وذهبت لتغطية عجز ميزانية الحكومة، ومن ثَمَّ هدر فرص استثمارية داخل الاقتصاد. </p>
                <p>يؤكد ذلك الأمر بيانات الدين العام التي تشير إلى أزمة دين عام متفاقمة، حيث تجاوز الدين المحلي في العام
                    2015
                    الحدود الآمنة للموازنة العامة وشكل ما نسبته حوالي 385 % من الإيرادات العامة وأكثر من 200 % من إجمالي
                    النفقات
                    العامة <a href="#6"><span><sup
                                title="الدين العام في اليمن- إعادة هيكلة الدين أو التخلف عن السداد، وزارة التخطيط والتعاون الدولي، المستجدات الاجتماعية والاقتصادية لليمن، العدد 15، يونيو/ 2016م.">[6]</sup></span></a>.
                    هذا ويعود العجز في الموازنة العامة للدولة إلى تفاقم بنود الاتفاق العام وغياب أي سياسة رشيدة في
                    جانب النفقات، بل وتضخم أبوابها وبنودها بسبب تفشي الفساد وليس بسبب متطلبات أداء الحكومة لوظائفها في
                    المجتمع،
                    هذا من جانب، ومن جانب آخر بسبب تراجع مستوى الإيرادات النفطية جنبًا إلى جنب مع ضعف تحصيل الحكومة
                    لمواردها
                    السيادية، وهذا يعني أن معالجة العجز في الموازنة العامة للدولة يتطلب سياسة رشيدة للإنفاق الحكومي
                    وإدارة كفؤة
                    لتحصيل الموارد العامة، واعتماد مبدأ الموازنة العامة المتوازنة في المالية العامة للدولة. </p>
                <p>كما أن استمرار عجز الحساب الجاري يمثل اختلالًا هيكليًا ومزمنًا متعلق بضعف الجهاز الإنتاجي المحلي
                    وسياسة
                    للتجارة الخارجية متراخية على نحو لا يتفق مع إمكانات البلد الاقتصادية، وهو ما يفاقم من مديونية اليمن
                    ويحد من
                    احتياطاته من النقد الأجنبي ويشكل ضغوطًا مستمرة على سعر صرف العملة الوطنية نحو التراجع المستمر وعلى
                    نحو يهدد
                    استقرار الاقتصاد الوطني بشكل مستمر، ومن هنا من اللازم العودة لسياسة اقتصادية مغايرة تنشد الاكتفاء
                    الذاتي
                    وزيادة القدرات التصديرية وإحلال الناتج المحلي محل الواردات وترشيد الاستيراد في حدود سد العجز
                    الضـروري من
                    السلع والخدمات الاستهلاكية ومن مدخلات الإنتاج وأدواته التي لا تتوفر محليًا. </p>
                <h2>‌د- التضخم معدلاته ومصادره:</h2>
                <p>يتعرض الاقتصاد اليمني الضعيف بشكل مستمر ومتكرر إلى موجات تضخم شديدة نسبيًا وتراجع مستمر في القدرة
                    الشـرائية
                    للعملة الوطنية ويعرض الجدول رقم (3) معدلات التضخم للمدة (2012 – 2020م)، وبالنظر إلى بيانات الجدول
                    يتضح أن
                    الاقتصاد عانى من معدلات تضخم عالية تراوحت ما بين 4% و48%، وباحتساب المتوسط السنوي لمعدلات التضخم فإن
                    هذا
                    المتوسط يبلغ 15.67%، أما الأثر التضخمي التراكمي خلال المدة فيبلغ 219.9%. </p>
                <img src="{% static 'imgs/m3.png' %}" alt="" class="spe-img4">
                <p>من المعروف أن للتضخم آثارًا سلبية، فإلى جانب اتساع حالة عدم الاستقرار وارتفاع درجة المخاطرة وعدم
                    التأكد
                    وفقدان الثقة بالعملة الوطنية، تأتي الآثار المعيشية السلبية من ضمن الأضرار الموجعة لموجات التضخم؛ إذ
                    تتناقص
                    الدخول الحقيقية للأفراد، وتتدهور مستويات معيشية الأسر محدودة الدخل، وتتآكل الطبقة الوسطى في المجتمع،
                    ويزداد
                    التفاوت في توزيع الثروة حدة، وتتوسع نسبة الفقر بين السكان.</p>
                <p>وللتضخم مصادره وأسبابه المتعددة وبالنسبة للحالة اليمنية تتضافر تلك المصادر التضخمية معًا منتجة تلك
                    المستويات
                    العالية من الارتفاعات السعرية. </p>
                <p>فمن جانب يعود جزء من التضخم في الاقتصاد اليمني إلى فائض الطلب عن المعروض من السلع والخدمات، وقد
                    تفاقمت هذه
                    الحالة جراء الحرب والحصار اللذين أديا إلى تراجع المنتوج المحلي من السلع والخدمات، كما أديا كذلك إلى
                    تراجع
                    تدفق السلع المستوردة إلى الأسواق بالشكل الكافي مما خلق اختناقات في جانب العرض وتفاقمت الفجوة بين
                    الطلب الكلي
                    والعرض الكلي في شكل فائض طلب رفع بالمستويات السعرية إلى أعلى، ويظهر فائض الطلب جليًا، كذلك في العجز
                    الذي سبق
                    استعراضه في الموازين الاقتصادية الكلية، إلا أن ظاهرة التضخم التي سادت في المدة الماضية لا ترجع فقط
                    لعامل
                    فائض الطلب الكلي (عجز العرض الكلي)، بل أتى وأسهم إلى جانبه عامل ومصدر آخر لا يقل أهمية هذا العامل -
                    أيضًا -
                    يرتبط بحالة الحرب الاقتصادية التي رافقت الحرب العسكرية ألا وهو الزيادات الكبيرة والمهولة في عرض
                    النقود جراء
                    الإصدار النقدي المفرط الذي قام به البنك المركزي - فرع عدن التابع للحكومة الموالية للتحالف، حيث طبع
                    البنك
                    المركزي ما يتجاوز التريليونين من الريالات الجديدة التي للأسف الشديد لم تستخدم في الإنفاق العام
                    المنتج ولا في
                    إعادة إعمار ما دمرته الحرب ولا في تمويل باب المرتبات والأجور لموظفي الدولة، بل ذهب جله بالمضاربة في
                    أسواق
                    الصـرف وفي شراء النقد الأجنبي؛ ما أدى إلى تراجع قيمة الريال مقابل العملات الأجنبية وتراجع القوة
                    الشـرائية
                    للريال وارتفاع كبير في أسعار السلع والخدمات. </p>
                <p>إن سياسة الإصدار الملفت والمهول قد اسفرت عن نفوق كبير لمعدلات نمو عرض النقود على معدلات النمو في
                    الناتج
                    الحقيقي من السلع والخدمات، بل ترافقت مع معدلات نمو اقتصادي سالبة أصلًا خلال تلك المدة، متجاهلة أهمية
                    تناغم
                    وتكافؤ معدلات نمو عرض النقود مع معدلات نمو الناتج الإجمالي الحقيقي وهي من بديهيات السياسة النقدية،
                    ما يعني
                    أن الإصدار النقدي المفرط كان قرارًا مقصودًا يهدف إلى تدمير أهم ركيزة من ركائز الاقتصاد وهي قيمة
                    العملة
                    الوطنية. </p>
                <p>ولقد كان قرار البنك المركزي - صنعاء باعتبار المطبوعات الجديدة المصدرة من مركزي عدن عملة مزورة وغير
                    قانونية
                    محظور التعامل بها، إجراء موفقًا حافظ إلى حد كبير على قيمة الريال اليمني من المطبوعات القديمة وفصله
                    وميزه عن
                    المطبوعات الجديدة التي تهاوت قيمتها وقوتها الشـرائية بشكل أكبر. لا يعني ذلك أن القرار قد عزل تمامًا
                    الآثار
                    التضخمية لأسعار السلع والخدمات بالريال القديم جراء النمو المفرط في عرض الأوراق النقدية الجديدة، لكنه
                    أسهم
                    إلى حد بعيد في تحييد الجزء الأكبر منها. </p>
                <p>وقد أظهرت إحدى الدراسات على الحالة اليمنية وجود علاقة انحدار معنوية بين معدلات نمو عرض النقود ومعدلات
                    التضخم،
                    رغم أن الدراسة القياسية ركزت على قياس الأثر الفوري لنمو العرض النقدي على التضخم ولم تتجاوز ذلك إلى
                    قياس
                    الأثر التراكمي عبر نموذج إبطاء زمني. </p>
                <p>حيث أوضحت الدراسة أن زيادة عرض النقود بمعدل 10% يؤدي إلى ارتفاع المستوى العام للأسعار بمقدار 3% في
                    ذات
                    السنة <a href="#7"><span><sup
                                title="الريفي، مشعل: تقييم السياسة النقدية وانعكاساتها على مناخ الاستثمار في اليمن مع المقارنة مع مرجعيات مؤتمر التجارة والتنمية للأمم المتحدة‘، المؤتمر الوطني للاستثمار، 2022. 88.">[7]</sup></span></a>،
                    فكيف لو أخذنا في الحسبان الآثار التراكمية لنمو عرض النقود للسنوات الماضية، كما يعود جزء آخر من ظاهرة
                    التضخم في الاقتصاد اليمني خلال المدة إلى التضخم الناجم عما يسمى بدفع النفقة، أي: التضخم الناجم عن
                    ارتفاع
                    تكاليف الإنتاج، حيث أدت هذه الحرب وما رافقها من حصار لارتفاع أسعار المحروقات والوقود وانقطاع خدمات
                    الكهرباء
                    والمياه، وارتفاع أسعار المدخلات الإنتاجية لمستويات كبيرة، وارتفاع تكاليف النقل، وكل ذلك شكل ارتفاعًا
                    في
                    تكاليف الإنتاج ترافق معه، كذلك تضاعف الأعباء الضـريبية على المنتجين والبائعين بحكم تشكل ضريبتين
                    ورسمين في
                    أغلب التعريفات الضـريبية والجمركية، وهذا - أيضًا - مثل ارتفاعًا اضافيًا في تكاليف الإنتاج يقوم
                    المنتجون بنقل
                    عبئه إلى كاهل المستهلكين عن طريق تحميله على أسعار السلع والخدمات. </p>
                <p>بناءً عليه، فإن أي معالجة لظاهرة التضخم ينبغي أن تركز على مواجهة مصادره المشار إليها وعلى رأسها ضبط
                    نمو عرض
                    النقود والرقابة على أسواق الصـرف الأجنبي وإزالة العقبات أمام تدفق المعروض من السلع والخدمات، وإعادة
                    خدمات
                    البنية التحتية بالشكل المطلوب لتخفيض تكاليف الإنتاج والنقل والبيع، كما يجب أن يجري العمل على نشـر
                    ثقافة
                    استهلاكية رشيدة تتوافق وإمكانات ودخول المجتمع بدلًا عن ثقافة محاكاة الأنماط الاستهلاكية للمجتمعات
                    المجاورة
                    ذات الدخل المرتفع، ومن جانب آخر لا يزول فائض الطلب بسياسات تخفيضه فقط ما بقي الجهاز الإنتاجي المحلي
                    ضعيفًا
                    ومحدود الإنتاجية. بل يجب أن تأتي سياسات معالجة قصور العرض الكلي في سلم أولويات السياسة الاقتصادية.
                </p>
                <h2>‌ه- البطالة:</h2>
                <p>تتفاوت التقديرات للبطالة في اليمن، ومن التقديرات الأحدث ما أظهر أن معدل البطالة في اليمن يصل إلى
                    32% <a href="#8"><span><sup
                                title="مشروع الاستجابة لتعزيز الأمن الغذائي في اليمن (P176129) إطار عمل الإدارة البيئية والاجتماعية المحدث بناءً على التمويل الإضافي للمشروع (P17843)، منظمة الأغذية والزراعة للأمم المتحدة (الفاو)، برنامج الأمم المتحدة الإنمائي، 2023م.">[8]</sup></span></a>،
                    ورغم
                    تراجع معدلات الأمية وارتفاع معدلات التعليم فمازالت البطالة منتشـرة ومتجذرة في الاقتصاد اليمني؛ وذلك
                    يعود إلى
                    عدد من الأسباب نوجزها في الآتي:</p>
                <p><span class="spe-span"></span> وهذا يعود إلى تحقق معدلات نمو سكاني عالية مقابل معدلات نشاط
                    ونمو اقتصادي متدنية، وهذا يؤدي إلى تشكل فائض العرض في سوق العمل واستمرار مشكلة البطالة باستمرار مثل
                    هذا
                    التفاوت بين المعدلين.</p>
                <p><span class="spe-span">فشل وضعف منظومة التعليم:</span> لم يواكب التعليم في اليمن احتياجات سوق العمل
                    ولم يقدم
                    المهارات الذهنية والعملية
                    والعامة اللازمة لأداء الوظائف المطلوبة في سوق العمل، ولم يكن حتى الآن قادرًا على أن يصبح جهازًا
                    تعليميًا
                    يضمن التمكين لمخرجاته. هذه هي الصفة السائدة في أغلب وأكثر المؤسسات التعليمية في البلد وإن خرج عدد
                    قليل منها
                    استثناء عن هذه القاعدة، ويؤكد هذا الطرح مؤشرات اليمن في اقتصاد المعرفة وترتيبه العالمي والعربي، حيث
                    يأتي
                    ترتيب اليمن في المرتبة 154 من 150 وبمؤشر معرفة 28.6، أي: في ذيل القائمة ضمن آخر خمس دول في العالم،
                    ويأتي في
                    المرتبة الأخيرة عربيًا، ومن بين عوامل أو عناصر هذا المؤشر مؤشرات فرعية مرتبطة بالتعليم، حيث تأتي
                    اليمن في
                    مؤشر التعليم قبل الجامعي بالمرتبة 143 عالميًا وفي المرتبة الأخيرة عربيًا والمرتبة 154 عالميًا في
                    التدريب
                    الفني والمرتبة 132 في التعليم العالي وجميعها تمثل المرتبة الأخيرة عربياً<a href="#9"><span><sup
                                title="أحمد، حنيش: الاقتصاد المعرفي في الدول العربية – دراسة تحليلية لمؤشر المعرفة العالمي، مجلة الإصلاحات الاقتصادية والاندماج في الاقتصاد العالمي، المدرسة العليا للتجارة، العدد 16، الجزائر، 2022.">[9]</sup></span></a>.
                </p>

                <p><span class="spe-span">عدم الاستقرار السياسي والسياسات الحكومية الخاطئة:</span> أسهم الوضع السياسي
                    والصـراع
                    والحرب في تراجع معدلات
                    الاستثمار والإنتاج والتشغيل، وهذا ما أسهم في ارتفاع معدلات البطالة، كما كان لسياسة الاستحواذ الحكومي
                    - عبر
                    الدين العام - على مدخرات الجهاز المصـرفي والحيلولة دون توجيهها لتمويل مشـروعات إنتاجية جديدة الذي
                    سيكون له
                    دور في محدودية فرص العمل الجديدة المتاحة خلال المدة، كما أسهم في بقاء هذه المشكلة وتجذرها وغياب فرص
                    تراجعها.
                </p>
                <p>وبناءً عليه فلا مجال لتجاوز هذه المشكلة إلا بمواجهة ومعالجة أسباب بقائها، وتأتي سياسات الانعاش
                    الاقتصادي
                    واستعادة الاستقرار السياسي وتوجيه مدخرات الجهاز المصـرفي نحو الشباب المستثمرين وأصحاب الرؤى
                    الاستثمارية وضبط
                    الميزانية العامة للدولة في حدود إيراداتها الفعلية السيادية، وإصلاح وتطوير التعليم بمختلف مراحله.</p>

            </div>
        </div>
        <div class="nested-ref">
            <h2 class="show-references">إخفاء المراجع</h2>
    <div class="refrences">
        <div class="first-ref-info">
            <h2>المراجع</h2>
        </div>
        <ul>
            <li id="1" class="eng">Hanna Taylors and Others (2021), ‘Assessing the Impact of War in Yemen: Pathway for
                Recovery’, United Nations Development Programme (UNDP) Publications.</li>
            <li id="2">التقرير الاقتصادي والاجتماعي لليمن 2020، وزارة التخطيط والتنمية، صنعاء، 2022.</li>
            <li id="3" class="eng">IndexMundi (2020), ‘Yemen GDP – Composition by sector’, Accessed on September 7,
                2023, <a
                    href="http://www.indexmundi.com/yemen/gdp_composition_by_sector.html">http://www.indexmundi.com/yemen/gdp_composition_by_sector.html</a>
            </li>
            <li id="4" class="eng">Sufian Towfick, Ogutcu Can and Barra Matteo (2017), ‘Energy Investment and Business
                Climate: Report for Observer Countries, the Republic of Yemen’ Energy Charter Secretariat, Belgium.</li>
            <li id="5">ثامر محمد وآخرون 2023.</li>
            <li id="6">الدين العام في اليمن- إعادة هيكلة الدين أو التخلف عن السداد، وزارة التخطيط والتعاون الدولي،
                المستجدات
                الاجتماعية والاقتصادية لليمن، العدد 15، يونيو/ 2016م.</li>
            <li id="7">الريفي، مشعل: تقييم السياسة النقدية وانعكاساتها على مناخ الاستثمار في اليمن مع المقارنة مع
                مرجعيات
                مؤتمر التجارة والتنمية للأمم المتحدة‘، المؤتمر الوطني للاستثمار، 2022. 88.</li>
            <li id="8">مشروع الاستجابة لتعزيز الأمن الغذائي في اليمن (P176129) إطار عمل الإدارة البيئية والاجتماعية
                المحدث
                بناءً على التمويل الإضافي للمشروع (P17843)، منظمة الأغذية والزراعة للأمم المتحدة (الفاو)، برنامج الأمم
                المتحدة الإنمائي، 2023م.</li>
            <li id="9">أحمد، حنيش: الاقتصاد المعرفي في الدول العربية – دراسة تحليلية لمؤشر المعرفة العالمي، مجلة
                الإصلاحات
                الاقتصادية والاندماج في الاقتصاد العالمي، المدرسة العليا للتجارة، العدد 16، الجزائر، 2022.</li>
        </ul>
    </div>
        </div>
        <div class="show-some-studies">
            <h3 class="show-studies-h3">مواضيع مشابهة</h3>
            <a href="{% url 'reformmethodology' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/method1.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>منهجية الإصلاح الإداري</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'comprehensive_reform' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/fanicial.webp' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>تقييم برنامج الإصلاح الاقتصادي والمالي والإداري الشامل في اليمن</h3>

                    </div>
                </div>
            </a>
            <a href="{% url 'evolution_of_public_administration' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/admini.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>تطور الإدارة العامة في إطار حقل القانون الإداري</h3>

                    </div>
                </div>
            </a>
            <a href="{% url 'financial_reform_in_countries' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/gold.webp' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>تجارب بعض الدول في مجال الإصلاح المال</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'malaysia_study' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/maly2.webp' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>تجربة ماليزيا في الإصلاح الإداري</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'future_fo_reforming_administrative_law_in_yemen' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/fix2.webp' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>الرؤية المستقبلية لإصلاح القانون الإداري في اليمن</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'future_of_financial_reform_in_yemen' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/tagarb9.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>رؤية مستقبلية للإصلاح المالي في اليمن</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'role_of_the_private_sector_in_world' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/test.png' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>تجارب عالمية وإقليمية لدور القطاع الخاص</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'legislative_reform_in_the_world' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/repair4.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>تجارب عربية وغربية للإصلاح التشريعي</h3>
                    </div>
                </div>
            </a>

            <a href="{% url 'implementing_e-government' %}" class="study-item">
                <div class="study-info-show last-one">
                    <div class="image-card">
                        <img src="{% static 'imgs/egoven.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>عوامل نجاح أو فشل تنفيذ الحكومة الإلكترونية</h3>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <h2 class="show-references">إخفاء المراجع</h2>
    <div class="refrences">
        <div class="first-ref-info">
            <h2>المراجع</h2>
        </div>
        <ul>
            <li id="1" class="eng">Hanna Taylors and Others (2021), ‘Assessing the Impact of War in Yemen: Pathway for
                Recovery’, United Nations Development Programme (UNDP) Publications.</li>
            <li id="2">التقرير الاقتصادي والاجتماعي لليمن 2020، وزارة التخطيط والتنمية، صنعاء، 2022.</li>
            <li id="3" class="eng">IndexMundi (2020), ‘Yemen GDP – Composition by sector’, Accessed on September 7,
                2023, <a
                    href="http://www.indexmundi.com/yemen/gdp_composition_by_sector.html">http://www.indexmundi.com/yemen/gdp_composition_by_sector.html</a>
            </li>
            <li id="4" class="eng">Sufian Towfick, Ogutcu Can and Barra Matteo (2017), ‘Energy Investment and Business
                Climate: Report for Observer Countries, the Republic of Yemen’ Energy Charter Secretariat, Belgium.</li>
            <li id="5">ثامر محمد وآخرون 2023.</li>
            <li id="6">الدين العام في اليمن- إعادة هيكلة الدين أو التخلف عن السداد، وزارة التخطيط والتعاون الدولي،
                المستجدات
                الاجتماعية والاقتصادية لليمن، العدد 15، يونيو/ 2016م.</li>
            <li id="7">الريفي، مشعل: تقييم السياسة النقدية وانعكاساتها على مناخ الاستثمار في اليمن مع المقارنة مع
                مرجعيات
                مؤتمر التجارة والتنمية للأمم المتحدة‘، المؤتمر الوطني للاستثمار، 2022. 88.</li>
            <li id="8">مشروع الاستجابة لتعزيز الأمن الغذائي في اليمن (P176129) إطار عمل الإدارة البيئية والاجتماعية
                المحدث
                بناءً على التمويل الإضافي للمشروع (P17843)، منظمة الأغذية والزراعة للأمم المتحدة (الفاو)، برنامج الأمم
                المتحدة الإنمائي، 2023م.</li>
            <li id="9">أحمد، حنيش: الاقتصاد المعرفي في الدول العربية – دراسة تحليلية لمؤشر المعرفة العالمي، مجلة
                الإصلاحات
                الاقتصادية والاندماج في الاقتصاد العالمي، المدرسة العليا للتجارة، العدد 16، الجزائر، 2022.</li>
        </ul>
    </div>
</div>
{% endblock %}