{% extends 'base.html' %}
{% load static %}
{% block title %}تطور الإدارة العامة في إطار حقل القانون الإداري{% endblock %}
{% block content %}
<div class="container">
    <div class="top-of-study">
        <a href="{% url 'index' %}">المركز التأسيسي</a>/<a href="{% url 'studies' %}">الدراسات</a>/<span>تطور الإدارة
            العامة في إطار حقل القانون الإداري</span>
    </div>
    
    <div class="studies-flex">
        <div class="first-page">
            <div class="controls">
                <button id="increaseFont"><i class="fas fa-search-plus"></i></button>
                <button id="decreaseFont"><i class="fas fa-search-minus"></i></button>
            </div>
            <a href="#img-id" class="hidden-row"><i class="fa-solid fa-arrow-up-long"></i></a>
            <!-- <h1>الحياة في اليمن</h1> -->
            <p class="p-img">تطور الإدارة العامة في إطار حقل القانون الإداري</p>
            <div class="date-info">
                <span><i class="fas fa-calendar-alt"></i> 2024/10/05
                </span>
            </div>
            <span class="pub">د/ عبد الوهاب عبد القدوس الوشلي</span>
            <img src="{% static 'imgs/admini.jpg' %}" alt="" id="img-id">


            <div class="full-text">
                <p>بالنظر إلى ما يتضمنه من مجموعة القواعد القانونية التي تحكم ممارسة الدولة لوظيفتها الإدارية؛ يُعرف
                    القانون
                    الإداري بأنه ذلك الفرع من فروع القانون العام الداخلي الذي ينظم نشاط الإدارة العامة بكل مؤسساتها:
                    سواء كانت
                    سلطات مركزية، أم هيئات محلية، أم مؤسسات عامة، أم هيئات عامة يمكن تناول تطور دراسة الإدارة العامة في
                    إطار
                    دراسات القانون الإداري في إطار النقاط الفرعية الآتية:</p>
                <h2>تطور معايير دراسة الإدارة العامة من المنظور القانوني:</h2>
                <p> لا يمكن بأي حال من الأحوال فصل الإدارة العامة عن القانون الإداري سواء من الناحية النظرية أو من
                    الناحية العملية. فمن الناحية النظرية تطورت دراسة الإدارة العامة من المنظور القانوني في إطار مجموعة
                    من
                    المعايير.</p>
                <p>وفي ظل تلك الجدليات الإدارية والفقهية فقد ظهرت العديد من المداخل المختلطة التي تحاول أن تدمج بين أكثر
                    من
                    معيار، فقد دمج فقهاء القانون الإداري بين معيار السلطة، ومعيار المرفق العام کأساس لدراسة القانون
                    الإداري
                    (فيدل Videl)، بينما نجد كتاب الإدارة العامة لم يروا تناقضًا في الدمج بين المعايير السابقة بأكملها
                    کأساس
                    لدراسة الإدارة العامة.</p>
                <h2 class="special-title">مداخل الإصلاح الإداري<a href="#1"><span><sup
                                title="الزغبي، خالد: الجوانب القانونية والإدارية لمفهوم الإصلاح الإداري، مقال منشور- 12 ديسمبر 2014.">[1]</sup></span></a>:
                </h2>
                <p>عند الحديث عن التنمية الشاملة لابد الالتفات إلى عنصر أساسي يمثل عاملًا مهما من عوامل الدفاع في عمليـة
                    التنميـة وتشـريعاتها وهو الإصلاح القانوني الإداري وفي المقابل فإن تفـشي الآفات الادارية من ترهل
                    وفساد واهمال
                    وتقصير وغير ذلك يمثل أكبر عائق أمام مشاريع التنمية كافة ولضمان اصلاح إداري نوعي لابد من مراعاة أن
                    يقوم هذا
                    الإصلاح على أسس وقواعد قانونية أصلية من خلال النقاط الآتية:</p>
                <ol>
                    <li class="3">التخطيط السليم المدروس والمسبق لعمل المؤسسات بحيث يشمل التخطيط بتحديد الأهداف وبيان
                        الوسائل والأدوات
                        اللازمة لتحقيقها والبرنامج الزمني لتنفيذها ووضع الهيكل القانوني المناسب ومن غير التخطيط والتنظيم
                        المسبق
                        يبقى العمل رهين الارتجالية وعرضة للفشل وهدر للوقت والمال والجهد واضاعته سدى. </li>
                    <li class="5">ضرورة العمل على تحييد الاعتبارات والمصالح الشخصية وتعزيز دور المؤسسية من خلال تطوير
                        المنظومات التشـريعية
                        للمؤسسات وأحكام القوانين والأنظمة والتـشريعات التي يمكن أن يتسلل من خلالها الفساد الإداري.</li>
                    <li class="-index">وضع الرجل المناسب في المكان المناسب من خلال تفعيل معايير الكفاءة والاختصاص
                        والخبرة
                        والمستوى
                        في التعيين.
                    </li>
                    <li>العمل على الاستفادة إلى أقـصى درجـة ممكنة من الطاقات والابداعات والقدرات الفردية عن طريق وضع
                        القواعد
                        القانونية للحوافز المادية والمعنوية للمتميزين والمتفوقين والمبدعين داخل المؤسسة.</li>
                    <li>الحرص على عدم هدر الوقت والمال سواء أكان وقت المواطنين وأموالهم أم وقت المؤسسة وأموالها وذلك من
                        خلال
                        تسهيل معاملات المواطنين والتخلص من التعقيدات الادارية التي تقلص من انجاز المؤسسة وتبدد وقت
                        المواطنين
                        وجهدهم ومالهم وذلك من خلال تفويض الصلاحيات لمن هم أهل لذلك ومن هنا يأتي الدور الهام والرئيس في
                        هذه
                        العملية بتفويض الرؤساء الاداريين لجزء من صلاحياتهم لمن هم دونهم في السلم الإداري وبالطبع الهدف
                        انجاز
                        أعمال إدارية وتبسيط الإجراءات واللامركزية في اتخاذ القرارات بحيث تنتقل مسؤولية تحقيق النتائج ما
                        أمكن إلى
                        المستويات التنفيذية الدنيا.</li>
                    <li>التغير في المؤسسات بهدف التطوير وليس بقصد التغيير بحد ذاته لأن التغير الذي لا يؤدي إلى تطوير
                        إنما يسهم
                        في اعاقة عمل المؤسسة ويؤثر سلبًا في تحقيق مشاريعها المختلفة.</li>
                    <li>ضرورة العمل على الاستفادة من تجارب الدول المتقدمة في مختلف المجالات من خلال ايفاد العاملين في
                        مؤسساتنا
                        في دورات تدريبية إلى مؤسسات مماثلة في الدول المتقدمة والاستفادة منها من خلال عقد دورات تأهيلية
                        وتدريبية
                        محلية للعاملين في هذه المؤسسات.</li>
                    <li>ضرورة إنشاء وحدات متابعة خاصة داخل كل مؤسسة للتحقق من تنفيذ القرارات التي تتخذها المؤسسة والخطط
                        التي
                        ترسمها وفق الجدول الزمني المقرر للتحقق من صحة القرارات المتخذة وعدم مخالفتها للأنظمة والقوانين
                        والتعليمات المعمول بها.</li>
                    <li>ضرورة ايجاد اليات لتقويم أداء المؤسسات بحيث يتم الاستفادة من جوانب النجاح وتعزيزها وتعميمها
                        وكذلك التعرف
                        إلى جوانب الفشل والاخفاق والعمل على تلافيها وازالتها من طريق التنمية والاصلاح.</li>
                </ol>
                <p class="3">أما البند العاشر فهو المساءلة إذ لا يصح مع الإصلاح الإداري طي ملفات التقصير والاهمال
                    والفساد وهدر
                    المال العام
                    لأن غض الطرف عن الفاسدين والمقصرين والمهمـلين سوف يشجعهم ويشجـع غيرهم على مزيد من الفساد مما يتسبب
                    في اعاقة
                    مشاريع التنمية والاصلاح على حد سواء ويتصل بذلك أيضًا ضرورة ايجاد آليات لتقويم أداء المؤسسات بحيث تتم
                    الاستفادة من جوانب النجاح وتعزيزها وتعميمها وكذلك التعرف إلى جوانب الفشل والاخفاق والعمل على تلافيها
                    وازالتها من طريق التنمية والإصلاح.</p>

            </div>
        </div>
        <div class="nested-ref">
            <h2 class="show-references">إخفاء المراجع</h2>
    <div class="refrences eveloution">
        <div class="first-ref-info">
            <h2>المراجع</h2>
        </div>
        <ul>
            <li id="1">الزغبي، خالد: الجوانب القانونية والإدارية لمفهوم الإصلاح الإداري، مقال منشور- 12 ديسمبر 2014.
            </li>
        </ul>
    </div>
        </div>
        <div class="show-some-studies">
            <h3 class="show-studies-h3">مواضيع مشابهة</h3>
            <a href="{% url 'reformmethodology' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/method1.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>منهجية الإصلاح الإداري</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'comprehensive_reform' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/fanicial.webp' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>تقييم برنامج الإصلاح الاقتصادي والمالي والإداري الشامل في اليمن</h3>

                    </div>
                </div>
            </a>
            <a href="{% url 'evolution_of_public_administration' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/admini.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>تطور الإدارة العامة في إطار حقل القانون الإداري</h3>

                    </div>
                </div>
            </a>
            <a href="{% url 'financial_reform_in_countries' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/gold.webp' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>تجارب بعض الدول في مجال الإصلاح المال</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'malaysia_study' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/maly2.webp' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>تجربة ماليزيا في الإصلاح الإداري</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'future_fo_reforming_administrative_law_in_yemen' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/fix2.webp' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>الرؤية المستقبلية لإصلاح القانون الإداري في اليمن</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'future_of_financial_reform_in_yemen' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/tagarb9.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>رؤية مستقبلية للإصلاح المالي في اليمن</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'role_of_the_private_sector_in_world' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/test.png' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>تجارب عالمية وإقليمية لدور القطاع الخاص</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'legislative_reform_in_the_world' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/repair4.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>تجارب عربية وغربية للإصلاح التشريعي</h3>
                    </div>
                </div>
            </a>

            <a href="{% url 'implementing_e-government' %}" class="study-item">
                <div class="study-info-show last-one">
                    <div class="image-card">
                        <img src="{% static 'imgs/egoven.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>عوامل نجاح أو فشل تنفيذ الحكومة الإلكترونية</h3>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <h2 class="show-references">إخفاء المراجع</h2>
    <div class="refrences eveloution">
        <div class="first-ref-info">
            <h2>المراجع</h2>
        </div>
        <ul>
            <li id="1">الزغبي، خالد: الجوانب القانونية والإدارية لمفهوم الإصلاح الإداري، مقال منشور- 12 ديسمبر 2014.
            </li>
        </ul>
    </div>
</div>
{% endblock %}