{% extends 'base.html' %}
{% load static %}
{% block title %}تجارب بعض الدول في مجال الإصلاح المالي{% endblock %}
{% block content %}
<div class="container articles">
    <div id="progress-container" style="position: fixed; top: 0; left: 0; width: 100%; height: 5px; background: #f0f0f0; z-index: 9999;">
        <div id="progress-bar" style="height: 100%; width: 0%; background: #C79C6F;"></div>
    </div>  
    <div class="top-of-study">
        <a href="{% url 'index' %}">الرئيسية</a><span class="first-pipe">  |  </span> <a href="{% url 'studies' %}">دراسات وبحوث</a> <span class="first-pipe"> | </span><span>تجارب بعض الدول في مجال الإصلاح المالي</span>
    </div>
    
    <div class="studies-flex">
        <div class="first-page">
            <a href="#img-id" class="hidden-row"><i class="fa-solid fa-arrow-up-long"></i></a>
            <!-- <h1>الحياة في اليمن</h1> -->
            <p class="p-img">تجارب بعض الدول في مجال الإصلاح المالي</p>
            <div class="date-info">
                <span>20 يناير 2024
                </span>
            </div>
                <span class="pub">أ.د/ عبد العزيز محمد المخلافي</span>
                <div class="controls">
                    <div class="studies-social">
                        <div class="studies-social2">
                            <div class="twitter">
                                <a href="https://twitter.com/intent/tweet?text={{ 'تجارب بعض الدول في مجال الإصلاح المالي'|urlencode }}&url={{ request.build_absolute_uri|urlencode }}"
                                    target="_blank">
                                    <i class="fa-brands fa-x-twitter"></i>
                                </a>
    
                            </div>
                            <div class="whats">
                                <a href="https://wa.me/?text={{ 'تجارب بعض الدول في مجال الإصلاح المالي'|urlencode }}%20{{ request.build_absolute_uri|urlencode }}"
                                    target="_blank">
                                    <i class="fa-brands fa-whatsapp foot-i"></i>
                                </a>
                            </div>
                            <div class="telegram">
                                <a href="https://t.me/share/url?url={{ request.build_absolute_uri|urlencode }}&text={{ 'تجارب بعض الدول في مجال الإصلاح المالي'|urlencode }}"
                                    target="_blank">
                                    <i class="fab fa-telegram"></i>
                                </a>
    
                            </div>
                            <div class="face-book">
                                <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri|urlencode }}"
                                    target="_blank">
                                    <i class="fa-brands fa-facebook foot-i"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="studies-controls">
                        <!-- <i class="fa-solid fa-print"></i> -->
                        <button id="increaseFont"><img src="{% static 'imgs/Zoom_IN.svg' %}" alt=""></button>
                        <button id="decreaseFont"><img src="{% static 'imgs/Zoom_OUT.svg' %}" alt=""></button>
                    </div>
    
                </div>
            <img src="{% static 'imgs/gold.webp' %}" alt="" id="img-id">
            
            <div class="full-text">
                <p>لقد برزت العديد من التجارب العربية والإقليمية في مجال الإصلاح المالي، نتطرق إلى التجارب التي يمكن أن تكون
                    متقاربة مع أوضاعنا الاقتصادية اليمنية، وعلى النحو الآتي:</p>
                <h2>أ‌- التجربة السنغافورية:</h2>
                <p>النموذج السنغافوري يُعد من أهم النماذج المعاصرة رغم افتقارها إلى كثير من الموارد واعتمد بصورة أساسية على
                    إشراك القطاع الخاص ودوره في تمويل الاستثمار فضلًا عن دوره في زيادة كفاءة المدخرات المحلية<a
                        href="#1"><span><sup
                                title="الحجيفي، لطف راجح: التجربة التنموية السنغافورية، شؤون العصر، العدد 15، نوفمبر 2004.">[1]</sup></span></a>.
                </p>
                <p>وقد اعتمدت هذه التجربة على مجموعة من الأسس والإجراءات، أبرزها ما يلي:</p>
                <ul style="list-style: square;">
                    <li>‌سعت الحكومة السنغافورية إلى تحسين بيئة الاستثمار والمناخ الاستثماري وتسهيل الإجراءات والشـروط، مثل:
                        القيام بالإصلاحات التجارية متمثلة بتخفيض أو إلغاء قيود التراخيص والقيود الجمركية وضرائب التصدير، وتخلص
                        القطاع العام من المؤسسات الحكومية التي لا تتميز بالكفاءة، والتخفيض من الاشتراطات المفروضة على المؤسسات
                        الخاصة وتقليص إجراءات تدخل الحكومة في النشاط الاقتصادي.</li>
                    <li>‌السماح للاستثمار المحلي بأن يتجاوز حدود وإمكانات الموارد المحلية (الادخار المحلي) والحصول على
                        التكنولوجيا المتقدمة والقدرات الفنية والتنظيم والإدارة المتقدمة.</li>
                    <li>‌الاعتماد على القطاع الصناعي وتنمية الكوادر البشـرية عن طريق التدريب والتأهيل وإنشاء المراكز الفنية
                        لتأهيل الكادر البشـري، وأصبح القطاع الخاص الصناعي قائدًا لبقية القطاعات الاقتصادية.</li>
                    <li>‌الاهتمام بتوفير البنية التحتية (موانئ، مطارات، شق الطرق وسفلتتها، شبكة مواصلات سلكية ولا سلكية)،
                        والاستفادة من وسائل التكنولوجيا الحديثة والمتطورة.</li>
                    <li>‌إنشاء سوق مالية متطورة وخدمات بنكية عالية المستوى.</li>
                    <li>‌سياسة تجارية حرة، حيث يُعد قطاع التجارة بشقيها الداخلي والخارجي في إطار نظام اقتصادي حر دون أية قيود
                        تصديرية أو استيرادية والتركيز على تشجيع الصادرات وتبسيط القواعد الإجرائية للصادرات، فضلًا عن الحوافز
                        التي تقدمها للمصدرين والمنتجين لتشجيعهم على زيادة الإنتاج.</li>
                    <li>‌إصدار القوانين والتـشريعات الخاصة بضمان الاستثمار المتعلقة بالتسهيلات والإعفاءات والمميزات الأخرى التي
                        تزيد من جذب الاستثمارات الداخلية المباشرة.</li>
                    <li>‌انطلاقًا من أن صغر الاقتصاد السنغافوري، ومن ثَمَّ قدرته على التمويل الذاتي محدد مما يترتب عليه زيادة
                        أهمية دور المشروعات الخاصة.</li>
                    <li>‌الاستثمارات الأجنبية المباشرة القائمة على المشـروعات الصناعية، ومن ثم الصادرات وتشجيعها وإبراز أهميتها
                        في الاقتصاد السنغافوري.</li>
                    <li>‌تقديم المزيد من التسهيلات المالية المتطورة لتمويل الاستثمارات الصناعية والتحويلية وتقديم الاعتمادات
                        المالية لتشجيع تسويق الصادرات المحلية في الأسواق الدولية.</li>
                    <li>‌ضرورة العمل على زيادة التراكم الرأسمالي وتجديده المستمر بما يواكب التطور التكنولوجي والعمل على تنمية
                        المدخرات المحلية واستثمارها استثمارًا منتجًا وضرورة التقليل من الإنفاق الاستهلاكي، لاسيما الجاري وزيادة
                        حجم الإنفاق الاستثماري الحكومي في البنى التحتية والمجال الخدمي.</li>
                </ul>
                <h2>ب‌- التجربة السودانية في الإصلاح المالي:</h2>
                <p>تعرض الاقتصاد السوداني لكثير من التشوهات الاقتصادية نتيجة زيادة الإنفاق الحكومي وزيادة السيولة النقدية وإسهام
                    السياسة الاقتصادية في هيمنة القطاع العام وما ترتب على كل ذلك من تعميق الاختلالات والتشوهات الاقتصادية فارتفع
                    عجز الميزانية إلى 6% من الناتج المحلي الإجمالي، وارتفع معدل التضخم لأكثر من 155% وارتفعت المديونية الخارجية
                    إلى حوالي 300% من الناتج المحلي الإجمالي<a href="#2"><span><sup
                                title="البريكان، سعود: الاستقرار والإصلاح الاقتصادي، صندوق النقد العربي، معهد السياسات الاقتصادية، 2010.">[2]</sup></span></a>.
                </p>
                <p>تبنت الحكومة السودانية برنامجًا اقتصاديًا بالتعاون مع صندوق النقد الدولي، كان المحور الأساسي لهذا البرنامج
                    السيطرة على التضخم ووقف تدهور الوضع الخارجي واستقرار سعر الصـرف وخفض عجز الموازنة، عن طريق خفض الإنفاق العام
                    وإصلاح الهيكل الضـريبي والسيطرة على معدلات نمو الكتلة النقدية، بالإضافة إلى تشجيع القطاع الخاص، وقد أدت هذه
                    الإصلاحات إلى نتائج إيجابية على صعيد الاستقرار والنمو الاقتصادي، لاسما فيما يتعلق بعجز الميزانية.</p>
                <p>اتجهت السودان إلى تدابير رئيسة لتحيق الاستقرار وتندرج تلك السياسات تحت صنفين:</p>
                <h2 class="special-title">الأول: سياسات خفض الإنفاق:</h2>
                <p>الغرض من تلك السياسات هو تعديل مستوى النشاط الاقتصادي عن طريق تخفيض الطلب الكلي، وتتمثل في تلك التدابير
                    الأساسية؛ لتحقيق خفض الإنفاق في السياسة المالية العامة (التي تتعلق بالضرائب والإنفاق الحكومي).</p>
                <h2 class="special-title">الثاني: سياسات تعديل بنود الإنفاق:</h2>
                <p>هي التدابير التي تنطوي على تحويل الإنفاق بين القطاع الداخلي والخارجي، وعادة ما يكون ذلك عن طريق زيادة
                    الصادرات من السلع والخدمات وخفض الواردات منها.</p>
                <p>أما السياسات الهيكلية التي اتبعتها السودان كانت تهدف إلى التأثير في الطاقة الإنتاجية وعلى معدلات إنتاجية
                    الاقتصاد السوداني عن طريق رفع كفاءة استخدام عوامل الإنتاج وتخصيص الموارد، بالإضافة إلى ذلك اتخاذ تدابير
                    تتعلق بتغير النظم القانونية والإدارية أو تعزيز شبكات الأمان الاجتماعي لتخفيض تكلفة التصحيح الهيكلي<a
                        href="#3"><span><sup
                                title="البريكان، سعود: الاستقرار والإصلاح الاقتصادي، صندوق النقد العربي، معهد السياسات الاقتصادية، 2010.">[3]</sup></span></a>.
                </p>
                <ul style="list-style: none;">
                    <li>‌أ. الإصلاح الضريبي وإصلاح الإنفاق والموازنة العامة.
                        <ol style="list-style: none;">
                            <li>– إجراء تعديلات أساسية في الهيكل الضـريبي من أجل تحقيق مؤامة بين أنظمة إدارة الضـريبة وبين
                                النظام الضريبي ومتطلبات اقتصاد السوق.</li>
                            <li>– القيام بتعديلات متعلقة بالقوانين الضـريبة لزيادة وكفاءة الإيرادات العامة والتقليل من عجز
                                الموازنة.</li>
                            <li>– وضع أنظمة مراقبة الإيرادات وضبط النفقات ومراجعة وضع تنفيذ الموازنة والحفاظ على حسن سير خطط
                                الإنفاق.</li>
                            <li>– استخدام إجراءات ذات كفاءة لإعداد الموازنة لتسهيل إدخال التنبؤات والتوقعات الاقتصادية وأثرها
                                على الاقتصاد الكلي ضمن توقعات الموازنة أو تطبيق تقييمات البرامج عند تحديد أولويات الإنفاق؛
                                لمواجهة أي اختلالات بالمالية العامة.</li>
        
                        </ol>
                    </li>
                    <li>‌ب. إصلاح القطاع المالي.</li>
                    <li>‌ج. إصلاح القطاع الخارجي وتحرير التجارة.</li>
                    <li>‌د. إصلاح المشروعات المملوكة للدولة والخصخصة وإعادة الهيكلة.</li>
                    <li>‌ه. تحسين ممارسة السلطات والشفافية.</li>
                    <li>‌و. ترشيد شبكات الضمان الاجتماعي.</li>
                </ul>
        
                <h2>ج‌- التجربة الأردنية في الإصلاح المالي:</h2>
                <p>اتخذت الحكومة الأردنية إجراءات تتعلق بالإصلاح المالي للخروج من الأزمات الاقتصادية التي عانى منها الاقتصاد
                    الأردني بالتعاون مع صندوق النقد الدولي.</p>
                <p>فقد عملت الحكومة الأردنية مجموعة من الإجراءات والسياسات المالية، كاستراتيجيات مالية ترمي الحكومة عن طريقها
                    تحقيق نجاحات، سواء في إعادة جدولة الديون عن طريق تطوير سوق أدوات الدين العام، وتحرير التجارة الخارجية وإزالة
                    العوائق على الاستيراد، وكذلك إلغاء التعرفة الجمركية والتوقيع على اتفاقيات التجارة الحرة مع الولايات المتحدة
                    والاتحاد الأوروبي، مما أدى إلى إعطاء الصادرات الأردنية ميزة الدخول إلى تلك الأسواق، وأيضًا تخفيض الرسوم
                    الجمركية على تلك الصادرات<a href="#4"><span><sup title="أ- الكراسنة، إبراهيم: إصلاح القطاع المالي - حالة الأردن، صندوق النقد العربي، معهد السياسات الاقتصادية، 2006.
                        ب- أبو حمور، محمد: السياسة المالية والإصلاحات الهيكلية، مركز الدراسات الاستراتيجية، الأردن، 2002.
                  ">[4]</sup></span></a>.</p>
                <p>إنشاء المناطق الحرة الصناعية، ثم إنشاء منطقة العقبة الخاصة لتشجيع التجارة والاستثمار التي قدمت عن طريقها كثير
                    من الامتيازات لتشجيع الاستثمار الأجنبي في قطاعات السياحة والصناعة والخدمات التجارية.</p>
                <p>كذلك من الإجراءات التي اتخذتها الحكومة الأردنية لتحسين وضع المالية العامة هي الرفع التدريجي للدعم عن السلع
                    الرئيسة مثل الحبوب والنفط.</p>
                <p>اتخذت - أيضًا - إجراءات متعلقة بالخصخصة وتحسين بيئة العمل وتشـريع قانون يحكم عملية الخصخصة، ولقد رافق برنامج
                    الخصخصة العديد من الإصلاحات القانونية؛ من أجل تحسين بيئة العمل، حيث هدفت هذه الإصلاحات إلى تحقيق الأهداف
                    الآتية:</p>
                <ul style="list-style: none;">
                    <li>– إلغاء ما تبقى من القوانين التي تحد من ملكية الأجانب للأملاك والأراضي.</li>
                    <li>– تقوية النظام القضائي والمؤسسات الرقابية.</li>
                    <li>– تشجيع وتنظيم نشاطات التأجير، التجارة الإلكترونية والحكومية الإلكترونية.</li>
                    <li>– تحسين فاعلية المؤسسات الحكومية.</li>
                    <li>– تقوية متطلبات الإفصاح بالنسبة إلى الشركات.</li>
        
                </ul>
                <p>ويمكن استعراض أهم الأدوات التي استخدمتها السياسة المالية خلال مرحلة تطبيق برامج التصحيح كانت ترمي إلى الحد من
                    الطابع التوسعي؛ بهدف احتواء العجز المزمن في الموازنة تدريجيًا، وذلك عن طريق العمل على تنمية الإيرادات
                    المحلية وترشيد الإنفاق العام، وفي سبيل ذلك اتخذت الحكومة سلسلة من الإجراءات التي من شأنها العمل على تنمية
                    الإيرادات المحلية وزيادة مرونتها ومن أبرز تلك الإجراءات ما يلي:</p>
                <h2 class="special-title">إحلال ضريبة الاستهلاك محل رسوم الإنتاج المحلي.</h2>
                <p>في مجال الضـرائب الجمركية وضمن سعي الحكومة لتوسيع هامش حرية التجارية وتشجيع الاستثمار وزيادة القدرة التنافسية
                    للصناعة الأردنية أجرت الحكومة تخفيضات جوهرية على الرسوم المفروضة على السلع المستوردة خاصة المواد الأولية
                    والوسيطة.</p>
                <p>إصدار قانون توحيد الرسوم والضـرائب جرى بموجبه توحيد الرسوم والضـرائب كافة؛ بحيث يجري استيفاء هذه الرسوم
                    والضرائب في بند واحد ووفق جدول واحد.</p>
                <p>في مجال الإصلاح الجمركي عملت دائرة الجمارك على اعتماد النظام المنسق للتعرفة الجمركية، وهو عبارة عن جدول دولي
                    متطور لتصنيف وتبويب السلع وفق أسس علمية ثابتة وضمن مجموعات رئيسة.</p>
                <h2 class="special-title">العمل بقانون ضمن ضريبة المبيعات بدلًا من قانون ضريبة الاستهلاك.</h2>
                <p>في إطار الإصلاح الضـريبي الشامل - الذي يهدف إلى تطوير نظام النظام الضـريبي وزيادة مرونته واستقطاب المزيد من
                    الاستثمارات المحلية والأجنبية - عدلت الحكومة قانون ضريبة الدخل وتفعيل إجراءات ونظام التقدير الذاتي لضـريبة
                    الدخل والبدء بأسلوب اختيار العينات في تدقيق الكشوفات.</p>
                <p>في جانب النفقات العامة عملت الحكومة الأردنية مجموعة من الإجراءات الهادفة إلى تقليص النفقات العامة وتخفيض
                    نسبتها إلى الناتج المحلي الإجمالي، عن طريق ضبط الإنفاق الجاري لاسيما النفقات التحويلية منها، ومن أبرزها دعم
                    الموارد والتموين والمؤسسات بالإضافة إلى جانب ترشيد مشتريات الحكومة من السلع والخدمات وضبط النمو في فاتورة
                    الأجور والمرتبات.</p>
                <h2>د‌- التجربة الجزائرية في الإصلاح المالي:</h2>
                <p>اتخذت الحكومة الجزائرية مجموعة من الإجراءات والتدابير المتعلقة في جانب الموازنة عن طريق<a
                        href="#5"><span><sup
                                title="بوحفص، حاكمي: مسيرة الاقتصاد الجزائري وأثرها على النمو الاقتصادي، مجلة العلوم الإنسانية، العدد 32، 2007.">[5]</sup></span></a>:
                </p>
                <ul style="list-style: none;">
                    <li>أ- الضغط على النفقات العامة وتم ذلك عن طريق الآتي:
                        <ol style="list-style: none;">
                            <li>– تخفيض الإنفاق العام الاستهلاكي والاستثماري.</li>
                            <li>– رفع الدعم عن السلع ذات الاستهلاك الواسع.</li>
                            <li>– رفع الدعم عن منتجات الطاقة (الوقود) الكهرباء؛ وذلك بهدف ترشيد الاستهلاك.</li>
                            <li>– تقليص المساعدات الموجهة إلى مؤسسات القطاع العام.</li>
                            <li>– تجميد الرواتب والأجور والحد من التوظيف في القطاع العام.</li>
                        </ol>
                    </li>
                    <li>ب- زيادة الإيرادات العامة عن طريق:
                        <ol style="list-style: none;">
                            <li>– رفع أسعار سلع وخدمات القطاع العام.</li>
                            <li>– زيادة الإيرادات الضـريبية عن طريق توسيع الوعاء الضـريبي؛ ليشمل أطرافًا أخرى من جهة ومكافحة
                                التهرب الضـريبي مع الإبقاء على معدلات ضريبية منخفضة، ويكون ذلك عن طريق إجراءات إصلاحات ضريبية
                                شاملة.</li>
                            <li>– القيام بسياسات الخصخصة.</li>
                            <li>– تشجيع الصادرات وتحرير المعاملات الأجنبية من كل العوائق الإدارية والضريبية.</li>
                            <li>– منح المستثمرين مزايا ضريبية وجمركية وإعطائهم ضمانات كافية في حرية تحويل أرباحهم.</li>
                        </ol>
                    </li>
                </ul>
                <h2>ه‌- التجربة المصرية للإصلاح الاقتصادي <a href="#6"><span><sup
                                title="خطاب، مختار عبد المنعم: الإصلاح الاقتصادي والخصخصة 'التجربة المصرية'، المركز الوطني للمعلومات، القاهرة، أكتوبر 2003.">[6]</sup></span></a>:
                </h2>
                <p>اتبعت مصـر برنامجًا للإصلاح الاقتصادي؛ بسبب اختلال الناتج عن عجز الموازنة العامة وعدم قدرة المدخرات المحلية
                    بتغطية الاستثمارات المطلوبة بالإضافة إلى اختلال هياكل القطاعات الاقتصادية والوحدات الإنتاجية، ومن ثم تدهور
                    أداء وحدات القطاع العام، ومن ثَمَّ زيادة العبء على الموازنة العامة للدولة، بالإضافة إلى عدم القدرة على تحويل
                    الاستثمارات الخاصة بإقامة البنية الأساسية وإحجام القطاع الخاص عن الإسهام في المشـروعات التنموية الأساسية.
                </p>
                <h2 class="special-title">ركز برنامج الإصلاح في مصر على تحقيق الأهداف الآتية:</h2>
                <ul style="list-style: none;">
                    <li>– الإدارة الكفؤة للاقتصاد وذلك بالاعتماد على اقتصاد السوق.</li>
                    <li>– تخفيض القوى المؤثرة في حدوث الاختلالات الهيكلية.</li>
                    <li>– دعم القطاع الخاص وتوسيعه وخصخصة القطاع العام.</li>
                    <li>– تخفيض تدخل الحكومة في الأنشطة الاقتصادية.</li>
                    <li>– إلغاء الدعم الحكومي عن السلع والخدمات؛ بهدف تخفيض العجز في الموازنة العامة.</li>
                </ul>
        
            </div>
        </div>
        <div class="nested-ref">
            <h2 class="show-references">إخفاء المراجع</h2>
    <div class="refrences">
        <div class="first-ref-info">
            <h2>المراجع</h2>
        </div>
        <ul>
            <li id="1">الحجيفي، لطف راجح: التجربة التنموية السنغافورية، شؤون العصر، العدد 15، نوفمبر 2004.</li>
            <li id="2">البريكان، سعود: الاستقرار والإصلاح الاقتصادي، صندوق النقد العربي، معهد السياسات الاقتصادية، 2010.
            </li>
            <li id="3">البريكان، مسعود، نفس المرجع.</li>
            <li id="4">أ- الكراسنة، إبراهيم: إصلاح القطاع المالي - حالة الأردن، صندوق النقد العربي، معهد السياسات
                الاقتصادية، 2006. <br>
                ب- أبو حمور، محمد: السياسة المالية والإصلاحات الهيكلية، مركز الدراسات الاستراتيجية، الأردن، 2002.
            </li>
            <li id="5">بوحفص، حاكمي: مسيرة الاقتصاد الجزائري وأثرها على النمو الاقتصادي، مجلة العلوم الإنسانية، العدد 32،
                2007.</li>
            <li id="6">خطاب، مختار عبد المنعم: الإصلاح الاقتصادي والخصخصة "التجربة المصرية"، المركز الوطني للمعلومات،
                القاهرة، أكتوبر 2003.</li>
        </ul>
    </div>
        </div>
        <div class="show-some-studies">
            <h3 class="show-studies-h3">اقرأ أيضًا</h3>
            <a href="{% url 'reformmethodology' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/method1.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <span>3 مارس 2024</span>
                        <h3>منهجية الإصلاح الإداري</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'comprehensive_reform' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/fanicial.webp' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <span>23 سبتمبر 2023</span>
                        <h3>تقييم برنامج الإصلاح الاقتصادي والمالي والإداري الشامل في اليمن</h3>

                    </div>
                </div>
            </a>
            <a href="{% url 'evolution_of_public_administration' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/admini.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <span>5 أكتوبر 2024</span>
                        <h3>تطور الإدارة العامة في إطار حقل القانون الإداري</h3>

                    </div>
                </div>
            </a>
            <a href="{% url 'financial_reform_in_countries' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/gold.webp' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <span>20 يناير 2024</span>
                        <h3>تجارب بعض الدول في مجال الإصلاح المال</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'malaysia_study' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/maly2.webp' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <span>1 يونيو 2024</span>
                        <h3>تجربة ماليزيا في الإصلاح الإداري</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'future_fo_reforming_administrative_law_in_yemen' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/fix2.webp' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <span>14 سبتمبر 2024</span>
                        <h3>الرؤية المستقبلية لإصلاح القانون الإداري في اليمن</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'future_of_financial_reform_in_yemen' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/tagarb9.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <span>6 يناير 2024</span>
                        <h3>رؤية مستقبلية للإصلاح المالي في اليمن</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'role_of_the_private_sector_in_world' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/test.png' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <span>23 ديسمبر 2023</span>
                        <h3>تجارب عالمية وإقليمية لدور القطاع الخاص</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'legislative_reform_in_the_world' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/repair4.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <span>2 نوفمبر 2024</span>
                        <h3>تجارب عربية وغربية للإصلاح التشريعي</h3>
                    </div>
                </div>
            </a>

            <a href="{% url 'implementing_e-government' %}" class="study-item">
                <div class="study-info-show last-one">
                    <div class="image-card">
                        <img src="{% static 'imgs/egoven.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <span>11 نوفمبر 2023</span>
                        <h3>عوامل نجاح أو فشل تنفيذ الحكومة الإلكترونية</h3>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <h2 class="show-references">إخفاء المراجع</h2>
    <div class="refrences">
        <div class="first-ref-info">
            <h2>المراجع</h2>
        </div>
        <ul>
            <li id="1">الحجيفي، لطف راجح: التجربة التنموية السنغافورية، شؤون العصر، العدد 15، نوفمبر 2004.</li>
            <li id="2">البريكان، سعود: الاستقرار والإصلاح الاقتصادي، صندوق النقد العربي، معهد السياسات الاقتصادية، 2010.
            </li>
            <li id="3">البريكان، مسعود، نفس المرجع.</li>
            <li id="4">أ- الكراسنة، إبراهيم: إصلاح القطاع المالي - حالة الأردن، صندوق النقد العربي، معهد السياسات
                الاقتصادية، 2006. <br>
                ب- أبو حمور، محمد: السياسة المالية والإصلاحات الهيكلية، مركز الدراسات الاستراتيجية، الأردن، 2002.
            </li>
            <li id="5">بوحفص، حاكمي: مسيرة الاقتصاد الجزائري وأثرها على النمو الاقتصادي، مجلة العلوم الإنسانية، العدد 32،
                2007.</li>
            <li id="6">خطاب، مختار عبد المنعم: الإصلاح الاقتصادي والخصخصة "التجربة المصرية"، المركز الوطني للمعلومات،
                القاهرة، أكتوبر 2003.</li>
        </ul>
    </div>
</div>
{% endblock %}