{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="first-page">
    <!-- <h1>الحياة في اليمن</h1> -->
    <img src="{% static 'imgs/manage1.webp' %}" alt="">
    <p class="p-img">نشأة الإدارة وتطورها.</p>
    <div class="info">
        <span>تم النشر في</span><i class="fa-solid fa-calendar"></i><span> 24 , أبريل 2010 </span>
    </div>

    <div class="full-text">
        <!-- <h2>الملخص</h2> -->
        <p>لقد عرف الإنسان الإدارة ومارسها ويمارسها عبر مواقعه وأدواره المختلفة في تدبير أمور حياته وشؤون أسرته وجماعته
            بحسب مكانته وكفاءته، ومع توسع المجتمع وبروز السلطة واصطناع الدولة تزايدت أهمية الإدارة، ومع زيادة الحاجة
            لتنظيم المجتمع وتقسيم العمل وزيادة المهن والوظائف وتعدد المهام وتنوع الاختصاصات أفضـى كل ذلك إلى تطور
            الإدارة بما اكتسبته من الأهمية الكبيرة، وأصبحت فنًا، وارتبطت بأخلاق وقيم تحملها وأهداف تسعى إلى تحقيقها،
            وأصبحت علماً، ومازالت الإدارة مع ذلك تجمع في فلسفتها بين الفن والعلم، وليس أحداهما فقط، كما أن الأخلاق
            والقيم ظلت ركيزة أساسية في الإدارة.
        </p>
        <p>وبما أن الإدارة علم، فهي تعتمد على قواعد المنهج العلمي، وتستخدم أساليبه في مختلف مهامها من تخطيط وتنظيم
            ورقابة ومتابعة وتقييم وبعد إنساني، وتكون الإدارة فنًا من حيث أدائها باعتمادها على القدرات الشخصية والموهبة
            في وضع الخطط واتخاذ القرارات عند التنفيذ بكفاءة وفاعلية. <span><sup
                    title="النمر، سعود بن محمد. وآخرون: الإدارة العامة- الأسس والوظائف والاتجاهات الحديثة، (د، ت)، ص7.">[1]</sup></span>
        </p>
        <p>ويرى تايلور - مؤسس الإدارة العلمية - أن الإدارة علم وضعي، وأن الأسلوب العلمي هو أساس كل إصلاح إداري، وأن
            الإدارة العلمية هي التي تستخدم المنهج العلمي في معالجة المشكلات الإدارية، بينما يرى هنري فايول أن الإدارة هي
            فن معاملة الناس، والإداري الناجح هو الذي يجمع بين أسلوب البحث العلمي من جهة وفن معاملة الناس من جهة أخرى
            <span><sup
                    title="لطفي، طلعت إبراهيم لطفي: علم اجتماع التنظيم، دار غريب للطباعة والنشر والتوزيع، القاهرة، 2007، ص58.">[2]</sup></span>،
            وبالاهتمام بعملية الإدارة، وفي حين ركزت الإدارة العلمية على زيادة الإنتاج، فإن عملية الإدارة ركزت على أدلة
            تُرشد المديرين في إدارة التنظيمات المعقدة، ووضع مبادئ تحكم عمل الإدارة <span><sup
                    title="المساد، محمود: الإدارة الفعالة، مكتبة لبنان ناشرون، بيروت لبنان، 2003، ص22.">[3]</sup></span>.
        </p>
        <p>وتعد الإدارة بمقام مقدرة فائقة على إنجاز الأعمال، ومهمة الإدارة تنسيق أوجه النشاط المختلفة، وبذلك تعتمد
            الإدارة على الممارسة والخبرة؛ ما يجعل الاهتمام بها حرفة ومهنة؛ تدفع لتعميق الخبرة الإدارية، وإعداد الإداري
            الناجح، وتدريب مجموعة من الإداريين على فن التعامل مع الناس، وعلى استخدام المنهج والأسلوب العلميين في حل
            المشكلات الإدارية <span><sup
                    title="إسماعيل، قباري محمد: علم الاجتماع الإداري ومشكلات التنظيم في المؤسسات البيروقراطية، منشأة المعارف، الإسكندرية، 1981، ص58-59.">[4]</sup></span>.
        </p>
        <h2>‌أ- الإدارة عبر التاريخ الحضاري والإنساني:</h2>
        <p>لقد رافق تطور الإدارة تطور المجتمع الإنساني بظهور التنظيم الاجتماعي ونشأة الدولة وتكون الإمبراطوريات التي
            مثلت علاقة جدلية بين الإدارة والحضارة، وساعدت على توسعها وبقائها واستقرارها بفعل الإدارة العامة للمجتمع
            وتوفير احتياجاته، ففي الحضارة المصـرية القديمة التي شهدت تنظيمًا للمجتمع بفعل وجود جهاز حكومي وإداري على
            درجة عالية من التنظيم والتنسيق والكفاءة وما عرفته مصـر من إدارة واستقرار وقتها، يعكس مدى تقدم الإدارة فيها،
            وفي الحضارة الصينية: كانت الإدارة الصينية في عهد شن الكبير في المدة 2200 ق. م شهدت مستوى عاليًا من التنظيم،
            وحصلت قفزات إدارية في القرن السابع قبل الميلاد، حتى جاء كونفشيوس وآخرون من الفلاسفة والمصلحين وأحدثوا
            استقرارًا سياسيًا واجتماعيًا وإداريًا نتيجة تطبيق القانون، وعرفت نظام الاختبارات في شغل الوظائف الإدارية،
            وفي الحضارة اليونانية: طرحوا بعض المبادئ الإدارية مثل التدوير الوظيفي في الوظيفة العامة، كما كرست الخدمة
            العامة كذلك، والحضارة الرومانية: شهدت الإدارة في الرومان تطورًا كبيرًا، لاسيما في المدة 500 قبل الميلاد حتى
            1427 ميلادية وظلت مدة تنظم شؤون الإمبراطورية الرومانية، وبقيت تأثيراتها في الإدارة في أوروبا بعد ذلك.
        </p>
        <p>وفي الحضارة الإسلامية: شهدت نوعًا من الممارسات من اختيار الأشخاص للوظائف على أساس الجدارة، كما عرفت نظام
            التفويض ونظام التنفيذ، وفرقت بين الوظائف الاستشارية والتنفيذية، وكذلك تقسيم العمل وتطبيق مبدأ الشورى
            <span><sup title="النمر، سعود بن محمد النمر. وآخرون، مرجع سابق.">[5]</sup></span>.
        </p>
        <p>أما في الحضارات اليمنية: فيشير تاريخ اليمن القديم إلى قيام عدد من الدول ﻭﺍلممالك فيه منذ ما يزيد عن 1500 ق.م
            <span><sup title="لعل أقدمها الدولة التي حكمها ' ﻋﺎﺩ' أشهر ملوك اليمن، ثم دولة عاد الثانية التي حكمها نبي
                    الله 'هود' ودامت حوالي ألف عام، ثم دول 'سبأ، معين، قتبان، حضرموت، حمير' ، ثم ممالك
                    أصغر 'أوسان، دمت، نجران، ريدان' , وغيرها. ">[6]</sup></span>،
            وتبين النقوش والآثار القديمة أنّ تلك الدول أسّست حضارات عريقة شهدت بناء السدود وأنظِمة الري، ونحتت من
            الجبال بيوتًا ومخازن للحبوب ومدافن لتحنيط الأموات، وبَنت القصور الشاهقة والمعابد الكبيرة، وصَنعت الأساطيل
            البحرية، وسيّرت القوافل التجارية برًا وبحرًا إلى الهند وغيرها من الحضارات القديمة <span><sup
                    title=" المخلافي، دائل: الإدارة المحليّة: أُسس وتطبيقات-دراسة مقارنة، دار الفكر المعاصر، ط1، بيروت، 1994، ص 79.">[7]</sup></span>،
            وفي هذا الإطار تشير
            دراسة (الدرويش) إلى أن كل المظاهر الحضارية لم تتحقق إلا بواسطة أجهزة ونظم إدارية ناجعة؛ مكنتها من إدارة
            أنشطتها وإنجازاتها ووظائفها كافة <span><sup
                    title="الدرويش، نبيل: الإصلاح الإداري في الجمهورية اليمنية- مقاربة تحليلية لتأثير البٍنى السياسية والاجتماعية في مسار الإصلاح، أطروحة دكتوراه في العلوم السياسية، كلية الحقوق والعلوم السياسية بجامعة تونس المنار، 2023، ص 18.">[8]</sup></span>.
        </p>
        <p>من هنا تأتي أهمية الإدارة في حياة المجتمعات ونهضتها الحضارية، وتمثل حجر الزاوية وأساس في نجاح تنميتها
            وازدهارها، بما تحدثه من تحولات عصرية لدى المؤسسات والأفراد.
        </p>
        <h2>‌ب- أهمية الإدارة:</h2>
        <p>لقد تزايد الاهتمام بالإدارة نتيجة لعدد من العوامل، منها ما يلي:</p>
        <ul>
            <li>
                <p> كبر حجم المنظمات: مع ظهور منظمات الأعمال العملاقة واستخدامها لأعداد كبيرة من العاملين ظهرت العديد
                    من المشكلات الإدارية التي لم تكن موجودة قبل ذلك، كما ظهرت الحاجة إلى التنظيم والتنسيق والرقابة على
                    الأنشطة التي يقدمها هؤلاء العاملون.</p>
            </li>
            <li>
                <p>تطور أشكال المشـروعات: مع تطور أشكال المشـروعات من المشـروع الفردي الذي يملكه شخص واحد إلى مشـروعات
                    يملكها أكثر من شخص، سواء عدد قليل من الأفراد (شركات تضامن) أو عدد كبير من الأفراد (شركات مساهمة)،
                    وما صاحبه من انفصال الملكية عن الإدارة، الأمر الذي يظهر أهمية التخطيط والتنظيم لضمان مصالح الأطراف
                    المختلفة.</p>
            </li>
            <li>
                <p>تطور وظيفة الدولة: أسهم التطور في وظيفة الدولة من التحول إلى وظيفة تقديم الخدمات التقليدية، مثل
                    الأمن والعدالة والدفاع والصحة إلى التدخل، سواء المباشر أم غير المباشر في الأنشطة الاقتصادية إلى تعقد
                    وظيفة الإدارة، حيث أصبحت الدولة تضع شروطًا معينة لإنشاء المشـروعات وتحديد عدد ساعات العمل والحد
                    الأدنى للأجور ومواصفات الجودة للمنتجات. كل هذه الأمور تضع العديد من القيود على رجال الأعمال والإدارة
                    عند اتخاذها قراراتها المختلفة، ما أضاف بعداً جديداً إلى مفهوم الإدارة وأهمية إيجاد شريحة واعية
                    ومدربة من المديرين لإدارة منظمات الأعمال في ظل مناخ العمل الجديد.</p>
            </li>
            <li>
                <p>التطور التكنولوجي: أدى التطور التكنولوجي إلى حدوث العديد من التغيرات في نمط أداء الأعمال، فقد أدى
                    التطور التكنولوجي في وسائل النقل إلى زيادة درجة المنافسة بين المشـروعات، كما أدى التحول من النظام
                    اليدوي إلى النظام الآلي في الإنتاج إلى احتياج المنشآت إلى نوعيات مختلفة من العاملين، وألقى عبئًا على
                    الإدارة في مهمة الاختيار والتعيين والتدريب للعاملين، وأدى استخدم الأتمتة إلى تطوير أنظمة المعلومات
                    <span><sup title="الحبيشي، نيفين. وأمل عبدالحكيم عباس: أصول الإدارة، ص18.">[9]</sup></span>.
                </p>
            </li>
        </ul>
        <h2>‌ج- تعريف الإدارة وأنواعها:</h2>
        <p>من المعلوم أنّ الحاجة إلى الإدارة وإلى وجود المديرين تزايدت في المجتمع الحديث؛ نتيجة لحجم المؤسسات وعدد
            العاملين فيها، وأصبحت الأعمال أكثر تعقيدًا، وتستخدم فيها الآلات والمعدات ذات التكنولوجيا الحديثة والمتطورة
            والتقنية العالية، التي تكلف كثيراً من الأموال، وأصبح من الضـرورة والأهمية سلامة اتخاذ القرار واختيار الأهداف
            وتحقيقها، كما برزت الحاجة إلى الإدارة مع تعدد القائمين بعمل معين واختلاف مستوياتهم، فهناك المديرون الذين
            يصدرون القرارات، وهناك من يتلقونها وينفذونها ويعملون تحت رئاسة آخرين؛ ليكون من يصدر القرارات مديراً وما يقوم
            به إدارة <span><sup
                    title="Ernest, Dale.: Management Theory and Practice, N.Y.:  McGraw- Hill Book Co, 1965, P: 4.">[10]</sup></span>.
        </p>
        <p>ويرجع أصل كلمة إدارة إلى اللغة اللاتينية، والكلمة تعني الخدمة والمساعدة، وبذلك تكون الإدارة تقديم الخدمة أو
            المساعدة للغير، ومن يعمل بالإدارة يعمل على خدمة الآخرين، أو يصل عن طريق الآخرين إلى إدارة الخدمة <span><sup
                    title="درويش، عبد الكريم. وليلى تكلا: أصول الإدارة العامة، مكتبة الأنجلو مصرية، القاهرة، 1976، ص49.">[11]</sup></span>.
        </p>
        <p>وتعرف الإدارة كمفهوم على أنها: «العملية التي يكون بواسطتها تجميع وتوظيف موارد المجتمع المادية والبشـرية
            لإشباع احتياجات الأفراد والمؤسسات في المجتمع بأفضل صورة ممكنة»، كما تعرف أنها: «عملية تحقيق أهداف محددة
            باستخدام الجهد البشـري وبالاستعانة بالموارد المادية المتاحة»<span><sup
                    title="السلمي، على: تطوير الفكر التنظيمي، وكالة المطبوعات، الكويت، 1975، ص9- 10.">[12]</sup></span>.
        </p>
        <p>ومن ثَمَّ فإن وظائف الإدارة - عمومًا - تتمثل في: التخطيط، التنظيم، والتوظيف، التوجيه، التنسيق، المتابعة،
            وإعداد التقارير ووظيفة الموازنة، وهناك نوعان من الإدارة هما: الإدارة العامة وإدارة الأعمال، والإدارة العامة
            - غالبًا - نتفاعل معها بشكل يومي، وهي حلقة الوصل الرئيسة بين الدولة والمجتمع<span><sup
                    title="بيترز، بي غاي. وجون بيير: الإدارة العامة القادمة- نقاش ومعضلات، ترجمة: محمد شحاته ودرويش نايف، مركز البحوث والدراسات، الرياض، ص13.">[14]</sup></span>.
        </p>
        <p>والاختلاف الجوهري بين الإدارة العامة وإدارة الأعمال يتمثل في أن الإدارة العامة تعنى بإدارة مؤسسات الدولة،
            وتتمتع بالسلطة العمومية ودرجـة عاليـة من الإلزام، وتهدف إلى تحقيق المصالح العامة وتقديم خدمات عامة للمجتمع،
            وتحكمها اللوائح والنظم البيروقراطية الحكومية. </p>
        <p>بينما إدارة الأعمال تقتصـر على إدارة منظمات ومؤسسات الأعمال والشـركات الخاصة، وتقدم خدماتها أو منتجاتها
            بالاعتماد على آلية السوق من خلال العرض والطلب، وتهدف إلى تحقيق الربح والمصلحة الخاصة بأصحاب المشـروعات؛ لذلك
            تفـرق بين عملائهـا تبعًا لظروف المصلحة الخاصة؛ بحيث تؤدي المنافسة دورًا كبيرًا في تحديد مسار واستمرار مؤسسات
            إدارة الأعمال، وتتسم مؤسسات إدارة الأعمال بالمرونة وسـرعة الاستجابة للظـروف البيئيـة المحيطة<span><sup
                    title="طلعت إبراهيم لطفي، نقلاً عن: أحمد الخاطر (1990): الإدارة وتقويم المشروعات، المكتب الجامعي الحديث، الإسكندرية، صص،80-81.">[15]</sup></span>.
        </p>
        <p>مفهوم الإدارة العامة: «يخص مجموعة المؤسسات العامة الحكوميـة المعنيـة بتنفيـذ السياسات العامة للحكومـة،
            والاشتراك في صنعها، والعمل على تقديم الخدمات العامة للمواطنين»<span><sup
                    title="الماوري، أحمد: إصلاح جهاز الإدارة العامة وتحديات إعادة بناء الدولة في اليمن، دورية حِكامة، العدد 4، المجلد الثاني، 2022. ص37.">[16]</sup></span>.
        </p>
        <p>أي أن الإدارة العامة هي إدارة المؤسسات التي تقوم بوظائف الدولة، بحسب مفهوم الدولة الذي يختلف من مرحلة لأخرى؛
            لذلك ليس هناك اتفاق على تصنيف وظائف الدولة بشكل دقيق، لاختلاف الأيديولوجيا وطبيعة النظام السياسي والمنهجية
            التي تأخذ بها، ويمكن بشكل عام توزيع وظائف الدولة على ثلاث وظائف أساسية: تأمين سلامة الدولة من أي اعتداء
            خارجي، ترسيخ الأمن والنظام في الدولة على أساس العدل والقانون، سواء في علاقات المواطنين بعضهم ببعض أم في
            علاقاتهم بالدولة، تنمية المجتمع وتطويره في مختلف مجالات الحياة العامة<span><sup
                    title="المرجع السابق نفسه.">[17]</sup></span>، وهناك تصنيف شائع هو:</p>
        <div class="first-flex">
            <div class="right">
                <ul type="a">
                    <li>الوظيفة التشريعية.</li>
                    <li>الوظيفة القضائية.</li>
                    <li>الوظيفة السياسية.</li>
                    <li>الوظيفة الاقتصادية.</li>
                    <li>وظيفة المرافق العامة.</li>
                </ul>
            </div>
            <div class="left">
                <ul>
                    <li>وظيفة الخدمات الاجتماعية.</li>
                    <li>وظيفة الإدارة العامة.</li>
                    <li>وظيفة الدفاع والأمن.</li>
                    <li>وظيفة الإعلام والثقافة والسياحة.</li>
                    <li>وظائف أخرى<span><sup
                                title="شمسان، نبيل: تجربة إصلاح وتحديث نظام الإدارة العامة للجمهورية اليمنية، الملتقى الثاني لتحديث القطاعات العامة في الوطن الغربي، في المدة 24-25مايو2004ـ البحرين، ص4.">[18]</sup></span>.
                    </li>
                </ul>
            </div>
        </div>
        <p>ومع التغيرات الدولية وأجندة الإصلاح الإداري برز مفهوم الإدارة العامة الحديثة، وأخذت به عدد من الدول، منها:
            أمريكا وكندا والسويد وأستراليا وبريطانيا، وكان لها نماذج، منها: إدارة ما بعد البيروقراطية والإدارة العامة
            بناءً على نظام السوق، وإعادة اختراع الحكومة وجميع المسميات دفعت إلى البحث عن خصائص للإدارة العامة الحديثة،
            وهي:</p>
        <ul>
            <li>
                <p>تقليص دور الدولة: الاتجاه نحو الخصخصة، تخفيـض الميزانية العامة، إعطاء القطاع الخاص مزيدًا من الحرية
                    والحركة، تنشيط دور المجتمع المدني، إقامة علاقة الشـراكة مع قطاع الأعمال والمجتمع المدني، تخلي الدولة
                    عن بعض وظائفها.</p>
            </li>
            <li>
                <p>تغيير في آليات الحكومة: وهو تغيير الهيكل الحكومي وإعادة هيكلة وحدات وإدارات تقديم الخدمة العامة،
                    والتوجه نحو اللامركزية في السلطة والمسؤوليات، وكذلك تطرح الإدارة العامة الحديثة وتدعو إلى التغيير في
                    الثقافة التنظيمية وتحسين الجودة والاستجابة للعملاء والمشاركة الإدارية، والعمل وفق آلية السوق
                    والتوظيف الأمثل للمواد بكفاءة وفاعلية.</p>
            </li>
            <li>
                <p>تغيير في أسلوب الإدارة: في التركيز على الكفاءة والفاعلية، والانتقال من التحكم بالمخرجات إلى قياسها
                    وتوجيه الهدف نحو الربحية، وتقليل العمالة، واعتماد الممارسات والقيم المطبقة في القطاع الخاص<span><sup
                            title="الطعامنة، محمد: استراتيجيات وآليات تطوير وتحديث المنظمات الحكومية في الوطن العربي، المؤتمر العربي الأول التطوير والإصلاح الإداري من أجل رفع كفاءة الأداء المؤسسي ومواجهة الفساد المنعقد في المدة26-28 إكتوبر2008، عمان، الأردن، ص 10.. للمزيد أنظر: يوهن، إيبرهارد. وآخرون: الإدارة العامة للدولة الحديثة: تقييم التوجهات والتبعات، ترجمة: صلاح السلمي، إدارة الترجمة بمركز البحوث والدراسات، الرياض،2019.">[19]</sup></span>.
                </p>
            </li>
        </ul>
        <h2>‌د- مداخل علم الإدارة:</h2>
        <p>مر الفكر الإداري بالعديد من التطورات، ومع بدايات القرن العشـرين ظهرت تحولات الثورة الصناعية والانتقال إلى
            المجتمع الصناعي؛ بفعل التطور التكنولوجي وكبر حجم المنظمات والتوسع في استخدام مبدأ التخصص، وتزايد دور
            النقابات العمالية، وأصبح هناك حاجة ملحة للاهتمام بعلم الإدارة وتطوير نظريات علمية متعلقة بهذا الشأن، ويمكن
            تقسيم مداخل دراسة تطور الفكر الإداري إلى ثلاثة مداخل أساسية، هي:</p>
        <ol>
            <li>
                <p>–المداخل التقليدية: تتمثل في: (الإدارة النظامية، الإدارة العلمية، البيروقراطية، عملية الإدارة). </p>
            </li>
            <li>
                <p>–مداخل العلاقات الإنسانية.</p>
            </li>
            <li>
                <p>–مدخل السلوك التنظيمي.</p>
            </li>
            <li>
                <p>–مدخل الإدارة الكمية.</p>
            </li>
            <li>
                <p>–المداخل الحديثة: نظرية النظم، النظرية الموقفية أو المواقفية.</p>
            </li>
        </ol>
        <p>جميع هذه المداخل مكملة لبعضها بعض، وغير متناقضة فيما بينها، فكل مدرسة ركزت على جانب من جوانب ممارسة العملية
            الإدارية، واهتمت هذه المداخل بالإجابة عن كيف يمكن الوصول إلى أهداف المنظمة بطريقة أكثر فاعلية
            وكفاءة<span><sup title="الحبيشي، نيفين. وأمل عبد الحكيم عباس، مرجع سابق، ص26.">[20]</sup></span>؟ ومن ثَمَّ
            سنتطرق للمداخل الحديثة.</p>
        <p>نظرية النظم: تنظر إلى التنظيم بصفته نظامًا موجهًا نحو تحقيق هدف أو أهداف مشتركة معينة، تتفاعل أجزاؤه وأنظمته
            الفرعية مع بعضها بعض بطريقة تحقق فيها هذه الأهداف، والتعامل مع المشكلات مع الأخذ في الحسبان جميع عناصر
            النظام، ولا تنظر إليها أجزاءً منفصلة.</p>
        <p>وتتميز نظرية النظم بالشمولية للتنظيمات، أكانت صغيرة أو كبيرة وكل تنظيم يحوي أنظمة فرعية أو يكون تنظيمًا
            فرعيًا ضمن نظام أكبر؟ كما أن ما يميز هذه النظرية التشابك والترابط والتداخل في العلاقات بين هذه التنظيمات؛
            لتحقيق هدف محدد، وفي ضوء ذلك الهدف يرسم التنظيم أنشطته، وأن لكل تنظيم مدخلات وعمليات ينتج عنها مخرجات،
            ولتحسينها لابد من تغذية راجعة<span><sup title="المساد، محمود المساد، مرجع سابق، ص37-38.">[21]</sup></span>.
        </p>
        <p>النظرية الموقفية: قوبلت هذه النظرية برضا المديرين والباحثين، وتنطلق من أن هنالك علاقة وثيقة بين القرارات
            والتصـرفات الإدارية، والبيئة وخصائصها وظروف الموقف الذي تتخذ فيه هذه القرارات، وتختلف النتائج باختلاف
            المواقف والنجاح في القرارات الإدارية يتوقف على مدى ملاءمة التصـرفات للموقف البيئي المحتمل، وأن على المديرين
            تحديد الأساليب الأكثر قدرة على تحقيق هدف المؤسسة في موقف معين، تحت ظروف معينة وفي وقت معين<span><sup
                    title="المساد، محمود المساد، المرجع السابق نفسه، ص39-40.">[18]</sup></span>.</p>
    </div>
    <hr>
    <div class="publisher-name">
        <h1>الباحث:</h1>
        <h2>أ.د محمد سعيد محمد الكامل</h2>
    </div>
</div>
{% endblock %}