{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="first-page">
    <a href="#img-id" class="hidden-row"><i class="fa-solid fa-arrow-up-long"></i></a>
    <!-- <h1>الحياة في اليمن</h1> -->
    <img src="{% static 'imgs/tagarb9.jpg' %}" alt="" id="img-id">
    <p class="p-img">رؤية مستقبلية للإصلاح المالي في اليمن</p>
    <div class="info">
        <div class="date-info">
            <span>تم النشر في<i class="fa-solid fa-calendar"></i>3 أكتوبر 2023</span>
        </div>
        <span class="pub">أ.د/ عبد العزيز محمد المخلافي</span>
    </div>
    <div class="full-text">
        <h2>أ‌- أهمية الإصلاح المالي:</h2>
        <ul style="list-style: square;">
            <li>من المؤكد أن نجاح أي رؤية مستقبلية للإصلاح المالي في اليمن للمدة القادمة يجب أن تتضمن العديد من
                السياسات والإجراءات التي تهدف إلى إصلاح إدارة المالية العامة ورفع كفاءة الإنفاق العام؛ بما يسهم في ترشيد
                النفقات الجارية وزيادة الإنفاق الاستثماري وتوجيهه نحو أولويات التنمية وتعزيز دور الموازنة العامة في
                تحقيق الاستقرار، بالإضافة إلى دعم النمو الاقتصادي وتوسيع قاعدة الإيرادات العامة وكفاءة التحصيل والجباية
                للأجهزة والمصالح الإيرادية وتقليص الاعتماد على الموارد الناضبة والمحافظة على التوازنات النقدية والمالية.
            </li>
            <li>بالإضافة إلى ضرورة التركيز عن طريق هذه الإصلاحات للمدة القادمة وبصورة أساسية على إعادة بناء وهيكلة
                وحدات الجهاز الإداري للدولة وإلغاء مظاهر الازدواج والتداخل والتضارب في الأدوار والمهام والأنشطة بين
                الوحدات الإدارية، وتعزيز آليات الرقابة والتنسيق بين الجهات الرقابية والتنفيذية واستحداث آليات أكثر
                فاعلية للعمل الحكومي ومراجعة وتعديـل القوانـين والتشريعات لتتواءم مع المعايير الدولية واحتياجات وأولويات
                المرحلة الراهنة.</li>
            <li>ويتطلب ذلك من الحكومة امتلاك رؤية ذاتية ووطنية محددة وواضحة المعالم لكيفية الانطلاق لتحقيق النمو
                الاقتصادي المستدام، وكذلك للآليات التي سيتم الاستعانة بها من مرحلة الإصلاح الاقتصادي والمالي إلى مرحلة
                تحقيق النمو المستدام.</li>
            <li>وعند النظر للعوامل والأسباب المحلية التي أثرت سلبًا في مسيرة الإصلاحات السابقة فقد كان من أبرزها عدم
                وجود آليات مراقبة ومتابعة فاعلة لتنفيذ سياسات وإجراءات الإصلاح وتقييم نتائجها أولًا بأول وتصويب
                اتجاهاتها وعدم التعامل بين برامج وسياسات الإصلاح الاقتصادي والمالي والإداري، حيث برزت هذه الظاهرة في عدم
                التكامل بين إصلاحات الموازنة العامة للدولة وبين توجهات الدولة بحيث لم تشمل على مصفوفة كاملة وشاملة
                للسياسات والإجراءات والمدد الزمنية للتنفيذ.</li>
            <li>تستمد السياسة المالية ومن ثَمَّ الإصلاحات المالية أهميتها باعتبارها من ناحية أحد المحاور الرئيسة في
                سياسات إدارة الطلب لتحقيق الاستقرار الاقتصادي، حيث إنَّ عجز الموازنة العامة بوصفها وظيفة تمويلية يعد أحد
                أسباب حدوث الاختلال بين الطلب الكلي والعرض الكلي ومما يؤدي إليه هذا الاختلال من عجز في ميزان المدفوعات؛
                لذلك فإن خفض عجز الموازنة العامة للدولة نسبة إلى الناتج المحلي الإجمالي يعد هدفًا رئيسًا للإصلاحات
                المالية وصولًا فيما بعد إلى موازنة عامة متوازنة، ومن ناحية أخرى تستمد الإصلاحات المالية أهميتها من كونها
                الأداة الرئيسة لإعادة رسم الدور الاقتصادي والاجتماعي للدولة وتهيئة بيئة ملائمة لعمل القطاع الخاص والدور
                المناط به في عملية التنمية والنشاط الاقتصادي.</li>
            <li>إذا كان الاستقرار الاقتصادي يُعد شرطًا ضروريًا لعمل آليات السوق بكفاءة فإن الاستقرار المالي يُعد الركيزة
                الأساسية للاستقرار الاقتصادي، بالإضافة إلى ذلك تساعد الإصلاحات المالية الحقيقية على تحفيز النمو
                الاقتصادي والدفع بعجلة التنمية الاقتصادية والاجتماعية، كما يسهل عملية اندماج الاقتصاد الوطني في الاقتصاد
                العالمي.</li>
            <li>بالنسبة لليمن تتمثل الأهمية الإضافية لما سبق أنَّ اختلالات الموازنة العامة قد شكلت مصدرًا رئيسًا
                للاختلالات الاقتصادية والمالية النقدية الأخرى، حيث انَعكست آثارها السلبية على كل من الدخل الحقيقي والنمو
                وميزان المدفوعات وارتفاع معدلات التضخم، وقد شكل الارتفاع المتزايد لنسبة عجز الموازنة إلى الناتج المحلي
                الإجمالي أبرز مظاهر اختلالات الموازنة العامة؛ لذلك تشكل الإصلاحات المالية المحور الرئيس في أي برنامج
                للإصلاح المالي؛ بحيث يمثل خفض نسبة عجز الموازنة العامة إلى الناتج المحلي الإجمالي والحفاظ عليها عند
                مستويات متدنية هدفًا رئيسا للإصلاحات المالية.</li>

        </ul>
        <h2>ب‌- مكونات الإصلاحات المالية:</h2>
        <p>عجز الموازنة العامة وأسلوب تمويله يمثل أحد العوامل المؤثرة في السياسات المالية والنقدية والاقتصادية للدولة
            وأحد المؤشرات التي يقاس بها مدى نجاح تلك السياسات؛ لذلك يرتكز الإصلاح المالي على هدف رئيس يتمثل في محاصرة
            هذا العجز والحرص على الالتزام بعدم تجاوزه للحدود الآمنة من ناحية، وبذل كل الجهود لتمويل أي عجز يظهر من موارد
            حقيقية، ويمكن القول: إن أي برنامج للإصلاح المالي يجب أن يتضمن أو يجب أن يبنى على محورين أساسيين هما:</p>
        <ol>
            <li>احتواء النفقات العامة وإعادة هيكلتها.</li>
            <li>تعظيم الإيرادات وتنويعها.</li>
        </ol>
        <h2>المكون الأول: احتواء النفقات العامة وإعادة هيكلتها:</h2>
        <p>تستمد عملية احتواء النفقات العامة وإعادة هيكلتها من كون النفقات العامة سببًا رئيسًا بل السبب الأول في حدوث
            عجز الموازنة وتزايد نسبته إلى الناتج المحلي الإجمالي، وتشكل النفقات العامة الجارية وتزايدها سببًا مهمًا في
            تزايد عجز الموازنة العامة بسبب استحواذها على الجزء الأكبر من إجمالي النفقات العامة، فقد يسهم ذلك في تدهور
            الخدمات العامة وإعاقة النمو وعملية التنمية.</p>
        <p>بالإضافة إلى ذلك تشكل عملية احتواء النفقات العامة الأداة الأسرع والأكثر ضمانًا من حيث النتائج؛ لتخفيض نسبة
            عجز الموازنة إلى الناتج المحلي الإجمالي على الأقل في الأجل المنظور، حيث يرى خبراء البنك الدولي أن العمل على
            زيادة الإيرادات العامة لتحقيق هذا الهدف سيعطي نتائج متواضعة وسيكون أمرًا صعبًا على عكس عملية احتواء النفقات
            العامة التي ستكون أداة فعالة؛ لتحقيق أهداف الإصلاحات المالية، وتتضمن عملية احتواء النفقات العامة وإعادة
            هيكلتها بما يؤدي إلى إعادة ترتيب أولويات جوانبها ومجالاتها، وتتضمن نوعين من الإجراءات تتسم بالتلازم والترابط
            فيما بينها وبعضها بعض، وتتمثل في العمل على تحقيق النفقات العامة في الجوانب والمجالات التي تعد غير ضرورية
            وغير ذات منفعة اقتصادية؛ وفي الوقت نفسه زيادة الإنفاق العام على المجالات والجوانب التي تؤدي إلى حفز النمو
            الاقتصادي وتوسيع عملية تقديم الخدمات الاجتماعية الأساسية، لاسيما في مجال التعليم والصحة بما في ذلك توسيع
            قاعدة المستفيدين من شبكة الأمان الاجتماعي.</p>
        <p>في المقابل فإن إعادة الهيكلة للنفقات العامة يقصد بها الحرص على توجيه النفقات العامة نحو المجالات والجوانب
            التي تعمل على تحقيق أهداف برنامج الإصلاح؛ بحيث تشمل عملية الاحتواء للنفقات العامة المتعلقة بالأجور
            والمرتبات، بالإضافة إلى إلغاء وتخفيض معظم أوجه النفقات الموجهة للدعم والممولة من الموازنة العامة، سواء كان
            هذا الدعم مباشرًا أم غير مباشر(ضمني) أو مكان الدعم حقيقيًا أو ناتج عن فارق بين الأسعار المحلية والأسعار
            العالمية.</p>
        <p>بالإضافة إلى خفض حجم التمويلات الرأسمـالية والجاريـة من الموازنـة العامـة للمؤسسات والشـركات العامـة
            والمختلطـة، إما عن طريق التخـلص منها بالبيع أو التأجير للقطاع الخاص أو التصفية، أو عن طريق تحسين مواردها
            المالية عن طريق رفع أسعار المواد والسلع والخدمات التي تقدمها وتحسن كفاءتها، وأيضًا ما يتعلق بالنفقات
            الاستثمارية الرأسمالية وضرورة زيادتها ورفع كفاءتها.</p>
        <h2>المكون الثاني: تعظيم الإيرادات وتنويعها:</h2>
        <p>تشكل الإيرادات العامة المحور الرئيس الثاني للإصلاحات المالية، حيث تسعى هذه الإصلاحات إلى زيادة وتعزيز
            الإيرادات بصورة عامة وشاملة مع التركيز على تعزيز وزيادة الإيرادات الغير نفطية.</p>
        <p>وإن وجود تشوهات في أداء الموازنات العامة السابقة - سواء في جانب النفقات العامة أو جانب الإيرادات العامة
            وكفاءتها وفاعليتها - يتطلب تطوير المالية العامة في اليمن لضمان فاعلية وكفاءة الإنفاق العام والإيرادات
            العامة، والإجراءات المتعلقة بسياسة الإعفاءات الضـريبية والجمركية وأوضاع التهرب الضـريبي والجمركي خلال هذه
            المدة أيضًا، ما تشكله من أهمية كل من الإيرادات الغير ضريبية والتحديات التي تواجه تطورها وتحد من زيادتها
            اللازمة لتحقيق الاستدامة المالية للموازنة العامة وتحقيق الاستقرار المالي والاقتصادي التي تُعد إيرادات من
            فائض النشاط الاقتصادي لوحدات القطاع العام والمختلط الإنتاجي والخدمي.</p>
        <h2>1- السياسات المقترحة لتعظيم وتنويع الإيرادات:</h2>
        <p>نظرًا لما تمثله الإيرادات النفطية من أهمية كبيرة على مستوى الموازنة العامة وعلى مستوى المؤشرات الاقتصادية
            المقترحة المختلفة (الصادرات) ميزان المدفوعات، النمو الاقتصادي، الاستثمار العام فإنه من الأهمية بمكان العمل
            على زيادة هذه الإيرادات وتطويرها مستقبلًا عن طريق تبني عدد من السياسات والإجراءات الاقتصادية والفنية
            والإدارية اللازمة، وفي هذا السياق يمكن اقتراح ما يلي:</p>
        <ol>
            <li>التوسع في أعمال الاستكشافات النفطية والغازية لاسيما في القطاعات المفتوحة والمناطق اليمنية الحدودية
                والمياه المغمورة عن طريق الترويج للاستثمار في المناطق التي ظهرت المسوح الجيولوجية الأولوية احتياطيات
                قابلة للاستغلال التجاري.</li>
            <li>إعادة النظر في اتفاقيات الإنتاج والمشاركة في الإنتاج مع الشـركات النفطية والغازية العاملة في اليمن بصورة
                جيدة، ووفقًا للمتغيرات الاقتصادية ومتطلبات التنقيب والاستكشافات المستقبلية.</li>
            <li>إنشاء العديد من المصافي الحكومية بغرض الوفاء بحاجة السوق المحلية من المشتقات النفطية وتعظيم العائد من
                الثروة النفطية عن طريق زيادة القيمة المضافة للمشتقات النفطية المكررة بدلًا عن النفط والغاز في صورته
                الخام.</li>
            <li>تحسين شفافية الموازنة العامة للدولة بشقيها الإيرادي والإنفاقي، وبالذات في جوانب الإنفاق خارج الموازنة
                وفي جانب النفقات الغير مبوبة إلى جانب التشـريع في خطوات الانضمام إلى مبادرة الشفافية العالمية في
                الصناعات الاستخراجية، بما يكفل كفاءة الاستخدام للموارد النفطية وحُسن استغلالها.</li>
            <li>العمل على الاستفادة من الغاز في الأنشطة الاقتصادية المختلفة واستغلال الغاز المصاحب لإنتاج البترول في
                مختلف القطاعات الإنتاجية.</li>
        </ol>
        <h2>2- السياسات المقترحة لزيادة الإيرادات للوحدات الاقتصادية:</h2>
        <p>إن الحاجة ماسة لتطوير دور وإسهام الوحدات الاقتصادية العامة بشقيها الإنتاجي والخدمي، سواء في الجانب المالي
            وزيادة أهميتها في هيكل الإيرادات العامة أم في الجانب الاقتصادي الكلي ودورها في تعزيز فرص النمو الاقتصادي
            الكلي والحد من البطالة وتحسين مستويات الدخول، ويمكن ذلك عن طريق استغلال الموارد المتاحة والكامنة التي
            تمتلكها تلك الوحدات من ناحية، ومن ناحية أخرى تعبئة موارد متاحة في الاقتصاد عن طريق الآتي:</p>
        <ol style="list-style: none;">
            <li>– إعداد وإصدار الأطر التشـريعية اللازمـة لتنظيم عمل الوحدات الاقتصادية المختلفة بما يتلاءم مع المتغيرات
                الاقتصادية والاجتماعية المستمرة وتضمن تحقيقها للأهداف التي أنشئت من أجلها، إلى جانب التشـريعات الخاصة
                بإلزام الوحدات الاقتصادية بتوريد حصة الحكومة من فائض الأرباح أولًا بأول.</li>
            <li>– العمل على إعادة هيكلة الوحدات الاقتصادية والإنتاجية والخدمية لاسيما التي تعاني من عجز وتدني في مواردها
                المالية – بصورة تضمن تأهيل هذه الوحدات للمنافسة وتحقيق وفورات اقتصادية والاستفادة من التقنيات الحديثة في
                أسلوب وسائل الإنتاج إلى جانب تخفيض التكاليف الإنتاجية.</li>
            <li>– بحث أسباب تدني حصة الحكومة من فائض أرباح القطاع الزراعي والسمكي وقطاع النقل والمواصلات والقطاع التجاري
                وبعض الوحدات بالقطاعات الأخرى؛ لأنَّ يُورد من فائض أرباح هذه القطاعات لا يتناسب بأي حال من الأحوال مع
                حجم نشاطها واستثماراتها وإنفاقها السنوي.</li>
            <li>– الاهتمام بالقطاعات الاقتصادية الواعدة وبالذات التي تمتلك اليمن فيها ميزة نسبية، مثل قطاعات السياحة
                والأسماك واستخراج الصخور والمحاجر.</li>
            <li>– إيجاد إدارة كفؤة والعمل بمبدأ الكفاءة الاقتصادية في الوحدات الاقتصادية بما يمكنها من تنمية مواردها
                الذاتية وتحقيق فوائض في أنشطتها الجارية لزيادة حصة الحكومة من فائض الأرباح، ورفع نسبة مساهمتها في تمويل
                نفقاتها الاستثمارية وخفض نسبة اعتمادها على القروض الخارجية.</li>
            <li>– استقلالية الوحدات الاقتصادية عن الواردات وضمان عدم التدخل في إدارتها من قِبل الوزراء والقيادات
                السياسية والأمنية والعسكرية.</li>
            <li>– ضمان قدر كبير من المحاسبة والرقابة على أداء وعمل قيادة الوحدات الاقتصادية المختلفة ومحاسبتهم بصورة
                شفافة، مع التأكد على أهمية وجود نظام للإنذار المبكر عند وجود تجاوزات أو مؤشرات أداء سلبية.</li>
        </ol>
    </div>
    <!-- <hr>
    <div class="publisher-name">
        <h1>الباحث:</h1>
        <h2>أ.د فارس محمد عبدالقادر القادر</h2>
    </div> -->
</div>
{% endblock %}