{% extends 'base.html' %}
{% load static %}
{% block title %}الرؤية المستقبلية لإصلاح القانون الإداري في اليمن{% endblock %}
{% block content %}
<div class="container articles">
    <div class="top-of-study">
        <a href="{% url 'index' %}">الرئيسية</a><span class="first-pipe">  |  </span> <a href="{% url 'studies' %}">دراسات وبحوث</a> <span class="first-pipe"> | </span><span>الرؤية
            المستقبلية لإصلاح القانون الإداري في اليمن</span>
    </div>
    
    <div class="studies-flex">
        <div class="first-page">
            <a href="#img-id" class="hidden-row"><i class="fa-solid fa-arrow-up-long"></i></a>
            
            <p class="p-img">الرؤية المستقبلية لإصلاح القانون الإداري في اليمن</p>
            <div class="date-info">
                <span>14 سبتمبر 2024
                </span>
            </div>
            <span class="pub">أ.د/ فارس محمد القادري & أ.د/ أحمد عبده الجرادي</span>
            <div class="controls">
                <div class="studies-social">
                    <div class="studies-social2">
                        <div class="twitter">
                            <a href="https://twitter.com/intent/tweet?text={{ 'الرؤية المستقبلية لإصلاح القانون الإداري في اليمن'|urlencode }}&url={{ request.build_absolute_uri|urlencode }}"
                                target="_blank">
                                <i class="fa-brands fa-x-twitter"></i>
                            </a>

                        </div>
                        <div class="whats">
                            <a href="https://wa.me/?text={{ 'الرؤية المستقبلية لإصلاح القانون الإداري في اليمن'|urlencode }}%20{{ request.build_absolute_uri|urlencode }}"
                                target="_blank">
                                <i class="fa-brands fa-whatsapp foot-i"></i>
                            </a>
                        </div>
                        <div class="telegram">
                            <a href="https://t.me/share/url?url={{ request.build_absolute_uri|urlencode }}&text={{ 'الرؤية المستقبلية لإصلاح القانون الإداري في اليمن'|urlencode }}"
                                target="_blank">
                                <i class="fab fa-telegram"></i>
                            </a>

                        </div>
                        <div class="face-book">
                            <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri|urlencode }}"
                                target="_blank">
                                <i class="fa-brands fa-facebook foot-i"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="studies-controls">
                    <!-- <i class="fa-solid fa-print"></i> -->
                    <button id="increaseFont"><img src="{% static 'imgs/Zoom_IN.svg' %}" alt=""></button>
                    <button id="decreaseFont"><img src="{% static 'imgs/Zoom_OUT.svg' %}" alt=""></button>
                </div>

            </div>
            <img src="{% static 'imgs/fix2.webp' %}" alt="" id="img-id">
            <div class="full-text">
                <p>لقد سبق التعريف بالقانون الإداري بأنه القانون الذي يتضمن القواعد التي تحكم إدارة الدولة من حيث
                    تكوينها
                    ونشاطها باعتبارها سلطة عامة، فالمفهوم العضوي للقانون الإداري يهتم بالتكوين الداخلي للإدارة العامة
                    سواء كانت
                    إدارة مركزية أو غير مركزية، كما أن المفهوم الموضوعي يهتم بالجانب الوظيفي المتعلق بالنشاط أو الوظيفة
                    الإدارية
                    للدولة، لذلك تُعد الوظيفة العامة والسلطة المركزية واللامركزية من أهم الموضوعات التي يتولاها القانون
                    الإداري،
                    وينظم هذه المواضيع في اليمن كما ذكرنا ذلك سابقًا تشـريعات الخدمة المدنية وفي مقدمتها قانون الخدمة
                    المدنية
                    رقم (19) لسنة 1991م ولائحته التنفيذية، وقانون نظام الوظائف والأجور والمرتبات رقم (43) لسنة 2005م
                    ولائحته
                    التنفيذية، وهذه التـشريعات تنظم الوظيفة العامة.</p>
                <p>بينما تشـريعات الإدارة المحليـة تنظم السلطة المركزية واللامركزية للدولة، من حيث إنشاء المحافظات
                    والمديريات،
                    وطرق تعيين المحافظين ومديري المديريات، ومشاركــــــة أفـــــراد المجتمـــــــع في ذلك، وعلــــى رأس
                    تلك
                    التـشريعات قانون السلطة المحلية رقم (4) لسنة 2000م.</p>
                <p>كما أن المهام والاختصاصات للجهات الإدارية في الدولة تتحدد غالبًا في اللوائح التنظيمية التي تصدر من
                    رئيس
                    الجمهورية، مع ملاحظة أن العديد من الجهات الإدارية تمارس مهامها واختصاصاتها وفقًا للواقع والأعراف
                    الإدارية
                    دون وجود لوائح تنظيمية، الأمر الذي يؤدي إلى التضارب في الاختصاصات وعدم وضوح المهام والصلاحيات لكل
                    جهة
                    إدارية. </p>
                <p>وتسعى الحكومة حاليًا من خلال الرؤية الوطنية <a href="#1"><span><sup
                                title="الرؤية الوطنية الشاملة لبناء الدولة اليمنية الحديثة، رئاسة مجلس الوزراء، صنعاء، 2019، ص 49 وما بعدها.">[1]</sup></span></a>،
                    إلى حصـر كافة الجهات الحكومية ومعرفة الجهات التي توجد لديها
                    لوائح تنظيمية والجهات التي لا توجد لديها لوائح تنظيمية وأسباب ذلك، وتعمل على إعادة بناء وتطوير هياكل
                    وأنظمة
                    الأجهزة الحكومية، وتقييم الأداء المؤسـسي لوحـدات الخدمات العامة.</p>
                <p>وهذا يتطلب إصدار قانون ينظم الجهاز الإداري للدولة ووحدات القطاع العام والمختلط وفق رؤية حديثة تقوم
                    على مبدأ
                    الشفافية، لذلك لابد للحكومة أن تسعى جاهدة إلى تنفيذ الرؤية الوطنية، وهو ما يتطلب معها إصلاح منظـومة
                    التشـريعات الإداريـة بحيث يتم تعديل التشـريعات الإدارية الحالية وعلى رأسها قانون الخدمة المدنية
                    ولائحته
                    التنفيذية، وقانون نظام الوظائف والمرتبات والأجور ولائحته التنفيذية وفق خطط ودراسات مسبقة، وكذا إعداد
                    نظام
                    تقييم الأداء المؤسسي.</p>
                <p>إضافة إلى ذلك عليها استكمال البناء التشـريعي والتنظيمي للجهات التي لا توجد لديها لوائح تنظم عملها،
                    على أن يتم
                    مراجعة القوانين واللوائح التنظيمية الحالية بما يضمن إزالة التكرار والتداخل والازدواج في المسؤوليات
                    والوظائف.
                </p>
                <p>إصدار تشـريعات إدارية تنظم عملية الترشيح والاختيار والتعيين لشاغلي وظائف الإدارة والسلطة العليا، ووضع
                    قواعد
                    صارمة لعمليتي التقييم والمحاسبة<a href="#2"><span><sup
                                title="ملاعب، عمر: الإصلاح الإداري مدخلًا لتصويب المسار التنموي تجارب دولية، مجلة دراسات تنموية، المعهد العربي للتخطيط، العدد 62،  الكويت، 2019، ص56.">[2]</sup></span></a>.
                </p>
                <p>وضع استراتيجية وطنية تهدف إلى تنمية الموارد البـشـرية وتأهيلها ورفع مستوى أدائها وكفاءتها وتنمية
                    المهارات
                    الفنية والوظيفية بما من شأنه تلبية الاحتياجات الفعلية. </p>
                <p>ووضع نظام حديث للأجور والمرتبات بما يتلاءم مع التغييرات الاقتصادية.</p>
                <p>تطوير وتنمية استخدام تكنلوجيا المعلومات في استكمال قاعدة بيانات موظفي الدولة، والعمل على التحول نحو
                    تطبيق
                    الحكومة الإلكترونية، بما يُعزز دعم وتنشيط الخدمات الحكومية وزيادة كفاءة وفاعلية أدائها.</p>
                <p>تفعيل قانون السلطة المحلية بما يضمن انتخاب المحافظين من قبل المواطنين في المحافظة، وتعديل تشريعات
                    السلطة
                    المحلية بما من شأنه منح صلاحيات أوسع للسلطات المحلية.</p>
                <h2 class="special-title">الرؤية الاستشرافية للإصلاح الإداري في اليمن</h2>
                <p>من المعلوم أن اليمن تُعد من الدول النامية، لذا فإن الإصلاح الإداري يمثل تحديًا حقيقيًا لها، وهي عملية
                    لابد
                    منها للإسراع في عملية التنمية، فإذا ما بدأت بها فإنها لا تنتهي، فهي حركة دائمة متجددة، فالإصلاح
                    الإداري في
                    اليمن يُعد ضرورة، وحالة مستعجلة لمعالجة الاختلالات والتوجه للتنمية.</p>
                <p>فهناك العديد من الأسباب التي تدعو لعملية الإصلاح الإداري، من هذه الأسباب:</p>
                <ul style="list-style: square;">
                    <li>كثرة المرافق الحكومية وتشعباتها، وغياب أسس تنظيمها، وسوء الخدمات التي تقدمها.</li>
                    <li>الحاجة إلى التحديث المستمر للأنظمة والتـشريعات الإدارية، بما يضمن مواكبتها لمقتضيات العصر.</li>
                    <li>تضخم أعداد الموظفين في أجهزة الدولة مما أدى إلى بطالة مقنعة.</li>
                    <li>ضرورة مسايرة التطور الحديث للإدارة، القائم على تحسين الإجراءات وتحقيق النتائج والتخطيط
                        الاستراتيجي.
                    </li>
                    <li>ضرورة الاستفادة القصوى من التطور التكنولوجي والبناء المعلوماتي والانتقال إلى الحكومة
                        الإلكترونية.</li>
                    <li class="5">لذا يتوجب على الحكومة اليمنية المبادرة لاستكمال عملية الإصلاح الإداري، على أن يتم ذلك
                        وفق
                        مراحل علمية
                        ومنهجية، وذلك من خلال: <br>
                        <ol class="0">
                            <li>وضع خطط استراتيجية للإصلاح الإداري على المدى القصير والمتوسط وطويل الأجل.</li>
                            <li>إجراء الدراسات والبحوث المختلفة والاستقصاء عن الوقائع والحقائق الميدانية وتحليلها
                                بما يضمن
                                الوصول إلى معلومات وبيانات دقيقة يمكن البناء عليها في عملية الإصلاح الإداري.</li>
                            <li>العمل على تنمية الموارد المتاحة.</li>
                            <li>استكمال إنشاء أنظمة وقواعد المعلومات الشاملة لكافة أجهزة الدولة.</li>
                            <li>متابعة الأداء وتقييم النتائج أولًا بأول.</li>

                        </ol>
                    </li>
                </ul>
                <p>فالإصلاح الحقيقي لابد أن يبدأ بتشخيص الوضع الراهن للوقوف على نقاط القوة والضعف والفرص والتهديدات، ثم
                    وضع
                    وتنفيذ البرنامج الملائم للإصلاح، ثم إجراء عملية تقييم النتائج وتقويمها.</p>
                <p>فتشخيص الوضع الإداري الراهن ينطلق من الواقع السياسي وضرورة توفر الرغبة لدى القيادة السياسية للإصلاح
                    الإداري،
                    يرافقها دعم شعبي للعملية.</p>
                <p>وفي اعتقادنا أن رغبة القيادة السياسية في عملية الإصلاح الإداري متوافرة مع الدعم الشعبي بدليل صدور
                    الرؤية
                    الوطنية لبناء الدولة اليمنية الحديثة وكذا مدونة قواعد السلوك الوظيفي.</p>
                <p>ثم يتم تشخيص واقع الموارد البشـرية من خلال التعرف إلى حجم هذا الكادر ومستوى تأهيله العلمي والفني
                    وتدريبه
                    وعملية تعيينه وتقييمه، ونظام الأجور والمرتبات. كما يشخص الواقـع الاجتماعي لمعرفة مقدار النمو
                    الديمغرافي
                    ومعدلات البطالة ونسبة الأمية.</p>
                <p>إضافة إلى ما سبق لابد من تشخيص الواقع القانوني لمعرفة مدى موائمته للتغيرات ومدى فاعليته، ومعرفة طبيعة
                    الوظيفة
                    العامة، ومدى مرونة وتطور القوانين والأنظمة التي تحكم النظام الإداري.</p>
                <p>كما يتم تشخيص الواقع الوظيفي لمعرفة درجة الفساد الإداري ومستوى البيروقراطية<a href="#3"><span><sup
                                title="نور الدين، حاروش، مرجع سابق، ص36 وما بعدها.">[3]</sup></span></a>. بعد عملية
                    تشخيص الواقع
                    يأتي
                    دور وضع البرامج والاستراتيجيات والسياسات متضمنة آليات تنفيذها.</p>
                <p>من خلال ما سبق يمكن اقتراح ثلاثة مداخل لتحقيق الإصلاح الإداري، وذلك على النحو الآتي:</p>
                <ul>
                    <li>المدخل الأول: إيجاد مرجعية عليا للإدارة العامة. </li>
                    <li>المدخل الثاني: تهيئة البيئة التشـريعية للعمل الإداري، من خلال مراجعة التـشريعات النافذة وإدخال
                        التعديلات اللازمة لتنفيذ عملية الإصلاح الإداري، مع الأخذ بالملاحظات الواردة في هذه الدراسة،
                        والعمل على
                        توسيع اللامركزية الإدارية، وغرس الثقافة الأخلاقية بما يؤدي إلى غرس قيم النزاهة والشفافية ومكافحة
                        الفساد.
                    </li>
                    <li>المدخل الثاني: تهيئة البيئة التشـريعية للعمل الإداري، من خلال مراجعة التـشريعات النافذة وإدخال
                        التعديلات اللازمة لتنفيذ عملية الإصلاح الإداري، مع الأخذ بالملاحظات الواردة في هذه الدراسة،
                        والعمل على
                        توسيع اللامركزية الإدارية، وغرس الثقافة الأخلاقية بما يؤدي إلى غرس قيم النزاهة والشفافية ومكافحة
                        الفساد.
                    </li>
                </ul>
                <h2 class="special-title">ويمكن القول أن عملية الإصلاح الإداري في اليمن لابد أن تحكمها مبادئ عدة، منها:</h2>
                <ol>
                    <li>أن تكون عملية الإصلاح شاملة ومتدرجة وفق خطوات ثابتة.</li>
                    <li>أن تكون دائمة ومستمرة.</li>
                    <li>وضع معايير للجودة والتميز في تقديم الخدمات.</li>
                    <li>اعتماد اللامركزية الإدارية.</li>
                    <li>استخدام التكنولوجيا ومواكبة تطورها.</li>
                    <li>الحفاظ على حقوق الموظفين الحاليين.</li>
                    <li>اعتماد الكفاءة والجدارة في عمليتي التوظيف والترقية. </li>

                </ol>
                <h2 class="special-title">وفضًلا عما ذكر، فإن نجاح عملية الإصلاح الإداري يتطلب توافر الآتي:</h2>
                <ol>
                    <li>حشد وتوفير الموارد المالية اللازمة<a href="#4"><span><sup
                                    title="محمد، محمود أحمد إسماعيل: رؤية مستقبلية لتحقيق الإصلاح الإداري لمؤسسات الرعاية الاجتماعية في مصر، المجلة العلمية للخدمة الاجتماعية، المجلد 1، العدد 13، مارس 2021، ص194.">[4]</sup></span></a>.
                    </li>
                    <li class="3">تعديل وتحديث التـشريعات والقوانين اللازمة لعملية الإصلاح الإداري وإصدارها.</li>
                    <li>تعاون كافة الجهات الحكومية.</li>
                    <li>نشر ثقافة الإصلاح الإداري بين أفراد المجتمع مع نشر الشفافية والمصارحة.</li>
                </ol>
                <h2 class="special-title">والمحاور التي يجب أن يشملها الإصلاح الإداري عديدة، منها:</h2>
                <ul>
                    <li>الإصلاح التشـريعي للأجهـزة الإداريـة، من خلال تطوير المبادئ الحاكمة للأجهزة الإدارية، وتحديث
                        قانوني
                        الخدمة المدنية والسلطة المحلية.</li>
                    <li>إصلاح الهيكل التنظيمي للدولة، من خـلال الإصـلاح المؤسـسي لوحـدات الجهـاز الإداري للدولة،
                        واستكمال بناء
                        قاعدة بيانات الأجهزة الحكومية وكوادرها الوظيفية.</li>
                    <li>بناء وتنمية الموارد البشـرية العاملة في وحدات الجهاز الإداري للدولة، من خلال التخطيط للقوى
                        الوظيفية،
                        وإعادة النظر في نظام تدريب الموظفين، ووضع برامج تدريبية مهارية وتخصصية، وتعميم مدونة السلوك
                        الوظيفي.
                    </li>
                    <li>إصلاح هيكل الأجور والمرتبات، وإعادة النظر في مستويات ودرجات الوظيفة العامة، من خلال وضع منظومة
                        جديدة
                        للأجور والمرتبات، تتلاءم مع الوضع المعيشي الراهن.</li>
                    <li>التوسع في استخدام تكنولوجيا المعلومات وإصلاح نظم تقييم الخدمات العامة، من خلال تقديم
                        الخدمات
                        الإلكترونية، وتطوير الخدمات القائمة.</li>
                    <li>تعزيز الشفافية والنزاهة في أجهزة الدولة، من خلال تفعيل القوانين المتعلقة بمكافحة
                        الفساد، ووضع برامج
                        للعدالة الناجزة، والقيام بحملات التوعية القانونية للموظفين، وتعريفهم بأضرار الفساد على الموظف
                        وعلى
                        الدولة.</li>
                    <li>إصلاح العلاقة بين المواطن والدولة، من خلال إنشاء إدارات لتلقي الشكاوى والمقترحات من
                        المواطنين وإتاحة
                        المعلومات لهم.</li>

                </ul>
                <p>إذا كانت هذه هي رؤيتنا المستقبلية للإصلاح الإداري في اليمن، إلا أن هناك بعض العوامل التي قد تعرقل
                    عملية
                    الإصلاح الإداري، نذكر منها:</p>
                <ul>
                    <li>العدوان والحصار وما رافق ذلك من انقطاع المرتبات وتوقف عملية الإصلاح الإداري.</li>
                    <li>عدم توفر الموارد المالية الكافية للإصلاح الإداري.</li>
                    <li>عدم اقتناع بعض القيادات الإدارية بجدوى الإصلاح الإداري.</li>
                    <li>عدم تقبل البعض لفكرة التغيير والتطوير ما يؤدي إلى مقاومة الإصلاح الإداري.</li>
                    <li class="3">تعارض مصالح بعض الجهات والمسؤولين والموظفين مع عملية الإصلاح الإداري.</li>
                    <li>عدم الاستقرار الإداري نتيجة التغيرات والتعديلات الوزارية المتكررة.</li>
                    <li class="3">غياب التوجه الاستراتيجي للتنمية الوطنية الشاملة.</li>
                </ul>
            </div>
        </div>
        <div class="nested-ref">
            <h2 class="show-references">إخفاء المراجع</h2>
    <div class="refrences">
        <div class="first-ref-info">
            <h2>المراجع</h2>
        </div>
        <ul>
            <li id="1">الرؤية الوطنية الشاملة لبناء الدولة اليمنية الحديثة، رئاسة مجلس الوزراء، صنعاء، 2019، ص 49 وما
                بعدها.
            </li>
            <li id="2">ملاعب، عمر: الإصلاح الإداري مدخلًا لتصويب المسار التنموي تجارب دولية، مجلة دراسات تنموية، المعهد
                العربي للتخطيط، العدد 62، الكويت، 2019، ص56.</li>
            <li id="3">نور الدين، حاروش، مرجع سابق، ص36 وما بعدها.</li>
            <li id="4">محمد، محمود أحمد إسماعيل: رؤية مستقبلية لتحقيق الإصلاح الإداري لمؤسسات الرعاية الاجتماعية في مصر،
                المجلة العلمية للخدمة الاجتماعية، المجلد 1، العدد 13، مارس 2021، ص194.</li>
        </ul>
    </div>
        </div>
        <div class="show-some-studies">
            <h3 class="show-studies-h3">اقرأ أيضًا</h3>
            <a href="{% url 'reformmethodology' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/method1.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <span>3 مارس 2024</span>
                        <h3>منهجية الإصلاح الإداري</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'comprehensive_reform' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/fanicial.webp' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <span>23 سبتمبر 2023</span>
                        <h3>تقييم برنامج الإصلاح الاقتصادي والمالي والإداري الشامل في اليمن</h3>

                    </div>
                </div>
            </a>
            <a href="{% url 'evolution_of_public_administration' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/admini.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <span>5 أكتوبر 2024</span>
                        <h3>تطور الإدارة العامة في إطار حقل القانون الإداري</h3>

                    </div>
                </div>
            </a>
            <a href="{% url 'financial_reform_in_countries' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/gold.webp' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <span>20 يناير 2024</span>
                        <h3>تجارب بعض الدول في مجال الإصلاح المال</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'malaysia_study' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/maly2.webp' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <span>1 يونيو 2024</span>
                        <h3>تجربة ماليزيا في الإصلاح الإداري</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'future_fo_reforming_administrative_law_in_yemen' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/fix2.webp' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <span>14 سبتمبر 2024</span>
                        <h3>الرؤية المستقبلية لإصلاح القانون الإداري في اليمن</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'future_of_financial_reform_in_yemen' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/tagarb9.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <span>6 يناير 2024</span>
                        <h3>رؤية مستقبلية للإصلاح المالي في اليمن</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'role_of_the_private_sector_in_world' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/test.png' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <span>23 ديسمبر 2023</span>
                        <h3>تجارب عالمية وإقليمية لدور القطاع الخاص</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'legislative_reform_in_the_world' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/repair4.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <span>2 نوفمبر 2024</span>
                        <h3>تجارب عربية وغربية للإصلاح التشريعي</h3>
                    </div>
                </div>
            </a>

            <a href="{% url 'implementing_e-government' %}" class="study-item">
                <div class="study-info-show last-one">
                    <div class="image-card">
                        <img src="{% static 'imgs/egoven.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <span>11 نوفمبر 2023</span>
                        <h3>عوامل نجاح أو فشل تنفيذ الحكومة الإلكترونية</h3>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <h2 class="show-references">إخفاء المراجع</h2>
    <div class="refrences">
        <div class="first-ref-info">
            <h2>المراجع</h2>
        </div>
        <ul>
            <li id="1">الرؤية الوطنية الشاملة لبناء الدولة اليمنية الحديثة، رئاسة مجلس الوزراء، صنعاء، 2019، ص 49 وما
                بعدها.
            </li>
            <li id="2">ملاعب، عمر: الإصلاح الإداري مدخلًا لتصويب المسار التنموي تجارب دولية، مجلة دراسات تنموية، المعهد
                العربي للتخطيط، العدد 62، الكويت، 2019، ص56.</li>
            <li id="3">نور الدين، حاروش، مرجع سابق، ص36 وما بعدها.</li>
            <li id="4">محمد، محمود أحمد إسماعيل: رؤية مستقبلية لتحقيق الإصلاح الإداري لمؤسسات الرعاية الاجتماعية في مصر،
                المجلة العلمية للخدمة الاجتماعية، المجلد 1، العدد 13، مارس 2021، ص194.</li>
        </ul>
    </div>
</div>
{% endblock %}