{% extends 'base.html' %}
{% load static %}
{% block title %}بعض التجارب الدولية في الإصلاح الإداري{% endblock %}
{% block content %}
<div class="container">
    <div class="top-of-study">
        <a href="{% url 'index' %}">المركز التأسيسي</a>/<a href="{% url 'studies' %}">الدراسات</a>/<span>بعض التجارب الدولية في الإصلاح الإداري</span>
    </div>
    
    <div class="studies-flex">
        <div class="first-page">
            <div class="controls">
                <button id="increaseFont"><i class="fas fa-search-plus"></i></button>
                <button id="decreaseFont"><i class="fas fa-search-minus"></i></button>
            </div>
            <a href="#img-id" class="hidden-row"><i class="fa-solid fa-arrow-up-long"></i></a>
            <!-- <h1>الحياة في اليمن</h1> -->
            <p class="p-img">بعض التجارب الدولية في الإصلاح الإداري</p>
                <div class="date-info">
                    <span>3 أكتوبر 2023</span>
                </div>
                <span class="pub">أ.د/ فارس محمد القادري & أ.د/ أحمد عبده الجرادي</span>
            <img src="{% static 'imgs/eslah.jpg' %}" alt="" id="img-id">
            
            <div class="full-text">
                <p>تخلت دول عدة عن التسيير التقليدي للقطاع العام، القائم على مبادئ البيروقراطية وعدم المرونة، من خلال الإصلاحات
                    التي أدخلتها على أجهزتها الإدارية، فتحولت من النموذج البيروقراطي إلى نموذج إداري جديد يسمى الإدارة العامة
                    الجديدة، التي تُعرف أنها: مجموعة عناصر مستحدثة لتسيير الإدارات العامة، من خلال إدراج مفهوم الأداء والجودة.
                </p>
                <p>ومن أهم مبادئ هذه الإدارة تركيزها على كفـاءة المـوارد البـشرية، وتكيفهـا المستمر مع المتغيرات البيئية
                    الديناميكية والظروف المفاجئة وابتعادها عن الطابع البيروقراطي، والعمل على تحسيس الموظف العام بالمسؤولية،
                    واستخدامها تكنلوجيا المعلومات والاتصال، وتوجهها نحو اللامركزية الإدارية.</p>
                <p class="2">وتجربة الإصلاح الإداري قامت به دول عدة على الصعيد الإقليمي والعالمي، كـنيوزلندا وبريطانيا ومصر
                    والكويت، وهو
                    ما سنتناوله خلال مطلبين، وذلك على النحو الآتي:</p>
                <h2>أولًا: تجربة نيوزلندا<a href="#1"><span><sup
                                title="كافي، مصطفى يوسف: الإصلاح والتطوير الإداري بين النظرية والتطبيق، دار ومؤسسة رسلان للطباعة والنشر والتوزيع، دمشق، سوريا، 2018م، ص85 وما بعدها... وأنظر: بوطويل، رقية: الإدارة العامة الجديدة للإصلاح الإداري بين الضرورة والاختيار، مجلة معهد العلوم الاقتصادية، جامعة البليدة 2، الجزائر، العدد 1، 2021، ص538 وما بعدها.">[1]</sup></span></a>:
                </h2>
                <p>قامت نيوزلندا بعملية إصلاح إداري وسياسي واقتصادي، حيث أعادة هيكلة القطاع العام والوظيفة العامة، بعد ما عانى
                    هذا القطاع من العديد من المشكلات الاقتصادية المتمثلة بتضخم عدد الموظفين في ظل شروط عمل جامدة، والافتقار
                    للأداء، بالإضافة إلى البيروقراطية الجامدة، حيث كان مجلس الخدمة العمومية هو المعني بتوظيف الموظفين وتعيين
                    المسؤولين والمديرين، فقد كان ينظر للوظيفة العامة على أنها تقوم على نظام السلك الوظيفي وتقدم مزايا بحسب
                    الأقدمية، إلا أنه في العام 1984م نفذ حزب العمل العديد من الإصلاحات التي أثرت في هيكل الإدارة والوظيفة العامة
                    وفي مختلف السياسات الاجتماعية، حيث أنشئت وحدات للأنشطة التجارية ووحدات للخدمات باعتماد اللامركزية الإدارية،
                    وعلى المستوى المركزي تتولى الخزينة العامة إدارة الأداء المالي. </p>
                <p>إضافة إلى ذلك أصدرت الحكومة في العام 2005م قواعد السلوك، التي ترتكز عليها قيم الوظيفة العامة، حيث تتضمن هذه
                    القواعد العديد من المبادئ، منها: النزاهة والصدق واحترام الزملاء والمواطنين، والفصل بين الأنشطة الخاصة
                    والعامة، والاحتراف والتكامل.</p>
                <h2 class="special-title">ينظم الوظيفة العامة في نيوزلندا العديد من القوانين، منها: </h2>
                <ol>
                    <li>قانون عام 1988م المتعلق بالقطاع العام، حيث ألغى هذا القانون نظام السلك الوظيفي، وأنشأ بدلًا عنه نظام
                        التعاقد، كما سهل عمل شؤون الموظفين، ومنح الإدارات التنفيذية صلاحيات عدة تتعلق بالتوظيف والترقية وتقييم
                        الأداء وتحديد الرواتب، وألغى قياس الجدارة بالأقدمية واستبدله بالأداء.</li>
                    <li>قانون عام 1991م المتعلق بعقود العمل، حيث غير شروط العمل في القطاعين العام والخاص، وأنشأ عملية التفاوض في
                        العقود الفردية والجماعية في القطاعين العام والخاص، كما غير نظام توصيف الوظائف العامة، إضافة إلى ذلك منح
                        الأجهزة العامة حرية تبنى القوانين التي يرونها مناسبة.</li>
                    <li>قانون عام 2000م المتعلق بعلاقات العمل، حيث روج لمبدأ حسن النية في العلاقة بين أصحـاب الأعمال والموظفين
                        والنقابات في الوظيفة العامة، فسعى إلى تعزيز الاحترام والثقة المتبادلة بين أطراف العمل، وتوفير بيئة عمل
                        صحية.</li>
                    <li>القانون رقم (2) لسنة 2004م بشأن تعديل قانون القطاع العام، حيث أعطى صلاحيات جديدة لهيئات الخدمات العامة
                        ورؤسائها فيما يتعلق بالموارد البشـرية، كما أدخل قانون عام 2004م بشأن تعديل قانون علاقات العمل بعض
                        التعديلات في العلاقات بين الموظفين والنقابة وأجهزة الدولة.</li>
                </ol>
                <p>مما سبق نجد أن لجنة الخدمات العامة في نيوزيلندا أصبحت هيئة مسؤولة عن إعداد القواعد والمبادئ المتعلقة بالوظيفة
                    العامة.</p>
                <p class="5">فالهدف من إجراء الإصلاحات الإدارية هو دعم وتطوير الأداء الوظيفي وتعزيز المرونة في استخدام
                    الموارد، لذا منحت
                    الحكومة سلطات واسعة للمديرين، كما سمحت لهم بتطوير نماذجهم الخاصة التي تلبي احتياجاتهم الخاصة.</p>
                <p>كما يظهر أن التشـريعات الإدارية وعمليـة تحديثها وتعديلاتها المتكررة كان لها دور في عملية الإصلاح الإداري الذي
                    قامت به نيوزيلندا، ولولا هذه الإصلاحات التشـريعية ما تحقق النجاح لعملية الإصلاح الإداري. </p>
                <h2>ثانيًا: تجربة المملكة المتحدة البريطانية<a href="#2"><span><sup
                                title="بوطويل، رقية، مرجع سابق، ص 541 وما بعدها.. وأنظر: لعرابي، كريمة، مرجع سابق، ص64 وما بعدها.. وأنظر أيضا: نور الدين، حاروش: الإصلاح الإداري بين المفهومين الغربي والعربي، مجلة البحوث السياسية والإدارية، العدد 2، ص 34 وما بعدها.">[2]</sup></span></a>:
                </h2>
                <p>عملت بريطانيا العديد من الإصلاحات الإدارية، لعل أهم هذه الإصلاحات ما قامت به في العام 1979م في ظل حكومة
                    (مارجريت تتشـر)، حيث عرف القطاع العام سياسات إدارية جديدة، هدفت إلى القضاء على النظام البيروقراطي وتقليص
                    نفقات الدولة، وتغيير هياكل الأجهزة الإدارية، والاعتماد على الخصخصة والنظام التعاقدي، والاهتمام بالمواطنين
                    وتحسين الخدمات المقدمة لهم، وخلال العام 1988م أنشأت لجنة لتفعيل الأجهزة الإدارية، التي أوصت بإنشاء ما سمي
                    بالوكالات، حيث تتولى كل وكالة تقديم خدمات عامة للمواطنين.</p>
                <h2 class="special-title">من أهم الإصلاحات الإدارية في بريطانيا ما يلي:</h2>
                <ul>
                    <li><span class="spe-span">إنشاء وكالات مستقلة: </span>حيث حددت اللجنة المكلفة بالإصلاحات خصائص وأنشطة ومهام
                        وطبيعة العلاقة بين الوكالـة
                        والوزارة المشـرفة عليهـا، أما ما يتعلق بمديري الوكالات فيتم تعيينهم عن طريق المنافسة من خلال الإعلان
                        العام واختيار أفضل الكفاءات.</li>
                    <li><span class="spe-span">الخصخصة: </span>مثلت الخصخصة اتجاه جديد للحكومة؛ بهدف تقليص حجم التضخم في هيكل
                        الدولة بغرض تخفيض العجز المالي.
                    </li>
                    <li><span class="spe-span">إصدار ميثاق المواطنين: </span>حيث أصدرت الحكومة هذا الميثاق في العام 1991م الذي
                        يُعد الأساس لإصدار مواثيق عديدة
                        في مختلف القطاعات، وهذه المواثيق تحدد أهداف والتزامات الإدارة تجاه المواطنين، ونتيجة لذلك تبنت الحكومة
                        فلسفة مبنية على الإدارة بالنتائج لتحسين أداء القطاع الحكومي عن طريق تعزيز الكفاءة وتعزيز خدمة العملاء،
                        ومن ثم على كل وكالة القيام سنويًا باستبيان آراء المواطنين الذين يتعاملون معها للتعرف إلى احتياجاتهم
                        وتلبيتها، وفقًا لذلك يعد النموذج البريطاني المواطن زبونًا يتوجب إرضاءه.</li>
                </ul>
                <p>فالملاحظ أن عملية الإصلاح الإداري في كل من نيوزلندا وبريطانيا قد شملت العديد من العناصر، أهمها ما يلي:</p>
                <ol>
                    <li>حكومة ترتكز على أدوارها الأساسية.</li>
                    <li>إدارة تستند إلى النتائج.</li>
                    <li>حوافز مرتبطة بالأداء.</li>
                    <li class="5">مراقبة وتقييم شديدين للمخرجات والنتائج.</li>
                    <li>شراكة قوية مع المواطنين.</li>
                    <li class="2">التعامل مع المواطنين بصفتهم مالكين ومستفيدين من الخدمة.</li>
                </ol>
                <h2>ثالثًا: تجربة جمهورية مصر العربية:</h2>
                <p>ارتكزت تجربة الإصلاح الإداري في مصـر بشكل أساسي على الإدارة العامة الجديدة، حيث تُركز على النتائج وليس على
                    القواعد وعلى التوجيه أكثر من التنفيذ، فقد بدأت الحكومة المصـرية بتنفيذ برنامج الخصخصة للشـركات العامة منذ
                    العام 1991م، ونفذت خطة التطوير الإداري خلال المدة من عام 1992م حتى العام 1997م، فتحول دورها من دور المانح
                    والمرخص إلى دور الميسـر والمعاون، كما عملت بعد ذلك على إعادة صياغة مهام الجهاز الإداري، مما أدى إلى تقلص دور
                    الجهاز الإداري في الأنشطة الاستراتيجية مع تشجيع القطاع الخاص على الإنتاج وتقديم الخدمات المختلفة<a
                        href="#3"><span><sup
                                title="الدقن، أحمد السيد: تجربتا الإصلاح الإداري في الصين ومصر والتوجه نحو اقتصاد السوق دراسة مقارنة، المجلة العربية للإدارة، مجلد 35، العدد 1، يونيو 2015، ص82.">[3]</sup></span></a>.
                </p>
                <p>كما أنه خلال العام 2008م وفي إطار عملية إصلاح نظام الخدمة المدنية طُرح مشـروع جديد لقانون الخدمة المدنية إلا
                    أن هذا المشـروع لاقى رفضًا، وفي العام 2014م بدأت مرحلة جديدة لإصلاح منظومة الخدمة المدنية، ثم في العام 2015م
                    صدر قانون جديد للخدمة المدنية برقم (18)، إلا أن هذا القانون أوقف من قبل مجلس النواب، وفي العام 2016م صدر
                    القانون رقم (81) ولائحته التنفيذية، بالإضافة إلى صدور قرارات عدة تتعلق بالحوافز والمكافآت، ومجموعة من
                    المعاير المرتبطة بالتوظيف والترقية<a href="#4"><span><sup
                                title="الحميدي، عبدالرحمن بن عبدالله: نافذة على طريق الإصلاح- إصلاحات نظام الخدمة المدنية في الدول العربية، صندوق النقد العربي، ص21 وما بعدها.">[4]</sup></span></a>.
                </p>
                <p>أما في إطار الإصلاح الإداري في قطاع الإدارة المحلية نجد أن هناك تطورات غير مسبوقة في الدستور المصـري لعام
                    2014م، حيث دعم هذا الدستور التحول التدريجي نحو اللامركزية المالية والإدارية وتوفير مقاعد للفئات المهمشة، مما
                    يمكن المواطنين بمختلف شرائحهم في التمثيل المحلي وتشكيل المجالس المحلية، حيث أورد الدستور أحكامًا تتعلق
                    بالإدارة المحلية وغير مسمى المجالس الشعبية المحلية إلى مجالس محلية، وهذا الوضع الدستوري يحسب لصالح الإصلاح
                    الإداري في مصر.</p>
                <p>عطفًا على ما سبق يمكننا القول: إن تحديث منظومة التـشريعات الإدارية أسهمت بشكل أو بآخر في عملية الإصلاح
                    الإداري واستمراره باستمرار تحديث هذه التشـريعات، فالعلاقة بينهما طردية، فكلما حصل تحديث وتطوير للتشـريعات
                    الإدارية وفقًا للمصلحة العامة يحصل معه بالضـرورة عملية تطور في عملية الإصلاح الإداري. </p>
                <p>وقد شمل برنامج الإصلاح الإداري في مصر العديد من المحاور الهامة <a href="#5"><span><sup
                                title="تيشوري، عبدالرحمن: أبرز التجارب العربية والدولية في الإصلاح الإداري، مقال منشور على موقع الإنترنت، https://www.annajah.net/">[5]</sup></span></a>،
                    منها:</p>
                <ul style="list-style: square;">
                    <li>اعتماد سياسات جديدة لشغل الوظيفة العامة، تعمل على التمويل الذاتي للوظائف الجديدة، وإعادة تنظيم الوظائف
                        الزائدة والمؤقتة، وتوقيف التعيينات غير المبررة.</li>
                    <li>العمل على معالجة المشكلات الوظيفية، وفتح باب الترقيات للموظفين.</li>
                    <li>اعتماد مبدأ الشفافية والمساواة، وتكافؤ الفرص عند التعيين في الوظائف العامة.</li>
                    <li class="5">الاستفادة من التكنولوجيا بما يمكن من المساعدة على التخفيف من البيروقراطية والتعقيدات
                        المكتبية، وتوفير
                        قواعد البيانات والهياكل التنظيمية.</li>
                    <li>الاهتمام بتنمية مهارات العنصر البشري على كافة المستويات.</li>
                    <li>نشـر الثقافـة القانونيـة بين الموظفين فيما يتعلق بالقانون الإداري وعلى وجه الخصوص قواعد الوظيفة العامة.
                    </li>
                    <li class="5">الانتقال إلى الحكومة الإلكترونية لتقديم الخدمات للمواطنين إلكترونيًا بجهد ووقت أقل وإجراءات
                        سهلة.</li>
        
                </ul>
                <p>مع ذلك فالملاحظ أن تجربة الإصلاح الإداري في مصر تواجه مشكلات عدة، منها:</p>
                <ol>
                    <li>التزايد المستمر في أعداد الموظفين، مما يؤدي إلى الزيادة في الرواتب والأجور، مما يثقل كاهل الموازنة
                        العامة.</li>
                    <li>تضخم الهيكل الإداري لأجهزة الدولة ووزاراتها.</li>
                    <li>ترسخ الثقافة السلبية في الإدارة، كالتسويف في إنجاز الأعمال واللامبالاة.</li>
                    <li>عدم المشاركة في عملية الإصلاح الإداري من قبل المواطنين (المستفيدين).</li>
                    <li>عدم التركيز على مدخل الجودة الشاملة، والاعتماد على مجرد مدخل تبسيط الإجراءات.</li>
                </ol>
                <h2>رابعًا: تجربة دولة الكويت<a href="#6"><span><sup
                                title="الحملي، سحر عبدالله: الإصلاح الإداري مفهومه وآليات تطبيقه دراسة مقارنة، المجلة العلمية لقطاع كلية التجارة، جامعة الأزهر، العدد 10، يناير 2013، ص351 وما بعدها.">[6]</sup></span></a>:
                </h2>
                <p>إن من أبرز محاولة الإصلاح الإداري في الكويت كانت من العام 2009م حتى العام 2014م، حيث عرفت هذه المدة بخطة
                    التنمية الخمسية، وكانت من أهم أهدافها: </p>
                <ol>
                    <li>إعادة بناء أجهزة الدولة من خلال توفير البنية التحتية والتـشريعات الملاءمة. </li>
                    <li>تنمية الموارد البشرية بما يرفع أداء أجهزة الدولة.</li>
                    <li>إعلاء مبدأ المشروعية من خلال احترام الدستور والقانون. </li>
                    <li>تفعيل دور القطاع الخاص في قيادة التنمية.</li>
        
                </ol>
                <p>إضافة إلى ذلك اشتملت الخطة على عدد من السياسات الهادفة إلى إصلاح الإدارة العامة، أهمها: </p>
                <ul>
                    <li>العمل على تخفيض عدد الأجهزة الحكومية، وإعادة تحديث هياكلها وإلغاء التضارب في الاختصاصات.</li>
                    <li>تخفيض الهياكل الوظيفية وتطويرها.</li>
                    <li>العمل على تطوير قطاع الخدمات ودعم بيئة الاستثمار وتبسيط الإجراءات.</li>
                    <li>دعم الحكومة الإلكترونية وتطويرها.</li>
                    <li>إنشاء المراكز المتخصصة لتدريب وإعداد القيادات الإدارية.</li>
                    <li class="5">دراسة التشـريعات الإدارية النافذة وتعديلها بما يتلاءم مع مبدأ تعزيز الشفافية ومكافحة الفساد.
                    </li>
                </ul>
                <h2 class="special-title">وفي مجال سياسة التخطيط والإحصاء فقد عملت الكويت على: </h2>
                <p>إنشاء وتأسيس معاهد متخصصة للتخطيط والإحصاء، ودعمت عملية التخطيط، كما نشـرت ثقافة التخطيط وأعدت دليل علمي
                    للتخطيط، وفعلت إدارة التخطيط في الجهات الحكومية ودربت الكوادر الفنية في هذه الإدارات، وعملت على تطوير بنوك
                    المعلومات والخدمات الإحصائية بما في ذلك نظام معلومات الخدمة المدنية.</p>
                <p>أما في مجال سياسات مجتمع المعلومات، فقد أعادت هيكلة قطاع المعلومات والاتصالات، وأصدرت تشـريعات جديدة تنظم
                    الاتصالات، كما حدثت البنية التحتية للاتصالات والمعلومات، وخصخصة بعض خدماته.</p>
                <p>حيث أصدرت القانون رقم (37) لسنة 2014م الذي أنشأت بموجبه هيئة عامة لتنظيم قطاع الاتصالات وتقنية المعلومات
                    تتمتع بشخصية اعتبارية مستقلة وباستقلال مالي وتتولى العديد من المهام، منها تنظيم خدمة شبكة كافة الاتصالات
                    وتشجيع المنافسة والاستثمار في قطاعي الاتصالات وتقنية المعلومات.</p>
                <p>أما في مجال الإدارة المحلية وتوزيع الصلاحيات فقد أصدرت الكويت القانون رقم (33) لسنة 2016م بشأن بلدية الكويت،
                    الذي تضمن بعض الإصلاحات المتمثلة في عملية انتخاب المجلس البلدي الذي يتكون من ستة عشـر عضو منهم عشـرة يتم
                    انتخابهم بحيث يمثل كل دائرة عضو وستة يتم تعينهم.</p>
                <p>وقد نظم هذا القانون صلاحيات المجلس البلدي التي منها: وضع القواعد الخاصة بحقوق الملكية والانتفاع بالأراضي
                    والطرق الخاصة المستقطعة من العقارات، كذلك التقرير بإنشاء المدن والقرى والضواحي والمناطق والجزر والطرق
                    والشوارع والميادين والأسواق والمسالخ والمقابر.</p>
                <p>من خلال ذلك يتضح أن التـشريعات الإدارية كان لها دور في عملية الإصلاح الإداري في الكويت عبر الحد من السلطة
                    المركزية ومنح صلاحيات أوسع للسلطة المحلية.</p>
                <h2>04. تجارب عربية وغربية للإصلاح التشريعي</h2>
                <p>نتناول في هذا المحور نماذج من تجارب إصلاح القانون الإداري في عدد من الدول العربية والغربية وفقًا لما يلي:</p>
                <h2 class="special-title">أولًا: تجارب دول عربية:</h2>
                <p>نتناول هنا عدد من التجارب للدول عربية: لا شك أن هناك إجماع في الدول العربية على تميز نظام الإدارة العامة، في
                    كل من تونس والأردن والكويت.</p>
                <h2 class="special-title2">تجربة تونس<a href="#7"><span><sup
                                title="بن جعفر، ماجدة. قاضي: التجربة التونسية في مجال الإصلاح التشريعي، بحث مقدم لمؤتمر الإصلاح الإداري في عمان 28 - 30 أبريل 2008">[7]</sup></span></a>
                </h2>
                <p>1- لا يختلف الوضع القانوني في تونس كثيرًا عما عليه الحال في مختلف دول العالم من حيث تضخم التشـريع وتشعبه
                    وتعقيده سيما بعد موجة التشـريع التي تعيشها بلادنا اقتضاءً لمتطلبات التنمية والانفتاح الاقتصادي. </p>
                <p>2- خلال العقدين الأخيرين تأكدت الرغبة في إصلاح الإدارة ومصالحتها مع المواطن وتطوير التـشريع لما في ذلك من
                    ضمانة لحقوق الفرد ومن فائدة في تطوير المجتمع وتنميته.</p>
                <p>3- انطلقت أولى المبادرات في مجال الإصلاح التشـريعي منذ التسعينيات بعقلنة التشـريع (أ) لتنتهي في ظل المبادرة
                    الإقليمية العربية للإدارة الرشيدة لخدمة التنمية التي تدعمها منظمة التعاون الاقتصادي والتنمية وبرنامج الأمم
                    المتحدة الإنمائي إلى العمل على جودة الصياغة التشريعية (ب).</p>
                <h2 class="special-title2">بوادر إصلاح وعقلنة التـشريعات في تونس</h2>
                <p>تندرج محاور الإصلاح والعقلنة التشـريعية في تونس في إطار برنامج الإصلاح الشامل الذي تبنته تونس منذ سنة 1986م،
                    في تطوير التشريع، وتنظيم التشريع وتبسيطه.</p>
                <p>1- تطوير التشريع: من خلال إخضاع القانون إلى الرقابة من حيث دستوريته من خلال إحداث المجلس الدستوري سنة 1987م،
                    إصدار عديد من التشـريعات مواكبة لتطور الحياة والرقي الحضاري وانفتاح العلاقات بين البلدان، وتيسير الإجراءات
                    بإلغاء القيود الإدارية واختصار الإجراءات وآجالها وذلك في جميع قطاعات الدولة المختلفة.</p>
                <p>2- تنظيم التشريع وتبسيطه:</p>
                <p>تنظيم التشريع: من خلال:</p>
                <p>1-تم سنة 1993م إحداث مركز الدراسات القانونية والقضائية وهو مؤسسة عمومية ذات صبغة إدارية تحت إشراف وزارة العدل
                    وحقوق الإنسان وهو مرصد وطني للتشـريع. من ضمن مهامه جمع النصوص القانونية الجاري بها العمل وتحيينها وترجمتها
                    ونشـرها. ومختلف الوثائق وتيسير الاستفادة منها.</p>
                <p>2- تم سنة 1996م إحداث المجلس الأعلى لتنظيم الأحكام التشريعية الجاري بها العمل، للسهر على عملية تنظيم وتجميع
                    النصوص الجاري بها العمل، وتحيينها وتهذيب مصطلحاتها بتخليصها من العبارات غير السليمة التي فقدت صلتها بالواقع،
                    سواءً لكونها دخيلة أو لارتباطها بنظم وأوضاع سياسية وإدارية متقادمة، وعند الاقتضاء توضيح أحكامها بإعادة
                    صياغتها دون مساس بمضمونها. </p>
                <p>3- سنة 2003م، تم إحداث المجلس الوطني لتنظيم الأحكام التشـريعية الجاري بها العمل، عوضًا عن المجلس الأعلى، مع
                    إسناد الكتابة العامة لهذا المجلس إلى مركز الدراسات القانونية والقضائية.</p>
                <h2 class="special-title2">تبسيط القانون وتيسير الوصول إليه من خلال:</h2>
                <p>1- نشـر القوانين والمراسيم والأوامر والقرارات وجوبًا باللغة العربية بالرائد الرسمي للجمهورية التونسية -
                    الجريدة الرسمية في اليمن -، كما يجب نشـرها بلغة أخرى على سبيل الإعلام. أما المناشير فلا يتم ادراجها بالرائد
                    الرسمي إلا بعد مصادقة الإدارة العامة للحكومة، وإذا كانت عامة تهم المتعاملين مع المصالح الوزارية أو تتعلق
                    بعدة وزارات.</p>
                <p>2- أمر سنة 1993م أحدث نظامًا للاتصال والإرشاد الإداري بمصالح الدولة والجماعات العمومية المحلية والمؤسسات
                    العموميـة، يحتـوي على جميـع المراجـع القانونيـة والترتيبيـة، وعلى كافة الإجراءات اللازمة للحصول على كل خدمة
                    إدارية مدرجة بهذا النظام. ويقع ضبط قائمة الخدمات الإدارية والإجراءات اللازمة للحصول عليها بقرار من الوزير
                    المعني.</p>
                <p>3- تسهم المؤسسات العامة في تبسيط وايصال القوانين إلى إدراك المعنيين بها، بإجراء ملتقيات وندوات علمية وموائد
                    مستديرة تساعد على فهم القانون وحسن تطبيقه. </p>
                <h2 class="special-title2">اصلاح عملية وضع التشريع</h2>
                <p>تدرك تونس أهمية الصياغة القانونية وضرورتها كأداة للسياسة العامة وكرافد من روافد التنمية والأمن القانوني لذلك
                    فهي جادة في توفير الهيكل والإجراء الملائم لتأهيل إطاراتها وتكوينهم على وضع التشـريع الجيد وذلك من خلال:
                    إحداث كلا من: مركز مختص في الصياغة القانونية (مركز الدراسات القانونية والقضائية)، الشهادة الوطنية للماجستير
                    المهني في تحرير النصوص القانونية وترجمتها.</p>
                <h2 class="special-title2">اسهام مركز الدراسات القانونية في جودة التشريع:</h2>
                <p>1- يتوفر مركز الدراسات القانونية والقضائية المحدث منذ سنة 1993م على الخبرات القانونية اللازمة والكفاءات التي
                    أظهرت إمكانيات وخبرات جيدة في مجال صياغة القانون.</p>
                <p>2- من مهام المركز وفق قانون إنشائه: القيام بالدراسات من أجل تطوير التشـريعات الوطنيـة، ودراسة المسائل
                    القانونية الهامة المتعلقة بتطبيـق التشـريعات، بطلب من الجهات الحكومية المعنية.</p>
                <p>3- للمركز التعاقد مع أصحاب الخبرة والكفاءات من قضاة وجامعيين ومحامين ومساعدي قضاء لإنجاز خدمات بمقابل، في
                    نطاق مشمولاته المتعلقة خاصة بالتشـريع العام وبالبحوث في الميدان.</p>
                <p>4- يطمح المركز إلى أن يصبح مركزًا إقليميًا في عملية وضع التشـريعات الجيدة وهو بصدد إجراء الدراسات اللازمة
                    للغرض بالتعاون مع مكتب دراسات كندي مختص. </p>
        
                <p>الشهادة الوطنية للماجستير المهني في تحرير النصوص القانونية وصياغتها</p>
                <p>تمت بلورة الفكرة وتجسيدها على الصعيد القانوني بمقتـضى قرار وزير التعليم العالي والبحث العلمي المؤرخ في
                    25/03/2008م المتعلق بضبط نظام الدراسات والامتحانات المطبق بكلية الحقوق والعلوم السياسية بتونس.</p>
                <h2>2ـ التجربة الأردنية<a href="#8"><span><sup title="الزغبي، خالد، مرجع سابق.">[8]</sup></span></a></h2>
                <p>عالجت الهيئة المركزية للإصلاح الإداري في الأردن في مدة سابقة اعادة تنظيم الدوائر الإدارية وتحديد مهامها
                    وصلاحياتها بغية القضاء على تشابك الصلاحيات وتداخلها. وتعتبر أهم التغيرات التي تناولها الإصلاح الإداري تقع في
                    حقل التوظيف وضبط أمور الموظفين في أنظمة الخدمة المدنية، حيث عملت هذه الأنظمة على تسيير أمور الموظفين، ووضع
                    أسس لتعيين وترقية الموظفين. </p>
                <p>غير أن هناك عيبًا خطيرًا في اصلاح أنظمة الموظفين وهو عدم حل مشكلة الرواتب، فإن الإصلاح الإداري أغفل هذه
                    المشكلة الخطيرة لأن هناك اعتقادًا سائدًا أن رواتب موظفي الحكومة قليلة، وهي أدنى بكثير من رواتب الموظفين في
                    المؤسسات غير الحكومية، وهناك دلائل تشير إلى أن الحكومة قد بدأت تشعر بوطأة المنافسة بينها وبين هذه المؤسسات
                    في الحصول على هذه القلة من الأشخاص الأكفاء المدربين، ولم تجدي أية محاولة لتبرير هذا الوضع أو اصلاح الخطأ
                    فيه، ومما يؤسف له جدًا أن الرواتب في الأردن لا تتلاءم مع الواجبات والمسؤوليات والمهام الملقاة على عاتق
                    الموظف، ذلك لأن جدول الرواتب يقوم على أساس من التصنيف غير الصالح حيث نجد أن الوظائف مصنفة تصنيفًا اعتباطيًا
                    بالنسبة إلى فئات، وفي هذا شيء من القلق الذي يسبب تذمرًا في صفوف الموظفين.</p>
                <p>ويعد أهم حدث اصلاحي في أنظمة الموظفين هو إنشاء هيئة مستقلة تدعى ديوان الخدمة المدنية تُعنى بتعيين موظفي
                    الدوائر الحكومية على أسس معتمدة من رئاسة الوزراء، وإذا كان هناك عيوب في السابق كانت من نواحي كثيرة أنظمة لا
                    بأس بها، وإذا كان هناك من عيوب أو أخطاء في قضايا التوظيف والموظفين فإنما مردها في أكثر الأحيان إلى عدم تطبيق
                    القوانين والأنظمة تطبيقًا صارمًا. وكانت كل وزارة تعالج أمور موظفيها بطريقة مستقلة عن سائر الوزارات مما أسفر
                    عن انعدام الانسجام وتضارب الصلاحيات وتشابكها بشكل يدعو إلى الدهشة، لما في ذلك من بذل جهود ضائعة، وأخطر منه
                    هو أن الوزارة كانت دومًا عرضة للتأثير والضغط السياسي من جانب المجلس النيابي ومن الرأي العام. </p>
                <p>وقد أعطى ديوان الخدمة المدنية صلاحيات واسعة منها تدريب الموظفين، وتعبئة الأشخاص الصالحين للتوظيف، وتحضير
                    الامتحانات والاشراف عليها، واعداد قوائم بالأشخاص المؤهلين للتوظيف والموافقة على كل تعيين في أية وظيفة من
                    وظائف الدولة. ومن الاصلاحات الحميدة في هذا الحقل أيضًا إنشاء معهد الإدارة العامة التابع لوزارة تطوير القطاع
                    العام، ويعني هذا المعهد: </p>
                <ul>
                    <li>أولًا: إعطاء موظفي الحكومة ثقافة إدارية عامة وتدريبهم عمليًا على المهام الملقاة على عواتقهم.</li>
                    <li>وثانيًا: بإعداد أشخاص أكفاء لشغل بعض الوظائف الرئيسة.</li>
        
                </ul>
                <p>لذا نجد جهود ومحاولات الحكومة هي نتيجة للشعور بضـرورة اصلاح الإدارة اصلاحًا جذريًا وهي تدرك في الوقت ذاته أنه
                    ينقصها الاخصائيون الأكفاء في علم الإدارة والهيئـات الضـرورية للقيام بإصلاح كهذا.</p>
                <p>لذا نعتقد أن الإصلاح الإداري لا يخرج عن كونه مظهرًا من مظاهر التنمية الشاملة الثقافية والاجتماعية
                    والاقتصادية، لذا يتطلب الإصلاح الإداري بالإضافة إلى اعداد القادة تحقيق تطوير فكري وثقافي عند الموظفين وهذا
                    لا يمكن تحقيقه إلا من خلال التطوير الثقافي العام واعداد الأجيال القادمة.</p>
                <p>وقيام جهاز إداري في أعلى المستويات أمر تحتمه الحجة إلى وجوده لكي يضطلع بمراقبة الأوضاع السائدة في الإدارة
                    وتتجمع في اطاره سائر المعلومات المتصلة بها، ولا شك في أن عدم وجود جهاز كهذا من شأنه أن يترك الأمور إلى مشيئة
                    القدر الذي قد يحركها أو يتأخر في تحريكها.</p>
                <p>على أن حتمية وجود الجهاز المشار إليه لا تعني اتفاق سائر الأنظمة على اعتماد نمط واحد بشأنه، فالمثال البريطاني
                    يقوم على وجود «اللجنة الملكية» التي تعمل على أساس التقارير القيمة التي يضعها الخبراء، وقد أدى عملها على مر
                    الزمان إلى مراجعة جدية لهيكلية الخدمة المدنية في بريطانيا.</p>
                <h2>3- التجربة السورية<a href="#9"><span><sup
                                title="تيشوري، عبد الرحمن: أفكار غير مرتبة من أجل ترشيق الإدارة العامة السورية وحل مشاكل الوظيفة العامة، موقع سريان تلغراف">[9]</sup></span></a>
                </h2>
                <p>ارتكزت التجربة السورية على إعادة هيكلة مؤسسات الدولة ثم على المواد البشـرية بإعادة توزيع وإحالة للتقاعد بطرق
                    متعددة، تتمثل في الآتي:</p>
                <h2 class="special-title2">ترشيق الموارد البشرية في سوريا:</h2>
                <p>الترشيق هنا استهدف هيكل موظفي الخدمة المدنية، التي وضعها المجلس الأعلى للوظيفة العامة، على مستوى كل وزارة أو
                    هيئة، قام بها (المجلس الأعلى للوظيفة العامة) ويتبعه (المعهد الوطني للإدارة العامة)، و(السجل العام للعاملين
                    في الدولة). </p>
                <p>وتتألف هذه الهيئات من المديريات الآتية: </p>
                <ul>
                    <li class="2">أولًا؛ مديريات رئيسة (مديرية الوظيفة العامة، ومديريـة المـوارد البشـرية، ومديرية التطوير
                        والتحديث).
                    </li>
                    <li class="-index">ثانيًا؛ المديريات التقليدية (مديرية التخطيط والإحصاء، ومديرية الشؤون المالية، ومديرية
                        المعلوماتية،
                        ومديرية الرقابة الداخلية، ومديرية الشؤون القانونية والتشـريعية) ومديريـات أخرى.. ويتبع كل مديرية من هذه
                        المديريات مجموعة من الدوائر تكون مهامها الوظيفية مرتبطة بنوع العمل والمهمة التي تنهض بها من مجمل المهام
                        التي تختص بها هذه الجهة.</li>
        
                </ul>
                <h2 class="special-title2">من مهام الجهة وزارة/هيئة</h2>
                <ul>
                    <li>إجراء تقييم عام للموظفين في وحدات الجهاز الإداري للعاملين في الدولة وفقًا لمعايير دقيقة.</li>
                    <li class="4">العمل على توفير بيئة مناسبة للنهوض بمستوى الخدمات العامة وتحديد أساليب قياس كفاءة وجودة
                        الخدمة المقدمة
                        مع اعتماد محددات ومؤشرات الأداء والتقييم.</li>
                    <li>بحث ومراجعة وتقييم السياسات والخطط العامة للوظيفة العامة في الدولة والإجراءات اللازمة لتنفيذها وتطويرها
                        ورفعها إلى المجلس الأعلى للوظيفة العامة، ومراجعة طرق شغل الوظائف القيادية والقوانين الحاكمة بما يسمح
                        بوضع آليات اختيار القادة تقوم على عناصر القدرات العلمية.</li>
                    <li>تنظيم وحصر الموظفين في وحدات الجهاز الإداري للدولة.</li>
                    <li>تنفيذ السياسات والخطط العامة للتوظيف في الجهات العامة للدولة ووضع الأسس والمعايير المتعلقة بالاختيار
                        للعمل في الوظيفة العامة.</li>
                    <li>تنمية الموارد البشرية وضمان الاستخدام الأمثل للقوى البشرية.</li>
                    <li>توفير الحوافز الداعمة لتطوير وتحديث الأنماط السلوكية للموظفين في وحدات الجهاز الإداري للدولة لرفع
                        كفاءتهم.</li>
                    <li>إجراء الدراسات للقوانين الحاكمة للجهاز الإداري للدولة وإجراء دراسة الأجور والعلاوات والبدلات والمكافآت
                        والتعويضات بالتنسيق مع وزارتي المالية وهيئة تخطيط الدولة بما يحقق الربط الكامل بينها وبين الانجاز وتحقيق
                        سياسة الثواب والعقاب.</li>
                    <li>وضع التوجيهـات العامـة للتدريب الإداري والربط بينه وبين تطبيق آليات العصر وتفعيل التدريب المستمر وربطه
                        بالاحتياجات العلمية وتحديد أساليب التنفيذ بالتعاون مع الجهات المهتمة بالتدريب ومتابعة تنفيذها.</li>
                    <li>إعداد برامج تدريب القادة الإداريين لخلق كوادر قادرة على التعامل بأساليب الإدارة الحديثة ولديها روح
                        الابتكار والتطوير وتحمل المسؤولية وإزالة العوائق والعقبات وتيسير التعامل مع التركيز على بناء الصف الأول
                        والثاني.</li>
                    <li>اقتراح مشـروعات القوانـين الناظمـة للوظيفـة العامـة والتعديلات اللازمة ورفعها إلى الجهات المختصة
                        لإقرارها.</li>
                    <li>إعداد مشـروعات الهيـاكل التنظيميـة لوحدات الجهاز الإداري للدولة ومتابعة التعديل والتحديث.</li>
                    <li>إعداد أسس توصيف وترتيب الوظائف على مستوى وحدات الجهاز الإداري في الدولة بالتنسيق مع الجهات ذات العلاقة.
                    </li>
                    <li>إعداد مشـروعات الخـطط الوظيفيـة (إحداث - تعديل - إلغاء) لوحدات الجهاز الإداري للدولة بالتنسيق مع الجهات
                        ذات العلاقة.</li>
                    <li>مراقبة ومتابعة تنفيذ قوانين الوظيفة العامة ولوائحها وإصدار التعاميم والنشـرات والأدلة اللازمة لضمان
                        سلامة وحسن تنفيذ وإعداد التقارير الدورية بنتائج المراقبة والمتابعة.</li>
                    <li>المشاركة في إعداد الخطط الخمسية والسنوية لتأهيل وتدريب القوى البشـرية العاملة في وحدات الجهاز الإداري
                        للدولة بالتنسيق مع الجهات ذات العلاقة.</li>
                    <li>القيام بالدراسات والبحوث الهادفة لتبسيط إجراءات العمل وتحديد أسس ثابتة بمعدلات الأداء.</li>
                    <li>إعداد خطط التنمية والإصلاح الوظيفي المستمر ورفعها إلى المجلس الأعلى للوظيفة العامة تمهيدا لاعتمادها من
                        مجلس الوزراء.</li>
                    <li>العمل على تحفيز واستقطاب الخبرات السورية في الخارج للعمل في الوظيفة العامة في الدولة.</li>
                    <li>تقديم الاستشارة وإبداء الرأي لوحدات الجهاز الإداري في الدولة.</li>
                    <li>دراسة الموضوعات المقرر عرضها على المجلس الأعلى للوظيفة العامة ومتابعة تنفيذ قراراتها.</li>
                    <li>بحث ودراسة الشكاوى والتظلمات المقدمة من الموظفين في وحدات الجهاز الإداري للدولة ورفع المقترحات للمجلس
                        الأعلى للوظيفة العامة لاتخاذ القرار بما لا يتعارض مع اختصاص بعض الأجهزة الأخرى وبالتنسيق معها.</li>
                    <li>تأسيس تشغيل ومتابعة تحديث بوابة الحكومة الالكترونية على شبكة المعلومات الدولية.</li>
                    <li>وضع وتنفيذ برنامج إتاحة الخدمات الحكومية من خلال روافد جديدة ومتعددة مثل شبكة المعلومات الدولية -
                        الانترنت، وخدمة التليفون، الثابت والمحمول، ومراكز تقديم الخدمات.</li>
                    <li>التنسيق بينها وبين المؤسسات العلمية والوكالات والمراكز البحثية - الوطنية والأجنبية - المختصة بتنمية
                        الموارد البشرية وتطويرها وتفعيل التعاون بينها.</li>
        
                </ul>
                <h2>ثانيًا: تجارب دولية:</h2>
                <p>يركز هذا الجزء من الدراسة على عرض موجز لبعض التجارب الدولية في الإصلاح الإداري التي تستهدف تطوير وتحسين
                    الأداء والإنتاجية في أجهزة القطاع العام. ويشمل العرض تجربة الولايات المتحدة الأمريكية في الميدان تنظيم
                    الجهاز التنفيذي، وميدان مراجعة أداء الأجهزة التنفيذية كما يشمل العرض (بإيجاز) تجربة كندا ونيوزيلندا
                    وأستراليا وبريطانيا. </p>
                <h2 class="special-title">1ـ تجربة الولايات المتحدة الأمريكية</h2>
                <p>تتكون هذه التجربة من شقين: الشق الأول يتعلق بتجربة تنظيم الجهاز التنفيذي، والشق الثاني يتعلق بمراجعة أداء
                    الأجهزة في الحكومة الفيدرالية الامريكية كما سيتم ايضاحه. </p>
                <h2 class="special-title2">أ- التجربة الامريكية في الميدان تنظيم الجهاز التنفيذي </h2>
                <p>انصب هذا الجهد على تنظيم الجهاز التنفيذي للحكومة الأمريكية الفيدرالية، وتم بمعرفة ما سمي بـ «لجنة هوفر الأولى
                    (1947، 1949م)». وكان هدف التنظيم دراسة طرق وأساليب الأداء في الأجهزة التنفيذية الفيدرالية، بهدف الوصول إلى
                    تحسين أدائها وترشيد أوجه مصـروفاتها. وتبنى هذا التوجه التنظيمي مدخل الإصلاح الشامل للأجهزة التنفيذية. كما تم
                    التركيز على جوانب أربعة:</p>
                <ul>
                    <li>التوازن بين الصلاحيات والمسؤوليات.</li>
                    <li class="5">أدوات الإدارة مثل: المالية، الوظائف والموظفين، الخدمات العامة، حفظ الوثائق والتقارير العامة،
                        التداخل
                        والازدواجية في الأجهزة العامة.</li>
                    <li>اللامركزية في التنفيذ تحت مظلة إشراف مركزي.</li>
                    <li>إعادة تنظيم الأجهزة التنفيذية. </li>
                </ul>
                <p>واعتمدت الدراسة على أسلوب فرق العمل المتخصصة والمتنوعة من جهات متفرقة ذات علاقة. وقامت الفرق المتخصصة بتقديم
                    تقاريرها للجنة الرئيسة التي تقود هذه الفرق. وتم التوصل إلى (273) توصية شملت الجوانب الخمسة للدراسة التي سبق
                    بيانها. ومن أهم النتائج والتوصيات التي أفرزتها الدراسة ما يلي: </p>
                <ol>
                    <li>هناك عدم توازن بين مسؤوليات الرؤساء في الأجهزة وبين الصلاحيات المعطاة لهم. بما يحول دون تحقيق الأهداف
                        المرسومة مثل (مديري المركز العلمية بالجامعة وعمداء الكليات)، لذلك تمت التوصية بمنح صلاحيات كافية
                        للمسؤولين في الأجهزة التنفيذية في مجالات إعادة التنظيم، وفي التعامل مع الموظفين، والنواحي المالية.</li>
                    <li>هناك قصور في أسلوب اعداد الميزانية، والرقابة والمحاسبة، وإجراءات تحديد الاعتمادات المالية وإجراءات
                        الإيرادات، والتكاليف التشغيلية، والاعانات في الميزانية، وتمت التوصية بتبني ميزانية الأداء وتبسيط إجراءات
                        مناقشة الاعتمادات المالية، ووضع نظام متكامل وفاعل لإعداد ميزانيات الأجهزة التنفيذية، بما يسهم في تخفيض
                        تكاليف الرقابة على التنفيذ.</li>
                    <li>هناك مركزية مخلة في التوظيف، وهناك نقص في التصنيف والوظائف، وفي معايير التوظيف. وتمت التوصية بتيسير
                        الإجراءات العامة، وتعزيز مبدأ الجدارة في اختيار الموظفين، إلى جانب إتباع مبدأ اللامركزية في التوظيف
                        وتصنيف الوظائف.</li>
                    <li>هناك تداخل وازدواج في الأنشطة، وهناك أنشطة في الأجهزة لا رابط ولا تنسيق بينها، وهناك عدم وضوح في الأهداف
                        التي يراد تحقيقها. وتمت التوصية بإعادة التنظيم على مبدأ جمع الخدمات والنشاطات المتماثلة وإزالة الازدواج،
                        وتقليص عدد الأجهزة التنفيذية بما يزيل تضخم تلك الأجهزة مع التركيز على توافر الفاعلية في أدائها والتنسيق
                        في نشاطاتها والخدمات التي تقدمها.</li>
                </ol>
                <h2 class="special-title2">ب- التجربة الأمريكية في ميدان مراجعة الأجهزة التنفيذية </h2>
                <p>هدفت هذه التجربة إلى بناء جهاز حكومي قادر على تقديم خدمات عامة متميزة بتكلفة أقل، وتبنت الدراسة مدخل الإصلاح
                    الشامل للأجهزة التنفيذية، والتركيز على أساليب الأداء والعمليات الإدارية والمعوقات التي تصاحبها. كما ركزت
                    الدراسة على إعادة تشكيل ثقافة المنظمات التنفيذية بما يخدم المستفيدين في المقام الأول.</p>
                <p>كما اتبعت الدراسة منهجية قامت على مرحلتين. ففي المرحلة الأولى تم تشكيل فريق عمل لمشـروع الإصلاح مكون من 250
                    عضو من ذوي الخبرة والتأهيل من الأجهزة العامة وتفرعت عن الفريق الرئيس مجموعة فرق للدراسة. واسند المجموعة من
                    الفرق دراسة الأنظمة والإجراءات والقضايا العامة التي تسير العمل في جميع الأجهزة التنفيذية. </p>
                <h2 class="special-title">2- تجربة كندا ونيوزلندا وأستراليا وبريطانيا:</h2>
                <p>في عام 1990م تبنت كل من كندا ونيوزيلاندا وبريطانيا وأستراليا اصلاحًا إداريًا ركز على مفهوم الإدارة لتحقيق
                    لنتائج وكان هدف مشـروع الإصلاح زيادة الكفاءة والفاعلية في الأداء والإنتاجية في الأجهزة العامة وكذلك تعزيز
                    مبدأ المساءلة أو المحاسبة الإدارية وكان مدخل المشـروع هو الإصلاح الشامل بحيث يتم اعطاءه الصلاحيات واسعة
                    لرؤساء الأجهزة التنفيذية كتلك التي تعطي لرؤساء الأجهزة في القطاع الخاص، وأن تتم محاسبتهم على النتائج لذلك تم
                    مطالبة كل جهاز بثلاثة أمور:</p>
                <ul>
                    <li>اعداد خطط استراتيجية لتوضيح رسالة أو هدف كل جهاز لموظفي الجهاز والمستفيدين منه.</li>
                    <li class="4">وضع خطط تشغيلية لترجمة الاستراتيجيات إلى أهداف تفصيلية. مرتبطة بالجهاز المستهدف. </li>
                    <li>استخدام مقاييس الأداء لتحقق من تقدم الجهاز نحو تحقيق الأهداف.</li>
                </ul>
                <h2 class="special-title2">ويمكن ايجاز أبرز نتائج هذه التجارب بما يلي: </h2>
                <ol>
                    <li>ظهرت أهمية تعزيز قياس الأداء لتحسين الإنتاجية لذلك تبنت الدول سياسة المحاسبة على أساس النتائج المتحققة
                        من تلك المتفق عليها في اتفاقية الأداء. واتفاقية الأداء يتم بمقتضاها تحديد النتائج التي ترغب الدولة
                        تحقيقها من كل جهاز وفي ضوء ما يتحقق من نتائج تتم المساءلة الإدارية على أن يترك لرئيس كل جهاز رسم
                        الاستراتيجيات التي سيتبعها في تحقيق النتائج المطلوبة. </li>
                    <li>ترتب على أسلوب المحاسبة والمساءلة طبقًا للنتائج ضرورة التخلص من الرقابة المركزية التفصيلية على النفقات
                        التشغيلية والتخلص من وجود سقف للموظفين في الجهاز ومنح المسؤولين صلاحيات كافية لاستثمار مواردهم في
                        الميزانيـة بشـرط ألا يتم تجاوز سقف الميزانية المحدد للجهاز. </li>
                    <li>تبين أن تتغير ثقافة الجهاز للتركيز على تحقيق النتائج ليس بالأمر الهين ويحتاج وقتًا ليس بالقصير كما أنه
                        يتطلب تعزيز قدرة رؤساء الأجهزة في أداء مهام الجهاز وواجباته كما تبين ضرورة بناء نظام معلوماتي القرارات
                        الغير مشـروعة الصادرة عن الوزراء والرؤساء التي تسبب الغاءها من القضاء وتحميل الجهات تعويضات وفي عدم
                        وعيهم القانوني، وتوفير تدريب لجميع فئات العاملين واستخدم تقارير عن المعلومات وقياس الأداء وتطبيق جوانب
                        إصلاحية أخرى. </li>
                    <li>تبين أن التوجه نحو التركيز على النتائج يتطلب وجود جهة مركزية تعطي التوجيهات للأجهزة التنفيذية لكي
                        تساعدها على تطبيق المنافع الناجمة عن الإصلاح من وجهة نظر مسؤولي الأجهزة التنفيذية التي تطبق الإصلاح
                        الإداري.</li>
                    <li>نتج عن الإصلاح في هذه الدول منح المديرين المنفذين مرونة كافية في استغلال الموارد المتاحة لهم في
                        الميزانية لتحقيق النتائج وقامت الدول بتسهيل إجراءات شؤون الموظفين، وتحويل كثير من الصلاحيات ذات العلاقة
                        بالتوظيف من الإدارات المركزية للتوظيف إلى التنفيذية مثل: إجراءات الترقية، تصنيف الوظائف، وتحديد الرواتب،
                        كما تم مطالبة هذه الأجهزة باتباع الأساليب الحديثة في الإدارة لتعزيز جودة الإنتاجية وانعكست هذه المرونة
                        بشكل إيجابي على إيجاد حوافز لدى الجهاز لترشيد الانفاق واستغلال الأمثل للمصادر المتاحة له.</li>
                    <li>قامت هذه الدول باستخدام مقاييس الأداء من أجل المساءلة من خلال نشـر قياس جودة الخدمات للمستفيدين كما فعلت
                        بريطانيا وكندا. فيتم الاتفاق على مستوى الأداء بين الإدارة العليا والإدارات التنفيذية وتؤخذ النتائج
                        أساسًا للمساءلة والمحاسبة الإدارية. ثم قيام أجهزة التنفيذ برفع تقارير بنتائج أدائها للأجهزة الرقابية.
                    </li>
        
                </ol>
            </div>
        </div>
        <div class="nested-ref">
            <h2 class="show-references">إظهار المراجع</h2>
    <div class="refrences">
        <div class="first-ref-info">
            <h2>المراجع</h2>
        </div>
        <ul>
            <li id="1">كافي، مصطفى يوسف: الإصلاح والتطوير الإداري بين النظرية والتطبيق، دار ومؤسسة رسلان للطباعة والنشر
                والتوزيع، دمشق، سوريا، 2018م، ص85 وما بعدها... وأنظر: بوطويل، رقية: الإدارة العامة الجديدة للإصلاح الإداري
                بين الضرورة والاختيار، مجلة معهد العلوم الاقتصادية، جامعة البليدة 2، الجزائر، العدد 1، 2021، ص538 وما بعدها.
            </li>
            <li id="2">بوطويل، رقية، مرجع سابق، ص 541 وما بعدها.. وأنظر: لعرابي، كريمة، مرجع سابق، ص64 وما بعدها.. وأنظر
                أيضا: نور الدين، حاروش: الإصلاح الإداري بين المفهومين الغربي والعربي، مجلة البحوث السياسية والإدارية، العدد
                2، ص 34 وما بعدها.</li>
            <li id="3">الدقن، أحمد السيد: تجربتا الإصلاح الإداري في الصين ومصر والتوجه نحو اقتصاد السوق دراسة مقارنة، المجلة
                العربية للإدارة، مجلد 35، العدد 1، يونيو 2015، ص82.</li>
            <li id="4">الحميدي، عبدالرحمن بن عبدالله: نافذة على طريق الإصلاح- إصلاحات نظام الخدمة المدنية في الدول العربية،
                صندوق النقد العربي، ص21 وما بعدها.</li>
            <li id="5">تيشوري، عبدالرحمن: أبرز التجارب العربية والدولية في الإصلاح الإداري، مقال منشور على موقع الإنترنت، <a
                    href="https://www.annajah.net/">https://www.annajah.net/</a></li>
            <li id="6">الحملي، سحر عبدالله: الإصلاح الإداري مفهومه وآليات تطبيقه دراسة مقارنة، المجلة العلمية لقطاع كلية
                التجارة، جامعة الأزهر، العدد 10، يناير 2013، ص351 وما بعدها.</li>
            <li id="7">بن جعفر، ماجدة. قاضي: التجربة التونسية في مجال الإصلاح التشريعي، بحث مقدم لمؤتمر الإصلاح الإداري في
                عمان 28 - 30 2008.</li>
            <li id="8">الزغبي، خالد، مرجع سابق.</li>
            <li id="9">تيشوري، عبد الرحمن: أفكار غير مرتبة من أجل ترشيق الإدارة العامة السورية وحل مشاكل الوظيفة العامة،
                موقع سريان تلغراف.</li>
        </ul>
    </div>
        </div>
        <div class="show-some-studies">
            <h3 class="show-studies-h3">مواضيع مشابهة</h3>
            <a href="{% url 'reformmethodology' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/method1.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>منهجية الإصلاح الإداري</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'comprehensive_reform' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/fanicial.webp' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>تقييم برنامج الإصلاح الاقتصادي والمالي والإداري الشامل في اليمن</h3>

                    </div>
                </div>
            </a>
            <a href="{% url 'evolution_of_public_administration' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/admini.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>تطور الإدارة العامة في إطار حقل القانون الإداري</h3>

                    </div>
                </div>
            </a>
            <a href="{% url 'financial_reform_in_countries' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/gold.webp' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>تجارب بعض الدول في مجال الإصلاح المال</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'malaysia_study' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/maly2.webp' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>تجربة ماليزيا في الإصلاح الإداري</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'future_fo_reforming_administrative_law_in_yemen' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/fix2.webp' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>الرؤية المستقبلية لإصلاح القانون الإداري في اليمن</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'future_of_financial_reform_in_yemen' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/tagarb9.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>رؤية مستقبلية للإصلاح المالي في اليمن</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'role_of_the_private_sector_in_world' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/test.png' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>تجارب عالمية وإقليمية لدور القطاع الخاص</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'legislative_reform_in_the_world' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/repair4.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>تجارب عربية وغربية للإصلاح التشريعي</h3>
                    </div>
                </div>
            </a>

            <a href="{% url 'implementing_e-government' %}" class="study-item">
                <div class="study-info-show last-one">
                    <div class="image-card">
                        <img src="{% static 'imgs/egoven.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>عوامل نجاح أو فشل تنفيذ الحكومة الإلكترونية</h3>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <h2 class="show-references">إظهار المراجع</h2>
    <div class="refrences">
        <div class="first-ref-info">
            <h2>المراجع</h2>
        </div>
        <ul>
            <li id="1">كافي، مصطفى يوسف: الإصلاح والتطوير الإداري بين النظرية والتطبيق، دار ومؤسسة رسلان للطباعة والنشر
                والتوزيع، دمشق، سوريا، 2018م، ص85 وما بعدها... وأنظر: بوطويل، رقية: الإدارة العامة الجديدة للإصلاح الإداري
                بين الضرورة والاختيار، مجلة معهد العلوم الاقتصادية، جامعة البليدة 2، الجزائر، العدد 1، 2021، ص538 وما بعدها.
            </li>
            <li id="2">بوطويل، رقية، مرجع سابق، ص 541 وما بعدها.. وأنظر: لعرابي، كريمة، مرجع سابق، ص64 وما بعدها.. وأنظر
                أيضا: نور الدين، حاروش: الإصلاح الإداري بين المفهومين الغربي والعربي، مجلة البحوث السياسية والإدارية، العدد
                2، ص 34 وما بعدها.</li>
            <li id="3">الدقن، أحمد السيد: تجربتا الإصلاح الإداري في الصين ومصر والتوجه نحو اقتصاد السوق دراسة مقارنة، المجلة
                العربية للإدارة، مجلد 35، العدد 1، يونيو 2015، ص82.</li>
            <li id="4">الحميدي، عبدالرحمن بن عبدالله: نافذة على طريق الإصلاح- إصلاحات نظام الخدمة المدنية في الدول العربية،
                صندوق النقد العربي، ص21 وما بعدها.</li>
            <li id="5">تيشوري، عبدالرحمن: أبرز التجارب العربية والدولية في الإصلاح الإداري، مقال منشور على موقع الإنترنت، <a
                    href="https://www.annajah.net/">https://www.annajah.net/</a></li>
            <li id="6">الحملي، سحر عبدالله: الإصلاح الإداري مفهومه وآليات تطبيقه دراسة مقارنة، المجلة العلمية لقطاع كلية
                التجارة، جامعة الأزهر، العدد 10، يناير 2013، ص351 وما بعدها.</li>
            <li id="7">بن جعفر، ماجدة. قاضي: التجربة التونسية في مجال الإصلاح التشريعي، بحث مقدم لمؤتمر الإصلاح الإداري في
                عمان 28 - 30 2008.</li>
            <li id="8">الزغبي، خالد، مرجع سابق.</li>
            <li id="9">تيشوري، عبد الرحمن: أفكار غير مرتبة من أجل ترشيق الإدارة العامة السورية وحل مشاكل الوظيفة العامة،
                موقع سريان تلغراف.</li>
        </ul>
    </div>
</div>
{% endblock %}