{% extends 'base.html' %}
{% load static %}
{% block title %}عوامل نجاح او فشل تنفيذ الحكومة الإلكترونية{% endblock %}
{% block content %}
<div class="container articles">
    <div id="progress-container" style="position: fixed; top: 0; left: 0; width: 100%; height: 5px; background: #f0f0f0; z-index: 9999;">
        <div id="progress-bar" style="height: 100%; width: 0%; background: #C79C6F;"></div>
    </div>  
    <div class="top-of-study">
        <a href="{% url 'index' %}">الرئيسية</a><span class="first-pipe">  |  </span> <a href="{% url 'studies' %}">دراسات وبحوث</a> <span class="first-pipe"> | </span><span>عوامل نجاح أو فشل تنفيذ الحكومة الإلكترونية</span>
    </div>
    
    <div class="studies-flex">
        <div class="first-page">
            <a href="#img-id" class="hidden-row"><i class="fa-solid fa-arrow-up-long"></i></a>
            <!-- <h1>الحياة في اليمن</h1> -->
            <p class="p-img">عوامل نجاح أو فشل تنفيذ الحكومة الإلكترونية</p>
            <div class="date-info">
                <span>11 نوفمبر 2023
                </span>
            </div>
                <span class="pub">أ.م.د/ أحمد عبد الله صالح الشلبي</span>
                <div class="controls">
                    <div class="studies-social">
                        <div class="studies-social2">
                            <div class="twitter">
                                <a href="https://twitter.com/intent/tweet?text={{ 'عوامل نجاح أو فشل تنفيذ الحكومة الإلكترونية'|urlencode }}&url={{ request.build_absolute_uri|urlencode }}"
                                    target="_blank">
                                    <i class="fa-brands fa-x-twitter"></i>
                                </a>
    
                            </div>
                            <div class="whats">
                                <a href="https://wa.me/?text={{ 'عوامل نجاح أو فشل تنفيذ الحكومة الإلكترونية'|urlencode }}%20{{ request.build_absolute_uri|urlencode }}"
                                    target="_blank">
                                    <i class="fa-brands fa-whatsapp foot-i"></i>
                                </a>
                            </div>
                            <div class="telegram">
                                <a href="https://t.me/share/url?url={{ request.build_absolute_uri|urlencode }}&text={{ 'عوامل نجاح أو فشل تنفيذ الحكومة الإلكترونية'|urlencode }}"
                                    target="_blank">
                                    <i class="fab fa-telegram"></i>
                                </a>
    
                            </div>
                            <div class="face-book">
                                <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri|urlencode }}"
                                    target="_blank">
                                    <i class="fa-brands fa-facebook foot-i"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="studies-controls">
                        <!-- <i class="fa-solid fa-print"></i> -->
                        <button id="increaseFont"><img src="{% static 'imgs/Zoom_IN.svg' %}" alt=""></button>
                        <button id="decreaseFont"><img src="{% static 'imgs/Zoom_OUT.svg' %}" alt=""></button>
                    </div>
    
                </div>
            <img src="{% static 'imgs/egoven.jpg' %}" alt="" id="img-id">
            
            <div class="full-text">
                <p>تلاحظ الحكومات بشكل متزايد فائدة تنفيذ أنظمة الحكومة الإلكترونية، وقد حدث تحول نموذجي، حيث أصبحت الحكومات
                    مهتمة بنفس القدر باستخدام الإنترنت في تنفيذ أنشطتها اليومية <a href="#1"><span><sup
                                title="Nurdin, Nurdin, Stockdale, Rosemary, & Scheepers, Helana. (2010). Examining the role of the culture of local government on adoption and use of e-government services. Paper presented at the International Conference on E-Government and E-Services.">[1]</sup></span></a>،
                    وعلى الرغم من هذا الاهتمام والتصميم والدعم
                    من جانب الحكومة، فقد جرى الإبلاغ عن فشل ونجاح تنفيذ واعتماد الحكومة الإلكترونية في مختلف المجالات الاجتماعية
                    والاقتصادية<a href="#2"><span><sup title="Heeks, Richard. (2004): Op. Cit.">[2]</sup></span></a>. وكما هو
                    مذكور أعلاه، فإن
                    تنفيذ الحكومة الإلكترونية يأتي بتكلفة فرصة أعلى؛ لذلك لن يكون من
                    الجيد لأصحاب المصلحة في الحكومة الإلكترونية والشـركاء المتعاونين أن يشهدوا فشل تنفيذ الحكومة الإلكترونية
                    وخصوصًا عند تخصيص موارد مالية ضخمة.</p>
                <p>قد يتوج الدافع لتنفيذ الحكومة الإلكترونية من رغبة الحكومات في استرداد أقصـى فائدة من نفقاتها المالية الضخمة
                    نحو إنشاء البنى التحتية المناسبة لتكنولوجيا المعلومات والاتصالات، وغيرها من التدخلات اللازمة لاستيعاب
                    تكنولوجيا المعلومات والاتصالات على مستوى العالم<a href="#3"><span><sup
                                title="Almarabeh, Tamara, & AbuAli, Amer. (2010). A general framework for e-government: definition maturity challenges, opportunities, and success. European Journal of Scientific Research, 39(1), 29-42.">[3]</sup></span></a>.
                </p>
                <p>تقسم تنفيذ الحكومة الإلكترونية إلى ثلاث فئات مختلفة كما هو مفصل أدناه: <a href="#4"><span><sup
                                title="Heeks, Richard. (2003). Most eGovernment-for-development projects fail: how can risks be reduced? ">[4]</sup></span></a>
                </p>
                <ul>
                    <li><span class="spe-span">ناجحة إلى حد كبير: </span>حققت معظم مجموعات أصحاب المصلحة أهدافها الرئيسة ولم
                        تشهد نتائج كبيرة غير مرغوب فيها.</li>
                    <li><span class="spe-span">النجاح التام: </span>حققت جميع مجموعات أصحاب المصلحة أهدافها الرئيسة ولم تشهد
                        نتائج كبيرة غير مرغوب فيها.</li>
                    <li><span class="spe-span">من السابق لأوانه التقييم: </span>كان التنفيذ قبل وقت قليل جدًا ولا يوجد سوى
                        القليل من الأدلة حتى الآن لتقييم النتيجة.</li>
                </ul>
                <p>جرى تحديد أشكال أخرى من النجاح على النحو المفصل أدناه: <a href="#5"><span><sup
                                title="Andersen, Kim Viborg, & Henriksen, Helle Zinner. (2006). E-government maturity models: Extension of the Layne and Lee model. Government information quarterly, 23(2), 236-248. & Wimmer, MA, Scholl, HJ, Grönlund, Å, & Andersen, KV. (2006). EGOV (2006): LNCS, vol. 4084: Springer, Heidelberg.">[5]</sup></span></a>
                </p>
                <ul style="list-style: square;">
                    <li><span class="spe-span">الفشل التام: </span>هو الحالة التي لم يجر فيها تنفيذ المبادرة مطلقًا، أو كان
                        تنفيذها ولكن يحصل التخلي عنها على
                        الفور، أو جرى تنفيذها، ولكن لم تحقق أيًا من الأغراض المقصودة منها. الحالة غير الناجحة إلى حد كبير هي
                        الحالة التي جرى فيها تحقيق بعض الأهداف، ولكن معظم مجموعات أصحاب المصلحة لم تحقق أهدافها الرئيسة و/أو
                        شهدت نتائج كبيرة غير مرغوب فيها.</li>
                    <li><span class="spe-span">النجاح الجزئي/الفشل الجزئي: </span>هو الحالة التي جرى فيها تحقيق بعض الأهداف
                        الرئيسة للمبادرة، ولكن لم يتم
                        تحقيق بعضها و/أو كانت هناك بعض النتائج المهمة غير المرغوب فيها.</li>
                </ul>
                <p>والسؤال الذي يستحق الطرح هو: ما الذي يجعل تطبيقات الحكومة الإلكترونية الرئيسة تفشل؟ وتشير دراسات
                    الحالة<a href="#6"><span><sup
                                title="Ali, Maged, Weerakkody, Vishanth, & El-Haddadeh, Ramzi. (2009): The impact of national culture on e-government implementation: A comparison case study. ">[6]</sup></span></a>
                    من
                    بلدان مختلفة حول تنفيذ الحكومة الإلكترونية إلى أن هناك العديد من التحديات التي تواجه تنفيذ أنظمة الحكومة
                    الإلكترونية، وتظهر هذه الدراسات أن عوامل التبني تختلف من بلد معين، وتعتمد من ثَمَّ على السياق والثقافة
                    المحلية<a href="#7"><span><sup
                                title="Baumgarten, Jason, & Chui, Michael. (2009): Op. Cit.">[7]</sup></span></a>.</p>
                <h2>عوامل رئيسة تسبب الفشل:</h2>
                <ul>
                    <li>التنفيذ غير المدروس - اعتمادًا على دوافع الحكومة لتنفيذ الحكومة الإلكترونية - عندما يكون تنفيذ الحكومة
                        الإلكترونية على عجل فالمرجح ألا تتحقق فوائدها المتوقعة <a href="#7"><span><sup
                                    title="Anttiroiko, Ari-Veikko, & Malkia, Matti. :(2006). Encyclopedia of digital government: IGI Global. & Seifert, Jeffrey, & Petersen, R Eric. (2002). The promise of all things E? Expectations and challenges of emergent electronic government. Perspectives on Global Development and Technology, 1(2), 193-212. ">[8]</sup></span></a>،
                        فقد تُخفى بعض المبادئ الأساسية في تنفيذ الحكومة
                        الإلكترونية، ومن ثَمَّ يكون تجاهلها، مثل هذه الظروف تؤدي إلى فشل العديد من مشاريع الحكومة الإلكترونية.
                    </li>
                    <li>ضعف البنية التحتية، وفي سياق العالم النامي، لاسيما في حالة إفريقيا جنوب الصحراء الكبرى، فإن الافتقار إلى
                        البنية التحتية الكافية لتكنولوجيا المعلومات والاتصالات يمنع بشكل خطير نمو الإنترنت، ومن ثَمَّ الحكومة
                        الإلكترونية، وبالإضافة إلى ذلك، فإن رسوم الاتصال بالإنترنت والخدمات بعيدة عن متناول المواطنين العاديين
                        في
                        عدة بلدان إفريقية جنوب الصحراء الكبرى، ويزيد من ضعف البنية التحتية في إفريقيا عدم انتظام إمدادات
                        الكهرباء أو
                        وجودها التي تشكل عائقًا رئيسًا أمام استخدام تكنولوجيا المعلومات والاتصالات وأنظمة الحكومة الإلكترونية
                        المقابلة لها. وقد أدى هذا النقص في البنية التحتية القوية والكافية لتكنولوجيا المعلومات والاتصالات إلى
                        فشل
                        العديد من مساعي الحكومة الإلكترونية في إفريقيا جنوب الصحراء الكبرى.</li>
                    <li>ويمكن أن يعزى انخفاض مستويات مشاركة المواطنين في تطبيقات الحكومة الإلكترونية في حالة كندا إلى تجاهل وضع
                        أدوات
                        التصفح والتنقل في الموقع المناسبة، وكذلك الافتقار إلى الواجهات الجميلة والجذابة <a href="#9"><span><sup
                                    title="Coleman, Stephen. (2006): Op. Cit.">[9]</sup></span></a>، وكذلك افتقار المنصات إلى
                        إضافة الطابع الشخصي للعميل وإمكانية عمل التخصيصات اللازمة<a href="#10"><span><sup
                                    title="Horst, Mark, Kuttschreuter, Margôt, & Gutteling, Jan M. (2007): Op. Cit. & Thorbjørnsen, Helge, Supphellen, Magne, Nysveen, Herbjørn, & Egil, Per. (2002). Building brand relationships online: A comparison of two interactive applications. Journal of interactive marketing, 16(3), 17-34">[10]</sup></span></a>
                        وبرامج الولاء<a href="#11"><span><sup
                                    title="R. Kumar & Best, (2006): Op, Cit. & Navarra & Cornford, (2007): Op. Cit.">[11]</sup></span></a>
                        والتي تعتبر استراتيجيات رئيسية
                        لجذب الأفراد لزيارة موقع الويب أو بوابة الحكومة الإلكترونية.</li>
                    <li>ضعف ثقة المواطن، وكان أحد الأسباب الرئيسية لذلك هو قضايا الثقة وسهولة الاستخدام التي استمرت في العمل
                        كحواجز أمام استيعاب واعتماد خدمات الحكومة الإلكترونية على نطاق أوسع<a href="#12"><span><sup
                                    title="Napoli, Julie, Ewing, Michael T, & Pitt, Leyland F. (2000). Factors affecting the adoption of the internet in the public sector. Journal of Nonprofit & Public Sector Marketing, 7(4), 77-88. & Wimmer, MA, Scholl, HJ, Grönlund, Å, & Andersen, KV. (2006): Op. Cit.">[12]</sup></span></a>.
                    </li>
                    <li>ضعف وهجرة الكادر الخبير، كما أن القدرات البشـرية معرضة للخطر في معظم الحالات؛ بسبب ندرة الموارد البشرية
                        بسبب هجرة العقول إلى الخارج ونقص برامج بناء القدرات<a href="#13"><span><sup
                                    title="Coleman, Stephen. (2006): Op. Cit. & Ngulube, Patric, (2007): Op. Cit.">[13]</sup></span></a>.
                    </li>
                    <li>الأمية التكنولوجية، وقد أكد<a href="#14"><span><sup
                                    title="Ngulube, Patric, (2007): Op. Cit.">[14]</sup></span></a> أن
                        الفشل الحاصل في تجارب إفريقيا جنوب الصحراء الكبرى يرجع أساسا إلى أن
                        المواطنين في منطقة إفريقيا جنوب الصحراء لا يعرفون تكنولوجيا المعلومات، وأن جودة المعلومات الحكومية
                        رديئة.</li>
                    <li>التشـريعات والقوانين المنظمة، كما أن العديد من الحكومات لم تضع قوانين وسياسات ومعايير لحماية الخصوصية
                        والوصول إلى المعلومات، وضعف كبير في التـشريعات المنظمة، ومن ثَمَّ لا توجد بيئة تمكينية لتنفيذ الحكومة
                        الإلكترونية.</li>
                    <li>البيروقراطية والفساد الحكومي تعاني العديد من الحكومات في إفريقيا جنوب الصحراء الكبرى من الروتين والفساد
                        في أنظمة تقديم الخدمات العامة الخاصة بها، مما يحد من تطوير الحكومة الإلكترونية. على سبيل المثال، عند
                        التقدم بطلب للحصول على جوازات سفر في بوتسوانا، يمكن للمرء تنزيل النماذج من الإنترنت ( <a
                            href="http://www.gov.bw">www.gov.bw</a> )،
                        ولكن لا يزال يتعين عليه زيارة مقر الجهة المختصة لإكمال عملية التقديم.</li>
                    <li>ضعف الربط البيني والعمل التشاركي المنظم والمعياري، حيث إنَّ هناك ضعفًا في المعايير التي تضمن قابلية
                        التشغيل البيني وقابلية النقل لأنظمة المعلومات الحكومية غير كافية وفي بعض الأحيان غير موجودة على الإطلاق؛
                        ما يؤدي إلى الفشل المتوقع للحكومة الإلكترونية في تحقيق أهدافها وتحقيق الاندماج المجتمعي.</li>
        
                </ul>
                <h2>عوامل رئيسة للنجاح:</h2>
                <ol>
                    <li>ومن البلدان التي شملتها الدراسة أظهرت الحكومة الإلكترونية قدرًا كبيرًا من النضج في كندا، ويرجع جزئيًا
                        إلى التزام الحكومة الكندية بتنفيذها<a href="#15"><span><sup
                                    title="Kumar, Vinod, Mukerji, Bhasker, & Butt, Irfan. (2007): Factors for Successful E-Government Adoption: A Conceptual Framework. Electronic Journal of E-government, 5(1), pp63‑76-pp63‑76.">[15]</sup></span></a>.
                        أحد الالتزامات التي تعهدت بها الحكومة الكندية هو تخصيص 880 مليون
                        دولار كندي لدعم تطوير مبادرات الحكومة الإلكترونية وحدودها في كندا <a href="#16"><span><sup
                                    title="Ibid.">[16]</sup></span></a>، ومع ذلك، وعلى الرغم من هذا
                        الاستثمار الضخم، لا تزال كندا تواجه التحدي المتمثل في انخفاض استخدام المواطنين لمنصات الحكومة
                        الإلكترونية المتاحة مثل بوابات ومواقع الحكومة الإلكترونية. </li>
                    <li>يعتمد نجاح الحكومة الإلكترونية - إلى حد كبير - على الجاهزية الإلكترونية بمنطقة تنفيذ الحكومة الإلكترونية
                        واستراتيجيات الحكومة الإلكترونية المتاحة، مثلاً: يعزى نجاح نيوزيلندا في تنفيذ الحكومة الإلكترونية إلى
                        المبادرات الآتية التي وضعتها وحدة الحكومة الإلكترونية: <a href="#17"><span><sup
                                    title="Boyle, Brendan, & Nicholson, David, (2003): Op, Cit.">[17]</sup></span></a>
                        <ul style="list-style: square;">
                            <li>طُوِّرت استراتيجية الحكومة الإلكترونية.</li>
                            <li>صيغت المعايير والمبادئ التوجيهية.</li>
                            <li>توفير القيادة لتسهيل تحقيق رؤية واستراتيجية الحكومة الإلكترونية.</li>
                            <li>تحديد وتنسيق فرص التعاون بين الإدارات الحكومية.</li>
                            <li>مراقبة الإنجاز المحقق نحو تحقيق التنفيذ الناجح للحكومة الإلكترونية.</li>
                        </ul>
                    </li>
                </ol>
                <p>توضح الأمثلة أعلاه أنه في البيئات التي تزدهر فيها الحكومة الإلكترونية، توجد بنى تحتية سليمة لتكنولوجيا
                    المعلومات والاتصالات، والتزام حكومي قوي، واستراتيجية ورؤية محددة بوضوح للحكومة الإلكترونية، ومحو الأمية
                    المعلوماتية، ومحو الأمية الإلكترونية، والاتصال.</p>
                <p>ولتنفيذ الحكومة الإلكترونية بنجاح ، يقدم<a href="#18"><span><sup
                                title="Almarabeh, Tamara, & AbuAli, Amer. (2010): Op. Cit.">[18]</sup></span></a> قائمة من
                    التوصيات التي
                    ينبغي استخدامها للتغلب على بعض التحديات
                    التي تواجه تنفيذ الحكومة الإلكترونية، تتُعد هذه التوصيات الموضحة في جدول 6 عامة بطبيعتها، وقد تكون قابلة
                    للتطبيق في أي بيئة يجري فيها تنفيذ الحكومة الإلكترونية، علاوة على ذلك قد تكون هذه التوصيات بمقام مبادئ
                    توجيهية عند تطوير استراتيجية الحكومة الإلكترونية لأي منطقة معينة في سياقات العالم المتقدم والنامي.</p>
                <p>وكما ذكر أعلاه، يمكن استخدام التوصيات الموضحة في جدول 6 لتقييم مستويات نضج تنفيذ الحكومة الإلكترونية، وتمثل
                    هذه التوصيات مبادئ توجيهية للمسؤولين لكيفية تقييم مدى نضج التعاملات الإلكترونية الحكومية.</p>
                <p class="gov-p">جدول 6: توصيات للتغلب على تحديات تنفيذ الحكومة الإلكترونية:</p>
                <table class="gov">
                    <tbody>
                        <tr>
                            <td class="td">التحديات</td>
                            <td class="td">التوصيات</td>
                        </tr>
                        <tr>
                            <td class="td">تطوير البنية التحتية</td>
                            <td>
                                <ul style="list-style:none">
                                    <li>– تطوير المشاريع المتوافقة مع البنية التحتية للاتصالات في البلاد</li>
                                    <li>– استخدم أكشاك عامة للاتصالات ومراكز المتنقلة إذا كانت كثافة الاتصالات منخفضة</li>
                                    <li>– إدخال المنافسة بمجال الاتصالات ورفع القيود المفروضة على التقنيات اللاسلكية وغيرها من
                                        التقنيات الرقمية لتسريع نشرها</li>
                                    <li>– البناء على نموذج المشاريع الصغيرة لتوفير الاتصال للمناطق المحرومة وضمان الاستدامة</li>
                                    <li>– النظر في استخدام الحكومة الحالي للتكنولوجيا والتعلم من تجارب النجاح والفشل الماضية
                                    </li>
                                    <li>– إنشاء إطار عمل في بداية العملية، للسماح بجهد استثماري عقلاني ومنسق في المستقبل</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td class="td">القانون والسياسة العامة</td>
                            <td>
                                <ul style="list-style:none">
                                    <li>– التشاور مع أصحاب المصلحة لتقييم كيف يمكن للقوانين الحالية أن تعرقل النتائج المطلوبة؟
                                    </li>
                                    <li>– إعطاء الوضع القانوني لنشر المعلومات الحكومية عبر الإنترنت</li>
                                    <li>– توضيح القوانين واللوائح للسماح بالتسجيل الإلكتروني وحفظ الملفات الإلكترونية لدى الجهات
                                        الحكومية</li>
                                    <li>– إصلاح العمليات عن طريق تبسيط اللوائح والإجراءات</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td class="td">الفجوة الرقمية</td>
                            <td>
                                <ul style="list-style:none">
                                    <li>– توفير الوصول الجماعي عن طريق مراكز الكمبيوتر أو الأكشاك في القرية</li>
                                    <li>– الجمع بين الوصول والتدريب</li>
                                    <li>– تقديم حوافز للقطاع الخاص للتبرع بالمعدات والتدريب</li>
                                    <li>– التأكيد على اللغة المحلية والمحتوى المصمم خصيصًا للمجتمعات المختلفة</li>
                                    <li>– استخدام رواد الأعمال لعمل مشاريع بناء واستدامة لنقاط الوصول في المجتمعات الصغيرة</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td class="td">محو الأمية الإلكترونية</td>
                            <td>
                                <ul style="list-style:none">
                                    <li>– التأكد من أن المحتوى باللغة المحلية وأن الواجهات سهلة الاستخدام</li>
                                    <li>– تطوير التطبيقات التي تستخدم الكلام أو الصور بالإضافة إلى النص المكتوب أو بدلًا منه
                                    </li>
                                    <li>– إدراج مكون تعليمي في مشاريع الحكومة الإلكترونية</li>
                                    <li>– توفير مساعدين في نقاط الوصول يمكنهم تدريب المواطنين على مهارات الكمبيوتر الأساسية</li>
                                    <li>– إنشاء برامج تتضمن وسائل الإعلام التقليدية، برامج إذاعية والكتابات الصحفية، إذ
                                        للمواطنين التعرف إلى الحكومة الإلكترونية</li>
                                    <li>– ينبغي إيلاء اهتمام خاص للمجموعات التي يصعب دمجها، مثل: (النساء والمهاجرين وكبار السن)
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td class="td">إمكانية الوصول</td>
                            <td>
                                <ul style="list-style:none">
                                    <li>– الأخذ بعين الاعتبار تصميم تطبيقات تلائم المعاقين، مثل خيار الصوت للمكفوفين منذ بداية
                                        التنفيذ</li>
                                    <li>– وضع شرط قانوني يقضي بضرورة قيام الحكومة بتبني التكنولوجيا لمساعدة المعاقين</li>
                                    <li>– وضع معايير الأداء وقياس مستوى الإنجاز</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td class="td">الثقة</td>
                            <td>
                                <ul style="list-style:none">
                                    <li>– تعيين الشركاء الداخليين والخارجيين الرئيسين وبناء استراتيجية لفتح خطوط الاتصالات</li>
                                    <li>– البدء بمشاريع قصيرة المدى تحقق نتائج مبكرة. وهذا يساعد لبناء الثقة ويمكن أن يشير إلى
                                        مجالات لمشاريع واسعة النطاق</li>
                                    <li>– القيادة القوية يمكن أن تساعد في بناء الثقة في البرامج</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td class="td">الخصوصية</td>
                            <td>
                                <ul style="list-style:none">
                                    <li>– تثقيف وتدريب المسؤولين الحكوميين على أهمية الخصوصية</li>
                                    <li>– تصميم التطبيقات التي تدمج حماية الخصوصية</li>
                                    <li>– اتباع "ممارسات المعلومات العادلة"، وتقليل جمع المعلومات الشخصية والاحتفاظ بها</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td class="td">الأمن</td>
                            <td>
                                <ul style="list-style:none">
                                    <li>– تعيين مسؤول رفيع مسؤولًا عن أمن الحاسوب</li>
                                    <li>– تقييم الأنظمة بشكل مستمر للتأكد من تنفيذ الاحتياطات الأمنية</li>
                                    <li>– النسخ الاحتياطي للمعلومات بانتظام وتخزين النسخ الاحتياطية في مكان آمن</li>
                                    <li>– توفير التدريب المستمر للموظفين على أمن الكمبيوتر</li>
                                    <li>– تقييم أداء مديري النظام في الالتزام بالمبادئ الأمنية السليمة</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td class="td">الشفافية</td>
                            <td>
                                <ul style="list-style:none">
                                    <li>– يمكن للموظف العام رفيع المستوى تسريع جهود الشفافية والمساءلة عن طريق جعل مكاتبهم أمثلة
                                        إيجابية للانفتاح</li>
                                    <li>– نشر القواعد واللوائح والمتطلبات الخاصة بالخدمات الحكومية عبر الإنترنت، مثل: (متطلبات
                                        الحصول على ترخيص) لتقليل الإجراءات التي يقوم بها الموظفين المسؤولين</li>
                                    <li>– تدريب موظفي الخدمة المدنية وتقديم الحوافز للإصلاح</li>
                                    <li>– عند تقديم الخدمات عبر الإنترنت، امنح المواطنين القدرة على تتبع حالة طلباتهم</li>
                                    <li>– دمج الشفافية وإصلاح العمليات لتبسيط اللوائح والإجراءات</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td class="td">التوافقية والربط البيني المعياري</td>
                            <td>
                                <ul style="list-style:none">
                                    <li>– رسم خريطة وتقييم أنظمة السجلات الحالية</li>
                                    <li>– تحديد وإصلاح الخطط التنظيمية التي تجعل التعامل مع الحكومة مرهقًا</li>
                                    <li>– استخدام معايير مشتركة في جميع أنحاء الحكومة لتقصير وقت التطوير وضمان التوافق</li>
                                    <li>– اعتماد بنية تحتية مشتركة لتكنولوجيا المعلومات للحكومة</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td class="td">إدارة السجلات</td>
                            <td>
                                <ul style="list-style:none">
                                    <li>– تشجيع تبادل البيانات والتعاون بين الدوائر الحكومية</li>
                                    <li>– تبسيط عمليات حفظ السجلات عبر الإنترنت لتسهيل التحول إلى النشر عبر الإنترنت</li>
                                    <li>– يعد إنشاء البيانات الوصفية (meta-data) وتوحيدها أمرًا مهم لعمليات بحث ناجحة للبيانات
                                        عبر المؤسسات والشبكات</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td class="td">التوفر والحفظ الدائم</td>
                            <td>
                                <ul style="list-style:none">
                                    <li>– تصميم التطبيقات بحسب الحاجة</li>
                                    <li>– الأخذ بعين الاعتبار الملاءمة وسهولة الاستخدام والتوافق اللغوي والقدرة على تحمل
                                        التكاليف</li>
                                    <li>– تشجيع التعاون بين الإدارات ومع القطاع الخاص في جمع البيانات وتخزينها واستخدامها، مع
                                        الاستمرار بشكل مستمر في المعلومات الشخصية.</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td class="td">التعليم والتسويق</td>
                            <td>
                                <ul style="list-style:none">
                                    <li>– تطوير حملات دعائية وتدريبية من شأنها إشراك الجمهور في مبادرات الحكومة الإلكترونية</li>
                                    <li>– إجراء بحث للتأكد من أن الخدمات عبر الإنترنت تستجيب للاحتياجات الفعلية وأن التنفيذ
                                        يناسب الجمهور المستهدف</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td class="td">المنافسة/التعاون بين القطاعين العام والخاص</td>
                            <td>
                                <ul style="list-style:none">
                                    <li>– إقامة شراكات متعددة القطاعات</li>
                                    <li>– مراجعة وإعادة تقييم القوانين والسياسات التي تعيق التعاون بين القطاعين العام والخاص
                                    </li>
                                    <li>– التأكد من أن الاتفاقيات مع المقاولين والشركاء عادلة ويمكن مراجعتها وتنقيحها بمرور
                                        الوقت</li>
                                    <li>– طلب المساعدة والمشاركة من المنظمات التي لديها بالفعل خبرة في تقديم الخدمات والمعلومات
                                        باستخدام نفس التقنيات أو تقنيات مشابهة</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td class="td">مشاكل القوى العاملة</td>
                            <td>
                                <ul style="list-style:none">
                                    <li>– تحديد جدول زمني للتنفيذ بطريقة تدريجية حتى لا تبدو الإصلاحات ساحقة للبيروقراطية </li>
                                    <li>– عقد اجتماعات منتظمة بين قادة سياسة الحكومة الإلكترونية والقوى العاملة المتضررة حتى
                                        يكون الموظفون مشاركين نشطين في العملية</li>
                                    <li>– خلق الحوافز عن طريق مكافأة الأفراد والهيئات التي تطبق الإصلاحات بسرعة</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td class="td">هياكل التكلفة</td>
                            <td>
                                <ul style="list-style:none">
                                    <li>– تجنب الخدمات القائمة على الإعلانات أو الرسوم.</li>
                                    <li>– توضيح الوظائف بوضوح وحاول عدم إضافة تفاصيل من شأنها أن تدفع الميزانيات إلى العجز.</li>
                                    <li>– تطوير المشاريع التي يمكن تحقيقها بالموارد المتاحة</li>
                                    <li>– النظر في استخدام الحكومة الحالي للتكنولوجيا ودراسة النجاحات والإخفاقات السابقة</li>
                                    <li>– تعيين مسؤول أو هيئة تنظيمية للإشراف على التكلفة</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td class="td">المقارنة المعيارية</td>
                            <td>
                                <ul style="list-style:none">
                                    <li>– إنشاء أهداف قابلة للقياس خلال مراحل التخطيط المبكرة</li>
                                    <li>– تخصيص مكتب للإشراف على تنفيذ التعاملات الإلكترونية الحكومية</li>
                                    <li>– التأكد من حصول المكتب على التمويل الكافي ومعترف به من قبل جميع الوكالات والإدارات ذات
                                        الصلة</li>
                                    <li>– إجراء عمليات تدقيق منتظمة لضمان إحراز التقدم لتحقيق الأهداف المعلنة</li>
                                    <li>– مراجعة المعايير بانتظام للتأكد من أن التدابير الدقيقة مناسبة للتكنولوجيا سريعة التغير
                                    </li>
                                    <li>– إنشاء نظام تحصيل لدعم تشغيل البرنامج</li>
                                    <li>– تعد البنية التحتية المشتركة ومعايير الهندسة المعمارية لتكنولوجيا المعلومات أمرًا
                                        أساسيًا لضمان حدوث التطوير المستمر بطريقة متماسكة ومتكاملة</li>
                                    <li>– يؤدي التخطيط المتقدم لمعايير البنية التحتية المشتركة لتكنولوجيا المعلومات إلى تقليل
                                        وقت التطوير وتوافق النظام</li>
                                    <li>– يمكن أن يكون المقياس الكمي مفيدًا مثل المقاييس النوعية</li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p class="gov-p2"> المصدر: (Almarabeh & AbuAli, 2010)</p>
            </div>
        </div>
        <div class="nested-ref">
            <h2 class="show-references">إخفاء المراجع</h2>
    <div class="refrences">
        <div class="first-ref-info">
            <h2>المراجع</h2>
        </div>
        <ul>
            <li id="1" class="eng">Nurdin, Nurdin, Stockdale, Rosemary, & Scheepers, Helana. (2010). Examining the role of
                the culture
                of local government on adoption and use of e-government services. Paper presented at the International
                Conference on E-Government and E-Services.</li>
            <li id="2" class="eng">Heeks, Richard. (2004): Op. Cit.</li>
            <li id="3" class="eng">Almarabeh, Tamara, & AbuAli, Amer. (2010). A general framework for e-government:
                definition maturity
                challenges, opportunities, and success. European Journal of Scientific Research, 39(1), 29-42.</li>
            <li id="4" class="eng">Heeks, Richard. (2003). Most eGovernment-for-development projects fail: how can risks be
                reduced?
            </li>
            <li id="5" class="eng">Andersen, Kim Viborg, & Henriksen, Helle Zinner. (2006). E-government maturity models:
                Extension of
                the Layne and Lee model. Government information quarterly, 23(2), 236-248. & Wimmer, MA, Scholl, HJ,
                Grönlund, Å, & Andersen, KV. (2006). EGOV (2006): LNCS, vol. 4084: Springer, Heidelberg.</li>
            <li id="6" class="eng">Ali, Maged, Weerakkody, Vishanth, & El-Haddadeh, Ramzi. (2009): The impact of national
                culture on
                e-government implementation: A comparison case study.</li>
            <li id="7" class="eng">Baumgarten, Jason, & Chui, Michael. (2009): Op. Cit.</li>
            <li id="8" class="eng">Anttiroiko, Ari-Veikko, & Malkia, Matti. :(2006). Encyclopedia of digital government: IGI
                Global. &
                Seifert, Jeffrey, & Petersen, R Eric. (2002). The promise of all things E? Expectations and challenges of
                emergent electronic government. Perspectives on Global Development and Technology, 1(2), 193-212.</li>
            <li id="9" class="eng">Coleman, Stephen. (2006): Op. Cit.</li>
            <li id="10" class="eng">Horst, Mark, Kuttschreuter, Margôt, & Gutteling, Jan M. (2007): Op. Cit. & Thorbjørnsen,
                Helge,
                Supphellen, Magne, Nysveen, Herbjørn, & Egil, Per. (2002). Building brand relationships online: A comparison
                of two interactive applications. Journal of interactive marketing, 16(3), 17-34.</li>
            <li id="11" class="eng">R. Kumar & Best, (2006): Op, Cit. & Navarra & Cornford, (2007): Op. Cit.</li>
            <li id="12" class="eng">Napoli, Julie, Ewing, Michael T, & Pitt, Leyland F. (2000). Factors affecting the
                adoption of the
                internet in the public sector. Journal of Nonprofit & Public Sector Marketing, 7(4), 77-88. & Wimmer, MA,
                Scholl, HJ, Grönlund, Å, & Andersen, KV. (2006): Op. Cit.</li>
            <li id="13" class="eng">Coleman, Stephen. (2006): Op. Cit. & Ngulube, Patric, (2007): Op. Cit.</li>
            <li id="14" class="eng">Ngulube, Patric, (2007): Op. Cit.</li>
            <li id="15" class="eng">Kumar, Vinod, Mukerji, Bhasker, & Butt, Irfan. (2007): Factors for Successful
                E-Government Adoption:
                A Conceptual Framework. Electronic Journal of E-government, 5(1), pp63‑76-pp63‑76.</li>
            <li id="16" class="eng">Ibid.</li>
            <li id="17" class="eng">Boyle, Brendan, & Nicholson, David, (2003): Op, Cit.</li>
            <li id="18" class="eng">Almarabeh, Tamara, & AbuAli, Amer. (2010): Op. Cit.</li>
        </ul>
    </div>
        </div>
        <div class="show-some-studies">
            <h3 class="show-studies-h3">اقرأ أيضًا</h3>
            <a href="{% url 'reformmethodology' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/method1.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <span>3 مارس 2024</span>
                        <h3>منهجية الإصلاح الإداري</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'comprehensive_reform' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/fanicial.webp' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <span>23 سبتمبر 2023</span>
                        <h3>تقييم برنامج الإصلاح الاقتصادي والمالي والإداري الشامل في اليمن</h3>

                    </div>
                </div>
            </a>
            <a href="{% url 'evolution_of_public_administration' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/admini.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <span>5 أكتوبر 2024</span>
                        <h3>تطور الإدارة العامة في إطار حقل القانون الإداري</h3>

                    </div>
                </div>
            </a>
            <a href="{% url 'financial_reform_in_countries' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/gold.webp' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <span>20 يناير 2024</span>
                        <h3>تجارب بعض الدول في مجال الإصلاح المال</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'malaysia_study' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/maly2.webp' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <span>1 يونيو 2024</span>
                        <h3>تجربة ماليزيا في الإصلاح الإداري</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'future_fo_reforming_administrative_law_in_yemen' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/fix2.webp' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <span>14 سبتمبر 2024</span>
                        <h3>الرؤية المستقبلية لإصلاح القانون الإداري في اليمن</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'future_of_financial_reform_in_yemen' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/tagarb9.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <span>6 يناير 2024</span>
                        <h3>رؤية مستقبلية للإصلاح المالي في اليمن</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'role_of_the_private_sector_in_world' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/test.png' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <span>23 ديسمبر 2023</span>
                        <h3>تجارب عالمية وإقليمية لدور القطاع الخاص</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'legislative_reform_in_the_world' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/repair4.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <span>2 نوفمبر 2024</span>
                        <h3>تجارب عربية وغربية للإصلاح التشريعي</h3>
                    </div>
                </div>
            </a>

            <a href="{% url 'implementing_e-government' %}" class="study-item">
                <div class="study-info-show last-one">
                    <div class="image-card">
                        <img src="{% static 'imgs/egoven.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <span>11 نوفمبر 2023</span>
                        <h3>عوامل نجاح أو فشل تنفيذ الحكومة الإلكترونية</h3>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <h2 class="show-references">إخفاء المراجع</h2>
    <div class="refrences">
        <div class="first-ref-info">
            <h2>المراجع</h2>
        </div>
        <ul>
            <li id="1" class="eng">Nurdin, Nurdin, Stockdale, Rosemary, & Scheepers, Helana. (2010). Examining the role of
                the culture
                of local government on adoption and use of e-government services. Paper presented at the International
                Conference on E-Government and E-Services.</li>
            <li id="2" class="eng">Heeks, Richard. (2004): Op. Cit.</li>
            <li id="3" class="eng">Almarabeh, Tamara, & AbuAli, Amer. (2010). A general framework for e-government:
                definition maturity
                challenges, opportunities, and success. European Journal of Scientific Research, 39(1), 29-42.</li>
            <li id="4" class="eng">Heeks, Richard. (2003). Most eGovernment-for-development projects fail: how can risks be
                reduced?
            </li>
            <li id="5" class="eng">Andersen, Kim Viborg, & Henriksen, Helle Zinner. (2006). E-government maturity models:
                Extension of
                the Layne and Lee model. Government information quarterly, 23(2), 236-248. & Wimmer, MA, Scholl, HJ,
                Grönlund, Å, & Andersen, KV. (2006). EGOV (2006): LNCS, vol. 4084: Springer, Heidelberg.</li>
            <li id="6" class="eng">Ali, Maged, Weerakkody, Vishanth, & El-Haddadeh, Ramzi. (2009): The impact of national
                culture on
                e-government implementation: A comparison case study.</li>
            <li id="7" class="eng">Baumgarten, Jason, & Chui, Michael. (2009): Op. Cit.</li>
            <li id="8" class="eng">Anttiroiko, Ari-Veikko, & Malkia, Matti. :(2006). Encyclopedia of digital government: IGI
                Global. &
                Seifert, Jeffrey, & Petersen, R Eric. (2002). The promise of all things E? Expectations and challenges of
                emergent electronic government. Perspectives on Global Development and Technology, 1(2), 193-212.</li>
            <li id="9" class="eng">Coleman, Stephen. (2006): Op. Cit.</li>
            <li id="10" class="eng">Horst, Mark, Kuttschreuter, Margôt, & Gutteling, Jan M. (2007): Op. Cit. & Thorbjørnsen,
                Helge,
                Supphellen, Magne, Nysveen, Herbjørn, & Egil, Per. (2002). Building brand relationships online: A comparison
                of two interactive applications. Journal of interactive marketing, 16(3), 17-34.</li>
            <li id="11" class="eng">R. Kumar & Best, (2006): Op, Cit. & Navarra & Cornford, (2007): Op. Cit.</li>
            <li id="12" class="eng">Napoli, Julie, Ewing, Michael T, & Pitt, Leyland F. (2000). Factors affecting the
                adoption of the
                internet in the public sector. Journal of Nonprofit & Public Sector Marketing, 7(4), 77-88. & Wimmer, MA,
                Scholl, HJ, Grönlund, Å, & Andersen, KV. (2006): Op. Cit.</li>
            <li id="13" class="eng">Coleman, Stephen. (2006): Op. Cit. & Ngulube, Patric, (2007): Op. Cit.</li>
            <li id="14" class="eng">Ngulube, Patric, (2007): Op. Cit.</li>
            <li id="15" class="eng">Kumar, Vinod, Mukerji, Bhasker, & Butt, Irfan. (2007): Factors for Successful
                E-Government Adoption:
                A Conceptual Framework. Electronic Journal of E-government, 5(1), pp63‑76-pp63‑76.</li>
            <li id="16" class="eng">Ibid.</li>
            <li id="17" class="eng">Boyle, Brendan, & Nicholson, David, (2003): Op, Cit.</li>
            <li id="18" class="eng">Almarabeh, Tamara, & AbuAli, Amer. (2010): Op. Cit.</li>
        </ul>
    </div>
</div>
{% endblock %}