{% extends 'base.html' %}

{% load static %}
{% block title %}| الرئيسية{% endblock %}
{% block meta_og %}
<meta name="description" content="مرحبًا بكم في المركز التأسيسي للدراسات والبحوث - CSR Yemen.">

<!-- Open Graph Tags -->
<meta property="og:title" content="المركز التأسيسي للدراسات والبحوث - CSR Yemen">
<meta property="og:description" content="مؤسسة بحثية فكرية تطويرية مستقلة غير ربحية، تختص بالعلوم الإنسانية.">
<meta property="og:image" content="https://csr-yemen.com/static/imgs/LOGO ICON-02.png">
<meta property="og:url" content="https://csr-yemen.com">
<meta property="og:type" content="website">

<!-- Twitter Card Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="المركز التأسيسي للدراسات والبحوث - CSR Yemen">
<meta name="twitter:description" content="مؤسسة بحثية فكرية تطويرية مستقلة غير ربحية، تختص بالعلوم الإنسانية.">
<meta name="twitter:image" content="https://csr-yemen.com/static/imgs/LOGO ICON-02.png">
{% endblock %}

{% block content %}
<style>
    .swiper-container {
        max-width: 100%;
        overflow: hidden;
        padding-top: 100px;
    }

    .swiper-slide {
        width: 400px;
        height: 440px;
        position: relative;
    }

    .swiper-slide a {
        cursor: grab;
    }

    .swiper-slide img {
        width: 100%;
        height: 100%;
        display: block;
        filter: blur(2px);
        transition: filter 0.3s ease, transform 0.3s ease;
    }

    .swiper-slide-active img {
        filter: blur(0);
        transform: scale(1.3);
        z-index: 2;
    }

    .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        background: #ddd;
        opacity: 1;
        margin-left: 7px;
        border-radius: 50%;
        transition: all 0.3s ease-in-out;
    }

    .swiper-pagination-bullet:hover {
        opacity: 1;
        background: #5754A3;
    }

    .swiper-pagination-bullet-active {
        opacity: 1;
        background: #5754A3;
        width: 20px;
        height: 10px;
        border-radius: 4px;
        animation: expandBullet 0.4s ease-out forwards;
        transition: all 0.3s ease-in-out;
    }

    @keyframes expandBullet {
        0% {
            width: 0;
            opacity: 0.5;
        }

        100% {
            width: 20px;
            opacity: 1;
        }
    }

    .swiper-controls {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        position: relative;
        width: 38%;
        margin: 85px auto 0;
    }

    .swiper-pagination {
        position: static !important;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .swiper-button-prev,
    .swiper-button-next {
        position: absolute;
        width: 30px;
        height: 30px;
        background-color: #eee;
        border-radius: 50%;
        color: #5754A3 !important;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 10px !important;
        cursor: pointer;
        transition: background 0.3s;
        margin-top: -15px;
        font-weight: bold;
        z-index: 10000;
    }

    .swiper-button-prev::after,
    .swiper-button-next::after {
        font-size: 10px;
    }

    .swiper-button-next,
    .swiper-rtl .swiper-button-prev {
        right: var(--swiper-navigation-sides-offset, 10px);
        left: auto;
    }

    .swiper-button-prev,
    .swiper-rtl .swiper-button-next {
        left: var(--swiper-navigation-sides-offset, 10px);
        right: auto;
    }

    .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 5px) !important;
    }

    .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
    .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 2px);
    }

    @media (max-width: 574px) {
        .container.index-articles.hide-in-pc {
            display: none;
        }

        .arrow-1 {
            font-size: 27px;
        }

        .arrow-1.prev {
            left: -5px;
        }

        .arrow-1.next {
            right: -5px;
        }

        .publications.carousel-title {
            display: block;
            margin-top: 2px;
        }

        .swiper-container {
            max-width: 100%;
            overflow: hidden;
            padding-top: 0;
            margin-bottom: 7px;
            margin-top: -15px;
        }

        .swiper-slide {
            width: 400px;
            height: 440px;
            position: relative;
        }

        .swiper-slide img {
            filter: blur(0px) !important;
            width: 100%;
            height: 100%;
            transform: scale(0.8);
            /* الحجم الافتراضي أصغر */
        }

        .swiper-slide-active img {
            filter: blur(0) !important;
            transform: scale(0.83);
            z-index: 2;
        }

        .swiper-controls {
            display: none;
        }
    }

    @media (min-width: 575px) and (max-width: 767px) {

        .container.index-articles.hide-in-pc {
            display: none;
        }

        .publications.carousel-title {
            display: none;
        }

        .arrow-1 {
            font-size: 27px;
        }

        .arrow-1.prev {
            left: -5px;
        }

        .arrow-1.next {
            right: -5px;
        }

        .publications.carousel-title {
            display: block;
            margin-top: 1px;
        }

        .swiper-container {
            max-width: 100%;
            overflow: hidden;
            padding-top: 13px;
            margin-bottom: 40px;
        }

        .swiper-slide {
            width: 400px;
            height: 440px;
            position: relative;
        }

        .swiper-slide-active img {
            filter: blur(0);
            transform: scale(1);
            z-index: 2;
        }

        .swiper-controls {
            display: none;
        }
    }

    @media (min-width: 768px) and (max-width: 991px) {
        .swiper-container {
            display: block;
            padding-top: 86px;
        }

        .container.index-articles.hide-in-pc {
            display: none;
        }

        .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
        .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
            margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 2px);
        }

        .swiper-slide-active img {
            filter: blur(0);
            transform: scale(1.2);
            z-index: 2;
        }

        .arrow-1 {
            font-size: 40px;
        }

        .swiper-controls {
            visibility: hidden;
            margin-top: 45px;
        }

        .arrow-1.prev {
            left: -5px;
        }

        .arrow-1.next {
            right: -5px;
        }
    }

    @media (min-width: 992px) {
        .swiper-container {
            display: block;
        }

        .container.index-articles.hide-in-pc {
            display: none;
        }


        .publications.carousel-title {
            display: block;
        }

        .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
        .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
            margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 4px);
        }

        .arrow-1 {
            font-size: 40px;
        }

        .arrow-1.prev {
            left: 3px;
        }

        .arrow-1.next {
            right: 3px;
        }
    }

    .arrow-1 {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        /*font-size: 3rem;*/
        color: #fff;
        cursor: pointer;
        z-index: 10;
        user-select: none;
        padding: 0 10px;
        border-radius: 50%;
        opacity: 0.5;
        transition: opacity 0.2s, background 0.2s, transform 0.2s;
    }

    /* عند المرور بالماوس على السهم */
    .arrow-1:hover {
        opacity: 1;
        transform: translateY(-50%) scale(1.2);
    }

    /* عند الضغط على السهم */
    .arrow-1:active {
        opacity: 1;
        transform: translateY(-50%) scale(1.1);
    }
</style>
<div class="container spe-show">
    <div class="slider">
        <!-- أسهم التنقل -->
        <div class="arrow-1 prev">&#10094;</div>
        <div class="arrow-1 next">&#10095;</div>

        <div class="slides">
            <input type="radio" name="radio-btn" id="radio1">
            <input type="radio" name="radio-btn" id="radio2">
            <input type="radio" name="radio-btn" id="radio3">
            <input type="radio" name="radio-btn" id="radio4">
            <input type="radio" name="radio-btn" id="radio5" checked>
            <div class="slide first">
                <img src="{% static 'imgs/Journal-9.jpg' %}" alt="">
                <!-- <h2>سياسة الإصلاح والإنفتاح في الصين</h2> -->
                <a href="{% url 'effectiveness_of_the_judicial_and_oversight_system_in_yemen' %}">
                    <div class="slide-full-inf">
                        <h2>فاعلية المنظومة العدلية والرقابية في اليمن</h2>
                        <span><span style="display: inline;">15 </span>يونيو 2025
                        </span>
                    </div>
                </a>
            </div>
            <div class="slide">
                <img src="{% static 'imgs/Journal-01.jpg' %}" alt="">
                <a href="{% url 'social_market_economy' %}">
                    <div class="slide-full-inf">
                        <h2>اقتصاد السوق الاجتماعي</h2>
                        <span><span style="display: inline;">20 </span>مارس 2025
                        </span>
                    </div>
                </a>
            </div>

            <div class="slide">

                <img src="{% static 'imgs/sn.webp' %}" alt="">
                <!-- <h2>مراحل عملية الإصلاح التشريعي</h2> -->
                <a href="{% url 'studysingapore' %}">
                    <div class="slide-full-inf">
                        <h2>تجربة سنغافورة في الإصلاح الإداري</h2>
                        <span><span style="display: inline;">27 </span>أبريل 2024
                        </span>
                    </div>
                </a>
            </div>
            <div class="slide">

                <img src="{% static 'imgs/repair4.jpg' %}" alt="">
                <!-- <h2>مدخل إلى الحكومة الإلكترونية</h2> -->
                <a href="{% url 'legislative_reform_in_the_world' %}">
                    <div class="slide-full-inf special-move">
                        <h2>تجارب عربية وغربية للإصلاح التشريعي</h2>
                        <span><span style="display: inline;">2 </span>نوفمبر 2024
                        </span>
                    </div>
                </a>
            </div>
            <!-- <div class="slide journalImage">
                <img src="{% static 'imgs/New_Slider.png' %}" alt="">
                <a href="{% url 'osus' %}">
                    <div class="slide-full-inf">
                        <h2>دورية أُســـس</h2>
                        <span><span style="display: inline;">8 </span>مارس 2025
                        </span>
                    </div>
                </a>
            </div> -->
            <div class="slide journalImage">
                <img src="{% static 'imgs/Third-Issue-Cover.jpg' %}" alt="">
                <a href="{% url 'osus' %}">
                    <div class="slide-full-inf">
                        <h2> دورية أُســـس العدد الثالث</h2>
                        <span><span style="display: inline;">27 </span>سبتمبر 2025
                        </span>
                    </div>
                </a>
            </div>
            <div class="navigation-auto">
                <div class="auto-btn1"></div>
                <div class="auto-btn2"></div>
                <div class="auto-btn3"></div>
                <div class="auto-btn4"></div>
                <div class="auto-btn5"></div>
            </div>
        </div>
        <div class="navigation-manual">
            <label for="radio1" class="manual-btn"></label>
            <label for="radio2" class="manual-btn"></label>
            <label for="radio3" class="manual-btn"></label>
            <label for="radio4" class="manual-btn"></label>
            <label for="radio5" class="manual-btn"></label>
        </div>
    </div>
</div>
<div class="container index-articles all-art">
    <a href="{% url 'studies' %}">
        <h1 class="spe-h1 studies">دراسات وبحوث</h1>
    </a>
    <div class="show-studies-index">
        <div class="show-index-imgs">
            <div class="card">
                <a href="{% url 'china_study' %}">
                    <img src="{% static 'imgs/china.jpeg' %}" alt="" class="stud">
                </a>
                <a href="{% url 'china_study' %}">
                    <div class="text-info-index">
                        <span>11 مايو 2024</span>
                        <p>سياسة الإصلاح والانفتاح في الصين</p>
                    </div>
                </a>
            </div>
            <div class="card">
                <a href="{% url 'evolution_of_public_administration' %}">
                    <img src="{% static 'imgs/admini.jpg' %}" alt="">
                </a>
                <a href="{% url 'evolution_of_public_administration' %}">
                    <div class="text-info-index">
                        <span>5 أكتوبر 2024</span>
                        <p>تطور الإدارة العامة في إطار حقل القانون الإداري</p>
                    </div>
                </a>
            </div>
            <div class="card">
                <a href="{% url 'administrative_raw' %}">
                    <img src="{% static 'imgs/jy.jpg' %}" alt="">
                </a>
                <a href="{% url 'administrative_raw' %}">
                    <div class="text-info-index">
                        <span>6 يوليو 2024</span>
                        <p>ماهية القانون الإداري</p>
                    </div>
                </a>
            </div>
            <div class="card">
                <a href="{% url 'current_economic_situation' %}">
                    <img src="{% static 'imgs/bank2.jpg' %}" alt="">
                </a>
                <a href="{% url 'current_economic_situation' %}">
                    <div class="text-info-index">
                        <span>18 ديسمبر 2024</span>
                        <p>أهم سمات الوضع الاقتصادي القائم في اليمن</p>
                    </div>
                </a>
            </div>

            <div class="card">
                <a href="{% url 'role_of_the_private_sector_in_world' %}">
                    <img src="{% static 'imgs/test.png' %}" alt="" class="stud">
                </a>
                <a href="{% url 'role_of_the_private_sector_in_world' %}">
                    <div class="text-info-index">
                        <span>23 ديسمبر 2023</span>
                        <p>تجارب عالمية وإقليمية لدور القطاع الخاص</p>

                    </div>
                </a>
            </div>
            <div class="card">
                <a href="{% url 'implementing_e-government' %}">
                    <img src="{% static 'imgs/egoven.jpg' %}" alt="" class="stud">
                </a>
                <a href="{% url 'implementing_e-government' %}">
                    <div class="text-info-index">
                        <span>11 نوفمبر 2023</span>
                        <p>عوامل نجاح أو فشل تنفيذ الحكومة الإلكترونية</p>
                    </div>
                </a>
            </div>
            <div class="card">
                <a href="{% url 'public_finance_and_economic_construction' %}">
                    <img src="{% static 'imgs/money4.jpg' %}" alt="" class="stud">
                </a>
                <a href="{% url 'public_finance_and_economic_construction' %}">
                    <div class="text-info-index">
                        <span>3 فبراير 2024</span>
                        <p>المالية العامة والبناء الاقتصادي للدولة</p>

                    </div>
                </a>
            </div>
            <div class="card">
                <a href="{% url 'the_influence_of_the_bureaucratic_apparatus_on_administrative_reform' %}">
                    <img src="{% static 'imgs/Business management software.jfif' %}" alt="" class="stud">
                </a>
                <a href="{% url 'the_influence_of_the_bureaucratic_apparatus_on_administrative_reform' %}">
                    <div class="text-info-index">
                        <span>17 فبراير 2024</span>
                        <p>تأثير بُنى الجهاز البيروقراطي في مسار الإصلاح الإداري</p>
                    </div>
                </a>
            </div>

        </div>
        <a href="{% url 'studies' %}" class="show-all">عرض المزيد</a>
    </div>
</div>
<div class="container index-articles">
    <a href="{% url 'publications' %}">
        <h1 class="publications in-index with-out">إصدارات المركز</h1>
    </a>
</div>
<div class="outside-container">
    <div class="container index-articles">
        <h1 class="publications in-index" style="display: none;">إصدارات المركز</h1>
        <div class="tow-books publications-all">
            <div class="daw">
                <h1 class="spe-h1 index-journals">الدوريات</h1>
                <a href="{% url 'osus' %}">
                    <div class="card">
                        <img src="{% static 'imgs/new_osus.jpg' %}" alt="">
                        <div class="daw-info">
                            <span class="book-span">مارس 2025</span>
                            <p>دورية أُســـس</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="daw">
                <h1 class="spe-h1 index-book">الكتب</h1>
                <a href="{% url 'books' %}">
                    <div class="card">
                        <img src="{% static 'imgs/new_book.jpg' %}" alt="">
                        <div class="daw-info">
                            <span class="book-span">مجموعة مؤلفين | ديسمبر 2023</span>
                            <p>رؤية مستقبلية للإصلاح الإداري الشامل في اليمن 2023</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="container index-articles"><a href="{% url 'infographs' %}">
        <h1 class="publications in-index carousel-title">أسس إنفوجراف</h1>
    </a>
</div>
<!-- Swiper -->
<div class="container spe-show">
    <div class="swiper-container">
        
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <a href="{% url 'infograph_detail' 'Malaysia_from_an_agricultural_country_to_an_economic_tiger' %}">
                    <img src="{% static 'imgs/Malaysia_from_an_agricultural_country_to_an_economic.jpg' %}" alt="">
                </a>
            </div>
            <div class="swiper-slide">
                <a href="{% url 'infograph_detail' 'Morocco_leads_the_way' %}">
                    <img src="{% static 'imgs/Morocco_leads_the_way.jpg' %}" alt="">
                </a>
            </div>
            <div class="swiper-slide">
                <a href="{% url 'infograph_detail' 'japan_from_destruction_to_leadership' %}">
                    <img src="{% static 'imgs/japan_from_destruction_to_leadership.jpg' %}" alt="">
                </a>
            </div>
            <div class="swiper-slide">
                <a href="{% url 'infograph_detail' 'the_best_education_systems_around_the_world' %}">
                    <img src="{% static 'imgs/best_education_systems.jpg' %}" alt="">
                </a>
            </div>
            <div class="swiper-slide">
                <a href="{% url 'infograph_detail' 'migration_between_east_and_west' %}">
                    <img src="{% static 'imgs/migration_between_east_and_west.jpg' %}" alt="">
                </a>
            </div>
            <div class="swiper-slide">
                <a href="{% url 'infograph_detail' 'most_valuable_industries_in_2025' %}">
                    <img src="{% static 'imgs/most_valuable_industries.jpg' %}" alt="">
                </a>
            </div>
            <div class="swiper-slide">
                <a href="{% url 'infograph_detail' 'economic_investment_in_education' %}">
                    <img src="{% static 'imgs/economic_investment_in_education.jpg' %}" alt="">
                </a>
            </div>
            <div class="swiper-slide">
                <a href="{% url 'infograph_detail' 'The_Most_Important_Job_Skills_In_2025' %}">
                    <img src="{% static 'imgs/thinking.jpg' %}" alt="">
                </a>
            </div>
            <div class="swiper-slide">
                <a href="{% url 'infograph_detail' 'United-Kingdom-Civil-Service-Reform-1979-1997' %}">
                    <img src="{% static 'imgs/united kingdom.jpg' %}" alt="">
                </a>
            </div>
            
        </div>
        <div class="swiper-controls">
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
</div>

<div class="container index-articles all-studies main-motion">
    <h1 class="spe-h1">أُسس موشن جرافيك</h1>
</div>
<!-- <div class="container index-articles all-art motion-container">
    <div class="show-all-studies grid-container show-all-motion" id="videoContainer">
       
        <div class="video-card">
            <div class="video-thumbnail">
                <lite-youtube 
                    videoid="QjvCn5TE5nQ"
                    style="width:100%; height:200px;"
                    params="rel=0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    referrerpolicy="strict-origin-when-cross-origin"
                    title="YouTube video player"
                    autoplay muted
                ></lite-youtube>
            </div>
            <div class="study-text-info study-text-info-2">
                <span>2025-09-14</span>
                <p>كيف هزمت بعض الدول الجفاف والعطش؟ دروس وتجارب ملهمة</p>
            </div>
        </div>
      
        <div class="video-card">
            <div class="video-thumbnail">
                <lite-youtube videoid="kB3LgcKJtik" style="width:100%; height:200px;"></lite-youtube>
            </div>
            <div class="study-text-info study-text-info-2">
                <span>2025-09-16</span>
                <p>كيف انتقلت هولندا من المجاعة إلى قوة تصدير زراعي؟</p>
            </div>
        </div>

        <div class="video-card">
            <div class="video-thumbnail">
                <lite-youtube videoid="zod4jUphBr8" style="width:100%; height:200px;"></lite-youtube>
            </div>
            <div class="study-text-info study-text-info-2">
                <span>2025-09-18</span>
                <p>اليابان من الدمار إلى المعجزة الاقتصادية</p>
            </div>
        </div>
    </div>
    <a href="{% url 'motion_graphics' %}" class="show-all">عرض المزيد</a>
</div> -->
<div class="container index-articles all-art motion-container">
    <div class="show-all-studies grid-container show-all-motion" id="videoContainer">
        <!-- video 1 -->
        {% for data in data %}
        <div class="video-card">
            <div class="yt-container" data-id="{{ data.video }}" id="yt-{{ forloop.counter }}">
                <div class="yt-thumb"
                    style="background-image:url('https://img.youtube.com/vi/{{ data.video }}/hqdefault.jpg')">
                    <div class="yt-play"></div>
                </div>
            </div>
            <div class="study-text-info study-text-info-2">
                <span>{{ data.date }}</span>
                <p>{{ data.subject }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    <a href="{% url 'motion_graphics' %}" class="show-all">عرض المزيد</a>
</div>

<div class="container index-articles">
    <div class="tow-books">
        <div class="daw">
            <h1 class="spe-h1 pod">داخل الصندوق بودكاست</h1>
            <div class="card pod">
                <img src="{% static 'imgs/PODCAST adv-01.png' %}" alt="">
                <div class="daw-info">
                    <p>قريباً | سلسلة حلقات من إنتاج المركز التأسيسي للدراسات والبحوث تقدم رؤى فاعلة وتجارب إدارية ناجحة
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container index-articles-pod spe-style-m">
    <img src="{% static 'imgs/PODCAST adv 2-01.png' %}" alt="">
</div>

<!-- Swiper JS -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
{% endblock %}