{% extends 'base.html' %}

{% load static %}
{% block title %}الرئيسية{% endblock %}

{% block content %}
<div class="container">
    <div class="slider">
        <div class="slides">
            <input type="radio" name="radio-btn" id="radio1">
            <input type="radio" name="radio-btn" id="radio2">
            <input type="radio" name="radio-btn" id="radio3">
            <input type="radio" name="radio-btn" id="radio4">
            <input type="radio" name="radio-btn" id="radio5">
            <div class="slide first">
                <a href="{% url 'osus' %}">
                    <img src="{% static 'imgs/slider2.jpg' %}" alt="">
                    <div class="slide-full-inf">
                        <h2>دورية أُســـس </h2>
                        <span><span style="display: inline;"><i class="fas fa-calendar-alt"></i> 8 </span>/3/ 2025
                        </span>
                    </div>
                </a>
            </div>
            <div class="slide">
                <a href="{% url 'financial_reform_in_yemen' %}">
                    <img src="{% static 'imgs/y.png' %}" alt="">
                    <div class="slide-full-inf">
                        <h2>برامج الإصلاح المالي في الجمهورية اليمنية</h2>
                        <span><span style="display: inline;"> <i class="fas fa-calendar-alt"></i> 13 </span>/1/ 2024
                        </span>
                    </div>
                </a>
            </div>
            <div class="slide">
                <a href="{% url 'the_existing_social_situation' %}">
                    <img src="{% static 'imgs/agstate.webp' %}" alt="">
                    <!-- <h2>سياسة الإصلاح والإنفتاح في الصين</h2> -->
                    <div class="slide-full-inf">
                        <h2>أهم ملامح الوضع الاجتماعي القائم في اليمن</h2>
                        <span><span style="display: inline;"><i class="fas fa-calendar-alt"></i> 24 </span>/2/ 2024
                        </span>
                    </div>
                </a>
            </div>
            <div class="slide">
                <a href="{% url 'rwanda_study' %}">
                    <img src="{% static 'imgs/raw.webp' %}" alt="">
                    <!-- <h2>مراحل عملية الإصلاح التشريعي</h2> -->
                    <div class="slide-full-inf">
                        <h2>تجربة رواندا في الإصلاح الإداري</h2>
                        <span><span style="display: inline;"><i class="fas fa-calendar-alt"></i> 4 </span>/5/ 2024
                        </span>
                    </div>
                </a>
            </div>
            <div class="slide">
                <a href="{% url 'information_and_communications_technology_in_Yemen' %}">
                    <img src="{% static 'imgs/teg.jpg' %}" alt="">
                    <!-- <h2>مدخل إلى الحكومة الإلكترونية</h2> -->
                    <div class="slide-full-inf">
                        <h2>البنية الأساسية لتكنولوجيا المعلومات والاتصالات في اليمن</h2>
                        <span><span style="display: inline;"> <i class="fas fa-calendar-alt"></i> 28 </span>/10/ 2024
                        </span>
                    </div>
                </a>
            </div>
            <div class="navigation-auto">
                <div class="auto-btn1"></div>
                <div class="auto-btn2"></div>
                <div class="auto-btn3"></div>
                <div class="auto-btn4"></div>
                <div class="auto-btn5"></div>
            </div>
        </div>
        <div class="navigation-manual">
            <label for="radio1" class="manual-btn"></label>
            <label for="radio2" class="manual-btn"></label>
            <label for="radio3" class="manual-btn"></label>
            <label for="radio4" class="manual-btn"></label>
            <label for="radio5" class="manual-btn"></label>
        </div>
    </div>
</div>
<div class="container">
    <h1 class="spe-h1">دراسات حديثة</h1>
    <div class="show-studies-index">
        <div class="show-index-imgs">
            <div class="card">
                <a href="{% url 'firstpage' %}">
                    <img src="{% static 'imgs/manage1.webp' %}" alt="">
                </a>
                <a href="{% url 'firstpage' %}">
                    <div class="text-info-index">
                        <span><i class="fa-solid fa-calendar"></i>2024/03/02</span>
                        <p>نشأة الإدارة وتطورها</p>
                    </div>
                </a>
            </div>
            <div class="card">
                <a href="{% url 'administrativereform' %}">
                    <img src="{% static 'imgs/repair.jpg' %}" alt="">
                </a>
                <a href="{% url 'administrativereform' %}">
                    <div class="text-info-index">
                        <span><i class="fa-solid fa-calendar"></i>2024/03/16</span>
                        <p>الإصلاح الإداري المفهوم والأهداف</p>

                    </div>
                </a>
            </div>
            <div class="card">
                <a href="{% url 'reformmethodology' %}">
                    <img src="{% static 'imgs/method1.jpg' %}" alt="">
                </a>
                <a href="{% url 'reformmethodology' %}">
                    <div class="text-info-index">
                        <span><i class="fa-solid fa-calendar"></i>2024/03/23</span>
                        <p>منهجية الإصلاح الإداري</p>

                    </div>
                </a>
            </div>
            <div class="card">
                <a href="{% url 'studyOfUS' %}">
                    <img src="{% static 'imgs/US.jpg' %}" alt="" class="stud">
                </a>
                <a href="{% url 'studyOfUS' %}">
                    <div class="text-info-index">
                        <span><i class="fa-solid fa-calendar"></i>2024/04/13</span>
                        <p>تجربة الولايات المتحدة الأمريكية في الإصلاح الإداري</p>

                    </div>
                </a>
            </div>
            <div class="card">
                <a href="{% url 'studysingapore' %}">
                    <img src="{% static 'imgs/sn.webp' %}" alt="" class="stud">
                </a>
                <a href="{% url 'studysingapore' %}">
                    <div class="text-info-index">
                        <span><i class="fa-solid fa-calendar"></i>2024/04/27</span>
                        <p>تجربة سنغافورا في الإصلاح الإداري</p>

                    </div>
                </a>
            </div>
            <div class="card">
                <a href="{% url 'rwanda_study' %}">
                    <img src="{% static 'imgs/raw.webp' %}" alt="" class="stud">
                </a>
                <a href="{% url 'rwanda_study' %}">
                    <div class="text-info-index">
                        <span><i class="fa-solid fa-calendar"></i>2024/04/05</span>
                        <p>تجربة رواندا في الإصلاح الإداري</p>
                    </div>
                </a>
            </div>

        </div>
        <a href="{% url 'studies' %}" class="show-all">عرض المزيد...</a>
    </div>
</div>

<div class="container">
    <h1 class="publications">إصدارات المركز</h1>
    <div class="tow-books">
        <div class="daw">
            <h1 class="spe-h1">الدوريات</h1>
            <a href="{% url 'osus' %}">
                <div class="card">
                    <img src="{% static 'imgs/p.jpg' %}" alt="">
                    <div class="daw-info">
                        <p>دورية أُســـس</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="daw">
            <h1 class="spe-h1">الكتب</h1>
            <a href="{% url 'books' %}">
                <div class="card">
                    <img src="{% static 'imgs/Book A.jpg' %}" alt="">
                    <div class="daw-info">
                        <p>رؤية مستقبلية للإصلاح الإداري الشامل في اليمن 2023</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="container">
    <div class="tow-books">
        <div class="daw">
            <h1 class="spe-h1">بودكاست المركز</h1>
                <div class="card">
                    <img src="{% static 'imgs/PODCAST-AD.jpg' %}" alt="">
                    <div class="daw-info">
                        <p>داخل الصندوق</p>
                    </div>
                </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="tow-books">
        <div class="daw">
            <h1 class="spe-h1">إنفوقرافيك</h1>
                <div class="card">
                    <img src="{% static 'imgs/info.jpg' %}" alt="">
                    <div class="daw-info">
                        <p>أكثر سبع دول في انتاج الأدوية في العالم لعام 2025</p>
                    </div>
                </div>
        </div>
        <!-- <div class="daw">
            <h1 class="spe-h1" style="visibility: hidden;">إحصائيات</h1>
            <div class="card">
                <img src="{% static 'imgs/info2.jpg' %}" alt="">
                <div class="daw-info">
                    <p>أكبر عشر دول في احتياطي اليورانيوم</p>
                </div>
            </div>
        </div> -->
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        let counter = 1;
        let intervalTime = 12000; // وقت البداية بين الانتقالات

        function startSlider() {
            counter = 1; // التأكد من البدء من الصورة الأولى
            document.getElementById('radio' + counter).checked = true;

            setTimeout(function sliderTransition() {
                counter++;
                if (counter > 5) {
                    counter = 1; // العودة إلى الصورة الأولى بعد الصورة الأخيرة
                }
                document.getElementById('radio' + counter).checked = true;

                // ضبط الانتقال التالي بنفس الوقت الثابت                
                setTimeout(sliderTransition, intervalTime);
            }, intervalTime);
        }

        // التأكد من تشغيل السلايدر عند تحميل الصفحة        
        window.onload = startSlider;


    });
</script>
{% endblock %}