{% extends 'base.html' %}
{% load static %}
{% block title %}إنفوجراف{% endblock %}
{% block content %}
<div class="container index-articles all-studies">
    <h1 class="spe-h1">أسس إنفوجراف</h1>
</div>
<div class="container index-articles all-art infographs">
    <div class="show-all-studies">
        <div class="studies-card infograph-card">
            <a href="{% url 'infograph_detail' 'info-01' %}">
                <img src="{% static 'imgs/Info-01.png' %}" alt="إنفوجراف" class="infograph-img">
                <div class="study-text-info">
                    <span>13 مارس 2025</span>
                    <p>أكثر سبع دول إنتاجاً للأدوية في العام 2024</p>
                </div>
            </a>
        </div>
        <div class="studies-card infograph-card">
            <a href="{% url 'infograph_detail' 'info-02' %}">
                <img src="{% static 'imgs/Info-02.png' %}" alt="إنفوجراف" class="infograph-img">
                <div class="study-text-info">
                    <span>13 مارس 2025</span>
                    <p>أكبر عشر دول في احتياطي اليورانيوم</p>
                </div>
            </a>
        </div>
        <div class="studies-card infograph-card">
            <a href="{% url 'infograph_detail' 'info-03' %}">
                <img src="{% static 'imgs/Info-03.png' %}" alt="إنفوجراف" class="infograph-img">
                <div class="study-text-info">
                    <span>13 مارس 2025</span>
                    <p>الوزارات الحكومية والاقتصادات الخمس الكبرى</p>
                </div>
            </a>
        </div>
        <div class="studies-card infograph-card">
            <a href="{% url 'infograph_detail' 'info-04' %}">
                <img src="{% static 'imgs/Info-04.png' %}" alt="إنفوجراف" class="infograph-img">
                <div class="study-text-info">
                    <span>13 مارس 2025</span>
                    <p>البطالة في الدول العربية</p>
                </div>
            </a>
        </div>
        <div class="studies-card infograph-card">
            <a href="{% url 'infograph_detail' 'info-05' %}">
                <img src="{% static 'imgs/Info-05.png' %}" alt="إنفوجراف" class="infograph-img">
                <div class="study-text-info">
                    <span>13 مارس 2025</span>
                    <p>كيف يؤثر التعليم على الاقتصاد</p>
                </div>
            </a>
        </div>
        <div class="studies-card infograph-card">
            <a href="{% url 'infograph_detail' 'info-06' %}">
                <img src="{% static 'imgs/Info-06.png' %}" alt="إنفوجراف" class="infograph-img">
                <div class="study-text-info">
                    <span>13 مارس 2025</span>
                    <p>مساهمة القطاع الخاص في الناتج المحلي الإجمالي 2023</p>
                </div>
            </a>
        </div>
        <div class="studies-card infograph-card">
            <a href="{% url 'infograph_detail' 'info-07' %}">
                <img src="{% static 'imgs/Info-07.png' %}" alt="إنفوجراف" class="infograph-img">
                <div class="study-text-info">
                    <span>13 مارس 2025</span>
                    <p>ملوك القطن...أكبر عشر دول منتجة للقطن في العالم 2023</p>
                </div>
            </a>
        </div>
        <div class="studies-card infograph-card">
            <a href="{% url 'infograph_detail' 'info-08' %}">
                <img src="{% static 'imgs/Info-08.png' %}" alt="إنفوجراف" class="infograph-img">
                <div class="study-text-info">
                    <span>13 مارس 2025</span>
                    <p>أكثر عشر دول تصديرًا للمهاجرين في 2023</p>
                </div>
            </a>
        </div>
        <div class="studies-card infograph-card">
            <a href="{% url 'infograph_detail' 'info-09' %}">
                <img src="{% static 'imgs/Info-09.png' %}" alt="إنفوجراف" class="infograph-img">
                <div class="study-text-info">
                    <span>13 مارس 2025</span>
                    <p>الضرائب والشركات</p>
                </div>
            </a>
        </div>
        <div class="studies-card infograph-card">
            <a href="{% url 'infograph_detail' 'info-10' %}">
                <img src="{% static 'imgs/Info-10.png' %}" alt="إنفوجراف" class="infograph-img">
                <div class="study-text-info">
                    <span>13 مارس 2025</span>
                    <p>التعليم العالي في العالم العربي</p>
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock %}