{% extends 'base.html' %}
{% load static %}

{% block title %}{{ detail.title }}{% endblock %}

{% block meta_og %}
    <meta name="description" content="{{ detail.title }} - إنفوجراف من المركز التأسيسي للدراسات والبحوث.">

    <!-- Open Graph -->
    <meta property="og:title" content="{{ detail.title }} | إنفوجراف">
    <meta property="og:description" content="{{ detail.title }} - إنفوجراف من المركز التأسيسي للدراسات والبحوث.">
    <meta property="og:image" content="{{ detail.image|default:'https://csr-yemen.com/static/imgs/LOGO ICON-02.png' }}">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:type" content="article">

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ detail.title }} | إنفوجراف">
    <meta name="twitter:description" content="{{ detail.title }} - إنفوجراف من المركز التأسيسي للدراسات والبحوث.">
    <meta name="twitter:image" content="{{ detail.image|default:'https://csr-yemen.com/static/imgs/LOGO ICON-02.png' }}">
{% endblock %}

{% block content %}
<div class="container index-articles all-studies">
    <h1 class="spe-h1">أسس إنفوجراف</h1>
</div>
<div class="container index-articles all-art infographs infograph-detail">
    <div class="study-text-info">
        <p class="infograph-title">{{ detail.title }}</p>
        <span class="infograph-date">{{ detail.date }}</span>
        <div class="controls">
            <div class="studies-social">
                <div class="studies-social2">
                    <div class="twitter">
                        <a href="https://twitter.com/intent/tweet?text={{ detail.title |urlencode }}&url={{ request.build_absolute_uri|urlencode }}"
                            target="_blank">
                            <i class="fa-brands fa-x-twitter"></i>
                        </a>

                    </div>
                    <div class="whats">
                        <a href="https://wa.me/?text={{ detail.title |urlencode }}%20{{ request.build_absolute_uri|urlencode }}"
                            target="_blank">
                            <i class="fa-brands fa-whatsapp foot-i"></i>
                        </a>
                    </div>
                    <div class="telegram">
                        <a href="https://t.me/share/url?url={{ request.build_absolute_uri|urlencode }}&text={{ detail.title |urlencode }}"
                            target="_blank">
                            <i class="fab fa-telegram"></i>
                        </a>

                    </div>
                    <div class="face-book">
                        <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri|urlencode }}"
                            target="_blank">
                            <i class="fa-brands fa-facebook foot-i"></i>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <img src="{% static detail.image %}" alt="إنفوجراف" class="infograph-detail-img">
</div>
<!-- Popup overlay -->
<div id="popupOverlay" class="popup-overlay">
    <div class="popup-content">
        <span class="close-btn"><i class="fa-solid fa-xmark"></i></span>
        <div class="zoom-controls">
            <button class="zoom-in"><i class="fa-solid fa-plus"></i></button>
            <button class="zoom-out"><i class="fa-solid fa-minus"></i></button>
        </div>
        <img id="popupImage" src="" alt="صورة مكبرة" />
    </div>
</div>
<style>
    .popup-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.901);
        display: none;
        justify-content: center;
        align-items: center;
        z-index: 9999;
    }

    .popup-content {
        position: relative;
        max-width: 90%;
        max-height: 90%;
        text-align: center;
    }

    .popup-content img {
        max-width: 50% !important;
        max-height: 50% !important;
        transition: transform 0.3s ease;
    }

    /* المؤشر العادي */
    #popupImage {
        cursor: zoom-in;
    }

    /* تغيير المؤشر أثناء التكبير */
    #popupImage.scaled {
        cursor: zoom-out;
    }

    .close-btn {
        position: absolute;
        top: 10px;
        right: 15px;
        font-size: 24px;
        color: white;
        cursor: pointer;
    }

    .zoom-controls {
        position: absolute;
        top: 10px;
        left: 15px;
    }

    .zoom-controls button {
        background: transparent;
        border: none;
        color: white;
        font-size: 20px;
        margin: 0 5px;
        cursor: pointer;
    }

    @media (max-width: 574px) {
        .close-btn {
            right: -4px;
            top: -45px;
        }

        .zoom-controls {
            left: -9px;
            top: -45px;
        }

        .popup-content img {
            max-width: 100% !important;
            max-height: 100% !important;
        }
    }

    @media (min-width: 575px) {
        .close-btn {
            right: -16px;
            top: -45px;
        }

        .zoom-controls {
            left: -23px;
            top: -45px;
        }

        .popup-content img {
            max-width: 95% !important;
            max-height: 100% !important;
        }
    }

    @media (min-width: 768px) and (max-width: 991px) {
        .close-btn {
            right: 4px;
        }

        .zoom-controls {
            left: 17px;
        }

        .popup-content img {
            max-width: 80% !important;
            max-height: 80% !important;
        }
    }

    @media (min-width: 992px) {
        .popup-content img {
            max-width: 38% !important;
            max-height: 50% !important;
            transition: transform 0.3s ease;
        }
        .close-btn {
            top: 10px;
            right: 15px;
        }
    
        .zoom-controls {
            top: 10px;
            left: 15px;
        }
    }
</style>
<div class="container index-articles all-studies">
<h1 class="spe-h1">اقرأ أيضًا</h1>
</div>
<div class="container index-articles all-art infographs">
    <div class="show-all-studies" id="cardContainer">
        <div class="studies-card infograph-card cardContainer-inside">
            <a href="{% url 'infograph_detail' 'The-seven-largest-pharmaceutical-producing-countries-in-2024' %}">
                <img src="{% static 'imgs/Info-01.png' %}" alt="إنفوجراف" class="infograph-img">
                <div class="study-text-info">
                    <span>11 مارس 2025</span>
                    <p>أكثر سبع دول إنتاجًا للأدوية في العام 2024</p>
                </div>
            </a>
        </div>
        <div class="studies-card infograph-card cardContainer-inside">
            <a href="{% url 'infograph_detail' 'Top-ten-countries-with-the-largest-uranium-reserves' %}">
                <img src="{% static 'imgs/Info-02.png' %}" alt="إنفوجراف" class="infograph-img">
                <div class="study-text-info">
                    <span>13 مارس 2025</span>
                    <p>أكبر عشر دول في احتياطي اليورانيوم</p>
                </div>
            </a>
        </div>
        <div class="studies-card infograph-card cardContainer-inside">
            <a href="{% url 'infograph_detail' 'Government-ministries-and-the-big-five-economies' %}">
                <img src="{% static 'imgs/Info-03.png' %}" alt="إنفوجراف" class="infograph-img">
                <div class="study-text-info">
                    <span>15 مارس 2025</span>
                    <p>الوزارات الحكومية والاقتصادات الخمس الكبرى</p>
                </div>
            </a>
        </div>
        <div class="studies-card infograph-card cardContainer-inside">
            <a href="{% url 'infograph_detail' 'Unemployment-in-Arab-countries' %}">
                <img src="{% static 'imgs/Info-04.png' %}" alt="إنفوجراف" class="infograph-img">
                <div class="study-text-info">
                    <span>17 مارس 2025</span>
                    <p>البطالة في الدول العربية</p>
                </div>
            </a>
        </div>
        <div class="studies-card infograph-card cardContainer-inside">
            <a href="{% url 'infograph_detail' 'How-education-affects-the-economy' %}">
                <img src="{% static 'imgs/Info-05.png' %}" alt="إنفوجراف" class="infograph-img">
                <div class="study-text-info">
                    <span>19 مارس 2025</span>
                    <p>كيف يؤثر التعليم على الاقتصاد</p>
                </div>
            </a>
        </div>
        <div class="studies-card infograph-card cardContainer-inside">
            <a href="{% url 'infograph_detail' 'Private-sector-contribution-to-GDP-2023' %}">
                <img src="{% static 'imgs/Info-06.png' %}" alt="إنفوجراف" class="infograph-img">
                <div class="study-text-info">
                    <span>21 مارس 2025</span>
                    <p>مساهمة القطاع الخاص في الناتج المحلي الإجمالي 2023</p>
                </div>
            </a>
        </div>
        <div class="studies-card infograph-card cardContainer-inside">
            <a href="{% url 'infograph_detail' 'Cotton-kings-2023' %}">
                <img src="{% static 'imgs/Info-07.png' %}" alt="إنفوجراف" class="infograph-img">
                <div class="study-text-info">
                    <span>23 مارس 2025</span>
                    <p>ملوك القطن...أكبر عشر دول منتجة للقطن في العالم 2023</p>
                </div>
            </a>
        </div>
        <div class="studies-card infograph-card cardContainer-inside">
            <a href="{% url 'infograph_detail' 'Taxes-and-companies' %}">
                <img src="{% static 'imgs/Info-09.png' %}" alt="إنفوجراف" class="infograph-img">
                <div class="study-text-info">
                    <span>25 مارس 2025</span>
                    <p>الضرائب والشركات</p>
                </div>
            </a>
        </div>
        <div class="studies-card infograph-card cardContainer-inside">
            <a href="{% url 'infograph_detail' 'higher-education-in-the-Arab-World' %}">   
                <img src="{% static 'imgs/Info-10.png' %}" alt="إنفوجراف" class="infograph-img">
                <div class="study-text-info">
                    <span>27 مارس 2025</span>
                    <p>التعليم العالي في العالم العربي</p>
                </div>
            </a>
        </div>
        <div class="studies-card infograph-card cardContainer-inside">
            <a href="{% url 'infograph_detail' 'health-care-in-yemen' %}">   
                <img src="{% static 'imgs/Info-11.png' %}" alt="إنفوجراف" class="infograph-img">
                <div class="study-text-info">
                    <span>29 مارس 2025</span>
                    <p>القطاع الصحي في اليمن</p>
                </div>
            </a>
        </div>
        <div class="studies-card infograph-card cardContainer-inside">
            <a href="{% url 'infograph_detail' 'the-spread-of-epidemics' %}">   
                <img src="{% static 'imgs/Info-12.png' %}" alt="إنفوجراف" class="infograph-img">
                <div class="study-text-info">
                    <span>3 أبريل 2025</span>
                    <p>انتشار الأوبئة</p>
                </div>
            </a>
        </div>
        <div class="studies-card infograph-card cardContainer-inside">
            <a href="{% url 'infograph_detail' 'top-ten-Social-care-Systems' %}">   
                <img src="{% static 'imgs/Info-13.png' %}" alt="إنفوجراف" class="infograph-img">
                <div class="study-text-info">
                    <span>7 أبريل 2025</span>
                    <p>أكبر عشر أنظمة رعاية اجتماعية</p>
                </div>
            </a>
        </div>
        <div class="studies-card infograph-card cardContainer-inside">
            <a href="{% url 'infograph_detail' 'largest-healthcare-systems' %}">   
                <img src="{% static 'imgs/Info-14.png' %}" alt="إنفوجراف" class="infograph-img">
                <div class="study-text-info">
                    <span>9 أبريل 2025</span>
                    <p>أكبر أنظمة رعاية صحية</p>
                </div>
            </a>
        </div>
        <div class="studies-card infograph-card cardContainer-inside">
            <a href="{% url 'infograph_detail' 'the-brain-drain-of-the-Arab-world' %}">   
                <img src="{% static 'imgs/Info-15.png' %}" alt="إنفوجراف" class="infograph-img">
                <div class="study-text-info">
                    <span>17 أبريل 2025</span>
                    <p>هجرة العقول العربية</p>
                </div>
            </a>
        </div>
        <div class="studies-card infograph-card cardContainer-inside">
            <a href="{% url 'infograph_detail' 'the-largest-armies' %}">   
                <img src="{% static 'imgs/Info-16.png' %}" alt="إنفوجراف" class="infograph-img">
                <div class="study-text-info">
                    <span>19 أبريل 2025</span>
                    <p>الجيوش الأكبر</p>
                </div>
            </a>
        </div>
        <div class="studies-card infograph-card cardContainer-inside">
            <a href="{% url 'infograph_detail' 'top-ten-countries-with-the-highest-teacher-density' %}">   
                <img src="{% static 'imgs/Info-17.png' %}" alt="إنفوجراف" class="infograph-img">
                <div class="study-text-info">
                    <span>20 أبريل 2025</span>
                    <p>أكثر عشر دول في كثافة المعلّمين</p>
                </div>
            </a>
        </div>
        <div class="studies-card infograph-card cardContainer-inside">
            <a href="{% url 'infograph_detail' 'top-ten-countries-with-the-most-doctors' %}">   
                <img src="{% static 'imgs/Info-18.png' %}" alt="إنفوجراف" class="infograph-img">
                <div class="study-text-info">
                    <span>23 أبريل 2025</span>
                    <p>أكثر عشر دول في كثافة الأطباء</p>
                </div>
            </a>
        </div>
        <div class="studies-card infograph-card cardContainer-inside">
            <a href="{% url 'infograph_detail' 'water-and-Arab-countries' %}">   
                <img src="{% static 'imgs/Info-19.png' %}" alt="إنفوجراف" class="infograph-img">
                <div class="study-text-info">
                    <span>27 أبريل 2025</span>
                    <p>المياه والدول العربية</p>
                </div>
            </a>
        </div>
        <div class="studies-card infograph-card cardContainer-inside">
            <a href="{% url 'infograph_detail' 'top-ten-Arab-countries-sending-migrant-remittances-2024' %}">   
                <img src="{% static 'imgs/Info-20.png' %}" alt="إنفوجراف" class="infograph-img">
                <div class="study-text-info">
                    <span>29 أبريل 2025</span>
                    <p>أكبر عشر دول عربية إصدارًا وتلقيًا لتحويلات المهاجرين 2024</p>
                </div>
            </a>
        </div>
        <div class="studies-card infograph-card cardContainer-inside">
            <a href="{% url 'infograph_detail'  'Top-10-migrant-exporting-countries-in-2023' %}">
                <img src="{% static 'imgs/Info-08.png' %}" alt="إنفوجراف" class="infograph-img">
                <div class="study-text-info">
                    <span>30 أبريل 2025</span>
                    <p>أكثر عشر دول تصديرًا للمهاجرين في 2023</p>
                </div>
            </a>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const cards = document.querySelectorAll('#cardContainer .cardContainer-inside');
        const cardsPerPage = 6;
        let currentIndex = 0;

        function showCards() {
            // أولاً نخفي جميع الكروت
            cards.forEach(card => card.classList.remove('active'));

            // نعرض 6 كروت بناءً على الـ currentIndex
            for (let i = 0; i < cardsPerPage; i++) {
                const cardIndex = (currentIndex + i) % cards.length;
                cards[cardIndex].classList.add('active');
            }

            // نحسب الخطوة التالية
            currentIndex = (currentIndex + cardsPerPage) % cards.length;
        }

        // أول مرة عند تحميل الصفحة
        showCards();

        // كل 10 ثواني نغير العرض
        setInterval(showCards, 10000);
        const popupOverlay = document.getElementById('popupOverlay');
        const popupImage = document.getElementById('popupImage');
        const closeBtn = document.querySelector('.close-btn');
        const zoomInBtn = document.querySelector('.zoom-in');
        const zoomOutBtn = document.querySelector('.zoom-out');

        let currentScale = 1;
        // دالة لتحديث شكل المؤشر حسب التكبير الحالي
        function updateCursor() {
            if (currentScale > 1) {
                popupImage.classList.add('scaled');
            } else {
                popupImage.classList.remove('scaled');
            }
        }
        // عند الضغط على الصورة الأصلية
        document.querySelector('.infograph-detail-img').addEventListener('click', function () {
            popupImage.src = this.src;
            popupOverlay.style.display = 'flex';
            currentScale = 1;
            popupImage.style.transform = `scale(${currentScale})`;
            updateCursor();
        });

        // زر الإغلاق
        closeBtn.addEventListener('click', function () {
            popupOverlay.style.display = 'none';
        });

        // تكبير الصورة
        zoomInBtn.addEventListener('click', function () {
            currentScale += 0.1;
            popupImage.style.transform = `scale(${currentScale})`;
            updateCursor();
        });

        // تصغير الصورة
        zoomOutBtn.addEventListener('click', function () {
            if (currentScale > 0.2) { // منع التصغير الزائد
                currentScale -= 0.1;
                popupImage.style.transform = `scale(${currentScale})`;
                updateCursor();
            }
        });
        // تكبير/تصغير الصورة باستخدام عجلة الماوس
        popupImage.addEventListener('wheel', function (event) {
            event.preventDefault(); // منع التمرير الطبيعي
            if (event.deltaY < 0) {
                // عجلة للأعلى -> تكبير
                currentScale += 0.1;
            } else if (event.deltaY > 0 && currentScale > 0.2) {
                // عجلة للأسفل -> تصغير
                currentScale -= 0.1;
            }
            popupImage.style.transform = `scale(${currentScale})`;
            updateCursor();
        });
        let isDragging = false;
        let startX, startY;
        let currentX = 0, currentY = 0;

        // عند بداية الضغط على الصورة
        popupImage.addEventListener('mousedown', function (e) {
            isDragging = true;
            startX = e.clientX - currentX;
            startY = e.clientY - currentY;
            popupImage.style.cursor = 'grabbing';
        });

        // عند تحريك الفأرة
        document.addEventListener('mousemove', function (e) {
            if (!isDragging) return;

            currentX = e.clientX - startX;
            currentY = e.clientY - startY;

            popupImage.style.transform = `scale(${currentScale}) translate(${currentX}px, ${currentY}px)`;
        });

        // عند إفلات الفأرة
        document.addEventListener('mouseup', function () {
            if (isDragging) {
                isDragging = false;
                popupImage.style.cursor = currentScale > 1 ? 'zoom-out' : 'zoom-in';
            }
        });

    });
</script>

{% endblock %}