{% extends 'base.html' %}
{% load static %}
{% block title %}إنفوجراف{% endblock %}
{% block content %}
<div class="container index-articles">
    <div class="tow-books infograph">
        <div class="daw">
            <h1 class="spe-h1 infograph">إنفوجراف</h1>
            <div class="card">
                <div class="infogr">
                    <img src="{% static 'imgs/Info-01.png' %}" alt="إنفوجراف">
                </div>
                <div class="daw-info">
                    <span class="book-span">13 مارس 2025</span>
                    <p class="pod-info-index">أكثر سبع دول إنتاجاً للأدوية في العام 2024</p>
                </div>
            </div>
        </div>
        <div class="daw">
            <h1 class="spe-h1 infograph" style="visibility: hidden;">إنفوجراف</h1>
            <div class="card">
                <div class="infogr">
                    <img src="{% static 'imgs/Info-02.png' %}" alt="إنفوجراف">
                </div>
                <div class="daw-info">
                    <span class="book-span">13 مارس 2025</span>
                    <p class="pod-info-index">أكبر عشر دول في احتياطي اليورانيوم</p>
                </div>
            </div>
        </div>
        
        <div class="daw">
            <h1 class="spe-h1 infograph" style="visibility: hidden;">إنفوجراف</h1>
            <div class="card">
                <div class="infogr">
                    <img src="{% static 'imgs/Info-03.png' %}" alt="إنفوجراف">
                </div>
                <div class="daw-info">
                    <span class="book-span">13 مارس 2025</span>
                    <p class="pod-info-index">الوزارات الحكومية والاقتصادات الخمس الكبرى</p>
                </div>
            </div>
        </div>
        <div class="daw">
            <h1 class="spe-h1 infograph" style="visibility: hidden;">إنفوجراف</h1>
            <div class="card">
                <div class="infogr">
                    <img src="{% static 'imgs/Info-04.png' %}" alt="إنفوجراف">
                </div>
                <div class="daw-info">
                    <span class="book-span">13 مارس 2025</span>
                    <p class="pod-info-index">البطالة في الدول العربية</p>
                </div>
            </div>
        </div>
        <div class="daw">
            <h1 class="spe-h1 infograph" style="visibility: hidden;">إنفوجراف</h1>
            <div class="card">
                <div class="infogr">
                    <img src="{% static 'imgs/Info-05.png' %}" alt="إنفوجراف">
                </div>
                <div class="daw-info">
                    <span class="book-span">13 مارس 2025</span>
                    <p class="pod-info-index">كيف يؤثر التعليم على الاقتصاد</p>
                </div>
            </div>
        </div>
        <div class="daw">
            <h1 class="spe-h1 infograph" style="visibility: hidden;">إنفوجراف</h1>
            <div class="card">
                <div class="infogr">
                    <img src="{% static 'imgs/Info-06.png' %}" alt="إنفوجراف">
                </div>
                <div class="daw-info">
                    <span class="book-span">13 مارس 2025</span>
                    <p class="pod-info-index">مساهمة القطاع الخاص في الناتج المحلي الإجمالي 2023</p>
                </div>
            </div>
        </div>
        <div class="daw">
            <h1 class="spe-h1 infograph" style="visibility: hidden;">إنفوجراف</h1>
            <div class="card">
                <div class="infogr">
                    <img src="{% static 'imgs/Info-07.png' %}" alt="إنفوجراف">
                </div>
                <div class="daw-info">
                    <span class="book-span">13 مارس 2025</span>
                    <p class="pod-info-index">ملوك القطن...أكبر عشر دول منتجة للقطن في العالم 2023</p>
                </div>
            </div>
        </div>
        <div class="daw">
            <h1 class="spe-h1 infograph" style="visibility: hidden;">إنفوجراف</h1>
            <div class="card">
                <div class="infogr">
                    <img src="{% static 'imgs/Info-08.png' %}" alt="إنفوجراف">
                </div>
                <div class="daw-info">
                    <span class="book-span">13 مارس 2025</span>
                    <p class="pod-info-index">أكثر عشر دول تصديرًا للمهاجرين في 2023</p>
                </div>
            </div>
        </div>
        <div class="daw">
            <h1 class="spe-h1 infograph" style="visibility: hidden;">إنفوجراف</h1>
            <div class="card">
                <div class="infogr">
                    <img src="{% static 'imgs/Info-09.png' %}" alt="إنفوجراف">
                </div>
                <div class="daw-info">
                    <span class="book-span">13 مارس 2025</span>
                    <p class="pod-info-index">الضرائب والشركات</p>
                </div>
            </div>
        </div>
        <div class="daw">
            <h1 class="spe-h1 infograph" style="visibility: hidden;">إنفوجراف</h1>
            <div class="card">
                <div class="infogr">
                    <img src="{% static 'imgs/Info-10.png' %}" alt="إنفوجراف">
                </div>
                <div class="daw-info">
                    <span class="book-span">13 مارس 2025</span>
                    <p class="pod-info-index">التعليم العالي في العالم العربي</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}