{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="first-page">
    <!-- <h1>الحياة في اليمن</h1> -->
    <img src="{% static 'imgs/jor.jpeg' %}" alt="">
    <p class="p-img">تجربة المملكة الأردنية الهاشمية في الإصلاح الإداري</p>
    <div class="info">
        <span>تم النشر في</span><i class="fa-solid fa-calendar"></i><span> 25 نوفمبر 2023</span>
    </div>

    <div class="full-text">
        <p>مرت عملية الإصلاح الإداري في الأردن بمراحل متعددة من المجالات المتلاحقة لتحسين أداء الأجهزة الحكومية وتفعيل
            دورها ورفع فاعليتها، وتناولت هذه المجالات مختلف محاور الإصلاح، مثل القوى البشـرية وأساليب العمل والتـشريعات،
            وفيما يلي استعراض لمحاولات الإصلاح الإداري في الإدارة العامة في الأردن. </p>
        <h2>أولًا: مراحل الإصلاح الإداري:</h2>
        <p>بدأت محاولات الإصلاح الإداري في الأردن في عقد الستينيات، وتركزت البدايات الأولى على إعداد مجموعة من الدراسات
            تركزت حول إخراج نظام خدمة مدنية جديد، وتنظيم إجراءات العمل وإنشاء بعض الأجهزة، مثل ديوان الموظفين، ثم معهد
            الإدارة العامة، إضافة إلى هذه الدراسات كان للأردن محاولات عديدة في العقود الأخيرة من القرن الماضي لتقوية
            ودعم الجهاز الإداري ومعالجة التشوهات وتحديث جهاز الإدارة العامة؛ لزيادة قدرته على مواجهة المستجدات والتحديات
            التي غدت ظاهرة عالمية في نهاية القرن الماضي؛ من أجل تحقيق أهداف التنمية، وعليه تشكلت عدة لجان لتطوير الإدارة
            الأردنية التي يمكن توضيحها في الشكل:</p>
        <img src="{% static 'imgs/mk5.png' %}" class="spe-img2" alt="">
        <p>انطلقت هذه اللجان باعتبار أن التطوير وظيفة حيوية مستمرة يجب أن تبادر إليها أجهزة الإدارة العامة وتدعمها؛ لكون
            الإدارة ذات الكفاءة هي الإدارة التي تضع لنفسها محطات مراجعة وإعادة النظر في مسيرتها، وكذلك توفير التنسيق
            والتكامل بين جميع نشاطات التطوير الإداري.</p>
        <h2>ولقد اتخذت محاولات التطوير الإداري عدة اتجاهات أهمها:</h2>
        <ul>
            <li>إنشاء وزارات جديدة في الدولة أو إعادة تنظيم بعض الوزارات القائمة.</li>
            <li>إنشاء مؤسسات وإدارات تابعة لوزارات قائمة أو جديدة مع استقلالية ومرونة في العمل. </li>
            <li>إنشاء مؤسسات عامة ومستقلة وتتبع مباشرة لرئيس الوزراء. </li>
            <li>إنشاء شركات ومشاريع اقتصادية ومؤسسات تعليمية أعطى لها قدرًا كبيرًا من الاستقلالية وحرية التصرف. </li>
            <li>دعم مؤسسات وشركات القطاع الخاص باعتباره شريكًا في التنمية، وذلـك عـن طريق الإسهام المالية في رأس المال
                والإدارة.</li>
            <li>تطوير التـشريعات بما تتلاءم مع سياسة الدولة التطويرية وتخدم المواطنين.</li>

        </ul>
        <h2>ثانيًا: الأجهزة الحكومية المعنية بالتنمية الإدارية والإصلاح الإداري:</h2>
        <h2>مجلس الخدمة المدنية:</h2>
        <p>تأسس مجلس الخدمة المدنية منذ منتصف التسعينيات برئاسة رئيس الوزراء، ويلاحظ أن تشكيلة المجلس تضم المسؤولين في
            الأجهزة الحكومية المعينة بالإصلاح والتطوير الإداري، إضافة إلى مشاركة القطاعات الأهلية، ويتولى المجلس وضع
            السياسة العامة للخدمــة المدنية، وتوجيه الجهود المبذولة في تنفيذها لتطوير الجهاز الإداري في المملكة ولتأمين
            درجة عالية من الفاعلية والكفاية لذلك الجهاز، والمشاركة في خطط التنمية الشاملة لضمان الاستخدام الأمثل للقوي
            البشـرية والموارد المتاحة في تنفيذ تلك الخطط، ووضع أسس ومعايير تقييم الأداء المؤسسي.</p>
        <h2>وزارة التنمية الإداريــــة: </h2>
        <p>نتيجة لتنامي الحاجة إلى الإصلاح والتطوير الإداري وازدياد مظاهر القصور الإداري وبروز الحاجة الضـرورية لمواجهة
            التحديات والمستجدات الإدارية أنشئت وزارة التنمية الإدارية بموجب نظام رقم (61) لسنة 1994م، استمرت حتـى منتصف
            عام 1999م، وقدمت العديد من الإنجازات في مجال التنظيـم الإداري و التـشريعات المتعلقـة بالخدمة المدنية
            والرواتب والأجور، وتبسيط الإجراءات والندوات وورش العمل لمكافحة الفساد الإداري وغيرها، حتى ارتأت الحكومة في
            منتصف عام 1999م إلغاء الوزارة، ثم ما لبثت الحكومة التي تلتها أن أحدثت منصــب وزير للتنمية الإداريـة في منتصف
            عام 2000م، وأوكلت إليه الإشراف على برامج الإصلاح والتنمية الإدارية، وكلفته بإعادة هيكلة الأجهزة المعنية
            بـالإصلاح الإداري والخدمة المدنية، وإعادة إنشاء وزارة التنمية الإدارية.</p>
        <h2>ديوان الخدمة المدنيـــة: </h2>
        <p>أنشـئ ديوان الخدمــة المدنيـة بموجـب القانـون رقم (11) لسنة 1955م باسم ديوان الموظفين، ثم ما لبث أن تغير هذا
            الاسم واستبدل باسم ديوان الخدمـة المدنيـة عام 1988م، ويتابع الديوان تطبيق الدوائر أحكام نظام الخدمة المدنية،
            وكذلك متابعة سائر تشـريعات الخدمة المدنية بصورة سليمة تتفق مع متطلبات التطوير الإداري والمستجدات الحديثة،
            وللديوان في سبيل ذلك.</p>
        <h2>معهد الإدارة العامـــة:</h2>
        <p>تأسس معهد الإدارة العامة بوصفه مؤسسة عامة مستقلة ماليًا وإداريًا عام 1968م، ويمارس المعهد نشاطاته من تدريب
            ودراسات واستشارات إدارية بالتعاون والتنسيق مع ديوان الخدمة المدنية والجامعات الأردنية والوزارات والدوائر
            والمؤسسات الرسمية والخاصة.</p>
        <h2>ثالثًا: الأهداف العامة للإصلاح الإداري:</h2>
        <ol>
            <li>رفع مستوى الإنتاجية وتحسين مستوي الكفاءة والفاعلية.</li>
            <li>ترشيد الإنفاق الحكومي والاستغلال الأمثل للموارد المتاحـة.</li>
            <li>تطوير القدرة التنافسية للجهاز الحكومــي.</li>
            <li>تحسين نوعية الخدمات المقدمــة للمواطنين.</li>

        </ol>
        <h2>رابعًا: مجالات الإصلاح في المملكة الأردنية الهاشمية:</h2>
        <p>مرت عملية التطوير الإداري في الأردن بمراحل متعددة من المجالات المتلاحقة؛ لتحسين أداء الأجهزة الحكومية وتفعيل
            دورها ورفع فاعليتها، وتناولت هذه المجالات مُختلف محاور الإصلاح مثل<span><sup
                    title="المنظمة العربية للتنمية الإدارية: التنمية الإدارية في المملكة الأردنية الهاشمية المحاور والإنجازات والتحديات، في كتاب: تجارب التنمية الإدارية والإصلاح الإداري في الوطن العربي، المنظمة العربية للتنمية الإدارية، 2002، ص3-43.">[1]</sup></span>:
        </p>
        <ol>
            <li>الخدمـة المدنيــة: وضع نظام خدمة مدنية جديد يعكس التوجهات والمرتكزات لعملية تطوير الجهاز الحكومي.</li>
            <li>تبســيط الإجراءات: تسهيل حصول المواطنين على الخدمــات المقدمة لهم من الدوائر الحكومية.</li>
            <li>إعداد دليل الخدمــات: تمكين المواطــن واطلاعه على متطلبات وشروط الحصول على خدمات الدوائر الحكومية. </li>
            <li>مكــتب خدمـة الجمـهور: تسهيل حصول المواطنين علــي الخدمـات المقدمـة إليهم من الدوائر الحكومية.</li>
            <li>إعادة هيكلة القطاع العام: من أجل تحسين أداء الجهاز الحكومي.</li>
            <li>تطويـر الأجهزة المســاندة للقضـاء: رفع كفاءة الأجهزة المساندة لأعمال القضـاء في قصـر العدل ومحاكم
                المملكة.</li>
            <li>المشتريات واللوازم في الجهاز الحكومـــي: تحسـين كفـاءة عمليـات المشتريات في الجهاز الحكومي وتوحيدها
                وترشيدها.</li>
            <li>تنظيم المنطقة الحرة في الزرقاء: تحســين نوعيـة الخدمـات المقدمـة للمواطنين والمستثمرين وتسهيل إجراءات
                العمل.</li>
            <li>وصف وتصنيــف الوظائــف: إيجــاد وصــف وتصنيف وظيفــي لجميـع الوظائف في الوزارات والدوائر الحكومية وإعادة
                النظر في تعليمات وصف وتصنيف وظائف الجهاز الحكومي.</li>
            <li>طلبات التوظيف لدى ديــوان الخدمــة المدنيـة: إدخال جميع طلبات التوظيف لدى ديــوان الخدمـة المدنية على
                شبكة الإنترنت.</li>
            <li>أرشفة جميع أعمال ديوان الخدمة المدينة: تحسين أداء الديوان وسرعة الرجوع إلى المعلومات والاسـتفادة منها.
            </li>
            <li>نقل جميع الموظفين الخاضعين لنظام التقاعد المدني إلى نظام الضمان الاجتماعي.</li>
            <li>رفع كفاءة موظفي القطاع العام في مجـالي الحاسـوب واللغـة الإنجليزية.</li>
            <li>إعادة هيكلة معهد الإدارة العامـة والعمل على توأمته بمؤسسة تدريب دولية. </li>
            <li>إعداد نماذج جديدة لتقييم الأداء الفردي والمؤسسي في القطاع العام.</li>
            <li>الزيارات الميدانية للوزارات والدوائر الحكومية.</li>
            <li>أخلاقيـات الوظيفية العامـة والتنميـة الوطنيــة: جرى تشـكيل فريـق عمل لوضع أسس ومعايير أخلاقيــات الوظيفة
                وتضمينها في نظام الخدمة المدنية الجديد.</li>

        </ol>
        <p>ويستهدف (مشـروع تطوير الإدارة العامة في الأردن) زيادة كفاءة وفاعلية الإدارة الحكومية وفق أربعة أبعاد،
            هي<span><sup title="التنمية الإدارية في المملكة الأردنية الهاشمية..، مرجع سابق، ص2.">[2]</sup></span>:</p>
        <ul style="list-style: square;">
            <li>الوظيفية العامة: وصف وتصنيف الوظائف الحكومية، تقييم الأداء، تبسيط الإجراءات. </li>
            <li>التنظيم والأساليب: دراسة وتقييم الهيكل الإداري العام، تنظيم جهاز الرقابة والتفتيش الإداري المركزي.</li>
            <li>القوي البشرية: عقد الندوات، تدريب، دراسات لتحديد احتياجات سوق العمل.</li>
            <li>قدرات التطوير الإداري: رفع كفاءة الوحدات المسؤولة عن التطوير الإداري (معهد الإدارة العامة، ديوان الخدمة
                المدنية).</li>

        </ul>
        <h2>خامسًا: برامج وآليات الإصلاح في الأردن:</h2>
        <p>بدأت عملية إصلاح نظام الخدمة المدنية بتشكيل اللجنة الملكية للتطوير الإداري خلال عام 1984م، ثم أعيد تشكيلها
            خلال عام 1985م، حيث وضعت المرتكزات الأساسية لبرنامج الإصلاح الإداري باعتباره متطلبًا أساسيًا لتحقيق التنمية
            الاقتصادية والاجتماعية والسياسية، وقد توجت أعمالها بإصدار نظام حديث للخدمة المدنية عام 1988م. </p>
        <p>بالرغم من أن عملية الإصلاح الإداري في الخدمة المدنية تعد عملية مستمرة إلا أن الحكومة تخطط لتنفيذ جانبًا مهمًا
            من إصلاحات الخدمة المدنية في الأفق الزمني لرؤية الأردن 2025، وتمثلت أبرز عناصر إصلاحات الخدمة المدنية في
            الأردن في زيادة مستويات المساءلة والكفاءة في تقديم الخدمات العامة التي تصدرت أهم عناصر الإصلاح في المملكة،
            ثم تعزيز قدرات العاملين، وإصلاح نظام التوظيف بما يضمن الجدارة والاستحقاق والتنافسية، وترشيد احتواء تكلفة بند
            الأجور<span><sup
                    title="تقرير نافذه على طريق الإصلاحات - إصلاحات نظام الخدمة المدنية في الدول العربية، صندوق النقد العربي، أ 2018، ص20.">[3]</sup></span>.
        </p>

        <table class="us-table">
            <tbody>
                <tr>
                    <td>البرنامج</td>
                    <td>الآليـــــــــــــــــات</td>
                    <td>الإنجازات</td>
                </tr>
                <tr>
                    <td>دعم عملية رسم السياسات العامة وصنع القرار</td>
                    <td>مأسسة دور المجلس الاقتصادي والاجتماعي<br>
                        إعادة هيكلة الوحدة التنفيذ التابعة لرئيس الوزراء <br>
                        استحداث دائرة السياسات الاستراتيجية لمساعدة مجلس الوزراء والوزراء والمؤسسات الحكومية <br>
                        تعزيز قدرات الأمانة العامة لمجلس الوزراء وإعداد دليل عمل ضمن أفضل الممارسات فيما يخص المداولات
                        واجتماعات مجلس الوزراء
                    </td>
                    <td>تنظيم الإجراءات الإدارية في رئاسة الوزراء وتبسيطها، وتعزيز سكرتارية المجلس <br>
                        إنشاء نظام متابعة الأداء المؤسسي <br>
                        إطلاق منتدى القيادات الحكومية <br>
                        تعزيز النهج التشاركي في التخطيط الاستراتيجي للدوائر <br>
                        نشر ممارسات الحوكمة والشفافية
                    </td>
                </tr>
                <tr>
                    <td>تطوير الخدمات
                        الحكومية وتبسيط الإجراءات
                    </td>
                    <td>إنشاء إدارة متابعة الأداء الحكومي في رئاسة الوزراء <br>
                        إعداد وثيقة الاجندة الوطنية <br>
                        إصدار نظام ودليل تحسين الخدمات الحكومية <br>
                        إعداد البرنامج التنفيذي للأجندة الوطنية <br>
                        إعداد مؤشرات الأداء الرئيسة للأجندة الوطنية <br>
                        إعداد النظام الإلكترونية الوطني للمتابعة وتقييم الأداء الحكومي
                    </td>
                    <td>بناء القدرات المؤسسية والوظيفية لوحدات الـ it <br>
                        التقييم الميداني لعمليات تقديم الخدمة <br>
                        الربط الإلكتروني بين أنظمة الدوائر <br>
                        إنشاء مركز اتصال وطني <br>
                        إعادة هندسة الخدمات الإلكترونية <br>
                        نقل قواعد بيانات جهات الحكومية على الحوسبة السحابية <br>
                        تطوير النظام المركزي لإدارة الشكاوى الحكومية <br>
                        تطوير مرصد تفاعلي لتقييم الخدمات وقياس الرضى <br>
                        حصر وتبويب الخدمات الحكومية ووضع معايير لتقديمها
                    </td>
                </tr>
                <tr>
                    <td>إعادة
                        هيكلة المؤسسات
                    </td>
                    <td>إنشاء عدد من اللجان القطاعية الدائمة في مجلس الوزراء <br>
                        إنشاء وحدات السياسات والتطوير المؤسسي في عدد من الوزارات <br>
                        إنشاء ديوان المظالم
                        إعادة هيكلة مجموعة من الدوائر

                    </td>
                    <td> إعداد دليل تنظيمي وإجرائي للوحدات التنظيمية <br>
                        استكمال مأسسة عمليات إعادة الهيكلة وتطويرها <br>
                        تطوير الهياكل التنظيمية للدوائر الحكومية <br>
                        إعادة هيكلة قطاعات الحكومة بحسب الأولويات <br>
                        تنفيذ عمليات الإلغاء والدمج وتغيير الارتباط بحسب بنود مشروع إعادة مؤسسات ودوائر الحكومة

                    </td>
                </tr>
                <tr>
                    <td>سياسات إدارة
                        الموارد البشرية وتنميتها
                    </td>
                    <td>إنشاء إدارة معنية بسياسات الموارد البشرية في وزارة تطوير القطاع العام <br>
                        إصدار مدونة قواعد السلوك الوظيفي <br>
                        إصدار نظام جديد للخدمة المدنية <br>
                        إصدار تعليمات تخطيط الموارد البشرية <br>
                        إصدار تعليمات منح الحوافز والمكافآت <br>
                        إصدار التعليمات الموحدة لاستخدام العاملين بالأجور اليومية
                    </td>
                    <td>نظام معلومات للموارد البشرية <br>
                        بناء منظومة تقييم أداء في القطاع العام <br>
                        الموائمة بين الموارد البشرية والادوار والمهام المؤسسية <br>
                        إعداد بطاقات الوصف الوظيفي <br>
                        تعزيز قدرات وحدات الموارد البشرية بالوزارات والمؤسسات <br>
                        بناء القدرات القيادية <br>
                        تفعيل مدونة السلوك الوظيفي <br>
                        مراجعة وتحديث نظام الخدمة
                    </td>
                </tr>
                <tr>
                    <td>سياسات إدارة
                        وتنمية الموارد المالية
                    </td>
                    <td> العمل بنظام الموازنة الموجهة بالأهداف <br>
                        حوسبة النشاطات المالية كافة بهدف تبسيط الإجراءات وتحسين الخدمات
                    </td>
                    <td>تطبيق نظام إعداد الموازنة على نمط التخطيط المالي الاستراتيجي <br>
                        الأردن أول دولة تعد حساباتها النهاية بما يتفق مع متطلبات معايير المحاسبة الدولية للقطاع العام
                        <br>
                        تعزيز دور وحدات الرقابة الداخلية <br>
                        تعزيز دور هيئات التنظيم والرقابة في قطاع المال والأعمال <br>
                        تعزيز دور المؤسسات الرقابية
                    </td>
                </tr>
            </tbody>
        </table>
        <p> المصدر: من إعداد الباحث بالاستفادة من: المهتدي، سوسن: برامج الإصلاح المالي والإداري تجربة عملية، المنظمة
            العربية للتنمية الإدارية، القاهرة، 2016، ص197.</p>
        <h2>سادسًا: الدروس المستفادة من التجربة الأردنية في الإصلاح الإداري: </h2>
        <p>
            شهد الأردن منذ أكثر من نصف قرن من الزمن جهودًا حثيثة في مجال الإصلاح الإداري للمؤسسات والهيئات
            الحكومية،
            ويمكن
            تحديد بعض الدروس للاستفادة من نجاح التجربة، وهي على النحو الآتي:
        </p>
        <ul>
            <li>الاستفادة من إمكانات مراكز البحوث والدراسات الإدارية للقيام بالدراسات الميدانية والأكاديمية؛ من أجل
                إعداد وتنفيذ برامج الإصلاح الإداري، وتحديد طبيعة التحولات في دور الحكومة والميل نحو دعم السياسات الخاصة
                بالتحول نحو اقتصاد السوق وإزالة القيود الإدارية ورصد قوى مقاومة التغيير والمعارضة والعمل على استقطابها
                أو تحييدها. </li>
            <li>الـدور الفاعـل والإيجـابي للسـلطات التشـريعية المستجيب إلى سـرعة تحديث الأنظمة والقوانين والتـشريعات
                الخاصة بمسألة الإصلاح الإداري، والنظر إلى عملية الإصلاح بصفته عملية مستمرة دون توقف.</li>
            <li>إعادة هندسة العمليات الإدارية وتبسيط إجراءات الحصول على الخدمة العامة، وإصدار أدلة إجرائية لعمليات
                التطوير والتنمية الإدارية.</li>
            <li>غرس قيم النزاهة والشفافية ومحاربة الفساد في جميع أجهزة الدولة، وإيجاد شراكة حقيقية بين القطاع العام
                والخاص.</li>
            <li>تطوير أداء المؤسسات التعليمية بما يخدم اتجاهات التطوير والتنمية واحتياجات السوق.</li>
            <li>بنـاء نظـام إدارة المـوارد البشـرية، وتطوير نظام التدوير الوظيفي، والتركيز على التدريب والتأهيل للموظفين
                عن طريق تطوير المعهد الوطني للعلوم الإدارية والإعلان عن جائزة الابتكار في الخدمة المدنية. </li>
            <li>إشراك جميع القوى وأصحاب المصالح في عملية الإصلاح الإداري للحد من مقاومة التغيير، وتجنب الإصلاحات المالية
                التي تمثل عبء على المواطنين.</li>

        </ul>
    </div>
    <hr>
    <div class="publisher-name">
        <h1>الباحث:</h1>
        <h2>أ.د أحمد محمد عبدالله ناصر</h2>
    </div>
</div>
{% endblock %}