{% extends 'base.html' %}
{% load static %}
{% block title %}| دراسات أُسس{% endblock %}
{% block content %}
<div class="container index-articles all-studies">
    <h1 class="spe-h1">دراسات أُسس (العدد الأول)</h1>
</div>
<div class="container index-articles all-art">
    
    <div class="show-all-studies">
        {% for data in issue_one %}
        <div class="studies-card show-cards-number">
            <a href="{{ data.url }}">
                <img src="{% static data.image %}" alt="">
            </a>
            <a href="{{ data.url }}">
                <div class="study-text-info">
                    <span>
                        {{ data.date}}
                    </span>
                    <p>
                        {{ data.subject }}
                    </p>
                </div>
            </a>
        </div>
        {% endfor %}
        <!-- عرض رسالة إذا لم يتم العثور على نتائج -->
    {% if not issue_one %}
    <p style="text-align: center; font-weight: bold;width: 100%;">لم يتم العثور على نتائج تطابق بحثك ({{query}}).</p>
    {% endif %}
    </div>
    
</div>

<div class="container index-articles all-studies">
    <h1 class="spe-h1">دراسات أُسس (العدد الثاني)</h1>
</div>
<div class="container index-articles all-art container-margin">
    
    <div class="show-all-studies">
        {% for data in issue_two %}
        <div class="studies-card show-cards-number">
            <a href="{{ data.url }}">
                <img src="{% static data.image %}" alt="">
            </a>
            <a href="{{ data.url }}">
                <div class="study-text-info">
                    <span>
                        {{ data.date}}
                    </span>
                    <p>
                        {{ data.subject }}
                    </p>
                </div>
            </a>
        </div>
        {% endfor %}
        <!-- عرض رسالة إذا لم يتم العثور على نتائج -->
    {% if not issue_two %}
    <p style="text-align: center; font-weight: bold;width: 100%;">لم يتم العثور على نتائج تطابق بحثك ({{query}}).</p>
    {% endif %}
    </div>
    
</div>

{% endblock %}