{% extends 'base.html' %}
{% load static %}
{% block title %}نحو إصلاح قانوني لمؤسسات الدولة في الجمهورية اليمنية{% endblock %}
{% block content %}
<div class="container">
    <div class="top-of-study">
        <a href="{% url 'index' %}">المركز التأسيسي</a>/<a href="{% url 'studies' %}">الدراسات</a>/<span>نحو إصلاح قانوني لمؤسسات الدولة في الجمهورية اليمنية</span>
    </div>
    
    <div class="studies-flex">
        <div class="first-page">
            <div class="controls">
                <button id="increaseFont"><i class="fas fa-search-plus"></i></button>
                <button id="decreaseFont"><i class="fas fa-search-minus"></i></button>
            </div>
            <a href="#img-id" class="hidden-row"><i class="fa-solid fa-arrow-up-long"></i></a>
            <!-- <h1>الحياة في اليمن</h1> -->
            <p class="p-img">نحو إصلاح قانوني لمؤسسات الدولة في الجمهورية اليمنية</p>
            <div class="date-info">
                <span><i class="fas fa-calendar-alt"></i> 2024/11/16
                </span>
            </div>
                <span class="pub">د/ عبد الوهاب عبد القدوس الوشلي</span>
            <img src="{% static 'imgs/q2.jpg' %}" alt="" id="img-id">
            <div class="full-text">
                <p class="4">تعيش اليمن في ظروف استثنائية تستوجب تحديث القوانين واللوائح المنظمة في مؤسسات الدولة وهي
                    واحدة من العقبات
                    التي يجب حلها بصورة عاجلة. إذ لابد من عقلنة وترشيد الهياكل الإدارية لتفادي تداخل الاختصاصات وتضخم المصالح
                    الإدارية بناء على إنجاز عمليات تدقيق تنظيمي بصفة مستمرة. وفيما يخص الموارد البشـرية واعتبارا لدورها المحوري
                    في الارتقاء بالإدارة اليمنية إلى المستوى الذي يجعل منها إدارة فعالة وناجعة وذات مردودية ومتشبعة بمبادئ حسن
                    سير المرافق العامة، فقد أصبحت الحاجة ملحة لاعتماد سياسة تدبيرية شجاعة وطموحة، تجعل من الموارد البشـرية قطب
                    الرحى في إعداد وتنفيذ السياسات العموميـة في مختـلف المجـالات الحيـوية. ومواصـلة الإصـلاحات الهيكليـة
                    الشـاملة والعميقـة لمنظومـة تدبـير المـوارد البـشرية، باعتمـاد مناهـج حديثـة تأخـذ بعـين الاعتبـار الوظائـف
                    والكفـاءات، وتقييـم الأداء، وتثمين التكوين المستمر، واعتماد الكفاءة والاستحقاق والشفافية في ولوج الوظائف
                    العمومية وتولي مناصب المسؤولية.</p>
                <p>تصـدر عن السـلطة التشريعيـة أما اللوائـح والتعليمـات فتصـدر عن السـلطة التنفيـذية مجلـس الوزراء ورئيس
                    الوزراء. وإقرار منظومة جديدة للأجور، محفزة ومنصفة وشفافة، ترتكز على الاستحقاق والمردودية والفعالية والإنجاز
                    الفعلي للعمل، مع إقرار نظام جديد يشجع على إعادة انتشار الموظفين لتحفيزهم على العمل بالمناطق الصعبة والنائية،
                    مع العمل على الرفع التدريجي من الحد الأدنى للأجور، تحسين الأوضاع الاجتماعية للموظفين والمستخدمين بالإدارة
                    العامة اليمنية والوزارات والهيئات والمؤسسات العامة، لاسيما فيما يتعلق بتنظيم وتوسيع الأعمال الاجتماعية،
                    وتعزيز الحماية الاجتماعية، وبمعالجة الإشكاليات المتعلقة بالصحة والسلامة المهنية، وطب الشغل، والوقاية من
                    الأخطار المهنية.</p>
                <p>وهنا نحاول نشخص مواطن الخلل والقصور ونحدد بدقة الامراض التي تعاني منها ادارة الدولة في اليمن من الواقع
                    التطبيقي، ثم نضع عدد من الأسس والقيم والسلوكيات لمعالجتها لتتخلص ادارة الدولة من جميع الامراض والانحرافات
                    وتحقيق اصلاح قانوني للإدارة العامة ولتصبح إدارة رشيدة تحقق كل مهامها بكفاءة عالية، من خلال إيضاح حالة الجهاز
                    الإداري بالجمهورية اليمنية ثم إصلاح الهيكل التنظيمي للإدارة العامة، ثم إصلاح نظام الكادر الوظيفي، وأخيرا
                    ترسيخ المبادئ الإدارية.</p>
                <p>من خلال خبرتنا العلمية والعملية المتواضعة لأكثر من 30 عام في العمل الإداري تضمنتها عشـرين عـام في المجال
                    الأكاديمي كأستاذ للقانون الإداري، وقضايا الدولة وجدت أن الكثير من الأخطاء لجهة الإدارة العامة هي بسبب غياب
                    الخلفية القانونية للاختصاص والنسق القانوني لمتخذ القرار، مما يحمل جهات الإدارة بالدولة أعباء مالية، وكذلك
                    غلبة الجانب السياسي على الإداري في قيادة الدولة ولجهلها بالأحكام القانونية واجبة الإتباع، ونظرًا لتداخل
                    الاختصاص القانوني والإداري حيث لا يمكن مثلًا أن نطبق مبدأ تبسيط الإجراءات الإدارية لتحقيق أهداف الإدارة إلا
                    بعد أن نجري العديد من التعديلات القانونية في القوانين واللوائح ذات العلاقة بالعملية الإدارية. </p>
                <h2>أولًا: حالة الجهاز الإداري وقوانينه بالجمهورية اليمنية:</h2>
                <p>كان اليمن في عهد التشطير يطبق شطرة الجنوبي التوجه الاشتراكي، فيما كان الشطر الشمالي يعمل في إطار التوجه نحو
                    السوق المفتوح، حتى اعلان ميلاد الجمهورية اليمنية بتاريخ 22 مايو 1990م، بدستور جديد وقوانين جديدة تم إصدارها
                    تباعا، ودمج وانشاء مؤسسات جديدة في الدولة وموظفيها، وتوحيد هياكلها.</p>
                <p>ولتشخيص الوضع الإداري والتنظيمي الحالي لجهاز الإدارة العامة، نحتاج لدراسة وتحليل القوانين والتشـريعات
                    وقـرارات إنشـاء وحدات جهاز الإدارة العامة لمعرفة التكوين التنظيمي القانوني لجهاز الإدارة العامة وواقع
                    الأهداف العامة والأنشطة الرئيسة والهيكل التنظيمي العام للدولة ومن ثم استنتاج المشكلات والمعوقات التي تعاني
                    منها تلك الوحدات. ومن خلال دراسة وتحليل قوانين وقرارات إنشاء الوحدات الإدارية في جهاز الإدارة العامة
                    ولوائحها وهياكلها التنظيمية نجد أن جهاز الإدارة العامة الحالي يتكرون من مجموعـة من الوحـدات الإداريـة:
                    وزارات - هيئات - مصالح - مؤسسات – مجالـس عليـا - شركات – بنـوك – صنـاديق لجـان – مـراكز – معاهـد متخصـصة..
                    إلخ، التي تقوم كل منها بمهام واختصاصات محددة وتساهم في تحقيق جزء وظيفة ودور الدولة.</p>
                <p>وباستعراض الهيكل التنظيمي الحالي للدولة نلاحظ بأن جهاز الإدارة العامة للدولة قد شهد تطورات جذرية وسريعة على
                    مدى السنوات الآتية لإعادة توحيد شطري اليمن، صاحب ذلك ترضيات وتقاسم للوظيفة العامة بين الحزبين الكبيرين
                    الحاكمين (الحزب الاشتراكي وحزب المؤتمر الشعبي العام) وكلا قام بتوظيـف كوادره بعشـرات الآلف، وبعـد حـرب صيـف
                    1994م دخل حزب الإصلاح الإسلامي كشـريك جديد بديلًا عن الحزب الاشتراكي، مع المؤتمر الشعبي العام في الحكم ومنح
                    حصة من الوظيفة العامة ومؤسسات الدولة، وقام بتوظيف عشرات آلاف من كوادره، وتلعب الاحداث السياسية دور كبير،
                    نتذكر عند الخروج الشعبي للمطالبة برحيل النظام العام 2011م في سياق ما عرف بـ «الربيع العربي»، تم توظيف 60 ألف
                    مواطن ومواطنة، لتحين صورة حزب المؤتمر الشعبي العام الحاكم آنذاك، وتهدئة الرأي العام بتوجيه من رئيس الجهورية
                    حينها، ثم في العام الآتي ووصول رئيس جديد للسلطة تحت سيطرة حزب الإصلاح، «الإخوان المسلمون» في اليمن، تم توظيف
                    عشرات الآلاف من قواعد حزب الإصلاح في الوظائف العامة.</p>
                <p>بعد أن كان عدد الموظفين في الجمهورية اليمنية عام 1990م (191,000) <a href="#1"><span><sup
                                title="نبيل شمسان – مرجع سابق ـ ص7.">[1]</sup></span></a> أصبح عام 2003م (440,000)، أي كانت
                    الزيادة
                    بنسبة 130% خلال عقد من الزمن، وتجاوز العدد أكثر من مليون وثلاثمائة وثمانون ألف موظف وموظفة بحسب اسناد شهر
                    ديسمبر 2014م موظف وموظفة. حيث اُستنزفت ثروات طائلة، وأُهدرت مُقدرات ثمينة، وأُقصيت الكوادر المختصة والمؤهلة
                    حتى يومنا. وذلك لأسباب سياسية.</p>
                <h2 class="special-title">اختلالات البنى الهيكلية بمؤسسات الدولة في اليمن:</h2>
                <p>واقع الإدارة العامة وقوانينها في اليمن، يؤكد أنه ما يزال أداء المؤسسات والجهات الحكومية يعكس سوء إدارة ناجم
                    عن ضعف شديد واختلالات إدارية تعانيها غالبية إن لم تكن كُل مؤسسات الدولة في مُختلف المجالات، ويشهد الأداء
                    الإداري لأغلب مؤسسات الدولة إن لم تكن جميعها تراجعًا مخيفًا من عام لآخر لدرجة أنه بلغ ذروة الفشل مع بعض
                    الجهات والمؤسسات.</p>
                <h2 class="special-title2">1- ترهل وتضخم القطاع العام بالدولة: </h2>
                <p>ترهل وتضخم القطاع العام يبلغ عدد موظفي الدولة في اليمن أزيد من مليون موظف، وتبلغ كلفة الرواتب لموظفي القطاع
                    العام بموجب كشوفات 2014م حوالي 75 مليار ريال شهريًا بسعر صرف 221 ريال للدولار الواحد، وعليه فإن رواتب موظفي
                    الدولة تمتص تقريبًا كل ما تجبيه الحكومة من موارد مبيعات النفط والغاز الخام المصدر.</p>
                <p>في هذا السياق، يشير وزير الخدمة المدنية في حكومة تصـريف الأعمال سليم المغلس <a href="#2"><span><sup
                                title="صحيفة الثورة  Almasirah.net.yeⓣ.me/almasirah2">[2]</sup></span></a>، إلى وجود مبالغة في
                    المستويات
                    التنظيمية والإشرافية وهناك تشتت في عدد الجهات المعنية بتقديم الخدمات والهياكل التنظيمية لا تشير لوجود ارتباط
                    مع الجمهور، وأكثر من ذلك هناك عدد من الوحدات والمؤسسات العامة تعمل منذ عشرات السنين دون أي لوائح تنظيمية.
                </p>
                <p>هناك ثلاثة محاور تقف كحجر عثرة أمام العمل الحكومي أولها؛ السياسات العامة واللوائح والأنظمة وثانيها؛ الهياكل
                    التنظيمية والهياكل الإدارية، وثالثها؛ الكادر البشـري الذي يجب تأهيله وتدريبه وإعادة بناء لوائح التعيين وفق
                    معايير واضحة تشترط الكفاء<a href="#3"><span><sup
                                title="صحيفة الثورة  Almasirah.net.yeⓣ.me/almasirah2">[3]</sup></span></a>.
                </p>
                <p>حيث يصل عدد الوزارات إلى 29 وزارة، ثم وزراء الدولة بالإضافة إلى 33 مجلس، و7 أجهزة، و28 لجنة، و39 هيئة، و45
                    صندوق، و51 مؤسسة، و19 مركز، وهذا العدد لا تحتاجه اليمن ولا ينسجم مع هدف إنشاء المرافق العامة التي تتمحور حول
                    أولويات المواطنين، بل أن العديد من الوزارات والهيئات والمجالس أنشئت بناءً على طلب خارجي أو كترضيات أو نتاج
                    للمبادرة الخليجية التي ساهمت في تضخيم الجهاز الحكومي أكثر مما كان عليه.</p>
                <p>بذلك أصبح ترشيق الجهاز الحكومي يحقق كفاءة وسرعة في تقديم الخدمات وتخفيف للمعاملات وللبيروقراطية الإدارية،
                    وبعض المعاملات تتطلب أن تمر على 3 وزارات من أجل استخراجها رغم أنها معاملة روتينية وعادية. </p>
                <p>التعقيد في الإجراءات والروتين الزائد عن اللزوم ناتج عن قوانين هذه الأنظمة السابقة وهو سبب في ضياع الحقوق
                    واحباط المواطن.</p>
                <h2 class="special-title2">2- غياب المساءلة الجنائية: </h2>
                <p>فلا تجد المسائلة الجنائية لموظفي الإدارة العامة باليمن ممن يخالفون القوانين القائمة، خصوصًا القيادات الإدارية
                    (رئيس وزراء، نائب رئيس وزراء، وزير، وكيل وزارة، مدير عام، رئيس هيئة، رئيس مؤسسة، رئيس مصلحة). حيث يعتقد
                    معظمهم أنهم محصنون عن المسائلة الجزائية ناهيك عن العقاب. ومما يشجع الموظف العام على تحدي أحكام القضاء ورفض
                    تنفيذها لتمتعه بالحصانة الواردة في المادة (2) من قانون الإجراءات الجزائية، ومواد قانون شاغلي وظائف السلطة
                    العليا، التي توجب موافقة مجلس النواب لبدء التحقيق مع الوزير أو نائبه وما فوقها من درجات قيادية.</p>
                <h2 class="special-title2">3- تفشي ظاهرة الزبونية في الإدارة:</h2>
                <p>عندما لا يكون هناك معايير لتعيين الموظف العام في قيادة الجهاز الإداري للدولة وفق معايير الكفاءة والنزهة
                    والتخصص وشروط محددة وإجراءات ميسـرة للجميع، بل يتم وفق معيار سياسي فقط. هي من أهم أوجه الفساد السياسي
                    والإداري في الدولة هو الشخصنة، جعل رئيس الدولة وفق المادة (119) من الدستور التي منحت صلاحيات واسعة لرئيس
                    الجمهورية مالكًا لكل أجهزتها ومن يرضى عنه يعينه، ومن لا يرضى عنه يقصيه ولو كان هو الأكفاء.</p>
                <p>وتنعكس هذه الظاهرة على مستوى الوزارة والمؤسسة أو الهيئة، في ظل غياب نظام فعال يعتمد الكفاءة ويحارب الزبونية،
                    وكما يقال في المثل الشعبي "الناس على دين ملوكهم".</p>
                <p>وعند الحديث عن الفساد الإداري والمالي، لا شك أن تبرز أمامنا عملية شخصنة الإدارة، أي أن رئيـس الجهـة الحكوميـة
                    يتصرف في تعيين وعزل كبار وصغار الموظفين في الجهة وفق هواه، دون ضابط قانوني أو إجراء قانوني إداري واجب
                    الإتباع، وتختزل تلك الجهة في شخص رئيسها، المالك لها جزافًا، وكأنها إقطاعية ورثها عن أبيه، أو أشترها بحر ماله
                    لا حسيب ولا رقيب عليه ولا رادع له.</p>
                <p>بذلك، نجد كافة الموظفين يتملقون إلى ذلك الرئيس ويتوددون إليه بكافـة الطـرق المشـروعة وغير المشروعة، بالنفاق
                    والكذب والرشوة وبكل وسيلة متاحة.</p>
                <p>يتوجب علينا جميعًا إعادة الثقة بين الإدارة والمواطن ومواصلة تبســــــيط المساطر وتيسير الولوج إلى الخدمات
                    الإدارية العمومية، مع تركيز الجهود على الإجراءات الإدارية الأكثر تداولًا وذات الاهتمام الواسع والوقع المباشر
                    على الحياة اليومية للمواطنين والمقاولة، الوثائق الشخصية للأفراد، رخص البناء، السجل التجاري ومشاريع
                    الاستثمار وإنشاء المقاولات... الخ(.</p>
                <h2>ثانيًا: إصلاح تشريعات الإدارة العامة</h2>
                <p>إن أي إصلاحات تشـريعية تعزز من عملية الإصلاح الإداري الشامل، يجب أن تستهدف إصلاح تشريعات القانون الإداري بصفة
                    عامة (أ)، وقوانين الخدمة المدنية بصفة خاصة (ب)، وأخيرًا، يجب أن يعمل على ترسيخ أسس ومبادئ الإدارة العامة
                    (ج). </p>
                <h2 class="special-title">أ/ إصلاح تشريعات القانون الإداري:</h2>
                <p>تبدأ عملية الإصلاح التشـريعي للقانون الإداري بدراسة القوانين الموجودة بالفعل، والدعوة إلى إجراء تغييرات في
                    الأنظمة القانونية وتنفيذها، عادةً بهدف تعزيز العدالة أو رفع الكفاءة. فالإدارة طراز من النشاط الجمعي المنظم
                    لتنفيذ سياسات معينة، وهي مظهر أساسي للمجتمع البشـري تمتد جذوره عبر التاريخ إلى الجماعات الزراعية الأولى التي
                    عرفت بعض أساليب التنظيم البسيطة، ونفذتها بمقتـضى - العرف السائد - لصالح أفـرادها، ثم نمت هذه الأسـاليب
                    وتقدمت بنمـو هذه الجماعات وتطورها. والجديد في الإدارة اليوم الثورة التي حدثت في أهدافها ووظيفتها وفي أساليب
                    تنظيمها ومن ثَمَّ إلى تغير هدف الدولة من المحافظة على الوضع القائم إلى المبادرة بالتغيرات الاقتصادية
                    والاجتماعية أو على الأقل تشجيع هذه العملية مما أدى إلى تشعب وظائف الدولة واتساع مجالات نشاطها.</p>
                <p><span class="spe-span">سيادة القانون:</span> عندما يتعلق الأمر بسيادة القانون، فإن مبادرات الحكم الرشيد تراعي
                    تحقق إصلاح التـشـريعات وتساعد
                    المؤسسات، ابتداءً من النظم الجزائية وصولًا إلى المحاكم والبرلمانات، بهدف تحسين تنفيذ هذه التـشريعات، وتتضمن
                    مبـادرات الحـكم الرشـيد الدعوة إلى الإصلاح القانوني ورفع مستوى التوعية العامة بشأن الإطار القانوني الوطني
                    والدولي وبناء القدرات وإصلاح المؤسسات.</p>
                <p>ففي المجال التشـريعي وإصدار القوانين، نجد تضخم كبير فيها على سبيـل المثال لا الحصـر تشـريعات الخدمة المدنية
                    تضم قوانين ولوائح متعددة قانون الخدمة المدنية رقم (19) لسنه 1991م ولائحته التنفيذية، وقانون التدوير الوظيفي
                    في القانون رقم (43) لسنة 2005م بشأن الوظائف والأجور والمرتبات أو القانون رقم (25) لسنة 1991م بشأن التأمينات
                    والمعاشات ولوائحه. والقانون رقم (43) لسنة 2005م وغيرها من القوانين واللوائح العديدة.</p>
                <p><span class="spe-span">أما
                        تشـريعات وقوانين التعليم العالي<a href="#4"><span><sup
                                    title="مجموعة تشريعات التعليم العالي، الجريدة الرسمية، وزارة الشؤون القانونية – الجمهورية اليمنية، 2010.">[4]</sup></span>:</span></a>
                    قانون الجامعات اليمنية رقم (17) لسنة
                    1995م، القرار الجمهوري رقم (32)
                    لسنة 2007م بشأن اللائحة التنفيذية لقانون الجامعات اليمنية، قانون رقم (19) لسنة 2003م بشأن البعثات الدراسية،
                    قانون رقم (13) لسنة 2005 بشأن الجامعات والمعاهد العليا والكليات الاهلية، وقانون رقم (26) لسنة 2008م بشأن
                    إنشاء كلية التربية الرياضية، قانون رقم (13) لسنة 2010م بشأن التعليم العالي، قرار جمهوري رقم (140) لسنة2007م
                    بشأن اللائحة التنفيذية لقانون الجامعات والمعاهد العليا والكليات الأهلية، قرار رئيس مجلس الوزراء رقم (428)
                    لسنة 2003م بشأن اللائحة التنفيذية لقانون البعثات والمنح الدراسية، قرار جمهوري رقم (139) لسنة 2010م بشأن
                    اللائحة التنظيمية لوزارة التعليم العالي والبحث العلمي، قرار رئيس مجلس الوزراء رقم (40) لسنة 2008م بشأن نظام
                    الدراسات العليا بالجامعات اليمنية، قرار رئيس مجلس الوزراء رقم (284) لسنة 2008م بشأن النظام الموحد لشؤون
                    الطلاب بالجامعات اليمنية الحكومية، قرار رئيس مجلس الوزراء رقم (418) سنة 2008م بشأن لائحة تنظيم المنح
                    الداخلية لطلبة الدراسات الجامعية والعليا، وغيرها من القرارات التنظيمية.</p>
                <p>يتضح أن الوضع القانوني في مجال الإدارة العامة باليمن يعاني من ظاهرة التضخم والتعدد والتضارب التي أدت إلى
                    سيطرة الجهاز الإداري البيروقراطي )على معظم المؤسسات حتى أصبح قوة من الصعب السيطرة عليها، وأدى ذلك إلى عدم
                    المرونة وتضارب الهياكل القانونية ونتج عنه عدم قدرة المرؤوسين على تحمل المسؤولية وتركيز المهام والقرارات في
                    يد المديرين مما أدى إلى وجود موجات مرتفعة من عدم رضا المواطنين، وأصبح بعض الموظفين الذين عليهم خدمة
                    المواطنين يعملون من أجل مصالحهم الشخصية، وساعدهم على ذلك كثرة القوانين والأنظمة والأجهزة البيروقراطية.</p>
                <p>ومما لا شك فيه أن الحياة في أي مجتمع لا يمكن أن تستقيم إلا بوجود قدر كاف من الضوابط وأن هذه الضوابط توضـع في
                    شكل قواعـد عامـة تعـرف بـ "الأنظمة" وفي شكل قواعد فرعية تعرف (بالتعليمات) ولما كان المجتمع الإداري جزءًا من
                    المجتمع الكبير فأن حياته لا يمكن أن تستقيم إلا بضبط علاقات وسلوك أفراده وفقًا لأحكام الأنظمة والتعليمات
                    الإدارية. هذا من جانب، ومن جانب آخر أن النشاط الإداري أما أن يكون قانونيا كالقرارات والعقود الإدارية، وأما
                    أن يكون ماديا كالأعمال التنظيمية والمكتبية، وفي كل الحالات فإن هذه الأنشطة يجب أن تمارس في حدود الاختصاصات
                    والصلاحيات المقررة بموجب الأنظمة والتعليمات القانونية النافذة.</p>
                <p>كما يجب أن تكون هذه الأنظمة مرنة ومتمشية مع التطورات الاجتماعية والاقتصادية والثقافية والسياسية وبخاصة في
                    الدول النامية، أما إذا كانت الأنظمة والتعليمات جامدة فلا بد من تطويرها وبخاصة تلك التي تنظم القواعد الآتية:
                    الاختصاصات والصلاحيات والنصوص الإجرائية والمسؤولية الإدارية. كما يتوجب الابتعاد عن الجانب السياسي المتعارض
                    مع المصلحة العامة.</p>
                <h2 class="special-title">ب/ إصلاح قوانين وأنظمة الخدمة المدنية:</h2>
                <p>يشمل اصلاح تشـريعات الخدمة المدنية، إعادة النظر في التشـريعات الخاصة بالكادر الوظيفي الحالي ونظم اختياره
                    وتعيينه وتنمية قدراته ومهاراته ونظم الرقابة علية وتقييم أدائه ونظام المرتبات والأجور والحوافـز الممنوحـة له،
                    وتطـوير هذه التـشريعات، بما من شأنه تحفيز أفراده ورفع معدلات كفاءتهم ومستويات أدائهم وإنجازهم.</p>
                <p>إن إصلاح تشـريعات الخدمـة المدنيـة يعتبر أمرًا ملحًا في العديد من الدول للحاق بركب الديمقراطيات الحديثة التي
                    أصبحت تعمل بنظم خدمة مدنية عصـرية تقسم الأعباء بين أجهزة الخدمة المدنية والأنواع الأخرى من المؤسسات
                    والجماعات الأخرى خارج البنية الحكومية الرسمية (87). مكتوب يدويًا.</p>
                <p>لذلك، لا بد من إصلاح تشـريعات الخدمة المدنية في اليمن، لما لذلك من أثر مباشر في مكافحة الفساد الإداري،
                    والتخلف الإداري، والبيروقراطية السلبية، والترهل الإداري. ولكي يؤدي إصلاح تشـريعات الخدمة المدنية دوره في
                    الإصلاح الإداري الشامل، لا بد من الآتي:</p>
                <ul>
                    <li>ايجـاد تشـريعات إدارية حديثـة تواكب التطورات الإدارية في العالم وترسي قواعد الخدمة المدنية وأسس انتقاء
                        الموظفين وتوظيفهم وترفيعهم وتوزيع الأعمال بينهم وتحديد واجباتهم ومسؤولياتهم وتعيين حقوقهم وتقييم
                        انجازاتهم وطرق تأديبهم ومنحهم الضمانات الكافية ضد الإجراءات التعسفية والانفعالات الآنية.</li>
                    <li>استيعاب القانون القادم للخدمة المدنية متعلق بتحديد مبادئ ومعايير التعيين في الوظائف العليا، وفق مبادئ
                        تكافؤ الفرص والاستحقاق والكفاءة والشفافية، بعيدًا عن المعايير السياسية الحزبية والترضيات.</li>
                    <li>وجود الرقابة المالية على واردات الدولة ومصـروفاتها وكيفية استخدامها لتحقيق الأهداف التي وضعت من أجلها
                        المخصصات استخدامًا أمثل وألا تكون خاضعة لمؤثرات سياسية أو ذاتية. </li>
                    <li>ضرورة اقتناع السلطة السياسية وقياداتها على ضرورة القيام بإصلاحات جادة من خلال القوانين والإجراءات، بحيث
                        لا يتم مخالفة هذه القوانين بسهولة بدون مسائلة أو عقاب نظرًا لتعطيل القوانين، كما رأينا سابقًا، وهذا يتم
                        من خلال تفعيل مبدأ المساءلة وفرض مبدأ العقاب والحساب وكفاية وعدالة العقوبات، فالفاسد عندما يرتكب فساد
                        ونهب للمال العام يجب أن يتم محاكمته.</li>
                    <li>إقرار منظومة جديدة للأجور، محفزة ومنصفة وشفافة، ترتكز على الاستحقاق والمردودية والفعالية والإنجاز الفعلي
                        للعمل، مع إقرار نظام جديد يشجع على إعادة انتشار الموظفين لتحفيزهم على العمل بالمناطق الصعبة والنائية، مع
                        العمل على الرفع التدريجي من الحد الأدنى للأجور.</li>
        
                </ul>
                <h2 class="special-title">ج/ الإصلاح التشريعي من أجل ترسيخ مبادئ الإدارة العامة</h2>
                <p>يجب أن يعزز الإصلاح التشـريعي تخليق واصلاح الإدارة العامة، وأن يرسخ (أسس ومبادئ الحكم والإدارة الحديثة) وهي
                    أسس ومبادئ دعا إليها أساسًا ديننًا الحنيف المستمد من القرآن الكريم، ويمكن إيجازها بما يلي:</p>
                <p><span class="spe-span">الشفافية الإدارية:</span> كنهج إداري يحقق الأهداف الإدارية والمصلحة الوطنية بالرضا
                    والقبول السياسي لدى المواطنين
                    والمرتفقين مع الإدارة يتطلب العديد من التعديلات القانونية لتحقيق الأهداف الإدارية من خلال الترشيق. والشفافية
                    ظاهرة تشير إلى تقاسم المعلومات والتصـرف بطريقة مكشوفة، فهي تتيح لمن لهم مصلحة في شأن ما أن يجمعوا معلومات
                    حول هذا الشأن قد يكون لها دور حاسم في الكشف عن المساوئ وفي حماية مصالحهم، وتقوم الشفافية على التدفق الحر
                    للمعلومات فهي تتيح للمعنيين أن يطلعوا على المعلومات المرتبطة بهذه المصالح تساعدهم على فهمها ومراقبتها وتزيد
                    من سهولة الوصول إلى المعلومات بصورة واضحة وكافية. وتتضمن الشفافية هنا، وضوح التشـريعات ودقة نصوصها، وسماحها
                    بالإفصاح عن المعلومات التي لا تؤثر على أمن البلد.</p>
                <p><span class="spe-span">المساءلة القانونية:</span> يجب أن يعمل إصلاح تشـريعات الإدارة العامة على تعزيز
                    فالمساءلة التي تلزم أجهزة الإدارة
                    العامة بتقديم حساب عن طبيعة ممارساتها للواجبات المنوطة بها بهدف رفع كفاءتها وفعاليتها، والقضية المثارة الآن
                    هي مدى ملائمة آليات المساءلة التقليدية المعتمدة بصفة أساسية على مفهوم الالتزام بالقواعد والقوانين وتطبيق
                    الإجراءات للتغير الحادث في نظم واتجاهات وتطبيقات الإدارة العامة، فمع الإصلاح الإداري الجاري في العديد من
                    الدول وتبنى الكثيرين لبعض مفاهيم الإدارة العامة الجديدة، أظهرت الحاجة إلى مراجعة أساليب المساءلة التقليدية
                    المستخدمة والانتقال من مساءلة تعتمد على الالتزام إلى مساءلة تركز على الأداء.</p>
        
            </div>
        </div>
        <div class="nested-ref">
            <h2 class="show-references">إخفاء المراجع</h2>
    <div class="refrences">
        <div class="first-ref-info">
            <h2>المراجع</h2>
        </div>
        <ul>
            <li id="1">نبيل شمسان – مرجع سابق ـ ص7.</li>
            <li id="2">صحيفة الثورة <a
                    href="https://www.Almasirah.net.yeⓣ.me">Almasirah.net.yeⓣ.me/almasirah2</a></li>
            <li id="3">المرجع السابق نفسه.</li>
            <li id="4">مجموعة تشريعات التعليم العالي، الجريدة الرسمية، وزارة الشؤون القانونية – الجمهورية اليمنية، 2010.
            </li>
        </ul>
    </div>
        </div>
        <div class="show-some-studies">
            <h3 class="show-studies-h3">مواضيع مشابهة</h3>
            <a href="{% url 'reformmethodology' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/method1.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>منهجية الإصلاح الإداري</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'comprehensive_reform' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/fanicial.webp' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>تقييم برنامج الإصلاح الاقتصادي والمالي والإداري الشامل في اليمن</h3>

                    </div>
                </div>
            </a>
            <a href="{% url 'evolution_of_public_administration' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/admini.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>تطور الإدارة العامة في إطار حقل القانون الإداري</h3>

                    </div>
                </div>
            </a>
            <a href="{% url 'financial_reform_in_countries' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/gold.webp' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>تجارب بعض الدول في مجال الإصلاح المال</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'malaysia_study' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/maly2.webp' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>تجربة ماليزيا في الإصلاح الإداري</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'future_fo_reforming_administrative_law_in_yemen' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/fix2.webp' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>الرؤية المستقبلية لإصلاح القانون الإداري في اليمن</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'future_of_financial_reform_in_yemen' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/tagarb9.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>رؤية مستقبلية للإصلاح المالي في اليمن</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'role_of_the_private_sector_in_world' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/test.png' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>تجارب عالمية وإقليمية لدور القطاع الخاص</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'legislative_reform_in_the_world' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/repair4.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>تجارب عربية وغربية للإصلاح التشريعي</h3>
                    </div>
                </div>
            </a>

            <a href="{% url 'implementing_e-government' %}" class="study-item">
                <div class="study-info-show last-one">
                    <div class="image-card">
                        <img src="{% static 'imgs/egoven.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>عوامل نجاح أو فشل تنفيذ الحكومة الإلكترونية</h3>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <h2 class="show-references">إخفاء المراجع</h2>
    <div class="refrences">
        <div class="first-ref-info">
            <h2>المراجع</h2>
        </div>
        <ul>
            <li id="1">نبيل شمسان – مرجع سابق ـ ص7.</li>
            <li id="2">صحيفة الثورة <a
                    href="https://www.Almasirah.net.yeⓣ.me">Almasirah.net.yeⓣ.me/almasirah2</a></li>
            <li id="3">المرجع السابق نفسه.</li>
            <li id="4">مجموعة تشريعات التعليم العالي، الجريدة الرسمية، وزارة الشؤون القانونية – الجمهورية اليمنية، 2010.
            </li>
        </ul>
    </div>
</div>
{% endblock %}