{% extends 'base.html' %}
{% load static %}
{% block title %}مدخل إلى الإصلاح القانوني{% endblock %}
{% block content %}
<div class="container">
    <div class="top-of-study">
        <a href="{% url 'index' %}">المركز التأسيسي</a>/<a href="{% url 'studies' %}">الدراسات</a>/<span>مدخل إلى الإصلاح القانوني</span>
    </div>
    
    <div class="studies-flex">
        <div class="first-page">
            <div class="controls">
                <button id="increaseFont"><i class="fas fa-search-plus"></i></button>
                <button id="decreaseFont"><i class="fas fa-search-minus"></i></button>
            </div>
            <a href="#img-id" class="hidden-row"><i class="fa-solid fa-arrow-up-long"></i></a>
            <!-- <h1>الحياة في اليمن</h1> -->
            <p class="p-img">مدخل إلى الإصلاح القانوني</p>
                <div class="date-info">
                    <span>15 أكتوبر 2023</span>
                </div>
                <span class="pub">د/ عبد الوهاب عبد القدوس الوشلي</span>
            <img src="{% static 'imgs/repjud.jpg' %}" alt="" id="img-id">
            
            <div class="full-text">
                <p>معلوم أن القوانين والتـشريعات والأعراف والعادات والقيم والأفكار هي حزمة واسعة، تحدد نظام عمل المؤسسات في
                    الدولة من جهة، ومن جهة أخرى فأنها تشكل سلوك الفرد وتضبط مساراته الفردية والمجتمعية، ومسألة اصلاح مؤسسات
                    الدولة عبر تطوير منظومتها التشـريعية، قضية يشتد فيها النقاش داخل الأوساط السياسية والإدارية والعلمية
                    والفكرية ما بين مؤيد ومعارض. إلا أن هناك اجماع بأن المنطلقات القانونية المتعلقة بإصلاح الإدارة العامة من أهم
                    المداخل، عملا بمبدأ - سيادة القانون - الذي يتضمنه كافة دساتير العالم، فلا بد أن تعكس القوانين الواقع القائم
                    في الدولة والمجتمع الذي تحكم حركته وتنظم نشاط أفراده وعمل مؤسساته، وأن تترجم طموحاته وآماله إلى رؤى واضحة
                    وأن ترتقي بتطلعاته إلى واقع ملموس، بحيث تنقل خطط الحكومة من دائرة الأفكار الطموحة والأطروحات النظرية إلى حيز
                    التطبيق والنفاذ.</p>
                <p>ولكي تؤدي منظومـة التشـريعات هذا الدور بالكفاءة المنشـودة، لابد أن تواكب حركة المجتمع وديناميكية تطوره، وتشخص
                    الأمراض القائمة في جسد الإدارة العامة (التضخم الهيكلي لأجهزة ومؤسسات الدولة، والبشـري ببطالة مقنعة تحسب على
                    قوى الخدمة المدنية، وحالة كثرة القوانين واختلالها، أدت لانتشار الفساد وضعف الأداء)، ثم تضع الحلول بإعادة
                    ترشيقها من منظور قانوني. </p>
                <p>لهذا، أضحى إصلاح منظومة التشـريعات للإدارة العامة بهدف الترشيق ضرورة، وبقدر ما يسارع القائمون على صناعة
                    التشـريع بالاستجابة لهذه الضـرورة، بقدر ما يختصرون المسافة صوب تقدم مجتمعاتهم. </p>
                <p>ويخـشى عـادة ونتيـجة لوجـود خلـط في المصطلـحات والمفـاهيم المتعـلقة بعمـلية الإصلاح القانوني والاداري في
                    ادبيات القانون الإداري والادارة العامة ودراساتها ولدى الاداريين الممارسين في الجهاز الإداري للدول والمعنيين
                    بشؤونه، تكونت بموجب هذا الخلط انحسار استخدام مصطلح الإصلاح الإداري في الدول العربية عمومًا في مقابل رواج
                    مفاهيم أخرى لتفسير العملية كالتنمية الادارية، التطور الإداري، اعادة التنظيم الإداري، التحديث الإداري، على
                    اعتبار أنها جميعا ستطابق وتلتقي مع الإصلاح الإداري ومع بعضها من حيث كونها تعكس عملية تحول ما، لهذا نبدأ
                    دراستنا بضبط وتعريف المفاهيم الرئيسة:</p>
                <h2>‌أ- ماهية الإصلاح القانوني: </h2>
                <p>يستخدم تعبير <span><sup
                            title="Hurlburt, William H. Law Reform Commissions in the United Kingdom, Australia and Canada. Juriliber. 1986. Page 3">[1]</sup></span>«إصلاح
                    القوانين» ليحمل عددًا من المعاني وبعض هذه المعاني توشك أن تصل للدرجة التي يمكننا القول
                    عندها أنها تتعارض كليًا مع بعضها البعض.</p>
                <p>في قانون إصلاح القوانين لعام 1975م، يشمل التعبير «إصلاح»، الخاص بالقانون أو فرع من فروعه، تطويره، وتدوينه
                    (ويشمل ذلك على وجه الخصوص تبسيطه وتحديثه) والتنقيح والدمج بين التـشريعات الأساسية، ومن ثَمَّ يلزم تفسير
                    الكلمات المشابهة وفقًا لذلك.</p>
                <p>ويرى البعض أنه لا يمكن الاتفاق على معنى جامع مانع لعملية الإصلاح التشـريعي، فللأخير أكثر من معنى، بحسب
                    الزاوية التي ينظر إليه منه، بشكل عام يمكن تعريفه من زاوية القائم عليه بأنه ناتج ما تقوم به الجهات أو الهيئات
                    المسـؤولة عن عمليـة إصـلاح التشـريع. وبينما يتعذر الوقوف على معنى واحد لهذا الاصطلاح، إلا أن الحد الأدنى
                    المتفق عليه هو أن الإصلاح التشـريعي - بحسب موضوعه - هو تحسـين مادة أو مضمـون التشـريع ولذلك فالإصـلاح
                    التشـريعي<a href="#2"><span><sup
                        title="المستشار محمد عبدالفتاح عبدالبرـ إطلالة مُقارنة على مسار جهود الإصلاح التشريعي، موقع منشورات قانونية، 9/2/2022 ـ ">[2]</sup></span></a>
                    - فنيًا - يختلف عن: مراجعته(1)،
                    أو توحيده شكلًا (2)،
                    أو تقنينه موضوعًا (3)،
                    أو إلغاء وحذف
                    المهجور منه (4).
                    ويمكن القول بأن الإصلاح التشـريعي فنيا (مراجعته - توحيده شكلًا - تقنينه موضوعيًا - الغاء أو
                    حذف المهجور منه). قد يتضمن كل هذه المراحل أو بعضها، لكن أيًا منها ليست الهدف في حد ذاته، فالهدف الذي ينبغي
                    أن يتوخاه أي جهد للإصلاح التـشريعي هو الارتـقاء بجـودة التشـريع؛ أي تحسـين مادته، وهو ما قد يحتاج القيام به
                    مراجعة التشـريعات القائمة، ودمج المرتبط منها، وبلورة موضوعها في ضوء فلسفة واحدة، وتخليص المنظومة التشريعية
                    من بقايا الأفكار القانونية القديمة.</p>
                <p> وإذا كانت عملية التشـريع عملية سياسية، كونها - كأي عملية من عمليات صناعة السياسات - تعتمد على موازنات بين
                    اعتبارات متقابلة، تعكس مصالح مجموعات متنافسة، إلا أن عملية الإصـلاح التشـريعي أبعد ما يكون عن ذلك الطابع
                    السياسي؛ فلا تستهدف الكيانات القائمة على عملية الإصلاح التشـريعي سوى الارتقاء بمنظومة التشـريع، دون نظر إلى
                    الأجندة السياسية لفريق أيديولوجي بعينه، ودون اعتبار للمصالح الضيقة لحزب سياسي معين، فقط توجه هذه الكيانات
                    نظرها تلقاء الصالح العام في صورته المجرد<a href="#3"><span><sup
                        title="غير أن ما سبق لا يعني أن عملية الإصلاح التشريعي تسير بهذه السلاسة، بحيث لا يمكن أن تثير أية خلافات، بل العكس صحيح، فهذه العملية وما تنطوي عليه من إعادة ترتيب للأولويات التشريعية، وتطوير للأفكار القانونية، وما تُجريه من تعديل في كثير من المفاهيم السياسية والاجتماعية والاقتصادية، لا يتصور أن تلقى إجماعًا تامًا حتى بين أولئك القائمين على هذه العملية.">[3]</sup></span></a>.
                </p>
                <h2>‌ب- تطور الإصلاح القانوني:</h2>
                <p>إن إصلاح الإدارة العامة هو واحد من مجالات الإصلاح الأفقية الأكثر أهمية في أي دولة، حيث أنه يوفر إطارا وشروطا
                    مسبقة لتنفيذ السياسات الأخرى. على سبيل المثال، تمكن الإدارة ذات الأداء الجيد الدول من تحقيق نتائج في العديد
                    من المجالات، بما في ذلك التعليم والأمن الداخلي. وتتطور الدول بسـرعات مختلفة ولكل منها أساليبها المختلفة في
                    الحوكمة وتنفيذ إصلاحات الإدارة العامة. ومع ذلك، فان مبادئ الإدارة العامة: إطار لدول سياسة الجوار الأوروبية
                    توفر اللبنات الأساسية للإدارة العامة الجيدة والقابلة للتطبيق لجميع الدول<a href="#4"><span><sup
                        title="مبادئ الإدارة العامة - اطار عمل دول سياسة الجوار الأوروبية، النشر بمعرفة كارين هيل رئيس برنامج سيجما- الاتحاد الأوروبي، ص3.. متاح على الرابط:  www.sigmaweb.org">[4]</sup></span></a>.
                </p>
        
                <p>اصطلاح (إصلاح إداري) يفسر أن هناك خلل ما وفساد إداري يحتاج إلى علاج وتصحيح وهذا بحد ذاته ينطوي على إدانة خفيه
                    لنظم وأساليب الأداء والقيادة.</p>
                <p>وعرًف مؤتمر الإصلاح الإداري في الدول النامية، الذي عقدته هيئة الأمم المتحدة بجامعة ساسكي البريطانية لعام
                    1971م، عملية الإصلاح الإداري على أنها: (حصيلة الجهود، ذات الإعداد الخاص، التي تهدف إلى إدخال تغييرات أساسية
                    في المنظمة الإدارية العامة، من خلال إصلاحات على مستوى النظام ككل) <a href="#5"><span><sup
                        title="شبلي، صبري أحمد: دور الحوكمة في الإصلاح الإداري – دراسة مقارنة بين الدنمارك ولبنان، رسالة ماجستير مقدمة إلى الأكاديمية العربية في الدنمارك، كلية القانون والسياسة، قسم القانون، 2013، ص 60.">[5]</sup></span></a>.
                </p>
                <p>ومن عرف الإصلاح الإداري بأنه:( جهد سياسي وإداري واقتصادي وثقافي هادف لإحداث تغييرات أساسية إيجابية في السلوك
                    والنظم والعلاقات والأساليب والأدوات تحقيقا لتنمية قدرات وإمكانات الجهاز الإداري، بما يؤمن له درجة عالية من
                    الكفاءة والفعالية في إنجاز أهدافه) <a href="#6"><span><sup
                        title="البحيري، سامي محمد أحمد: مداخل الإصلاح الإداري. التطوير التنظيمي والتدريب وتقييم الأداء، رسالة ماجستير، الأكاديمية العربية البريطانية لتعليم العالي، لندن، 2011، ص 32.">[6]</sup></span></a>.
                </p>
                <p>وهناك من ذهب إلى الإصلاح الإداري: (عملية تكييف الإدارة مع المستجدات في ركائز الإدارة الأساسية والأشخاص
                    وأساليب العمل، وهي عملية أساسية تعتمد على أشخاص مهيئين) <a href="#7"><span><sup
                        title="البحيري، سامي محمد أحمد: مداخل الإصلاح الإداري. التطوير التنظيمي والتدريب وتقييم الأداء، رسالة ماجستير، الأكاديمية العربية البريطانية لتعليم العالي، لندن، 2011، ص 32.">[7]</sup></span></a>.
                </p>
                <p>والمدلول اللفظي للإصلاح الإداري أو الضمني يعني بأنه إصلاح وتقويم وتحسين للأوضاع الراهنة وتطويرها، مما يعني
                    النظر إلى الجهاز الإداري وحدة واحدة متكاملة تحتاج إلى تطوير العملية الإدارية الفنية فيها وفق التأثيرات
                    المتبادلة مع البيئة الكلية وعلاقتها السياسية والاقتصادية والاجتماعية.</p>
                <p>أي أن الإصلاح الإداري أعم وأشمل وأكثر عمقًا واتساعًا من المصطلحات السابقة من حيث ارتباطه بطموحات مستقبلية
                    وتوقعات ومتطلبات متجددة يسعى لتحقيقها بدرجة عالية من الكفاءة وفق التكيف مع الظروف الراهنة وتطويرها وتحسينها
                    للتأقلم مع ما هو منشود.</p>
                <p class="5">وكل هذه الأمور التي ذكرناها لا بد من أن تمر من خلال أطر قانونيـة تشـريعية، بحيث يكون الإصلاح
                    الإداري من خلال
                    هذه القوانين التي تسن لهذا المفهوم بحيث تؤثر تأثيرًا واضحًا في سبيل النهوض بالدول وتدفعها قدما نحو الأمام
                    ومن خلال اللامركزية وتخفيف قبضتها وتقليل حدتها وتتمثل في نقل السلطات إلى الأطراف من أجل التسهيل على عامة
                    المواطنين في تسيير حوائجهم لكن الوصول إلى هذه المرحلة يتم من خلال سن التشـريعات والقوانين والأنظمة التي تسمح
                    بالتفويض ومن هنا يأتي أثر التفويض واللامركزية الإدارية في الإصلاح الإداري.</p>
                <p>أما تعريفه فقد تعدت الآراء في تعريف الإصلاح الإداري، فهناك من يعرفه كنهج سياسي مستمر موجه إلى ضبط العلاقات
                    القائمة بين البيروقراطية وبين بعض عناصر المجتمع، أو ضبط تلك العلاقات في إطار البيروقراطية نفسها.</p>
            </div>
        </div>
        <div class="nested-ref">
            <h2 class="show-references">إخفاء المراجع</h2>
    <div class="refrences">
        <div class="first-ref-info">
            <h2>المراجع</h2>
        </div>
        <ul>
            <li id="1" class="eng">Hurlburt, William H. Law Reform Commissions in the United Kingdom, Australia and Canada.
                Juriliber. 1986. Page 3.</li>
            <li id="2">المستشار محمد عبدالفتاح عبدالبرـ إطلالة مُقارنة على مسار جهود الإصلاح التشريعي، موقع منشورات قانونية،
                9/2/2022 ـ
                <ul class=".nested-ul">
                    <li class="eng">“The term ‘law revision’ is normally used to refer to statutory amendments that make no
                        change at
                        all to the substance of the law. They make the law more accessible and simpler to understand, but
                        without changing its meaning.”</li>
                    <li class="eng">“Consolidation, in particular, is the bringing together of statute law in a number of
                        different
                        instruments into a single, new, legislative instrument. Consolidation re-packages, but does not
                        substantively change, the law.”</li>
                    <li>يُعد التقنين الموضوعي للقانون أقرب الاصطلاحات لفحوى فكرة الإصلاح التشريعي، إذ يتضمن دمج التشريعات في
                        وثيقة واحدة باعتبار موضوعها، فضلًا عن إعادة صياغتها وتطويرها إلى جانب دمجها، لكنه على الأرجح مرحلة
                        سابقة عليه، إذ يغلب عليها الاهتمام بدمج التشريعات ذوات الصلة وتحسين صياغتها أكثر من صبها في قالب
                        متطور واحد في ضوء فلسفة واحدة.</li>
                    <li class="eng">“Some law reform agencies also undertake projects to repeal obsolete legislation. Only
                        statutes that
                        have no possible application are proposed for repeal, so again this activity does not change the
                        law.”</li>
                </ul>
            </li>
            <li id="3">غير أن ما سبق لا يعني أن عملية الإصلاح التشريعي تسير بهذه السلاسة، بحيث لا يمكن أن تثير أية خلافات،
                بل العكس صحيح، فهذه العملية وما تنطوي عليه من إعادة ترتيب للأولويات التشريعية، وتطوير للأفكار القانونية، وما
                تُجريه من تعديل في كثير من المفاهيم السياسية والاجتماعية والاقتصادية، لا يتصور أن تلقى إجماعًا تامًا حتى بين
                أولئك القائمين على هذه العملية.</li>
            <li id="4">مبادئ الإدارة العامة - اطار عمل دول سياسة الجوار الأوروبية، النشر بمعرفة كارين هيل رئيس برنامج سيجما-
                الاتحاد الأوروبي، ص3.. متاح على الرابط: <a href="https://www.sigmaweb.org/">www.sigmaweb.org</a></li>
            <li id="5">شبلي، صبري أحمد: دور الحوكمة في الإصلاح الإداري – دراسة مقارنة بين الدنمارك ولبنان، رسالة ماجستير
                مقدمة إلى الأكاديمية العربية في الدنمارك، كلية القانون والسياسة، قسم القانون، 2013، ص 60.</li>
            <li id="6">البحيري، سامي محمد أحمد: مداخل الإصلاح الإداري. التطوير التنظيمي والتدريب وتقييم الأداء، رسالة
                ماجستير، الأكاديمية العربية البريطانية لتعليم العالي، لندن، 2011، ص 32.</li>
            <li id="7">المرجع السابق نفسه، ص 32.</li>
        </ul>
    </div>
        </div>
        <div class="show-some-studies">
            <h3 class="show-studies-h3">مواضيع مشابهة</h3>
            <a href="{% url 'reformmethodology' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/method1.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>منهجية الإصلاح الإداري</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'comprehensive_reform' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/fanicial.webp' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>تقييم برنامج الإصلاح الاقتصادي والمالي والإداري الشامل في اليمن</h3>

                    </div>
                </div>
            </a>
            <a href="{% url 'evolution_of_public_administration' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/admini.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>تطور الإدارة العامة في إطار حقل القانون الإداري</h3>

                    </div>
                </div>
            </a>
            <a href="{% url 'financial_reform_in_countries' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/gold.webp' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>تجارب بعض الدول في مجال الإصلاح المال</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'malaysia_study' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/maly2.webp' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>تجربة ماليزيا في الإصلاح الإداري</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'future_fo_reforming_administrative_law_in_yemen' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/fix2.webp' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>الرؤية المستقبلية لإصلاح القانون الإداري في اليمن</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'future_of_financial_reform_in_yemen' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/tagarb9.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>رؤية مستقبلية للإصلاح المالي في اليمن</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'role_of_the_private_sector_in_world' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/test.png' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>تجارب عالمية وإقليمية لدور القطاع الخاص</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'legislative_reform_in_the_world' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/repair4.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>تجارب عربية وغربية للإصلاح التشريعي</h3>
                    </div>
                </div>
            </a>

            <a href="{% url 'implementing_e-government' %}" class="study-item">
                <div class="study-info-show last-one">
                    <div class="image-card">
                        <img src="{% static 'imgs/egoven.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>عوامل نجاح أو فشل تنفيذ الحكومة الإلكترونية</h3>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <h2 class="show-references">إخفاء المراجع</h2>
    <div class="refrences">
        <div class="first-ref-info">
            <h2>المراجع</h2>
        </div>
        <ul>
            <li id="1" class="eng">Hurlburt, William H. Law Reform Commissions in the United Kingdom, Australia and Canada.
                Juriliber. 1986. Page 3.</li>
            <li id="2">المستشار محمد عبدالفتاح عبدالبرـ إطلالة مُقارنة على مسار جهود الإصلاح التشريعي، موقع منشورات قانونية،
                9/2/2022 ـ
                <ul class=".nested-ul">
                    <li class="eng">“The term ‘law revision’ is normally used to refer to statutory amendments that make no
                        change at
                        all to the substance of the law. They make the law more accessible and simpler to understand, but
                        without changing its meaning.”</li>
                    <li class="eng">“Consolidation, in particular, is the bringing together of statute law in a number of
                        different
                        instruments into a single, new, legislative instrument. Consolidation re-packages, but does not
                        substantively change, the law.”</li>
                    <li>يُعد التقنين الموضوعي للقانون أقرب الاصطلاحات لفحوى فكرة الإصلاح التشريعي، إذ يتضمن دمج التشريعات في
                        وثيقة واحدة باعتبار موضوعها، فضلًا عن إعادة صياغتها وتطويرها إلى جانب دمجها، لكنه على الأرجح مرحلة
                        سابقة عليه، إذ يغلب عليها الاهتمام بدمج التشريعات ذوات الصلة وتحسين صياغتها أكثر من صبها في قالب
                        متطور واحد في ضوء فلسفة واحدة.</li>
                    <li class="eng">“Some law reform agencies also undertake projects to repeal obsolete legislation. Only
                        statutes that
                        have no possible application are proposed for repeal, so again this activity does not change the
                        law.”</li>
                </ul>
            </li>
            <li id="3">غير أن ما سبق لا يعني أن عملية الإصلاح التشريعي تسير بهذه السلاسة، بحيث لا يمكن أن تثير أية خلافات،
                بل العكس صحيح، فهذه العملية وما تنطوي عليه من إعادة ترتيب للأولويات التشريعية، وتطوير للأفكار القانونية، وما
                تُجريه من تعديل في كثير من المفاهيم السياسية والاجتماعية والاقتصادية، لا يتصور أن تلقى إجماعًا تامًا حتى بين
                أولئك القائمين على هذه العملية.</li>
            <li id="4">مبادئ الإدارة العامة - اطار عمل دول سياسة الجوار الأوروبية، النشر بمعرفة كارين هيل رئيس برنامج سيجما-
                الاتحاد الأوروبي، ص3.. متاح على الرابط: <a href="https://www.sigmaweb.org/">www.sigmaweb.org</a></li>
            <li id="5">شبلي، صبري أحمد: دور الحوكمة في الإصلاح الإداري – دراسة مقارنة بين الدنمارك ولبنان، رسالة ماجستير
                مقدمة إلى الأكاديمية العربية في الدنمارك، كلية القانون والسياسة، قسم القانون، 2013، ص 60.</li>
            <li id="6">البحيري، سامي محمد أحمد: مداخل الإصلاح الإداري. التطوير التنظيمي والتدريب وتقييم الأداء، رسالة
                ماجستير، الأكاديمية العربية البريطانية لتعليم العالي، لندن، 2011، ص 32.</li>
            <li id="7">المرجع السابق نفسه، ص 32.</li>
        </ul>
    </div>
</div>
{% endblock %}