{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="first-page">
    <a href="#img-id" class="hidden-row"><i class="fa-solid fa-arrow-up-long"></i></a>
    <!-- <h1>الحياة في اليمن</h1> -->
    <img src="{% static 'imgs/repair4.jpg' %}" alt="" id="img-id">
    <p class="p-img">تجارب عربية وغربية للإصلاح التشريعي</p>
    <div class="info">
        <div class="date-info">
            <span>تم النشر في<i class="fa-solid fa-calendar"></i>25 نوفمبر 2023</span>
        </div>
        <span class="pub">د/ عبد الوهاب عبد القدوس الوشلي</span>
    </div>

    <div class="full-text">
        <p>نتناول في هذا المحور نماذج من تجارب إصلاح القانون الإداري في عدد من الدول العربية والغربية وفقًا لما يلي:</p>
        <h2>أولًا: تجارب دول عربية:</h2>
        <p>نتناول هنا عدد من التجارب للدول عربية: لا شك أن هناك إجماع في الدول العربية على تميز نظام الإدارة العامة، في
            كل من تونس والأردن والكويت.</p>
        <h2>تجربة تونس<span><sup
                    title="بن جعفر، ماجدة ـ قاضــى: التجربة التونسية في مجال الإصلاح التشريعي، بحث مقدم لمؤتمر الإصلاح الإداري في عمان 28- 30 أبريل 2008 ـ ">[1]</sup></span>
        </h2>
        <ol>
            <li>لا يختلف الوضع القانوني في تونس كثيرًا عما عليه الحال في مختلف دول العالم من حيث تضخم التشـريع وتشعبه
                وتعقيده سيما بعد موجة التشـريع التي تعيشها بلادنا اقتضاءً لمتطلبات التنمية والانفتاح الاقتصادي. </li>
            <li>خلال العقدين الأخيرين تأكدت الرغبة في إصلاح الإدارة ومصالحتها مع المواطن وتطوير التـشريع لما في ذلك من
                ضمانة لحقوق الفرد ومن فائدة في تطوير المجتمع وتنميته.</li>
            <li>انطلقت أولى المبادرات في مجال الإصلاح التشـريعي منذ التسعينيات بعقلنة التشـريع (أ) لتنتهي في ظل المبادرة
                الإقليمية العربية للإدارة الرشيدة لخدمة التنمية التي تدعمها منظمة التعاون الاقتصادي والتنمية وبرنامج
                الأمم المتحدة الإنمائي إلى العمل على جودة الصياغة التشريعية (ب).</li>

        </ol>
        <h2>بوادر إصلاح وعقلنة التـشريعات في تونس</h2>
        <p>تندرج محاور الإصلاح والعقلنة التشـريعية في تونس في إطار برنامج الإصلاح الشامل الذي تبنته تونس منذ سنة 1986م،
            في تطوير التشريع، وتنظيم التشريع وتبسيطه.</p>
        <p>1- <span class="spe-span"> تطوير التشريع: </span> من خلال إخضاع القانون إلى الرقابة من حيث دستوريته من خلال
            إحداث المجلس الدستوري سنة 1987م، إصدار عديد من التشـريعات مواكبة لتطور الحياة والرقي الحضاري وانفتاح
            العلاقات بين البلدان، وتيسير الإجراءات بإلغاء القيود الإدارية واختصار الإجراءات وآجالها وذلك في جميع قطاعات
            الدولة المختلفة.</p>
        <h2>2- تنظيم التشريع وتبسيطه:</h2>
        <p>تنظيم التشريع: من خلال:</p>
        <ul>
            <li>تم سنة 1993م إحداث مركز الدراسات القانونية والقضائية وهو مؤسسة عمومية ذات صبغة إدارية تحت إشراف وزارة
                العدل وحقوق الإنسان وهو مرصد وطني للتشـريع. من ضمن مهامه جمع النصوص القانونية الجاري بها العمل وتحيينها
                وترجمتها ونشـرها. ومختلف الوثائق وتيسير الاستفادة منها.</li>
            <li>تم سنة 1996م إحداث المجلس الأعلى لتنظيم الأحكام التشريعية الجاري بها العمل، للسهر على عملية تنظيم وتجميع
                النصوص الجاري بها العمل، وتحيينها وتهذيب مصطلحاتها بتخليصها من العبارات غير السليمة التي فقدت صلتها
                بالواقع، سواءً لكونها دخيلة أو لارتباطها بنظم وأوضاع سياسية وإدارية متقادمة، وعند الاقتضاء توضيح أحكامها
                بإعادة صياغتها دون مساس بمضمونها. </li>
            <li>سنة 2003م، تم إحداث المجلس الوطني لتنظيم الأحكام التشـريعية الجاري بها العمل، عوضًا عن المجلس الأعلى، مع
                إسناد الكتابة العامة لهذا المجلس إلى مركز الدراسات القانونية والقضائية.</li>
        </ul>

        <h2>تبسيط القانون وتيسير الوصول إليه: من خلال:</h2>
        <ul style="list-style: square;">
            <li class="ws2">نشـر القوانين والمراسيم والأوامر والقرارات وجوبًا باللغة العربية بالرائد الرسمي للجمهورية
                التونسية -
                الجريدة الرسمية في اليمن -، كما يجب نشـرها بلغة أخرى على سبيل الإعلام. أما المناشير فلا يتم ادراجها
                بالرائد الرسمي إلا بعد مصادقة الإدارة العامة للحكومة، وإذا كانت عامة تهم المتعاملين مع المصالح الوزارية
                أو تتعلق بعدة وزارات.</li>
            <li class="ws3">أمر سنة 1993م أحدث نظامًا للاتصال والإرشاد الإداري بمصالح الدولة والجماعات العمومية المحلية
                والمؤسسات
                العموميـة، يحتـوي على جميـع المراجـع القانونيـة والترتيبيـة، وعلى كافة الإجراءات اللازمة للحصول على كل
                خدمة إدارية مدرجة بهذا النظام. ويقع ضبط قائمة الخدمات الإدارية والإجراءات اللازمة للحصول عليها بقرار من
                الوزير المعني.</li>
            <li>تسهم المؤسسات العامة في تبسيط وايصال القوانين إلى إدراك المعنيين بها، بإجراء ملتقيات وندوات علمية
                وموائد مستديرة تساعد على فهم القانون وحسن تطبيقه. </li>
        </ul>
        <h2>اصلاح عملية وضع التشريع</h2>
        <p class="ws2">تدرك تونس أهمية الصياغة القانونية وضرورتها كأداة للسياسة العامة وكرافد من روافد التنمية والأمن
            القانوني
            لذلك فهي جادة في توفير الهيكل والإجراء الملائم لتأهيل إطاراتها وتكوينهم على وضع التشـريع الجيد وذلك من
            خلال: إحداث كلا من: مركز مختص في الصياغة القانونية (مركز الدراسات القانونية والقضائية)، الشهادة الوطنية
            للماجستير المهني في تحرير النصوص القانونية وترجمتها.</p>
        <h2>اسهام مركز الدراسات القانونية في جودة التشريع:</h2>
        <ol>
            <li>يتوفر مركز الدراسات القانونية والقضائية المحدث منذ سنة 1993م على الخبرات القانونية اللازمة والكفاءات
                التي أظهرت إمكانيات وخبرات جيدة في مجال صياغة القانون.</li>
            <li>من مهام المركز وفق قانون إنشائه: القيام بالدراسات من أجل تطوير التشـريعات الوطنيـة، ودراسة المسائل
                القانونية الهامة المتعلقة بتطبيـق التشـريعات، بطلب من الجهات الحكومية المعنية.</li>
            <li>للمركز التعاقد مع أصحاب الخبرة والكفاءات من قضاة وجامعيين ومحامين ومساعدي قضاء لإنجاز خدمات بمقابل،
                في نطاق مشمولاته المتعلقة خاصة بالتشـريع العام وبالبحوث في الميدان.</li>
            <li>يطمح المركز إلى أن يصبح مركزًا إقليميًا في عملية وضع التشـريعات الجيدة وهو بصدد إجراء الدراسات
                اللازمة للغرض بالتعاون مع مكتب دراسات كندي مختص. </li>
        </ol>
        <h2>الشهادة الوطنية للماجستير المهني في تحرير النصوص القانونية وصياغتها</h2>
        <p>تمت بلورة الفكرة وتجسيدها على الصعيد القانوني بمقتـضى قرار وزير التعليم العالي والبحث العلمي المؤرخ في
            25/03/2008م المتعلق بضبط نظام الدراسات والامتحانات المطبق بكلية الحقوق والعلوم السياسية بتونس.</p>
        <h2>2ـ التجربة الأردنية<span><sup title="الزغبي، خالد، مرجع سابق.">[2]</sup></span></h2>
        <p>غير أن هناك عيبًا خطيرًا في اصلاح أنظمة الموظفين وهو عدم حل مشكلة الرواتب، فإن الإصلاح الإداري أغفل هذه
            المشكلة الخطيرة لأن هناك اعتقادًا سائدًا أن رواتب موظفي الحكومة قليلة، وهي أدنى بكثير من رواتب الموظفين
            في المؤسسات غير الحكومية، وهناك دلائل تشير إلى أن الحكومة قد بدأت تشعر بوطأة المنافسة بينها وبين هذه
            المؤسسات في الحصول على هذه القلة من الأشخاص الأكفاء المدربين، ولم تجدي أية محاولة لتبرير هذا الوضع أو
            اصلاح الخطأ فيه، ومما يؤسف له جدًا أن الرواتب في الأردن لا تتلاءم مع الواجبات والمسؤوليات والمهام
            الملقاة على عاتق الموظف، ذلك لأن جدول الرواتب يقوم على أساس من التصنيف غير الصالح حيث نجد أن الوظائف
            مصنفة تصنيفًا اعتباطيًا بالنسبة إلى فئات، وفي هذا شيء من القلق الذي يسبب تذمرًا في صفوف الموظفين.</p>
        <p>ويعد أهم حدث اصلاحي في أنظمة الموظفين هو إنشاء هيئة مستقلة تدعى ديوان الخدمة المدنية تُعنى بتعيين موظفي
            الدوائر الحكومية على أسس معتمدة من رئاسة الوزراء، وإذا كان هناك عيوب في السابق كانت من نواحي كثيرة أنظمة
            لا بأس بها، وإذا كان هناك من عيوب أو أخطاء في قضايا التوظيف والموظفين فإنما مردها في أكثر الأحيان إلى
            عدم تطبيق القوانين والأنظمة تطبيقًا صارمًا. وكانت كل وزارة تعالج أمور موظفيها بطريقة مستقلة عن سائر
            الوزارات مما أسفر عن انعدام الانسجام وتضارب الصلاحيات وتشابكها بشكل يدعو إلى الدهشة، لما في ذلك من بذل
            جهود ضائعة، وأخطر منه هو أن الوزارة كانت دومًا عرضة للتأثير والضغط السياسي من جانب المجلس النيابي ومن
            الرأي العام. </p>
        <p>وقد أعطى ديوان الخدمة المدنية صلاحيات واسعة منها تدريب الموظفين، وتعبئة الأشخاص الصالحين للتوظيف، وتحضير
            الامتحانات والاشراف عليها، واعداد قوائم بالأشخاص المؤهلين للتوظيف والموافقة على كل تعيين في أية وظيفة من
            وظائف الدولة. ومن الاصلاحات الحميدة في هذا الحقل أيضًا إنشاء معهد الإدارة العامة التابع لوزارة تطوير
            القطاع العام، ويعني هذا المعهد: </p>
        <p><span class="spe-span">أولًا:</span> إعطاء موظفي الحكومة ثقافة إدارية عامة وتدريبهم عمليًا على المهام
            الملقاة على عواتقهم.</p>
        <p><span class="spe-span">وثانيًا:</span> بإعداد أشخاص أكفاء لشغل بعض الوظائف الرئيسة.</p>
        <p class="ws3">لذا نجد جهود ومحاولات الحكومة هي نتيجة للشعور بضـرورة اصلاح الإدارة اصلاحًا جذريًا وهي تدرك في
            الوقت ذاته
            أنه ينقصها الاخصائيون الأكفاء في علم الإدارة والهيئـات الضـرورية للقيام بإصلاح كهذا.</p>
        <p class="ws2">لذا نعتقد أن الإصلاح الإداري لا يخرج عن كونه مظهرًا من مظاهر التنمية الشاملة الثقافية والاجتماعية
            والاقتصادية، لذا يتطلب الإصلاح الإداري بالإضافة إلى اعداد القادة تحقيق تطوير فكري وثقافي عند الموظفين
            وهذا لا يمكن تحقيقه إلا من خلال التطوير الثقافي العام واعداد الأجيال القادمة.</p>
        <p>وقيام جهاز إداري في أعلى المستويات أمر تحتمه الحجة إلى وجوده لكي يضطلع بمراقبة الأوضاع السائدة في الإدارة
            وتتجمع في اطاره سائر المعلومات المتصلة بها، ولا شك في أن عدم وجود جهاز كهذا من شأنه أن يترك الأمور إلى
            مشيئة القدر الذي قد يحركها أو يتأخر في تحريكها.</p>
        <p>على أن حتمية وجود الجهاز المشار إليه لا تعني اتفاق سائر الأنظمة على اعتماد نمط واحد بشأنه، فالمثال
            البريطاني يقوم على وجود «اللجنة الملكية» التي تعمل على أساس التقارير القيمة التي يضعها الخبراء، وقد أدى
            عملها على مر الزمان إلى مراجعة جدية لهيكلية الخدمة المدنية في بريطانيا.</p>
        <h2>3ـ- التجربة السورية<span><sup
                    title="تيشوري، عبدالرحمن: أفكار غير مرتبة من أجل ترشيق الإدارة العامة السورية وحل مشاكل الوظيفة العامة، موقع سيريان تلغراف. ">[3]</sup></span>
        </h2>
        <p>ارتكزت التجربة السورية على إعادة هيكلة مؤسسات الدولة ثم على المواد البشـرية بإعادة توزيع وإحالة للتقاعد
            بطرق متعددة، تتمثل في الآتي:</p>
        <h2>ترشيق الموارد البشرية في سوريا:</h2>
        <p>الترشيق هنا استهدف هيكل موظفي الخدمة المدنية، التي وضعها المجلس الأعلى للوظيفة العامة، على مستوى كل وزارة
            أو هيئة، قام بها (المجلس الأعلى للوظيفة العامة) ويتبعه (المعهد الوطني للإدارة العامة)، و(السجل العام
            للعاملين في الدولة). </p>
        <p>وتتألف هذه الهيئات من المديريات الآتية: </p>
        <p><span class="spe-span">أولًا؛</span> مديريات رئيسة (مديرية الوظيفة العامة، ومديريـة المـوارد البشـرية،
            ومديرية التطوير والتحديث). </p>
        <p><span class="spe-span">ثانيًا؛</span> المديريات التقليدية (مديرية التخطيط والإحصاء، ومديرية الشؤون
            المالية، ومديرية المعلوماتية، ومديرية الرقابة الداخلية، ومديرية الشؤون القانونية والتشـريعية) ومديريـات
            أخرى.. ويتبع كل مديرية من هذه المديريات مجموعة من الدوائر تكون مهامها الوظيفية مرتبطة بنوع العمل والمهمة
            التي تنهض بها من مجمل المهام التي تختص بها هذه الجهة.</p>
        <p>من مهام الجهة وزارة/هيئة</p>
        <ol>
            <li>إجراء تقييم عام للموظفين في وحدات الجهاز الإداري للعاملين في الدولة وفقًا لمعايير دقيقة.</li>
            <li>العمل على توفير بيئة مناسبة للنهوض بمستوى الخدمات العامة وتحديد أساليب قياس كفاءة وجودة الخدمة
                المقدمة مع اعتماد محددات ومؤشرات الأداء والتقييم.</li>
            <li>بحث ومراجعة وتقييم السياسات والخطط العامة للوظيفة العامة في الدولة والإجراءات اللازمة لتنفيذها
                وتطويرها ورفعها إلى المجلس الأعلى للوظيفة العامة، ومراجعة طرق شغل الوظائف القيادية والقوانين الحاكمة
                بما يسمح بوضع آليات اختيار القادة تقوم على عناصر القدرات العلمية.</li>
            <li>تنظيم وحصر الموظفين في وحدات الجهاز الإداري للدولة.</li>
            <li>تنفيذ السياسات والخطط العامة للتوظيف في الجهات العامة للدولة ووضع الأسس والمعايير المتعلقة بالاختيار
                للعمل في الوظيفة العامة.</li>
            <li>تنمية الموارد البشرية وضمان الاستخدام الأمثل للقوى البشرية.</li>
            <li>توفير الحوافز الداعمة لتطوير وتحديث الأنماط السلوكية للموظفين في وحدات الجهاز الإداري للدولة لرفع
                كفاءتهم.</li>
            <li class="ws-index">إجراء الدراسات للقوانين الحاكمة للجهاز الإداري للدولة وإجراء دراسة الأجور والعلاوات
                والبدلات
                والمكافآت والتعويضات بالتنسيق مع وزارتي المالية وهيئة تخطيط الدولة بما يحقق الربط الكامل بينها وبين
                الانجاز وتحقيق سياسة الثواب والعقاب.</li>
            <li>وضع التوجيهـات العامـة للتدريب الإداري والربط بينه وبين تطبيق آليات العصر وتفعيل التدريب المستمر
                وربطه بالاحتياجات العلمية وتحديد أساليب التنفيذ بالتعاون مع الجهات المهتمة بالتدريب ومتابعة تنفيذها.
            </li>
            <li class="ws2">إعداد برامج تدريب القادة الإداريين لخلق كوادر قادرة على التعامل بأساليب الإدارة الحديثة
                ولديها روح
                الابتكار والتطوير وتحمل المسؤولية وإزالة العوائق والعقبات وتيسير التعامل مع التركيز على بناء الصف
                الأول والثاني.</li>
            <li>اقتراح مشـروعات القوانـين الناظمـة للوظيفـة العامـة والتعديلات اللازمة ورفعها إلى الجهات المختصة
                لإقرارها.</li>
            <li>إعداد مشـروعات الهيـاكل التنظيميـة لوحدات الجهاز الإداري للدولة ومتابعة التعديل والتحديث.</li>
            <li>إعداد أسس توصيف وترتيب الوظائف على مستوى وحدات الجهاز الإداري في الدولة بالتنسيق مع الجهات ذات
                العلاقة.</li>
            <li>إعداد مشـروعات الخـطط الوظيفيـة (إحداث - تعديل - إلغاء) لوحدات الجهاز الإداري للدولة بالتنسيق مع
                الجهات ذات العلاقة.</li>
            <li>مراقبة ومتابعة تنفيذ قوانين الوظيفة العامة ولوائحها وإصدار التعاميم والنشـرات والأدلة اللازمة لضمان
                سلامة وحسن تنفيذ وإعداد التقارير الدورية بنتائج المراقبة والمتابعة.</li>
            <li>المشاركة في إعداد الخطط الخمسية والسنوية لتأهيل وتدريب القوى البشـرية العاملة في وحدات الجهاز
                الإداري للدولة بالتنسيق مع الجهات ذات العلاقة.</li>
            <li>القيام بالدراسات والبحوث الهادفة لتبسيط إجراءات العمل وتحديد أسس ثابتة بمعدلات الأداء.</li>
            <li>إعداد خطط التنمية والإصلاح الوظيفي المستمر ورفعها إلى المجلس الأعلى للوظيفة العامة تمهيدا لاعتمادها
                من مجلس الوزراء.</li>
            <li>العمل على تحفيز واستقطاب الخبرات السورية في الخارج للعمل في الوظيفة العامة في الدولة.</li>
            <li>تقديم الاستشارة وإبداء الرأي لوحدات الجهاز الإداري في الدولة.</li>
            <li>دراسة الموضوعات المقرر عرضها على المجلس الأعلى للوظيفة العامة ومتابعة تنفيذ قراراتها.</li>
            <li>بحث ودراسة الشكاوى والتظلمات المقدمة من الموظفين في وحدات الجهاز الإداري للدولة ورفع المقترحات
                للمجلس الأعلى للوظيفة العامة لاتخاذ القرار بما لا يتعارض مع اختصاص بعض الأجهزة الأخرى وبالتنسيق
                معها.</li>
            <li>تأسيس تشغيل ومتابعة تحديث بوابة الحكومة الالكترونية على شبكة المعلومات الدولية.</li>
            <li>وضع وتنفيذ برنامج إتاحة الخدمات الحكومية من خلال روافد جديدة ومتعددة مثل شبكة المعلومات الدولية -
                الانترنت، وخدمة التليفون، الثابت والمحمول، ومراكز تقديم الخدمات.</li>
            <li>التنسيق بينها وبين المؤسسات العلمية والوكالات والمراكز البحثية - الوطنية والأجنبية - المختصة بتنمية
                الموارد البشرية وتطويرها وتفعيل التعاون بينها.</li>

        </ol>
        <h2>ثانيًا: تجارب دولية:</h2>

        <p>يركز هذا الجزء من الدراسة على عرض موجز لبعض التجارب الدولية في الإصلاح الإداري التي تستهدف تطوير وتحسين
            الأداء والإنتاجية في أجهزة القطاع العام. ويشمل العرض تجربة الولايات المتحدة الأمريكية في الميدان تنظيم
            الجهاز التنفيذي، وميدان مراجعة أداء الأجهزة التنفيذية كما يشمل العرض (بإيجاز) تجربة كندا ونيوزيلندا
            وأستراليا وبريطانيا. </p>
        <h2>1ـ تجربة الولايات المتحدة الأمريكية</h2>
        <p>تتكون هذه التجربة من شقين: الشق الأول يتعلق بتجربة تنظيم الجهاز التنفيذي، والشق الثاني يتعلق بمراجعة أداء
            الأجهزة في الحكومة الفيدرالية الامريكية كما سيتم ايضاحه. </p>
        <h2>أ- التجربة الامريكية في الميدان تنظيم الجهاز التنفيذي </h2>
        <p>انصب هذا الجهد على تنظيم الجهاز التنفيذي للحكومة الأمريكية الفيدرالية، وتم بمعرفة ما سمي بـ «لجنة هوفر الأولى
            (1947، 1949م)». وكان هدف التنظيم دراسة طرق وأساليب الأداء في الأجهزة التنفيذية الفيدرالية، بهدف الوصول إلى
            تحسين أدائها وترشيد أوجه مصـروفاتها. وتبنى هذا التوجه التنظيمي مدخل الإصلاح الشامل للأجهزة التنفيذية. كما تم
            التركيز على جوانب خمسة:</p>
        <ul>
            <li>التوازن بين الصلاحيات والمسؤوليات.</li>
            <li>أدوات الإدارة مثل: المالية، الوظائف والموظفين، الخدمات العامة، حفظ الوثائق والتقارير العامة، التداخل
                والازدواجية في الأجهزة العامة.</li>
            <li>اللامركزية في التنفيذ تحت مظلة إشراف مركزي.</li>
            <li>إعادة تنظيم الأجهزة التنفيذية. </li>

        </ul>
        <p>واعتمدت الدراسة على أسلوب فرق العمل المتخصصة والمتنوعة من جهات متفرقة ذات علاقة. وقامت الفرق المتخصصة بتقديم
            تقاريرها للجنة الرئيسة التي تقود هذه الفرق. وتم التوصل إلى (273) توصية شملت الجوانب الخمسة للدراسة التي سبق
            بيانها. ومن أهم النتائج والتوصيات التي أفرزتها الدراسة ما يلي: </p>
        <ol>
            <li>هناك عدم توازن بين مسؤوليات الرؤساء في الأجهزة وبين الصلاحيات المعطاة لهم. بما يحول دون تحقيق الأهداف
                المرسومة مثل (مديري المركز العلمية بالجامعة وعمداء الكليات)، لذلك تمت التوصية بمنح صلاحيات كافية
                للمسؤولين في الأجهزة التنفيذية في مجالات إعادة التنظيم، وفي التعامل مع الموظفين، والنواحي المالية.</li>
            <li>هناك قصور في أسلوب اعداد الميزانية، والرقابة والمحاسبة، وإجراءات تحديد الاعتمادات المالية وإجراءات
                الإيرادات، والتكاليف التشغيلية، والاعانات في الميزانية، وتمت التوصية بتبني ميزانية الأداء وتبسيط إجراءات
                مناقشة الاعتمادات المالية، ووضع نظام متكامل وفاعل لإعداد ميزانيات الأجهزة التنفيذية، بما يسهم في تخفيض
                تكاليف الرقابة على التنفيذ.</li>
            <li>هناك مركزية مخلة في التوظيف، وهناك نقص في التصنيف والوظائف، وفي معايير التوظيف. وتمت التوصية بتيسير
                الإجراءات العامة، وتعزيز مبدأ الجدارة في اختيار الموظفين، إلى جانب إتباع مبدأ اللامركزية في التوظيف
                وتصنيف الوظائف.</li>
            <li>هناك تداخل وازدواج في الأنشطة، وهناك أنشطة في الأجهزة لا رابط ولا تنسيق بينها، وهناك عدم وضوح في الأهداف
                التي يراد تحقيقها. وتمت التوصية بإعادة التنظيم على مبدأ جمع الخدمات والنشاطات المتماثلة وإزالة الازدواج،
                وتقليص عدد الأجهزة التنفيذية بما يزيل تضخم تلك الأجهزة مع التركيز على توافر الفاعلية في أدائها والتنسيق
                في نشاطاتها والخدمات التي تقدمها.</li>
        </ol>
        <h2>ب- التجربة الأمريكية في ميدان مراجعة الأجهزة التنفيذية </h2>
        <p>هدفت هذه التجربة إلى بناء جهاز حكومي قادر على تقديم خدمات عامة متميزة بتكلفة أقل، وتبنت الدراسة مدخل الإصلاح
            الشامل للأجهزة التنفيذية، والتركيز على أساليب الأداء والعمليات الإدارية والمعوقات التي تصاحبها. كما ركزت
            الدراسة على إعادة تشكيل ثقافة المنظمات التنفيذية بما يخدم المستفيدين في المقام الأول.</p>
        <p>كما اتبعت الدراسة منهجية قامت على مرحلتين. ففي المرحلة الأولى تم تشكيل فريق عمل لمشـروع الإصلاح مكون من 250
            عضو من ذوي الخبرة والتأهيل من الأجهزة العامة وتفرعت عن الفريق الرئيس مجموعة فرق للدراسة. واسند المجموعة من
            الفرق دراسة الأنظمة والإجراءات والقضايا العامة التي تسير العمل في جميع الأجهزة التنفيذية. </p>
        <h2>تجربة كندا ونيوزلندا وأستراليا وبريطانيا:</h2>
        <p>في عام 1990م تبنت كل من كندا ونيوزيلاندا وبريطانيا وأستراليا اصلاحًا إداريًا ركز على مفهوم الإدارة لتحقيق
            لنتائج وكان هدف مشـروع الإصلاح زيادة الكفاءة والفاعلية في الأداء والإنتاجية في الأجهزة العامة وكذلك تعزيز
            مبدأ المساءلة أو المحاسبة الإدارية وكان مدخل المشـروع هو الإصلاح الشامل بحيث يتم اعطاءه الصلاحيات واسعة
            لرؤساء الأجهزة التنفيذية كتلك التي تعطي لرؤساء الأجهزة في القطاع الخاص، وأن تتم محاسبتهم على النتائج لذلك تم
            مطالبة كل جهاز بثلاثة أمور:</p>
        <ul>
            <li class="ws">اعداد خطط استراتيجية لتوضيح رسالة أو هدف كل جهاز لموظفي الجهاز والمستفيدين منه.</li>
            <li class="ws">وضع خطط تشغيلية لترجمة الاستراتيجيات إلى أهداف تفصيلية. مرتبطة بالجهاز المستهدف. </li>
            <li>استخدام مقاييس الأداء لتحقق من تقدم الجهاز نحو تحقيق الأهداف.</li>

        </ul>
        <p>ويمكن ايجاز أبرز نتائج هذه التجارب بما يلي: </p>
        <ul style="list-style: square;">
            <li>ظهرت أهمية تعزيز قياس الأداء لتحسين الإنتاجية لذلك تبنت الدول سياسة المحاسبة على أساس النتائج المتحققة
                من تلك المتفق عليها في اتفاقية الأداء. واتفاقية الأداء يتم بمقتضاها تحديد النتائج التي ترغب الدولة
                تحقيقها من كل جهاز وفي ضوء ما يتحقق من نتائج تتم المساءلة الإدارية على أن يترك لرئيس كل جهاز رسم
                الاستراتيجيات التي سيتبعها في تحقيق النتائج المطلوبة. </li>
            <li>ترتب على أسلوب المحاسبة والمساءلة طبقًا للنتائج ضرورة التخلص من الرقابة المركزية التفصيلية على النفقات
                التشغيلية والتخلص من وجود سقف للموظفين في الجهاز ومنح المسؤولين صلاحيات كافية لاستثمار مواردهم في
                الميزانيـة بشـرط ألا يتم تجاوز سقف الميزانية المحدد للجهاز. </li>
            <li>تبين أن تتغير ثقافة الجهاز للتركيز على تحقيق النتائج ليس بالأمر الهين ويحتاج وقتًا ليس بالقصير كما أنه
                يتطلب تعزيز قدرة رؤساء الأجهزة في أداء مهام الجهاز وواجباته كما تبين ضرورة بناء نظام معلوماتي القرارات
                الغير مشـروعة الصادرة عن الوزراء والرؤساء التي تسبب الغاءها من القضاء وتحميل الجهات تعويضات وفي عدم
                وعيهم القانوني، وتوفير تدريب لجميع فئات العاملين واستخدم تقارير عن المعلومات وقياس الأداء وتطبيق جوانب
                إصلاحية أخرى. </li>
            <li>تبين أن التوجه نحو التركيز على النتائج يتطلب وجود جهة مركزية تعطي التوجيهات للأجهزة التنفيذية لكي
                تساعدها على تطبيق المنافع الناجمة عن الإصلاح من وجهة نظر مسؤولي الأجهزة التنفيذية التي تطبق الإصلاح
                الإداري.</li>
            <li>نتج عن الإصلاح في هذه الدول منح المديرين المنفذين مرونة كافية في استغلال الموارد المتاحة لهم في
                الميزانية لتحقيق النتائج وقامت الدول بتسهيل إجراءات شؤون الموظفين، وتحويل كثير من الصلاحيات ذات العلاقة
                بالتوظيف من الإدارات المركزية للتوظيف إلى التنفيذية مثل: إجراءات الترقية، تصنيف الوظائف، وتحديد الرواتب،
                كما تم مطالبة هذه الأجهزة باتباع الأساليب الحديثة في الإدارة لتعزيز جودة الإنتاجية وانعكست هذه المرونة
                بشكل إيجابي على إيجاد حوافز لدى الجهاز لترشيد الانفاق واستغلال الأمثل للمصادر المتاحة له.</li>
            <li>قامت هذه الدول باستخدام مقاييس الأداء من أجل المساءلة من خلال نشـر قياس جودة الخدمات للمستفيدين كما فعلت
                بريطانيا وكندا. فيتم الاتفاق على مستوى الأداء بين الإدارة العليا والإدارات التنفيذية وتؤخذ النتائج
                أساسًا للمساءلة والمحاسبة الإدارية. ثم قيام أجهزة التنفيذ برفع تقارير بنتائج أدائها للأجهزة الرقابية.
            </li>

        </ul>
    </div>
    <!-- <hr> -->
    <!-- <div class="publisher-name">
        <h1>الباحث:</h1>
        <h2></h2>
    </div> -->
</div>
{% endblock %}