{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="top-of-study">
        <a href="{% url 'index' %}">المركز التأسيسي</a>/<a href="{% url 'studies' %}">الدراسات</a>/<span>تجربة ماليزيا في الإصلاح الإداري</span>
    </div>
    <div class="studies-flex">
        <div class="first-page">
            <a href="#img-id" class="hidden-row"><i class="fa-solid fa-arrow-up-long"></i></a>
            <!-- <h1>الحياة في اليمن</h1> -->
            <p class="p-img"> تجربة ماليزيا في الإصلاح الإداري</p>
                <div class="date-info">
                    <span>20 سبتمبر 2023</span>
                </div>
                <span class="pub">د/ أحمد محمد عبد الله ناصر</span>
            <img src="{% static 'imgs/maly2.webp' %}" alt="" id="img-id">
            
            <div class="full-text">
                <p>تقع ماليزيا في الجنوب الشـرقي لقارة آسيا، قرب الخطّ الاستوائي، وهي مكوّنة من منطقتين أساسيتين، هما: ماليزيا
                    الشـرقية والغربية، ولايتي «صباح»، و«ساراواك»، أما بقيّة الولايات تقع في ماليزيا الغربية، التي تُسمّى شبه
                    جزيرة ماليزيا، من الشمال يحدّها البحر الصيني الجنوبي وجزيرة تايلاند، وفي جنوبها سنغافورة و«أندونيسيا»، بينما
                    في غربها مضيق ملقة وفي الشـرق بروني دار السلام، هذه الدولة الاتحادية التي في قلب شرق آسيا عبارة عن 13 ولاية،
                    وعاصمتها الفدرالية كوالالمبور<a href="#1"><span><sup
                                title="محمد، حسام الدين إبراهيم. وجولتكين، دوغان دليل: التجربة الماليزية في التنمية المستدامة- المجال التعليمي أنموذجًا، مجلة الدراسات الإسلامية والإنسانية، مجلد 1، العدد 2، 2021، ص190.">[1]</sup></span></a>.
                </p>
                <p>حققت التجربة الماليزيـة في العقـود الأربعـة الماضـية قفـزات هائلـة في التنمية البشـرية وفي الاقتصاد، وأصـبحت
                    الدولـة الـصناعية الأولى في العـالم الإسلامي، وكذلك في الصادرات والواردات، حيـث تعتمـد صـادراتها عـلى
                    الصناعة بنـسبة %85−80، وتمكنت ماليزيا من إقامة بنية تحتية متطـورة، ومـن تنويـع مـصادر دخلهـا القـومي مـن
                    الـصناعة والزراعـة والمعـادن والـنفط والسياحة، مما وفر لها بنية اقتصادية متينة، ونجحـت إلى حـد كبـير في
                    عـلاج مشاكل الفقر والأمية والبطالة وغيرها، واللافت للنظر أن هذه النجاحـات تحققت في بيئة حساسة وبالغة التعقيد
                    طائفيًا وعرقيـًا<a href="#2"><span><sup
                                title="صالح، محسن محمد: النهوض الماليزي قراءة في الخلفيات ومعالم التطور الاقتصادي، مركز الإمارات للدراسات الاستراتيجية، العدد 136، الإمارات العربية المتحدة، 2008، ص7.">[2]</sup></span></a>.
        
                </p>
                <h2>أولًا: سياسات الإصلاح في ماليزيا:</h2>
                <p>صممت ماليزيا عددًا من الخطط والسياسات في إطار إصلاح البلاد، وقد كانت هذه الخطط من أجل توجيه إدارة قومية موحدة
                    في المدة 1970 – 2010م، وتضمنت بذلك خططًا تنموية على آجال طويلة ومتوسطة وقصيرة، ونذكر أهم الخطط والإجراءات
                    التي طبقتها ماليزيا خلال هذه المدة فيما يلي<a href="#3"><span><sup
                                title="طحاوري، محمد، 2014، 239.">[3]</sup></span></a>:</p>
                <h2 class="special-title">1- السياسة الاقتصادية الجديدة 1971 – 1990م</h2>
                <p>وضعت هذه السياسية عقب أحداث 13 مايو 1969، التي ركزت على تحسين الأوضاع الاقتصادية الماليزية عامة والعمل على
                    معالجة مشكلة الفقر، مع إعطاء الأولوية للماليزيين من أصول ملاوية، وإدماجهم في الأنشطة الاقتصادية واشتمل
                    الإطار الاقتصادي لهذا المنظور على التنمية الاقتصادية مع الحرص على تنوع الاقتصاد بهدف تحقيق التوازن
                    الاقتصادي، أما استراتيجية التصنيع فاستهدفت التحول من إحلال الواردات إلى الاعتماد على التصدير، والربط بين
                    التنمية الاقتصادية والعدالة في توزيع الثروة وتعزيز تنمية الموارد البشرية.</p>
                <h2 class="special-title">2- السياسة الوطنية 1991 – 2000م: </h2>
                <p>جاءت هذه السياسة بمقام استمرار للسياسة الاقتصادية الجديدة، فاستهدفت تطوير الموارد البشـرية وتنميتها، إلى جانب
                    فاعلية الاستثمار، فضلًا عن استهداف الحفاظ على النمو المتوازن، وتعزيز التكنولوجيا الصناعية، وزيادة الاستثمار
                    في البحث والتطوير، وتحسين القدرات التنافسية الدولية، بينما ظلت الأهداف الوطنية تركز على محاربة الفقر وتنمية
                    الموارد البشرية<a href="#4"><span><sup
                                title="السعيد وآخرون، تجربة الإصلاح في ماليزيا والدروس المستفادة، مجلة اقتصاد المال والأعمال، مجلد3، العدد4، 2020، ص103.">[4]</sup></span></a>.
                </p>
                <h2 class="special-title">3- سياسة الرؤية الجديدة 2000 – 2010م: </h2>
                <p>ركزت هذه السياسة على بناء الأمة الماليزية وتوحيد أعراقها، وتعزيز العدالة الاجتماعية والمشاركة الإيجابية في
                    المنافسة العالمية وتطوير الاقتصاد القائم على المعرفة وتعزيز الموارد البشـرية، والمحافظـة على البيئـة وتحقيق
                    التنميـة المسـتدامة، وقد استهدفت خطط هذه السياسة تحقيق الأهداف الآتية:</p>
                <ul>
                    <li>استقرار الاقتصاد الكلي.</li>
                    <li>اجتثاث الفقر وإعادة هيكلة المجتمع.</li>
                    <li>توسيع استخدام تكنولوجيا المعلومات والاتصالات.</li>
                    <li>إنجاز تنمية مستديمة.</li>
                    <li>تفعل القيم الأخلاقية في العمل. </li>
                </ul>
                <h2 class="special-title">4-الرؤية المستقبلية الاستراتيجية 2020: </h2>
                <p>تعكس الرؤية الاستراتيجية والتصور المستقبلي لماليزيا بحلول عام 2020م والتحديات التي يجب الاستجابة لها لتحقيق
                    الطموحات القومية المتمثلة في الأهداف الآتية<a href="#5"><span><sup
                                title="السعيد وآخرون، تجربة الإصلاح في ماليزيا والدروس المستفادة، مجلة اقتصاد المال والأعمال، مجلد3، العدد4، 2020، ص104.">[5]</sup></span></a>:
                </p>
                <ol>
                    <li>بناء دولة ماليزية متحدة وقوية.</li>
                    <li>بناء مجتمع ماليزي متقدم وناضج ديمقراطياً.</li>
                    <li>تحقيق التنمية الشاملة في البلاد.</li>
                    <li>دعم القدرة التنافسية الماليزية في مقابل الدول المتقدمة.</li>
                    <li>التغلب على نقاط الضعف الاقتصادية والاستثمار في القدرات والإمكانات المتاحة.</li>
                    <li>الاهتمام البالغ بحماية البيئة لاسيما خلال العصـر الحالي مع إعطاء الأولوية للحفاظ على الموارد الطبيعية
                        لماليزيا ودعم النمو الاقتصادي مستوى الدخل وتحسينه.</li>
                    <li>خلق مجتمع رقمي فعال قائم على أحدث التكنولوجيا.</li>
        
                </ol>
                <h2>ثانيًا: مجالات الإصلاح الإداري: </h2>
                <p>تعددت مجالات الإصلاح الإداري في المراحل التاريخية كافة؛ للإصلاح الإداري في ماليزيا بدئًا بالإصلاح والهيكلة
                    وإعادة البناء التنظيمي، وبناء الموارد البشـرية والأنظمة والسياسات والإجراءات الإدارية، ومكافحة الفساد،
                    والعناية بالجودة والتكنولوجيا والخدمات الإلكترونية والتعليم، ولكن سـوف نقتـصر على ذكر بعضها وذلك على النحو
                    الآتي:</p>
                <h2 class="special-title">1- الإصلاحات في مجال التطوير المؤسـسي:</h2>
                <p>ركزت الجهـود الإصلاحيـة الأولى في ماليزيا على التطـوير المؤسسـي وبناء القدرات، وقد أسفرت هذه الجهـود إلى
                    إنشـاء «وحدة التطـوير المؤسـسي» التي تولت مسـؤولية متابعـة تطبيـق الإصلاحات التي يعدها الباحثون من أبرز
                    الأدوات التي وضعت أسس سياسات التدريب وبناء القدرات في القطاع العام، كما توالت العملية التنظيمية في ماليزيا،
                    حيث أُنشئت (المؤسسة الوطنية للإدارة العامة) في عام 1972م، كما أُنشئت وحدة التخطيط والتطوير الإداري في العام
                    1977م، وفي العام 1981م جرى إطلاق سياسة ماليزيا الموحدة، وفي عام 1991م جرى إطلاق مجلس الأعمال الماليزي الذي
                    يعد الركن الأساسي ونقطة الانطلاق لحركة الإصلاح خلال التسعينيات، وتجدر الإشارة إلى أنه وتزامنًا مع انطلاق
                    المجلس وضعت رؤية ماليزيا 2020 التي هدفت إلى وضع سياسات وبرامج وخطط تضع ماليزيا في مصاف الدول المتقدمة
                    تنمويًا بحلول العام 2020م<a href="#6"><span><sup
                                title="ملاعب، عمر: الإصلاح الإداري مدخلاً لتصويب المسار التنموي تجارب دولية، مجلة دراسات تنموية، المعهد العربي للتخطيط، العدد62، الكويت، 2019، ص46.">[6]</sup></span></a>.
        
                </p>
                <h2 class="special-title">2- الإصلاح الإداري في مجال الجودة في القطاع العام: </h2>
                <p>عن طريق مسار ماليزيا في الشـراكة بين القطاعين العام والخاص ومن خلال إدخال الإصلاحات الإدارية منذ عام 1966م تم
                    في عام 1993م إطلاق برنامج (الجودة في القطاع العام) الذي يهدف إلى تقديم خدمات حكومية مبنية على الجودة، وحيث
                    يستطيع العميل تقييم الخدمة، ومن ثَمَّ يأخذ هذا التقييم حيزًا أساسيًا في عملية تقييم الهيئة العامة من قبل
                    الحكومة، وترافق هذا البرنامج مع اعتماد تطوير أنظمة الجودة وإدخال معايير قياس الجودة (9000ISO) إلى المؤسسات
                    الحكومية؛ بهدف تقديم خدمة أفضل للمستفيدين.</p>
                <p>كما ركزت الحكومة الماليزية على العمل بمبادئ الجود ة ومفاهيمها التي تهتم بتحسين العمل والإنتاج من سلع وخدمات
                    بجودة ودقة عالية بدون أي تأخير في التسليم، مع الاهتمام بنشـر ثقافة الوقاية من الأخطاء قبل حدوثها، والعمل
                    بروح الفريق الواحد مع اختصار الإجراءات الإدارية، وعدم جعل المعاملة تمر بإجراءات وموظفين كثر، وهذا من شأنه
                    تسـريع الإنجاز وعدم التأخير وعدم ترك الفرصة للتلاعب والتحايل والانتفاع المادي والمعنوي من طرف بعض الموظفين
                    غير المنضبطين<a href="#7"><span><sup
                                title="ملاعب، عمر: الإصلاح الإداري مدخلاً لتصويب المسار التنموي تجارب دولية، مجلة دراسات تنموية، المعهد العربي للتخطيط، العدد62، الكويت، 2019، ص46.">[7]</sup></span></a>.
                </p>
                <p>كما بدأت التنمية في التسعينيات مع إعلان الحكومة الماليزية ليوم 11 أكتوبر (يوم الجودة) وعده يوم العاملين في
                    الخدمة، ويحتفل به في جميع المستويات عن طريق إجراء محادثات ومناقشات بشأن أنشطة إدارة الجودة وغيرها من الأنشطة
                    المتعلقة بالإنتاجية ونوعية العمل في المنظمات، وذلك خلال يوم مفتوح للعاملين.</p>
                <h2 class="special-title">3- الإصلاح في مجال التعليم: </h2>
                <p>لقد اهتمّت ماليزيا بتطوير قطاع التعليم منذ السبعينيات إلى يومنا هذا؛ لتجعل من مخرجاتها البشـرية ذات خبرة
                    والكفاءة؛ كي تسدّ احتياجاتها في مسيرتها التنموية، بالإضافة إلى زيادة مستوى مواطنيها التعليمي، والدليل في ذلك
                    هو وجود أكثر من 80 جامعة ماليزية حكومية وخاصة، تصنّف أكثرها في مرتبات عالية عالميًا، المنهج الذي اتبعته
                    الحكومات الماليزية المتعاقبة في قطاع التعليم الذي يهدف إلى التنميـة البشـرية في البـلاد أظهر مشاريع عديدة في
                    القطاع، وقد نفذته الحكومات دون توقف وتراجع للوصول إلى الغاية المستهدفة، ولعلّ أبرز تلك المشاريع التعليميـة:
                    مشـروع المدارس الذكيـة: الهـدف من هذا المشـروع هو إعـادة تأهيـل المدارس الحكومية؛ كي تكون مدارس ذكية تتوافق
                    مع التطورات الحديثة في النظم التعليمية في العالم، بدأ الابتكار في قطاع التعليم، أي: مشـروع المدارس الذكية في
                    عام 1996م، وهدف تلك المدارس هو أن تتوافر فيها موارد دراسية تساعد الطلبة على تطوير مهاراتهم واستيعاب التقنية،
                    وكذلك كان يدمج مع المشـروع استخدام التكنولوجيا والمعلومات والاتصالات في المدارس <a href="#8"><span><sup
                                title="محمد، حسام الدين إبراهيم. وجولتكين، دوغان دليل، مرجع سابق، ص197.">[8]</sup></span></a>.
                </p>
                <h2>ثالثًا: عوامل نجاح التجربة الماليزية:</h2>
                <img class="spe-img" src="{% static 'imgs/mk4.png' %}" alt="">
                <h2>1- القيادة السياسية: </h2>
                <p>تهيأ لماليزيا عدد من القيادات السياسية المتميزة منـذ الاسـتقلال حتـى الآن، وقد تميزت هذه القيادات بأنهـا
                    مثقفـة ومتعلمـة وقـادرة عـلى العمـل لتحقيق المصالح العليا للدولة، في ضوء استيعاب عميـق لتعقيـدات الوضـع
                    الداخلي وحساسياته، ومجموعة الحسابات الإقليمية والدولية، وكان من أهم مزايا القيادة الماليزية أنها تعرف ماذا
                    تريـد، ولا تبـالغ في تقـدير الإمكانات المتاحة، وهي مستعدة للعمل الحثيث التدريجي الهادئ الـذي على الرغـم أنـه
                    كـان يتسم أحيانًا بالبطء، فإنه كان يسير في الاتجاه الصحيح <a href="#9"><span><sup
                                title="صالح، محسن محمد، مرجع سابق، ص17.">[9]</sup></span></a>.</p>
                <h2 class="special-title">2- التعايش والمشاركة: </h2>
                <p>كان العقد الاجتماعي - الذي استطاع الماليزيون تطـويره - أحـد عنـاصر نجاح التجربة ومن أهم ضمانات استمرارها. إن
                    الاعـتراف بـالتنوع العرقـي والديني والإقرار بوجود اختلالات حقيقية في مستويات الـدخل والتعلـيم بـين فئـات
                    المجتمـع، والتوافـق عـلى ضرورة نـزع فتائـل التفجـير، وعـلاج الاختلالات بشكل هادئ وواقعي وتدريجي، كل ذلك كـان
                    مـدخلًا لتـوفير شبكة أمان واستقرار اجتماعي وسياسي، وكان من الضـروري وضع (سياسات للعملية السياسية) يكسب فيها
                    الجميـع، وقـد أسـهم وجـود قيـادات سياسية واعية ذات رؤى استراتيجية في تبني هذه (السياسة)، وترك اللعبة التي
                    تقتضـي وجـود رابـح وخـاسر التـي كثـيرًا مـا تكـون نتيجتها أن الجميع يخسـر، وكـان جـوهر فكـرة عـلاج
                    الاخـتلالات مبنيًـا عـلى تحقيـق التعـايش السلمي، وحفظ حقوق الجميع، والمشاركة في المسؤولية وفي برنامج
                    التنميـة، والفكرة مبنية على أساس زيادة أنصبة جميع الفئات، وإن بـدرجات متفاوتـة، وحل مشكلة المحرومين من خلال
                    عملية الزيادة والتوسع، وليس من خلال مصادرة حقوق الآخرين أو التضييق عليهم، أي أن الفكرة مبنية على أسـاس
                    (تكبير الكعكة)، وليس على أساس التنازع عليها<a href="#10"><span><sup
                                title="صالح، محسن محمد، مرجع سابق، ص21.">[10]</sup></span></a>.</p>
                <h2 class="special-title">3- نظام ديمقراطي: </h2>
                <p>الحكم في ماليزيا ملكي دستوري، ونظام الحكم فيدرالي، وهناك حكومة فيدرالية مركزية يرأسها رئيس الوزراء، الـذي
                    يفـوز حزبه في الانتخابات على مستوى الدولة، وهو ذو صلاحيات واسعة، كمـا أن هناك حكومـات محليـة للولايات، يرأس
                    كلًا منها رئيس الـوزراء الـذي يفـوز حزبه في الانتخابات على مستوى الولاية، وقد وفر نظام الحكم مجموعـة مـن
                    الضمانات والإجراءات التي تعطي للدولة صـبغة ملاويـة كالملكيـة ولغـة الملايو، ودين الدولة الإسلام، وتضمن سيطرة
                    الملايو عـلى الحيـاة الـسياسية والخدمة المدنية، فضلًا عن إعطائهم بعض المزايا الاقتصادية والتعليمية.</p>
                <h2 class="special-title">4-الاستثمار في الإنسان (التعليم والتدريب): </h2>
                <p>تعطي الحكومة الماليزية اهتمامًا كبيرًا بالتعليم والتدريب، كأساس للنهضة اتخذ منذ الاستقلال، وتنفق الدولة نحو
                    25% من ميزانيتها على التعليم، وأرسلت الطلاب إلى كل مكان للتعلم، ويعد هذا المعدل من أعلى معدلات الميزانيات
                    التي تمنح للتعليم في العالي، ويرى حمد جوهر حسين (مدير مركز الدراسات الاستراتيجية والدولية في ماليزيا ISIS)
                    أن التعليم كان العنصـر الأول في النجاح النسبي، وقد أكد وزير التعليم الماليزي السابق سليمان داود أن الحكومة
                    الماليزية جعلت الاستثمار في الإنسان أحد أهم أولوياتها وكان أحد أبرز التحديات هو كيفية نقل الملايو من
                    مجتمعات زراعية بسيطة إلى مجتمعات مدنية متقدمة؛ لذلك وضعت ميزانيات كبيرة للتعليم والتدريب والتأهيل، كما أكد
                    أن التعليم كانت تترافق معه التربية على معاني الانضباط والأخلاق والتعايش والتسامح، وتأهيل مواطنين يستطيعون
                    مواجهة الفساد المالي والإداري والأخلاقي، يذكر مهاتير محمد أن (التعليم مهم جدًا) <a href="#11"><span><sup
                                title="John H. Drabble: An Economic History of Malaysia, c. 1800-1990: The Transition to Modern Economic Growth (London: Macmillan Press(, 2000, P: 183">[11]</sup></span></a>.
                </p>
                <h2 class="special-title">5- الدين والدولة: </h2>
                <p>لعل من الأسباب التي ساعدت على إيجاد معادلة مقبولة ومكَّن الماليزيين هو طبيعتهم التي تميل إلى الاعتدال
                    والتسامح وعدم اللجوء إلى العنف، وعدم التسـرع، والاستعداد للوصول إلى حلول وسط، فقد كان موضوع علاقة الدين
                    بالدولة في بلد متعدد الأديان والأعراق والثقافات أمرًا يتسم بالحساسية والدقة، وفوق ذلك فإن المسلمين - على
                    الرغم من أنهم (أبناء البلد) إلا أن نسبتهم العددية عند إعلان استقلال ماليزيا - كانت في حدود نصف السكان فقط،
                    ولم تكن للصينيين قوة عددية. ففضلًا عن قوتهم ونفوذهم الاقتصادي الذي يتجاوز نفوذ الملايو المسلمين بأضعاف
                    مضاعفة، فإن النظام الديمقراطي والانتخابات الحرة وحرص أو اضطرار الحزب المسلم الحاكم (أمنو) للتحالف معهم، قد
                    أعطاهم قوة سياسية ودورًا في صياغة الاتجاهات العامة للدولة، وفي مثل هذه الأوضاع، ومع وجود قيادة للمسلمين
                    الملايو ذات ثقافة غربية كان الاتفاق على علمانية الدولة، وعلى ضمان الحريات والحقوق الدينية والثقافية لمختلف
                    الطوائف.</p>
                <p>ومن جهة أخرى فإن الدستور الماليزي تميز بمواد قل نظيرها في أي دولة أخرى، حيث عرف الدستور الملايو أنه: (الشخص
                    المسلم، الذي يتكلم لغة الملايو ويمارس عاداتهم)، ويتضح من الناحية العملية لهذا التعريف القانوني أن كل الملايو
                    مسلمون، وأن ابن الملايو الذي يترك الإسلام بالانتقال إلى دين آخر لا يعد من الناحية القانونية منتميًا إلى
                    الملايو<a href="#12"><span><sup title="صالح، محسن محمد، مرجع سابق، ص44.">[12]</sup></span></a>.</p>
                <h2 class="special-title">6- جهاز الخدمة المدنية: </h2>
                <p>يرى الفريق المتقاعد عبدالغني عزيز القائد السابق لسلاح الطيران الماليزي أن أبرز أسباب نجاح التجربة الماليزية
                    كان في وجود نظام خدمة مدنية حكومية ذي كفاءة عالية، وتمتلك ماليزيا مؤسسات تدريبية تهتم بالارتقاء بمستوى
                    موظفيها، وكذلك وحدة معنية بالتأكد من سلامة التنفيذ، ولكن الأهم من ذلك هو أنه تم تحديد بدقة مجموعة الإجراءات
                    التي يجب اتخاذها لتنفيذ أي عمل، والزمن الذي يستغرقه ذلك، وصلاحيات الموظفين.</p>
                <h2>رابعًا: دور القيادة السياسية في نجاح عملية الإصلاح الإداري:</h2>
                <p>تعد تجربة ماليزيا في عملية التنمية الاقتصادية من أضخم التجارب المتقدمة عالميًا في هذا المجال لما حققته من
                    إنجازات واسعة، وقد اعتمدت ماليزيا على سياسة الاعتماد على الذات خلال العملية التنموية، فبعد أن كانت من أفقر
                    الدول أصبحت ماليزيا من أغنى الدول التي تتبع الدول النامية خطاها من أجل النهوض الاقتصادي<a
                        href="#13"><span><sup
                                title="التلباني، أحمد محيي الدين: التجربة الاقتصادية الماليزية- التقويم والدروس المستفادة، كلية الدراسات الاقتصادية والعلوم السياسية، جامعة الإسكندرية، 2019، ص9.">[13]</sup></span></a>.
                </p>
                <p>وتعد القيادة الرشيدة والحكم الراشد في ماليزيا هي السبب الكبير وراء نجاح التنمية فيها، حيث وضعت جملة من
                    السياسات العامة الداخلية الهادفة وإتباعها بفلسفة الحكم الراشد؛ من أجل الوصول إلى أهدافها، على الرغم من عدم
                    حصولها على مساعدة ودعم الأطراف الدولية الفاعلة أو من الدول الصناعية الكبرى، ومع ذلك فكل ما سبق لم يمنعها من
                    أن تخلق فرصة حقيقية لنفسها من خلال تشجيعها للاستثمارات والحوافز الضـريبية، بالإضافة إلى اتباع أسلوب خصخصة
                    وتحسين النظام المالي واتباع سياسة تعليمية تخدم حاجات الدولة والمجتمع<a href="#14"><span><sup
                                title="محمد، 2020، 55.">[14]</sup></span></a>.</p>
                <p>وتعد مدة تولي مهاتير محمد لرئاسة الوزراء هي العلامة الفاصلة في التاريخ السياسي والاقتصادي لماليزيا؛ إذ يعد
                    رائد النهضة الماليزية لما قدم من إنجازات وسياسات عامة في سبيل تحقيق النهضة الاقتصادية لماليزيا، وتتمثل هذه
                    السياسات في تحويل ماليزيا إلى دولة صناعية بعد أن كانت دولة زراعية؛ إذ حول مهاتير بتحويل ماليزيا من دولة
                    متخلفة تتصف بالفقر الاقتصادي إلى نمر اقتصادي يساوي في تحوله التجربة التنموية في اليابان، التي كانت مصدر
                    إلهامًا لمهاتير محمد عند قيامه بعملية التنمية في ماليزيا؛ لكي تصبح دولة صناعية متطورة ضمن أكثر الدول
                    المتقدمة اقتصاديًا<a href="#15"><span><sup
                                title="جاسم، دليا صبحي، ومهدي، كاظم علي، مرجع سابق، ص1416.">[15]</sup></span></a>.
                </p>
                <p>وقد فتح مهاتير الأبواب من أجل الاستثمارات اليابانية في ماليزيا، وذلك بعد توفير الأيدي العاملة والبيئة
                    الصناعية؛ بهدف نقل تكنولوجيا اليابان إلى ماليزيا، وبذلك تصبح اليابان الثانية <a href="#16"><span><sup
                                title="مدحت، 2000، 105 – 106.">[16]</sup></span></a>؛ إذ إن اتباع مهاتير لهذه
                    الاستراتيجية هدفه تجهيز المواطن الماليزي بالتكنولوجيا والعلوم والوسائل التي تساعده على التواصل مع العالم
                    الخارجي ومواكبة التطورات في الدول الصناعية المتقدمة، بالإضافة إلى تشغيل أكبر جزء من المجتمع؛ من أجل زيادة
                    مستوى التنمية الاقتصادية للبلاد والقضاء على الفقر؛ فعمل على تقليل نسبة المواطنين الذين كانوا تحت خط الفقر
                    الذين كانوا يشكلون نسبة 52% في عام 1970م إلى نسبة 5% في عام 2005م وزيادة متوسط دخل الفرد من 1,247 دولار في
                    عام 1965م إلى 8,862 دولار في عام 2002م وانخفاض مستوى البطالة إلى 3% <a href="#17"><span><sup
                                title="الكساسبة، بلال محمد ياسين: أثر التنمية الاقتصادية على التحول الديمقراطي في دول جنوب شرق آسيا: دراسة حالة ماليزيا وسنغافورة، أطروحة دكتوراه، دار المنظومة، الأردن، 2017، ص95.">[17]</sup></span></a>.
                </p>
                <h2>خامسًا: الدروس المستفادة من التجــربة الماليزية فـي الإصلاح الإداري:</h2>
                <ul>
                    <li>وجود رؤية استراتيجية شاملة وطويلة الأمد تحدد أهداف وخطط وبرامج الإصلاح الإداري بشكل متسق ومنسق.</li>
                    <li>التزام القيادة السياسية بالإصلاح الإداري وتوفير البيئة الحاضنة له على مستوى النظام السياسي، وفصل السياسة
                        عن الإدارة. </li>
                    <li>الاهتمام بالتعليم العام والجامعي والمهني لضمان مخرجات تلبي احتياجات ومتطلبات سوق العمل.</li>
                    <li>تعزيز ثقافة الحوار والتعايش بين أديان وأعراق وأطياف المجتمع الماليزي كافة مما أوجد بيئة مستقرة أساسها
                        التسامح والتعايش والمشاركة في البناء والتنمية الشاملة.</li>
                    <li>تعزيز مبادئ النزاهة والمساءلة في المستويات كافة، ومحاربة أنواع الفساد كافة، وتفعيل دور المؤسسات
                        الرقابية.</li>
                    <li>تحديد الإجراءات الإدارية والماليـة عن طريق التوصيف الدقيق للمهام، والعمل بمفاهيم ومبادئ إدارة الجودة
                        الشاملة التي تهتم بتحسين العمل والإنتاج.</li>
                    <li>تشجيع المستثمرين المحليين والأجانب عن طريق تقديم تسهيلات وإعفاءات ضريبية. </li>
                    <li>تعزيز قدرات الموارد البشـرية في القطـاع العام عن طريق توفير فرص التدريب والتأهيـل المستمر للموظفين على
                        جميع المستويات، وزيادة معارف وقدرات ومهارات وأخلاقيات العمل، واعتماد مبدأ الجدارة في التعيين. </li>
                    <li>توظيف التقنيات الحديثة في تقديم الخدمات الحكومية، وهنا يبرز مثال نموذج الحكومة الإلكترونية وخدماتها في
                        ماليزيا.</li>
                    <li>وجود رؤية استراتيجية شاملة وطويلة الأمد تحدد أهداف وخطط وبرامج الإصلاح الإداري بشكل متسق ومنسق.</li>
                </ul>
            </div>
        </div>
        <div class="show-some-studies">
            <h3 class="show-studies-h3">مواضيع مشابهة</h3>
            <a href="{% url 'reformmethodology' %}">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/method1.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>منهجية الإصلاح الإداري</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'comprehensive_reform' %}">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/fanicial.webp' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>تقييم برنامج الإصلاح الاقتصادي والمالي والإداري الشامل في اليمن</h3>
                        
                    </div>
                </div>
            </a>
            <a href="{% url 'evolution_of_public_administration' %}">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/admini.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>تطور الإدارة العامة في إطار حقل القانون الإداري</h3>
                        
                    </div>
                </div>
            </a>
            <a href="{% url 'financial_reform_in_countries' %}">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/gold.webp' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>تجارب بعض الدول في مجال الإصلاح المال</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'implementing_e-government' %}">
                <div class="study-info-show last-one">
                    <div class="image-card">
                        <img src="{% static 'imgs/egoven.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>عوامل نجاح أو فشل تنفيذ الحكومة الإلكترونية</h3>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <h2 class="show-references">إظهار المراجع</h2>
    <div class="refrences">
        <div class="first-ref-info">
            <h2>المراجع</h2>
        </div>
        <ul>
            <li id="1">محمد، حسام الدين إبراهيم. وجولتكين، دوغان دليل: التجربة الماليزية في التنمية المستدامة- المجال
                التعليمي أنموذجًا، مجلة الدراسات الإسلامية والإنسانية، مجلد 1، العدد 2، 2021، ص190.</li>
            <li id="2">صالح، محسن محمد: النهوض الماليزي قراءة في الخلفيات ومعالم التطور الاقتصادي، مركز الإمارات للدراسات
                الاستراتيجية، العدد 136، الإمارات العربية المتحدة، 2008، ص7.</li>
            <li id="3">طحاوري، محمد، 2014، 239.</li>
            <li id="4">السعيد وآخرون، تجربة الإصلاح في ماليزيا والدروس المستفادة، مجلة اقتصاد المال والأعمال، مجلد3، العدد4،
                2020، ص103.</li>
            <li id="5">المصدر السابق، ص104.</li>
            <li id="6">ملاعب، عمر: الإصلاح الإداري مدخلاً لتصويب المسار التنموي تجارب دولية، مجلة دراسات تنموية، المعهد
                العربي للتخطيط، العدد62، الكويت، 2019، ص46.</li>
            <li id="7">المرجع السابق نفسه.</li>
            <li id="8">محمد، حسام الدين إبراهيم. وجولتكين، دوغان دليل، مرجع سابق، ص197.</li>
            <li id="9">صالح، محسن محمد، مرجع سابق، ص17.</li>
            <li id="10">المرجع السابق نفسه، ص21.</li>
            <li id="11" class="eng">John H. Drabble: An Economic History of Malaysia, c. 1800-1990: The Transition to Modern
                Economic Growth (London: Macmillan Press), 2000, P: 183</li>
            <li id="12">صالح، محسن محمد، مرجع سابق، ص44.</li>
            <li id="13">التلباني، أحمد محيي الدين: التجربة الاقتصادية الماليزية- التقويم والدروس المستفادة، كلية الدراسات
                الاقتصادية والعلوم السياسية، جامعة الإسكندرية، 2019، ص9.</li>
            <li id="14">محمد، 2020، 55.</li>
            <li id="15">جاسم، دليا صبحي، ومهدي، كاظم علي، مرجع سابق، ص1416.</li>
            <li id="16">مدحت، 2000، 105 – 106.</li>
            <li id="17">الكساسبة، بلال محمد ياسين: أثر التنمية الاقتصادية على التحول الديمقراطي في دول جنوب شرق آسيا: دراسة
                حالة ماليزيا وسنغافورة، أطروحة دكتوراه، دار المنظومة، الأردن، 2017، ص95. </li>
        </ul>
    </div>
</div>
{% endblock %}