{% extends 'base.html' %}
{% load static %}
{% block title %}| أي دور للتعليم العالي بالمغرب في التنمية الاقتصادية{% endblock %}
{% block meta_og %}
    <meta name="description" content="تفاصيل حول أي دور للتعليم العالي بالمغرب في التنمية الاقتصادية">
    <meta property="og:title" content="أي دور للتعليم العالي بالمغرب في التنمية الاقتصادية">
    <meta property="og:description" content="تفاصيل حول أي دور للتعليم العالي بالمغرب في التنمية الاقتصادية">
    <meta property="og:image" content="https://csr-yemen.com/static/imgs/Journal-16.jpg">
    <meta property="og:url" content="https://csr-yemen.com/journals/osus/articles/MoroccanHigherEducationInEconomicDevelopment">
    <meta property="og:type" content="article">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="أي دور للتعليم العالي بالمغرب في التنمية الاقتصادية">
    <meta name="twitter:description" content="تفاصيل حول أي دور للتعليم العالي بالمغرب في التنمية الاقتصادية">
    <meta name="twitter:image" content="https://csr-yemen.com/static/imgs/Journal-16.jpg">
{% endblock %}
{% block content %}
<div class="container articles">
    <div id="progress-container"
        style="position: fixed; top: 0; left: 0; width: 100%; height: 5px; background: #f0f0f0; z-index: 9999;">
        <div id="progress-bar" style="height: 100%; width: 0%; background: #C79C6F;"></div>
    </div>
    <div class="top-of-study">
        <a href="{% url 'index' %}">الرئيسية</a> <span class="first-pipe"> | </span> <a
            href="{% url 'journal_studies' %}">دراسات أُسس</a> <span class="first-pipe"> | </span> <span>أي دور للتعليم العالي بالمغرب في التنمية الاقتصادية</span>
    </div>

    <div class="studies-flex">
        <div class="first-page">


            <a href="#img-id" class="hidden-row"><i class="fa-solid fa-arrow-up-long"></i></a>
            <p class="p-img">أي دور للتعليم العالي بالمغرب في التنمية الاقتصادية</p>
            <p class="p-img2">(ورقة بحثية)</p>
            <div class="date-info">
                <span>25 سبتمبر 2025
                </span>
            </div>
            <span class="pub">د. فاطمة لمحرحر</span>
            <div class="controls">
                <div class="studies-social">
                    <div class="studies-social2">
                        <div class="twitter">
                            <a href="https://twitter.com/intent/tweet?text={{ 'أي دور للتعليم العالي بالمغرب في التنمية الاقتصادية'|urlencode }}&url={{ request.build_absolute_uri|urlencode }}"
                                target="_blank">
                                <i class="fa-brands fa-x-twitter"></i>
                            </a>

                        </div>
                        <div class="whats">
                            <a href="https://wa.me/?text={{ 'أي دور للتعليم العالي بالمغرب في التنمية الاقتصادية'|urlencode }}%20{{ request.build_absolute_uri|urlencode }}"
                                target="_blank">
                                <i class="fa-brands fa-whatsapp foot-i"></i>
                            </a>
                        </div>
                        <div class="telegram">
                            <a href="https://t.me/share/url?url={{ request.build_absolute_uri|urlencode }}&text={{ 'أي دور للتعليم العالي بالمغرب في التنمية الاقتصادية'|urlencode }}"
                                target="_blank">
                                <i class="fab fa-telegram"></i>
                            </a>

                        </div>
                        <div class="face-book">
                            <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri|urlencode }}"
                                target="_blank">
                                <i class="fa-brands fa-facebook foot-i"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="studies-controls">
                    <!-- <i class="fa-solid fa-print"></i> -->
                    <button id="increaseFont"><img src="{% static 'imgs/Zoom_IN.svg' %}" alt=""></button>
                    <button id="decreaseFont"><img src="{% static 'imgs/Zoom_OUT.svg' %}" alt=""></button>
                </div>

            </div>
            <img src="{% static 'imgs/Journal-16.jpg' %}" alt="" id="img-id">
            <div class="full-text study-3-5">
                <h2>ملخص</h2>
                    <p>نظرا لأهمية الدور الذي يلعبه التعليم العالي في عملية التنمية الاقتصادية، فإن
                        موضوع السياسات العمومية الموجهة للتعليم العالي بالمغرب، أصبح محور اهتمام الباحثين وصناع القرار كونه يهدف إلى
                        معالجة مشكلات وتحديات تحقيق التنمية الاقتصادية، وأمام الوضع المتدهور وغير المستقر لقطاع التعليم العالي
                        بالمغرب من حيث النوعية وعدم الاستثمار الأمثل في الفرص التي يتيحها هذا القطاع الاستراتيجي، تسعى هذه الورقة
                        إلى الوقوف على واقع علاقة التعليم العالي بالتنمية الاقتصادية بالمغرب، من خلال محاولة قياس مدى تأثير منظومة
                        التعليم العالي ومخرجات البحث العلمي على مختلف أوجه التنمية الاقتصادية ببلادنا، إضافة إلى اقتراح رؤية
                        مستقبلية لمتطلبات جعل الجامعة ومن خلالها التعليم العالي والبحث العلمي قاطرة للإقلاع الاقتصادي ودعامة للتنمية
                        المستدامة.
                    </p>
                    <p><strong>كلمات مفتاحية: </strong>التعليم العالي، التنمية الاقتصادية، السياسات العامة، البحث العلمي.</p>

                <p dir="ltr" lang="en-US" class="abstract">Abstract</p>
                    <p dir="ltr" lang="en-US">Given the importance of the role that higher education plays in the
                        economic development process, the issue of public policies directed at higher education in Morocco has
                        become the focus of researchers and decision-makers attention. It aims to address the problems and
                        challenges of achieving economic development, especially in light of the deteriorating and unstable
                        situation of the higher education sector in Morocco in terms of quality and the lack of optimal investment
                        in the opportunities offered by this strategic sector.</p>
                    <p dir="ltr" lang="en-US">This paper seeks to examine the reality of the relationship between
                        higher education and economic development in Morocco by measuring the impact of the higher education system
                        and the outputs of scientific research on the various aspects of economic development in the country. In
                        addition, it proposes a future vision for the requirements of making the university - and through its higher
                        education and scientific research - a driving force for economic take-off and a pillar of sustainable
                        development.</p>
                    <p dir="ltr" lang="en-US"><strong>Keywords:</strong> higher education, economic development, public policies, scientific research.</p>
                    
                    <h2>1. مقدمة </h2>
                        <p>يشهد عالم اليوم حركية وتطورات هائلة في شتى المجالات، بفضل التدفق العلمي والمعلوماتي السريع،
                            حيث أصبح العلم أداة حاسمة لدى الدول لتحقيق رقيها وازدهارها، وبلوغها مرحلة الاقتصاد المعرفي القائم على تقنية
                            المعلومات والاتصالات، وأن الدول أصبحت تركز أكثر على الرأسمال البشري لتحقيق التنمية الاقتصادية؛ خاصة في ظل
                            اتجاه النظريات الحديثة للتنمية إلى التركيز على محورية الفرد واعتبار الإنسان هو المحرك للعملية التنموية.</p>
                        <p>وضمن هذا السياق، فإن المؤسسات الجامعية ومن خلالها الأبحاث العلمية، ومراكز البحث، أضحت تلعب
                            دورا مهما في الدفع بعلجة الاقتصاد الوطني، فضلًا على أن الدول أصبحت تخصص ميزانيات معتبرة لتمويل الأبحاث
                            العلمية ودعم المشاريع الأكاديمية لما تمثله هذه الأخيرة من أهمية بالغة في الرفع من الكفاءة والفعالية وتحسين
                            الأداء، زيادة على دورها في البناء السياسي والاقتصادي والاجتماعي للدولة.</p>
                        <p>إذ يعد التعليم العالي في الدول النامية من أهم العوامل المؤثرة في التنمية، ولذا فهو يتطلب أن
                            تتبنى الحكومات في هذه الدول سياسة عمومية تعترف بأن التعليم العالي مطلب حيوي وأساسي من أجل التنمية
                            الاقتصادية.</p>
                        <p>وفي هذا الإطار، يشكل التعليم العالي أحد أهم المداخل التي يراهن عليها المغرب من أجل الدفع
                            بقاطرة التنمية الاقتصادية، بالنظر إلى إسهامه بشكل مباشر في الاستجابة للحاجات المتنامية للكفاءات القادرة على
                            مواكبة الإقلاع الاقتصادي.</p>
                        <p>ويمكن الإشارة هنا إلى أن البحت العلمي المتميز، هو الذي يصنع النهضة والتقدم كما يعتبر أحد
                            الركائز التي تعتمد عليها الشعوب لاحتلال مكانة مرموقة وتقدير بين مختلف دول العالم.</p>
                        <p>وتبرز أهمية التعليم العالي من خلال الخطب الملكية، التي أكدت على ضرورة بناء مجتمع المعرفة وجعل
                            تكوين العنصر البشري وتأهيله، سبيلا لا غنى عنه لتعزيز مسلسل التنمية الاقتصادية بالمغرب، كما أكد البرنامج
                            الحكومي على أهمية البحث العلمي في بناء مجتمع اقتصاد المعرفة من خلال استعادة ريادة الجامعة المغربية في
                            التكوين والإشعاع في البحث العلمي، وكذا ملاءمة التكوين للرفع من قابلية خريجي الجامعات وتطوير منظومة التعليم
                            العالي.</p>
                        <p>وعلى الرغم من ذلك، لا يزال التعليم العالي في المغرب لا يواكب التقدم السريع والمضطرد الذي يعرفه
                            المجتمع، ولا يرقى إلى مستوى الأهداف والطموحات التنموية، بسبب المشاكل التي تعاني منها مؤسسات البحث العلمي،
                            مثل غياب الاستقلالية في التسيير، وضعف الميزانيات المرصودة لها.</p>
                        <p>ونظرًا لأهمية الدور الذي يلعبه التعليم العالي في عملية التنمية الاقتصادية، فإن موضوع السياسات
                            العمومية الموجهة للتعليم العالي بالمغرب، أصبح محور اهتمام الباحثين وصناع القرار كونه يهدف إلى معالجة مشكلات
                            وتحديات تحقيق التنمية الاقتصادية، وأمام الوضع المتدهور وغير المستقر لقطاع التعليم العالي بالمغرب من حيث
                            النوعية وعدم الاستثمار الأمثل في الفرص التي يتيحها هذا القطاع الاستراتيجي؛ تسعى هذه الورقة إلى الوقوف على
                            واقع علاقة التعليم العالي بالتنمية الاقتصادية بالمغرب، من خلال محاولة قياس مدى تأثير منظومة التعليم العالي
                            ومخرجات البحث العلمي على مختلف أوجه التنمية الاقتصادية ببلادنا، إضافة إلى اقتراح رؤية مستقبلية لمتطلبات جعل
                            الجامعة ومن خلالها التعليم العالي والبحث العلمي قاطرة للإقلاع الاقتصادي ودعامة للتنمية المستدامة؛ من خلال
                            المحاور التالية:
                            <ul>
                                <li><span class="CharOverride-1"> التعليم العالي بالمغرب.</span></li>
                                <li><span class="CharOverride-1"> مدى مساهمة التعليم العالي في النهوض  بالتنمية الاقتصادية.</span></li>
                                <li><span class="CharOverride-1"> مستقبل التعليم العالي في ظل التغيرات التكنولوجية المتسارعة.</span></li>
                            </ul>
                        </p>
                        
                    <h2>2. واقع التعليم العالي بالمغرب</h2>
                        <p>إن للتعليم العالي دور أساسي في التنمية الاقتصادية لأي بلد، وفي أيامنا هذه ازدادت أهميته في
                            بناء مجتمع العلم والمعرفة؛ وإيمانًا بهذا الدور الحيوي والاستراتيجي، فقد انخرط المغرب في العديد من الأوراش
                            قصد تطوير التعليم العالي وتحسين جودته؛<a href="#one"><span><sup title="عبد العالي كعواشي، التعليم العالي بالمغرب عدم تحسن النوعية رغم الإصلاحات، أوراق مرجعية، قضايا النوعية في التعليم العالي في البلدان العربية، الهيئة اللبنانية للعلوم التربوية، لبنان، 2014، ص.756.">[1]</sup></span></a>
                            عبر مسلسل من الإصلاحات داخل منظومة التربية والتكوين، بدءًا بالميثاق الوطني المنظم للتعليم العالي، مرورًا
                            بالمخطط الاستعجالي وانتهاء بالرؤية الاستراتيجية (2015-2030).</p>
                        <p>وهكذا، فمنذ الاستقلال بدأ المغرب في عملية بناء نظام حديث للتعليم لتنمية البلاد، ومباشرة بعد
                            الاستقلال تم تعيين أربعة مبادئ أساسية للنظام التعليمي وهي: التعميم، والتوحيد، ومغربة الأطر، والتعريب، ومنذ
                            ذلك الوقت اعتمدت العديد من الاختيارات والتوجهات للسياسة التعليمية، وذلك بتبني سلسلة من الإصلاحات، من أبرزها:
                            تنظيم التعليم العالي الحديث من خلال إنشاء الجامعات، وإصلاح سنة 1975 حول مهام وتنظيم الجامعات، وكذلك النظام
                            الأساسي لأعضاء هيئة التدريس، وإصلاح سنة 1997 بشأن وضع النظام الأساسي للمدرسين الباحثين ونظام الدراسات العليا
                            والدكتوراه، ومقتضيات القانون «01-00» بما في ذلك اعتماد الهندسة البيداغوجية «LMD» والتي ترتكز على ثلاث
                            ديبلومات أساسية: الإجازة ثلاث سنوات والماستر يلجه الطالب بعد الحصول على الإجازة وتستمر الدراسة فيه لمدة
                            سنتين، وأخيرًا الدكتوراه حيث يتطلب التسجيل فيها الحصول على درجة الماستر ثم يحصل الطالب على شهادة الدكتوراه
                            في مدة أقصاها ست سنوات.</p>
                        <p>وفي نفس السياق، نشير إلى أن المغرب يتوفر حاليًا (56) مؤسسة جامعية للاستقطاب المفتوح و(68)
                            مؤسسة للاستقطاب المحدود، إلى جانب (70) مؤسسة لتكوين الأطر و(1,937) مؤسسة للتكوين المهني بعد البكالوريا؛<a href="#two"><span><sup title="موقع وزارة التعليم العالي والبحث العلمي والابتكار (سبتمبر 2020).(رابط الموقع في صندوق المراجع)">[2]</sup></span></a>
                            بالإضافة إلى (1,348) بُنية للبحث العلمي معتمدة من طرف مجالس الجامعات، منها (58) مركزًا للدراسات بسلك
                            الدكتوراه.<a href="#three"><span><sup title="رشيد الحسناوي، «دور الجامعة والبحث العلمي في التنمية الاقتصادية»، مجلة الفضاء الجغرافي والمجتمع المغربي، العدد 22، يونيو 2018، ص.156.">[3]</sup></span></a>
                        </p>
                        <p>إلى جانب ذلك، يضم المغرب الجامعات الخصوصية والتي وصل عددها حسب معطيات الموقع الرسمي لوزارة
                            التعليم العالي إلى حوالي خمس جامعات في إطار شراكة وخمس جامعات خاصة، بالإضافة إلى 30 مؤسسة للتعليم العالي غير
                            تابعة للجامعات، و184 مؤسسة للتعليم العالي الخاص.<a href="#four"><span><sup title="المرجع نفسه، الصفحة نفسها.">[4]</sup></span></a>
                        </p>
                        <p>وهنا، لا بد من الإشارة إلى أن سعي المجتمعات عبر العالم للاهتمام بمؤسسات التعليم العالي
                            واستحداثها ومدها بأسباب القوة والتطور، أصبح خيارًا يتصدر الأولويات الأساسية للحكومات، ويتخذ أسبقية ترقى
                            لمفهوم الأمن الوطني، كما وتسعى مؤسسات التعليم العالي في الوقت نفسه لتبرير دواعي وجودها من خلال تحقيق الاتساق
                            والموائمة بين رسالتها ورؤيتها وأهدافها مع أهداف وثوابت مجتمعاتها.<a href="#five"><span><sup title="عتيق سعيد، «الدخول الجامعي بالمغرب. أي دور للجامعات في تنمية المجتمع وتطوره»، هسبريس (سبتمبر 2018 ,مارس 2019).(رابط الموقع في صندوق المراجع)">[5]</sup></span></a>
                        </p>
                        <p>ومن هذا المنظور، يمثل التعليم العالي قمة المنظومة التعليمية ونهاية المطاف التعليمي النظامي
                            بالنسبة للطلاب والباحثين، كما يشكل حجر الزاوية للعملية التنموية للمجتمع والمؤشر الرئيسي لتقدم الشعوب
                            وازدهارها، وما فتئت أهميته تزداد وبخاصة في العقود الأخيرة.<a href="#six"><span><sup title="المرجع نفسه.">[6]</sup></span></a>
                        </p>
                        <p>ومن هذا المنطلق، أصبحت في الدول المتقدمة مؤسسات التعليم العالي موطنًا لرسم التوجهات
                            الاستراتيجية، فضلًا عن مساهمة هذه المؤسسات في التنمية الاقتصادية والاجتماعية والسياسية.</p>
                        <p>وفي هذا الإطار، يندرج التعليم العالي في المغرب تحت مسؤولية الدولة التي تتولى التخطيط له
                            وتنظيمه وتطويره وتوجيهه حسب المتطلبات الاقتصادية والاجتماعية والثقافية.</p>
                        <p>وبصفة عامة، يهدف التعليم العالي بالمغرب إلى:<a href="#sev"><span><sup title="التعليم العالي بالمغرب فعالية ونجاعة وتحديات النظام الجامعي ذي الولوج المفتوح، الهيئة الوطنية لتقييم منظومة التربية والتكوين والبحث العلمي، المجلس الأعلى للتربية والتكوين والبحث العلمي، التقرير القطاعي، 2018، ص.5-6.">[7]</sup></span></a>
                            <ul>
                                <li>تكوين الكفاءات وتطويرها وتنمية المعلومات ونشرها في جميع ميادين المعرفة.</li>
                                <li>الإسهام في التطورات العلمية والتقنية والاقتصادية مع الأخذ في الاعتبار الاحتياجات الخاصة
                                    للتنمية الاقتصادية.</li>
                                <li>التمكن من العلوم والتقنيات والمهارات وتنميتها بواسطة البحث العلمي.</li>
                                <li>الرفع من قيمة التراث الثقافي المغربي والعمل على إشعاع قيمه.</li>
                            </ul>
                        </p>
                        <p>إلا أنه
                            وعلى الرغم من البنية التحتية التي يتوفر عليها المغرب، فالتعليم العالي يعاني من مشاكل كبيرة لعل
                            أهمها، غياب التواصل بين مؤسسات التعليم العالي ومحيطها الاقتصادي في سبيل إقامة علاقات تعاون وشراكة
                            خاصة مع المقاولات، مشكل تسويق مختلف الخدمات التي تقدمها الجامعة مما يعيق تنافسيتها، إضافة إلى ضعف
                            تثمين الأنشطة الجامعية، فالجامعة تكاد تكون بعيدة عن انشغالات المقاولات لحل المشاكل التقنية
                            والتكنولوجية؛<a href="#egh"><span><sup title="رشيد الحسناوي، «دور الجامعة والبحث العلمي في التنمية الاقتصادية»، مرجع سابق، ص.156.">[8]</sup></span></a>
                            إلى جانب ذلك فالجامعات تغيب عنها سياسة التنسيق مع باقي القطاعات الوزارية من أجل فتح أفاق وظيفية
                            للخريجين.</p>
                        <p>هذا، إلى جانب انعدام أقطاب تنافسية تضم مراكز البحث والتطوير والشركات وهياكل تثمين
                            البحث والابتكار وحاضنات المقاولات المبتكرة والخدمات المشتركة، هذه التجمعات ستتيح للاقتصاد المغربي
                            الاستفادة من مجموعة من المزايا التنافسية وذلك بفضل وجود مختلف الفاعلين.<a href="#nine"><span><sup title="المرجع نفسه، الصفحة نفسها.">[9]</sup></span></a>
                        </p>
                        <p>ومن جانب أخر، كرس مشروع الإصلاح البيداغوجي الذي طبق مع بداية السنة الجامعية
                            (2003-2004) توجهات إقرار تعليم نخبوي وآخر شعبوي، من خلال تثبيت وإقرار نظام المؤسسات الجامعية ذات
                            الاستقطاب المحدود والمؤسسات ذات الاستقطاب المفتوح، وهو إقرار يضرب في العمق مبدأ توحيد التعليم العالي
                            ومبدأ تكافؤ الفرص، والتضييق على مجال التعلم أمام فئات واسعة من الطلاب.<a href="#ten"><span><sup title="عبد الحق الوسولي، «التعليم العالي المغربي بين مشاريع الإصلاح وواقع الأزمة»، النهج الديمقراطي، (مارس 2019).(رابط الموقع في صندوق المراجع)">[10]</sup></span></a>
                        </p>
                        <p>هذا، وتكشف الأرقام الرسمية بالمغرب عن وضع مؤسف ومخزي في مجال نفقات الدولة على التعليم
                            العالي والتي لا تتجاوز 0.73٪ من الناتج الداخلي الخام، وعند قراءة برامج دعم
                            البحث العلمي في المغرب ما بين (2012-2016)، يتبين أن الحصيلة غير كافية، فالنفقات الإجمالية الخاصة
                            بالبحث العلمي على المستوى الوطني لم تتجاوز (5,0460,000) درهم.<a href="#ele"><span><sup title="رشيد الحسناوي، «دور الجامعة والبحث العلمي في التنمية الاقتصادية»، مرجع سابق، ص.157.">[11]</sup></span></a>
                        </p>
                        <p>ومن المهم جدا الإشارة إلى كون أن النجاح الكبير الذي حققه مجال البحث العلمي والتكنولوجي
                            في العالم المتقدم، مرتبط بقدرة المؤسسات البحثية على التعاون في إطار البرامج والمشاريع التي تعمل معا
                            على تحقيقها في معظم الأحيان، وبعبارة أخرى فإن التعددية المؤسسية المصحوبة بشراكة قوية بين مجموعة
                            مؤسسات لا يمكن أن يكون إلا نموذجًا مثمرًا يمكن للعديد من البلدان تطويره بنجاح.<a href="#12"><span><sup title="المرجع نفسه، الصفحة نفسها.">[12]</sup></span></a>
                        </p>
                        <p>وفي خضم هذا السياق، يُبرز تطور التعليم العالي بالمغرب أن الجوانب الكمية قد أحرزت تقدما
                            ملحوظا من سنة إلى أخرى (زيادة عدد الطلاب وأعداد المدرسين الباحثين، وتمديد جغرافي للجامعات والمؤسسات،
                            وخلق أنواع جديدة من المدارس العليا، ووضع مسالك مهنية وتخصصات جديدة، وهيكلة البحث العلمي، ووضع ترسانة
                            قانونية مهمة...)؛ غير أن جوانب النوعية ما زالت مؤشراتها ضعيفة.<a href="#13"><span><sup title="عبد العالي كعواشي، التعليم العالي بالمغرب عدم تحسن النوعية رغم الإصلاحات، ص.774.">[13]</sup></span></a>
                        </p>
                        <p>وعلى العموم يمكن القول إن أسباب تردي التعليم العالي وعدم مواكبته للسياسات التنموية،
                            يرتبط بالعديد من الإكراهات والمعيقات، كغياب التخطيط الاستراتيجي لدى المؤسسات في مجالات التكوين
                            والبحث العلمي، وعدم استكمال الاستقلالية الشاملة لدى المؤسسات، وضعف الشراكة بين مؤسسات التعليم العالي
                            ومحيطها الاقتصادي والاجتماعي.<a href="#14"><span><sup title="المرجع نفسه، الصفحة نفسها.">[14]</sup></span></a>
                        </p>
                    
                    <h2>3. مدى مساهمة التعليم العالي في النهوض بالتنمية الاقتصادية</h2>
                        <p>لقد تعاظم دور مؤسسات التعليم العالي بشكل ملحوظ أكثر من ذي قبل في خدمة المجتمع
                            والارتقاء به حضاريًا لتصبح هذه المؤسسات موطنًا للفكر الإنساني ومصدرًا للتنمية الاقتصادية، وذلك من
                            خلال إعدادها للقوى البشرية ونقلها للتكنولوجيا وتحويل النظريات العلمية إلى تطبيق عملي يهدف إلى حل
                            المشكلات والتغلب على العقبات والصعوبات التي تواجه المجتمع وتعوق نهضته، حيث أن العصر الحديث تعددت فيه
                            الاهتمامات ويواجه تغيرات وتحديات مستمرة اقتصادية وسياسية وعسكرية ومعرفية وتكنولوجية مما يجعل وظائف
                            مؤسسات متعددة الجوانب.<a href="#15"><span><sup title="زينب دهيمي، مدى مساهمة البحوث العلمية الجامعية في النهوض بالتنمية المحلية، يوم دراسي، جامعة محمد خيضر، بسكرة، 2012، ص.2.">[15]</sup></span></a>
                        </p>
                        <p>وفي هذا الإطار، يتفق كثير من المتخصصين أنه منذ أمد بعيد على أن مؤسسات التعليم العالي
                            لها دور مهم في خدمة المجتمع وتنميته، عن طريق ربط البحث العلمي باحتياجات قطاعات الإنتاج
                            والخدمات.<a href="#16"><span><sup title="المرجع نفسه، الصفحة نفسها.">[16]</sup></span></a>
                        </p>
                        <p>ويرجع الاهتمام بموضوع اقتصاديات التعليم إلى الثلاثين عامًا الأخيرة، فقد بدأ
                            الاقتصاديون يربطون بين الإنفاق على التعليم ومعدل النمو الاقتصادي في المجتمع، ويعتبر الإنفاق على
                            التعليم نوعا من الإنفاق الاستثماري، حيث يترتب على هذا الإنفاق زيادة مهارات وقدرات الأفراد، وبالتالي
                            ارتفاع مستوى الإنتاج الوطني.<a href="#17"><span><sup title="حسين بن العارية، «دور التعليم في النمو الاقتصادي مع الإشارة إلى حالة الجزائر»، المستقبل العربي، بدون سنة، ص.77.">[17]</sup></span></a>
                        </p>
                        <p>وهناك اتفاق عام بين الاقتصاديين على أهمية التعليم العالي بالنسبة إلى الاقتصاد الوطني،
                            لما له من دور في زيادة معدلات النمو والتنمية الاقتصادية، وكذلك لما يشكله الإنفاق على التعليم العالي
                            من ضغط على ميزانية الدول؛ وقد قامت عدة أبحاث لإبراز إسهامات التعليم العالي في معدلات التنمية
                            الاقتصادية وحساب العائد الاقتصادي سواء على الفرد أو على مستوى المجتمع، ومن بين اهم هذه الأبحاث ما
                            قام به الاقتصاديان Shultz وDenson بإثبات أن التعليم العالي يساهم بشكل مباشر في زيادة الدخل الوطني،
                            وذلك عن طريق رفع كفاءة وإنتاجية العنصر البشري، كما أبدى البنك الدولي اهتمامًا كبيرًا بقضية التعليم
                            وأثر ذلك في رفع مستوى العنصر البشري في البلدان النامية.<a href="#18"><span><sup title="المرجع نفسه، الصفحة نفسها.">[18]</sup></span></a>
                        </p>
                        <p>وتأسيسًا على ما سبق، ساهم التعليم العالي في نهوض اقتصادي كبير في دول كانت تعد نامية في
                            منتصف القرن العشرين، بينما اليوم هي من الدول الصناعية المتقدمة، وتبرز تجربة كوريا الجنوبية مثال في
                            ذلك الاتجاه ودول جنوب وشرق آسيا، إذ ساهمت التنمية التي ارتكزت على زيادة الإنفاق على التعليم العالي
                            المرافقة لبناء اقتصاد صناعي في إحداث زيادة متسارعة في الدخل القومي ونصيب الفرد من الدخل؛<a href="#19"><span><sup title="عادل مجيد العادلي، «مساهمة التعليم في عملية الإنماء الاقتصادي في البلدان العربية»، مجلة كلية بغداد للعلوم الاقتصادية الجامعة، العدد 35، 2013، ص.49.">[19]</sup></span></a>
                            وقد شكل كل ذلك عاملا مهما في إحداث تنمية متسارعة في كل المجالات وإحداث تحولات في المجتمع.</p>
                        <p>وهنا تجب الإشارة إلى أن علاقة التعليم بالتنمية الاقتصادية لم تكن حديثة بل هي قديمة،
                            فقد تناول «ادم سميث» أهمية التعليم في كتابه ثروة الأمم، إذ يقول «إن اكتساب الفرد للمواهب أثناء
                            تعليمه ودراسته هي تكلفة حقيقية لكنها تعد بمثابة رأس مال ثابت ومتحقق في شخصه وهي ثروة شخصية والتي تعد
                            بدورها جزء من ثروة المجتمع.»<a href="#20"><span><sup title="المرجع نفسه، ص.52.">[20]</sup></span></a>
                        </p>
                        <p>وعليه يمكن القول إن التعليم العالي يساعد المجتمعات على التقدم والارتقاء لتصبح مؤسسات
                            التعليم العالي موطنًا للفكر والإبداع والتقدم والتطوير في كل متطلبات الحياة الاقتصادية.<a href="#21"><span><sup title="مصطفى أحمد سليمان السطري، دور التعليم العالي في التنمية الاقتصادية في فلسطين، رسالة لاستكمال متطلبات الحصول على درجة الماجستير في الاقتصاد، جامعة الأزهر، غزة، 2011، ص.14.">[21]</sup></span></a>
                        </p>
                        <p>وإن المتمعن في واقع القوى الاقتصادية العالمية يتبين له بجلاء كبير مدى أهمية تأهيل
                            الموارد البشرية في تقوية قطاعاتها الإنتاجية وتطوير وسائل الإنتاج وأدواته، وهكذا يقدر أن تكون مؤسسات
                            التعليم العالي أداة معتبرة وحاسمة في تكوين وتخريج الأطر الخبيرة اللازمة لدعم القدرات التنموية
                            للبلاد، ونقول بأسف إن العلاقة بين هيئات التعليم العالي والمؤسسات الوطنية الفاعلة في النسيج الاقتصادي
                            مازالت بعيدة عن المستوى المطلوب فهما يشبها خطان متوازيان لا يلتقيان.<a href="#22"><span><sup title="إدريس الشنوفي، «الجامعة والتنمية الاجتماعية والاقتصادية، المركز المغربي للدراسات والأبحاث المعاصرة، سبتمبر 2016، (مارس 2019).(رابط الموقع في صندوق المراجع)">[22]</sup></span></a>
                        </p>
                        <p>ومن هذا المنطلق، تأتي ضرورة خلق روابط ملائمة بين ثلاثة شركاء رئيسيين لتحقيق التنمية
                            الاقتصادية، الدولة باعتبارها المخطط والمشرع، ومؤسسات التعليم العالي بوصفها مراكز للبحث ومصدرا
                            للخبرات وقطاعات الإنتاج باعتبارها الممول المستفيد، وذلك وفق استراتيجية محكمة.<a href="#23"><span><sup title="المرجع نفسه، ص.5.">[23]</sup></span></a>
                        </p>
                        <p>وعمومًا، فإننا نلاحظ اليوم أن الدول الأكثر تقدما هي تلك التي استطاعت توثيق الصلة بين
                            بين مؤسسات التعليم العالي والفاعلين الاقتصاديين، حيث إن مؤسسات التعليم العالي بتعليمها التقني
                            التطبيقي تكون قد منحت التنمية الاقتصادية كفاءات ماهرة ومؤهلة تشكل أحد أهم مرتكزاتها، والتي تسهم
                            بالتأكيد في تحقيق متطلبات عملية الإنتاج والنمو الاقتصادي وتكون قادرة على تقديم قيمة مضافة وفرص جديدة
                            للدفع بالحركية الاقتصادية.<a href="#24"><span><sup title="المرجع نفسه، ص.7.">[24]</sup></span></a>
                        </p>
                        <p>وأخيرًا يمكن القول إن درجة نجاح ومصداقية التعليم العالي، تتوقف على مدى قدرته على
                            الاستجابة لما يتطلبه اقتصاد بلد ما من يد عاملة على مختلف المستويات والتخصصات، كما ينجح تأثير
                            الاقتصاد في النظام التقليدي من خلال ما يخصصه له من موارد مالية، مما يساعد هذا النظام على أداء عمله
                            بكفاءة ونجاح وذلك بوجود سياسة تعليمية مناسبة.<a href="#25"><span><sup title="حسين بن العارية، « دور التعليم في النمو الاقتصادي مع الإشارة إلى حالة الجزائر»، مرجع سابق، ص.84.">[25]</sup></span></a>
                        </p>
                    
                    <h2>4. مستقبل التعليم العالي في ظل التغيرات التكنولوجية المتسارعة</h2>
                        <p>يتسم العصر الحالي بالتطور السريع والمستمر في تزايد كم المعلومات وتنوعها وتعدد أشكالها
                            واختلاف مصادرها والتي سميت بالثورة المعلوماتية، وفي ظل التطور المذهل في إنتاج الوسائل والتقنيات
                            الحديثة للاتصالات ونقل المعلومات أصبحت هناك ضرورة لمواكبة كل هذه التغيرات والتعامل مع الثورة
                            المعلوماتية التي أثرت وبشكل واضح على مختلف الأصعدة الاقتصادية والاجتماعية والثقافية والتعليمية.<a href="#26"><span><sup title="نادية بوضياف بن زعموش، فاطمة مخلوفي، «التعليم العالي والبحث العلمي في ظل الثورة المعلوماتية وتكنولوجية الاتصال»، الملتقى الوطني الثاني حول (الحاسوب وتكنولوجية المعلومات في التعليم)، جامعة قاصدي مرباح ورقلة، مارس 2014، ص.588-589.">[26]</sup></span></a>
                        </p>
                        <p>وفي هذا السياق، يواجه قطاع التعليم العالي عدة تحديات تفرضها التطورات التي شهدتها
                            الساحة الدولية في ظل الثورة المعلوماتية وتكنولوجيا الاتصال وبهذا أصبح سوق العمل يحتاج إلى إطارات
                            تتسم بالفكر المبدع والقدرة على التكيف مع سرعة الاختراعات والمستجدات، فأصبحت مؤسسات التعليم العالي
                            ملزمة بتبني سياسة تعليمية فعالة تواكب عبرها هذا التطور الهائل في تكنولوجية المعلومات والاتصال للحاق
                            ركب التنمية.<a href="#27"><span><sup title="المرجع نفسه، ص.589.">[27]</sup></span></a>
                        </p>
                        <p>وتماشيًا مع هذا المنطق، اهتم المغرب في النصف الثاني من القرن العشرين بالتعليم بصورة
                            عامة وبالتعليم العالي بصورة خاصة الأمر الذي أدى إلى انتشار الجامعات، وأصبح التعليم العالي في المغرب
                            يتكون من تشكيلة واسعة من المؤسسات التعليمية مثل الجامعات والمعاهد والمؤسسات التعليمية المهنية، وكذلك
                            مراكز البحث العلمي وراكز التدريب.<a href="#28"><span><sup title="يوسف سعيد أحمد، « تمويل التعليم العالي ومواجهة تحديات العولمة»، المؤتمر العربي الجامعات العربية: التحديات والأفاق المستقبلية، 9-13 ديسمبر 2007، الرباط، ص.2.">[28]</sup></span></a>
                        </p>
                        <p>وعلى هذا الأساس، فإن للتعليم العالي دورًا أساسيًا في بناء الإنسان وتنميته إذ أنه يمثل
                            الركيزة الأساسية للتقدم والتطور في مختلف مجالات التنمية، لذا أصبح من الضروري أن يسعى التعليم العالي
                            إلى تزويده بالكفاءات والمهارات المناسبة حتى يقوم بدوره الكامل في إحداث التنمية الاقتصادية في ظل
                            التوجهات العالمية وقضايا العصر المتجددة التي تتسم بالسرعة في الاختراعات والتطور المعلوماتي.<a href="#29"><span><sup title="نادية بوضياف بن زعموش، فاطمة مخلوفي، «التعليم العالي والبحث العلمي في ظل الثورة المعلوماتية وتكنولوجية الاتصال»، مرجع سابق، ص.590.">[29]</sup></span></a>
                        </p>
                        <p>وجدير بالذكر هنا، إلى أن المنظومة الوطنية للبحث والابتكار خضعت لتغييرات كبيرة ذات طابع
                            سياسي واقتصادي، وترتيب هذه التغييرات عن مجموعة من العوامل ترتبط أساسًا بالانتقال من مجتمع يحتل فيه
                            الطلب الاجتماعي المرتبة الثانية إلى مجتمع أضحى فيه هذا الطلب يحتل مكانة محورية.<a href="#30"><span><sup title="رشيد الحسناوي، «دور الجامعة والبحث العلمي في التنمية الاقتصادية»، مرجع سابق، ص.161.">[30]</sup></span></a>
                        </p>
                        <p>إضافة إلى ذلك، ولإنجاح رهان التعليم العالي والبحث العلمي بالمغرب يجب، تنفيذ خطوات
                            عملية تندرج ضمن مقاربة شاملة للتميز، ونيل الاعتراف الوطن والدولي وفي مقدمتها خلق تفاعل بين مؤسسات
                            التعليم ومختلف الفاعلين في المجال الاقتصادي.</p>
                        <p>وفي هذا الإطار، يجب العمل على ملائمة العرض التكويني لمؤسسات التعليم العالي مع حاجيات
                            الاقتصاد المغربي، مثل إدخال هندسة المعلوميات التي تتضمن مضامين إبداعية ضمن وحدات مثل: «les Big Data»
                            و <span dir="ltr">«objets L’Internet»</span>،<a href="#31"><span><sup title="المرجع نفسه، ص.162.">[31]</sup></span></a> 
                            وهو ما تم بالفعل مؤخرًا في بعض التخصصات.</p>
                        <p>ومن منظور أخر، فإن عملية البحث والتطوير عملية أساسية في التعليم العالي وقد تطورت هذه
                            العملية نتيجة التقدم الحاصل في تكنولوجيا المعلومات والاتصالات، ولا بد لهذه المؤسسات من أخذ في
                            الاعتبار التغير الحاصل في طرق البحث العلمي، فقد تغيرت طريقة تحصيل المعلومات وطرق معالجتها وعرض نتائج
                            البحوث.<a href="#32"><span><sup title="نادية بوضياف بن زعموش، فاطمة مخلوفي، «التعليم العالي والبحث العلمي في ظل الثورة المعلوماتية وتكنولوجية الاتصال»، مرجع سابق، ص.606.">[32]</sup></span></a>
                        </p>
                        <p>وأخيرًا يمكن القول إن التحديات التي تواجه العالم اليوم خاصة منه العالم النامي، لا تكمن
                            في الحاجة إلى المشاركة في مجتمع المعرفة، وإنما تكمن في كيفية التطبيق الفعال والناجح لتكنولوجيا
                            المعلومات والاتصالات والتحكم في كيفية استخدامها من أجل تضييق الفجوة التنموية بين الدول المتقدمة
                            والدول النامية، إن هذه التطلعات لا يمكن تحقيقها إلا من خلال تطوير التعليم عموما والتعليم العالي
                            خصوصًا.<a href="#33"><span><sup title="المرجع نفسه، ص.607.">[33]</sup></span></a>
                        </p>
                        <p>وبالنسبة للمغرب ولضمان أداء جيد لمؤسسات التعليم العالي، لا بد من خلق آليات داخل مؤسسات
                            التعليم العالي تستجيب لمتطلبات المقاولات الوطنية والشركاء الاقتصاديين والمؤسساتيين، وكذا نشر ثقافة
                            المقاولة في صفوف الشباب، وفي هذا الإطار ينبغي وضع تسهيلًا إدارية وإجرائية للمقاول الشاب، وانفتاح
                            المقاولة المغربية على الطالب المغربي ومرافقته ميدانيًا<a href="#34"><span><sup title="رشيد الحسناوي، «دور الجامعة والبحث العلمي في التنمية الاقتصادية»، مرجع سابق، ص.162.">[34]</sup></span></a>
                            دون إغفال الاستثمار في البعد الإنساني داخل مؤسسات التعليم العالي في التعامل مع طلبتها.</p>
                                              
            </div>
        </div>
        <div class="nested-ref">
            <h2 class="show-references">إخفاء المراجع</h2>
            <div class="refrences">
                <div class="first-ref-info">
                    <h2>المراجع</h2>
                </div>
                <ul>
                    <li>عبد العالي كعواشي، التعليم العالي بالمغرب عدم تحسن النوعية رغم الإصلاحات، أوراق مرجعية، قضايا النوعية في التعليم العالي في البلدان العربية، الهيئة اللبنانية للعلوم التربوية، لبنان، 2014، ص.756.</li>
                    <li>موقع وزارة التعليم العالي والبحث العلمي والابتكار،<br>
                        <a href="http://www.enssup.gov.ma/ar" target="_blank"><span class="Hyperlink">www.enssup.gov.ma/ar</span></a> (سبتمبر 2020)</p>
                    </li>
                    <li>رشيد الحسناوي، «دور الجامعة والبحث العلمي في التنمية الاقتصادية»، مجلة الفضاء الجغرافي والمجتمع المغربي، العدد 22، يونيو 2018، ص.156.</li>
                    <li>المرجع نفسه، الصفحة نفسها.</li>
                    <li>عتيق سعيد، «الدخول الجامعي بالمغرب. أي دور للجامعات في تنمية المجتمع وتطوره»، هسبريس، (سبتمبر 2018،
                        <a href="http://www.hespress.com" target="_blank"><span class="Hyperlink">hespress.com</span></a>، (مارس 2019)).
                    </li>
                    <li>المرجع نفسه.</li>
                    <li>التعليم العالي بالمغرب فعالية ونجاعة وتحديات النظام الجامعي ذي الولوج المفتوح، الهيئة الوطنية لتقييم منظومة التربية والتكوين والبحث العلمي، المجلس الأعلى للتربية والتكوين والبحث العلمي، التقرير القطاعي، 2018، ص.5-6.</li>
                    <li>رشيد الحسناوي، «دور الجامعة والبحث العلمي في التنمية الاقتصادية»، مرجع سابق، ص.156.</li>
                    <li>المرجع نفسه، الصفحة نفسها.</li>
                    <li>عبد الحق الوسولي، «التعليم العالي المغربي بين مشاريع الإصلاح وواقع الأزمة»، النهج الديمقراطي، <a href="http://www.annahjaddimocratie.org" target="_blank"><span class="Hyperlink">annahjaddimocratie.org</span></a>، (مارس 2019).</li>
                    <li>رشيد الحسناوي، «دور الجامعة والبحث العلمي في التنمية الاقتصادية»، مرجع سابق، ص.157.</li>
                    <li>المرجع نفسه، الصفحة نفسها.</li>
                    <li>عبد العالي كعواشي، التعليم العالي بالمغرب عدم تحسن النوعية رغم الإصلاحات، ص.774.</li>
                    <li>المرجع نفسه، الصفحة نفسها.</li>
                    <li>زينب دهيمي، مدى مساهمة البحوث العلمية الجامعية في النهوض بالتنمية المحلية، يوم دراسي، جامعة محمد خيضر، بسكرة، 2012، ص.2.</li>
                    <li>المرجع نفسه، الصفحة نفسها.</li>
                    <li>حسين بن العارية، «دور التعليم في النمو الاقتصادي مع الإشارة إلى حالة الجزائر»، المستقبل العربي، بدون سنة، ص.77.</li>
                    <li>المرجع نفسه، الصفحة نفسها.</li>
                    <li>عادل مجيد العادلي، «مساهمة التعليم في عملية الإنماء الاقتصادي في البلدان العربية»، مجلة كلية بغداد للعلوم الاقتصادية الجامعة، العدد 35، 2013، ص.49.</li>
                    <li>المرجع نفسه، ص.52.</li>
                    <li>مصطفى أحمد سليمان السطري، دور التعليم العالي في التنمية الاقتصادية في فلسطين، رسالة لاستكمال متطلبات الحصول على درجة الماجستير في الاقتصاد، جامعة الأزهر، غزة، 2011، ص.14.</li>
                    <li>إدريس الشنوفي، «الجامعة والتنمية الاجتماعية والاقتصادية، المركز المغربي للدراسات والأبحاث المعاصرة، سبتمبر
                            2016، <a href="http://www.cemerc.ma" target="_blank"><span class="Hyperlink">cemerc.ma</span></a>، (مارس 2019).
                    </li>
                    <li>المرجع نفسه، ص.5.</li>
                    <li>المرجع نفسه، ص.7.</li>
                    <li>حسين بن العارية، « دور التعليم في النمو الاقتصادي مع الإشارة إلى حالة الجزائر»، مرجع سابق، ص.84.</li>
                    <li>نادية بوضياف بن زعموش، فاطمة مخلوفي، «التعليم العالي والبحث العلمي في ظل الثورة المعلوماتية وتكنولوجية الاتصال»، الملتقى الوطني الثاني حول (الحاسوب وتكنولوجية المعلومات في التعليم)، جامعة قاصدي مرباح ورقلة، مارس 2014، ص.588-589.</li>
                    <li>المرجع نفسه، ص.589.</li>
                    <li>يوسف سعيد أحمد، « تمويل التعليم العالي ومواجهة تحديات العولمة»، المؤتمر العربي الجامعات العربية: التحديات والأفاق المستقبلية، 9-13 ديسمبر 2007، الرباط، ص.2.</li>
                    <li>نادية بوضياف بن زعموش، فاطمة مخلوفي، «التعليم العالي والبحث العلمي في ظل الثورة المعلوماتية وتكنولوجية الاتصال»، مرجع سابق، ص.590.</li>
                    <li>رشيد الحسناوي، «دور الجامعة والبحث العلمي في التنمية الاقتصادية»، مرجع سابق، ص.161.</li>
                    <li>المرجع نفسه، ص.162.</li>
                    <li>نادية بوضياف بن زعموش، فاطمة مخلوفي، «التعليم العالي والبحث العلمي في ظل الثورة المعلوماتية وتكنولوجية الاتصال»، مرجع سابق، ص.606.</li>
                    <li>المرجع نفسه، ص.607.</li>
                    <li>رشيد الحسناوي، «دور الجامعة والبحث العلمي في التنمية الاقتصادية»، مرجع سابق، ص.162.</li>
                </ul> 
            </div>
        </div>
        <div class="show-some-studies">
            <h3 class="show-studies-h3">اقرأ أيضًا</h3>
            <a href="{% url 'social_market_economy' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/Journal-01.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <span>20 مارس  2025</span>
                        <h3>اقتصاد السوق الاجتماعي</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'agricultural_renaissance_in_yemen' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/Journal-02.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <span>20 مارس  2025</span>
                        <h3>النهضة الزراعية في اليمن</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'educational_system_in_yemen' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/Journal-03.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <span>20 مارس  2025</span>
                        <h3>النظام التعليمي في اليمن</h3>

                    </div>
                </div>
            </a>
            <a href="{% url 'judiciary_in_yemen' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/Journal-04.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <span>20 مارس  2025</span>
                        <h3>القضاء في اليمن</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'jobs_in_yemen' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/Journal-05.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <span>20 مارس  2025</span>
                        <h3>الوظائف في اليمن</h3>
                    </div>
                </div>
            </a>
           <a href="{% url 'hygiene_and_solid_waste_management' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/Journal-06.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <span>20 مارس  2025</span>
                        <h3>النظافة وإدارة النفايات الصلبة</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'begging_phenomenon_in_yemen' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/Journal-7.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <span>15 يونيو  2025</span>
                        <h3>ظاهرة التسول في اليمن</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'local_governance_in_yemen' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/Journal-8.png' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <span>15 يونيو  2025</span>
                        <h3>الإدارة المحلية في اليمن</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'effectiveness_of_the_judicial_and_oversight_system_in_yemen' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/Journal-9.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <span>15 يونيو  2025</span>
                        <h3>فاعلية المنظومة العدلية والرقابية في اليمن</h3>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <h2 class="show-references">إخفاء المراجع</h2>
    <div class="refrences">
        <div class="first-ref-info">
            <h2>المراجع</h2>
        </div>
        <ul>
            <li id="one">عبد العالي كعواشي، التعليم العالي بالمغرب عدم تحسن النوعية رغم الإصلاحات، أوراق مرجعية، قضايا النوعية في التعليم العالي في البلدان العربية، الهيئة اللبنانية للعلوم التربوية، لبنان، 2014، ص.756.</li>
            <li id="two">موقع وزارة التعليم العالي والبحث العلمي والابتكار،<br>
                <a href="http://www.enssup.gov.ma/ar" target="_blank"><span class="Hyperlink">www.enssup.gov.ma/ar</span></a> (سبتمبر 2020)</p>
            </li>
            <li id="three">رشيد الحسناوي، «دور الجامعة والبحث العلمي في التنمية الاقتصادية»، مجلة الفضاء الجغرافي والمجتمع المغربي، العدد 22، يونيو 2018، ص.156.</li>
            <li id="four">المرجع نفسه، الصفحة نفسها.</li>
            <li id="five">عتيق سعيد، «الدخول الجامعي بالمغرب. أي دور للجامعات في تنمية المجتمع وتطوره»، هسبريس، (سبتمبر 2018،
                <a href="http://www.hespress.com" target="_blank"><span class="Hyperlink">hespress.com</span></a>، (مارس 2019)).
            </li>
            <li id="six">المرجع نفسه.</li>
            <li id="sev">التعليم العالي بالمغرب فعالية ونجاعة وتحديات النظام الجامعي ذي الولوج المفتوح، الهيئة الوطنية لتقييم منظومة التربية والتكوين والبحث العلمي، المجلس الأعلى للتربية والتكوين والبحث العلمي، التقرير القطاعي، 2018، ص.5-6.</li>
            <li id="egh">رشيد الحسناوي، «دور الجامعة والبحث العلمي في التنمية الاقتصادية»، مرجع سابق، ص.156.</li>
            <li id="nine">المرجع نفسه، الصفحة نفسها.</li>
            <li id="ten">عبد الحق الوسولي، «التعليم العالي المغربي بين مشاريع الإصلاح وواقع الأزمة»، النهج الديمقراطي، <a href="http://www.annahjaddimocratie.org" target="_blank"><span class="Hyperlink">annahjaddimocratie.org</span></a>، (مارس 2019).</li>
            <li id="ele">رشيد الحسناوي، «دور الجامعة والبحث العلمي في التنمية الاقتصادية»، مرجع سابق، ص.157.</li>
            <li id="12">المرجع نفسه، الصفحة نفسها.</li>
            <li id="13">عبد العالي كعواشي، التعليم العالي بالمغرب عدم تحسن النوعية رغم الإصلاحات، ص.774.</li>
            <li id="14">المرجع نفسه، الصفحة نفسها.</li>
            <li id="15">زينب دهيمي، مدى مساهمة البحوث العلمية الجامعية في النهوض بالتنمية المحلية، يوم دراسي، جامعة محمد خيضر، بسكرة، 2012، ص.2.</li>
            <li id="16">المرجع نفسه، الصفحة نفسها.</li>
            <li id="17">حسين بن العارية، «دور التعليم في النمو الاقتصادي مع الإشارة إلى حالة الجزائر»، المستقبل العربي، بدون سنة، ص.77.</li>
            <li id="18">المرجع نفسه، الصفحة نفسها.</li>
            <li id="19">عادل مجيد العادلي، «مساهمة التعليم في عملية الإنماء الاقتصادي في البلدان العربية»، مجلة كلية بغداد للعلوم الاقتصادية الجامعة، العدد 35، 2013، ص.49.</li>
            <li id="20">المرجع نفسه، ص.52.</li>
            <li id="21">مصطفى أحمد سليمان السطري، دور التعليم العالي في التنمية الاقتصادية في فلسطين، رسالة لاستكمال متطلبات الحصول على درجة الماجستير في الاقتصاد، جامعة الأزهر، غزة، 2011، ص.14.</li>
            <li id="22">إدريس الشنوفي، «الجامعة والتنمية الاجتماعية والاقتصادية، المركز المغربي للدراسات والأبحاث المعاصرة، سبتمبر
					2016، <a href="http://www.cemerc.ma" target="_blank"><span class="Hyperlink">cemerc.ma</span></a>، (مارس 2019).
            </li>
            <li id="23">المرجع نفسه، ص.5.</li>
            <li id="24">المرجع نفسه، ص.7.</li>
            <li id="25">حسين بن العارية، « دور التعليم في النمو الاقتصادي مع الإشارة إلى حالة الجزائر»، مرجع سابق، ص.84.</li>
            <li id="26">نادية بوضياف بن زعموش، فاطمة مخلوفي، «التعليم العالي والبحث العلمي في ظل الثورة المعلوماتية وتكنولوجية الاتصال»، الملتقى الوطني الثاني حول (الحاسوب وتكنولوجية المعلومات في التعليم)، جامعة قاصدي مرباح ورقلة، مارس 2014، ص.588-589.</li>
            <li id="27">المرجع نفسه، ص.589.</li>
            <li id="28">يوسف سعيد أحمد، « تمويل التعليم العالي ومواجهة تحديات العولمة»، المؤتمر العربي الجامعات العربية: التحديات والأفاق المستقبلية، 9-13 ديسمبر 2007، الرباط، ص.2.</li>
            <li id="29">نادية بوضياف بن زعموش، فاطمة مخلوفي، «التعليم العالي والبحث العلمي في ظل الثورة المعلوماتية وتكنولوجية الاتصال»، مرجع سابق، ص.590.</li>
            <li id="30">رشيد الحسناوي، «دور الجامعة والبحث العلمي في التنمية الاقتصادية»، مرجع سابق، ص.161.</li>
            <li id="31">المرجع نفسه، ص.162.</li>
            <li id="32">نادية بوضياف بن زعموش، فاطمة مخلوفي، «التعليم العالي والبحث العلمي في ظل الثورة المعلوماتية وتكنولوجية الاتصال»، مرجع سابق، ص.606.</li>
            <li id="33">المرجع نفسه، ص.607.</li>
            <li id="34">رشيد الحسناوي، «دور الجامعة والبحث العلمي في التنمية الاقتصادية»، مرجع سابق، ص.162.</li>
        </ul>     
    </div>

</div>
{% endblock %}