{% extends 'base.html' %}
{% load static %}
{% block title %}ملاحظات على مداخل الإصلاح الإداري{% endblock %}
{% block content %}
<div class="container articles">
    <div class="top-of-study">
        <a href="{% url 'index' %}">المركز التأسيسي</a>/<a href="{% url 'studies' %}">الدراسات</a>/<span>ملاحظات على مداخل الإصلاح الإداري</span>
    </div>
    
    <div class="studies-flex">
        <div class="first-page">
            <div class="controls">
                <button id="increaseFont"><i class="fas fa-search-plus"></i></button>
                <button id="decreaseFont"><i class="fas fa-search-minus"></i></button>
            </div>
            <a href="#img-id" class="hidden-row"><i class="fa-solid fa-arrow-up-long"></i></a>
            <!-- <h1>الحياة في اليمن</h1> -->
            <p class="p-img">ملاحظات على مداخل الإصلاح الإداري</p>
            <div class="date-info">
                <span>6 أبريل 2024
                </span>
            </div>
                <span class="pub">أ.د/ محمد سعيد محمد الكامل</span>
            <img src="{% static 'imgs/notes3.jpg'' %}" alt="" id="img-id">
            
        
            <div class="full-text">
                <p>تعاني الدول النامية من القضايا والمشكلات التي لا توجد في الدول المتقدمة، لكن إشكالية الإصلاح الإداري أصبحت
                    تشكل المحور الذي تلتقي وتتكاثف الجهود الدولية من أجل إيجاد حل لهذ المعضلة، التي أصبحت تشكل تحديًا عالميًا
                    يتطلب البحث عن نماذج جيدة وفعالة، تتماشى مع التطورات التي يعرفها المجتمع الدولي، ومع تأمين البيئة المناسبة
                    لوضع النموذج الإداري الجديد<a href="#one"><span><sup
                                title="مزوري، عبلة، مرجع سابق، ص62.">[1]</sup></span></a>.</p>
                <ul>
                    <li>غياب الرؤية الاستراتيجية حول الإصلاح الإداري: لا توجد مرجعية للإدارة تعمل على صياغة إطار فكري جديد
                        يحكم عملية تطوير الجهاز الإداري، وجهة مسؤولة عن التخطيط والإشراف والتنسيق، بما يخدم الإطار الاستراتيجي
                        للتنمية الإدارية، فالمرجعية العليا للإدارة العامة تهــــــــدف إلى تحسين مستوى الأداء الحكومــــــي،
                        وتنمية أداء المـــــــوظف العـــــام بما يتناسب مع جهـــــــود الــــدولة؛ للارتقاء بمستوى الخدمات
                        ومواكبة تغييرات العصر، والقضاء على السلبيات الموجودة في الإدارات والهيئات الحكومية<a
                            href="#two"><span><sup title="الماوري، أحمد، مرجع سابق، ص43.">[2]</sup></span></a>.</li>
                    <li>تدني التدريب والتأهيل مع التضخم الجهاز الإداري: تعد الموارد البشـرية من أهم الثروات التي تمتلكها الدول؛
                        لما تتميز به من طاقة وقدرة على بذل العطاء والجهد طالما أحسن التخطيط لها، وتنميتها بوضع السياسات والبرامج
                        التي تهدف إلى تحقيق الاستخدام والاستفادة المثلى لها، لتحويلها من عبء على التنمية إلى عنصـر مهم في
                        التنمية. إن المفهوم المعاصر للهياكل التنظيمية لا يقف عند حد اعتباره خريطة تنظيمية توضح التبعية الإدارية
                        والمسؤولية الإشرافية، وإنما يمثل أداة هدفها النهائي إلغاء القوى التي تعرقل أداء المنظمات، وتحد من
                        انطلاقها نحو غاياتها؛ للحصول على إدارات حكومية قادرة على الحركة والأداء المتميز والاستجابة السـريعة
                        لطلبات ورغبات المواطنين، وتطوير الهياكل التنظيمية؛ لتناسب الأدوار الجديدة للمؤسسات الحكومية، فالهيكل
                        التنظيمي الفعال هو من أهم الوسائل اللازمة لتحقيق أهداف الإصلاح الإداري.</li>
                    <li>ضعف استخدام الأدوات والتقنيات التكنولوجية الحديثة: إن نظم المعلومات المستخدمة تعاني من نقص كفاءتها
                        وغياب آلية لتنظيمها من جهة، إضافة إلى نقص كفاءة إدارتها من جهة ثانية، ومن ثَمَّ كيف يمكن للمنظمات
                        الحكومية أن تبني وتطور هيكل المعلومات الخاص بها الذي يدعم أهدافها ويربط بينها؟ وكيف يمكن للإدارة العامة
                        الاستفادة من نظام المعلومات المطلوب إحداثه وتفعيله؟</li>
                    <li>عدم تطوير السياسات العامة لجهاز الإدارة العامة: تعد البنية التشـريعية الحاضنة لأي عملية إصلاحية، فلا
                        يمكننا التحرك بأي اتجاه بهدف تطوير مرفق عام أو تغيير المنهجية، إلا واصطدمت بقوانين لا بد من إخضاعها
                        لعملية مراجعة كلية تتماشى والرؤية الإصلاحية التي نسعى إليها، ويتطلب الإصلاح الإداري سياسات عامة لتهيئة
                        الأرضية الملائمة، وأن تهدف الإجراءات الحكومية إلى التبسيط والتسهيل والتسيير لا التعقيد والتعسير، وباتجاه
                        ترسيخ روح الاستقامة والوضوح والشفافية والتسـريع في إيصال النفع للناس، بواسطته يكون تسيير الحياة اليومية
                        للمواطن، وفي إطار من المشروعية والمساواة<a href="#three"><span><sup
                                    title="على الخضر، مرجع سابق.">[3]</sup></span></a>.</li>
                    <li>الممارسات والسلوكيات السلبية نتيجة لضعف الثقافة التنظيمية: بما أن الحكومات أصبحت وظيفتها في ظل
                        المتغيرات المعاصرة قيادة المجتمع نحو التنمية، فإن التنمية الإدارية يمكن عدها عملية أخلاقية، بالأساس تعمل
                        لقيادة المرفق العام نحو الخلو من كل الشوائب التي يعرفها، بما يكفل تعبيد المسار نحو مرفق عام يسوده مبدأ
                        المسؤولية بكل تجلياتها، والقصد هو القضاء على الفساد أو التخفيف منه؛ لما له من تأثير سلبي في برامج
                        التنمية الاقتصادية والاجتماعية، فالفساد يعني في مجمله «الانحلال والتلف وسوء استعمال الموقع لمصلحة شخصية
                        وتجاوز المصلحة العامة»، ويجسد - أيضًا - انحلال الأخلاق بتعاطي الموظف للرشوة وسوء استخدام السلطة العامة
                        لأغراض شخصية قصد الكسب الخاص، ويعبر في جوهره عن غياب المؤسسة السياسية الفعالة بتغاضيها وعدم قدرتها على
                        مواجهة الاتجار بالوظيفة العامة والتعدي على المال العام، كما أن الفساد الإداري أصبح يسود ممارسة مختلف
                        الأنظمة، ومنها الأنظمة الإدارية ومرافقها العامة كيفما كانت درجة وأهمية هذه المرافق الإدارية، وفي ظل هذه
                        الوضعية فإن الموظف العام أصبح مثارًا للشكوك والتساؤلات حول أخلاقياته الشخصية وممتلكاته وحول نزاهة
                        سلوكه <a href="#four"><span><sup
                                    title="المحاقري، يحيى: سياسات وإجراءات التوظيف في الخدمة المدنية بالجمهورية اليمنية- الواقع وآفاق التطوير، رسالة ماجستير، مركز تطوير الإدارة العامة، جامعة صنعاء، ص 152.">[4]</sup></span></a>،
                        وكما كشفت الدراسات أن عملية الإصلاح الإداري فـي الدول العربيـة تعـاني من اختلالات متباينـة، أدت إلى
                        عدم تكامل اسـتراتيجيات الإصلاح، وعدم تحقيقها لأهدافها، لعدة أسباب منها:
                        <ol>
                            <li>
                                تركيز جهود الإصلاح في الدول العربية على بنـاء الهياكـل والأنظمـة الرسمية.
                            </li>
                            <li>عدم اعتماد أسلوب المشاركة في عملية التطوير والتغيير الإداري.</li>
                            <li>الاهتمام بالجوانب الفنية والإجرائية، وإهمال الجوانب السلوكية والبيئيـة، أو التركيز على تطبيق
                                الأساليب العلمية للإدارة.</li>
                        </ol>
                    </li>
        
                </ul>
            </div>
        </div>
        <div class="nested-ref">
            <h2 class="show-references">إخفاء المراجع</h2>
    <div class="refrences">
        <div class="first-ref-info">
            <h2>المراجع</h2>
        </div>
        <ul>
            <li id="one">مزوري، عبلة، مرجع سابق، ص62.</li>
            <li id="two">الماوري، أحمد، مرجع سابق، ص43.</li>
            <li id="three">على الخضر، مرجع سابق.</li>
            <li id="four">المحاقري، يحيى: سياسات وإجراءات التوظيف في الخدمة المدنية بالجمهورية اليمنية- الواقع وآفاق
                التطوير، رسالة ماجستير، مركز تطوير الإدارة العامة، جامعة صنعاء، ص 152.</li>
        </ul>
    </div>
        </div>
        <div class="show-some-studies">
            <h3 class="show-studies-h3">مواضيع مشابهة</h3>
            <a href="{% url 'reformmethodology' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/method1.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>منهجية الإصلاح الإداري</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'comprehensive_reform' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/fanicial.webp' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>تقييم برنامج الإصلاح الاقتصادي والمالي والإداري الشامل في اليمن</h3>

                    </div>
                </div>
            </a>
            <a href="{% url 'evolution_of_public_administration' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/admini.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>تطور الإدارة العامة في إطار حقل القانون الإداري</h3>

                    </div>
                </div>
            </a>
            <a href="{% url 'financial_reform_in_countries' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/gold.webp' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>تجارب بعض الدول في مجال الإصلاح المال</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'malaysia_study' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/maly2.webp' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>تجربة ماليزيا في الإصلاح الإداري</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'future_fo_reforming_administrative_law_in_yemen' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/fix2.webp' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>الرؤية المستقبلية لإصلاح القانون الإداري في اليمن</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'future_of_financial_reform_in_yemen' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/tagarb9.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>رؤية مستقبلية للإصلاح المالي في اليمن</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'role_of_the_private_sector_in_world' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/test.png' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>تجارب عالمية وإقليمية لدور القطاع الخاص</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'legislative_reform_in_the_world' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/repair4.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>تجارب عربية وغربية للإصلاح التشريعي</h3>
                    </div>
                </div>
            </a>

            <a href="{% url 'implementing_e-government' %}" class="study-item">
                <div class="study-info-show last-one">
                    <div class="image-card">
                        <img src="{% static 'imgs/egoven.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>عوامل نجاح أو فشل تنفيذ الحكومة الإلكترونية</h3>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <h2 class="show-references">إخفاء المراجع</h2>
    <div class="refrences">
        <div class="first-ref-info">
            <h2>المراجع</h2>
        </div>
        <ul>
            <li id="one">مزوري، عبلة، مرجع سابق، ص62.</li>
            <li id="two">الماوري، أحمد، مرجع سابق، ص43.</li>
            <li id="three">على الخضر، مرجع سابق.</li>
            <li id="four">المحاقري، يحيى: سياسات وإجراءات التوظيف في الخدمة المدنية بالجمهورية اليمنية- الواقع وآفاق
                التطوير، رسالة ماجستير، مركز تطوير الإدارة العامة، جامعة صنعاء، ص 152.</li>
        </ul>
    </div>
</div>
{% endblock %}