{% extends 'base.html' %}
{% load static %}
{% block title %}| دورية أٌســس{% endblock %}
{% block meta_og %}
    <meta name="description" content="دورية أُسُس: دورية فصلية محكًمة تعني بالإدارة والسياسات العامة تصدر من المركز التأسيسي للدراسات والبحوث.">

    <!-- Open Graph -->
    <meta property="og:title" content="دورية أُسُس - إصدار علمي من CSR Yemen">
    <meta property="og:description" content="دورية فصلية محكًمة تعني بالإدارة والسياسات العامة تصدر من المركز التأسيسي للدراسات والبحوث.">
    <meta property="og:image" content="https://csr-yemen.com/static/imgs/web.jpg">
    <meta property="og:url" content="http://csr-yemen.com/publications/Journals/Osus">
    <meta property="og:type" content="article">

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="دورية أُسُس - إصدار علمي من CSR Yemen">
    <meta name="twitter:description" content="دورية فصلية محكًمة تعني بالإدارة والسياسات العامة تصدر من المركز التأسيسي للدراسات والبحوث.">
    <meta name="twitter:image" content="https://csr-yemen.com/static/imgs/web.jpg">
{% endblock %}

{% block content %}
<div class="container">
    <div class="osus-first-content">
        <h2>الدوريات</h2>
        <div class="osus-first-container">
            <img src="{% static 'imgs/web.jpg' %}" alt="">
            <div class="osus-first-text">
                <p>أسس دورية فصلية محكّمة تُعنى بالإدارة والسياسات العامة.</p>
                <p>تهدف "أسس" إلى تقديم تحليلات معمقة ودراسات منهجية تسهم في تطوير الفكر الإداري وإرساء أُسس معرفية تدعم
                    التنمية المستدامة في مجتمعاتنا، كما تسلط الضوء على أحدث الاتجاهات والنظريات في مجالات الحوكمة،
                    والإدارة العامة، والسياسات الاقتصادية والاجتماعية، والإصلاح المؤسسي، مع التركيز على التجارب الناجحة
                    حول العالم، كما تسعى "أسس" إلى أن تكون منبرًا للباحثين والممارسين لمشاركة الرؤى والأفكار التي تسهم
                    في تحسين الأداء المؤسسي وتعزيز فعالية السياسات العامة، من خلال نشر أبحاث أصيلة، وتلتزم الدورية
                    بمعايير البحث العلمي الرصين والتحكيم الأكاديمي لضمان جودة المحتوى وثرائه الفكري، ولها هيئة تحرير
                    متخصصة تضبط عمل التحكيم، وترتكز على مدونة أخلاقية تنظم قواعد النشر فيها وعلاقتها بالباحثين.</p>
                <p>تصدر "أسس" كل ثلاثة أشهر لخدمة جمهورها في الأوساط العلمية والبحثية، والمعنيين في رسم السياسات العامة
                    وتنفيذها وإدارة مؤسسات الدولة.</p>
            </div>
        </div>
        <h3>العدد الأول</h3>
        <div class="osus-second-container">
            <img src="{% static 'imgs/new_osus.jpg' %}" alt="">
            <div class="osus-second-text">
                <p>في العدد الأول، نسلط الضوء على مجموعة من القضايا الحيوية التي تشكل تحديات رئيسية أمام التنمية في
                    اليمن والمنطقة العربية بشكل عام. تتناول الدراسات المقدمة قضايا تتنوع بين تحليل سوق العمل والتوظيف،
                    استراتيجيات النهضة الزراعية، وإمكانية تبني نموذج اقتصاد السوق الاجتماعي، إلى جانب دراسات أخرى تبحث
                    في دور القضاء في دعم التنمية، مستقبل النظام التعليمي في ظل الأزمات، والإدارة المستدامة للنفايات
                    الصلبة. هذه الموضوعات لا تعكس فقط القضايا الأكثر إلحاحًا، بل تقدم أيضًا رؤى واقعية لحلول عملية
                    مستمدة من تجارب دولية ناجحة.</p>
                <div class="osus-links">
                    <a href="{% url 'osus-content' %}?action=view" target="_blank">محتويات العدد</a>
                    <a href="{% url 'download_or_view_patrols' %}?action=view" target="_blank">قراءة العدد</a>
                    <a href="{% url 'download_or_view_patrols' %}?action=download" target="_blank">تحميل العدد PDF</a>
                </div>
            </div>
        </div>
        <h3>العدد الثاني</h3>
        <div class="osus-second-container">
            <img src="{% static 'imgs/Second-Issue-Post.jpg' %}" alt="second-osus" class="second-osus">
            <div class="osus-second-text second-osus-container">
                <p>في العدد الثاني، خمس دراسات تتكامل موضوعيًا ومنهجيًا، وتغطي مجالات حيوية في الإدارة، والعدالة،
                    والاقتصاد الاجتماعي، والسياسات العامة. تبدأ من تحليل ظاهرة الازدواج الوظيفي في القيادة الإدارية وما
                    تسببه من تحديات معرفية تؤثر في جودة القرار، لتنتقل إلى قراءة سوسيولوجية لظاهرة التسول في اليمن في
                    سياق أزمة مركبة، مقدِّمةً مقترحات تستند إلى القانون والسياسات الاجتماعية المتكاملة. كما يتناول العدد
                    واقع الإدارة المحلية والمنظومة العدلية في اليمن من منظور نقدي مقارن، في ضوء تجارب عالمية بارزة، ليضع
                    أُطرًا عملية لإصلاح هذه الأنظمة من الداخل. ويختتم العدد بدراسة تحليلية معمّقة حول التأمين الصحي
                    الاجتماعي، تتجاوز النص القانوني لتناقش الإمكانات المؤسسية والتمويلية الكفيلة بتحقيق نظام تأميني أكثر
                    عدالة وشمولًا.</p>
                <div class="osus-links">
                    <a href="{% url 'osus-second-content' %}?action=view" target="_blank">محتويات العدد</a>
                    <a href="{% url 'download_or_view_second_ossus' %}?action=view" target="_blank">قراءة العدد</a>
                    <a href="{% url 'download_or_view_second_ossus' %}?action=download" target="_blank">تحميل العدد PDF</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}