{% extends 'base.html' %}
{% load static %}
{% block title %}الدوريات{% endblock %}
{% block content %}
<div class="container">
    <h1 class="spe-h1 book">الدوريات</h1>
    <div class="tow-books">
        <div class="daw">
            <a href="#">
                <div class="card">
                    <img src="{% static 'imgs/patrol.jpg' %}" alt="">
                    <div class="daw-info">
                        <p>أُسـس / العدد الأول</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

{% endblock %}