{% extends 'base.html' %}
{% load static %}
{% block title %}الدوريات{% endblock %}
{% block content %}
<div class="container">
    <h1 class="spe-h1 book">الدوريات</h1>
    <div class="tow-books">
        <div class="daw">
                <div class="card download">
                    <img src="{% static 'imgs/web.jpg' %}" alt="">
                    <div class="daw-info">
                        <p>دوريات المركز</p>
                    </div>
                </div>
        </div>
    </div>
</div>

{% endblock %}