{% extends 'base.html' %}
{% load static %}
{% block title %}المالية العامة والبناء الاقتصادي للدولة{% endblock %}
{% block content %}
<div class="container articles">
    <div class="top-of-study">
        <a href="{% url 'index' %}">الرئيسية</a><span class="first-pipe"> | </span> <a href="{% url 'studies' %}">دراسات
            وبحوث</a> <span class="first-pipe"> | </span><span>المالية العامة والبناء الاقتصادي للدولة</span>
    </div>

    <div class="studies-flex">
        <div class="first-page">
            <a href="#img-id" class="hidden-row"><i class="fa-solid fa-arrow-up-long"></i></a>
            <!-- <h1>الحياة في اليمن</h1> -->
            <p class="p-img">المالية العامة والبناء الاقتصادي للدولة</p>
            <div class="date-info">
                <span>3 فبراير 2024
                </span>
            </div>
            <span class="pub">أ.د/ عبد العزيز محمد المخلافي</span>
            <div class="controls">
                <div class="studies-social">
                    <div class="studies-social2">
                        <div class="twitter">
                            <a href="https://twitter.com/intent/tweet?text={{ 'المالية العامة والبناء الاقتصادي للدولة'|urlencode }}&url={{ request.build_absolute_uri|urlencode }}"
                                target="_blank">
                                <i class="fa-brands fa-x-twitter"></i>
                            </a>

                        </div>
                        <div class="whats">
                            <a href="https://wa.me/?text={{ 'المالية العامة والبناء الاقتصادي للدولة'|urlencode }}%20{{ request.build_absolute_uri|urlencode }}"
                                target="_blank">
                                <i class="fa-brands fa-whatsapp foot-i"></i>
                            </a>
                        </div>
                        <div class="telegram">
                            <a href="https://t.me/share/url?url={{ request.build_absolute_uri|urlencode }}&text={{ 'المالية العامة والبناء الاقتصادي للدولة'|urlencode }}"
                                target="_blank">
                                <i class="fab fa-telegram"></i>
                            </a>

                        </div>
                        <div class="face-book">
                            <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri|urlencode }}"
                                target="_blank">
                                <i class="fa-brands fa-facebook foot-i"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="studies-controls">
                    <!-- <i class="fa-solid fa-print"></i> -->
                    <button id="increaseFont"><img src="{% static 'imgs/Zoom_IN.svg' %}" alt=""></button>
                    <button id="decreaseFont"><img src="{% static 'imgs/Zoom_OUT.svg' %}" alt=""></button>
                </div>

            </div>
            <img src="{% static 'imgs/money4.jpg' %}" alt="" id="img-id">

            <div class="full-text">
                <p>تعد المالية العامة من أهم الأدوات التي تملكها الدولة لإدارة الاقتصاد الوطني؛ إذ تحقق الدولة عن طريق
                    هذه
                    السياسة (بالإضافة إلى سياسات أخرى) الأهداف الاقتصادية المنشودة (نمو، استقرار، توظيف... إلخ)، وقد
                    استهدفت
                    الخطة الخمسية الثالثة للتنمية الاقتصادية والاجتماعية والتخفيف من الفقر (2006 - 2010م) في الجانب
                    المالي،
                    السيطرة على عجز الموازنة العامة في الحدود الآمنة؛ بحيث لا يتجاوز 3% من الناتج المحلي الإجمالي وتنمية
                    الإيرادات عند التغطية لتصل إلى 30-40% من إجمالي الإيرادات إلى جانب زيادة حصة الاستثمار الحكومي إلى
                    30% من
                    إجمالي النفقات العامة<a href="#1"><span><sup
                                title="التقرير الاستراتيجي اليمني (2012)، المركز اليمني للدراسات الاستراتيجية.">[1]</sup></span></a>.
                </p>
                <p>وتحدد أولويات السياسة المالية في العديد من القضايا الاقتصادية والتنموية والاجتماعية، التي تشمل تعزيز
                    التنمية
                    الشاملة والمستدامة والمتوازنة وتنويع مصادر الدخل وحماية إسهامات قطاعات النشاط الاقتصادي في النمو،
                    بما يكفل
                    زيادة الدخل القومي والدخل الفردي وتحقيق نمو اقتصادي مستدام، بالإضافة إلى الاهتمام بالإنفاق الاجتماعي
                    والاهتمام بالإنفاق الاستثماري العام؛ من أجل تطوير وتعزيز البنية التحتية بما يؤدي إلى تحسين بيئة مناخ
                    الاستثمار.</p>
                <h2>أ‌- الاتجاهات التنموية والاستثمارية للنفقات العامة:</h2>
                <p>إن تحفيز الإنفاق الجاري وتدني الإنفاق الاستثماري - ضمن الموازنة العامة للدولة - لا يساعد كثيرًا في
                    تطوير
                    البنية التحتية وتحسين مناخ الاستثمار، حيث إنَّ تدني نصيب الإنفاق الاستثماري، سواء من إجمالي الإنفاق
                    أم من
                    إجمالي الناتج المحلي ينعكس على تباطؤ معدل النمو الاقتصادي، وهذا يدل على أن الموازنة العامة للدولة
                    ركزت على
                    الموازنة الجارية وليس الموازنة الاستثمارية.</p>
                <p>تواضع وتدني فاعلية النفقات الاستثمارية في ظل وجود الظواهر والحالات السلبية المرتبطة بتلك النفقات التي
                    تتعلق
                    بالطابع الاستخدامي والترفيهي، لاسيما النفقات على الأثاث والمكاتب فضلًا عن وجود مشتريات لا يجري رصد
                    اعتماد
                    كافٍ لها.</p>
                <p>بطء تنفيذ المشـروعات التي يترتب عليها زيادة التكاليف السنوية؛ نتيجة عدم تقدير النفقات الاستثمارية
                    وفقًا
                    لبرنامج ومشـروعات استثمارية محددة ومدروسة، مما يعني ضعف المواءمة بين الموازنة العامة للدولة والخطط
                    الخمسية
                    للتنمية، ويعكس ذلك ضعف الارتباط والتنسيق بين المالية العامة للدولة وخطط التنمية، مما يجعل النفقات
                    الاستثمارية تسير خارج إطار المخطط والمستهدف وفقًا لأولويات ومرتكزات البناء الاقتصادي للدولة.</p>
                <p>وانعكس الوضع المتدني للنفقات الاستثمارية على تباطؤ معدلات النمو الاقتصادي وضعف أو تدني نمو قطاعات
                    البنية
                    التحتية والإنتاجية في قطاعات الزراعة والصناعة والكهرباء، وهو الأمر الذي أثر سلبًا في مناخ الاستثمار
                    ومن
                    ثَمَّ ضعف تدفق الاستثمارات إلى الداخل أو زيادة خروج الاستثمارات المحلية <a href="#2"><span><sup
                                title="العسلي، سيف مهيوب: إصلاح المالية العامة في اليمن- المؤتمر الاقتصادي اليمني، المركز اليمني للدراسات الاستراتيجية، أكتوبر 2010.">[2]</sup></span></a>.
                </p>
                <p>ويظهر اختلال المالية العامة أو ضعف دورها في دور الدولة الاقتصادي عن طريق تحيز المالية العامة باتجاه
                    النفقات
                    الجارية على حساب النفقات الاستثمارية، وهو الأمر الذي ينعكس سلبًا في التخفيف الأمثل للموارد العامة،
                    فالنفقات
                    الجارية التي تشكل 80% من النفقات العامة تلتهم في المتوسط 92% من الإيرادات العامة للدولة<a
                        href="#3"><span><sup
                                title="الأفندي، محمد احمد: أولويات واتجاهات السياسة المالية والنقدية في اليمن، مجلة كلية التجارة والاقتصاد، جامعة صنعاء، سبتمبر 2007.">[3]</sup></span></a>.
                </p>
                <p>هذا الاختلال يضعف عملية الاستخدام الأفضل للموارد لاسيما، أن اليمن تعتمد على الإيرادات النفطية مصدرًا
                    رئيسًا،
                    ومن ثَمَّ فإن حدوث أي صدمة ستؤدي إلى انتكاسة إنتاجية وسعرية بسبب اختلالات كبيرة في الموازنة العامة
                    للدولة.
                </p>
                <p>إن الاتجاهات السلبية المزمنة التنموية والاستثمارية في الجانب الاقتصادي قد أثرت سلبًا في قدرة الاقتصاد
                    اليمني
                    عن طريق تراجع إنتاج النفط وتراجع أسعار النفط العالمية.</p>
                <h2>ب‌- اتجاهات الإصلاح في جانب الإيرادات:</h2>
                <p>تشير البيانات المالية إلى تحقيق الإيرادات العامة نموًا سنويًا متوسطًا 14.1% مقارنة بالنمو المستهدف في
                    إطار
                    الخطة والبالغ 6.7%، ومع ذلك تراجعت الأهمية النسبية للإيرادات العامة كنسبة من الناتج المحلي الإجمالي،
                    ويرجع
                    ذلك بصفة أساسية إلى تراجع الإيرادات النفطية خلال المدة 2006 - 2010م جراء تراجع أسعار النفط في
                    الاسواق
                    العالمية، بالإضافة إلى تراجع إنتاج النفط الخام.</p>
                <p>ونظرًا لأن هيكل الإيرادات العامة ما يزال يعتمد بصورة أساسية على إيرادات النفط، حيث تشكل نسبة 66% من
                    إجمالي
                    الإيرادات العامة مما يعني أن دور الدولة الاقتصادي مرهون بمتغيرات خارجية ومصادر قابلة للتغيرات
                    والأزمات
                    والصدمات، مما يجعل هامش الأمان الاقتصادي والمالي للدولة ضعيفًا، ويجعل هذا الهيكل غير قابل للاستدامة،
                    وهو
                    الأمر الذي أضعف قدرة الاقتصاد اليمني وأضعف استدامة المالية العامة.</p>
                <p>بناءً على ما سبق يمكن القول: إنه وبالرغم من تزايد الأهمية النسبية للإيرادات غير النفطية إلى إجمالي
                    الإيرادات
                    العامة، إلا أن الموازنة العامة ما تزال تعتمد على مصادر غير مستقرة وغير آمنة ولا تحقق الاستقرار
                    والاستدامة
                    المالية، لاسيما مع تراجع إنتاج النفط من جهة وتراجع أسعاره عالميًا من جهة أخرى<a href="#4"><span><sup
                                title="البشيري، منصور علي: الإيرادات العامة غير الضريبة- المؤتمر الاقتصادي اليمني، مجلة المركز اليمني للدراسات الاستراتيجية، أكتوبر 2010.">[4]</sup></span></a>.
                </p>
                <p>بالإضافة إلى ذلك ضعف فاعلية الإجراءات التي اتخذت للحد من التهرب الضـريبي؛ الأمر الذي انعكس في محدودية
                    أهميتها
                    النسبية في هيكل الإيرادات العامة للدولة.</p>
                <h2>ج‌- اتجاهات الإصلاح في عجز الموازنة العامة:</h2>
                <p>أثرت تطورات النفقات العامة والإيرادات العامة السلبية في تفاقم عجز الموازنة العامة للدولة، التي كان
                    لها الأثر
                    الكبير في اتخاذ وضع محدد من السياسات والإجراءات الرامية إلى تعزيز الاستقرار المالي والرامية إلى
                    زيادة الأثر
                    التنموي للموازنة العامة التي كانت نتائجها تشاؤمية.</p>
                <p>وقد أظهر الأداء الفعلي للموازنة العامة أنها اعتمدت بشكل متزايد على التمويل المحلي من مصادر حقيقية
                    وتضمينية،
                    في حين تراجع التمويل الأجنبي ويرجع السبب في ذلك إلى انخفاض المسحوب من القروض والمساعدات.</p>
                <h2>د‌- يمكن استخلاص أهم النتائج للاتجاهات المالية العامة في اليمن كالآتي:</h2>
                <ol>
                    <li>‌اتسمت المالية العامة في اليمن ومن ثَمَّ السياسة المالية بعدد من الخصائص العامة التي تشكل في
                        مجملها
                        الملامح الرئيسة للسياسة المالية خلال المدة الماضية، ولعل أبرز تلك الملامح أنها سياسة مالية غير
                        متوازنة،
                        فقد أدى تطور ونمو الاختلال المالي بين الإيرادات العامة والنفقات العامة إلى تزايد الفجوة بين
                        الإيرادات
                        العامة والنفقات العامة؛ الأمر الذي تسبب في فقدان المالية العامة لتوازنها المالي والاقتصادي، وقد
                        انعكس
                        ذلك إلى الاختلال بعدم التوازن في نمو عجز الموازنة الذي ظل ملازمًا لها خلال المدة الماضية إلى أن
                        وصل إلى
                        مستويات غير مقبولة اقتصاديًا واجتماعيًا.</li>
                    <li>‌تحقيق الاستقرار الاقتصادي الكلي الذي يوفر بيئة ملائمة ومحفزة للنمو الاقتصادي عن طريق السياسة
                        الاقتصادية، لاسيما في جانبها المالي الذي يُعد هدفًا محوريًا ويشغل حيزًا كبيرًا من اهتمامات
                        المفكرين
                        الاقتصاديين وصُناع السياسات الاقتصادية، سواء كانت سياسة توسعية أو انكماشية عبر التحكم في تيار
                        الإنفاق
                        العام والضرائب.</li>
                    <li>‌فاعلية الأدوات المالية (الإنفاق العام والإيرادات العامة) قد تتأثر بظاهرة المزاحمة التي تقلل
                        فاعليتها
                        في زيادة النمو الاقتصادي، فحينما يزيد الإنفاق الحكومي أو تنخفض الضـرائب أو كليهما فإن ذلك يسبب
                        في انخفاض
                        الادخار، ومن ثم يرتفع سعر الفائدة في سوق الأرصدة، مما يؤدي إلى انخفاض حجم الاستثمار الخاص ليعادل
                        الزيادة
                        في الإنفاق الحكومي<a href="#5"><span><sup
                                    title="الحاوري، محمد احمد: تحليل استدامة المالية العامة في اليمن في ظل تراجع انتاج النفط، مجلة الدراسات الاجتماعية، 2015، جامعة العلوم والتكنولوجيا-.">[5]</sup></span></a>.
                    </li>
                    <li>‌تشير جميع المؤشرات الاقتصادية إلى ضعف كفاءة وفاعلية أدوات السياسة المالية لتحقيق أهدافها؛ إذ إن
                        وجود
                        الاختلالات العميقة وتشوهات هيكلية في الأداء المالي الذي انعكس على الأداء الاقتصادي الكلي، وقد
                        تجلى في
                        صور شتى، أبرزها في الجانب المالي ممثلًا بعجز الموازنة وارتفاع حجم المديونية المحلية وتراجع حجم
                        الإنفاق
                        الاستثماري الحكومي الذي بدوره أدى إلى تراجع الدور الاقتصادي للدولة في حفز النشاط الاقتصادي
                        وتراجع معدلات
                        النمو الاقتصادي في نهاية المطاف.</li>
                    <li>‌الإصلاحات الاقتصادية في جانبها المالي وفقًا لبرنامج الإصلاح الاقتصادي والمالي، سواء النقدية
                        (1995م) أم
                        البرنامج الجديد مع الصندوق في عام (2012م)، حيث تبنت الحكومات المتعاقبة سواء إصلاحات مالية في
                        جانب إعادة
                        هيكلة الإنفاق العام أم تحديد أسعار الطاقة وإزالة الدعم على المشتقات النفطية بصورة تدريجية ورفع
                        أسعار
                        الخدمات العامة وإجراء تعديلات في الضـرائب على الإنتاج والاستهلاك فضلًا عن أضرار ضريبة المبيعات
                        العامة
                        ومع كل تلك الإجراءات فإن المالية العامة لا تزال تواجه اختلالات عميقة في هيكل الإنفاق العام في
                        بنية
                        الإيرادات العامة التي تستدعي إلى تبني برنامج للإصلاح المالي الذي يُعد هدفًا في تقديم هذه الورقة.
                    </li>
                </ol>
            </div>
        </div>
        <div class="nested-ref">
            <h2 class="show-references">إخفاء المراجع</h2>
            <div class="refrences">
                <div class="first-ref-info">
                    <h2>المراجع</h2>
                </div>
                <ul>
                    <li id="1">التقرير الاستراتيجي اليمني (2012)، المركز اليمني للدراسات الاستراتيجية.</li>
                    <li id="2">العسلي، سيف مهيوب: إصلاح المالية العامة في اليمن- المؤتمر الاقتصادي اليمني، المركز اليمني
                        للدراسات
                        الاستراتيجية، أكتوبر 2010.</li>
                    <li id="3">الأفندي، محمد احمد: أولويات واتجاهات السياسة المالية والنقدية في اليمن، مجلة كلية التجارة
                        والاقتصاد،
                        جامعة صنعاء، سبتمبر 2007.</li>
                    <li id="4">البشيري، منصور علي: الإيرادات العامة غير الضريبة- المؤتمر الاقتصادي اليمني، مجلة المركز
                        اليمني
                        للدراسات الاستراتيجية، أكتوبر 2010.</li>
                    <li id="5">الحاوري، محمد احمد: تحليل استدامة المالية العامة في اليمن في ظل تراجع انتاج النفط، مجلة
                        الدراسات
                        الاجتماعية، 2015، جامعة العلوم والتكنولوجيا-.</li>
                </ul>
            </div>
        </div>
        <div class="show-some-studies">
            <h3 class="show-studies-h3">اقرأ أيضًا</h3>
            <a href="{% url 'reformmethodology' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/method1.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <span>3 مارس 2024</span>
                        <h3>منهجية الإصلاح الإداري</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'comprehensive_reform' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/fanicial.webp' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <span>23 سبتمبر 2023</span>
                        <h3>تقييم برنامج الإصلاح الاقتصادي والمالي والإداري الشامل في اليمن</h3>

                    </div>
                </div>
            </a>
            <a href="{% url 'evolution_of_public_administration' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/admini.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <span>5 أكتوبر 2024</span>
                        <h3>تطور الإدارة العامة في إطار حقل القانون الإداري</h3>

                    </div>
                </div>
            </a>
            <a href="{% url 'financial_reform_in_countries' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/gold.webp' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <span>20 يناير 2024</span>
                        <h3>تجارب بعض الدول في مجال الإصلاح المال</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'malaysia_study' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/maly2.webp' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <span>1 يونيو 2024</span>
                        <h3>تجربة ماليزيا في الإصلاح الإداري</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'future_fo_reforming_administrative_law_in_yemen' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/fix2.webp' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <span>14 سبتمبر 2024</span>
                        <h3>الرؤية المستقبلية لإصلاح القانون الإداري في اليمن</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'future_of_financial_reform_in_yemen' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/tagarb9.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <span>6 يناير 2024</span>
                        <h3>رؤية مستقبلية للإصلاح المالي في اليمن</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'role_of_the_private_sector_in_world' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/test.png' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <span>23 ديسمبر 2023</span>
                        <h3>تجارب عالمية وإقليمية لدور القطاع الخاص</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'legislative_reform_in_the_world' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/repair4.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <span>2 نوفمبر 2024</span>
                        <h3>تجارب عربية وغربية للإصلاح التشريعي</h3>
                    </div>
                </div>
            </a>

            <a href="{% url 'implementing_e-government' %}" class="study-item">
                <div class="study-info-show last-one">
                    <div class="image-card">
                        <img src="{% static 'imgs/egoven.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <span>11 نوفمبر 2023</span>
                        <h3>عوامل نجاح أو فشل تنفيذ الحكومة الإلكترونية</h3>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <h2 class="show-references">إخفاء المراجع</h2>
    <div class="refrences">
        <div class="first-ref-info">
            <h2>المراجع</h2>
        </div>
        <ul>
            <li id="1">التقرير الاستراتيجي اليمني (2012)، المركز اليمني للدراسات الاستراتيجية.</li>
            <li id="2">العسلي، سيف مهيوب: إصلاح المالية العامة في اليمن- المؤتمر الاقتصادي اليمني، المركز اليمني
                للدراسات
                الاستراتيجية، أكتوبر 2010.</li>
            <li id="3">الأفندي، محمد احمد: أولويات واتجاهات السياسة المالية والنقدية في اليمن، مجلة كلية التجارة
                والاقتصاد،
                جامعة صنعاء، سبتمبر 2007.</li>
            <li id="4">البشيري، منصور علي: الإيرادات العامة غير الضريبة- المؤتمر الاقتصادي اليمني، مجلة المركز اليمني
                للدراسات الاستراتيجية، أكتوبر 2010.</li>
            <li id="5">الحاوري، محمد احمد: تحليل استدامة المالية العامة في اليمن في ظل تراجع انتاج النفط، مجلة الدراسات
                الاجتماعية، 2015، جامعة العلوم والتكنولوجيا-.</li>
        </ul>
    </div>
</div>
{% endblock %}