{% extends 'base.html' %}
{% load static %}
{% block title %}منهجية الإصلاح الإداري{% endblock %}
{% block content %}
<div class="container">
    <div class="top-of-study">
        <a href="{% url 'index' %}">المركز التأسيسي</a>/<a href="{% url 'studies' %}">الدراسات</a>/<span>منهجية الإصلاح الإداري</span>
    </div>
    
    <div class="studies-flex">
        <div class="first-page">
            <div class="controls">
                <button id="increaseFont"><i class="fas fa-search-plus"></i></button>
                <button id="decreaseFont"><i class="fas fa-search-minus"></i></button>
            </div>
            <a href="#img-id" class="hidden-row"><i class="fa-solid fa-arrow-up-long"></i></a>
            <!-- <h1>الحياة في اليمن</h1> -->
            <p class="p-img">منهجية الإصلاح الإداري</p>
                <div class="date-info">
                    <span>30 سبتمبر 2023</span>
                </div>
                <span class="pub">أ.د/ محمد سعيد محمد الكامل</span>
            
            <img src="{% static 'imgs/method1.jpg'' %}" alt="" id="img-id">
        
            <div class="full-text">
                <h2>‌أ- مداخل الإصلاح الإداري:</h2>
                <p> هناك عدة مداخل إدارية يتبناها الباحثون حول عملية الإصلاح الإداري، أهمها: </p>
                <ul>
                    <li>المدخل الشمولي: يرتكز هذا المدخل على أساس استخدام النظام المفتوح، الذي يعنى بدراسة الظواهر الإدارية في
                        إطار تفاعلها مع البيئـة المحيطـة، حيث يكون النظر إلى عملية الإصلاح الإداري جزءًا لا يتجزأ مـن الأوضـاع
                        السياسية والاقتصادية والاجتماعية؛ إذ لا يمكن أن يتصور إمكانية تحقيق نجاح كامل لجهود الإصلاح دون أن تكون
                        جزءًا من استراتيجية شاملة للإصـلاح، وأنصار هذا المدخل ينظرون إلى الجهاز الإداري على أنه وحـدة متكاملـة
                        لا يمكـن تجزئته، أو معالجة مشكلاته بأساليب وحلول جزئية، كما أن هذا المدخل لا يقبل أسلوب التدرج أو عملية
                        الترميم الجزئي للجهاز الإداري، وانطلاقًا من فرضية أن الكل يحوي الجزء، وأي إصلاح شامل وكلي يؤدي بالضـرورة
                        إلى تحسين في أوضاع كل أجزائـه <a href="#one"><span><sup
                                    title="عبد القادر، كاس، مرجع سابق، ص145.">[1]</sup></span></a>،
                        ويرتكز هذا المدخل على:
                        <ul>
                            <li>تقليص حجم العمالة الحكومية، مع التركيز على إدخال تغييـر جـوهري على أسلوب أداء الأجهزة الحكومية
                                وتطوير مهارات العاملين فيها.</li>
                            <li>الإدارة الحكومية بأسلوب وعقلية القطاع الخاص، وذلك من خلال تبنـي عدة عناصر وقواعد مستمدة من
                                اقتصاديات السوق داخل الجهاز الإداري، مثل: المنافسة، تحديد رسالة المنظمـة، التركيـز علـى النتـائج
                                ولـيس المدخلات.</li>
                            <li>خصخصة الوحدات الحكومية، ويستند هذا الأسلوب إلى تفعيـل آليـات السوق، وما تؤدي إليه من تفعيل
                                لعناصر المبادأة والمنافسة، ورفع كفـاءة المعاملات، وزيادة فاعلية الأداء.</li>
                        </ul>
        
                    </li>
                    <p>ويتوقف نجاح هذا المدخل على عدة عوامل، أهمها ما يلي:</p>
                    <ul>
                        <li>الإرادة السياسية، بمعنى تبني القيادة هدف التغييـر والتطـوير الإداري الشامل.</li>
                        <li>المقومات المجتمعية الكلية التي تدعم وتؤازر إصلاح نظم إدارة الجهـاز الحكومي.</li>
                        <li>فاعليـة الدور الرقـابي الخـارجي للمؤسسة التشريعيـة وغيرها من مؤسـسات الرقابـة الخارجية.</li>
                        <li>تطوير وتغيير نظم التعليم والبناء الاجتماعي (هيكل القـيم
                            والـسلوكيات
                            السائدة).</li>
                        <li class="">تضافر الجهود التطويرية؛ لتنمية الجوانب المجتمعية الأخـرى الـسياسية والاقتصادية
                            والاجتماعية.</li>
                    </ul>
                    <li style="margin-top: 20px;">المدخل الجزئي: يرى أنصار هذا المدخل ضرورة اتباع أساليب جزئية ومرحلية لمعالجـة
                        المشكلات التي تواجه
                        الجهاز الإداري، عن طريق التركيز على إصلاح الهياكل التنظيمية، وتبسيط الإجراءات؛ لذا فإن أنصار هذا المـنهج
                        ينظـرون إلى الإصلاح الإداري بوصفه عملية ترميم للأجزاء المكونة للجهاز الإداري، كما يـرون أن الأخذ بمبدأ
                        التدرج سيؤدي إلى إصلاح الجهاز الإداري بشكله الكلي، ولكن يعاب على هذا المدخل أنه قد يخدم مصالح ضيقة في
                        المنظمة، كتعديل الهياكل التنظيمية، والتوسع وإضافة وحدات إداريـة، أو تحـسين أوضـاع القيـادات الإدارية
                        العليا، دون أن يكون هناك تغيير حقيقي في نمـط وسـلوك الجهـاز الإداري ككل.</li>
                    <p>ويرتكز هذا المدخل على عدة محاور، أهمها:</p>
                    <ol>
                        <li>الكشف عن الأوضاع الإدارية الحالية، ودراستها وتحليل عواملهـا المختلفة. </li>
                        <li>تحديد مصادر المشكلات وأسباب التخلف الإداري.</li>
                        <li>التعرف إلى المتغيرات المؤثرة والمسببة للتخلف الإداري.</li>
                        <li>اكتشاف وسائل الإصلاح الإداري، والمقارنـة بينهـا، واختيـار الأنسب للمعطيات والظروف السائدة.</li>
                        <li>المتابعة وتقييم النتائج وتوضح تجارب الإصلاح الإداري، والتركيز على هذا المدخل الجزئي، الذي يقدم
                            إصلاحات جزئية للمشاكل التي تواجه الأجهزة الحكومية؛ ما يؤدي إلى عدم وجود أية نتـائج ملموسـة للبرامج
                            الإصلاحية المنفذة<a href="#two"><span><sup title="كافي، مصطفى يوسف، ص 57">[2]</sup></span></a>.</li>
                    </ol>
                </ul>
                <h2>‌ب- مراحل الإصلاح الإداري:</h2>
                <p>لضمان نجاح عملية الإصلاح الإداري لابد من تباع مجموعة من الخطوات والإجراءات المتتالية والمتناسقة مع بعضها بعض،
                    وكما يوردها المهتمون بالإصلاح الإداري <a href="#three"><span><sup
                                title="كافي، مصطفى يوسف، ص 60 - 62">[3]</sup></span></a>، تتلخص
                    فيما يلي: </p>
                <h2 class="special-title">دراسة الحاجة إلى الإصلاح الإداري وتحليلها: </h2>
                <p>إنَّ سوء أداء العديد من الأجهزة الحكومية، وتدني مستوى رضا المستفيدين من خدماتها، وتعقد الإجراءات الإدارية،
                    والتضخم الوظيفي، وضعف مـستوى كفاءة المديرين، وعدم الانضباط الإداري، تبرز هذه المظـاهر الحاجـة إلى الإصلاح،
                    الذي يستلزم تحليل العوامل التي أدت إليها، ومن ثـم تحديـد الحلول المثلى لمعالجتها، في ضوء الموارد المالية
                    والبشـرية المتاح، ونظرًا لتعدد وتعقد مجالات التوصيف، التي يمكن الانطلاق منها لوضع توصيف دقيق لواقع الإدارة
                    العامة، وقد وضعت أسئلة محددة تختلف الإجابة عنها من دولة إلى أخرى، لكن بالمحصلة فإن مجمل الإجابات ستعطي
                    التوصيف درجة من الدقة والوضوح<a href="#four"><span><sup
                                title="سعود، محمد. ونصرالدين عبيد، مرجع سابق.">[4]</sup></span></a>.
                </p>
                <h2 class="special-title2">في الجانب السياسي: </h2>
                <p>هل هناك رغبة في الإصلاح الإداري؟ وهل يتوافر الدعم الرسمي والشعبي لإنجاح عملية الإصلاح الإداري؟ وما مدي خضوع
                    الإدارة للاعتبارات السياسية؟ ماهي طبيعة العلاقة بين المواطن والإدارة العامة؟ وما هو دور كل من المجتمع المدني
                    والإعلام ومدى فاعليتها أمام الإعلامي الخارجي؟ وما هو تأثير الضغوط السياسية الخارجية؟</p>
                <h2 class="special-title2">في الجانب الوظيفي: </h2>
                <p>ما النظام الإداري القائم؟ وما طبيعة المشاكل الإدارية السائدة؟ ما حجم الفساد وأشكاله؟ وهل النظام الرقابي فعال؟
                    ما مدى الاستخدام للتقنيات وتوافر بنك وطني للمعلومات حول حجم الكادر البشـري الوظيفي ومستوى تأهيله؟ وهل توجد
                    آليات واضحة في التعيين والتقييم؟ وهل الرواتب والأجور تلبي احتياجات الموظف؟ وما مستوى الرضا لما يقدم له؟</p>
                <h2 class="special-title2">وفي الجانب الاجتماعي: </h2>
                <p>وذلك بمعرفة النمو السكاني، ومعدلات البطالة وأشكالها، والفوارق الاجتماعية، وعن الثقافة المجتمعية والمؤسسية حول
                    طبيعة الإدارة العامة.</p>
                <h2 class="special-title2">وفي الجانب القانوني: </h2>
                <p>ما مدى سيادة القانون واستقلالية القضاء ومدى فاعليته ونزاهته؟ وما مدى تطور السياسات العامة التي تحكم النظام
                    الإداري وتنظم عمله وعلاقته مع بعضه <a href="#five"><span><sup
                                title="سعود، محمد. ونصرالدين عبيد.">[5]</sup></span></a>؟ </p>
                <h2 class="special-title">إعداد الاستراتيجيات وصياغتها ووضع الأهداف:</h2>
                <p>ويكون في هذه المرحلة إعداد الخطط الاستراتيجيـة لعمليـة الإصـلاح الإداري وأهـدافهــــــــــا الرئيسة، ويتوقف
                    مدى نجاح هذه الأهداف على العديد من العوامـل، أهمها: أن تكون محددة وواضحة وواقعية، وقابلة للقياس، وتوضع
                    المؤشرات التي توضح ما تحقق من إنجاز، في مدد محددة وفق جدول زمني محدد، وتعد هذه المرحلة من أكثر المراحل
                    صعوبة؛ لوجود أولويـات عديـدة بحسب المستفيدين وتفاوت واختلاف وجهات النظر بـشأنها وبـشأن وسـائل التنفيذ، ومع
                    ذلك فمهما اختلفت وتعددت الاستراتيجيات والمفاهيم فإن الأهداف إما أن تتعلق بتحقيق مزيد من الرقابة
                    واللامركزيـة، أو تعنـى بالكادر البشري أو بالقوانين أو بالوسائل التقنية وغيرها.</p>
                <h2 class="special-title">تطبيق الإصلاح الإداري وتنفيذه:</h2>
                <p>تعد هذه المرحلة من أصعب المراحل؛ نظرًا لوجود قوى تقاوم عملية الإصلاح وإحداث التغيير، وترجع أسباب مقاومة
                    التغيير إلى عدم وضوح أهداف التغيير لأفراد المجتمع، أو نتيجة للضغوط التي قد ترتبط بعمليات التغيير وما يرافقها
                    من تعارض الآراء وعدم التوافق بين إدارة الجهات الحكومية، بالإضافة إلى تدني الوعي بما يجري من تحولات
                    عالمية<a href="#six"><span><sup title="سعود، محمد. ونصرالدين عبيد، مرجع سابق.">[6]</sup></span></a>.</p>
                <p>وهناك عدة أساليب يجري اتباعها في هذه المرحلة لتنفيذ عمليـة الإصلاح، مثل: أسلوب الصدمة الفجائية الذي طبقته
                    اليابان وحقق نجاحًا بـاهرًا بعد الحرب الثانية، وهنـاك الأسـلوب التـدريجي، أي: تهيئة الجهاز الإداري وتأهيله
                    تدريجيًا؛ للقيام بعمليـة الإصلاح والتمهيد المناسب له، بنشـر أهدافه وأغراضه بين مختلـف مـستويات العاملين في
                    الجهاز الإداري قبل البدء به، وقد أخذت به التجربـة الفرنسية في إصلاح هياكل ونظم الإدارة والرقابة على مرافق
                    الكهرباء والغاز. </p>
                <h2 class="special-title">الرقابة وتقويم الأداء:</h2>
                <p>والرقابة إما أن تكون بعد الانتهاء من عملية الإصلاح، وتـسمى الرقابـة اللاحقة، ويكون فيها مقارنة نتائج الأداء
                    بأهداف الخطط السنوية المنبثقـة عـن الخطط الاستراتيجية، وقياس الانحرافات إن وجدت، وتقديم الحلول والبـدائل
                    المناسبة لمعالجته، وقد تكون الرقابة مصاحبة لعملية التنفيذ، ويعد هذا النوع من الرقابة من أفضل أنواع الرقابة؛
                    لأنها تعتمد على التغذية العكسية للمعلومات، ممـا يتيح لمتخذي القرار التدخل في الوقت المناسب، وتقديم التوجيه
                    اللازم لمنفـذي الخطط والبرامج الموضوعة للوصول إلى النتائج المطلوبة<a href="#sev"><span><sup
                                title="Stephen Robbins: organizational Behavior, 8th, ed. New Jersey: Prentice-Hall, 1997,p:34.">[7]</sup></span></a>.
                </p>
                <p>وكذلك تفعيل أنظمة الجزاءات وتشديد قواعد العقاب في الوظيفة العامة؛ تحقيقًا لمقاومة الانحرافات وتشديد العقوبات
                    على المخالفات الناشئة عن الفساد والفشل في إدارة المرافق العامة، سواء استغلال المال العام والتربح من الوظيفية
                    أم الإهمال أو كلاهما<a href="#8"><span><sup
                                title="سعود، محمد. ونصرالدين عبيد، مرجع سابق،">[8]</sup></span></a>.</p>
                <h2>‌ج- استراتيجيات الإصلاح الإداري:</h2>
                <p>هناك عدد من الاستراتيجيات لتطبيق الإصلاح الإداري، منها:</p>
                <ul>
                    <li>استراتيجية الإصلاح الجزئي: تعتمد هذه الاستراتيجية على جهود الإصلاح نحو عدد قليـل مـن العناصر والمنظمات
                        المستهدفة في عملية الإصلاح، وترتكز هذه الاستراتيجية - عادة - على أربعة عناصر، هي: مستوى الهيكلـة، مـستوى
                        العنـصر البشـري، طرق وأساليب العمل، الأنظمـة والتشريعات، وغالبًـا ما تنبـع جهـود التحديث من داخل المنظمة
                        في ظل غياب ضغوط من قبل جهات خارجية، ففي ظل هذه الاستراتيجية قد تُحدث نظم المعلومات أو تبسط الإجراءات،
                        إلا أن هذه الجهـود ليـس بالضـرورة أن تنعكس على مؤشرات فاعلية الاستخدام والأداء<a href="#9"><span><sup
                                    title="الطعامنة، محمد، مرجع سابق، ص 17.">[9]</sup></span></a>.</li>
                    <li>استراتيجية الإصلاح الأفقي: وتركز هذه الاستراتيجية على عدد محدود مـن العناصـر المكونة للنظام الإداري
                        الكلي، لكنها تطبق على كل منظمات الجهاز الحكـومي أو قطاعاته، وتعد - أيضًا - قاصرة لعدم شمولها، على سبيل
                        المثال لا الحـصر قد تركز هذه الاستراتيجية على: تصحيح سلم الأجور والمرتبـات أو وضـع الهياكل التنظيمية
                        وتطويرها أو إجراء تقييم للوظائف فـي جميـع قطاعـات الجهاز الحكومي.</li>
                    <li>استراتيجية الإصلاح القطاعي: تنتقي هذه الاستراتيجية جميع العناصر الحرجة المكونـة لـلأداء داخل المنظمات
                        الحكومية المختارة، ويجري تجربة برامج الإصلاح التي ستطبق على تلك العناصر قبل تعميمها على بقية العناصر،
                        وذلك من خـلال تشكيل لجنة لتجربة الإصلاحات المطلوبة على المستوى القطاعي أو الجغرافي، وهي بذلك تعتبر طريقة
                        إدارية مؤقتة للإصلاح تتناسب مع عادات وممارسات عمل الموظفين، والوسائل القانونية والإنسانية التي تقوم بها،
                        وتعد هذه الطريقة من وجهة نظر بعض الباحثين ذات آثار إيجابية على عملية الإصلاح الإداري، فهي تدفع الإدارة
                        التقليدية إلى الشعور بوجود مهـام مستجدة ومعقدة، كما تنشـر روح المبادرة فـي الإدارة، وتكـون أداة حـافزة
                        للإدارة التنفيذية، ولكن يأخذ على هذه الطريقة ظهور الصـراعات التـي قـد تعيق عملية الإصلاح
                        الإداري<a href="#10"><span><sup
                                    title="شلبي، صبري أحمد، مرجع سابق، ص66. وأنظر: البحيري، سامي محمد البحيري: مداخــل الإصلاح الإداري - التطوير التنظيمـي والتدريب وتقييم الأداء، بحث لماجـستير، الأكاديمية العربية البريطانية للتعليم العالي، لندن، ص42- 44.">[10]</sup></span></a>.
                    <li>استراتيجية الإصلاح الشامل: تمثل استراتيجية الإصلاح الشامل تحديث وتطوير مختلف العناصر الحرجة للأنظمة
                        والممارسات الإدارية وذلك في كل قطاعات ومؤسسات الإدارة العامة.</li>
                    </li>
                </ul>
            </div>
            <!-- <hr>
            <div class="publisher-name">
                <h1>الباحث:</h1>
                <h2>أ.د محمد سعيد محمد الكامل</h2>
            </div> -->
        </div>
        <div class="nested-ref">
            <h2 class="show-references">إخفاء المراجع</h2>
    <div class="refrences">
        <div class="first-ref-info">
            <h2>المراجع</h2>
        </div>
        <ul>
            <li id="one">عبد القادر، كاس، مرجع سابق، ص145.</li>
            <li id="two">كافي، مصطفى يوسف، ص 57.</li>
            <li id="three">المرجع نفسه، ص 60-62.</li>
            <li id="four">سعود، محمد. ونصرالدين عبيد، مرجع سابق.</li>
            <li id="five">سعود، محمد. ونصرالدين عبيد، المرجع السابق نفسه.</li>
            <li id="six">المرجع نفسه.</li>
            <li id="sev" class="eng">Stephen Robbins: organizational Behavior, 8th, ed. New Jersey: Prentice-Hall,
                1997,p:34.</li>
            <li id="8">سعود، محمد. ونصرالدين عبيد، مرجع سابق.</li>
            <li id="9">الطعامنة، محمد، مرجع سابق، ص 17.</li>
            <li id="10">شلبي، صبري أحمد، مرجع سابق، ص66. وأنظر: البحيري، سامي محمد البحيري: مداخــل الإصلاح الإداري -
                التطوير التنظيمـي والتدريب وتقييم الأداء، بحث لماجـستير، الأكاديمية العربية البريطانية للتعليم العالي، لندن،
                ص42- 44.</li>
        </ul>
    </div>
        </div>
        <div class="show-some-studies">
            <h3 class="show-studies-h3">مواضيع مشابهة</h3>
            <a href="{% url 'reformmethodology' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/method1.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>منهجية الإصلاح الإداري</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'comprehensive_reform' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/fanicial.webp' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>تقييم برنامج الإصلاح الاقتصادي والمالي والإداري الشامل في اليمن</h3>

                    </div>
                </div>
            </a>
            <a href="{% url 'evolution_of_public_administration' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/admini.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>تطور الإدارة العامة في إطار حقل القانون الإداري</h3>

                    </div>
                </div>
            </a>
            <a href="{% url 'financial_reform_in_countries' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/gold.webp' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>تجارب بعض الدول في مجال الإصلاح المال</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'malaysia_study' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/maly2.webp' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>تجربة ماليزيا في الإصلاح الإداري</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'future_fo_reforming_administrative_law_in_yemen' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/fix2.webp' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>الرؤية المستقبلية لإصلاح القانون الإداري في اليمن</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'future_of_financial_reform_in_yemen' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/tagarb9.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>رؤية مستقبلية للإصلاح المالي في اليمن</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'role_of_the_private_sector_in_world' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/test.png' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>تجارب عالمية وإقليمية لدور القطاع الخاص</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'legislative_reform_in_the_world' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/repair4.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>تجارب عربية وغربية للإصلاح التشريعي</h3>
                    </div>
                </div>
            </a>

            <a href="{% url 'implementing_e-government' %}" class="study-item">
                <div class="study-info-show last-one">
                    <div class="image-card">
                        <img src="{% static 'imgs/egoven.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>عوامل نجاح أو فشل تنفيذ الحكومة الإلكترونية</h3>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <h2 class="show-references">إخفاء المراجع</h2>
    <div class="refrences">
        <div class="first-ref-info">
            <h2>المراجع</h2>
        </div>
        <ul>
            <li id="one">عبد القادر، كاس، مرجع سابق، ص145.</li>
            <li id="two">كافي، مصطفى يوسف، ص 57.</li>
            <li id="three">المرجع نفسه، ص 60-62.</li>
            <li id="four">سعود، محمد. ونصرالدين عبيد، مرجع سابق.</li>
            <li id="five">سعود، محمد. ونصرالدين عبيد، المرجع السابق نفسه.</li>
            <li id="six">المرجع نفسه.</li>
            <li id="sev" class="eng">Stephen Robbins: organizational Behavior, 8th, ed. New Jersey: Prentice-Hall,
                1997,p:34.</li>
            <li id="8">سعود، محمد. ونصرالدين عبيد، مرجع سابق.</li>
            <li id="9">الطعامنة، محمد، مرجع سابق، ص 17.</li>
            <li id="10">شلبي، صبري أحمد، مرجع سابق، ص66. وأنظر: البحيري، سامي محمد البحيري: مداخــل الإصلاح الإداري -
                التطوير التنظيمـي والتدريب وتقييم الأداء، بحث لماجـستير، الأكاديمية العربية البريطانية للتعليم العالي، لندن،
                ص42- 44.</li>
        </ul>
    </div>
</div>
{% endblock %}