{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="top-of-study">
        <a href="{% url 'index' %}">المركز التأسيسي</a>/<a href="{% url 'studies' %}">الدراسات</a>/<span>تجارب عالمية وإقليمية لدور القطاع الخاص</span>
    </div>
    <div class="controls">
        <button id="increaseFont">+</button>
        <button id="decreaseFont">-</button>
    </div>
    <div class="studies-flex">
        <div class="first-page">
            <a href="#img-id" class="hidden-row"><i class="fa-solid fa-arrow-up-long"></i></a>
            <!-- <h1>الحياة في اليمن</h1> -->
            <p class="p-img">تجارب عالمية وإقليمية لدور القطاع الخاص</p>
            <div class="date-info">
                <span>20 أغسطس 2023</span>
            </div>
            <span class="pub">أ.د/ عبد السلام أحمد سعيد الدار</span>
            <img src="{% static 'imgs/test.png' %}" alt="" id="img-id">
                
            <div class="full-text">
                <p>هناك العديد من التجارب الناجحة للقطاع الخاص على مستوى العالم، منها على سبيل المثال ما تحقق في عدد من الدول
                    التي كانت تصنف ضمن دول العالم النامي، مثل كوريا الجنوبية وسنغافورا وتركيا والبرازيل والهند والصين، حيث
                    استطاع القطاع الخاص عن طريق الشـراكة التي قام بها مع حكومات تلك الدول من جعل اقتصادياتها من أكبر الدول نموًا
                    في العالم، ويعود ذلك إلى عدة عوامل، منها: أن الشـراكة التي قام بها القطاع الخاص مع القطاع العام اعتمدت على
                    تشاركية إيجابية بفضل قوة تلك الدول وقدرتها على المراقبة للقطاع الخاص، الذي منحت له الامتيازات لإدارة المرافق
                    العامة، بالإضافة إلى الشفافية والمسألة والحكم الرشيد التي تميزت بها بعض تلك الدول نتيجة للشـراكة الحكومية
                    بين القطاع العام والخاص، كما يُعد الاسـتثمار الخـاص مؤشـرًا علـى صحة الأعمال ومحركًا للنمـو الاقتصادي طويـل
                    الأمـد، ويفتـرض أن يخلـق فـرص عمـل كافيـة وأن يرفـع من دخل السـكان في أي بلد.</p>
                <p><span class="spe-span">تطور بعض المؤشرات الاقتصادية في الدول النامية: </span>شهدت التسعينيات من القرن الماضي
                    وبداية الألفية الجديدة سلسلة
                    من أزمات ميزان المدفوعات والأزمات المالية في البلدان النامية، بما في ذلك المكسيك في عام 1994م وبعض أجزاء
                    آسيا في المدة 1997 - 1998م التي امتدت آثارها إلى البرازيل والاتحاد الروسي في عام 2007م، وفي تركيا في المدة
                    2000 - 2021م، وفي الأرجنتين في المدة 2001 - 2002م.</p>
                <p>وعلى الرغم من هذه الأزمات فقد سجلت البلدان النامية معدل نمو سنوي للناتج المحلي الإجمالي بلغ المتوسط 7.4% خلال
                    المدة 1991 -2002م، وهذا ما يتجاوز المعدل الذي حققته الدول المتقدمة، وفي الوقت نفسه انخفض متوسط نمو الناتج
                    المحلي الإجمالي السنوي للاقتصاديات الانتقالية بنسبة 6.2%، وهذا ما يعزو إلى حد كبير للانهيار الاقتصادي فيها
                    في أوائل التسعينات من القرن الماضي، وكان أداء النمو في البلدان النامية خلال المدة 1991 - 2002م أعلى من أداء
                    نمو البلدان المتقدمة لعدد من الأسباب التي كان أحدها يتمثل في انتعاشها من الركود الاقتصادي المتصل بأزمات
                    الديون التي أثقلت العديد منها في الثمانينات من القرن الماضي، إلى جانب الانخفاض الحاد في أسعار السلع
                    الأساسية.</p>
                <p>وخلال المدة 2003-2007م تسارع نمو الناتج في البلدان النامية والاقتصاديات الانتقالية حتى في الوقت الذي ظلت فيه
                    البلدان المتقدمة تشهد نموًا بطيئًا نسبيًا، حيث تجاوز متوسط نمو الناتج المحلي الإجمالي السنوي في الدول
                    النامية البلدان المتقدمة وتراوحت قيمته بين 5.4 %و5 %وقد أدى اندلاع الأزمة الاقتصادية والمالية إلى تعزيز هذا
                    الاتجاه، وكان تسارع النمو خلال المدة 2003 -2007م، مقارنة بالمدة 1991-2002م، متباينا بدرجة كبيرة بين البلدان
                    النامية، فقد كان واضحًا في بعض الاقتصاديات مثل الاتحاد الروسي والأرجنتين وتركيا وجنوب إفريقيا والهند، ولكن
                    بدرجة أقل من ذلك بكثير في البرازيل والصين والمكسيك، بل إن جمهورية كوريا الجنوبية سجلت انخفاضًا في متوسط
                    معدلات نموها السنوية، وتعزى الزيادة الحادة في هذه المعدلات في روسيا والأرجنتين وتركيا إلى العديد من الأسباب
                    من بينها سرعة انتعاش تلك البلدان من الأزمات الحادة التي شهدتها بداية الألفية، وتسببت في خسائر كبيرة، وفي
                    المدة 2011-2012م ازداد سوء أداء النمو تدريجيًا في جميع المناطق النامية، لاسيما البرازيل وتركيا والهند، إلا
                    أنه ومع ذلك بقي مستوى الدخل الفردي يتجاوز مستويات ما قبل الأزمة وذلك بفضل سياسات الاقتصاد الكلي المضادة
                    للتقلبات الدورية الاقتصادية التي مكنت العديد من الدول النامية من تخفيف أثر الكساد العظيم على اقتصادياتها
                    لمدة من الزمن<a href="#1"><span><sup
                                title="تقرير التجارة والتنمية 2013، مؤتمر الأمم المتحدة للتجارة والتنمية، الأوتكاد، جنيف، ص23-25.">[1]</sup></span></a>.
                </p>
                <p>إلا أنه وبالرغم من ذلك ظلت الدول المتقدمة تشكل القوى المحركة الرئيسة للنمو العالمي، فخلال المدة 1990 -2005م
                    كانت هذه الدول تستأثر بحوالي ثلاث أرباع الناتج المحلي الإجمالي العالمي، بينما تجاوزت مساهمتها في النمو
                    الاقتصادي العالمي 50%، إلا أنها خلال المدة 2007-2012م لم تسهم سوى بنسبة ضئيلة جدًا، حيث من سنة 2010م أصبحت
                    الدول النامية هي أساسا التي تدفع النمو العالمي، حيث كانت تستأثر على نحو ثلثي هذا النمو.</p>
                <p>ومع بداية الألفية ونتيجة للكساد انخفضت حصة البلدان المتقدمة إلى حوالي 60 % في سنة 2012م، وارتفعت حصة الدول
                    النامية بنسبة 7 نقاط مئوية بين عامي 1970-2005م، لتصل إلى أكثر من 35 % من الناتج المحلي العالمي سنة 2012م،
                    ولا تزال دول آسيا من المناطق الأشد نشاطًا بنمو يناهز 5.5 % ومن بين الدول الرئيسة في المنطقة تستمر الصين في
                    الصدارة، حيث يقدر معدل نموها بنحو5.7 % في عام 2014م بالاعتماد على الطلب المحلي مع وجود بعض الدلائل الأولية
                    على تزايد دور الاستهلاك الخاص والعام، وازداد معدل نمو الهند، حيث يقدر بـ 5.5 % نتيجة لزيادة الاستهلاك الخاص
                    وصافي الصادرات.</p>
                <p>ويتناول هذا القسم من الدراسة تجارب عالمية لدور القطاع الخاص في التنمية، وتحليل مقارنة إقليمية وعالمية لوضع
                    وأداء اليمن في تقرير التنافسية العربية ركيزة أساسية في الإصلاحات الشاملة.</p>
                <h2>أ‌- تجارب عالمية لدور القطاع الخاص في التنمية:</h2>
                <h2 class="special-title">1- الشراكة الحكومية بين القطاع العام والقطاع الخاص:</h2>
                <p>دخلت الشـراكة بين القطـاع العـام والقطـاع الخـاص في الاتجاهات الحديثة لتطوير القطاع الخاص وتعزيز مكانته في
                    النشاط الاقتصادي، حيث تزايد عدد البلدان التي اختارت التوجه نحو الشراكة بين قطاعيها العام والخاص قصد فتح مجال
                    آخر للتوسع في النشاط للقطاع الخاص، ألا وهو قطاع البنى التحتية والخدمات المرتبطة به، الذي تنفرد به عادة
                    الدولة عن طريق مؤسساتها العامة، حيث تشير بعض التجارب أن مشاريع البنية التحتية الاقتصادية (النقل) هي الأكثر
                    استقطابا للشـراكة بين القطاعين العام والخاص مقارنة بمشاريع البنية التحتية الاجتماعية (الصحة والتعليم)؛ وذلك
                    للأسباب الآتية:</p>
                <ul style="list-style: none;">
                    <li>– تتمتع مشاريع البنية التحتية الاقتصادية بمعدلات ربحية عالية تزيد من جاذبية القطاع الخاص.</li>
                    <li>– جاذبية رسوم الاستخدام بشكل أكبر في مشاريع البنية التحتية الاقتصادية.</li>
        
                </ul>
                <p> تمتع مشاريع البنية التحتية بأسواق أكبر، مقارنة بمشاريع البنية التحتية الاجتماعية، وزيادة على ما توفره
                    الشـراكة بين القطاعين العام والخاص من أسواق جديدة لتطور نشاط القطاع الخاص وما ينجر عن ذلك من آثار إيجابية
                    على معدلات النمو الاقتصادي والحد من الفقر، فإنها تسمح بتجنب تأجيل أو إلغاء تشييد هذه البنى التحتية في حال لم
                    تكن الدولة - وهي المكلفة بتشييدها - قادرة على توفير مخصصاتها المالية، وما قد ينجر عن ذلك من آثار سلبية على
                    الاقتصاد والمجتمع نظرا للأهمية القصوى التي تتمتع بها البنية التحتية في تطوير النشاط الاقتصادي.</p>
                <p> كما أن الشـراكة بين القطاع العام والخاص من شأنها التخفيف من قيود الإنفاق والعجز في الميزانية من جهة، كما
                    يمكنها من جهة أخرى اقتصاد النفقات الموجهة للبنية التحتية وتوجيهها نحو استخدامات أخرى في حاجة للتمويل تتكفل
                    الدولة بأدائها وتتحمل تمويلها، مما يعود بالإيجاب على الاقتصاد والمجتمع. </p>
                <p>بعد هذه اللمحة السـريعة للتجارب العالمية وللشـراكة بين القطاع العام والخاص سوف نتطرق إلى بعض التجارب العربية،
                    حيث يتكــون القطــاع الخــاص فــي الــدول العربيــة بشــكل عـام مـن عـدد صغيـر مـن الشـركات الكبيـرة
                    والعديـد مــن الشــركات المتناهيــة الصغــر والصغيــرة والمتوســطة التــي تمثــل أكثــر مــن 90% مــن
                    الأعمال التجاريــة فــي المنطقــة، وتســهم فــي حوالــي 50% مــن العمالــة و70% مــن الناتــج المحلــي
                    الإجمالي فــي بعــض الـدول، ففـي جيبوتـي ومصـر والأردن ولبنـان والمغــرب وتونــس واليمــن، تحوي أكثــر مــن
                    96% مــن الشــركات علــى أقــل مــن 100 موظــف. وبالفعــل، تشــكّل الشــركات المتناهيــة الصغــر التــي
                    تشــمل أقــل عــدد مــن الموظفيـن (أقـل مـن 5 إلى 10 موظفيـن بحسـب التعريـف) الغالبيـة العظمـى مـن الأعمال،
                    وهـي تصـل إلى 97% مـن المؤسســات فــي الأراضــي الفلســطينية المحتلــة و90% فـي اليمـن). أما فــي مصــر،
                    فتبلــغ حصــة التوظيــف فــي المشــروعات متناهيـة الصغـر حوالـي 68%، وهـي نسـبة أعلـى بكثيـر مـن البلـدان
                    المماثلـة مثـل الأردن (40%). وتونـس (37%). </p>
                <p>ولا يختلــف الحــال حتــى فــي بعــض دول مجلــس التعــاون الخليجــي مثــل البحريــن، حيــث تمثــل المشــاريع
                    متناهيــة الصغــر 92% مــن جميــع الشــركات، بينمــا تمثــل الشــركات الصغيــرة والمتوسـطة 6% و1% علــى
                    التوالــي، ولا يوجــد تعريــف موحــد علــى مســتو ى المنطقــة، أو حتــى داخــل بلدانهــا، للمؤسســات
                    متناهيــة الصغــر أو الصغيــرة أو المتوســطة، أمــا التعريــف الأكثــر شــيوعًا فيسـتخدم التوظيـف كمعيـار
                    أساسـي. يتغيـر التعريـف مـن بلــد لآخــر ويعتمــد علــى القطــاع وحجــم الدولــة ومســتوى التنميــة
                    والبنيــة الاقتصاديــة - علــى ســبيل المثــال، بينمــا تقــوم الجزائــر ومصــر ولبنــان بتعريــف الشــركات
                    الصغيــرة علـى أنهـا تلـك التـي يعمـل بهـا أقـل مـن عشـرة موظفيـن، فـإن العـدد فـي الأردن والأراضـي
                    الفلسـطينية المحتلـة هـو أقـل مـن أربعـة<a href="#2"><span><sup
                                title="عبال، زينة: نظرة عامة على القطاع الخاص في الدول العربية، شـبكة المنظمـات العربيـة غـر الحكوميـة للتنميـة(annd)، بيروت 2021، ص9.">[2]</sup></span></a>.
                </p>
                <h2 class="special-title">2- تحليل تجارب عربية وعالمية عن الشراكة بين القطاعين العام والخاص: </h2>
                <p>شهدت المنطقة العربية حراكًا سياسيًا واجتماعيًا مع مطلع العام 2011م، وأحدث هذا الحراك تغييرات في نمط إدارة
                    الحكم، وقد طالب هذا الحراك بالحفاظ على كرامة الإنسان العربي، وتأمين حياة ورفاهية الشعوب؛ لهذا كان على أصحاب
                    الشـركات في القطاع الخاص رد الجميل إلى المجتمعات التي ينتمي إليها، وتعزيز الخير الاجتماعي والتخفيف من تفاقم
                    معاناة المواطنين في المجتمع.</p>
                <p>وفيما يلي سوف نستعرض تجربتين حول مثل هذه الشـراكة بين القطاعين العام والخاص هما: تجربة دولة الكويت والخليج
                    العربي، والتجربة التركية. </p>
                <h2 class="special-title">3- تجربة دولة الكويت والخليج العربي<a href="#3"><span><sup
                                title="ذياب، عامر: تجربة الكويت والخليج العربي، ورقة بحثية مقدمة لبحوث ومناقشات الندوة التي أقامتها المنظمة العربية لمكافحة الفساد يومي 22 و23 سبتمبر 2011، المركز العربي للأبحاث ودراسة السياسات، بيروت، يناير 2013، ص139-145.">[3]</sup></span></a>:
                </h2>
                <p>مر تطور القطاع الخاص في الكويت ودول الخليج بعدة مراحل تمثلت في الآتي:</p>
                <ul>
                    <li><span class="spe-span">مرحلة ما قبل الاستقلال واكتشاف النفط: </span>وفي هذه المرحلة هيمن فيها القطاع
                        الخاص عن طريق سيطرته على تجارة
                        اللؤلؤ الطبيعي، وجلب السلع والأقمشة والتوابل ومواد البناء وتسويقها، كما قام بعملية تصدير التمور إلى بعض
                        الأسواق الأسيوية مثل الهند وغيرها. <br>
                        <p>وقد جلب القطاع الخاص في هذه الدول الأخشاب والفحم من شرق إفريقيا، وأدى دورًا مهمًا في النشاط
                            الاقتصادي، حيث اقتصـر دور الدولة خلال تلك المدة على توفير الأمن من أجل استمرار الأنشطة الاقتصادية
                            وازدهارها.</p>
                    </li>
                    <li><span class="spe-span">مرحلة ما بعد اكتشاف النفط: </span>لعب القطاع الخاص خلال هذه المرحلة بدور فاعل في
                        العملية الإنتاجية، وتصاعد هذا
                        الدور باستمرار كبير بعد ذلك، وأسهم في تحسين أوضاع الناس الاقتصادية والاجتماعية، كما أسهمت الكفاءات
                        والخبرات المتراكمة في تدبير القطاع الخاص المرتكز على العائلات الكبرى في تقوية توجهات الدولة إلى استثمار
                        فوائض عائدات النفط بعد عملية إنتاجه وتسويقه.</li>
                    <li><span class="spe-span">مرحلة ما بعد الاستقلال: </span>أسهم استقلال الكويت وبعض الدول الخليجية من
                        الاستعمار البريطاني الذي ظل فيها مدة
                        طويلة يتحكم في خيرات البلاد حتى مدة الستينيات والسبعينيات من القرن الماضي، من بناء شراكة حقيقية ومتوازية
                        ومثمرة بين القطاع العام والخاص، وجرى تأسيس الشـركات الكبرى التي كان لها الدور المهم في مسيرة التنمية في
                        مختلف القطاعات مثل قطاع النفط والنقل والصناعة والخدمات وغيرها.</li>
                </ul>
                <p>بعد ذلك أممت الدولة الكويتية قطاع النفط بما فيها حصة ملكية القطاع الخاص وتهميشه، بعد ارتفاع أسعار النفط، ثم
                    امتدت يد الدولة إلى قطاع البنوك والمصارف بعد أزمة 1982م، وأصبح للدولة الكويتية ودول الخليج الأموال الطائلة،
                    لكنها لا تمتلك الإمكانات الإدارية والأفكار المجدية في مجال الأعمال؛ لذلك بات من الضـروري تطوير العلاقات
                    والشـراكة بين القطاعين العام والخاص في مختلف الأنشطة والمجالات والقطاعات الاقتصادية، حيث بدأ الانتعاش في
                    السنوات الأخيرة يزداد بشكل متسارع بين القطاعين.</p>
                <p> ومن المتوقع أن تسهم الخصخصة المتأنية والمجدية في المستقبل من رفع الكفاءة والحد من الهدر ووقف الدعم غير
                    المشروط وتعزيز المسؤولية باستخدام هذه المرافق الحيوية.</p>
                <p>أما فيما يتعلق بالغرفة التجارية بدولة الكويت <a href="#4"><span><sup
                                title="مأخوذ من الموقع الإلكتروني يوم الاثنين تاريخ 7-8 -2023. https://2u.pw/qYeNdOn">[4]</sup></span></a>فهي
                    مؤسسة ذات نفع عام؛ تتمتع بشخصية اعتبارية مستقلة ماديًا
                    ومعنويًا، تأسست غرفة تجارة وصناعة الكويت بموجب مرسومٍ أكسبها وضعًا مؤسسيًا متميزًا صدر في العام 1959م،
                    يُنتَخَب مجلس إدارتها بالكامل ديمقراطيًا من قبل جمعيتها العامة، ويُعد رئيس وأعضاء مجلس إدارتها المنتَخَبين
                    بمقام متطوعين للخدمة العامة دون أي مقابل، تتكون مواردها من اشتراكات أعضائها ورسوم خدماتها دون أي دعم حكومي،
                    كما يُعد رأيها لازمًا في كل ما يتعلّق بالمسائل والتـشريعات ذات الطابع الاقتصادي.</p>
                <p>إن التقدم الاقتصادي الذي حققته دولة الكويت لم يكن نتاج نبتة بلا جذور ظهرت في حقل نفط، بل هو تطوّر طبيعي
                    لتراكم حضاري في مجتمع مستقل، قام قبل أكثر من قرنين ونصف من الزمن على أساس راسخ من الإيمان والجهد والحرية...
                    حرية الوطن والفكر والاقتصاد. </p>
                <h2 class="special-title">4- التجربة التركية<a href="#5"><span><sup
                                title="أُخذت التجربة التركية من الرابط تاريخ الدخول 30 سبتمبر 2023م.  https://2u.pw/IitJrMH">[5]</sup></span></a>:
                </h2>
                <p>تعد التجربة الاقتصادية التركية من أبرز التجارب الرائدة في مجال التنمية الاقتصادية والاجتماعية، ومحط أنظار
                    العديد من الاقتصاديين في العالم، حيث استطاعت تركيا خلال أقل من عقد من الزمن تحقيق نموذج اقتصادي تنموي، هذا
                    النموذج جعلها في مصاف الدول الصاعدة، حيث خرجت من واقع اقتصادي صعب ومن دولة نامية فقيرة تعتمد على صادرات
                    المحاصيل الزراعية ذات القيمة المضافة المنخفضة، إلى دولة صناعية وفي مقدمة الدول من ناحية جذبها للاستثمارات
                    الأجنبية المباشرة، ويُعد الأداء الاقتصادي القوي لتركيا على مدى العقد الماضي يلهم الكثير من بلدان الأسواق
                    الصاعدة ويقدم دروسًا قيمة لواضعي السياسات لديها. إن دراسة مقومات هذه الدولة تضعها في صورة مهمة، حيث أصبحت
                    تملك بنية اقتصادية واجتماعية وثقافية قوية، تمنح قاعدة صلبة ومستدامة لمشـروع رفاه - بصـرف النظر عن الطبيعة
                    الإيديولوجية للحكومة القائمة - ومشـروع تنموي بلغ مرحلة النضج، وأرسى مقومات صلبة لتأمين إمكانات البلاد،
                    وتحفيز القوى الإنتاجية، على قاعدة رؤية شمولية وجذرية تضع المواطن التركي في صلب العملية التنموية بوصفه محركها
                    الحيوي، وشهدت تركيا خلال السنوات الماضية طفرة اقتصادية واجتماعية وسياسية متسارعة، دفعت بالمواطن التركي إلى
                    التقدم والرقي على كل المستويات، بعد أن كانت تعيش أزمة مالية عام 2001م كانت أبرز مؤشراتها ارتفاع مستوى الدين
                    الخارج،. وتقترب تركيا من أعتاب الدخول في شريحة البلدان المرتفعة الدخل، فلقد نجحت في الاندماج الاقتصاد
                    العالمي استنادا إلى الركيزة التي وفرتها العلاقات التجارية مع أوروبا، ووضع مالية عامة قوية غداة الأزمة
                    المالية أتاح للبلاد التحول من خدمة الدين إلى خدمة المواطن، وقطاع خاص ديناميكي تحفزه سياسات مواتية للسوق على
                    نطاق واسع، وكنتيجة لتظافر هذه العوامل، فقد عم الرخاء على جميع المواطنين في تركيا.</p>
                <p>وقد تبنت تركيا الجديدة سياسة اقتصادية حرة، حيث شجعت القطاع الخاص؛ اذ اعتمدت الحكومة على الشـركات الخاصة من
                    أجل تفعيل المنافسة، وتقليل الفساد إلى الحد الأدنى، فقد استطاعت أن تجعل قيمة الشركات المباعة بالخصخصة 9.58
                    مليار دولار، بعد أن كانت مقدرة بنحو 1.8 مليارات دولار. </p>
                <p><span class="spe-span">تسهيل الاستثمار وإنجاز المشاريع: </span>عملت الحكومة على تسهيل الاستثمار داخل تركيا
                    بالنسبة للأجانب عن طريق تسهيل
                    إقامة الشـركات وسهولة المعاملات، وأدت الاتحادات الاقتصادية دورًا كبيرًا في تنظيم الحركة التصنيعية
                    والإنتاجية، وأقامت الدولة علاقات قوية ومؤثرة مع هذه الاتحادات.</p>
                <p>وبحسب النظام الرأسمالي الذي تتبعه تركيا كانت للشـركات الكبرى مكانة كبيرة في الاقتصاد والسياسة، حيث كانت هناك
                    شركات عملاقة مثل «كوج» و«دوغان»، اللتين تمتلكان عددًا كبيرًا من الشـركات في بنيتهما، وعلى الرغم من أن القسم
                    الأكبر من هذه الشـركات كان تابعًا لأطراف علمانية معادية لتوجه حزب العدالة والتنمية، إلا أنه لم يمارس عليها
                    أي ضغوط أو تطبيقات، بل أبقى على هذه الشـركات وعملها بكامل قوتها، وكما هو الحال في الشـركات الكبيرة، حيث تعد
                    شركة كوج من أكبر الشركات التركية و أعرقها؛ إذ أسست عام 1926م لتكون من أولى الشـركات تأسيسًا في تاريخ
                    الجمهورية، و تملك ضمن إدارتها عشـرات الشـركات الكبيرة، مثل «بنك يابي كريدي»، و«توفاش لصناعة السيارات»، وعلى
                    الرغم من وجود أعضاء في الهيئة الإدارية للشـركة لهم مواقف معادية من أردوغان وحزب العدالة والتنمية، فقد آثر
                    الحزب عدم ممارسة ضغوط على هذه الشـركات، وتشجيع نموها، بسبب حاجة الاقتصاد التركي إلى التوسع، ومن ثم تحقيق
                    الأهداف الاقتصادية الكبيرة التي تتضمنها خطط الحكومة. وللبرهنة على نمو هذه الشـركة وغيرها، فإن رأس مال
                    الشـركة بلغ في عام 2011م نحو 5.2 مليار ليرة تركية، في حين كان في عام 2002م نحو 203 ملايين ليرة، وكذلك تضاعفت
                    أصول الشـركة في المدة نفسها. أولت حكومة حزب العدالة والتنمية الاستثمار الخارجي أهمية كبيرة، وقد عملت هذه
                    الحكومات على تشجيع التصدير والتجارة الخارجية، وإزالة القيود الجمركية، وتقديم المساعدات والحوافز للعاملين في
                    مجال التصدير، ومن أبرز الخطوات في هذا المجال:</p>
                <ul style="list-style: square;">
                    <li> تشـريع عدد كبير من القوانين التي تخص المصدرين خارج تركيا، حيث قدمت الحكومة عام 2010م مشـروع قانون ينص
                        على دعم الشـركات التي تعمل بالتصدير بقيمة 50% من تكاليف تسويقها خارج تركيا، على ألا يتعدى الدعم المأخوذ
                        من الحكومة التركية للشـركة الواحدة خلال سنة واحدة 250 ألف دولار.</li>
                    <li>تقديم خدمات تدريبية مجانية في التسويق والتصدير للشركات العاملة في التصدير الخارجي.</li>
                    <li>عمدت وزارة التجارة ابتداء من عام 2010م إلى تقديم خدمات الاستشارة ودراسة الجدوى في الدول الخارجية؛
                        لتقديمها مجانا للشـركات التي ترغب في العمل بالتجارة في تركيا، وخصصت وزارة المالية ميزانية خاصة لأعمال
                        دراسة الجدوى مما سهل عملية الاستثمار، وبرز ذلك عن طريق أحجام الاستثمارات الكبيرة في تركيا ونماذج لرؤوس
                        الأموال المستثمرة الخارجية والداخلية.</li>
                    <li>قدمت الحكومة مساعدات مالية للفلاحين؛ لمساعدتهم على تصدير محاصيلهم ومنتجاتهم الزراعية إلى الخارج، ولأن
                        الأسواق تؤدي دورًا فعالًا في توسيع قاعدة رأس المال وتمويل الاستثمارات بتكلفة مناسبة، كما أنها تحتل
                        المكانة البارزة في تحقيق هدف النمو الاقتصادي المستمر، والقابل للاستدامة وفي زيادة القوة التنافسية
                        الدولية، الحكومة التركية عملت على تحقيق الأهداف الآتية:
                        <ol>
                            <li>تشجيع المؤسسات الاستثمارية على دخول السوق وتعميق وتفعيل أسواق المال.</li>
                            <li>تطوير هياكل أسواق المال وأساليب عملها.</li>
                            <li>الارتقاء ببورصة إسطنبول للأوراق المالية إلى مصاف البورصات العالمية.</li>
                            <li>تشجيع وتطوير أشكال التمويل، مثل الشـراكة الاستثمارية والعقارية وشركات رأس المال الاستثماري.</li>
                            <li>تطبيق العقوبات اللازمة التي من شأنها منع كل أنواع المعاملات القائمة على معلومات مسربة من الداخل
                                في أسواق المالية. </li>
                            <li>حماية حقوق صغار المساهمين في أسواق الأوراق المالية.</li>
                            <li>دعم أسواق البيع الآجل من أجل زيادة القدرة على التنبؤ والحد من تأثير التذبذبات في أسواق المال على
                                الاقتصاد. </li>
                            <li>السعي للانضمام إلى الاتحاد الأوروبي: الذي كان أمرا صعبا للغاية؛ لأن معظم مساحة تركيا تتبع قارة
                                آسيا باستثناء 10% من المساحة الكلية فقط تقع بقارة أوروبا، بالإضافة إلى النظرة الغربية إلى تركيا
                                المحملة بالإرث العثماني الذي أدخل الإسلام إلى أوروبا.</li>
                        </ol>
                    </li>
                </ul>
                <p> وبهذا فقد تمكنت الحكومة التركية من تحقيق طفرة اقتصادية كبيرة، وهذا راجع للسياسة الاقتصادية التي تدعم بشكل
                    واضح انعاش التجارة، وأولت أهمية قصوى لاستقطاب الاستثمارات الأجنبية، والحد من معدلات التضخم المرتفعة، وأيضًا
                    استفادت تركيا بشكل كبير من تحولها الديمغرافي، حيث تضاعف عدد السكان ثلاث مرات منذ الستينيات فارتفعت نسبة
                    العمالة في البلاد، فضلا عن عدد المستهلكين في السوق التركية، بالإضافة إلى النمو الاقتصادي السـريع في تركيا
                    مقابل زيادة سكانية كبيرة، حيث نجحت بشكل كبير في توفير ملايين فرص العمل، وأدت العلاقة الطردية بين زيادة عدد
                    السكان والنمو الاقتصادي إلى ثبات نصيب الفرد من الناتج المحلي الإجمال،. كما يمكنا أن نستدل على نجاح تجربة
                    الإصلاح الاقتصادي عن طريق نمو أهم المؤشرات الاجتماعية والاقتصادية، وكذا الأثر الواضح لهذه التجربة على كل من
                    القطاع الزراعي والصناعي.</p>
                <p>كما عملت الحكومة على التشجيع لتصنيع المنتجات ذات القيمة المضافة العالية القابلة للتصدير والمنتجات التي تتطلب
                    تكنولوجيا وتقنية عالية، وكذلك تشجيع الإنتاج في مجالات الكهرباء والإلكترونيات والأنظمة الدفاعية وأنظمة الفضاء
                    وصناعة السيارات، والاعتماد على التجارة الإقليمية بصفتها وسيلة مساعدة للنمو الاقتصادي المستمر والقابل
                    للاستدامة.</p>
                <p>ويتوقع المحللون صعود بعض القطاعات التي شهدت نموًا ملحوظًا على مستوى العالم، وهومًا سيتبعه نمو مماثل في سوق
                    العمل على رأس هذه القطاعات قطاع تكنولوجيا المعلومات، وقطاع التجارة الإلكترونية التي تشهد نشاطًا كبيرًا في
                    تركيا بسبب نشاط الأتراك في استخدام الإنترنت، حيث يقدر عدد مستخدمي الإنترنت حوالي 43%، ويصل حجم التجارة
                    الإلكترونية إلى حوالي 5.7 مليار دولار وهو رقم عملاق في السوق التركي، ومن المتوقع نمو التسويق الإلكتروني
                    المرتبط بالنشاط الكبير بالتجارة الإلكترونية.</p>
                <p>كما سجلت تركيا تطورًا كبيرًا في مشاريع البنية التحتية وتشمل الطرق والجسور والسكك الحديدية والمطارات، بمقاييس
                    عالمية مما أسهم في تزايد الاستثمارات من قبل القطاع الخاص والأجنبي.</p>
                <h2>ب‌- مقارنة إقليمية وعالمية لوضع اليمن في تقرير التنافسية العربية: </h2>
                <p>يكتسب تحليل وضعية اليمن في التنافسية أهمية كبيرة نظرا لكونها تمثل ركيزة أساسية في الإصلاحات الشاملة. والبديل
                    المطروح «القطاع الخاص» يفترض أن يؤدي مهما فشلت تجربة إجراءات قطاع الدولة في أدائها، من تطبيق سياسة تنموية،
                    قادره على بناء اقتصاد، يؤمن زيادة مستمرة في النمو وفي معالجة البطالة والمنافسة وفي تمويل المشاريع الأساسية
                    في البنى التحتية<a href="#6"><span><sup
                                title="عباس الفياض، عباس: الإصلاحات في البلدان النامية، في مؤلف جماعي: قضايا اقتصاديه معاصره، لطلبة الصف الثاني عشر أدبي، 2011.">[6]</sup></span></a>.
                </p>
                <p>ويُعد تعزيز التنافسية من العناصر الرئيسة في إطار الإصلاحات الإدارية الشاملة التي تنطوي على مجالات أكثر أهمية
                    في تشجيع ودعم دور القطاع الخاص في عملية التنمية، وتمثل التنافسية ركيزة أساسية في التجارب العالمية والإقليمية
                    في الإصلاح الإداري الشامل، وفي السياق ذاته تتبنى العديد من الدول العربية استراتيجياتٍ وخططًا وطنية تهدف إلى
                    تحقيق الاستقرار الاقتصادي وزيادة قدارتها الإنتاجية وتحسين كفاءة المُنتجات الوطنية وتطوير قطاعات الخدمات
                    لمُواجهة الحواجز التي تُعرقل من قُدراتها التنافسية، وكذلك تطوير الخدمات المتعلقة بتسهيل بيئة الأعمال، وتطوير
                    البنية التحتية، الهادفة إلى استقطاب المزيد من الاستثمارات سواء المحلية أو الأجنبية، وزيادة الاحتياطيات من
                    العملة الأجنبية وتحقيق التنمية الاقتصادية المستدامة للارتقاء بمستويات المعيشة.</p>
                <p>ويمكن تحليل مقارنة أداء اليمن في التنافسية عن طريق إطار إقليمي وفق تقرير تنافسية الاقتصادات العربية الذي
                    يستعرض تطور مستويات تنافسية الاقتصادات العربية، كما يسلط الضوء على الإجراءات والسياسات الاقتصادية التي
                    تنتهجها الدول العربية في سبيل تحسين مستويات إنتاجيتها وتنافسيتها، ويركز على قياس تنافسية الاقتصادات العربية
                    باستخدام مؤشرين أساسيين هما: مؤشر الاقتصاد الكلي، ومؤشر بيئة وجاذبية الاستثمار. </p>
                <h2 class="special-title2">مقارنة أداء اليمن على المؤشر العام لتنافسية الاقتصادات العربية:</h2>
                <p>يبين الجدول (4) أن الوضعية التنافسية لليمن شهدت تحسنًا طفيفًا في تقرير تنافسية الاقتصادات العربية لعام 2022م
                    لمتوسط المدة 2018-2021م مقارنة بتقرير 2021م لمتوسط المدة 2017-2020م، حيث ارتفعت من المرتبة 17 إلى المرتبة
                    16، وعلى الرغم من ذلك لا يزال أمام اليمن تحديات كبيرة لتحسين مستوى الأداء في مؤشرات التنافسية في الاقتصادات
                    العربية. </p>
                <p>وبالمقارنة مع الدول العربية في تقرير 2022م، يلاحظ أن كل من الإمارات، قطر، السعودية، الكويت، عُمان، البحرين
                    استحوذت على المراكز الستة الأولى على مستوى الدول العربية على التوالي، وجاء في المرتبة السابعة والثامنة
                    والتاسعة كل من المغرب والأردن وتونس على التوالي، في المقابل احتلت المراتب الثلاث الأخيرة كل من السودان
                    واليمن وليبيا في المراتب 14 و 16 و 17 على التوالي. </p>
                <p>وتجدر الإشارة إلى تحسن ترتيب ست دول عربية على مستوى الدول العربية في هذا التقرير مقارنة بالعدد الخامس من
                    تقرير تنافسية الاقتصادات العربية، وهي: اليمن، الأردن، الجزائر، عمان، قطر، ليبيا.</p>
                <img src="{% static 'imgs/gdw.png' %}" alt="" class="gd2">
                <p>إن تدني وضع التنافسية في اليمن يظهر الحاجة والأهمية القصوى التي ينبغي أن تركز عليها الإصلاحات الشاملة في
                    الجمهورية اليمنية، ودفعه نحو عجلة التنمية الاقتصادية (الانتعاش والنمو) المؤدي إلى تعزيز دور القطاع الخاص في
                    التنميـة ورفع المستوى المعيـشي للمواطنين وتحقيق الاستقرار والتوازن الاقتصادي وتحسين الكفاءة الإدارية في
                    تعبئة عوامل الإنتاج وتوزيعها على مختلف الهياكل المطلوبة، وتحقيق التنمية المستدامة.</p>
            </div>
        </div>
        <div class="show-some-studies">
            <h3 class="show-studies-h3">مواضيع مشابهة</h3>
            <a href="{% url 'reformmethodology' %}">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/method1.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>منهجية الإصلاح الإداري</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'comprehensive_reform' %}">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/fanicial.webp' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>تقييم برنامج الإصلاح الاقتصادي والمالي والإداري الشامل في اليمن</h3>
                        
                    </div>
                </div>
            </a>
            <a href="{% url 'evolution_of_public_administration' %}">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/admini.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>تطور الإدارة العامة في إطار حقل القانون الإداري</h3>
                        
                    </div>
                </div>
            </a>
            <a href="{% url 'financial_reform_in_countries' %}">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/gold.webp' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>تجارب بعض الدول في مجال الإصلاح المال</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'implementing_e-government' %}">
                <div class="study-info-show last-one">
                    <div class="image-card">
                        <img src="{% static 'imgs/egoven.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>عوامل نجاح أو فشل تنفيذ الحكومة الإلكترونية</h3>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <h2 class="show-references">إظهار المراجع</h2>
    <div class="refrences">
        <div class="first-ref-info">
            <h2>المراجع</h2>
        </div>
        <ul>
            <li id="1">تقرير التجارة والتنمية 2013، مؤتمر الأمم المتحدة للتجارة والتنمية، الأوتكاد، جنيف، ص23-25.</li>
            <li id="2">عبال، زينة: نظرة عامة على القطاع الخاص في الدول العربية، شـبكة المنظمـات العربيـة غـر الحكوميـة
                للتنميـة(annd)، بيروت 2021، ص9.</li>
            <li id="3">ذياب، عامر: تجربة الكويت والخليج العربي، ورقة بحثية مقدمة لبحوث ومناقشات الندوة التي أقامتها المنظمة
                العربية لمكافحة الفساد يومي 22 و23 سبتمبر 2011، المركز العربي للأبحاث ودراسة السياسات، بيروت، يناير 2013،
                ص139-145.</li>
            <li id="4">مأخوذ من الموقع الإلكتروني يوم الاثنين تاريخ 7-8 -2023. <a
                    href="https://2u.pw/qYeNdOn">https://2u.pw/qYeNdOn</a></li>
            <li id="5">أُخذت التجربة التركية من الرابط تاريخ الدخول 30 سبتمبر 2023م. <a
                    href="https://2u.pw/IitJrMH">https://2u.pw/IitJrMH</a></li>
            <li id="6">عباس الفياض، عباس: الإصلاحات في البلدان النامية، في مؤلف جماعي: قضايا اقتصاديه معاصره، لطلبة الصف
                الثاني عشر أدبي، 2011.</li>
        </ul>
    </div>
</div>
{% endblock %}