{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="comments">
    <div class="contact">
        <a class="spe-a" href="{% url 'pushPatrolPost' %}">رفع منشور</a>
    </div>
</div>
<div class="patrols">
    <!-- <img src="{% static 'imgs/logo.png' %}" alt=""> -->
    <h2>إطلاق دورية "حوكمة" </h2>
    <p>مجلة علمية محكمة تتبع المركز التأسيسي للدراسات والبحوث </p>
    <p>يعلن <span>المركز التأسيسي للدراسات والبحوث- صنعاء</span>
        عن إطلاق الدورية العلمية المحكمة "حوكمة" التابعة للمركز، والتي سيجري إصدارها كل سته أشهر مؤقتًا، وسيقع
        تحويلها مستقبلًا إلى دورية فصلية بعد تقييم مستوى نجاح التجربة في انتاج دراسات وابحاث نوعية ذات قيمة علمية
        وعملية تخدم جمهور المجتمع الأكاديمي والبحثي، وكذا الدائرة الأوسع من المعنيين بمجال الدراسات الاجتماعية
        والإنسانية، بمختلف تخصصاتها (سياسية - اقتصادية – اجتماعية - ثقافية - قانونية - إعلامية – تقنية). </p>
    <p>يأتي إطلاق المركز لدورية "حوكمة" في إطار إدراكه بأهمية وضرورة انتاج الدراسات والبحوث والمقالات العلمية
        الفاعلة في مجالات الحوكمة والتنمية الشاملة والمستدامة على مستوى (قطاعات الدولة ومؤسساتها الرسمية- قطاع
        الأعمال، القطاع الثالث/ المؤسسات المجتمعية والمجتمع المدني)، وضمن جهود المركز في بلورة هذا الإنتاج البحثي في
        رؤى واستراتيجيات وطنية قادرة على مواكبة متطلبات التغيير والتطورات العصرية الراهنة من أجل إدارة أفضل لشؤون
        الدولة والمجتمع.</p>
    <p>وبهذه المناسبة يسر المركز دعوة جمهور الباحثين والأكاديميين للمشاركة بدراساتهم وابحاثهم ومقالاتهم وتقاريرهم
        العلمية في المواضيع التي سوف تنشر في العدد الأول من الدورية بعد خضوعها للتحكيم والقبول. حيث خصص المركز لهذا
        العدد جملة من المواضيع المراد تغطيتها في هذه المرحلة، جرى حصرها في أربعة محاور رئيسية على النحو الآتي:
    <h3 class="head">المحور الأول: البناء التنظيمي للدول وأثره في كفاءة وفاعلية حكوماتها. </h3>
    ويشمل البحث في أحد المواضيع الآتية:
    <ul>
        <li>الأطر المفاهيمية المعاصرة للبناء والتطوير التنظيمي والنظريات العلمية المعاصرة في مجال تنظيم الإدارة
            العامة الحديثة. </li>
        <li>العوامل المؤثرة في البناء التنظيمي للدولة. </li>
        <li>تجارب عالمية رائدة في مجال البناء التنظيمي الفعال.</li>
        <li>التدخلات التي قامت بها بعض الدول في عنصر أو عنصرين من عناصر البناء التنظيمي الآتية: ((الهياكل
            التنظيمية- الثقافة التنظيمية- الكوادر الوظيفية- أنما ط الاتصال الفعال - القوانين واللوائح والسياسات
            التنظيمية – التقنية الرقمية)) أو غير ذلك من العناصر بهدف رفع كفاءة وفاعلية أداء حكومات تلك الدول.. مع
            بيان الدروس المستفادة وإمكانية تطبيقها على الحالة اليمنية.</li>
    </ul>
    <h3 class="head">المحور الثاني: إصلاح المنظومة العدليّة (الأمن والقضاء) في الجمهورية اليمنية. </h3>
    ويشمل البحث في أحد المواضيع الآتية:
    <ul>
        <li>راهن القطاع الأمني وتأثيره في سير العدالة في اليمن.</li>
        <li>راهن أجهزة القضاء (النيابة – المحاكم) وانعكاسه على مجرى عدالة القضاء اليمني.</li>
        <li>واقع ثقة المواطن اليمني بمنظومة العدالة (الأمن والقضاء).</li>
        <li>حوكمة القطاع الأمني وأثرها في سيادة القانون وتحقيق العدالة في اليمن.</li>
        <li>إصلاح مؤسسات القضاء (المعضلات، والحلول).</li>
        <li>توظيف التحول الرقمي في إصلاح المنظومة العدليّة في اليمن (التحديات، والفرص).</li>
    </ul>
    <h3 class="head">المحور الثالث: اقتصاد القطاع الثالث (الاقتصاد المجتمعي) ودورة في نهضة الدول. </h3>
    ويشمل البحث في أحد المواضيع الآتية:
    <ul>
        <li>الأطر النظرية والمفاهيمية للاقتصاد المجتمعي.</li>
        <li>علاقة اقتصاد القطاع الثالث باقتصادات (الحكومة، وقطاع الأعمال) </li>
        <li>واقع القطاع الثالث والاقتصاد المجتمعي في اليمن.</li>
        <li>تجارب دولية رائدة في تفعيل الاقتصاد المجتمعي.</li>
        <li>كيف نخلق اقتصاد مجتمعي تضامني فاعل في اليمن.</li>
    </ul>
    <h3 class="head">المحور الرابع: العدوان على غزة في ظل القانون الدولي والقانون الدولي الإنساني. </h3>
    ويشمل البحث في أحد المواضيع الآتية:
    <ul>
        <li>موقف القانون الدولي من العدوان الأخير على غزة.</li>
        <li>مظاهر انتهاك العدوان على غزة للقانون الدولي الإنساني.</li>
        <li>مبررات الموقف اليمني في نصرة غزة في إطار القانون الدولي والقانون الإنساني الدولي.</li>
        <li>دعوى جنوب أفريقيا ضد الكيان الصهيوني أمام محكمة العدل الدولية بارتكاب جرائم إبادة جماعية في غزة
            (الدوافع والنتائج المتوقعة).</li>
        <li>الدعم الأمريكي والغربي للكيان الصهيوني في عدوانه على غزة وأثره على السلم والأمن الدوليين. </li>
    </ul>
    <h3 class="head">ملاحظات عامة:</h3>
    <ul>
        <li>يلزم التقيد بـ <a href="" class="spe-word">معايير وشروط المشاركات البحثة</a>الخاصة بالمركز </li>
        <li>يمنح المركز مقابل مادي للأبحاث والدراسات والمقالات والتقارير العلمية المقبولة بعد خضوعها للتحكيم وتنشر
            في الدورية. </li>
        <li>يستقبل المركز الخطط والمقترحات البحثية الكترونيًا خلال مدة أسبوعين إلى ثلاثة من تاريخ نشر هذا الإعلان،
            وبعد إخضاعها للتحكيم وقبولها، يستقبل الأعمال البحثية والمقالات والتقارير العلمية بصورتها النهائية خلال
            مدة لا تتجاوز 30 إبريل 2024. ويجري الاستقبال بواسطة إيميل المركز (contact@csr-yemen.com) </li>
    </ul>
    </p>
    <div class="text">
        <div class="one">
            <h1 class="re">رئيس التحرير </h1>
            <h1 class="re2">د/ نبيل الدرويش</h1>
        </div>
        <div class="two">
            <h1>المركز التأسيسي للدراسات والبحوث</h1>
            <h1><a href="">(csr-yemen.com)</a></h1>
        </div>
    </div>

</div>
<div class="comments">
    {% for comment in comments|slice:':5' %}
    <div class="info">
        <div class="img-text">
            <i class="fa-regular fa-user"></i>
            <span class="name">{{comment.name}}</span>
            <span class="date">{{comment.publish_date|date:'Y-m-d H:i'}}</span>
        </div>
        <p>{{comment.comment}}</p>
        <a href="">الرد</a>
    </div>
    {% endfor %}
    <div class="contact">
        <h4>اترك تعليقا</h4>
        <p>لن يتم نشر عنوانك الإلكتروني <span>الحقول الإلزامية مشار إليها ب*</span></p>
        <div class="fields">
            {% include 'partials/alerts.html' %}
            <form action="" method="post">
                {% csrf_token %}
                <textarea name="comment" id="" cols="30" rows="10" placeholder="اكتب تعليقك" class="ta"
                    required></textarea>
                <input type="text" name="name" id="" placeholder="ادخل اسمك" required><span>*</span>
                <input type="email" name="email" id="" placeholder="ادخل البريد الالكتروني" required><span>*</span>
                <!-- <div class="check">
                    <input type="checkbox" name="" id=""><label for="">احفظ اسمي</label>
                </div> -->
                <input type="submit" name="send" value="إرسال" class="spe-a">
            </form>
        </div>
    </div>

</div>
{% endblock %}