{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="comments">
    <div class="contact">
        <a class="spe-a" href="{% url 'pushStudyPost' %}">رفع منشور</a>
    </div>
</div>
<div class="d-flex">
    <div class="text">
        <h1>الإصدار الأول للمركز</h1>
        <p>كتاب جماعي بعنوان "رؤية مستقبلية للإصلاح الإداري الشامل في الجمهورية اليمنية- دراسة تحليلية مقارنة"</p>
        <p>يسر المركز التأسيسي للدراسات والبحوث بصنعاء أن يعلن عن باكورة انتاجه الفكري في مجال الكتب، وهو الكتاب
            الجماعي الموسوم "رؤية مستقبلية للإصلاح الإداري الشامل في الجمهورية اليمنية- دراسة تحليلية مقارنة"، في
            إطار رسالة المركز الداعمة للجهود البحثية في قضايا إصلاح وتطوير الدولة والمجتمع في اليمن في ظل التوجه
            الحالي للتحول نحو التغيير الجذري الشامل. الكتاب من تأليف كوكبة من الأساتذة والباحثين الأكاديميين
            العاملين في عدد من الجامعات والمراكز البحثية اليمنية. </p>
        <p>يقع الكتاب في 466 صفحة، شاملةً الببليوغرافيا والفهرس العام. ويحتوي على ستة فصول، الفصل الأول عبارة عن
            مدخل عام للإصلاح الإداري، يتناول نشأة مصطلح الإصلاح الإداري وتطوره، ومفهومه وأهدافه، ومنهجياته، وأبرز
            الملاحظات التي دارت حول المداخل المتعددة للإصلاح. </p>
        <p>أما الفصل الثاني فقد خصص لاستعراض عدد من النماذج الإصلاحية في عدد من الدول على المستوى الغربي، والأسيوي
            والأفريقي، والإسلامي والعربي بما في ذلك نماذج التجارب الإصلاحية التي مرت بها الجمهورية اليمنية منذ
            تأسيسها في مايو 1990. </p>
        <p>وخصص الفصل الثالث للإصلاح التشريعي باعتباره مدخلًا أساسيًا من مداخل الإصلاح الإداري، ويتكون الفصل من
            موضوعين رئيسيين؛ أحدهما يركز على "القانون الإداري وتجربة الإصلاح الإداري في اليمن"، فيما يعنى الآخر بـ
            "الإصلاح القانوني للإدارة العامة". </p>
        <p>الفصل الرابع جرى تخصيصه لتناول الوضع القائم في الجمهورية اليمنية في محاولة تشخيصية لهذا الواقع، وذلك
            بالتركيز على ثلاثة محاور هامة؛ يستعرض الأول "الإدارة العامة وانعكاساتها الاقتصادية والاجتماعية"، ويدرس
            الثاني "تأثير البنى البيروقراطية القائمة في مسار الإصلاح الإداري في الجمهورية اليمنية"، ويعنى الثالث
            بمحاولة الكشف عن "ملامح الإصلاح المالي". </p>

        <p>الفصل الخامس جرى تكريسه لدراسة "دور القطاع الخاص في التنمية"، حيث يسعى هذا الفصل إلى تحليل الوضع الراهن
            لهيكل ومكونات القطاع الخاص من جهة، وتحديد التوجهات المستقبلية للقطاع الصناعي وكذا الالتزامات المشتركة
            لتعزيز وتطوير الشراكة بين القطاع العام والقطاع الخاص من جهة أخرى. </p>
        <p>وأخيرًا، ينفرد الفصل السادس برسم ملامح الحكومة الإلكترونية باعتباره من أهم المواضيع المعنية بعصرنة
            الإدارة وتعزيز التحول الرقمي في كافة أنشطتها، وقد احتوى هذا الفصل عديد المواضيع الفرعية ذات الصلة ابتداء
            بمدخل عام لموضوع الحكومة الإلكترونية، ومرورا باستعراض عدد من التجارب العالمية الناجحة في الرقمنة،
            وانتهاء بتحليل البنية الأساسية لتكنلوجيا المعلومات والاتصالات في اليمن. </p>


    </div>
    <div class="imgs">
        <img src="{% static 'imgs/stu.png' %}" alt="">
        <img src="{% static 'imgs/stu2.png' %}" alt="">
    </div>
    <h3>المؤلفون:</h3>
    <div class="authers">

        <div class="right">
            <ul>
                <li>أ.د. محمد سعيد نجاد</li>
                <li>أ.د. محمد سعيد الكامل</li>
                <li>أ.د. أحمد محمد ناصر</li>
                <li>أ.د. عبدالسلام أحمد الدار</li>
            </ul>
        </div>
        <div class="center">
            <ul>
                <li>أ.د. مشعل أحمد عبدالله الريفي</li>
                <li>أ.د. عادل مجاهد الشرجبي</li>
                <li>أ.د. عبدالعزيز محمد المخلافي</li>
                <li>د. نبيل أحمد الدرويش</li>
            </ul>
        </div>
        <div class="left">
            <ul>
                <li>أ.د. أحمد عبدالله الشلبي</li>
                <li>أ.د. فارس محمد القادري</li>
                <li>أ.د. محمد عبدالله الأشول</li>
                <li>أ.د. عبدالوهاب عبدالقدوس الوشلي</li>

            </ul>
        </div>

    </div>
    <p>المحررون: د. نبيل الدرويش. م. جلال الذاري، د. خالد العماد الإشراف العام: د. خالد العماد.</p>
</div>
<div class="comments">
    {% for comment in comments|slice:':5' %}
    <div class="info">
        <div class="img-text">
            <i class="fa-regular fa-user"></i>
            <span class="name">{{comment.name}}</span>
            <span class="date">{{comment.publish_date|date:'Y-m-d H:i'}}</span>
        </div>
        <p>{{comment.comment}}</p>
        <a href="">الرد</a>
    </div>
    {% endfor %}
    <div class="contact">
        <h4>اترك تعليقا</h4>
        <p>لن يتم نشر عنوانك الإلكتروني</p>
        <div class="fields">
            {% include 'partials/alerts.html' %}
            <form action="" method="post">
                {% csrf_token %}
                <textarea name="comment" id="" cols="30" rows="10" placeholder="اكتب تعليقك" class="ta"
                    required></textarea>
                <input type="text" name="name" id="" placeholder="ادخل اسمك" required><span>*</span>
                <input type="email" name="email" id="" placeholder="ادخل البريد الالكتروني" required><span>*</span>
                <!-- <div class="check">
                    <input type="checkbox" name="" id=""><label for="">احفظ اسمي</label>
                </div> -->
                <input type="submit" name="send" value="إرسال" class="spe-a">
            </form>
        </div>
    </div>
</div>
{% endblock %}