{% extends 'base.html' %}
{% load static %}
{% block title %}تجربة الولايات المتحدة الأمريكية في الإصلاح الإداري{% endblock %}
{% block content %}
<div class="container articles">
    <div id="progress-container" style="position: fixed; top: 0; left: 0; width: 100%; height: 5px; background: #f0f0f0; z-index: 9999;">
        <div id="progress-bar" style="height: 100%; width: 0%; background: #C79C6F;"></div>
    </div>  
    <div class="top-of-study">
        <a href="{% url 'index' %}">الرئيسية</a><span class="first-pipe">  |  </span> <a href="{% url 'studies' %}">دراسات وبحوث</a> <span class="first-pipe"> | </span><span>تجربة الولايات
            المتحدة الأمريكية في الإصلاح الإداري</span>
    </div>
    
    <div class="studies-flex">
        <div class="first-page">
            <a href="#img-id" class="hidden-row"><i class="fa-solid fa-arrow-up-long"></i></a>
            <p class="p-img">تجربة الولايات المتحدة الأمريكية في الإصلاح الإداري</p>
            <div class="date-info">
                <span>13 أبريل 2024
                </span>
            </div>
            <span class="pub">د/ أحمد محمد عبد الله ناصر</span>
            <div class="controls">
                <div class="studies-social">
                    <div class="studies-social2">
                        <div class="twitter">
                            <a href="https://twitter.com/intent/tweet?text={{ 'تجربة الولايات المتحدة الأمريكية في الإصلاح الإداري'|urlencode }}&url={{ request.build_absolute_uri|urlencode }}"
                                target="_blank">
                                <i class="fa-brands fa-x-twitter"></i>
                            </a>

                        </div>
                        <div class="whats">
                            <a href="https://wa.me/?text={{ 'تجربة الولايات المتحدة الأمريكية في الإصلاح الإداري'|urlencode }}%20{{ request.build_absolute_uri|urlencode }}"
                                target="_blank">
                                <i class="fa-brands fa-whatsapp foot-i"></i>
                            </a>
                        </div>
                        <div class="telegram">
                            <a href="https://t.me/share/url?url={{ request.build_absolute_uri|urlencode }}&text={{ 'تجربة الولايات المتحدة الأمريكية في الإصلاح الإداري'|urlencode }}"
                                target="_blank">
                                <i class="fab fa-telegram"></i>
                            </a>

                        </div>
                        <div class="face-book">
                            <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri|urlencode }}"
                                target="_blank">
                                <i class="fa-brands fa-facebook foot-i"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="studies-controls">
                    <!-- <i class="fa-solid fa-print"></i> -->
                    <button id="increaseFont"><img src="{% static 'imgs/Zoom_IN.svg' %}" alt=""></button>
                    <button id="decreaseFont"><img src="{% static 'imgs/Zoom_OUT.svg' %}" alt=""></button>
                </div>

            </div>
            <!-- <h1>الحياة في اليمن</h1> -->
            <img src="{% static 'imgs/US.jpg' %}" alt="" id="img-id">
    
    
            <div class="full-text">
                <p>يرى بعض الباحثين أن ما اتفق على تسميته بالإصلاح الإداري يرجع جذوره إلى الدول الغربية، فأول حركات للإصلاح
                    الإداري ظهرت بداية في الولايات المتحدة الأمريكية في أوائل القرن العشـرين، داعية أجهزة الإدارة العامة إلى
                    تحقيق الكفاءة في الأداء والاقتصاد في النفقات، ولقد كان من ثمار هذه الحركة فصل السياسة عن الإدارة واعتبار
                    الأخيرة مجالًا مستقلًا<a href="#one"><span><sup
                                title="المخلافي، عبد الواسع عبد الغني: إدارة الجودة الشاملة ودورها في تحقيق الإصلاح الإداري، رسالة ماجستير. جامعة دمشق، 2006، 230.">[1]</sup></span></a>.
    
                </p>
                <h2>أولًا: بدايات الإصلاح الإداري: </h2>
                <p>تتكون التجربة الأمريكية من شقين: الشق الأول: يتعلق بتجربة تنظيم الجهاز التنفيذي، والشق الثاني: يتعلق
                    بمراجعة
                    أداء الأجهزة التنفيذية في الحكومة الفيدرالية الأمريكية كما سنوضحه.</p>
                <p> تنظيم الجهاز التنفيذي: انصب هذا الجهد على تنظيم الجهاز التنفيذي للحكومة الأمريكية الفيدراليـة، وكان
                    بمعرفـة
                    ما سمي بـ (لجنـة هوفر الأولى (1947-1949م))، وكان هـدف التنظيم دراسة طرق الأداء وأساليبه في الأجهزة
                    التنفيذية
                    الفيدرالية؛ بهدف الوصول إلى تحسين أدائها وترشيد أوجه مصـروفاتها، وتبنى هذا التوجه التنظيمي مدخل الإصلاح
                    الشامل للأجهزة التنفيذية، كما جرى التركيز على الجوانب الخمسة الموضحة في الشكل رقم(1).</p>
                <p>شكل رقم (1) يوضح أهداف التجربة الأمريكية في ميدان تنظيم الجهاز التنفيذي:</p>
                <img src="{% static 'imgs/us1.png' %}" alt="">
                <p>وكان الاعتمـاد على فـرق العمـل المتخصصة والمتنوعـة من جهـات متفرقـة ذات علاقـة بالإصلاح الإداري، وقدمت
                    هذه
                    الفرق المتخصصة تقاريرها للجنة الرئيسة التي تقود هذه الفرق، وتوصلنا إلى (273) توصية شملت الجوانب الخمسة
                    للدراسة التي سبق بيانها، ومن أهم النتائج والتوصيات التي أفرزتها اللجنة ما يلي:</p>
                <ul>
                    <li>هناك عدم توازن بين مسؤوليات الرؤساء في الأجهزة وبين الصلاحيات المعطاة لهم، بما يحول دون تحقيق
                        الأهداف
                        المرسومة؛ لذلك كانت التوصية بمنح صلاحيات كافية للمسؤولين في الأجهزة التنفيذية في مجالات إعادة
                        التنظيم،
                        وفي التعامل مع الموظفين، والنواحي المالية.</li>
                    <li>هناك مركزية مخلة في التوظيف ونقص في حصول الأجهزة العامة على الكفاءات العالية اللازمة لها، وهناك نقص
                        في
                        تصنيف الوظائف وفي معايير التوظيف، وأوصينا بتيسير إجراءات التوظيف، وجعل سلم الرواتب يخدم الحصول على
                        الكفاءات في الأجهزة العامة، وتعزيز مبدأ الجدارة في اختيار الموظفين، إلى جانب إتباع مبدأ اللامركزية
                        في
                        التوظيف وتصنيف الوظائف.</li>
                    <li>هناك تداخل وازدواج في الأنشطة، وهناك أنشطة في الأجهزة لا رابط ولا تنسيق بينها، وهناك عدم وضوح في
                        الأهداف
                        التي يُراد تحقيقها، وأوصينا بإعادة التنظيم على مبدأ جمع الخدمات والنشاطات المتماثلة وإزالة الازدواج،
                        وتقليص عدد الأجهزة التنفيذية بما يزيل تضخم تلك الأجهزة، مع التركيز على توافر الفاعلية في أدائها
                        والتنسيق
                        في نشاطاتها والخدمات التي تقدمها.</li>
                </ul>
                <h2 class="special-title">مراجعة أداء الأجهزة التنفيذية: </h2>
                <p>هدفت إلى بناء جهاز حكومي قادر على تقديم خدمات عامة متميزة بتكلفة أقل، وبنينا مدخل الإصلاح الشامل للأجهزة
                    التنفيذية، وركزنا على أساليب الأداء والعمليات الإدارية والعوائق التي تصاحبها، فضلًا عن إعادة تشكيل ثقافة
                    المنظمات التنفيذية بما يخدم المستفيدين في المقام الأول.</p>
                <p>كما اتبعت منهجية ارتكزت على مرحلتين: </p>
                <ul>
                    <li>في المرحلة الأولى: شُكل فريق عمل لمشـروع الإصلاح مكون من (250) عضوًا من ذوي الخبرة والتأهيل من
                        الأجهزة
                        العامة، وتفرعت عن الفريق الرئيس مجموعة الفرق، وأسند لمجموعة من الفرق دراسة الأنظمة والإجراءات
                        والقضايا
                        العامة التي تنظم العمل في جميع الأجهزة التنفيذية، مثل: أنظمة الميزانية، المشتريات، الموظفين، إجراءات
                        خدمات المستفيدين من تلك الأجهزة، كما أسند لمجموعة أخرى من الفرق دراسة أجهزة معينة، كجهاز التعليم
                        وجهاز
                        القوى العاملة، كما جرت مطالبة كل رئيس جهاز بتشكيل فرق داخلية للعمل على تحقيق ما هو مطلوب من التغيير
                        والتطوير داخل الجهاز. <br>
                        كذلك أوجدنا مراكز متخصصة في كل جهاز من الأجهزة؛ بغرض البحث عن الأفكار الجديدة وتجريبها من أجل تلمس
                        تحسين
                        الأداء فيه. <br>
                        وفي هذه المرحلة شُكل فريق من الموظفين، مهمته تشجيع الأجهزة التنفيذية على تطبيق التوصيات التي أسفرت
                        عنها
                        الدراسات، ومتابعة التنفيذ في الميادين التي استهدفتها الدراسة، وهي:
    
                        <ol>
                            <li>التخلص من الروتين في مضمار تسهيل الإجراءات في إعداد الميزانية وصرف النفقات وترحيل
                                الوفورات إلى
                                أعوام لاحقة.</li>
                            <li>تبني اللامركزية في سياسة التوظيف والتقييم وتحفيز العاملين، والتعامل مع الأداء غير
                                الجيد ومع
                                الموظفين غير الجادين.</li>
                            <li class="ws2">تيسير إجراءات المشـتريات، وتبني اللامركـزية في أعمـال الشـراء، وتمكين الأجهزة
                                العامة
                                من تأمين
                                المشتريات التي تلزمها.</li>
                            <li>إعادة تحديد دور الأجهزة الرقابية المركزية في الرقابة المالية؛ بحيث تركز على تقييم تحقيق
                                الأهداف
                                والمساعدة في تطوير أنظمة الرقابة في الأجهزة التنفيذية، والتأكد من أن فروع الأجهزة المركزية
                                لديها
                                من الصلاحيات؛ ما يمكنها من تحقيق الأهداف المناطة بها.</li>
                            <li>تمكين الموظفين من الأداء المتميز عن طريق محاسبتهم على النتائج وإشراكهم في صنع القرارات
                                وإكسابهم
                                المهارات، وتوفير بيئة العمل الملائمة لهم.</li>
                            <li>التأكد من أن الاهتمام ينصـرف إلى خدمة المستفيدين وتحقيق تطلعاتهم، ثم العمل على ترشيد الإنفاق
                                وتعزيز جوانب الإيرادات والاستثمار في الجوانب الإنتاجية.</li>
    
                        </ol>
                    </li>
                    <li>وفي المرحلة الثانية: من مراجعة أداء الأجهزة التنفيذية ركزت التجربة على التعرف إلى ما قدمته الأجهزة
                        من
                        جهود لتطبيق التوصيات التي تمخضت عنها المرحلة الأولى، وذلك عن طريق وضع التوصيات التنفيذية، ومن ثم
                        عرضها
                        على لجنة مراجعة أداء الأجهزة العامة الفيدرالية وجهاز الإدارة والميزانية لمراجعتها قبل رفعها للأعلى
                        لاعتمادها. <br>
                        وقد اتصف مشـروع مراجعة أداء الأجهزة التنفيذية بالتركيز على تحسين الأداء، واعتمد في التوصيات على
                        إدخال
                        الأساليب الإدارية الحديثة المطبقة في أجهزة القطاع الخاص إلى أجهزة الدولة، وكذلك تيسير الإجراءات،
                        وتقديم
                        خدمات متميزة للمستفيدين، ويعزى السبب في هذا الوفر إلى التقليص في الإنفاق وفي عدد الموظفين<a
                            href="#two"><span><sup
                                    title="كافي، مصطفى يوسف: الإصلاح والتطوير الإداري بين النظرية والتطبيق، دار ومؤسسة رسلان للطباعة والنشر والتوزيع، دمشق، سوريا. 2018، 84.">[2]</sup></span></a>.
    
                    </li>
                </ul>
                <h2>ثانيًا: مجالات الإصلاح الإداري في الولايات المتحدة الأمريكية: </h2>
                <img src="{% static 'imgs/us33.png' %}" alt="" class="g2">
                <p>تعددت مجالات الإصلاح الإداري المطبقة عند تنفيذ استراتيجيات الإصلاح، وذلك تبعًا للفكر الإداري وتحليل
                    المشاكل
                    التي يعاني منها الجهاز الإداري ومدى تطوره وأولويات المصلحين والقيادة عند التنفيذ، وقد اتبعت الولايات
                    المتحدة
                    عدة استراتيجيات خلال مدد طويلة يمكن توضيحها على النحو الآتي: </p>
                <ul>
                    <li>الإصلاح التنظيمي والهيكلي: <br>
                        تنطلق هذه الاستراتيجية من افتراض الثقة بالإدارة وقدرتها على التحسين والإصلاح، وتهدف جهود الإصلاح
                        الإداري
                        إلى تحقيق الكفاية في أعمال الأجهزة الحكومية وتقليل النفقات التي تتكبدها أثناء عملية تقديم الخدمات،
                        وبهذا
                        المعنى فإن هذه الاستراتيجية ترتكز على اعتماد الترتيبات الهيكلية والتنظيمية وأدوات إدارة الأداء
                        والتحديث
                        المتصل بالموارد البشـرية، بجانب التركيز على منع التداخل والتكرار الذي يمكن أن تقوم به الأجهزة
                        الإدارية
                        المتعددة، لكن مع إحداث التكامل والتنسيق بينها <a href="#three"><span><sup
                                    title="الصيرفي، محمد: الفساد بين الإصلاح والتطوير الإداري، مؤسسة حورس الدولية، مصر 2008، 102.">[3]</sup></span></a>،
                        ويمكن تلخيصها على النحو الآتي:
                        <table class="us-table">
                            <tbody>
                                <tr>
                                    <td>الهدف من الإصلاح</td>
                                    <td>تحقيق الكفاية الإدارية.</td>
                                </tr>
                                <tr>
                                    <td>المدخل لتحقيق الإصلاح</td>
                                    <td>تطبيق ومراعاة مبادئ الإدارة العلمية في التنظيم. </td>
                                </tr>
                                <tr>
                                    <td>النتائج الملموسة</td>
                                    <td>هياكل تنظيمية جديدة وقواعد وإجراءات عمل جديدة. </td>
                                </tr>
                                <tr>
                                    <td>أصحاب الدور الرئيس في عملية الإصلاح</td>
                                    <td class="ws3">الخبراء والمستشارون والإداريون.</td>
                                </tr>
                                <tr>
                                    <td>المؤيدون لهذا النهج في الإصلاح </td>
                                    <td>الجمعيات الإدارية المتخصصة والحكومة. </td>
                                </tr>
                            </tbody>
                        </table>
                        <p>وقد تبنت حركة إصلاح الإدارة العامة في الولايات المتحدة الأمريكية هذه الاستراتيجية خلال مدة أربعة
                            رؤساء فيها: (ترومن، أيزنهاور، كيندي، جونسون). </p>
                    </li>
                    <li>الإصلاح من خلال إنشاء أجهزة التفتيش والرقابة: <br>
                        تركز هذه الإستراتيجية على ترشيد النفقات الإدارية من خلال الحيلولة دون استغلال الوظيفة العمومية
                        لأغراض
                        خاصة من قبل الموظفين أو الجهات ذات العلاقة بالبرامج الحكومية، حيث تبنى هذه الاستراتيجية على رؤية
                        مفادها
                        خلق التوازن بين السلطات التقديرية التي يتمتع بها المديرون وبين توقعات ومطالب المواطنين، ويندرج هذا
                        كله
                        ضمن إطار الكشف عن المخالفات ومحاسبة المسؤولين عنها، وعلى العموم تندرج هذه الاستراتيجية ضمن تركيز
                        الإدارة
                        العامة على الإجراءات والنتائج، والمحاسبة تؤدي دورًا مركزيًا (الرقابة الديمقراطية)، وهذا ما يفرض وضع
                        ترتيبات تنظيمية؛ من أجل تحسين فاعلية التكلفة بتزويد الموظفين العموميين ليس فقط بقدر أكبر من السلطة
                        التقديرية للإنفاق، ولكن - أيضًا - مع مزيد من المسؤولية عن بلوغ أهداف الأداء المتفق عليها، التي يمكن
                        تلخيصها على النحو الآتي:
    
                        <table class="us-table">
                            <tbody>
                                <tr>
                                    <td>الهدف من الإصلاح</td>
                                    <td>الاقتصاد في الإنفاق. </td>
                                </tr>
                                <tr>
                                    <td>المدخل لتحقيق الإصلاح</td>
                                    <td>التأكد من عدم وجود مخالفات.</td>
    
                                </tr>
                                <tr>
                                    <td>النتائج الملموسة</td>
                                    <td>الوصول لمعلومات عن واقع سير العمل من خلال عمليات التحقيق والمراجعة. </td>
    
                                </tr>
                                <tr>
                                    <td>المؤيدون لهذه الإجراءات </td>
                                    <td>السلطة التشريعية انطلاقاً من دورها الرقابي على الجهاز الإداري. </td>
                                </tr>
                            </tbody>
                        </table>
                        وقد تبنت حركة إصلاح الإدارة العامة في الولايات المتحدة الأمريكية هذه الاستراتيجية خلال مدة ثلاثة
                        رؤساء
                        (نيكسون - فورد - كارتر) فيها.
                    </li>
                    <li>اعتماد الشفافية والوضوح مدخلًا للإصلاح: <br>
                        تؤكد هذه الاستراتيجية على أهمية التأكد من أن ممارسات العاملين في الأجهزة الإدارية تتفق مع الأعراف
                        المهنية ومع معارف السلوك العام وأخلاقياته عن طريق إتاحة المجال والفرص للجمهور ووسائل الإعلام وجماعات
                        المصالح؛ إن من شأن ذلك أن يعزز الثقة بالجهاز الإداري، ويمكن تلخيصها على النحو الآتي:
                        <table class="us-table">
                            <tbody>
                                <tr>
                                    <td>الهدف من الإصلاح</td>
                                    <td>تحقيق العدالة.</td>
                                </tr>
                                <tr>
                                    <td>المدخل لتحقيق الإصلاح</td>
                                    <td>تعريف المواطنين بحقوقهم. </td>
                                </tr>
                                <tr>
                                    <td>النتائج الملموسة</td>
                                    <td>توفير مزيد من المعلومات والتميز بالشفافية. </td>
                                </tr>
                                <tr>
                                    <td>المشاركون الرئيسون في جهود الإصلاح</td>
                                    <td>وسائل الإعلام، جماعات الضغط والجمهور.</td>
                                </tr>
                                <tr>
                                    <td>المؤيدون لهذه الإجراءات </td>
                                    <td>البرلمان والقضاء. </td>
                                </tr>
                            </tbody>
                        </table>
                        وقد تبنت حركة إصلاح الإدارة العامة في الولايات المتحدة الأمريكية هذه الاستراتيجية خلال مدة ثلاثة
                        رؤساء
                        فيها: (ريغان - بوش - كلينتون).
                    </li>
                    <p>رغم الإصلاحات المتتالية التي عرفتها الولايات المتحدة الأمريكية على مستوى جهازها الحكومي منذ ستينيات
                        القرن
                        الماضي، إلا أنها في بداية التسعينيات سجلت عجزًا في ميزانيتها العامة إضافة إلى وجود خلل في توزيع
                        المهام
                        والمسؤوليات بين الحكومة الفدرالية والولايات، وفي عهد الرئيس كلينتون باشر نائبه «ألقور» تغييرًا
                        جوهريًا
                        في الجهاز الحكومي حيث وضعت لجنة «ألقور» سنة 1993م تقريرًا بعنوان: (إنشاء حكومة تعمل أكثر وتكليف
                        أقل)،
                        وبحسب التقرير فإنه يتعين على الحكومة الفدرالية أن تبحث عن الفاعلية إلى أن تبلغها؛ لذا أتت فكرة:
                        إعادة
                        الابتكار حول ضرورة غرس ثقافة الإبداع في مختلف المعايير المعمول بها في القطاع الخاص وتطبيقها على
                        القطاع
                        العام بغية الوصول إلى نتائج مبهرة.</p>
                    <h2>ويمكن تلخيص أهداف هذا الإصلاح الإداري في النقاط الآتية<a href="#four"><span><sup
                                    title="أوزبورن، ديفيد & تيد غايبلر: إعادة اختراع الحكومة- كيف تحول روح المغامرة القطاع العام، ترجمة محمد البجيرمي، العبيكان، الرياض.  2010.">[4]</sup></span></a>:
                    </h2>
                    <ol>
                        <li>بلوغ حكومة تنافسية تحركها قوى السوق لتقديم أفضل خدمات لزبائنها، فالحكومة التنافسية هي حكومة
                            توجهها
                            النتائج ورضا المستفيدين.</li>
                        <li>حكومة محفزة: تركز على توجيه وتحريك مؤسسات اجتماعية واقتصادية تعمل توصيل الخدمات وتلبية حاجات
                            المواطنين؛ حتى لا تصبح رهينة الروتين الممل لجمع الضـرائب وتقديم الخدمات.</li>
                        <li>حكومة تمكين: حيث يشير «وليم جونسون» إلى أن عملية تمكين المواطنين ومشاركتهم في الإدارة تشمل ثلاثة
                            مستويات أساسية: المقاولة، تفويض السلطة، الرقابة الشعبية<a href="#five"><span><sup
                                        title="William C.Johnson،1996، Public administration: policy، politics and practice، 2nd edition، Mc Graw Hill. p225.">[5]</sup></span></a>.
                        </li>
                        <li>حكومة توقعات: إنَّ أساس نجاح كل عملية إصلاح إداري هو وجود رؤية مستقبلية واضحة المعالم تستند إلى
                            تخطيط استراتيجي يتنبأ ويتوقع المستقبل.</li>
                        <p>ويعـد كتـاب (إعادة اختراع الحكومة) لـ «أوزبورن وغايبلر» من أهم ما يمثل الإدارة العامـة الجديدة
                            وكيفية
                            ترجمتها لإحداث إصلاح إداري حكومي شامل؛ لمواجهة الانخفاض الملحوظ في الإيرادات الحكومية في
                            الولايات
                            المتحدة أثنـاء هذه المدة، حيث اقـترح الكاتبـان عشـرة مبادئ أساسية لتحويل مسار الجهاز الإداري:
                        </p>
                    </ol>
                    <ol>
                        <li>حكومة محفزة: التوجيه بدل من التجديف. </li>
                        <li>حكومة يملكها المجتمع: تمكين المجتمع.</li>
                        <li>حكومة تنافسية: إدخال التنافس في إيصال الخدمات. </li>
                        <li>حكومة توجهها مهمتها. </li>
                        <li>حكومة توجهها النتائج: تمويل المخرجات لا المدخلات. </li>
                        <li>حكومة يوجهها المستفيدين. </li>
                        <li>حكومة ريادية مغامرة. </li>
                        <li>حكومة التوقعات عن طريق استشـراف المستقبل. </li>
                        <li>حكومة لا مركزية: من التسلسل الهرمي إلى المشاركة والعمل الجماعي. </li>
                        <li>حكومة يوجهها السوق: تعزيز التغيير عبر السوق<a href="#six"><span><sup
                                        title="أوزبورن، ديفيد & تيد غايبلر، نفس المصدر السابق.">[6]</sup></span></a>.</li>
    
                    </ol>
                    <p>وقد نُفذت هذه المبادئ عن طريق: خلق إحساس واضح برسالة العمل، والإمساك أكثر بالدفة وتجديف أقل، وتفويض
                        السلطات والمسؤوليات واستبدال القواعد المنظمة بالحوافز، وإعداد موازنات، وتقييم على أساس النتائج،
                        وتعريض
                        العمليات الحكومية للمنافسة، والبحث عن حلول مستمدة من السوق، وقياس الأداء من خلال إرضاء العملاء،
                        وكانت
                        أهم نتائج الإصلاحات الإدارية من منظور إعادة اختراع تعمل على تقليص الحجم: إذ تشير الأدبيات إلى أن
                        عملية
                        تقليص الحجم في الوليات المتحدة الأمريكية مرت بمرحلتين مختلفتين شهدهما الجهاز الإداري، أولهما: منذ
                        أوائل
                        الستينيات حتى منتصف الثمانينيات، وثانيهما: منذ 1993م حتى 1999م، ففي عام1993م، اضطلعت حكومة الولايات
                        المتحدة على برنامج طموح لتقليص حجم القوى العاملة الفيدرالية بنحو (12.5%) خلال ست سنوات، ونجحت
                        الحكومة في
                        تحقيق هذا الهدف قبل انتهاء المدة المحددة، وفي عام 1994م أقر الكونجرس الأمريكي تشـريعًا خاصًا بحتمية
                        تقليص العمالة الفيدرالية بنحو 272,900 عامل، وفي عام 1998م جرى بلوغ هذا الهدف وأكثر من ذلك، ففي المدة
                        من
                        يناير 1993م حتى يناير 1998م كان صافي تقليص الموظفين (16.2%) من إجمالي القوة العاملة، كما نادى تقرير
                        الأداء القومي بضـرورة الحد من عدد الدرجات الإدارية، وبإجراء مزيد من التقليص لترشيد استخدام الموارد
                        وخفض
                        النفقات بصورة عامة<a href="#7"><span><sup
                                    title="ليلى مصطفى البرادعي: تقليص الحجم كمدخل من مداخل الإصلاح الإداري في الإدارة العامة: الدروس المستفادة من تجارب عدة دول، مجلة النهضة، جامعة القاهرة، العدد 2، مصر، 2002، ص22.B. Crick: Essays on Reforms – Oxford, 1967.">[7]</sup></span></a>.
                    </p>
                    <li>استراتيجية تحرير الإدارة العامة: <br>
                        <p>ترتكز هذه الاستراتيجية على أساس أن مشكلة الإدارة تتمثل في الروتين المعقد وبطء الإجراءات وضعف
                            الأداء،
                            والحل يكمن في إعطاء المزيد من الصلاحيات للموظفين واتباع نمط اللامركزية الإدارية، وتقوم هذه
                            الإستراتيجية على تحرير الإدارة العامة وإطلاق المجال لآليات السوق لتأخذ مكانها في تأدية أكبر قدر
                            من
                            الخدمات بدل الجهاز الإداري، ويمكن تلخيصها على النحو الآتي: </p>
                        <table class="us-table">
                            <tbody>
                                <tr>
                                    <td> الهدف من الإصلاح</td>
                                    <td>تحسين مستويات الأداء.</td>
                                </tr>
                                <tr>
                                    <td>المدخل لتحقيق الإصلاح</td>
                                    <td>إيجاد معايير واضحة للأداء. </td>
    
                                </tr>
                                <tr>
                                    <td>النتائج الملموسة</td>
                                    <td>المنجزات الملموسة على أرض الواقع.</td>
                                </tr>
                                <tr>
                                    <td>أصحاب الدور الرئيس في عملية الإصلاح</td>
                                    <td>الموظفون-جماعات العمل</td>
    
                                </tr>
                                <tr>
                                    <td>المؤيدون لهذه الإجراءات</td>
                                    <td>القيادة العليا.</td>
                                </tr>
                            </tbody>
                        </table>
                        <p>وقد تبنت الولايات المتحدة الأمريكية هذه الاستراتيجية في المدة الأخيرة، بل أصبحت نهجًا للإصلاح على
                            مستوى دول متعددة عن طريق محاولتها بتعميمها على كثير من الدول.</p>
    
                    </li>
                    <p>عطفًا ما سبق يتضح أن سياسة الإصلاح الإداري تتجه إلى تخفيف سيطرة البيروقراطية على الاقتصاد، وإلى تشكيل
                        طبقة إدارية ذات ثقافة جديدة، بجانب تفعيل دور الدولة في أداء وظائفها لتقديم خدمات جيدة للمواطن، إلى
                        جانب
                        إرساء أساس الحكومة الإلكترونية، وإشراك المواطنين في شؤون الحكم وتفاعلهم مع صانعي السياسة في الدورة
                        السياسية على كل المستويات الحكومية، وبهذا يمكن بناء الثقة العامة بالحكومة<a href="#8"><span><sup
                                    title="قاسم القريوتي: الإصلاح الإداري، دار وائل عمان، الأردن، ط1، 2001، ص51.">[8]</sup></span></a>.
                    </p>
                    <p>الدروس المستفادة من التجربة الأمريكية في الإصلاح الإداري:</p>
                    <p>لقد مثلت التجربة الأمريكية مدرسة مهمة في الإصلاح الإداري لجميع الدول، سواء المتقدمة أم النامية عن
                        طريق
                        الاستفادة منها، ويمكن استعراض أهم الدروس، وذلك على النحو الآتي:</p>
                    <ol>
                        <li>عملية الإصلاح عملية مستمرة ولا يمكن التوقف عنها، وهذا ما كان واضحًا في التجربة الأمريكية عن طريق
                            تنوع مجالات الإصلاح خلال كل مرحلة.</li>
                        <li>عملية الإصلاح عملية مؤسسية تخدم البلاد بشكل عام وليس الحزب الحاكم، وهذا ما كان واضحًا في التجربة
                            الأمريكية عن طريق استمرار عدد من قيادات الدولة على مجال واحد وخطة محددة.</li>
                        <li>أن عملية الإصلاح ترتكز على تطوير الخدمات المقدمة للمواطنين وآلية تقديمها، والحرص على رضاه عن تلك
                            الخدمات.</li>
                        <li>تغيير الثقافة البيروقراطية السائدة في المنظمات العمومية؛ لأنها تشكل مصدر ضعف لها وعقبة في سبيل
                            تطورها، وإرساء خصائص ثقافية مساعدة على تبنى تحقيق الأداء المتميز والعالي.</li>
                        <li>تبني مفاهيم الإدارة العامة الجديدة التي تستمد مبادئها وأسسها من سياسات وأدوات الإدارة التي أثبتت
                            فاعليتها في القطاع الخاص؛ الغرض منه ليس إلغاء السياسات والخدمات العامة وإنما تحسين كفاءتها.</li>
                    </ol>
                </ul>
            </div>
        </div>
        <div class="nested-ref">
            <h2 class="show-references">إخفاء المراجع</h2>
    <div class="refrences">
        <div class="first-ref-info">
            <h2>المراجع</h2>
        </div>
        <ul>
            <li id="one">المخلافي، عبد الواسع عبد الغني: إدارة الجودة الشاملة ودورها في تحقيق الإصلاح الإداري، رسالة
                ماجستير. جامعة دمشق، 2006، 230.</li>
            <li id="two">كافي، مصطفى يوسف: الإصلاح والتطوير الإداري بين النظرية والتطبيق، دار ومؤسسة رسلان للطباعة
                والنشر والتوزيع، دمشق، سوريا. 2018، 84.</li>
            <li id="three">الصيرفي، محمد: الفساد بين الإصلاح والتطوير الإداري، مؤسسة حورس الدولية، مصر 2008، 102.</li>
            <li id="four">أوزبورن، ديفيد & تيد غايبلر: إعادة اختراع الحكومة- كيف تحول روح المغامرة القطاع العام، ترجمة
                محمد البجيرمي، العبيكان، الرياض. 2010.1
            </li>
            <li id="five" class="eng">William C.Johnson،1996، Public administration: policy، politics and practice، 2nd
                edition، Mc Graw Hill. p225.</li>
            <li id="six">أوزبورن، ديفيد & تيد غايبلر، نفس المصدر السابق.</li>
            <li id="7">ليلى مصطفى البرادعي: تقليص الحجم كمدخل من مداخل الإصلاح الإداري في الإدارة العامة: الدروس
                المستفادة من تجارب عدة دول، مجلة النهضة، جامعة القاهرة، العدد 2، مصر، 2002، ص22.</li>
            <li id="8">قاسم القريوتي: الإصلاح الإداري، دار وائل عمان، الأردن، ط1، 2001، ص51.</li>
        </ul>
    </div>
        </div>
        <div class="show-some-studies">
            <h3 class="show-studies-h3">اقرأ أيضًا</h3>
            <a href="{% url 'reformmethodology' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/method1.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <span>3 مارس 2024</span>
                        <h3>منهجية الإصلاح الإداري</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'comprehensive_reform' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/fanicial.webp' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <span>23 سبتمبر 2023</span>
                        <h3>تقييم برنامج الإصلاح الاقتصادي والمالي والإداري الشامل في اليمن</h3>

                    </div>
                </div>
            </a>
            <a href="{% url 'evolution_of_public_administration' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/admini.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <span>5 أكتوبر 2024</span>
                        <h3>تطور الإدارة العامة في إطار حقل القانون الإداري</h3>

                    </div>
                </div>
            </a>
            <a href="{% url 'financial_reform_in_countries' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/gold.webp' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <span>20 يناير 2024</span>
                        <h3>تجارب بعض الدول في مجال الإصلاح المال</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'malaysia_study' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/maly2.webp' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <span>1 يونيو 2024</span>
                        <h3>تجربة ماليزيا في الإصلاح الإداري</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'future_fo_reforming_administrative_law_in_yemen' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/fix2.webp' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <span>14 سبتمبر 2024</span>
                        <h3>الرؤية المستقبلية لإصلاح القانون الإداري في اليمن</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'future_of_financial_reform_in_yemen' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/tagarb9.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <span>6 يناير 2024</span>
                        <h3>رؤية مستقبلية للإصلاح المالي في اليمن</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'role_of_the_private_sector_in_world' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/test.png' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <span>23 ديسمبر 2023</span>
                        <h3>تجارب عالمية وإقليمية لدور القطاع الخاص</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'legislative_reform_in_the_world' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/repair4.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <span>2 نوفمبر 2024</span>
                        <h3>تجارب عربية وغربية للإصلاح التشريعي</h3>
                    </div>
                </div>
            </a>

            <a href="{% url 'implementing_e-government' %}" class="study-item">
                <div class="study-info-show last-one">
                    <div class="image-card">
                        <img src="{% static 'imgs/egoven.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <span>11 نوفمبر 2023</span>
                        <h3>عوامل نجاح أو فشل تنفيذ الحكومة الإلكترونية</h3>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <h2 class="show-references">إخفاء المراجع</h2>
    <div class="refrences">
        <div class="first-ref-info">
            <h2>المراجع</h2>
        </div>
        <ul>
            <li id="one">المخلافي، عبد الواسع عبد الغني: إدارة الجودة الشاملة ودورها في تحقيق الإصلاح الإداري، رسالة
                ماجستير. جامعة دمشق، 2006، 230.</li>
            <li id="two">كافي، مصطفى يوسف: الإصلاح والتطوير الإداري بين النظرية والتطبيق، دار ومؤسسة رسلان للطباعة
                والنشر والتوزيع، دمشق، سوريا. 2018، 84.</li>
            <li id="three">الصيرفي، محمد: الفساد بين الإصلاح والتطوير الإداري، مؤسسة حورس الدولية، مصر 2008، 102.</li>
            <li id="four">أوزبورن، ديفيد & تيد غايبلر: إعادة اختراع الحكومة- كيف تحول روح المغامرة القطاع العام، ترجمة
                محمد البجيرمي، العبيكان، الرياض. 2010.1
            </li>
            <li id="five" class="eng">William C.Johnson،1996، Public administration: policy، politics and practice، 2nd
                edition، Mc Graw Hill. p225.</li>
            <li id="six">أوزبورن، ديفيد & تيد غايبلر، نفس المصدر السابق.</li>
            <li id="7">ليلى مصطفى البرادعي: تقليص الحجم كمدخل من مداخل الإصلاح الإداري في الإدارة العامة: الدروس
                المستفادة من تجارب عدة دول، مجلة النهضة، جامعة القاهرة، العدد 2، مصر، 2002، ص22.</li>
            <li id="8">قاسم القريوتي: الإصلاح الإداري، دار وائل عمان، الأردن، ط1، 2001، ص51.</li>
        </ul>
    </div>
</div>

{% endblock %}