{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="show-i">
    <a href="{% url 'showDetailStudies' %}">
        <div class="card">
            <div class="head">
                <h3>إصدارات المركز</h3>
            </div>
            <div class="i">
                <i class="fa-solid fa-code-compare"></i>
            </div>
            <p>كتاب جماعي بعنوان "رؤية مستقبلية للإصلاح الإداري الشامل في الجمهورية اليمنية- دراسة تحليلية مقارنة"</p>
            <button>المزيد</button>
        </div>
    </a>
    <!-- <a href="{% url 'patrols' %}">
        <div class="card">
            <div class="head">
                <h3>آخر الدوريات</h3>
            </div>
            <div class="i">
                <i class="fa-brands fa-discourse"></i>
            </div>
            <p>إطلاق دورية "حوكمة"<br>
                مجلة علمية محكمة تتبع المركز التأسيسي للدراسات والبحوث
            </p>
            <button>المزيد</button>
        </div>
    </a>
    <a href="{% url 'news' %}">
        <div class="card">
            <div class="head">
                <h3>آخر الأخبار</h3>
            </div>
            <div class="i">
                <i class="fa-regular fa-newspaper"></i>
            </div>
            <p>لا يوجد حالياً</p>
            <button>المزيد</button>
        </div>
    </a> -->

</div>
{% endblock %}