{% extends 'base.html' %}
{% load static %}
{% block title %}تجربة سنغافورا في الإصلاح الإداري{% endblock %}

{% block content %}
<div class="container articles">
    <div class="top-of-study">
        <a href="{% url 'index' %}">الرئيسية</a><span class="first-pipe">  |  </span> <a href="{% url 'studies' %}">دراسات وبحوث</a> <span class="first-pipe"> | </span><span>تجربة سنغافورا
            في الإصلاح الإداري</span>
    </div>
    
    <div class="studies-flex">
        <div class="first-page">
            <div class="controls">
                <button id="increaseFont"><i class="fas fa-search-plus"></i></button>
                <button id="decreaseFont"><i class="fas fa-search-minus"></i></button>
            </div>
            <a href="#img-id" class="hidden-row"><i class="fa-solid fa-arrow-up-long"></i></a>
            <!-- <h1>الحياة في اليمن</h1> -->
            <p class="p-img"> تجربة سنغافورة في الإصلاح الإداري</p>
            <div class="date-info">
                <span>27 أبريل 2024
                </span>
            </div>
            <span class="pub">د/ أحمد محمد عبد الله ناصر</span>
            <img src="{% static 'imgs/sn.webp' %}" alt="" id="img-id">

            <div class="full-text">
                <p>كانت سنغافورة قبل خمسة عقود بلدًا متخلفًا، يرزح سكانه تحت فقر مدقع، مع مستويات عالية من البطالة ونصف
                    السكان
                    من الأميين؛ لتصبح اليوم واحدة من أسرع الاقتصادات نموًا في العالم، حيث ارتفع الناتج المحلي الإجمالي
                    للفرد
                    الواحد بنسبة لا تصدق؛ إذ وصل إلى أكثر من 60 ألف دولار أمريكي، مع معدل للبطالة بلغ 2% فقط، وتمتلك
                    سوقًا حرًا
                    على درجة عالية من التطور والنجاح، وهي واحدة من المراكز التجارية الرائدة في العالم، ومقصد رئيس
                    للاستثمارات
                    الأجنبية والخدمات اللوجستية.</p>
                <p>سطرت سنغافورة واحدة من أهم قصص النجاح الاقتصادي في العالم، وأصبح صعودها الاقتصادي أنموذجًا يُحتذى به
                    دوليًا،
                    بالنسبة إلى بلد يفتقر إلى الأراضي والموارد الطبيعية والمالية، ولكن عن طريق تبني سياسات منفتحة على
                    الخارج،
                    وتطبيق رأسمالية (السوق الحرة) والتعليم والبحث والابتكار، وسياسات واقعية صارمة، استطاعت سنغافورة
                    التغلب على
                    عيوب الجغرافيا، وتصبح رائدة في التجارة العالمية، مع صغر حجمها الذي يبلغ 682.7 كم2. </p>
                <h2>أولًا: الإطار المؤسساتي لقيادة عملية الإصلاح الإداري في سنغافورة: </h2>
                <p>يعتمد هذا الإطار على ثلاث مؤسسات رئيسة، كان لها الدور الأساس في تحفيز عملية التنمية في سنغافورة
                    ودفعها إلى
                    الأمام، وهي<a href="#one"><span><sup
                                title="العامري، ابتسام: التجربة التنموية في سنغافورة، مجلة بحوث الشرق الأوسط، العدد 45، 2018، ص296.">[1]</sup></span></a>:
                </p>
                <p>مجلس التنمية الاقتصادية (E D B): </p>
                <p>يعد هذا المجلس من أوائل المؤسسات التي أُنشئت في سنغافورة؛ لتطوير الاقتصاد في البلاد عن طريق الإسهام
                    في تنفيذ
                    عدد من الاستراتيجيات التنموية، لاسيما في قطاعي الصناعة والخدمات، ولطالما سعى هذا المجلس الذي يضم
                    عددًا من
                    رؤساء الشـركات الدولية المعروفة ضمن لجنة المستشارين الدوليين للمجلس لغرض إطلاع صانعي السياسة
                    الاقتصادية في
                    سنغافورة بأحدث التطورات التكنولوجية في العالم؛ وذلك التحقيق الأهداف الآتية<a href="#two"><span><sup
                                title="محمود عبد الفضيل: العرب والتجربة الآسيوية الدروس المستفادة، مركز دراسات الوحدة العربية، بيروت، 2000، ص32.">[2]</sup></span></a>:
                </p>
                <img src="{% static 'imgs/sn.png' %}" alt="" class="img-singapore">
                <h2 class="special-title">مجلس تنمية التجارة السنغافوري:</h2>
                <p>بما أن التجارة الخارجية تمثل ركنًا أساسيًا في الاقتصاد السنغافوري؛ نظرًا لكونها أحد الأنشطة
                    الاقتصادية التي
                    تعتمد عليها البلاد منذ مدة طويلة، فقد جرى فصل هذا المجلس الذي كان أحد فروع مجلس التنمية الاقتصادية
                    بعد اتساع
                    أنشطته؛ من أجل أن يؤدي دوره في رسم خريطة التجارة الخارجية لسنغافورة حاليًا ومستقبلًا، وتتركز مهام
                    هذا المجلس
                    الذي يرأسه نظرًا لأهميته وزير التجارة والصناعة السنغافوري بالآتي<a href="#three"><span><sup
                                title="محمود عبد الفضيل: العرب والتجربة الآسيوية الدروس المستفادة، مركز دراسات الوحدة العربية، بيروت، 2000، ص32.">[3]</sup></span></a>:
                </p>
                <ol>
                    <li>تنمية تجارة سنغافورة في الأسواق العالمية.</li>
                    <li>المساعدة على استكشاف أسواق جديدة لصادرات البلاد وتوسيع مصادر التوريد.</li>
                    <li>العمل على جعل سنغافورة بيئة جاذبة للتجارة العالمية.</li>
                    <li>تطوير البنية الأساسية للتجارة والأعمال.</li>
                    <li>وضع أسس علمية وسليمة للاستثمار في الخارج.</li>
                </ol>
                <h2 class="special-title">المجلس الوطني للإنتاجية:</h2>
                <p>إن الحفاظ على موقع سنغافورة التنافسـي على المستوى العالمي يتطلب رفع مستوى إنتاجية السلع والخدمات،
                    وهذا ما حدا
                    بها إلى إنشاء هذا المجلس في العام 1981م، الذي يعمل عن طريق برامج مختلفة على صقل المهـارات البشـرية
                    وتنميتهـا
                    لإيصالهـا إلى مستويات عالية من الإنتاجية، وتأكيدًا لشعاره: (الجودة في العمل تعني الجودة في نوعية
                    الحياة) أخذ
                    المجلس على عاتقه منذ العام 1991م مهمة تنظيم حملات للارتقاء بالإنتاجية.</p>
                <p>وتتويجًا لجهودها في هذا المجال بدأت سنغافورة ابتداء من العام 1995م خطتها الخمسية للارتقاء بمستوى
                    الإنتاجية
                    اعتمادًا على مفهوم الابتكار والجودة عن طريق إيصال التنمية في البلاد إلى هدفين هما: رفع مستوى كفاءة
                    عوامل
                    الإنتاج (المدخلات)، تشجيع الابتكارات لتطوير عمليات التجديد في مختلف المنتجات؛ من أجل ذلك سعت
                    سنغافورة إلى
                    إيصال نمو الإنتاجية الكلية لعوامل الإنتاج إلى مستوى لا يقل عن (2%) سنويًا<a href="#four"><span><sup
                                title="محمود عبد الفضيل، مرجع سابق، ص34.">[4]</sup></span></a>. </p>
                <p>وقد صُنفت سنغافورة على الدوام أنها أقل الدول فسادًا في آسيا وبين أكثر عشـر دول نظافةً في العالم من
                    قبل منظمة
                    الشفافية الدولية، وصنفت مؤشرات إدارة البنك الدولي سنغافورة -أيضًا - بدرجة عالية فيما يتعلق بسيادة
                    القانون،
                    ومراقبة الفساد ومستوى فاعلية الحكومة.</p>
                <h2>ثانيًا: عوامل نجاح التجربة السنغافورية:</h2>
                <p>تتشارك العديد من الدراسات في الاستشهاد بمجموعة من العوامل دون غيرها في تعليل نجاح التجربة التنموية
                    السنغافورية نذكرها فيما يلي:</p>
                <ul>
                    <li>التعليم حجر الزاوية في نهضة سنغافورة:
                        لطالما شكل التعليم اللبنة الأساسية في بناء صرح التنمية الاقتصادية والوطنية في سنغافورة الحديثة،
                        نذكر هنا
                        العبارة الشهيرة لرئيس وزرائها :Goh (Chok Thong) <br>
                        إنَّ ثروة كل أمة تكمن في شعبها؛ لذا حظي التعليم منذ تأسيس الجمهورية بتقدير بالغ بصفته العامل
                        الحاسم في
                        تحقيق التنمية الاقتصادية وتعزيز اللحمة الوطنية في بلاد فقير إلى الموارد الطبيعية<a
                            href="#five"><span><sup
                                    title="سعد الله، عمار. وشتوح، وليد: قراءات التجربة التنموية السنغافورية- أسرار النجاح، مجلة نماء للاقتصاد والتجارة، مجلد 6، العدد 2، 2022، ص343.">[5]</sup></span></a>.
                        من الإحصاءات التي
                        توضّح ببلاغة الامتياز الذي حققته سنغافورة في نظامها التعليمي: هو أن سنغافورة تَحِل في المرتبة
                        الثانية من
                        ناحية عدد الطلاب المُرسلين إلى جامعتي أكسفورد وكامبريدج، مع أن عدد سكانها لا يتجاوز 3.5 مليون
                        نسمة.
                    </li>
                    <li>البحث والتطوير والابتكار:
                        لقد حققت سنغافورة تقدمًا مهما في تطوير قدراتها في العلوم والتكنولوجيا والابتكار على مدار أكثر من
                        50
                        عاماً منذ الاستقلال السياسي، وقد استند هذا الجهد في البداية إلى نظام وطني متطور يؤكد على جذب
                        الشـركات
                        متعددة الجنسيات والاستفادة منها؛ لنقل العمليات التكنولوجية المتقدمة إلى سنغافورة، وتطوير البنية
                        التحتية
                        والموارد البشـرية لاستيعاب واستغلال التكنولوجيات الجديدة بسـرعة، في تسعينيات القرن الماضي بدأت
                        سنغافورة
                        بتبني نهج أكثر توازنًا، مع التركيز بشكل متزايد على تطوير قدراتها المحلية في مجال البحث والتطوير
                        والابتكار. <br>
                        كما كشفت الحكومة السنغافورية في عام 2016م عن مخطط (البحث والابتكار والمؤسسة 2020م) لاستثمار 19
                        مليار
                        دولار سنغافوري على مدار خمس سنوات بدئًا من عام 2016م، وهو ما يمثل زيادة بنسبة 18% مقارنة بمدة
                        السنوات
                        الخمسة السابقة؛ بهدف زيادة فاعلية العلم والتكنولوجيا لبناء القدرات الابتكارية للقطاع الخاص
                        ومعالجة
                        التحديات الوطنية، والبحث عن الفرص الاقتصادية والقدرات التنافسية.<a href="#six"><span><sup
                                    title="Hank، L. Innovation Policy in Singapore. in A. MASAHITO، INNOVATION POLICY IN ASEAN 2018. P: 198-217. Indonesia: Economic Research Institute for ASEAN and East Asia. 2018, 198.">[6]</sup></span></a>
                    </li>
                    <li>الادخار الحكومي الإجباري:
                        كانت القوة الدافعة في عملية الادخار في سنغافورة هي الادخار في القطاع العام، الذي ارتفع من أقل من
                        ربع
                        الادخار الوطني في عام 1974م إلى ثلاثة أخماسه بحلول عام 1984م، وتكونت مدخرات القطاع العام من
                        فوائض
                        ميزانية الحكومة والفوائض المحققة من قبل المجالس القانونية، وكانت أرباح القطاع العام الناتجة عن
                        الاحتكارات الطبيعية تدعم في الواقع العجز في المجالات ذات الأولوية الحكومية مثل الإسكان، وقد أدت
                        سبعة
                        مجالس رئيسة دورًا أساسيًا في تحديد مدخرات القطاع العام.<a href="#7"><span><sup
                                    title="سعد الله، عمار & شتوح، وليد، مرجع سابق، ص348.">[7]</sup></span></a>
                    </li>
                    <li>تطبيق الحوكمة:
                        ترى الحكومة أن حقوق الإنسان ليست مجرد مسألة سن القوانين، وإنما إنفاذ هذه القوانين بعدالة، وتشمل
                        الحوكمة
                        الرشيدة التنفيذ الفعلي للسياسات، وتقديم الخدمات العامة، وتصنف الدراسات الاستقصائية العالمية
                        سنغافورة في
                        أعلى المراتب على الدوام في الحوكمة، وأنها أفضل بلد آسيوي يمكن العمل فيه، وصنف نظامها القانوني
                        ضمن أولى
                        النظم من قبل المنتدى الاقتصادي العالمي.
                    </li>
                    <li>الاستثمار الأجنبي المباشر وتوجيه سوق العمل:
                        بعد انفصال سنغافورة عن ماليزيا واجهت في ذلك الوقت مشاكل الركود الاقتصادي والنمو السكاني السـريع،
                        وهكذا،
                        فإن الحكومـة - بقيـادة لي كوان يو رئيساً - اختـارت الحل الأكثر براغماتية، الذي تركز حول
                        الاستثمار
                        الأجنبي المباشر؛ من أجل خلق الوظائف بطريقة سريعة؛ لذا قدمت حكومة سنغافورة حزمة من السياسات
                        لاجتذاب
                        الاستثمار الأجنبي المباشر، التي شملت تقديم حوافز ضريبية للشـركات العالمية العاملة في الإنتاج
                        الصناعي حتى
                        البنية التحتية الصناعية الجاهزة بالكامل، مثل توفير المصانع الجاهزة للعمل، والاتصالات السلكية
                        واللاسلكية،
                        والربط بالنقل والخدمات العامة، كما ضبطت اليد العاملة المحلية بقوة عن طريق تسييس الحركة العمالية،
                        وفرض
                        الحكومة سيطرة فعلية على النقابات، ونقل السلطة التفاوضية من العمال إلى أرباب العمل، حتى أن حكومة
                        سنغافورة
                        أنشأت لجنة خاضعة لرقابة الدولة تعرف باسم (المجلس الوطني للأجور) <a href="#8"><span><sup
                                    title="Huff, W. G. What is the Singapore model of economic development? Cambridge Journal of Economics, 1995, p740.">[8]</sup></span></a>
                        تعمل على بقاء الأجور جذابة للمستثمرين
                        الأجانب، كما شرعت الحكومة - أيضاً - في حملة للقضاء على جميع أشكال الفساد داخل الحكومة وقطاع
                        الأعمال في
                        سنغافورة. <a href="#9"><span><sup title="Ibid, p: 352.">[9]</sup></span></a>
                    </li>

                </ul>
                <h2>ثالثًا: الجانب الاقتصادي لعملية التنمية في سنغافورة:</h2>
                <p>
                    وجدت سنغافورة نفسها وحيدة بعد الانفصال؛ إذ كان عليها مواجهة مجموعة من المشاكل إذا ما أرادت البقاء
                    دولة
                    مستقلة،
                    و كانت أبرز المهام التي تتطلب إيجاد الحلول لها هي قضية بناء الجيش، وتأسيس الأسواق، وحل مشاكل العمالة
                    والسكن،
                    وقد
                    نجحت الحكومة على مدى سنوات عدة في إيجاد معالجات عملية لهذه القضايا بشكل متوازن دون إيثار جانب على
                    حساب جانب
                    آخر،
                    لكن الطابع الاقتصادي للتنمية في دول جنوب شرق آسيا ومنها سنغافورة - دائمًا - كان له الأولوية في
                    الاهتمام
                    والبحث؛
                    لكونه القلب النابض للتنمية والمرتكز الأساس في إظهار تقدم الأمم ودعم تفوقها على المستويين الإقليمي
                    والعالمي.
                </p>
                <h2>رابعًا: مراحل تطور عملية الإصلاح في سنغافورة:</h2>
                <img src="{% static 'imgs/mk.png' %}" alt="">
                <p>يمكن تقسيم هذه المراحل إلى ما يلي:</p>
                <h2 class="special-title2">المرحلة الأولى 1960م - 1980م:</h2>
                <p>تميزت استراتيجية الدولة التنموية خلال هذه المرحلة بنظرة اشتراكية للرأسمالية، فهي تدعم كل ما يؤدي إلى
                    تعزيز
                    الرأسمالية في الحياة الاقتصادية وإعطائها الأهمية الكافية في الوقت نفسه للجوانب الاجتماعية للتنمية؛
                    لهذا لم
                    تتوان الحكومة السنغافورية التي كان يترأسها آنذاك «لي كوان يو» في العام 1960م على طلب المساعدة من
                    الأمم
                    المتحدة لإمدادها بلجنة من الخبراء تساعدها في رسم خطة اقتصادية ملائمة لسنغافورة، وقد أوصت هذه اللجنة
                    بعدة
                    دراسات مستفيضة لأوضاع البلاد بإنشاء هيئة يمكنها الإشراف على تنمية الاقتصاد. </p>
                <h2 class="special-title2">المرحلة الثانية 1980م – 1990م:</h2>
                <p>خلال هذه المرحلة جرى الاعتماد على نمو إنتاجية المدخلات بدلًا من زيادة حجمها؛ لذا اعتمدت سنغافورة
                    استراتيجية
                    قائمة على مرتكزين الأول: تقوم على استيراد أحدث التطورات التكنولوجية العالمية؛ من أجل زيادة إنتاجية
                    رأس المال
                    والعمالة عن طريق تشجيع الاستثمارات الأجنبية المباشرة وتوظيف المواهب الأجنبية بوصفها الوسيلة المثلى
                    لنقل
                    المعارف والعلوم، والثاني: توفير البيئة القانونية والفكرية والحوكمة الرشيدة ورعاية المواهب المكتسبة؛
                    من أجل
                    خلق مجالات للابتكار والتقدم التكنولوجي <a href="#10"><span><sup
                                title="العامري، ابتسام: التجربة التنموية في سنغافورة، مجلة بحوث الشرق الأوسط، العدد 45، 2018، ص282.">[10]</sup></span></a>،
                    وكذلك تطورت استراتيجية تقنية المعلومات في سنغافورة عن طريق اعتماد
                    خطة الدولة القومية التي قسمت على مرحلتين بواسطتهما حققت هدفين:</p>
                <ol>
                    <li>تطوير صناعة تقانة المعلومات؛ لكي تصبح صناعة ذات صفة تصديرية. </li>
                    <li>تحسين إنتاجية الاقتصاد القومي من خلال التطبيقات الواسعة لتقانة المعلومات.</li>
                </ol>
                <h2 class="special-title2">المرحلة الثالثة 1990م - 2016م:</h2>
                <p>انطلقت هذه المرحلة مع بداية التسعينيات؛ بهدف تحويل سنغافورة إلى جزيرة ذكية من خلال اعتماد خطة أطلق
                    عليها اسم
                    (الخطة العامة لتقانة المعلومات 2000م)؛ بحيث تدخل المعلومات كل جانب من جوانب الحياة في سنغافورة. </p>
                <p>وفي هذه المرحلة وضعت سنغافورة أولى أقدامها على طريق التحول نحو اقتصاد المعرفة الذي يقوم على حُسن
                    استخدام
                    المعارف الناتجة عن التقدم العلمي، لاسيما في مجالي تكنولوجيا المعلومات والاتصالات؛ بهدف ابتكار وإنتاج
                    سلع
                    وتجهيزات جديدة من جهة، وتطوير وسائل الإنتاج وأدواته بما يؤدي إلى تحسين نوعية السلع وجودتها، ومن ثم
                    امتلاك
                    القدرة على المنافسة في الأسواق الإقليمية والعالمية في ظل نظام العولمة من جهة أخرى<a
                        href="#11"><span><sup title="محمود عبد الفضيل، مرجع سابق، ص 35.">[11]</sup></span></a>.</p>
                <p>ومع دخول العالم مرحلة العولمة في بداية تسعينيات القرن الماضي سارعت سنغافورة إلى الاندماج فيها لما لها
                    من آثار
                    إيجابية بنظر رئيس وزراء سنغافورة الأسبق (لي كوان يو) من حيث قابليتها على رفع مستوى المعيشة وزيادة
                    فرص
                    التوظيف، ويرى أن أقلمة الاقتصاد السنغافوري مع متطلبات العولمة البنيوية المتعلقة بالنظام المصـرفي
                    واحتياطات
                    العملة قد أسهم بشكل مباشر في التخلص من الآثار السلبية للعولمة ومكنها من تجاوز آثار الأزمة المالية
                    الأسيوية
                    المدمرة في العام 1997م، الذي رأى حينها أن أفضل وسيلة للتخلص منها هو الاندماج في نظام العولمة
                    مستشهدًا بحقيقة
                    (قد يكون هناك خاسرون، لكنهم سيزيدون وستكون الخسارة مضاعفة إذا جرى التراجع عن مفهوم العولمة وإذا لم
                    تقبل هذه
                    الدول العولمة بكامل شروطها الاقتصادية والسياسية، فهي ظاهرة حتمية تفرض على الدول خيارين لا ثالث لهما
                    إما أن
                    تتصـرف طبقًا لمقتضيات السوق والمشـروع الخاص، أو تتراجع نحو الخلف وتتحمل تبعات عملك، فالعولمة تفترض
                    وجود سوق
                    رأسمالي تفاعلي واحد، وعلى كل دولة أن تتصـرف فيه طبقًا لقواعد محددة، بمعنى أن جوهر العولمة يشير إلى
                    وجود
                    قواعد موحدة للتعامل في السوق الرأسمالية <a href="#12"><span><sup
                                title="العامري، مرجع سابق، ص285.">[12]</sup></span></a>.</p>
                <p>كما سجل الإنفاق على البحث والتطوير ابتداء من النصف الثاني من التسعينيات ارتفاعًا ملحوظًا مسجلًا
                    (19%)، وقد
                    أسهم القطاع الخاص إسهامًا فاعلًا في دعم هذه الأنشطة عبر تمويله بنحو ثلثي حجم إنفاقها؛ ما انعكس
                    إيجابا على
                    التطور الكبير الذي شهده إنتاج الصناعات عالية التقانة وصادرتها. </p>
                <h2>خامسًا: دور القيادة السياسية في نجاح عملية الإصلاح الإداري:</h2>
                <p>نجحت سنغافورة في التحول من دولة ضعيفة إلى دولة قوية؛ وذلك بفضل السياسات الناجحة والمتوازنة التي
                    طبقتها
                    البلاد؛ إذ أدركت القيادة السياسية في سنغافورة أن الاهتمام بالجانب الاجتماعي يساعد في تنمية الجانب
                    الاقتصادي،
                    ويكون دوره مكملًا للتنمية الاقتصادية، ويعد الرئيس «لي كوان يو» صاحب الدور الكبير في نهضة سنغافورة
                    وازدهارها
                    عن طريق الكثير من الإنجازات التي قدمها، منها الاهتمام بالتنمية الاجتماعية<a href="#13"><span><sup
                                title="العامري، مرجع سابق، ص299.">[13]</sup></span></a>.</p>
                <p>وذلك عن طريق إعطاء أهمية بالغة للتعليم والتربية، وكان الرئيس (لي كوان) يتبع نظام الادخار ويملك القدرة
                    على
                    التنبؤ بما تحتاجه بلاده؛ إذ جرى الاعتراف بعبقرية هذا الرجل قياسًا بالتغيير الذي أحدثه بتحويل دولة
                    ضعيفة وهشة
                    وذات بنية وهيكل اقتصادي متخلف إلى دولة مزدهرة ومتطورة ومتحضـرة، تحظى باهتمام دول العالم وكان «لي
                    كوان» يعتمد
                    على سياسة التعليم وتأهيل الموارد البشرية.</p>
                <p>ويعد «لي كوان يو» شخصًا ملهمًا، يتمتع بإرادة صلبة وإخلاص رفاقه الذين بدونهم لم يكن الإنجاز قد تم كما
                    قال هو؛
                    إذ يعكس صورة الزعيم الأوحد الذي وضع خطة عبقرية حوَّلت سنغافورة من دولة فقيرة إلى غنية، ونقلها من
                    التخلف إلى
                    التقدم، فعل ذلك عن طريق العمل المخلص المتفاني لعشـرات السنين وبمساعدة من أصغر إلى أكبر شخص في
                    المجتمع.</p>
                <p>ويمكن القول: إن التجربة التنموية في سنغافورة هي تجربة ناجحة؛ وذلك عن طريق عدة أسس جعلتها تؤتى ثمارها،
                    التي
                    تتمثل في الاهتمام بالجانب التكنولوجي المتفوق في كل نواحي الحياة، سواء عن طريق نقله من الخارج أم
                    ابتكاره في
                    الداخل، والارتقاء بالتعليم لينافس أكثر دول العالم تقدماً، فالارتقاء بالتعليم هو مفتاح التفوق النوعي،
                    بالإضافة إلى ذلك الانفتاح الإيجابي على العالم الخارجي؛ وذلك ليأتي العالم إلى سنغافورة في الوقت نفسه
                    الذي
                    تذهب هي إليه<a href="#14"><span><sup
                                title="مصطفى، أحمد: الجزيرة الفاضلة سنغافورة، وكالة الصحافة العربية، القاهرة، 2008، ص55.">[14]</sup></span></a>.
                </p>
                <h2>سادسًا: الدروس المستفادة من تجربة سنغافورة في الإصلاح الإداري:</h2>
                <p>وجود قيادة ذات رؤية بعيدة المدى تؤمن بمشاركة الجميع، ملتزمة بنهج الإصلاح واختيار القيادات الوسطى
                    الإشرافية
                    والتنفيذية القادرة على فهم محاور الإصلاح وتعبئة الموارد المادية والبشـرية لتنفيذ هذه البرامج.</p>
                <p>جعل التعليم محور عملية الإصلاح؛ لذا كان الاهتمام بالتعليم بجميع مراحله وبناء جيل مسلح بالعلم
                    والمعرفة. </p>
                <p>بناء شراكة فعّالة بين الحكومة والمجتمع والقطاع الخاص؛ لتحقيق أهداف التنمية وغاياتها، فهم شركاء في صنع
                    القرار
                    وتطبيق السياسات العامة. </p>
                <p>تطوير نظم إدارة الموارد البشـرية بالخدمة المدنية؛ لتصبح أكثر احترافية وابتكاريه، ومرتكزة على مبدأ
                    الجدارة
                    والكفاءة في التعيين والترقية. </p>
                <p>ضرورة وجود إرادة سياسية تؤمن بمواجهة الفساد وتمثل قدوة في إتباع السلوك النزيه وشمولية قوانين مكافحة
                    الفساد.
                </p>
                <p>تطبيق مبدأ التجربة والخطأ، حيث استطاع «لي كوان» وحكومته باحترافية تجريب العديد من الحلول لأزمات
                    سنغافورة
                    الوجودية، من نقص الموارد والمياه وصغر المساحة والبطالة، عن طريق تنفيذ عدد من السياسات وإعادة تقييم
                    آثارها
                    والرجوع عنها أو تعديلها إذا لم تتوافق هذه الآثار مع النتائج المرجوة سلفًا من هذه السياسات. </p>

            </div>
        </div>
        <div class="nested-ref">
            <h2 class="show-references">إخفاء المراجع</h2>
    <div class="refrences">
        <div class="first-ref-info">
            <h2>المراجع</h2>
        </div>
        <ul>
            <li id="one">العامري، ابتسام: التجربة التنموية في سنغافورة، مجلة بحوث الشرق الأوسط، العدد 45، 2018، ص296.
            </li>
            <li id="two">محمود عبد الفضيل: العرب والتجربة الآسيوية الدروس المستفادة، مركز دراسات الوحدة العربية، بيروت،
                2000، ص32.</li>
            <li id="three">نفس المرجع السابق.</li>
            <li id="four">محمود عبد الفضيل، مرجع سابق، ص34.</li>
            <li id="five">سعد الله، عمار. وشتوح، وليد: قراءات التجربة التنموية السنغافورية- أسرار النجاح، مجلة نماء
                للاقتصاد
                والتجارة، مجلد 6، العدد 2، 2022، ص343.</li>
            <li id="six" class="eng">Hank، L. Innovation Policy in Singapore. in A. MASAHITO، INNOVATION POLICY IN ASEAN
                2018. P: 198-217. Indonesia: Economic Research Institute for ASEAN and East Asia. 2018, 198.</li>
            <li id="7">سعد الله، عمار & شتوح، وليد، مرجع سابق، ص348.</li>
            <li id="8" class="eng">Huff, W. G. What is the Singapore model of economic development? Cambridge Journal of
                Economics, 1995, p740.</li>
            <li id="9" class="eng">Ibid, p: 352.</li>
            <li id="10">العامري، ابتسام: التجربة التنموية في سنغافورة، مجلة بحوث الشرق الأوسط، العدد 45، 2018، ص282.
            </li>
            <li id="11">محمود عبد الفضيل، مرجع سابق، ص 35.</li>
            <li id="12">العامري، مرجع سابق، ص285.</li>
            <li id="13">المرجع السابق نفسه، ص299.</li>
            <li id="14">مصطفى، أحمد: الجزيرة الفاضلة سنغافورة، وكالة الصحافة العربية، القاهرة، 2008، ص55.</li>
        </ul>
    </div>
        </div>
        <div class="show-some-studies">
            <h3 class="show-studies-h3">إقرأ أيضاً</h3>
            <a href="{% url 'reformmethodology' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/method1.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <span>3 مارس 2024</span>
                        <h3>منهجية الإصلاح الإداري</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'comprehensive_reform' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/fanicial.webp' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <span>23 سبتمبر 2023</span>
                        <h3>تقييم برنامج الإصلاح الاقتصادي والمالي والإداري الشامل في اليمن</h3>

                    </div>
                </div>
            </a>
            <a href="{% url 'evolution_of_public_administration' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/admini.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <span>5 أكتوبر 2024</span>
                        <h3>تطور الإدارة العامة في إطار حقل القانون الإداري</h3>

                    </div>
                </div>
            </a>
            <a href="{% url 'financial_reform_in_countries' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/gold.webp' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <span>20 يناير 2024</span>
                        <h3>تجارب بعض الدول في مجال الإصلاح المال</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'malaysia_study' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/maly2.webp' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <span>1 يونيو 2024</span>
                        <h3>تجربة ماليزيا في الإصلاح الإداري</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'future_fo_reforming_administrative_law_in_yemen' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/fix2.webp' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <span>14 سبتمبر 2024</span>
                        <h3>الرؤية المستقبلية لإصلاح القانون الإداري في اليمن</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'future_of_financial_reform_in_yemen' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/tagarb9.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <span>6 يناير 2024</span>
                        <h3>رؤية مستقبلية للإصلاح المالي في اليمن</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'role_of_the_private_sector_in_world' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/test.png' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <span>23 ديسمبر 2023</span>
                        <h3>تجارب عالمية وإقليمية لدور القطاع الخاص</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'legislative_reform_in_the_world' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/repair4.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <span>2 نوفمبر 2024</span>
                        <h3>تجارب عربية وغربية للإصلاح التشريعي</h3>
                    </div>
                </div>
            </a>

            <a href="{% url 'implementing_e-government' %}" class="study-item">
                <div class="study-info-show last-one">
                    <div class="image-card">
                        <img src="{% static 'imgs/egoven.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <span>11 نوفمبر 2023</span>
                        <h3>عوامل نجاح أو فشل تنفيذ الحكومة الإلكترونية</h3>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <h2 class="show-references">إخفاء المراجع</h2>
    <div class="refrences">
        <div class="first-ref-info">
            <h2>المراجع</h2>
        </div>
        <ul>
            <li id="one">العامري، ابتسام: التجربة التنموية في سنغافورة، مجلة بحوث الشرق الأوسط، العدد 45، 2018، ص296.
            </li>
            <li id="two">محمود عبد الفضيل: العرب والتجربة الآسيوية الدروس المستفادة، مركز دراسات الوحدة العربية، بيروت،
                2000، ص32.</li>
            <li id="three">نفس المرجع السابق.</li>
            <li id="four">محمود عبد الفضيل، مرجع سابق، ص34.</li>
            <li id="five">سعد الله، عمار. وشتوح، وليد: قراءات التجربة التنموية السنغافورية- أسرار النجاح، مجلة نماء
                للاقتصاد
                والتجارة، مجلد 6، العدد 2، 2022، ص343.</li>
            <li id="six" class="eng">Hank، L. Innovation Policy in Singapore. in A. MASAHITO، INNOVATION POLICY IN ASEAN
                2018. P: 198-217. Indonesia: Economic Research Institute for ASEAN and East Asia. 2018, 198.</li>
            <li id="7">سعد الله، عمار & شتوح، وليد، مرجع سابق، ص348.</li>
            <li id="8" class="eng">Huff, W. G. What is the Singapore model of economic development? Cambridge Journal of
                Economics, 1995, p740.</li>
            <li id="9" class="eng">Ibid, p: 352.</li>
            <li id="10">العامري، ابتسام: التجربة التنموية في سنغافورة، مجلة بحوث الشرق الأوسط، العدد 45، 2018، ص282.
            </li>
            <li id="11">محمود عبد الفضيل، مرجع سابق، ص 35.</li>
            <li id="12">العامري، مرجع سابق، ص285.</li>
            <li id="13">المرجع السابق نفسه، ص299.</li>
            <li id="14">مصطفى، أحمد: الجزيرة الفاضلة سنغافورة، وكالة الصحافة العربية، القاهرة، 2008، ص55.</li>
        </ul>
    </div>
</div>
{% endblock %}