{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="show-i">
    <a href="{% url 'showDetailStudies' %}">
        <div class="card">
            <div class="head">
                <h3>إصدارات المركز</h3>
            </div>
            <div class="i">
                <i class="fa-solid fa-code-compare"></i>
            </div>
            <p>كتاب جماعي بعنوان "رؤية مستقبلية للإصلاح الإداري الشامل في الجمهورية اليمنية- دراسة تحليلية مقارنة"</p>
            <button>المزيد</button>
        </div>
    </a>
    <div class="show-posts">
        {% for post in posts %}
        <div class="post-box">
            <div class="infop">
                <i class="fa-regular fa-user"></i><span>{{post.user_id.username}}</span><span>{{post.post_date|date:'Y-m-d H:i'}}</span>
            </div>
            <p>{{post.post}}</p>
            <img src="{{ post.file.url }}" alt="">
            <!-- <a href="../../media/{{post.file2}}" class="spe-a my-spe" download="proposed_file_name"><i class="fa-solid fa-file-arrow-down"></i></a> -->
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}