{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1 class="spe-h1"> الإصدارات</h1>
<div class="show-i">
    <!-- <a href="{% url 'showDetailStudies' %}">
        <div class="card">
            <div class="image-card">
                <img src="{% static 'imgs/stu.png' %}" alt="">
            </div>
            <i class="fa-solid fa-calendar"></i><span>24 , أبريل 2010</span>
            <p>كتاب جماعي بعنوان "رؤية مستقبلية للإصلاح الإداري الشامل في الجمهورية اليمنية- دراسة تحليلية مقارنة"</p>
        </div>
    </a> -->
    <a href="{% url 'firstpage' %}">
        <div class="card">
            <div class="image-card">
                <img src="{% static 'imgs/manage1.webp' %}" alt="">
            </div>
            <i class="fa-solid fa-calendar"></i><span>24 , أبريل 2010</span>
            <p>نشأة الإدارة وتطورها.</p>
        </div>
    </a>
    <a href="{% url 'administrativereform' %}">
        <div class="card">
            <div class="image-card">
                <img src="{% static 'imgs/repair.jpg' %}" alt="">
            </div>
            <i class="fa-solid fa-calendar"></i><span>24 , أبريل 2010</span>
            <p>الإصلاح الإداري المفهوم والأهداف</p>
        </div>
    </a>
    <a href="{% url 'reformmethodology' %}">
        <div class="card">
            <div class="image-card">
                <img src="{% static 'imgs/method1.jpg' %}" alt="">
            </div>
            <i class="fa-solid fa-calendar"></i><span>24 , أبريل 2010</span>
            <p>منهجية الإصلاح الإداري</p>
        </div>
    </a>
    <a href="{% url 'Notesreform' %}">
        <div class="card">
            <div class="image-card">
                <img src="{% static 'imgs/notes3.jpg' %}" alt="">
            </div>
            <i class="fa-solid fa-calendar"></i><span>24 , أبريل 2010</span>
            <p>ملاحظات على مداخل الإصلاح الإداري</p>
        </div>
    </a>
    <a href="{% url 'studyOfUS' %}">
        <div class="card">
            <div class="image-card">
                <img src="{% static 'imgs/US.jpg' %}" alt="">
            </div>
            <i class="fa-solid fa-calendar"></i><span>24 , أبريل 2010</span>
            <p>تجربة الولايات المتحدة الأمريكية في الإصلاح الإداري</p>
        </div>
    </a>
    <a href="{% url 'studysingapore' %}">
        <div class="card">
            <div class="image-card">
                <img src="{% static 'imgs/sn.webp' %}" alt="">
            </div>
            <i class="fa-solid fa-calendar"></i><span>24 , أبريل 2010</span>
            <p>تجربة سنغافورا في اللإصلاح الإداري</p>
        </div>
    </a>
    <a href="{% url 'showDetailNews' %}">
        <div class="card">
            <div class="image-card">
                <img src="{% static 'imgs/raw.webp' %}" alt="">
            </div>
            <i class="fa-solid fa-calendar"></i><span>24 , أبريل 2010</span>
            <p>تجربة رواندا في الإصلاح الإداري</p>
        </div>
    </a>
    <a href="{% url 'showDetailNews' %}">
        <div class="card">
            <div class="image-card">
                <img src="{% static 'imgs/china.jpeg' %}" alt="">
            </div>
            <i class="fa-solid fa-calendar"></i><span>24 , أبريل 2010</span>
            <p>سياسة الإصلاح والإنفتاح في الصين</p>
        </div>
    </a>
    <a href="{% url 'showDetailNews' %}">
        <div class="card">
            <div class="image-card">
                <img src="{% static 'imgs/maly.jpg' %}" alt="">
            </div>
            <i class="fa-solid fa-calendar"></i><span>24 , أبريل 2010</span>
            <p>تجربة ماليزيا في الإصلاح الإداري</p>
        </div>
    </a>
    <a href="{% url 'showDetailNews' %}">
        <div class="card">
            <div class="image-card">
                <img src="{% static 'imgs/jor.jpeg' %}" alt="">
            </div>
            <i class="fa-solid fa-calendar"></i><span>24 , أبريل 2010</span>
            <p>تجربة المملكة الأُردنية الهاشمية في الإصلاح الإداري</p>
        </div>
    </a>
    <a href="{% url 'showDetailNews' %}">
        <div class="card">
            <div class="image-card">
                <img src="{% static 'imgs/yemen.jpg' %}" alt="">
            </div>
            <i class="fa-solid fa-calendar"></i><span>24 , أبريل 2010</span>
            <p>ملامح الإصلاح الإداري في الجمهورية اليمنية</p>
        </div>
    </a>
    <a href="{% url 'showDetailNews' %}">
        <div class="card">
            <div class="image-card">
                <img src="{% static 'imgs/fanicial.webp' %}" alt="">
            </div>
            <i class="fa-solid fa-calendar"></i><span>24 , أبريل 2010</span>
            <p>تقييم برنامج الإصلاح الاقتصادي والمالي والإداري الشامل في اليمن</p>
        </div>
    </a>
    <a href="{% url 'showDetailNews' %}">
        <div class="card">
            <div class="image-card">
                <img src="{% static 'imgs/jud.jpg' %}" alt="">
            </div>
            <i class="fa-solid fa-calendar"></i><span>24 , أبريل 2010</span>
            <p> ماهية القانون الإداري</p>
        </div>
    </a>
    <a href="{% url 'showDetailNews' %}">
        <div class="card">
            <div class="image-card">
                <img src="{% static 'imgs/repair2.jpg' %}" alt="">
            </div>
            <i class="fa-solid fa-calendar"></i><span>24 , أبريل 2010</span>
            <p> ماهية الاصلاح الإداري</p>
        </div>
    </a>
    <a href="{% url 'showDetailNews' %}">
        <div class="card">
            <div class="image-card">
                <img src="{% static 'imgs/When Justice Drowns in the Law.jfif' %}" alt="">
            </div>
            <i class="fa-solid fa-calendar"></i><span>24 , أبريل 2010</span>
            <p>القانون الإداري في الجمهورية اليمنية</p>
        </div>
    </a>
    <a href="{% url 'showDetailNews' %}">
        <div class="card">
            <div class="image-card">
                <img src="{% static 'imgs/world.jpg' %}" alt="">
            </div>
            <i class="fa-solid fa-calendar"></i><span>24 , أبريل 2010</span>
            <p>بعض التجارب الدولية في الإصلاح الإداري</p>
        </div>
    </a>
    <a href="{% url 'showDetailNews' %}">
        <div class="card">
            <div class="image-card">
                <img src="{% static 'imgs/future.jpg' %}" alt="">
            </div>
            <i class="fa-solid fa-calendar"></i><span>24 , أبريل 2010</span>
            <p>الرؤية المستقبلية لإصلاح القانون الإداري في اليمن</p>
        </div>
    </a>
    <a href="{% url 'showDetailNews' %}">
        <div class="card">
            <div class="image-card">
                <img src="{% static 'imgs/repjud.jpg' %}" alt="">
            </div>
            <i class="fa-solid fa-calendar"></i><span>24 , أبريل 2010</span>
            <p>مدخل إلى الإصلاح القانوني</p>
        </div>
    </a>
    <a href="{% url 'showDetailNews' %}">
        <div class="card">
            <div class="image-card">
                <img src="{% static 'imgs/dev.jpg' %}" alt="">
            </div>
            <i class="fa-solid fa-calendar"></i><span>24 , أبريل 2010</span>
            <p>تطور الإدارة العامة في إطار حقل القانون الإداري</p>
        </div>
    </a>
    <a href="{% url 'showDetailNews' %}">
        <div class="card">
            <div class="image-card">
                <img src="{% static 'imgs/ll.jpg' %}" alt="">
            </div>
            <i class="fa-solid fa-calendar"></i><span>24 , أبريل 2010</span>
            <p>مراحل عملية الإصلاح التشريعي</p>
        </div>
    </a>
    <a href="{% url 'showDetailNews' %}">
        <div class="card">
            <div class="image-card">
                <img src="{% static 'imgs/all.jpeg' %}" alt="">
            </div>
            <i class="fa-solid fa-calendar"></i><span>24 , أبريل 2010</span>
            <p>تجارب عربية وغربية للإصلاح التشريعي</p>
        </div>
    </a>
    <a href="{% url 'showDetailNews' %}">
        <div class="card">
            <div class="image-card">
                <img src="{% static 'imgs/rjud.jpeg' %}" alt="">
            </div>
            <i class="fa-solid fa-calendar"></i><span>24 , أبريل 2010</span>
            <p>نحو إصلاح قانوني لمؤسسات الدولة في الجمهورية اليمنية</p>
        </div>
    </a>
    <a href="{% url 'showDetailNews' %}">
        <div class="card">
            <div class="image-card">
                <img src="{% static 'imgs/inyem.png' %}" alt="">
            </div>
            <i class="fa-solid fa-calendar"></i><span>24 , أبريل 2010</span>
            <p>وضع الإدارة العامة القائم في مؤسسات الدولة اليمنية</p>
        </div>
    </a>
    <a href="{% url 'showDetailNews' %}">
        <div class="card">
            <div class="image-card">
                <img src="{% static 'imgs/state.jpeg' %}" alt="">
            </div>
            <i class="fa-solid fa-calendar"></i><span>24 , أبريل 2010</span>
            <p>أهم سمات الوضع الاقتصادي القائم في اليمن</p>
        </div>
    </a>
    <a href="{% url 'showDetailNews' %}">
        <div class="card">
            <div class="image-card">
                <img src="{% static 'imgs/agstate.webp' %}" alt="">
            </div>
            <i class="fa-solid fa-calendar"></i><span>24 , أبريل 2010</span>
            <p>أهم ملامح الوضع الاجتماعي القائم في اليمن</p>
        </div>
    </a>
    <a href="{% url 'showDetailNews' %}">
        <div class="card">
            <div class="image-card">
                <img src="{% static 'imgs/bir.jpg' %}" alt="">
            </div>
            <i class="fa-solid fa-calendar"></i><span>24 , أبريل 2010</span>
            <p>تأثير بُنى الجهاز البيروقراطي في مسار الإصلاح الإداري</p>
        </div>
    </a>
    <a href="{% url 'showDetailNews' %}">
        <div class="card">
            <div class="image-card">
                <img src="{% static 'imgs/general.jpg' %}" alt="">
            </div>
            <i class="fa-solid fa-calendar"></i><span>24 , أبريل 2010</span>
            <p>المالية العامة والبناء الاقتصادي للدولة</p>
        </div>
    </a>
    <a href="{% url 'showDetailNews' %}">
        <div class="card">
            <div class="image-card">
                <img src="{% static 'imgs/gold.webp' %}" alt="">
            </div>
            <i class="fa-solid fa-calendar"></i><span>24 , أبريل 2010</span>
            <p>تجارب بعض الدول في مجال الإصلاح المال</p>
        </div>
    </a>
    <a href="{% url 'showDetailNews' %}">
        <div class="card">
            <div class="image-card">
                <img src="{% static 'imgs/1برامج الإصلاح المالي في الجمهورية اليمنية.jpg' %}" alt="">
            </div>
            <i class="fa-solid fa-calendar"></i><span>24 , أبريل 2010</span>
            <p>برامج الإصلاح المالي في الجمهورية اليمنية</p>
        </div>
    </a>
    <a href="{% url 'showDetailNews' %}">
        <div class="card">
            <div class="image-card">
                <img src="{% static 'imgs/رؤية مستقبلية للإصلاح المالي في اليمن.jpg' %}" alt="">
            </div>
            <i class="fa-solid fa-calendar"></i><span>24 , أبريل 2010</span>
            <p>رؤية مستقبلية للإصلاح المالي في اليمن</p>
        </div>
    </a>
    <a href="{% url 'showDetailNews' %}">
        <div class="card">
            <div class="image-card">
                <img src="{% static 'imgs/spe.webp' %}" alt="">
            </div>
            <i class="fa-solid fa-calendar"></i><span>24 , أبريل 2010</span>
            <p>مدخل إلى القطاع الخاص في اليمن</p>
        </div>
    </a>
    <a href="{% url 'showDetailNews' %}">
        <div class="card">
            <div class="image-card">
                <img src="{% static 'imgs/تجارب عالمية وإقليمية لدور القطاع الخاص.png' %}" alt="">
            </div>
            <i class="fa-solid fa-calendar"></i><span>24 , أبريل 2010</span>
            <p>تجارب عالمية وإقليمية لدور القطاع الخاص</p>
        </div>
    </a>
    <a href="{% url 'showDetailNews' %}">
        <div class="card">
            <div class="image-card">
                <img src="{% static 'imgs/spe2.jpg' %}" alt="">
            </div>
            <i class="fa-solid fa-calendar"></i><span>24 , أبريل 2010</span>
            <p>دور القطاع الخاص في التنمية باليمن</p>
        </div>
    </a>
    <a href="{% url 'showDetailNews' %}">
        <div class="card">
            <div class="image-card">
                <img src="{% static 'imgs/رؤية مستقبلية لدور القطاع الخاص في اليمن.jpg' %}" alt="">
            </div>
            <i class="fa-solid fa-calendar"></i><span>24 , أبريل 2010</span>
            <p>رؤية مستقبلية لدور القطاع الخاص في اليمن</p>
        </div>
    </a>
    <a href="{% url 'showDetailNews' %}">
        <div class="card">
            <div class="image-card">
                <img src="{% static 'imgs/gov.jpeg' %}" alt="">
            </div>
            <i class="fa-solid fa-calendar"></i><span>24 , أبريل 2010</span>
            <p>مدخل إلى الحكومة الإلكترونية</p>
        </div>
    </a>
    <a href="{% url 'showDetailNews' %}">
        <div class="card">
            <div class="image-card">
                <img src="{% static 'imgs/gov2.jpg' %}" alt="">
            </div>
            <i class="fa-solid fa-calendar"></i><span>24 , أبريل 2010</span>
            <p>عوامل نجاح أو فشل تنفيذ الحكومة الإلكترونية</p>
        </div>
    </a>
    <a href="{% url 'showDetailNews' %}">
        <div class="card">
            <div class="image-card">
                <img src="{% static 'imgs/التجارب العالمية في الحكومة الالكترونية وتطورها.jpg' %}" alt="">
            </div>
            <i class="fa-solid fa-calendar"></i><span>24 , أبريل 2010</span>
            <p>التجارب العالمية في الحكومة الالكترونية وتطورها</p>
        </div>
    </a>
    <a href="{% url 'showDetailNews' %}">
        <div class="card">
            <div class="image-card">
                <img src="{% static 'imgs/البنية الأساسية لتكنولوجيا المعلومات والاتصالات في اليمن.jpg' %}" alt="">
            </div>
            <i class="fa-solid fa-calendar"></i><span>24 , أبريل 2010</span>
            <p>البنية الأساسية لتكنولوجيا المعلومات والاتصالات في اليمن</p>
        </div>
    </a>
    <a href="{% url 'showDetailNews' %}">
        <div class="card">
            <div class="image-card">
                <img src="{% static 'imgs/تجربة اليمن في تنفيذ مشروع الحكومة الإلكترونية.jpg' %}" alt="">
            </div>
            <i class="fa-solid fa-calendar"></i><span>24 , أبريل 2010</span>
            <p>تجربة اليمن في تنفيذ مشروع الحكومة الإلكترونية</p>
        </div>
    </a>
    <a href="{% url 'showDetailNews' %}">
        <div class="card">
            <div class="image-card">
                <img src="{% static 'imgs/smart.jpg' %}" alt="">
            </div>
            <i class="fa-solid fa-calendar"></i><span>24 , أبريل 2010</span>
            <p>رؤية مستقبلية للحكومة الإلكترونية في الجمهورية اليمنية</p>
        </div>
    </a>

</div>

{% endblock %}