{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="top-of-study">
        <a href="{% url 'index' %}">المركز التأسيسي</a>/<a href="{% url 'studies' %}">الدراسات</a>/<span>مدخل إلى القطاع الخاص في اليمن</span>
    </div>
    
    <div class="studies-flex">
        <div class="first-page">
            <div class="controls">
                <button id="increaseFont">تكبير الخط</button>
                <button id="decreaseFont">تصغير الخط</button>
            </div>
            <a href="#img-id" class="hidden-row"><i class="fa-solid fa-arrow-up-long"></i></a>
            <!-- <h1>الحياة في اليمن</h1> -->
            <p class="p-img">مدخل إلى القطاع الخاص في اليمن</p>
                <div class="date-info">
                    <span>20 أغسطس 2023</span>
                </div>
                <span class="pub">أ.د/عبد السلام أحمد سعيد الدار</span>
            <img src="{% static 'imgs/md.jpg' %}" alt="" id="img-id">
            
            <div class="full-text">
                <p>يتناول هذا القسم من البحث تحليل الوضع الراهن للقطاع الخاص وبنائه الهيكلي والمؤسسـي، وكذا للمهام والاختصاصات
                    والوظائف والقوانين والموارد الذاتية بما في ذلك القطاع الخاص الرسمي وغير الرسمي، وتحليل اتجاهات وضع اليمن في
                    مؤشر مسح الحكومة الإلكترونية العالمي 2014-2022، وتحليل واقع التحول الرقمي في اليمن. والتركيز في سياق التحليل
                    على الإصلاح الإداري في الدولة بأسلوب علمي ومنهجي. </p>
                <h2>‌أ- تحليل الوضع الراهن للقطاع الخاص في اليمن للمدة (2012-2021): </h2>
                <p>قبل أن نبدأ بتحليل الوضع الراهن لهذه المدة سوف نسلط الضوء على الدور الذي قدمه القطاع الخاص قبل هذه المدة،
                    وبصفة خاصة على الدور الجديد الذي لعبه القطاع الخاص بعد تحقيق دولة الوحدة عام 1990م.</p>
                <p> نتيجة لتلك المتغيرات السياسية والاقتصادية والاجتماعية التي شهدتها اليمن بعد تحقيق الوحدة الوطنية، وجد القطاع
                    الخاص في اليمن نفسه أمام واقع جديد فرض عليه تحمل مسؤوليته في الحياة الاقتصادية والاجتماعية، وقد ساعده في ذلك
                    الواقع السياسي الذي أفسح له المجال في تحقيق شراكة في التنمية الاقتصادية والاجتماعية، وبرز ذلك عن طريق قيادته
                    لعملية التنمية في الخطط التنموية، وبشكل خاص في الخطة الخمسية الثانية 2001-2005م، ويعود ذلك إلى تغير الوظيفة
                    الاقتصادية للدولة؛ نتيجة لطبيعة التوجهات التي اتخذتها الحكومة في عملية الإصلاح الاقتصادي الذي بدأ مع مطلع
                    العام 1995 بالاتفاق مع صندوق النقد والبنك الدوليين، الذي هدف إلى تطبيق حزمة من السياسات الاقتصادية لتقليص
                    دور الدولة في النشاط الاقتصادي وتخفيض العجز في الموازنة العامة للدولة؛ من أجل أن تفسح المجال للقطاع الخاص
                    ليحل محل الدولة، وقد تبنت الحكومة لتحقيق ذلك برنامج الخصخصة لمنشآت القطاع العام والمختلط الذي تضمن بخصخصة
                    أكثر من 130 منشأة سواء عن طريق البيع الجزئي أو الكلي للقطاع الخاص المحلي والأجنبي أو بأسلوب التأجير وعقود
                    الإدارة والتشغيل أو أسلوب التصفية النهائية.</p>
                <p>وهذه الإجراءات سمحت للقطاع الخاص بالبدء في عملية الاستثمار في مجالات التعليم والصحة والاتصالات وغيرها، ونتيجة
                    لذلك تزايد دور القطاع الخاص في الناتج المحلي الإجمالي (GDP) الذي نقصد به مجموع السلع والخدمات التي ينتجها
                    مجتمع ما خلال مدة زمنية معينيه، ومن أجل استبعاد أثر الأسعار جرى قياس حجم القطاع الخاص في الاقتصاد عن طريق
                    نسبة الناتج المحلي الإجمالي الحقيقي (بالأسعار الثابتة) للقطاع الخاص إلى الناتج المحلي الإجمالي الحقيقي،
                    ويمكن تحليل الوضع الراهن للقطاع الخاص اليمني عن طريق تحليل دوره ومساهمته في الاقتصاد اليمني ضمن المؤشرات
                    الكلية للاقتصاد في الناتج المحلي الإجمالي؛ لكونها تمثل ركيزة أساسية تعزز الاتجاهات المستقبلية للإصلاح
                    الإداري الشامل في الجمهورية اليمنية.</p>
                <h2 class="special-title">حجم القطاع الخاص في الاقتصاد اليمني (2012-2021):</h2>
                <p>لقد أدى القطاع الخاص في الكثير من دول العالم دورًا مهمًا في مسار التنمية الاقتصادية والاجتماعية؛ لأن التنمية
                    في أي بلد لا تقوم على الدور الذي يؤديه القطاع العام فقط، فهناك عملية تشاركية بين ما يقوم به كل من القطاعين
                    في عملية التنمية، ويبرز ذلك في نسبة إسهام القطاع الخاص في الناتج المحلي، ونجد ذلك في كثير من الاقتصادات
                    الليبرالية الحرة التي يغلب عليها القطاع الخاص، وبدأت الكثير من الدول منها معظم الدول النامية تعمل على مشاركة
                    القطاع الخاص في عملية التنمية خلال العقود الأخيرة مقابل تراجع للقطاع العام فيها بشكل ملحوظ، لاسيما في تلك
                    الدول التي بدأت بعملية الخصخصة للقطاع العام ومنها اليمن، حيث يمثل نصيب القطاع الخاص اليمني في الناتج المحلي
                    الإجمالي والناتج المحلي غير النفطي مؤشرًا على حجم القطاع الخاص، فكلما كان هذا المؤشر مرتفعًا دل ذلك على
                    الدور المحوري للقطاع الخاص في عملية النمو الاقتصادي <a href="#1"><span><sup
                                title="الأفندي، محمد أحمد: مناخ الاستثمار في اليمن واثرة على القطاع الخاص المحلي والأجنبي، تقييم تجربة خمسة عشر سنة 1990 – 2005، مدونة الدكتور محمد أحمد الأفندي.. متاح على الرابط: http://2u.pw/CznXOaE">[1]</sup></span></a>،
                    وأهمية دور القطاع الخاص في الحياة الاقتصادية.</p>
        
                <p>تشير الإحصاءات في الجدول (1) إلى أن نصيب القطاع الخاص في الناتج المحلي الإجمالي بلغ 56.9% لعام 2012 وارتفعت
                    هذه النسبة إلى 68.8% عام 2021، وهذا يشير إلى أن القطاع الخاص يسهم بثلثي الاقتصاد اليمني.</p>
                <p>أما نصيب القطاع الخاص في الناتج المحلي غير النفطي، فقد بلغت نحو 73.1% لعام 2012، وارتفعت هذه النسبة لعام 2021
                    إلى نحو 76.0% وهي نسبة تشير إلى أن القطاع الخاص يمثل ثلاثة ارباع الاقتصاد غير النفطي وتدل على الأهمية التي
                    يحتلها في الاقتصاد اليمني والدور الذي جعل منه محورًا أساسيًا في الاقتصاد الوطني. </p>
                <img src="{% static 'imgs/gd.png' %}" alt="" class="my-g">
                <p>كما أن القطاع الخاص في الوقت الحاضر يشكل 68.8% من الاقتصاد اليمني وحوالي 76% من الاقتصاد غير النفطي وهذا
                    الوضع يظهر أن العديد من الاهداف في عملية الإصلاح الإداري الشامل في اليمن يمكن تحقيقها عن طريق القطاع الخاص
                    أو عن طريقه؛ لذلك فإن الاهتمام بالمستقبل والاستعداد له يضع أجندة الإصلاح الإداري الشامل على قائمة الأولويات؛
                    الأمر الذي يتطلب رؤية سليمة وإدارة اقتصادية رشيدة للموارد المادية الاقتصادية والبشـرية، وسياسات اقتصادية
                    داعمة للنمو الاقتصادي عن طريق زيادة إشراك القطاع الخاص في أعمال الإصلاح الإداري الشامل في الجمهورية اليمنية،
                    وبما يسهم في تطوير وإصلاح منظومة البيئة الإدارية والمؤسسية والتشـريعية وتطبيق قواعد الحكم الرشيد لتوفير
                    أجواء ملائمة وآمنه للقطاع الخاص؛ من أجل مساعدته على النمو والاستثمار وخلق فرص عمل مدرة للدخول.</p>
                <h2 class="special-title">دور القطاع الخاص في تكوين الناتج المحلي الإجمالي GDP اليمني (2012-2021): </h2>
                <p>يمارس القطاع الخاص وظائف أساسية في الاقتصاد اليمني، حيث يؤدي القطاع الخاص دورًا بارزًا في تكوين القيمة
                    المضافة للناتج المحلي الإجمالي، والحد من تزايد الانكماش الاقتصادي أثناء الازمات والحرب <a
                        href="#2"><span><sup
                                title="الطيري، نبيل محمد: دور القطاع الخاص ومساهمته الاقتصادية والاجتماعية والإنسانية في اليمن، المرصد الاقتصادي للدراسات والاستشارات، الغرفة التجارية الصناعية بأمانه العاصمة، يوليو 2018.">[2]</sup></span></a>،
                    وخلال المدة
                    2012-2021م، بلغ متوسط الانكماش الحقيقي للناتج الإجمالي للقطاع الخاص -4.7% مقارنة بحوالي -9.0% للناتج
                    الإجمالي للقطاع العام، الأمر الذي أسهم في الحد من انكماش الناتج المحلي الإجمالي الحقيقي بمتوسط بلغ نحو -6.5%
                    خلال نفس المدة. والجدول (2) يوضح ذلك.</p>
                <img src="{% static 'imgs/gd2.png' %}" alt="" class="g3">
                <p>يلاحظ مما سبق عرضه للوضع الراهن للقطاع الخاص أن التطورات المستقبلية تلقي بمسؤوليات جسام على عاتق القطاع الخاص
                    والحكومة وبأهمية الدور الذي يمكن أن يلعبه القطاع الخاص في التنمية الاقتصادية وفي الإصلاح الإداري الشامل.</p>
                <h2>‌ب- تحليل الوضع الراهن للبناء الهيكلي للقطاع الخاص في اليمن: </h2>
                <p>القطاع الخاص في اليمن لا يتكون من شريحة واحدة فقط، وإنما من عدد من الشرائح التي قد تختلف في طبيعة أعضائها
                    وعملهم، ونطاقات استثماراتهم، وعلاقاتهم مع بعضهم بعض ونوعية الهيئات المنظمة لعملهم وعلاقتهم مع الحكومة ومع
                    المنظمات المدنية ومع المانحين الخارجيين؛ لذا من المهم وضع تقسيم أولي لهذا القطاع لكونه يساعد مستقبلًا في
                    تتبع عناصره وملاحظة مدى اتساق أعماله وانسجامها في قنوات منظمة مما يعزز من القطاع الخاص في نطاق العمل أو
                    التعاون أو الشـراكة مع القطاع العام، ويوسع من دوره المستقبلي في مرحلة ما بعد الحرب، كما أنه من المهم عدم
                    إهمال شرائح عديدة يمكن أن تصنف ضمن مفهوم القطاع الخاص غير المنظم حتى لا يؤثر ذلك بشكل سلبي في عمل القطاع
                    ككل، وفي إطار التوجهات المستقبلية في الإصلاح الإداري الشامل في الجمهورية اليمنية، وصياغة وتنفيذ السياسات
                    اللازمة لتنظيم القطاع الخاص والإصلاح الإداري. </p>
                <h2 class="special-title">1- هيكل ومكونات القطاع الخاص في اليمن: </h2>
                <p>يمكن تقسيم هيكل ومكونات القطاع الخاص في اليمن إلى قسمين: القطاع الخاص المنظم، والقطاع الخاص غير المنظم. </p>
                <h2 class="special-title2">القطاع الخاص المنظم في اليمن: </h2>
                <p>القطاع الخاص المنظم يمثل رجال الأعمال البارزون داخل اليمن عبر مؤسساتهم وشركاتهم المختلفة في القطاعات
                    الاقتصادية، حيث تربطهم علاقات مع السلطة عبر هيئاتهم التنظيمية، ومن أبرز هذه الجهات:</p>
                <h2 class="special-title2">الاتحاد العام للغرف التجارية والصناعية:</h2>
                <p>توجب المادة (13/أ) من القانون رقم (28) لسنة 2003م بشـأن الغرف التجارية والصناعية واتحادها العام على كل من
                    يزاول العمل التجاري أو الصناعي وحاصل على السجل التجاري والصناعي أن يشترك في الغرفة التي يقع في دائرتها مقره
                    الرئيس، وفي حالة أن يكون للتاجر أو الشـركات أو المؤسسات التجارية أو الصناعية فروعًا في دوائر غرف أخرى، فإنه
                    على تلك الفروع الاشتراك في الغرفة التي يقع في دائرتها، ولا يمنح بطاقة العضوية إلا بعد حصوله على السجل
                    التجاري والصناعي.</p>
                <p>ويمارس الاتحاد العام للغرف التجارية والصناعية اليمنية المهام والاختصاصات والوظائف بموجب قانون رقم 18 لعام
                    1999م بشأن الغرف التجارية واتحادها العام، والمعدل بقانون الاتحاد العام للغرف التجارية الصناعية اليمنية رقم
                    (38) لعام 2003م. وتحدد المادة (43) من هذا القانون أن الاتحاد يتمتع بشخصية اعتبارية وذمه مالية مستقلة تخوله
                    ممارسة التصـرفات القانونية والتقاضي أمام المحاكم. ويتكون الاتحاد من جميع الغرف التجارية والصناعية المنشأة في
                    الجمهورية. وللاتحاد فروع في المحافظات اليمنية تصل إلى 21غرفة تجارية صناعية.</p>
                <h2 class="special-title2">نادي الأعمال اليمنيين:</h2>
                <p>نادي رجال الأعمال اليمنيين الذي تأسس في عام 2002م من نخبة من رجال الأعمال اليمنيين وتوسع ليشمل سيدات الأعمال
                    اليمنيات، وعلى الرغم من كون أهدافه المعلنة هي تأسيس هيئة تنظيمية للقطاع الخاص قادرة على الارتقاء بالكفاءة
                    المهنية لأعضائه وتبادل الخبرات بينهم، إلا أنه أصبح يستخدم كإحدى الآليات بالنسبة لرجال وسيدات الأعمال لتمثيل
                    أنفسهم بشكل رسمي والتعامل مع الهيئات الخارجية الدولية، إضافة إلى ذلك فقد كان لبعض المنظمات الدولية دورًا
                    مباشرًا في محاولة تعزيز دور القطاع الخاص من ضمنها (CIPE) مركز المشـروعات الدولية الخاصة الذي مهد منذ 2009م
                    لتعزيز دور القطاع الخاص اليمني. </p>
                <p>أهداف ومهام واختصاصات النادي: يعمل النادي بالعمل على تحقيق الأهداف الآتية: تعزيز الروابط بين الأعضاء.
                    الارتقاء بالكفاءة المهنية للأعضاء والإسهام في تطوير أداء مؤسساتهم. تبادل الخبرات المهنية والمنافع المشتركة
                    بين الأعضاء، تعزيز التواصل والتعاون مع المنظمات داخليًا وخارجيًا بما يحقق أهداف النادي، الإسهام في تطوير
                    بيئة الأعمال، الإسهام في تنمية المجتمع<a href="#3"><span><sup
                                title="موقع نادي الأعمال اليمنيين، 3 أغسطس 2023، متاح على الربط: https://www.ybc-yemen.net/ar/about/organizational-structure">[3]</sup></span></a>.
                </p>
                <p>وعلى الرغم من الانتقادات الموجهة لهذه الغرف التجارية من كونها تقع تحت سيطرة نخبة محددة من رجال الأعمال
                    اليمنيين الذين أضحوا يتوارثون مقاعد الرئاسة في تلك الغرف لتصبح حكرًا عليهم وتنعكس على الإضعاف من أداء تلك
                    الغرف على المستوى العام، إلا أن هناك من يرى أن دورها كان فعالًا خلال العقود الماضية في حماية مصالح رجال
                    الأعمال في المحافظات المختلفة خصوصًا في ظل غياب أو ضعف التشـريعات القانونية وعناصر الحوكمة الرشيدة التي تدعم
                    الجوانب القانونية لعمل القطاع، كما أنها ظلت منبرًا لعرض وجهات نظرهم بشأن الوضع الاقتصادي في البلاد وإنشاء
                    شبكة علاقات مع بعضهم بعض ومع منظمات غير حكومية محلية وخارجية أبرزت دور القطاع الخاص اليمني<a
                        href="#4"><span><sup
                                title="دور القطاع الخاص في اقتصاد ما بعد الحرب في اليمن، مركز دبي لبحوث السياسات العامة، 2017.">[4]</sup></span></a>.
                </p>
                <h2 class="special-title">القطاع الخاص غير المنظم في اليمن: </h2>
                <p>القطاع الخاص غير الرسمي قطاع يتألف من وحدات تشتغل في إنتاج سلع أو خدمات هدفها الأساسي توفير العمل والدخل
                    للأشخاص المعنيين، وهذه الوحدات تشتغل عادةً عند مستوى منخفض من التنظيم وينعدم فيها أو يكاد التقسيم بين العمل
                    ورأس المال كعوامل إنتاج ونطاق عملها صغير. وتتأسس علاقات العمل - إن وجدت - في الغالب على التشغيل غير الرسمي
                    أو القرابة أو العلاقات الشخصية بدرجة أكبر من الترتيبات التعاقدية التي تتضمن ضمانات رسمية<a
                        href="#5"><span><sup
                                title="قرار بشأن قياس العمالة في القطاع غير الرسمي الذي تبناه المؤتمر الدولي الـ15 لإحصاءات سوق العمل، منظمة العمل الدولية، جنيف، 1993م.">[5]</sup></span></a>.
                </p>
                <p>ويسعى الكثير من الأشخاص الذين لم يتمكنوا من الحصول على عمل لائق وبدخل كافٍ إلى كسب العيش عن طريق العمل
                    الذاتي، أو كموظفين في القطاع غير الرسمي<a href="#6"><span><sup
                                title="مسح 
                    القوى العاملة 2013-2014 تعرف عمالة القطاع غير الرسمي أنها تشمل جميع الأشخاص في سن (15) سنة فأكبر ممن عملوا في وحدات صغيرة الحجم (أقل من 10 عمال) باستبعاد الأشخاص المنخرطين في 'منشآت' مشاريع كبيرة أو وحدة حكومية أو أنشطة أسر خاصة كأرباب عمل لموظفين محليين. في سياق مسح القوى العاملة (2013- 2014) يشمل التعريف العملي للعمالة غير الرسمية الأشخاص كافة من سن (15) سنة فأكبر، الذين يعملون مساهمين في أسرهم، أو أرباب عمل أو عمال لحسابهم الخاص في وحدة غير رسمية، أو موظفًا ليس له حماية اجتماعية، أو إجازة مرضية مدفوعة أو إجازة سنوية مدفوعة الأجر.">[6]</sup></span></a>.
                </p>
                <p>ويمثل القطاع الخاص غير الرسمي صغار التجار والمزارعين والصيادين، حيث عادة ما حاولوا أن يؤدوا دور المنظم الذاتي
                    لأعمالهم؛ ما أعاقهم عن إقامة علاقات تجارية عريضة مع أطراف تجارية مختلفة كما منعهم من الحصول على العديد من
                    الامتيازات التي حصد معظمها رجال الأعمال الرسميين. وبعضهم حاول تمثيل نفسه عن طريق الاتحادات النقابية، ولكن
                    تفتقد تلك الاتحادات للقدرات والإمكانات لرعاية مصالحهم بشكل سليم خصوصا وأنها محتكرة هي الأخرى من قبل رموز
                    السلطة؛ ما أسهم في انتشار الفساد المالي والإداري فيها <a href="#7"><span><sup
                                title="دور القطاع الخاص في اقتصاد ما بعد الحرب، مرجع سابق.">[7]</sup></span></a>، ويقدر مسح
                    القوى
                    العاملة 2013/2014 أن نسبة العاملين
                    في القطاع غير المنظم بلغت 81% من السكان العاملين، (81% للذكور، و 83% للإناث، و 91% للشباب). </p>
                <img src="{% static 'imgs/gd3.png' %}" alt="" class="g5">
                <p>وفي الواقع فإن هذه الصبغة غير النظامية للقطاع الخاص في الاقتصاد اليمني تعد من التحديات المزمنة للإصلاحات
                    الإدارية في اليمن، فقد ارتفع حجم القطاع غير المنظم من 35% عام 1996م<a href="#8"><span><sup
                                title="الخطة الخمسية الاولى للتنمية الاقتصادية والاجتماعية 2000-2006، وزارة التخطيط والتنمية، صنعاء، 2000، ص76.">[8]</sup></span></a>
                    إلى 65% عام 1999م <a href="#9"><span><sup
                                title="الاستراتيجية الوطنية للتخفيف من الفقر 2003-2005، وزارة التخطيط والتنمية، صنعاء، 2003.">[9]</sup></span></a>،
                    ثم إلى 81% عام
        
                    2014. </p>
                <p>وفي إطار التوجهات إلى تطوير رؤية مستقبلية للإصلاح الإداري الشامل في الجمهورية اليمنية، ينبغي العمل على
                    إصلاحات إدارية شاملة تعمل على تسهيل الانتقال من الاقتصاد غير المنظم إلى الاقتصاد المنظم، الذي يستلزم حلولًا
                    وتدخلات ناجعة لتسهيل الانتقال إلى التنمية المؤدية إلى نمو الاقتصاد. </p>
                <p>حيث تنطوي على تكلفة مرتفعة ومخاطر عالية لكل من الشـركات والحكومة، وكذلك العمال أنفسهم. وعمومًا كلما كبر حجم
                    الاقتصاد غير النظامي انخفض نصيب الفرد من إجمالي الناتج المحلي وزاد من استمرار معدلات الفقر المرتفعة، كما
                    ينطوي الاقتصاد غير النظامي الكبير على حقيقة أن الأعباء الضـريبية الثقيلة سيتحملها القطاع النظامي الصغير الذي
                    يجد نفسه معاقبًا لأنه كذلك، وغالبًا تزداد مخاطر الضعف والانكشاف للعاملين في القطاع غير النظامي الذين يعملون
                    في غياب عقود مكتوبة أو تقاعد أو تأمين صحي، كما أن موقعهم التفاوضي محدود، وكذلك الحال بالنسبة لفرصهم في
                    الانتقال إلى مواقع وظيفية أعلى، وأخيرًا تمثل مسألة الحوكمة في سوق العمل من حيث رقابة الحكومة وإشرافها على
                    تطبيق القوانين واللوائح تحديًا لهذا الوضع.</p>
                <p>وقد فرضت ظروف الحرب الأخيرة على العديد من التجار واقعًا آخر دفعهم إلى محاولة إخراج أموالهم من داخل اليمن
                    والبدء باستثمارات خارجية في عدد من الدول، وبالرغم من الصعوبات التي واجهته، إلا أنه تمكن من تشغيل الشباب
                    اليمني في بلاد المهجر وخفف من معاناتهم؛ لهذا تميز المهاجر اليمني عن غيره من المهاجرين في كونه لم يعان كبقية
                    المهاجرين من بلدان أخرى مثل سوريا والعراق والسودان، ولكن تظل هجرة القطاع الخاص اليمني من ضمن التحديات التي
                    تواجه الدولة في الوقت الحالي <a href="#10"><span><sup
                                title="دور القطاع الخاص في اقتصاد ما بعد الحرب في اليمن، مرجع سابق.">[10]</sup></span></a>، لكن
                    بعد
                    انتهاء الصـراع والحرب في اليمن ودخول اليمن في مرحلة التعافي
                    الاقتصادي وإعادة الإعمار، سيكون لمثل هؤلاء التجار إسهام في الاقتصاد الوطني وتنميته عند عودتهم حاملين الخبرة
                    ورأس المال إلى داخل وطنهم. </p>
                <p>كما اكتسبت تحويلات المغتربين أهمية متزايدة في اليمن، وأصبحت تمثل أكبر مصادر النقد الأجنبي وأحد المصادر المهمة
                    للدخل، فضلا عن دورها في تمويل التنمية، حيث تشير إحصاءات الحسابات القومية الصادرة عن الجهاز المركزي للإحصاء
                    لعام 2021 إلى أن تحويلات المغتربين ارتفعت من 1216 مليار ريال عام 2017 إلى 1413 مليار ريال عام 2018 لتصل إلى
                    1540 مليار ريال عام 2021، وهذا يعني أن النقد الاجنبي من تحويلات المغتربين يغطي أكثر من نصف قيمة الواردات؛ ما
                    يشير إلى أهمية رفع كفاءة استغلال تحويلات المغتربين في التنمية، وهو الأمر الذي يمثل أحد أبرز الفرص الخارجية
                    التي يمكن الاستفادة منها في توفير رأس المال؛ من أجل تعزيز مجالات الاستثمار والأنشطة الاقتصادية والإنتاجية.
                    إن الإصلاحات الإدارية الشاملة يمكن أن تقدم مكاسب في عودة رأسمال اليمني المهاجر.</p>
                <h2 class="special-title2">القوانين واللوائح ونظم العمل المرتبطة بالقطاع الخاص: </h2>
                <p>إيمانًا بأهمية الدور الاقتصادي والتنموي للقطاع الخاص في اليمن كانت التوجهات للسياسات العامة للدولة ترتكز على
                    أساس قطاع خاص يمارس الأنشطة الاقتصادية كافة.</p>
                <p><span class="spe-span">الدستور:</span> نصت المادة (7) من الدستور على أن (يقوم الاقتصاد الوطني على أساس حرية
                    النشاط الاقتصادي بما يحقق مصلحة
                    الفرد والمجتمع وبما يعزز الاستقلال الوطني وباعتماد المبادئ الآتية: العدالة الاجتماعية الاسلامية في العلاقات
                    الاقتصادية – التنافس المشـروع بين القطاعات الاقتصادية المختلفة – حماية واحترام الملكية الخاصة)، كما أكدت
                    المادة (10) من الدستور على أن ترعى الدولة حرية التجارة والاستثمار؛ وذلك بما يخدم الاقتصاد الوطني، وأن تصدر
                    التشـريعات الخاصة بحماية المنتجين والمستهلكين وبما يمنع الاحتكار ويشجع رؤوس الأموال الخاصة على الاستثمار.
                </p>
                <p><span class="spe-span">القوانين:</span> القوانين المتعلقة بالنشاط الاقتصادي بما في ذلك تنظيم أعمال القطاع
                    الخاص، وأهم هذه التـشريعات والقوانين ما يلي:</p>
                <ul style="list-style: none;">
                    <li>– قانون رقم 22 لعام 1991م بشأن الاستثمار وتعديلاته بالقانون رقم 15 لسنة 2010.</li>
                    <li>– قانون رقم 34 لعام 1991م بشأن الشـركات التجـارية المعـدل بالقانون رقم 22 لسنة1997 وبالقانون رقم (28)
                        لسنة 2004م.</li>
                    <li>– قانون الجمارك رقم (14) لسنة 1990، المعدل بالقانون رقم (12) لسنة 2010م.</li>
                    <li>– قانون (25) 1991م بشأن التأمينات والمعاشات، المعدل بالقرار الجمهوري (1) 2000م.</li>
                    <li>– قانون رقم (28) لسنة 1991م بشأن المقاييس وأجهزة الوزن والكيل والقياس. </li>
                    <li>– قانون (31) لسنة 1991م بشأن ضرائب الدخل، المعدل بالقانون رقم (17) لسنة 2010م.</li>
                    <li>– القانون رقم (19) لسنة 1999م بشأن تشجيع المنافسة ومنع الاحتكار والغش التجاري.</li>
                    <li>– القانون رقم (23) لسنة 2010م بشأن العلامات التجارية والمؤشرات الجغرافية.</li>
                    <li>– قانون رقم (32) لسنة 1991م بشأن القانون التجاري.</li>
                    <li>– قانون رقم (33) لسنة 1991م بشأن السجل التجاري.</li>
                    <li>– قانون رقم (36) لسنة 1991م بشأن البنوك.</li>
                    <li>– قانون رقم (40) لسنة 1991م بشأن التجارة الخارجية.</li>
                    <li>– قانون رقم (70) لسنة 1991م بشأن الضرائب على الإنتاج والاستهلاك والخدمات.</li>
                    <li>– قانون رقم (36) لسنة 1992م بشأن تنظيم وكالات وفروع الشركات والبيوت الأجنبية.</li>
                    <li>– قانون رقم (37) لسنة 1992م بشأن الإشراف والرقابة على شركات ووسطاء التأمين.</li>
                    <li>– قانون رقم (38) لسنة 1992م بشأن الرقابة على الأغذية وتنظيم تداولها.</li>
                    <li>– قانون رقم (5) لسنة 1995م بشأن قانون العمل.</li>
                </ul>
                <p>كما عملت الدولة على إعادة النظر في بعض التشـريعات الضـريبية والإدارية بحيث تتناسب مع التطورات الاقتصادية
                    والاجتماعية حيث عمدت إلى تعديل بعض القوانين التي كانت تعيق المستثمر وبالأخص قانون الاستثمار قانون الضـرائب
                    على الإنتاج والاستهـلاك والخدمات، وقانون تنظيم وكالات وفروع الشـركات والبيـوت الأجنبيـة، قانون العمل، قانون
                    السجل التجاري؛ وذلك من أجل تسهيل الإجراءات للمستثمرين وتشجيعهم على الاستثمار في اليمن؛ من أجل توفير فرص عمل
                    للشباب العاطل عن العمل، وكذا الإسهام في عملية التنمية. </p>
                <p>وكذلك العمل على تحديد دور الدولة وإعادة بناء وهيكلة الأجهزة الحكومية، واستكمال البناء التشـريعي والتنظيمي
                    للوزارات ومؤسسات وهيئات الدولة التي لم تصدر اللوائح المنظمة لعملها ومراجعة القوانين واللوائح التنظيمية؛ بهدف
                    إزالة التكرار والتداخل والازدواج في المسؤوليات والوظائف...؛ بما من شأنه تسهيل الخدمات والعمليات التي تشجع
                    أنشطة القطاع الخاص، وبالرغم من تلك التسهيلات التي قدمتها الحكومة للقطاع الخاص؛ إلا أنه لا تزال بعض التحديات
                    التي تواجهه مستمرة منها على سبيل المثال محدودية أو عدم توافر الخدمات والبنية الأساسية بصورة كافية في بعض
                    القطاعات مثل الكهرباء والمياه والسياحة، بالإضافة إلى عدم توافر البيئة والمناخ الأمن للاستثمار، وكذا ضعف
                    القدرات التمويلية للاقتصاد، نظرًا لمحدودية وتخلف أسواق رأس المال ومحدودية المدخرات المحلية، وعدم وجود أسواق
                    مالية لتبادل الأوراق المالية، حتى يقوم القطاع الخاص بدوره التنموي في البلاد لا بد من دعمه عن طريق الآتي:</p>
                <ol style="list-style: none;">
                    <li>– تعزيز البيئة الاستثمارية الملائمة.</li>
                    <li>– إزالة التحديات التي تواجه القطاع الخاص بتوفير البيئة والمناخ الآمن ومكافحة التهريب والحد من إغراق
                        الأسواق بالسلع الغير منتجة محليًا.</li>
                    <li>– جذب رؤوس الأموال الأجنبية.</li>
                    <li>– إنشاء سوق للأوراق المالية.</li>
                    <li>– تحفيز القطاع الخاص للاستثمار في القطاعات الواعدة في الصناعات الاستخراجية والسياحة والأسماك وغيرها.
                    </li>
                    <li>– دعم قدرات الاتحاد العام للغرف التجارية ونادي الأعمال عن طريق توفير موارد مالية كافية للنهوض بالقطاع
                        الخاص وتوجيهه بما يحق أهداف التنمية في اليمن.</li>
                    <li>– تعزيز مبدأ الشـراكة بين القطاع الخاص الوطني مع دول الجوار والإقليم؛ من أجل تنمية المشروعات المشتركة
                        للوصل إلى التكامل الاقتصادي معها.</li>
                    <li>– تكوين قاعدة بيانات عن القطاع الخاص وإمكاناته.</li>
                    <li>– إقامة المؤتمرات والمعارض التجارية لترويج السلع المنتجة محليًا.</li>
                    <li>– دعم الصادرات المحلية وتخفيض الرسوم الجمركية المفروضة عليها.</li>
                </ol>
                <p>بعد هذا الاستعراض لواقع القطاع الخاص في اليمن سوف نسلط الضوء فيما يلي على واقع الحكومة الإلكترونية؛ لما له من
                    أهمية في الدفع بالنمو الاقتصادي وتحسين الخدمات للفرد والمجتمع لتعزيز الشمول الاجتماعي والمالي الرقمي.</p>
                <h2>‌ج- القطاع الخاص والحكومة الإلكترونية والشمول الاجتماعي والمالي الرقمي: </h2>
                <p>يرتبط دور القطاع الخاص في التنمية بمدى توافر خدمات متطورة في النظام الإداري للدولة، حيث يمثل تطوير الأداء في
                    مجالات الحكومة الإلكترونية ركيزة أساسية لتعزيز وتسهيل تعاملات القطاع الخاص مع الجهات الحكومية، كما أن الشمول
                    الاجتماعي والمالي الرقمي يمثل عنصـرًا حاسمًا في دعم وتشجيع دور القطاع الخاص في التنمية. </p>
                <p>وقد تزايد الاهتمام العالمي باستراتيجية التحول الرقمي؛ لكونها أحد أهم دوافع ومحفزات النمو الاقتصادي وتحسين
                    رفاهية الفرد والمجتمع، بالإضافة إلى تحسين الجودة وتبسيط الإجراءات وخلق فرص وخدمات جديدة، وتوفير قنوات جديده
                    للارتقاء بكفاءة الأداء إلى مستويات غير مسبوقة، كما أن استراتيجية التحول الرقمي تمثل ركيزة أساسية لتعزيز
                    الشمول المالي <a href="#11"><span><sup
                                title="الطيري، نبيل محمد: استراتيجية التحول الرقمي في اليمن: الأهمية - التحديات - الفرص المتاحة، ورقة عمل مقدمة للمؤتمر الأول للتحول الرقمي في اليمن. صنعاء - أكتوبر 2022. ">[11]</sup></span></a>،
                    ووفقًا لدراسة الأمم المتحدة حول الحكومة الإلكترونية لعام 2022، الصادرة في 29 سبتمبر 2022
                    هناك 155 دولة من أصل 193 دولة لديها حاليًا استراتيجية للتحول الرقمي، وهذا يعني أن 80% من الدول الاعضاء في
                    الامم المتحدة لديها استراتيجية للتحول الرقمي، وهو ما يشكل ركيزة أساسية للإصلاح الإداري الشامل في اليمن
                    وتعزيز دور القطاع الخاص في عملية التنمية.</p>
                <h2 class="special-title">التحول الرقمي والحكومة الإلكترونية والقطاع الخاص في اليمن: </h2>
                <p>تؤدي الاتصالات وتقنية المعلومات دور مهمّ في النمو الاقتصادي وتعزيز دور القطاع الخاص في النمو الاقتصادي، خصوصا
                    وأن القطاع الخاص يمثل 68.8% من حجم الاقتصاد الوطني عام 2021، ويلخص الشكل (2) صورة عن واقع التحول الرقمي عن
                    طريق مؤشرات الاتصالات وتكنولوجيا المعلومات في اليمن بالمقارنة مع المتوسط العالمي استنادًا إلى بيانات الاتحاد
                    الدولي للاتصالات.</p>
                <img src="{% static 'imgs/gd4.png' %}" alt="" class="gd1">
                <p>وخلال شهر يوليو عام 2022 أعلنت وزارة الاتصالات وتقنية المعلومات عن الانتقال إلى نظام الجيل الرابع، وكذا
                    التوجهات إلى الجيل الخامس، ويمثل الانتقال إلى الجيل الرابع نقلة نوعية في مجال خدمات شركات الهاتف النقال في
                    اليمن، سواء من حيث السـرعة أم تقديم خدمات النطاق العريض والتقنية الشاملة <a href="#12"><span><sup title="الجيل الرابع والجيل الخامس، موقع وزارة الاتصالات وتقنية المعلومات، 29/8/2022، متاح على الرابط:
                        https://mtit.gov.ye/strategies_info.aspx?NID=4
                       ">[12]</sup></span></a>.</p>
                <h2 class="special-title">اليمن في مؤشر الأمم المتحدة للحكومة الإلكترونية (2014-2022): </h2>
                <p>تعرف الحكومة الإلكترونية على أنها استخدام تكنولوجيا المعلومات والاتصالات لتقديم خدمات حكومية أكثر فاعلية
                    وكفاءة للمواطنين والشـركات، هو تطبيق تكنولوجيا المعلومات والاتصالات في العمليات الحكومية، وتحقيق الغايات
                    العامة بالوسائل الرقمية؛ ما يعني أنه يمثل ركيزة أساسية في الإصلاح الإداري الشامل وتعزيز دور القطاع الخاص
                    اليمني. </p>
                <h2 class="special-title2">اتجاهات وضع اليمن في المؤشرات الفرعية لمؤشر تنمية الحكومة الإلكترونية: </h2>
                <p>يبين الشكل (3) مجموعة مؤشر تنمية الحكومة الإلكترونية في اليمن الذي يمثل متوسط أبعاد الحكومة الإلكترونية
                    الثلاثة، وهي: مؤشر الخدمة عبر الإنترنت، مؤشر البنية التحتية للاتصالات، مؤشر رأس المال البشـري، واستنادًا إلى
                    نتائج مؤشر الأمم المتحدة للحكومة الإلكترونية في تقريري 2020 و 2022م جرت الإشارة إلى أنه في آسيا انتقلت اليمن
                    من المجموعة المنخفضة إلى المجموعة المتوسطة لمؤشر تنمية الحكومة الإلكترونية، حيث تحسنت قيمة مؤشر تنمية
                    الحكومة من 0.22 عام 2018م إلى 0.30 و 0.29 عامي 2020 و2022م ليرتفع مستوى تصنيف اليمن من منخفض إلى متوسط وتحتل
                    المرتبة 173 من 193 عام 2022م مقارنة مع المرتبة 186 في التقرير السابق عام 2018م، وسجلت اليمن مؤشر الخدمة عبر
                    الإنترنت 0.34 و 0.18 في مؤشر البنية التحتية و 0.36 في مؤشر رأس المال البشـري عام 2022م.</p>
                <img src="{% static 'imgs/gd5.png' %}" alt="" class="gd1">
                <p>وهذا يشير إلى أهمية تعزيز مهارات تكنولوجيا المعلومات والاتصالات بالنسبة لتطوير الإصلاحات الإدارية الشاملة
                    واستراتيجية التحول الرقمي في اليمن؛ ما من شأنه تعزيز دور القطاع الخاص.</p>
                <p>كما يدل على أن تطوير الاتصالات وتعزيز التحول الرقمي يكتسب أهمية كبيرة في الإصلاح الإداري الشامل وتطوير البناء
                    المؤسسـي؛ لتحقيق التغيير والتحول المنشود وتعزيز دور القطاع الخاص في عملية التنمية، وعن طريق التحول الرقمي
                    يمكن الانتقال إلى بناء قدرات مؤسسات الدولة وإعادة بناء وهيكلة وترشيد الأجهزة الحكومية، واستكمال البناء
                    التشـريعي والتنظيمي للوزارات ومؤسسات وهيئات الدولة - وبناء القدرات البشـرية وتنمية المهارات المهنية والفنية
                    والوظيفية وتطوير الشـراكة مع القطاع الخاص ومؤسسات المجتمع المدني، وفي رفع كفاءة أنظمة المعلومات الإدارية
                    والوظيفية وتقنية المعلومات التي يمكن أن تسهم في تحسين إنتاجية الجهاز الحكومي والموظف العام <a
                        href="#13"><span><sup
                                title="الطيري، نبيل محمد: صناعة تقنية المعلومات والاتصالات في الرؤية الوطنية لبناء الدولة اليمنية الحديثة، ورقة عمل مقدمة للمؤتمر الدولي للاتصالات في جامعة الرازي، صنعاء 1443هـ – 2021.">[13]</sup></span></a>،
                    وهذا من شأنه
                    تعزيز دور القطاع الخاص في النمو الاقتصادي والتنمية في اليمن. </p>
                <h2 class="special-title2">الشمول المالي الرقمي والقطاع الخاص في اليمن:</h2>
                <p>يُعد الشمول المالي أحد الأدوات المهمة لتحقيق البعد الاقتصادي والإداري للتنمية المستدامة عن طريق إمكانية تحقيق
                    التمكين الاقتصادي؛ بما في ذلك تعزيز دور القطاع الخاص في التنمية الاقتصادية؛ إذ يعنى «الشمول المالي» إتاحة
                    جميع المنتجات المالية والخدمات البنكية بحسب احتياجات كل فرد أو مؤسسة، ومن بينها: "حسابات التوفير، الحسابات
                    الجارية، خدمات الدفع والتحويل التأمين التمويل والائتمان <a href="#14"><span><sup
                                title="الطيري، نبيل محمد: الشمول المالي والفرص المتاحة لتحقيق أهداف التنمية المستدامة، ورقة عمل مقدمة إلى ورشة عمل الحماية المالية للمستهلك، صنعاء مارس 2022.">[14]</sup></span></a>،
                    وطبقًا لتقرير الشمول المالي للبنك الدولي 2017م
                    تكشف مجموعة متزايدة من البحوث أن هناك منافع اقتصادية إنمائية وإدارية عديدة يمكن تحقيقها من الشمول المالي،
                    لاسيما من استخدام الخدمات المالية الرقمية بما فيها الخدمات المالية عبر الهواتف المحمولة، وبطاقات الدفع،
                    وغيرها من تطبيقات التكنولوجيا المالية.</p>
                <p>يمتلك اليمن اقتصادًا يعتمد بشكل كبير على النقد، ويعاني من مستويات منخفضة من الشمول المالي الرقمي، وعن طريق
                    أهم مؤشرات الشمول المالي يظهر مؤشر امتلاك الأفراد البالغين (15 سنة فما فوق) لحسابات مصـرفية أن اليمن ماتزال
                    تسجل أدنى المستويات في الشمول المالي حيث يمتلك نحو 6.4% فقط من السكان البالغين حسابات مصـرفية، بما في ذلك
                    حسابات إلكترونية مع مؤسسات مالية، وهي مستويات منخفضة مقارنة بالمستويات المسجلة في الدول العربية، حيث بلغت
                    هذه النسبة في الإمارات 83.2% وفي البحرين 81.9% وفي سلطنة عمان 73.6% وفي الكويت 72.9%، في حين بلغت في لبنان
                    46.9% وفي الأردن 25% وفي فلسطين 24.2% وفي موريتانيا 20.4%. كما هو موضح في الجدول (3).</p>
                <img src="{% static 'imgs/gd6.png' %}" alt="" class="gd2">
                <p>وماتزال المرأة اليمنية تعاني من تدني واضح في التعاملات المصـرفية والمالية، حيث تنخفض النسبة إلى 1.7% للنساء
                    اليمن مقارنة بـ 11.4% للذكور، والنساء اللاتي يمتلكن حسابات مصـرفية في اليمن 1.7% أدنى نسبة في الدول العربية
                    مقارنة بـ 66.7% في البحرين، وهذا يعني أن فرص المرأة اليمنية في امتلاك حساب مصـرفي تقل عن المرأة في البحرين
                    بـ 65 نقطة مئوية، ويلاحظ أن نسبة النساء اللاتي يمتلكن حسابات مصـرفية تفوق 60% في دول الخليج، والجزائر 40.1%
                    ولبنان 32.9% والمغرب 26.7% وتونس 20.5%. ينبغي تعزيز الشمول المالي في اليمن بتمكين المرأة ماليًا بما يساعد
                    تعزيز دور المرأة في الجانب الاقتصادي وسيدات الأعمال من القطاع الخاص في التنمية والنشاط الاقتصادي.</p>
                <p>واستنادًا إلى واقع مؤشر الشمول المالي لا تزال اليمن ضمن أدنى المستويات في العالم فيما يخص الشمول المالي، حيث
                    احتلت اليمن المرتبة 170 عالميًا والمرتبة 15 عربيًا <a href="#15"><span><sup
                                title="Strategies For Enhancing Financial Inclusion In The Arab Countries - A Study Of Some Arab Experiences -. Revue Algérienne d’Economie et gestion Vol. 15, N°:  01 ,2021.">[15]</sup></span></a>،
                    ومع ذلك فإن هناك حاجة لتعزيز الشمول المالي وتحسين
                    الوصول للخدمات المالية، وتتعاظم هذه الحاجة لدى اليمن كونها من الدول الأقل دخلًا، ومن ثَمَّ يمكن أن يسهم
                    تحسين الشمول المالي، من نتائج إيجابية على مستوى التنمية الاقتصادية والاجتماعية ومكافحة الفقر، ويشكل عاملًا
                    أساسيًا في تخفيف الصدمات الاقتصادية <a href="#16"><span><sup
                                title="World Bank Group, Aiding the digital revolution in global financial inclusion. JULY 12, 2022.  https://blogs.worldbank.org/voices/aiding-digital-revolution-global-financial-inclusion">[16]</sup></span></a>.
                </p>
                <p>ومن حيث مؤشر الاقتراض من المؤسسات المالية الرسمية تأتي اليمن في المرتبة الأخيرة، وأن نسبة المقترضين من مؤسسة
                    مالية رسمية أو عبر بطاقة ائتمان في اليمن منخفضة جدًا عند أقل من (1%) مقارنة مع لبنان (23%) والأردن (18%)
                    وموريتانيا (9%) وفلسطين (7%) والعراق (3%) والسودان (4%) بالإضافة إلى دول المغرب العربي مثل تونس (12%) وفي
                    دول الخليج مثل الإمارات (46%) والبحرين (36%) <a href="#17"><span><sup
                                title="Strategies For Enhancing Financial, Op: Cit.">[17]</sup></span></a> ما يؤكد مرة أخرى
                    اعتماد
                    الاقتصاد اليمني بشكل كبير على النقد
                    ويعاني من مستويات منخفضة من الشمول المالي الرقمي.</p>
                <p>وتظهر هذه المؤشرات أن هناك حاجة ملحة وماسة لتعزيز الشمول المالي الرقمي، وتحسين وصول القطاع الخاص للخدمات
                    المالية، حيث تتعاظم هذه الحاجة الملحة لدى اليمن التي تمثل أقل الدول دخلًا والأكثر سكانًا بالنظر إلى ما يمكن
                    أن يسهم به تحسين الشمول المالي من نتائج ايجابية لديها على مستوى التنمية الاقتصادية ومكافحة الفقر، حيث يؤكد
                    اتحاد المصارف العربية على أن الشمول المالي يعد شرطًا أساسيًا لمواجهة تحديات الفقر والبطالة، ما يجعل الحاجة
                    ملحة لتوسيع نطاق الشمول المالي، وتقديم القروض والدعم بشكل أكثر فاعلية للمشـروعات الصغيرة والمتوسطة؛ نظرًا
                    لدورها المهم في التنمية وخلق فرص العمل<a href="#18"><span><sup
                                title="واقع الشمول المالي في العالم العربي، موقع اتحاد المصارف العربية، الدراسات والبحوث، العدد427، متاح على الرابط:  https://2u.pw/bNxNqRO">[18]</sup></span></a>.
                </p>
                <p>ومن ثَمَّ يعد الشمول المالي الرقمي ركيزة أساسية لتعزيز دور التنموي للقطاع الخاص والإصلاحات الإدارية الشاملة
                    في اليمن، كما يعد من ركائز تحقيق التنمية المستدامة، فإنشار الخدمات المالية والمصـرفية الرقمية ووصولها لمختلف
                    فئات المجتمع والقطاع الخاص بما في ذلك أصحاب الدخول المتدنية ومحدودي الدخل، سيسهم في تحفيف الفقر والجوع،
                    والحد من البطالة بتوفير فرص العمل، وتمويل المشـروعات الصغيرة والمتوسطة، وتعزيز العدالة الاجتماعية، وتعميم
                    الرعاية الصحية والتعليم، وتحقيق الرفاهية، مما ينتج عنه في النهاية تحقيق التنمية المستدامة؛ لذلك تعد عملية
                    تنمية القطاع الخاص من الأمور الحتمية لتعزيز الإصلاحات الإدارية الشاملة.</p>
                <h2 class="special-title2">تحديات الحكومة الإلكترونية والشمول المالي الرقمي والقطاع الخاص في اليمن: </h2>
                <p>ارتباطًا بما تم الإشارة إليه بشأن مؤشرات الحكومة الإلكترونية وواقع التحول الرقمي والشمول المالي الرقمي في
                    اليمن، والتعرف على تحديات الواقع والتحولات التي يتطلب التعامل معها، من أجل تعزيز دور القطاع الخاص في التنمية
                    في اليمن. ومواكبة التوجهات لتطوير وتعزيز الإصلاحات الإدارية الشاملة واحتياجات النهوض الداخلي لتتوافق مع
                    التحولات العالمية ومتطلباتها. ومع ذلك يواجه تطوير التحول الرقمي وتعزيز الشمول المالي جملة من التحديات
                    العديدة والمعقدة أبرزها:</p>
                <ul>
                    <li>تحديات التحوّل لممارسات الحكومة الرقمية والأتمتة الإلكترونية والربط الشبكي في كل من جوانب أنظمة العمل
                        والهياكل المؤسسية، لتقديم الخدمات الحكومية المقدمة للقطاع الخاص والمجتمع، ومن ثَمَّ فإن ذلك يتطلب
                        الاهتمام بإصلاح إداري كامل في الاستراتيجية الحكومية ومستهدفاتها. وكذلك التحديات المرتبطة بتطوير خدمات
                        الحكومة الرقمية فيما يتعلق بمجال الخدمة وتقديمها والحصول عليها<a href="#19"><span><sup
                                    title="الخطة المرحلية الأولى لتنفيذ الرؤية الوطنية لبناء الدولة اليمنية الحديثة- الصمود والانعاش الاقتصادي 2019-2020، رئاسة الوزراء بالجمهورية اليمنية، المكتب التنفيذي لإدارة الرؤية الوطنية، 2019.">[19]</sup></span></a>.
                    </li>
                    <li>تحديات المحفِّزات والعوامل المشجِّعة الأساسية في سياق استراتيجية التحول الرقمي التي تمثل مجموعة من: (1)
                        الأسباب التي تُحفّز الأفراد والمؤسسات لاستخدام تكنولوجيات أو منصات أو نماذج خدمات رقمية محددة (عوامل
                        الدفع) و(2) الأسباب التي قد تجذبهم إلى تحولات رقمية محددة (عوامل الجذب) و(3) التوعية والتثقيف بأهمية
                        التحول الرقمي<a href="#20"><span><sup
                                    title="الحكومة الرقمية- مفاهيم وممارسات، المنظمة العربية للتنمية الإدارية - جامعة الدول العربية، القاهرة، 2021.">[20]</sup></span></a>.
                    </li>
                    <li>تحديات توسيع نطاق الخدمات المالية والمصـرفية والتكنولوجيا المالية الموجه للقطاع الخاص والمشـروعات
                        الصغيرة والأصغر يُعد من أبرز التحديات، حيث إنَّ غالبية المنشآت الصغيرة في اليمن يعيشون ويعملون في نطاق
                        ما يعرف بالاقتصاد غير المنظم، ولا يمتلكون حساب ادخار أو بطاقة ائتمان، ويعتمدون على الطرق النقدية لإدارة
                        الأموال. </li>
                    <li>البنية التحتية الرقمية<a href="#21"><span><sup
                                    title="التحول الرقمي، جريدة الاتصالات، وزارة الاتصالات وتقنية المعلومات، نوفمبر / تشرين الثاني 2021، العدد العاشر، السنة الثالثة.">[21]</sup></span></a>:
                        هي من التحديات التمكينية الرئيسة في استراتيجية التحول الرقمي ومنها: (1)
                        البنية التحتية المشتركة (البوابة الوطنية للمصادقة الرقمية، الهوية الرقمية، الحوسبة السحابية) و(2) منظومة
                        الحلول التكنولوجية و(3) توافر الموارد البشـرية الماهرة<a href="#22"><span><sup
                                    title="معوقات التحول الرقمي، موقع وزارة الاتصالات وتقنية المعلومات، مايو 2022. https://2u.pw/i0KUZSd">[22]</sup></span></a>
                        و(4) تحفيز الابتكار التنظيمي والإداري وسمات
                        منتجات الخدمات والتطوير و(5) الأطر القانونية والتشـريعية والتنظيمية والشفافية والمساءلة والمتابعة
                        والتقييم.</li>
                    <li>التحديات المرتبطة بمنظور الأطراف المعنية – أصحاب المصالح من وجهة نظر وتوقعات المؤسسات الحكومية والقطاع
                        الخاص والمواطنين والمتعاملين، وتعزيز العمل مع الشـركاء الاستراتيجيين وضمان الاستمرارية والدعم
                        التكنولوجي.</li>
                </ul>
                <ol>
                    <li>تحديات تطوير التشـريعات واللوائح في الاتصالات وتقنية المعلومات التي تخدم التحول الرقمي. يُعد تعزيز
                        الثقة في القطـاع المصـرفي اليمني وإعادة هيكلته وتطويره من أكبر التحديات التي تواجه الشمول المالي في
                        اليمن.</li>
                    <li>تحديات توسع الخدمات المالية والمصـرفية في المناطق الريفية لتمكين الغالبية اليمنيين الوصول إلى خدماته.
                    </li>
                    <li>تحديات استكمال تطوير البنية التحتية للقطاع المالي اليمني، والحد من هيمنة النقد عن طريق تحسين وتبسيط
                        المعاملات الإلكترونية بين البنوك وأنظمة الدفع الإلكتروني المحلية، ومن بينها خدمات النقود الإلكترونية
                        وخدمات الأموال عبر الهاتف المحمول<a href="#23"></a>.
                    </li>
                    <li>تحديات زيادة وتوسيع دور الصيرفة الإسلامية لإعطاء دفع للشمول المالي.</li>
                    <li>تحديات معالجة الانقسام المالي والنقدي والمصرفي وسعر الصرف. </li>
                    <li>تحديات غياب سوق للأوراق المالية في اليمن.</li>
        
                </ol>
                <p>ما يعكس الحاجة الملحة إلى وجود رؤية مستقبلية للإصلاح الإداري الشامل بمشاركة واسعة من الحكومة والقطاع الخاص
                    وشركاء التنمية في اليمن؛ الأمر الذي يسهم في تمكين القطاع الخاص من أداء دوره ويعزز تنمية اقتصادية شاملة، تخفف
                    من حدّة الفوارق بين الأرياف والمدن، وخلق فرص عمل منتجة للشباب.</p>
            </div>
        </div>
        <div class="show-some-studies">
            <h3 class="show-studies-h3">مواضيع مشابهة</h3>
            <a href="{% url 'reformmethodology' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/method1.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>منهجية الإصلاح الإداري</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'comprehensive_reform' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/fanicial.webp' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>تقييم برنامج الإصلاح الاقتصادي والمالي والإداري الشامل في اليمن</h3>

                    </div>
                </div>
            </a>
            <a href="{% url 'evolution_of_public_administration' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/admini.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>تطور الإدارة العامة في إطار حقل القانون الإداري</h3>

                    </div>
                </div>
            </a>
            <a href="{% url 'financial_reform_in_countries' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/gold.webp' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>تجارب بعض الدول في مجال الإصلاح المال</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'malaysia_study' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/maly2.webp' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>تجربة ماليزيا في الإصلاح الإداري</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'future_fo_reforming_administrative_law_in_yemen' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/fix2.webp' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>الرؤية المستقبلية لإصلاح القانون الإداري في اليمن</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'future_of_financial_reform_in_yemen' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/tagarb9.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>رؤية مستقبلية للإصلاح المالي في اليمن</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'role_of_the_private_sector_in_world' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/test.png' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>تجارب عالمية وإقليمية لدور القطاع الخاص</h3>
                    </div>
                </div>
            </a>
            <a href="{% url 'legislative_reform_in_the_world' %}" class="study-item">
                <div class="study-info-show">
                    <div class="image-card">
                        <img src="{% static 'imgs/repair4.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>تجارب عربية وغربية للإصلاح التشريعي</h3>
                    </div>
                </div>
            </a>

            <a href="{% url 'implementing_e-government' %}" class="study-item">
                <div class="study-info-show last-one">
                    <div class="image-card">
                        <img src="{% static 'imgs/egoven.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-some-info">
                        <h3>عوامل نجاح أو فشل تنفيذ الحكومة الإلكترونية</h3>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <h2 class="show-references">إظهار المراجع</h2>
    <div class="refrences">
        <div class="first-ref-info">
            <h2>المراجع</h2>
        </div>
        <ul>
            <li id="1">الأفندي، محمد أحمد: مناخ الاستثمار في اليمن واثرة على القطاع الخاص المحلي والأجنبي، تقييم تجربة خمسة
                عشر سنة 1990 – 2005، مدونة الدكتور محمد أحمد الأفندي.. متاح على الرابط: <a
                    href="http://2u.pw/CznXOaE">http://2u.pw/CznXOaE</a></li>
            <li id="2">الطيري، نبيل محمد: دور القطاع الخاص ومساهمته الاقتصادية والاجتماعية والإنسانية في اليمن، المرصد
                الاقتصادي للدراسات والاستشارات، الغرفة التجارية الصناعية بأمانه العاصمة، يوليو 2018.</li>
            <li id="3">موقع نادي الأعمال اليمنيين، 3 أغسطس 2023، متاح على الربط: <a
                    href="https://www.ybc-yemen.net/ar/about/organizational-structure">https://www.ybc-yemen.net/ar/about/organizational-structure</a>
            </li>
            <li id="4">دور القطاع الخاص في اقتصاد ما بعد الحرب في اليمن، مركز دبي لبحوث السياسات العامة، 2017.</li>
            <li id="5">قرار بشأن قياس العمالة في القطاع غير الرسمي الذي تبناه المؤتمر الدولي الـ15 لإحصاءات سوق العمل، منظمة
                العمل الدولية، جنيف، 1993م.</li>
            <li id="6">مسح القوى العاملة 2013-2014 تعرف عمالة القطاع غير الرسمي أنها تشمل جميع الأشخاص في سن (15) سنة فأكبر
                ممن عملوا في وحدات صغيرة الحجم (أقل من 10 عمال) باستبعاد الأشخاص المنخرطين في "منشآت" مشاريع كبيرة أو وحدة
                حكومية أو أنشطة أسر خاصة كأرباب عمل لموظفين محليين. في سياق مسح القوى العاملة (2013- 2014) يشمل التعريف
                العملي للعمالة غير الرسمية الأشخاص كافة من سن (15) سنة فأكبر، الذين يعملون مساهمين في أسرهم، أو أرباب عمل أو
                عمال لحسابهم الخاص في وحدة غير رسمية، أو موظفًا ليس له حماية اجتماعية، أو إجازة مرضية مدفوعة أو إجازة سنوية
                مدفوعة الأجر.</li>
            <li id="7">دور القطاع الخاص في اقتصاد ما بعد الحرب، مرجع سابق.</li>
            <li id="8">الخطة الخمسية الاولى للتنمية الاقتصادية والاجتماعية 2000-2006، وزارة التخطيط والتنمية، صنعاء، 2000،
                ص76.</li>
            <li id="9">الاستراتيجية الوطنية للتخفيف من الفقر 2003-2005، وزارة التخطيط والتنمية، صنعاء، 2003.</li>
            <li id="10">دور القطاع الخاص في اقتصاد ما بعد الحرب في اليمن، مرجع سابق.</li>
            <li id="11">الطيري، نبيل محمد: استراتيجية التحول الرقمي في اليمن: الأهمية - التحديات - الفرص المتاحة، ورقة عمل
                مقدمة للمؤتمر الأول للتحول الرقمي في اليمن. صنعاء - أكتوبر 2022.</li>
            <li id="12">الجيل الرابع والجيل الخامس، موقع وزارة الاتصالات وتقنية المعلومات، 29/8/2022، متاح على الرابط:
                <a href="https://mtit.gov.ye/strategies_info.aspx?NID=4">https://mtit.gov.ye/strategies_info.aspx?NID=4</a>
            </li>
            <li id="13">الطيري، نبيل محمد: صناعة تقنية المعلومات والاتصالات في الرؤية الوطنية لبناء الدولة اليمنية الحديثة،
                ورقة عمل مقدمة للمؤتمر الدولي للاتصالات في جامعة الرازي، صنعاء 1443هـ – 2021.</li>
            <li id="14">الطيري، نبيل محمد: الشمول المالي والفرص المتاحة لتحقيق أهداف التنمية المستدامة، ورقة عمل مقدمة إلى
                ورشة عمل الحماية المالية للمستهلك، صنعاء مارس 2022. </li>
            <li id="15" class="eng">Strategies For Enhancing Financial Inclusion In The Arab Countries - A Study Of Some
                Arab Experiences -. Revue Algérienne d’Economie et gestion Vol. 15, N°: 01 ,2021.</li>
            <li id="16" class="eng">World Bank Group, Aiding the digital revolution in global financial inclusion. JULY 12,
                2022. <a
                    href="https://blogs.worldbank.org/voices/aiding-digital-revolution-global-financial-inclusion">https://blogs.worldbank.org/voices/aiding-digital-revolution-global-financial-inclusion</a>
            </li>
            <li id="17" class="eng">Strategies For Enhancing Financial, Op: Cit.</li>
            <li id="18">واقع الشمول المالي في العالم العربي، موقع اتحاد المصارف العربية، الدراسات والبحوث، العدد427، متاح
                على الرابط: <a href="https://2u.pw/bNxNqRO">https://2u.pw/bNxNqRO</a></li>
            <li id="19">الخطة المرحلية الأولى لتنفيذ الرؤية الوطنية لبناء الدولة اليمنية الحديثة- الصمود والانعاش الاقتصادي
                2019-2020، رئاسة الوزراء بالجمهورية اليمنية، المكتب التنفيذي لإدارة الرؤية الوطنية، 2019.</li>
            <li id="20">الحكومة الرقمية- مفاهيم وممارسات، المنظمة العربية للتنمية الإدارية - جامعة الدول العربية، القاهرة،
                2021.</li>
            <li id="21">التحول الرقمي، جريدة الاتصالات، وزارة الاتصالات وتقنية المعلومات، نوفمبر / تشرين الثاني 2021، العدد
                العاشر، السنة الثالثة.</li>
            <li id="22">معوقات التحول الرقمي، موقع وزارة الاتصالات وتقنية المعلومات، مايو 2022. <a
                    href="https://2u.pw/i0KUZSd">https://2u.pw/i0KUZSd</a></li>
            <li id="23">تحديات وآفاق النقود الإلكترونية وأنظمة الدفع في اليمن، مركز صنعاء للدراسات الاستراتيجية، الوحدة
                الاقتصادية، 2022. <a href="https: 2u.pw/vhhOcze">https: 2u.pw/vhhOcze</a></li>
        </ul>
    </div>
</div>
{% endblock %}