{% extends 'base.html' %}
{% load static %}
{% block title %}إطلاق دورية حوكمة{% endblock %}
{% block content %}
<div class="container">
    <div class="top-of-study">
        <a href="{% url 'index' %}">المركز التأسيسي</a>/<a href="{% url 'news' %}">الأخبار والفعاليات</a>/<span>إطلاق دورية
            "حوكمة"</span>
    </div>
    <div class="flex-news">
        <div class="first-page news">
            <a href=" #img-id" class="hidden-row"><i class="fa-solid fa-arrow-up-long"></i></a>
            <img src="{% static 'imgs/invite.png' %}" alt="" class="goverance-img" id="img-id">
            <div class="first-page-info">
                <h3>إطلاق دورية "حوكمة"</h3>
                <p>مجلة علمية محكمة تتبع المركز التأسيسي للدراسات والبحوث</p>
            </div>
    
            <div class="full-text">
                <p>يعلن <span class="spe-span">المركز التأسيسي للدراسات والبحوث</span> عن إطلاق الدورية العلمية المحكمة
                    <span class="spe-span">"حوكمة" </span> التابعة
                    للمركز، والتي
                    سيجري إصدارها كل سته أشهر مؤقتًا، وسيقع تحويلها مستقبلًا إلى دورية فصلية بعد تقييم مستوى نجاح التجربة في
                    انتاج دراسات وابحاث نوعية ذات قيمة علمية وعملية تخدم جمهور المجتمع الأكاديمي والبحثي، وكذا الدائرة
                    الأوسع من
                    المعنيين بمجال الدراسات الاجتماعية والإنسانية، بمختلف تخصصاتها (سياسية - اقتصادية – اجتماعية - ثقافية -
                    قانونية - إعلامية – تقنية).
                </p>
                <p>يأتي إطلاق المركز لدورية "حوكمة" في إطار إدراكه بأهمية وضرورة انتاج الدراسات والبحوث والمقالات العلمية
                    الفاعلة في مجالات الحوكمة والتنمية الشاملة والمستدامة على مستوى (قطاعات الدولة ومؤسساتها الرسمية- قطاع
                    الأعمال، القطاع الثالث/ المؤسسات المجتمعية والمجتمع المدني)، وضمن جهود المركز في بلورة هذا الإنتاج
                    البحثي في
                    رؤى واستراتيجيات وطنية قادرة على مواكبة متطلبات التغيير والتطورات العصرية الراهنة من أجل إدارة أفضل
                    لشؤون
                    الدولة والمجتمع.</p>
                <p>وبهذه المناسبة يسر المركز دعوة جمهور الباحثين والأكاديميين للمشاركة بدراساتهم وابحاثهم ومقالاتهم
                    وتقاريرهم
                    العلمية في المواضيع التي سوف تنشر في العدد الأول من الدورية بعد خضوعها للتحكيم والقبول. حيث خصص المركز
                    لهذا
                    العدد جملة من المواضيع المراد تغطيتها في هذه المرحلة، جرى حصرها في أربعة محاور رئيسية على النحو الآتي:
                </p>
                <h2>المحور الأول: البناء التنظيمي للدول وأثره في كفاءة وفاعلية حكوماتها. </h2>
                <p>ويشمل البحث في أحد المواضيع الآتية:</p>
                <ul>
                    <li>الأطر المفاهيمية المعاصرة للبناء والتطوير التنظيمي والنظريات العلمية المعاصرة في مجال تنظيم الإدارة
                        العامة الحديثة. </li>
                    <li>العوامل المؤثرة في البناء التنظيمي للدولة. </li>
                    <li>تجارب عالمية رائدة في مجال البناء التنظيمي الفعال</li>
                    <li>التدخلات التي قامت بها بعض الدول في <span class="spe-span">عنصر أو عنصرين </span> من عناصر البناء
                        التنظيمي الآتية: ((الهياكل
                        التنظيمية- الثقافة التنظيمية- الكوادر الوظيفية- أنما ط الاتصال الفعال - القوانين واللوائح والسياسات
                        التنظيمية – التقنية الرقمية)) أو غير ذلك من العناصر بهدف رفع كفاءة وفاعلية أداء حكومات تلك الدول..
                        مع
                        بيان الدروس المستفادة وإمكانية تطبيقها على الحالة اليمنية.</li>
                </ul>
                <h2>المحور الثاني: إصلاح المنظومة العدليّة (الأمن والقضاء) في الجمهورية اليمنية</h2>
                <p>ويشمل البحث في أحد المواضيع الآتية:</p>
                <ul style="list-style: square;">
                    <li>راهن القطاع الأمني وتأثيره في سير العدالة في اليمن.</li>
                    <li>راهن أجهزة القضاء (النيابة – المحاكم) وانعكاسه على مجرى عدالة القضاء اليمني.</li>
                    <li>واقع ثقة المواطن اليمني بمنظومة العدالة (الأمن والقضاء).</li>
                    <li>حوكمة القطاع الأمني وأثرها في سيادة القانون وتحقيق العدالة في اليمن.</li>
                    <li>إصلاح مؤسسات القضاء (المعضلات، والحلول).</li>
                    <li>توظيف التحول الرقمي في إصلاح المنظومة العدليّة في اليمن (التحديات، والفرص).</li>
                </ul>
                <h2>المحور الثالث: اقتصاد القطاع الثالث (الاقتصاد المجتمعي) ودورة في نهضة الدول</h2>
                <p>ويشمل البحث في أحد المواضيع الآتية:</p>
                <ul>
                    <li>الأطر النظرية والمفاهيمية للاقتصاد المجتمعي.</li>
                    <li>علاقة اقتصاد القطاع الثالث باقتصادات (الحكومة، وقطاع الأعمال) </li>
                    <li>واقع القطاع الثالث والاقتصاد المجتمعي في اليمن.</li>
                    <li>تجارب دولية رائدة في تفعيل الاقتصاد المجتمعي.</li>
                    <li>كيف نخلق اقتصاد مجتمعي تضامني فاعل في اليمن.</li>
    
                </ul>
                <h2>المحور الرابع: العدوان على غزة في ظل القانون الدولي والقانون الدولي الإنساني</h2>
                <p>ويشمل البحث في أحد المواضيع الآتية:</p>
                <ul>
                    <li>موقف القانون الدولي من العدوان الأخير على غزة.</li>
                    <li>مظاهر انتهاك العدوان على غزة للقانون الدولي الإنساني.</li>
                    <li>مبررات الموقف اليمني في نصرة غزة في إطار القانون الدولي والقانون الإنساني الدولي.</li>
                    <li>دعوى جنوب أفريقيا ضد الكيان الصهيوني أمام محكمة العدل الدولية بارتكاب جرائم إبادة جماعية في غزة
                        (الدوافع
                        والنتائج المتوقعة).</li>
                    <li>الدعم الأمريكي والغربي للكيان الصهيوني في عدوانه على غزة وأثره على السلم والأمن الدوليين. </li>
                </ul>
                <h2 class="first-annou">مواضيع متفرقة تم إضافتها لاحقًا</h2>
                <ul>
                    <li>أثر واحدة أو أكثر من الوسائل التالية: (السينما- الدراما التليفزيونية - وسائل التواصل الاجتماعي) على
                        ثقافة وقيم
                        المجتمع.</li>
                    <li>هيئة الزكاة والأوقاف بين الموروث الديني والاجتماعي والدور التنموي.</li>
                    <li>إصلاح نظام الإدارة المحلية بالجمهورية اليمنية.</li>
                </ul>
                <h2 class="first-annou2">ملاحظات عامة:</h2>
                <ul style="list-style: square;">
                    <li> يلزم التقيد بالمعايير والشروط الخاصة بالمركز
                        <a href="https://csr-yemen.com/comments/criteria">(معايير النشر)</a>.
                    </li>
                    <li>يمنح المركز مقابل مادي للأبحاث والدراسات والمقالات والتقارير العلمية المقبولة بعد خضوعها للتحكيم
                        وتنشر
                        في الدورية. </li>
                    <li>يستقبل المركز الخطط والمقترحات البحثية الكترونيًا خلال مدة أسبوعين إلى ثلاثة من تاريخ نشر هذا
                        الإعلان،
                        وبعد إخضاعها للتحكيم وقبولها، يستقبل الأعمال البحثية والمقالات والتقارير العلمية بصورتها النهائية
                        خلال
                        مدة لا تتجاوز 30 يونيو 2024، ويجري الاستقبال بواسطة إيميل المركز <a
                            href="mailto:contact@csr-yemen.com">(contact@csr-yemen.com)</a></li>
                </ul>
    
                
            </div>
        </div>
        <div class="show-studies">
            <h3 class="show-studies-h3">مواضيع مشابهة</h3>
            <a href="{% url 'reformmethodology' %}">
                <div class="study-info">
                    <div class="image-card">
                        <img src="{% static 'imgs/method1.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-info">
                        <h3>منهجية الإصلاح الإداري</h3>
                        <p>المدخل الشمولي: يرتكز هذا المدخل على أساس استخدام النظام المفتوح، الذي يعنى بدراسة الظواهر
                            الإدارية في إطار تفاعلها مع البيئـة المحيطـة، حيث يكون النظر إلى عملية الإصلاح الإداري جزءًا لا
                            يتجزأ مـن الأوضـاع السياسية والاقتصادية والاجتماعية؛ إذ لا يمكن أن يتصور إمكانية تحقيق نجاح كامل
                            لجهود الإصلاح دون أن تكون جزءًا من استراتيجية شاملة للإصـلاح، وأنصار هذا المدخل ينظرون إلى
                            الجهاز الإداري على أنه وحـدة متكاملـة لا يمكـن تجزئته، أو معالجة مشكلاته بأساليب وحلول جزئية،
                            كما أن هذا المدخل لا يقبل أسلوب التدرج أو عملية الترميم الجزئي للجهاز الإداري، وانطلاقًا من
                            فرضية أن الكل يحوي الجزء، وأي إصلاح شامل وكلي يؤدي بالضـرورة إلى تحسين في أوضاع كل أجزائـه</p>
                    </div>
                </div>
            </a>
            <a href="{% url 'comprehensive_reform' %}">
                <div class="study-info">
                    <div class="image-card">
                        <img src="{% static 'imgs/fanicial.webp' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-info">
                        <h3>تقييم برنامج الإصلاح الاقتصادي والمالي والإداري الشامل في اليمن</h3>
                        <p>تقييم برنامج الإصلاح الاقتصادي والمالي والإداري الشامل في اليمن:
                            بعد مرور حوالي 28 عامًا على البدء بتنفيذ برنامج الإصلاح الاقتصادي والمالي والإداري الشامل، يمكن
                            .القول: إنه لم يحقق أهدافه المرجوة، بل ربما أدى إلى آثار عكسية ونتائج سلبية كثيرة
                        </p>
                    </div>
                </div>
            </a>
            <a href="{% url 'evolution_of_public_administration' %}">
                <div class="study-info">
                    <div class="image-card">
                        <img src="{% static 'imgs/admini.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-info">
                        <h3>تطور الإدارة العامة في إطار حقل القانون الإداري</h3>
                        <p>يعد لما يتضمنه من مجموعة القواعد القانونية التي تحكم ممارسة الدولة لوظيفتها الإدارية؛ ولذلك يعرف
                            القانون الإداري بأنه ذلك الفرع من فروع القانون العام الداخلي الذي ينظم نشاط الإدارة العامة بكل
                            مؤسساتها. </p>
                    </div>
                </div>
            </a>
            <a href="{% url 'financial_reform_in_countries' %}">
                <div class="study-info">
                    <div class="image-card">
                        <img src="{% static 'imgs/gold.webp' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-info">
                        <h3>تجارب بعض الدول في مجال الإصلاح المال</h3>
                        <p>لقد برزت العديد من التجارب العربية والإقليمية في مجال الإصلاح المالي، نتطرق إلى التجارب التي يمكن
                            أن تكون متقاربة مع أوضاعنا الاقتصادية اليمنية.</p>
                    </div>
                </div>
            </a>
            <a href="{% url 'implementing_e-government' %}">
                <div class="study-info last-one">
                    <div class="image-card">
                        <img src="{% static 'imgs/egoven.jpg' %}" alt="" class="index-img">
                    </div>
                    <div class="studies-text-info">
                        <h3>عوامل نجاح أو فشل تنفيذ الحكومة الإلكترونية</h3>
                        <p>تلاحظ الحكومات بشكل متزايد فائدة تنفيذ أنظمة الحكومة الإلكترونية، وقد حدث تحول نموذجي، حيث أصبحت
                            الحكومات مهتمة بنفس القدر باستخدام الإنترنت في تنفيذ أنشطتها اليومية، وعلى الرغم من هذا
                            الاهتمام والتصميم والدعم من جانب الحكومة، فقد جرى الإبلاغ عن فشل ونجاح تنفيذ واعتماد الحكومة
                            الإلكترونية في مختلف المجالات الاجتماعية والاقتصادية.</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock %}