{% extends 'base.html' %}
{% block title %}| معايير النشر{% endblock %}

{% block content %}
<div class="container">
    <div class="cretiria">
        <h1>معايير النشر</h1>
        <p>يستقبل المركز التأسيسي للدراسات والبحوث طلبات المشاركة البحثية في المؤتمرات والندوات العلمية التي يقيمها،
            ويعمل على نشر الأبحاث والدراسات المنجزة وفقا لمعايير الكتابة والنّشر المبينة تاليًا:
        </p>
        <div class="one">
            <h3>أولًا: المعايير والشروط الموضوعية:</h3>
            <ul class="first">
                <li>أن يكون البحث أصيلًا، وألّا يكون قد نشر جزئيًا أو كليًا في أيّ وسيلة نشر إلكترونية أو ورقية، أو
                    قدّم في أحد المؤتمرات أو الندوات العلمية، أو إلى أيّ جهة أخرى.
                </li>
                <li>
                    يقدم الباحث طلب المشاركة في إعداد بحث أو دراسة أو مقالة علمية أو تقرير يطلبها المركز عبر الإيميل
                    الرسمي للمركز (scresearchyemen@gmail.com) مع ارفاق سيرة ذاتية(C.V) تبين خبراته البحثية وقائمة بأبحاثه
                    المنشورة وإرفاق عينة الكترونية منها.
                </li>
                <li> يقدم الباحث طلب المشاركة في اعداد بحث أو دراسة يطلبها المركز عبر الإيميل (..@..) مع ارفاق سيرة
                    ذاتية(CV) تبين خبراته البحثية وقائمة بأبحاثه المنشورة وإرفاق عينة الكترونية منها.</li>
                
                <li>كتابة البحث بلغة علمية رصينة خالية من العبارات الإنشائية والصحفية:
                    <ol>
                        <li>تحديد الإشكالية المركزية للبحث بشكل دقيق يتسق مع العنوان الرئيسي، بحيث تثير الإشكالية قضية
                            جوهرية تحتاج إلى معالجة.</li>
                        <li>تجزئة الإشكالية المركزية إلى تساؤلات فرعية، وصياغة عناوين التقسيمات الرئيسية للبحث بصورة
                            تهدف إلى الإجابة عن تلك التساؤلات.</li>
                        <li>تحديد المنهج البحثي المستخدم ومبررات استخدامه وكيف سيتم توظيف المنهج في خدمة البحث.</li>
                    </ol>
                </li>
                <li>ان يعتمد الباحث على التحليل أكثر من الوصف المجرد، وأن يبرز شخصيته وآرائه في ثنايا البحث بموضوعية
                    وتجرد.</li>
                <li>الدقة في استخدام المصطلحات والمفاهيم وعدم خروج النص عن سياق الموضوع الأساسي للبحث.</li>
                <li>حداثة المصادر والمراجع المعتمدة، وتحري الدقة والامانة في النقل والاقتباس.</li>
                <li>تحاشي الاعتماد على المعلومات المتاحة على المواقع والروابط الالكترونية غير المتخصصة وغير المحكمة.
                </li>
                <li>أن يحتوي البحث في صورته النهائية العناصر الآتية:
                    <ol>
                        <li>عنوان البحث، وتعريف موجز بالباحث والمؤسسة التي ينتمي إليها.</li>
                        <li>ملخّص تنفيذي في حدود (100-150 كلمة)، يتضمن فرضيات البحث، وإشكاليته الرئيسة، والطرق المستخدمة
                            في بحثها، والنتائج التي توصّل إليها، بجمل قصيرة ودقيقة وواضحة.</li>
                        <li>كلمات مفتاحية للموضوع (3-6) كلمات.</li>
                        <li>مراجعة نقدية لما نُشر سابقًا عن الموضوع، مع الإشارة إلى أحدث ما صدر في مجاله، وتحديد فرضيته
                            أو أطروحته.</li>
                        <li>- وضع إطار مفاهيمي، ووصف منهجية البحث، وتحليل للنتائج يقدم إجابة واضحة للسؤال الإشكالي الذي
                            طرح في بداية البحث، وخاتمة تتضمن استنتاجات وخلاصات محددة. </li>
                        <li>- قائمة المصادر والمراجع التي اعتمد عليها البحث في نهايته.</li>
                    </ol>
                </li>
                <li>في حال وجود مخططات أو أشكال أو معادلات أو رسوم بيانية أو جداول، ينبغي إرسالها بالطريقة التي
                    اشتغلت بها في الأصل بحسب برنامجَي إكسل (Excel) أو وورد (Word)، كما يجب إرفاقها بنوعية جيدة كصور
                    أصلية في ملف مستقل أيضًا.</li>
            </ul>
            <h3>ثانيًا: المعايير والشروط الشكلية:</h3>
            <ul class="two">
                <li>كتابة نص البحث/ الدراسة بصيغة (WORD) على ورق حجم (A4)، يحسب المواصفات الموضحة فيما يلي:
                    <ol>
                        <li>نوع الخط: (Calibri) بالنسبة للكتب و (Adobe Arabic) بالنسبة لدورية "حوكمة".</li>
                        <li>حجم الخط: بالنسية للكتب (14) بالنسبة للمتن و (12) للهوامش و (16) غامق للعناوين الرئيسية و (15)
                            غامق
                            للعناوين الفرعية.</li>
                        <li> المسافة بين الأسطر: (1.15)، وبالنسبة لدورية "حوكمة" (17) للمتن ز(15) للهوامش و(18) غامق
                            للعناوين الرئيسية و(18) غامق للعنوانين الفرعية.</li>
                    </ol>
                </li>
                <li>توثيق المراجع في متن النص بأسلوب الترقيم ...(1)، وذكر بيانات المرجع ورقم الصفحة في هامش الورقة
                    السفلي، والتقيد بمواصفات التوثيق وفقًا لنوع المرجع، وذلك على النحو الآتي:
                    <ul>
                        <li><span>توثيق الكتب: </span>اللقب أو الاسم الأخير، الاسم الأول للمؤلف: <span>عنوان
                                الكتاب</span> ، اسم المترجم أو المحرّر (في حال كان الكتاب مترجما أو له محررًا)، الطبعة،
                            الناشر، مكان النشر، تاريخ النشر، رقم الصّفحة.. مثال:
                            <ul>
                                <li>كروزي، رولاند. أندريه فيتوريا. جي غلتز: مكافحة الفساد عبر التاريخ- من العصور
                                    القديمة إلى العصر الحديث (الجزء2)، ترجمة: إيهاب عبدالرحيم، سلسلة عالم المعرفة 491،
                                    المجلس الوطني للثّقافة والفنون والآداب، الكويت، ط1، 2022، ص 157.</li>
                                <li>يُستشهد بالكتاب في الهامش اللاحق الموالي مباشرةً على النّحو التالي: المرجع نفسه، ص
                                    118.</li>
                                <li>ويُستشهد بالكتاب في الهامش اللاحق غير الموالي مباشرةً على النّحو التالي مثلًا:
                                    كروزي، ص117.</li>
                                <li>أما إن وُجد أكثر من مرجع واحد للمؤلّف نفسه، ففي هذه الحالة يجري استخدام العنوان
                                    مختصرًا: كروزي، مكافحة الفساد، ص117.</li>
                                <li>الكتاب الذي اشترك في تأليفه أكثر من ثلاثة مؤلفين، يُكتب اسم المؤلف الرئيس أو
                                    المحرر أو المشرف على تجميع المادة مع عبارة "وآخرون". مثال:</li>
                                <li>البراج، إلياس. وآخرون: الإعلام العربي ورهانات التغيِير في ظل التحولات، تحرير: نهوند
                                    القادري، مركز دراسات الوحدة العربية، ط1، بيروت، 1720، ص13.</li>
                                <li>ويُستشهد به في الهامش اللاحق كما يلي: البراج وآخرون، ص109.</li>
                            </ul>
                        </li>
                        <li><span>توثيق الدوريات: </span>اللقب أو الاسم الأخير، الاسم الأول للمؤلف: عنوان الدّراسة أو
                            المقالة العلمية، اسم الدورية/ المجلّة، اسم المؤسسة (إن وجد)، رقم المجلد (إن وجد)، رقم العدد،
                            المدينة، سنة النّشر، رقم الصّفحة. مثال:
                            <ul>
                                <li>- عبد المنعم، علاء: أبحاث الإدارة العامة وعلاقتها بالسياسات العامة في الوطن العربي-
                                    رؤية نقدية، مجلة سياسات عربية، المركز العربي للأبحاث ودراسة السياسات، العدد 42،
                                    بيروت، 2020، ص9.</li>
                            </ul>
                        </li>
                        <li><span>توثيق مقالات الصحف/الجرائد: </span>تكتب في الهوامش فقط دون ذكرها في قائمة المراجع كما
                            في المثال التالي:
                            <ul>
                                <li>بلاك، إيان، "الأسد يحثّ الولايات المتحدة لإعادة فتح الطّرق الدبلوماسية مع دمشق"،
                                    الغارديان، 17/2/2009.</li>
                            </ul>
                        </li>
                        <li><span>توثيق المنشورات الإلكترونية: </span>عند الاقتباس من مواد منشورة في مواقع إلكترونية،
                            يتعين أن تذكر البيانات جميعها، ووفق الترتيب والعبارات التالية نفسها:
                            <ul>
                                <li>
                                    اسم الكاتب إن وجد، "عنوان المقال أو التقرير"، اسم السلسلة (إن وُجد)، اسم الموقع
                                    الإلكتروني، تاريخ النشر (إن وُجد)، شوهد في 9/8/2016، متاح على الرابط:
                                    http://www...... ويتعين اختصار الروابط بالاعتماد على مُختصِر الروابط (Bitly) أو
                                    (Google Shortner). مثال:
                                    <ul>
                                        <li>"ارتفاع عجز الموازنة المصرية إلى 4.5%"، الجزيرة نت، 24/12/2012، شوهد في
                                            25/12/2012، متاح على الرابط: http://bit.ly/2bAw2OB</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
    
                    </ul>
                </li>
                <li><span>عدد كلمات الأبحاث والدراسات: </span>يتراوح عدد كلمات البحث، بما في ذلك المراجع في الإحالات
                    المرجعية والهوامش الإيضاحية وقائمة المراجع والملاحق في حال وجودها، بين 6000 و8000 كلمة. وبالإمكان
                    موافقة قسم الأبحاث أو هيئات التحرير، وبصورة استثنائية، على بعض الأبحاث والدراسات التي تتجاوز هذا
                    العدد من الكلمات أو تقلّ عنها.</li>
                <li><span>لغة الأبحاث والدراسات: </span>ترسل الأبحاث باللغة العربيّة، كما يمكن إرسالها باللغة
                    الإنكليزيّة، وتجري ترجمتها في هذه الحالة بعد الموافقة عليها.</li>
                <li><span>التحكيم العلمي: </span>تخضع الخطط/ المقترحات البحثية المرسلة إلى المركز، للتّقييم والقراءة
                    الأكاديميّة. وترسل الملاحظات المقترحة (للباحث/ الكاتب) لتعديلها كما تخضع الدراسات والبحوث والكتب
                    للتّقييم والقراءة الأكاديميّة أيضًا، وفي حال الموافقة، يجري الكاتب التّعديلات المقترحة قبل تسليم
                    المادّة للتّحرير النّهائي.</li>
                <li><span>الكتب والرسائل الجامعية: </span>يستقبل المركز مسودات الكتب ورسائل الدكتوراه المحرّرة المعدّة
                    للنّشر. وتخضع للتّقييم والقراءة الأكاديميّة من طرف لجنة علمية مختصة. وفي حال الموافقة على نشرها
                    تُرسل الملاحظات المقترحة إلى الكاتب ليُجري التعديلات المقترحة قبل تسليم المادّة للتحرير النّهائي.
                    تُرسل مسودات الكتب والرسائل الجامعية إلى العنوان: <a
                        href="mailto:scresearchyemen@gmail.com">(scresearchyemen@gmail.com)</a></li>
    
            </ul>
        </div>
    </div>
</div>
{% endblock %}