{% extends 'base.html' %}
{% block title %}| معايير النشر{% endblock %}

{% block content %}
<div class="container">
    <div class="cretiria">
        <h1>أخلاقيات ومعايير النشر في مجلة (أسس)</h1>
        <p style="font-weight: bold;"><span style="color: red;">تنويه:</span> لا تعبّر بالضرورة المواد والدراسات والأبحاث المنشورة في الموقع عن موقف أو رأي المركز تجاه القضايا أو المواضيع التي تتناولها.</p>
        <div class="one">
            <h3> المعايير والشروط الموضوعية</h3>
            <h4>مسؤولية الباحث</h4>
            <ol class="first">
                <li>أن يكون البحث أصيلًا، وأ لّا يكون قد نشر جزئيًا أو كليًا في أيّ وسيلة نشر إلكترونية أو ورقية، أو
                    قدّم في أحد المؤتمرات أو الندوات العلمية، ولم يُقدم لمجلة أخرى في الوقت نفسه.</li>
                <li>كتابة الدراسة بلغة علمية أكاديمية مرموقة خالية من الحشو والعبارات الإنشائية، ولتكون أقسام
                    البحث كافة منسجمة مع العنوان العام بشكل دقيق، ذلك مع الالتزام الكامل بالمعايير الشكلية
                    المذكورة في هذا الدليل.</li>
                <li>تحديد الإشكالية المركزية للبحث أو الدراسة بشكل دقيق، والحرص على أن تسعى العناوين
                    والفقرات التالية للمستند، وآلية السرد فيها، لمعالجة تلك الإشكالية. مع مراعاة أن يعتمد الباحث
                    على التحليل أكثر من الوصف المجرّد، وأن تنعكس شخصيته آراؤه في ثنايا البحث بتجرد
                    وموضوعية بما يخدم هذا الهدف.
                </li>
                <li>تحديد المنهج البحثي المستخدم ومبررات استخدامه، وكيف يكون توظيفه في خدمة موضوع
                    البحث العام.</li>
                <li>الإشارة بشكل دقيق إلى المراجع والمصادر التي اقتبست منها الأبحاث وفقا للمعايير المذكورة في
                    هذا الدليل، كما يراعى الباحث حداثة تلك المصادر، وفي حالة المصادر الإلكترونية يراعى الباحث
                    أن يستمد معلوماته من مواقع متخصصة ومرموقة وتمت بالصلة لموضوع البحث أو الدراسة،
                    والفحص الدوري لتلك الروابط لاختبار صلاحيتها.</li>
                <li>
                    في حال اكتشاف الباحث لأي أخطاء جوهرية بعد نشر البحث، يجب إبلاغ المجلة فورًا لإصدار
                    تصحيح رسمي أو سحب البحث إذا لزم الأمر.
                </li>
                <li>
                    عند استخدام بيانات شخصية أو إجراء تجارب تشمل مشاركين بشريين، يجب الحصول على
                    الموافقات الأخلاقية اللازمة من الجهات المختصة، بما يضمن الحفاظ على خصوصية المشاركين
                    في الدراسة، كما لا يجوز نشر معلومات حساسة دون إذن رسمي.
                </li>
            </ol>
            <h4>مسؤولية المركز</h4>
            <ol>
                <li>تتحمل هيئة التحرير في المركز التأسيسي للدراسات والبحوث المسؤولية النهائية في جميع
                    عمليات التقديم للنشر، ويستند قرار نشر البحث أو رفضه إلى التقارير العلمية المقدمة من
                    المحكمين، التي تأخذ بعين الحسبان أصالة البحث، وقيمته العلمية، ومدى ارتباطه بتخصص
                    المجلة، كما أن نجاح الباحث يكمن في تعديل البحث بموجب ملاحظات التحكيم، أو تقديم
                    مبررات علمية واضحة ومقنعة لعدم قيامه بذلك، كما تستقبل الهيئة مسودات الكتب أطروحات
                    الدكتوراه المحرّرة المعدّة للنّشر يكون معاملتها بنفس الطريقة.</li>
                <li>تتعامل هيئة التحرير مع جميع البحوث الواردة وفقًا للمعايير المعتمدة والمعلنة، مع الالتزام
                    بالمساواة والعدل، دون أي تمييز على أساس الجنس، الجنسية، الخلفية الفكرية، الدرجة العلمية أو
                    أي سبب آخر، كما يحق لهيئة التحرير الاعتذار عن قبول البحث مبدئيًّا في حالتين: إذا كان موضوع
                    البحث غير منسجم مع توجهات المجلة، أو إذا افتقر للمعايير المنهجية والعلمية المطلوبة، أو
                    للمعايير الشكلية المنصوص عليها في هذا الدليل، وهو ما يستوجب رفضه وعدم إحالته للتحكيم،
                    وفي كل الحالات يتوجب إعلام الباحث بسبب رفض البحث في رسالة مستقلة، كما تلتزم المجلة
                    بسحب أي بحث تُكتشف فيه مخالفات علمية مع نشر توضيح للأسباب.
                </li>
                <li>
                    يقع على المحررين مسؤولية الحفاظ على سرية المعلومات الواردة في عملية التحكيم، والتأكد
                    من أن جميع الأبحاث المقدمة للتحكيم تتماشى مع أخلاقيات النشر العلمي. كما تلتزم المجلة
                    بحفظ أي مستندات ذات صلة بشكاوى المؤلفين والتعامل معها بجدية وشفافية وفقًا لمعايير
                    النشر الأخلاقي.
                </li>
            </ol>
            <p style="font-weight: bold;">ويشير المركز إلى الآتي:</p>
            <ol>
                <li>يحتفظ المركز التأسيسي للبحوث والدراسات بحقوق الملكية الفكرية للدراسات المنشورة في
                    مجلة أسس، ولا يجوز إعادة نشرها جزئيًا أو كليًا، سواء باللغة العربية أم ترجمتها إلى لغات أجنبية،
                    من دون إذنٍ خطي صريح من المركز.
                </li>
                <li>
                    تلتزم مجلة أسس بمجانية النشر، وتُعفي الباحثين والمؤلفين من جميع رسوم النشر، كما أنها لا
                    تقدم مكافآت مالية للباحثين مقابل نشر دراساتهم.
                </li>
            </ol>
            <h3> المتطلبات والمعايير الشكلية</h3>
            <ol class="two">
                <li>أن يكون البحث المقدم إلى المجلة أصيلًا، ومعدًا خصيصًا للنشر فيها، ولم يسبق نشره
                جزئيًا أو كليًا في أي وسيلة نشر ورقية أو إلكترونية.</li>
                <li>إرسال البحث عبر البريد الإلكتروني.
                    <br><a href="mailto:scresearchyemen@gmail.com">scresearchyemen@gmail.com</a><br>
                    ويرفق به سيرة ذاتية  (C.V) للباحث.
                </li>
                <li>أن يشتمل البحث على العناصر الآتية:
                    <ul>
                        <li>عنوان البحث، اسم الباحث وصفته العلمية باللغتين العربية والإنجليزية.</li>
                        <li>ملخص تنفيذي في حدود 100 كلمة باللغتين العربية والإنجليزية، يليه (7-6) كلمات مفتاحية بالعربية والإنجليزية.</li>
                        <li>الإطار النظري للدراسة يشمل الآتي:
                            <ul>
                                <li>مقدمة.</li>
                                <li>مشكلة الدراسة.</li>
                                <li>فرضيات الدراسة.</li>
                                <li>منهجية الدراسة.</li>
                                <li>مصطلحات الدراسة وتعريفاتها.</li>
                                <li>الخلفية والدراسات السابقة.</li>
                            </ul>
                        </li>
                        <li>النتائج المستخلصة والتوصيات في نهاية البحث.</li>
                    </ul>
                </li>
                <li>أن يتراوح عدد كلمات البحث، شاملاً الجداول والمراجع والهوامش الإيضاحية والملاحق،
                            بين (12000-6000) كلمة كحد أقصى، وللمجلة أن تنشر بحسب تقديراتها، بصورة
                            استثنائية، بعض الأبحاث والدراسات التي تتجاوز هذا الحد.</li>
                <li>أن يتقيّد البحث بمواصفات التوثيق وفقا لنظام الإحالات المرجعية الذي يعتمده المركز.</li>
                <li>في حال استخدام الباحث مقتطفات من رسائل جامعية سبق إقرارها، يجب الإشارة إلى
                    ذلك بوضوح، مع تقديم بيانات وافية عن عنوان الأطروحة، تاريخ مناقشتها، والمؤسسة
                    التي جرت فيها المناقشة.</li>
                <li>ترحب المجلة بالمراجعات النقدية للكتب المنشورة، بحدود لا تتجاوز (2000-2500
                    كلمة) ويجب أن تشمل المراجعة المعلومات الآتية: اسم الكتاب، عنوانه، اسم المؤلف،
                    مكان النشر، تاريخ النشر، عدد الصفحات، مع تقديم عرض وصفي لمحتوى الكتاب، ونقد
                    علمي مدعوم بالبراهين. ويُطلب من المراجع إرسال صورة لغلاف الكتاب الأصلي مع
                    المراجعة.</li>
                <li>في حال وجود جداول، مخططات، أشكال، معادلات، أو رسوم بيانية، يجب إرسالها وفق
                    الطريقة الأصلية التي استُخدمت بها في برامج Excel أو Word كما يجب إرفاقها صورًا
                    ذات جودة عالية في ملف مستقل.
                </li>
                <li>
                    ضمان وضوح الإحالات المرجعية للمخططات والجداول والرسوم، وكتابة جميع التعليقات والشروحات باللغة العربية.
                </li>
            </ol>
        </div>

        <h1>معايير كتابة المصادر والمراجع</h1>
        <div class="one">
            <h3>السياسات العامة</h3>  
                <ul>
                    <li>في نهاية البحث أو الدراسة، يجب أن يشمل المستند قسم (المراجع)، وفيه تُدرج قائمة كاملة
                        لكل المصادر التي اقتبست منها الدراسة دون ترقيم، بعد تصنيفها كالآتي: (مراجع باللغة
                        العربية – مراجع اللغة الإنجليزية – المراجع الإلكترونية).</li>
                    <li>تكون الإشارة لكل مرجع أو هامش أو إحالة أسفل كل صفحة عن طريق استخدام خاصية
                        تنسيق الحواشي السفلية (footnote).</li>
                    <li>عند الإحالة إلى مصدر للمرة الأولى، تُدرج المعلومات الكاملة المتعلقة بذلك المصدر وفق
                        السياسات التفصيلية الواردة أدناه.</li>
                    <li>عند تكرار المصدر مباشرة توضع العبارة الآتية: «المرجع السابق»، أما الكتب الأجنبية فتوضع
                        عبارة «Ibid» مع ذكر رقم الصفحة.</li>
                    <li>عند تكرار المصدر، بعد ورود مصادر أخرى، يُذكر الاسم العائلي للمؤلف (دون الاسم الأول)
                        متبوعاً بعنوان المصدر بصيغة مختصرة (دون العنوان الفرعي)، ورقم الصفحة. <br><span>
                        مثال: كروزي. رونالد، أندريه فيتوريا، جي. غيلتنر: مكافحة الفساد عبر التاريخ - من العصور
                        القديمة إلى العصر الحديث (الجزء 2)، ترجمة: إيهاب عبد الرحيم، سلسلة عالم المعرفة 491،
                        المجلس الوطني للثّّقافة والفنون والآداب، الكويت، ط 1، 2022 م، ص 157 . وتكتب كالآتي:
                        كروزي، فيتوريا، غيلتنر: مكافحة الفساد، ص 157 .</span>
                    </li>
                    <li>في حال عدم معرفة الناشر يُكتب (د.ن) وتعني دون ناشر، وفي حال عدم معرفة تاريخ النشر
                        يُكتب (د.ت) وتعني دون تاريخ.</li>
                </ul>
            
            <h3>السياسات التفصيلية</h3>
                <ol>
                    <li>الكتب
                        <ul>
                            <li>اللقب أو الاسم الأخير، الاسم الأول للمؤلف: عنوان الكتاب، اسم المترجم أو المحرّر (في حال
                                كان الكتاب مترجما أو له محررًا)، الطبعة، الناشر، مكان النشر، تاريخ النشر، رقم الصّفحة، مثال: <br>
                                عبد الله فيصل علام، العلاقات المدنية - العسكرية والتحول الديمقراطي في مصر: يوليو/تموز
                                - 1952 م يوليو/تموز 2013 م، ط 1(بيروت، الدار العربية للعلوم ناشرون، 2018 م)، ص 5.
                            </li>
                            <li>
                                إذا كان الاقتباس يشمل أكثر من صفحة، يُكتب الهامش كالآتي: <br>
                                صالح النعامي، العلاقات المصرية - الإسرائيلية بعد ثورة 25 يناير، ط 1(بيروت، الدار العربية
                                للعلوم ناشرون، 2017 م)، ص 5- 7. 
                                <br><span class="refe-instic">
                                    George Graham, Philosophy of Mind: An Introduction, 2nd ed. (Malden, MA:
                                    Blackwell,1998), 87.
                                </span>
                            </li>
                            <li>
                                إذا لم توجد إشارة للطبعة، تُوَثَّق بيانات الكتاب كالآتي: <br>
                                محمد السعيد إدريس، النظام الإقليمي للخليج العربي، (بيروت، مركز دراسات الوحدة
                                العربية، 2000 م)، ص 24 .
                                <br><span class="refe-instic">
                                    Wendy Doniger, Splitting the Difference: Gender and Myth in Ancient Greece
                                    and India (Chicago: University of Chicago Press, 1999), 23.
                                </span>
                            </li>
                            <li>الكتاب الذي اشترك في تأليفه أكثر من ثلاثة مؤلفين، يُكتب اسم المؤلف الرئيس أو المحرر أو
                                المشرف على تجميع المادة مع عبارة «وآخرون ». مثال: <br>
                                البراج، إلياس. وآخرون: الإعلام العربي ورهانات التغيِير في ظل التحولات، تحرير: نهوند
                                القادري، مركز دراسات الوحدة العربية، ط 1، بيروت، 1720 ، ص 13 . <br>
                                وعند تكرار المصدر، بعد ورود مصادر أخرى، يكتب كالأتي: <br>
                                البراج وآخرون، الإعلام العربي، ص 109 .
                            </li>
                        </ul>
                    </li>
                    <li>الدوريات والأبحاث
                        <ul>
                            <li>اللقب أو الاسم الأخير، الاسم الأول للمؤلف: عنوان الدّراسة أو المقالة العلمية، اسم الدورية/
                                المجلّة، اسم المؤسسة (إن وجد)، رقم المجلد (إن وجد)، رقم العدد، المدينة، سنة النّشر، رقم
                                الصّفحة. مثال: <br>
                                عبد المنعم، علاء: أبحاث الإدارة العامة وعلاقتها بالسياسات العامة في الوطن العربي - رؤية
                                نقدية، مجلة سياسات عربية، المركز العربي للأبحاث ودراسة السياسات، العدد 42 ، بيروت،
                                2020 م، ص 9.
                            </li>
                        </ul>
                    </li>
                    <li>الصفحات الإلكترونية
                        <ul>
                            <li>اسم الكاتب إن وجد، أو استبداله بعنوان المقال، التقرير...، ثم اسم السلسلة (إن وُجد)، يليه
                                اسم الموقع الإلكتروني وتاريخ النشر (تاريخ التسجيل، الدخول ....)، الرابط.</li>
                        </ul>
                    </li>
                    <li>المقالات الصحفية
                        <ul>
                            <li>تُضاف في الهوامش فقط، دون ذكرها في قائمة المراجع، وتكتب كالآتي: <br>
                                بلاك، إيان، «الأسد يحثّ الولايات المتحدة لإعادة فتح الطّرق الدبلوماسية مع دمشق»،
                                الغارديان، 2009/2/17م.
                            </li>
                        </ul>
                    </li>
                </ol>
        </div>
    </div>
</div>
{% endblock %}